Repository carbon-design-system/carbon-for-ibm-dotcom, pull requests merged in 2019-09, with the labels that each got.

#95 fix(react): exports DotcomShell
  packages/react/src/components/index.js
Labels: package: react

#78 feat(leadspace): leadspace component alpha version
  .yarn/offline-mirror/@carbon-grid-10.5.0.tgz
  .yarn/offline-mirror/@carbon-grid-10.6.0.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-services-0.4.0.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-styles-0.4.0.tgz
  .yarn/offline-mirror/@carbon-layout-10.5.0.tgz
  .yarn/offline-mirror/carbon-components-10.6.2.tgz
  packages/patterns-react/.env.example
  packages/patterns-react/package.json
  packages/patterns-react/src/internal/FeatureFlags.js
  packages/patterns-react/src/patterns/LeadSpace/LeadSpace.js
  packages/patterns-react/src/patterns/LeadSpace/README.md
  packages/patterns-react/src/patterns/LeadSpace/__stories__/LeadSpace.stories.js
  packages/patterns-react/src/patterns/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/package.json
  packages/react/src/components/HorizontalRule/__stories__/HorizontalRule.stories.js
  packages/styles/package.json
  packages/styles/scss/components/masthead/_masthead-l1.scss
  packages/styles/scss/components/masthead/_masthead.scss
  packages/styles/scss/globals/_imports.scss
  packages/styles/scss/patterns/leadspace/README.md
  packages/styles/scss/patterns/leadspace/_leadspace.scss
  packages/styles/scss/patterns/leadspace/index.scss
  yarn.lock
Labels: enhancement, package: patterns

#97 feat(dotcomshell): adds footer type select; adds readme
  packages/react/src/components/DotcomShell/DotcomShell.js
  packages/react/src/components/DotcomShell/README.md
  packages/react/src/components/DotcomShell/__stories__/DotcomShell.stories.js
  packages/react/src/components/DotcomShell/__stories__/data/content.js
  packages/react/src/components/Icon/IbmLogo.js
  packages/react/src/components/Masthead/Masthead.js
  packages/react/src/components/Masthead/MastheadTopNav.js
  packages/react/src/components/Masthead/README.md
  packages/react/src/components/Masthead/__stories__/Masthead.stories.js
  packages/react/src/components/__tests__/__snapshots__/storyshots.test.js.snap
  packages/styles/scss/components/dotcom-shell/_dotcom-shell.scss
  packages/styles/scss/components/masthead/_masthead-l1.scss
  packages/styles/scss/components/masthead/_masthead-leftnav.scss
  packages/styles/scss/components/masthead/_masthead-search.scss
  packages/styles/scss/components/masthead/_masthead.scss
  packages/styles/scss/components/masthead/index.scss
Labels: documentation, package: react
