Repository carbon-design-system/carbon-for-ibm-dotcom, pull requests merged in 2020-07, with the labels that each got.

#2974 fix(ContentItemHorizontal): updated storybook with design specs
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/ContentItemHorizontal/__stories__/ContentItemHorizontal.stories.js
Labels: package: react

#2963 fix(CallOutQuote): added copy2 knob in story panel
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/patterns/blocks/CalloutQuote/__stories__/CalloutQuote.stories.js
Labels: package: react

#2980 feat(LinkWithIcon): add option for icon on left
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/CTA/CTA.js
  packages/react/src/components/CTA/CTALogic.js
  packages/react/src/components/CTA/TextCTA.js
  packages/react/src/components/CTA/__stories__/CTA.stories.js
  packages/react/src/components/LinkList/LinkList.js
  packages/react/src/components/LinkList/__stories__/LinkList.stories.js
  packages/react/src/components/LinkWithIcon/LinkWithIcon.js
  packages/react/src/components/LinkWithIcon/__stories__/LinkWithIcon.stories.js
  packages/react/src/patterns/blocks/ContentGroupHorizontal/__stories__/data/items.json
  packages/styles/scss/components/content-item-horizontal/_content-item-horizontal.scss
  packages/styles/scss/components/link-list/_link-list.scss
  packages/styles/scss/components/link-with-icon/_link-with-icon.scss
Labels: package: react

#2939 fix(ButtonGroup): added sameHeight feature - Leadspace issue related
  packages/react/src/components/ButtonGroup/ButtonGroup.js
Labels: package: react

#2924 fix(ContentBlockCards): grid fix
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/patterns/blocks/ContentBlockCards/__stories__/ContentBlockCards.stories.js
Labels: package: react

#2986 fix(ContentItem): grid spacing fixes
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/DotcomShell/__stories__/data/content.js
  packages/react/src/patterns/blocks/ContentGroupHorizontal/__stories__/data/items.json
  packages/react/src/patterns/sections/CTASection/__stories__/CTASection.stories.js
  packages/styles/scss/components/content-item-horizontal/_content-item-horizontal.scss
  packages/styles/scss/patterns/sections/ctasection/_ctasection.scss
Labels: package: react

#2991 fix(ButtonGroup): put React key in the right place
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/ButtonGroup/ButtonGroup.js
Labels: package: react

#2982 fix(ContentBlockSegmented): removing spacing
  packages/styles/scss/patterns/blocks/content-block-segmented/_content-block-segmented.scss
Labels: package: react

#2978 fix(ButtonGroup): removed row-reverse styling
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/ButtonGroup/ButtonGroup.js
  packages/react/src/components/ButtonGroup/README.stories.mdx
  packages/styles/scss/components/buttongroup/_buttongroup.scss
Labels: package: react

#2999 fix(contentblockmixed): style path fix
  packages/styles/scss/patterns/blocks/content-block-mixed/index.scss
Labels: package: styles

#2972 fix(expressive): ui-shell expressive container sizing
  packages/styles/scss/themes/expressive/components/_ui-shell.scss
  packages/styles/scss/themes/expressive/index.scss
Labels: package: styles

#3003 chore(docs): update content block cards readme with style import
  packages/react/src/patterns/blocks/ContentBlockCards/README.stories.mdx
Labels: automerge

#3019 chore(automerge): adding automerge GH action
  .github/workflows/automerge-pr.yml
Labels: automerge

#2990 chore(dotcomshell): fix prop type warnings in story
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/CTA/ButtonCTA.js
  packages/react/src/components/ContentItemHorizontal/ContentItemHorizontal.js
  packages/react/src/components/DotcomShell/__stories__/data/content.js
  packages/react/src/components/LinkList/LinkList.js
  packages/react/src/patterns/blocks/ContentBlockSegmented/ContentBlockSegmented.js
  packages/react/src/patterns/blocks/ContentGroupHorizontal/ContentGroupHorizontal.js
  packages/react/src/patterns/blocks/LeadSpaceBlock/LeadSpaceBlock.js
Labels: automerge, package: react

#3020 chore(automerge): tweak to automerge configuration
  .github/workflows/automerge-pr.yml
Labels: automerge

#3013 fix(CalloutData): hide it from Storybook
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/patterns/blocks/CalloutData/__stories__/CalloutData.stories.js
Labels: automerge, feature flag, package: react

#3021 chore(automerge): removing automerge github action
  .github/workflows/automerge-pr.yml
Labels: Ready to merge

#3014 fix(ContentItemHorizontal): missing css import
  packages/styles/scss/components/content-item-horizontal/_content-item-horizontal.scss
Labels: Ready to merge

#2995 fix(LocaleModal): region card focus state
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/LocaleModal/LocaleModal.js
  packages/react/src/components/LocaleModal/LocaleModalCountries.js
  packages/react/src/components/LocaleModal/LocaleModalRegions.js
  packages/styles/scss/components/locale-modal/_locale-modal.scss
Labels: Ready to merge, package: react

#3023 fix(LogoGrid): removed Carbon Themes addon
  packages/react/src/patterns/blocks/LogoGrid/README.stories.mdx
  packages/react/src/patterns/blocks/LogoGrid/__stories__/LogoGrid.stories.js
Labels: Ready to merge, package: react

#2997 fix(LeadspaceBlock): update mobile spacing
  packages/styles/scss/patterns/blocks/leadspace-block/_leadspace-block.scss
Labels: Ready to merge, package: react

#2993 chore(LinkList): update storybook grid
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/LinkList/__stories__/LinkList.stories.js
Labels: Ready to merge, package: react

#2992 fix(CTASection): add buttongroup for cta
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/patterns/sections/CTASection/CTASection.js
  packages/react/src/patterns/sections/CTASection/__stories__/CTASection.stories.js
  packages/styles/scss/patterns/sections/ctasection/_ctasection.scss
Labels: Ready to merge, package: react

#3034 style(CalloutData): fixing pattern paddings
  packages/styles/scss/patterns/blocks/callout-data/_callout-data.scss
Labels: feature flag, package: react

#3028 fix(CalloutData): moving all knobs to same tab
  packages/react/src/patterns/blocks/CalloutData/__stories__/CalloutData.stories.js
Labels: feature flag, package: react

#3025 style(CalloutData): fixed source text width
  packages/styles/scss/patterns/blocks/callout-data/_callout-data.scss
Labels: Ready to merge, feature flag, package: react

#3004 chore(TableOfContents): increased test coverage
  packages/react/src/components/TableOfContents/__tests__/TableOfContents.test.js
Labels: Ready to merge

#3022 fix(CallOutWithMedia): media spacing adjustments
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/patterns/blocks/CalloutWithMedia/CalloutWithMedia.js
  packages/react/src/patterns/blocks/ContentBlockSimple/ContentBlockSimple.js
  packages/styles/scss/components/quote/_quote.scss
  packages/styles/scss/patterns/blocks/callout-with-media/_callout-with-media.scss
Labels: Ready to merge, package: react

#3024 feat(expresive-modal): introduce Web Components
  packages/styles/scss/themes/expressive/_tokens.scss
  packages/styles/scss/themes/expressive/components/_button.scss
  packages/web-components/src/components/button/__stories__/README.stories.mdx
  packages/web-components/src/components/button/__stories__/button.stories.ts
  packages/web-components/src/components/button/button.scss
  packages/web-components/src/components/button/button.ts
  packages/web-components/src/components/modal/__stories__/README.stories.mdx
  packages/web-components/src/components/modal/__stories__/modal.stories.ts
  packages/web-components/src/components/modal/__tests__/modal.test.ts
  packages/web-components/src/components/modal/modal-body.ts
  packages/web-components/src/components/modal/modal-close-button.ts
  packages/web-components/src/components/modal/modal-footer.ts
  packages/web-components/src/components/modal/modal-header.ts
  packages/web-components/src/components/modal/modal-heading.ts
  packages/web-components/src/components/modal/modal.scss
  packages/web-components/src/components/modal/modal.ts
  packages/web-components/tests/snapshots/dds-modal.md
Labels: Ready to merge, package: styles, package: web components

#3031 fix(LeadSpace): lower z-index of overlay to prevent clash with masthead
  packages/styles/scss/patterns/sections/leadspace/_leadspace.scss
Labels: Ready to merge, package: react

#3055 chore(support): updating fireline support team for sprint 14
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
Labels: Ready to merge

#3040 feat(ContentBlockHeadlines): add ContentBlockHeadlines pattern
  packages/react/src/internal/FeatureFlags.js
  packages/react/src/patterns/blocks/ContentBlockHeadlines/ContentBlockHeadlines.js
  packages/react/src/patterns/blocks/ContentBlockHeadlines/README.stories.mdx
  packages/react/src/patterns/blocks/ContentBlockHeadlines/__stories__/ContentBlockHeadlines.stories.js
  packages/react/src/patterns/blocks/ContentBlockHeadlines/__stories__/data/items.json
  packages/react/src/patterns/blocks/ContentBlockHeadlines/index.js
  packages/react/src/patterns/blocks/index.js
  packages/styles/scss/ibm-dotcom-styles.scss
  packages/styles/scss/patterns/blocks/content-block-headlines/_content-block-headlines.scss
  packages/styles/scss/patterns/blocks/content-block-headlines/index.scss
Labels: feature flag, package: react

#3049 chore(percy): adding percy automated visual regression to web-components
  packages/web-components/.gitignore
  packages/web-components/package.json
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
Labels: Ready to merge, package: web components

#3041 chore(masthead): support data-autoid
  packages/web-components/README.md
  packages/web-components/src/components/masthead/__stories__/README.stories.mdx
  packages/web-components/src/components/masthead/left-nav-item.ts
  packages/web-components/src/components/masthead/left-nav-menu-item.ts
  packages/web-components/src/components/masthead/left-nav.ts
  packages/web-components/src/components/masthead/masthead-container.ts
  packages/web-components/src/components/masthead/masthead-menu-button.ts
  packages/web-components/src/components/masthead/masthead.ts
  packages/web-components/src/components/masthead/top-nav-item.ts
  packages/web-components/src/components/masthead/top-nav-menu-item.ts
  packages/web-components/src/components/masthead/top-nav-name.ts
  packages/web-components/src/components/masthead/top-nav.ts
  packages/web-components/src/globals/mixins/stable-selector.ts
  packages/web-components/src/typings/constructor.d.ts
  packages/web-components/tests/snapshots/dds-masthead-container.md
Labels: Ready to merge, package: web components

#3042 test(a11y): support multiple matrix of parameters
  packages/react/.storybook/config.js
  packages/react/package.json
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/ButtonGroup/__stories__/ButtonGroup.stories.js
  packages/react/src/components/CardGroup/__stories__/CardGroup.stories.js
  packages/react/src/components/ContentItemHorizontal/__stories__/ContentItemHorizontal.stories.js
  packages/react/src/components/FeatureCard/__stories__/FeatureCard.stories.js
  packages/react/src/components/LightboxMediaViewer/__stories__/LightboxMediaViewer.stories.js
  packages/react/src/components/LinkList/__stories__/LinkList.stories.js
  packages/react/src/components/PictogramItem/__stories__/PictogramItem.stories.js
  packages/react/src/patterns/blocks/ContentBlockCards/__stories__/ContentBlockCards.stories.js
  packages/react/src/patterns/blocks/ContentBlockMedia/__stories__/ContentBlockMedia.stories.js
  packages/react/src/patterns/blocks/ContentBlockMixed/__stories__/ContentBlockMixed.stories.js
  packages/react/src/patterns/blocks/ContentBlockSegmented/__stories__/ContentBlockSegmented.stories.js
  packages/react/src/patterns/blocks/ContentGroupHorizontal/__stories__/ContentGroupHorizontal.stories.js
  packages/react/src/patterns/blocks/ContentGroupPictograms/__stories__/ContentGroupPictograms.stories.js
  packages/react/src/patterns/blocks/ContentGroupSimple/__stories__/ContentGroupSimple.stories.js
  packages/react/src/patterns/blocks/FeatureCardBlockLarge/__stories__/FeatureCardBlockLarge.stories.js
  packages/react/src/patterns/blocks/FeatureCardBlockMedium/__stories__/FeatureCardBlockMedium.stories.js
  packages/react/src/patterns/blocks/LeadSpaceBlock/__stories__/LeadSpaceBlock.stories.js
  packages/react/src/patterns/blocks/LogoGrid/__stories__/LogoGrid.stories.js
  packages/react/src/patterns/sections/CTASection/__stories__/CTASection.stories.js
  packages/react/src/patterns/sections/CardSectionImages/__stories__/CardSectionImages.stories.js
  packages/react/src/patterns/sections/CardSectionSimple/__stories__/CardSectionSimple.stories.js
  packages/react/tests/a11y/karma-test-shim.js
Labels: Ready to merge, package: react

#3048 fix(CardSectionSimple): remove filter for card eyebrow
  packages/react/src/patterns/sections/CardSectionSimple/CardSectionSimple.js
Labels: Ready to merge, package: react

#3058 fix(ContentBlockCards): added the missing style import for CardGroup
  packages/styles/scss/patterns/blocks/content-block-cards/_content-block-cards.scss
Labels: Ready to merge, package: react

#3061 fix(footer): divide legal nav to chunks
  packages/vanilla/src/components/footer/footer.template.js
Labels: package: vanilla

#3066 docs(developers): fix broken link
  packages/web-components/docs/developer.md
Labels: Ready to merge

#3053 feat(MastheadL1): component enabled for dynamic data
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/Masthead/Masthead.js
  packages/react/src/components/Masthead/MastheadL1.js
  packages/react/src/components/Masthead/README.stories.mdx
  packages/react/src/components/Masthead/__stories__/Masthead.stories.js
Labels: Ready to merge, feature flag, package: react

#3091 fix(MastheadL1): increased max-width, eyebrow validation and new prop
  packages/react/src/components/Masthead/Masthead.js
  packages/react/src/components/Masthead/MastheadL1.js
  packages/react/src/components/Masthead/__stories__/Masthead.stories.js
  packages/styles/scss/components/masthead/_masthead-l1.scss
Labels: Ready to merge, feature flag, package: react

#3094 fix(footer): change color for visited and hover state
  packages/styles/scss/components/footer/_footer.scss
Labels: Ready to merge, package: react, package: vanilla

#3065 chore(examples): add codesandbox pattern examples
  packages/react/examples/codesandbox/patterns/blocks/CalloutQuote/index.html
  packages/react/examples/codesandbox/patterns/blocks/CalloutQuote/package.json
  packages/react/examples/codesandbox/patterns/blocks/CalloutQuote/src/index.js
  packages/react/examples/codesandbox/patterns/blocks/CalloutQuote/src/styles.scss
  packages/react/examples/codesandbox/patterns/blocks/CalloutWithMedia/index.html
  packages/react/examples/codesandbox/patterns/blocks/CalloutWithMedia/package.json
  packages/react/examples/codesandbox/patterns/blocks/CalloutWithMedia/src/index.js
  packages/react/examples/codesandbox/patterns/blocks/CalloutWithMedia/src/styles.scss
  packages/react/examples/codesandbox/patterns/blocks/ContentBlockCards/index.html
  packages/react/examples/codesandbox/patterns/blocks/ContentBlockCards/package.json
  packages/react/examples/codesandbox/patterns/blocks/ContentBlockCards/src/cards.json
  packages/react/examples/codesandbox/patterns/blocks/ContentBlockCards/src/index.js
  packages/react/examples/codesandbox/patterns/blocks/ContentBlockCards/src/styles.scss
  packages/react/examples/codesandbox/patterns/blocks/ContentGroupHorizontal/index.html
  packages/react/examples/codesandbox/patterns/blocks/ContentGroupHorizontal/package.json
  packages/react/examples/codesandbox/patterns/blocks/ContentGroupHorizontal/src/index.js
  packages/react/examples/codesandbox/patterns/blocks/ContentGroupHorizontal/src/items.json
  packages/react/examples/codesandbox/patterns/blocks/ContentGroupHorizontal/src/styles.scss
  packages/react/examples/codesandbox/patterns/blocks/FeatureCardBlockLarge/index.html
  packages/react/examples/codesandbox/patterns/blocks/FeatureCardBlockLarge/package.json
  packages/react/examples/codesandbox/patterns/blocks/FeatureCardBlockLarge/src/index.js
  packages/react/examples/codesandbox/patterns/blocks/FeatureCardBlockLarge/src/styles.scss
  packages/react/examples/codesandbox/patterns/blocks/FeatureCardBlockMedium/index.html
  packages/react/examples/codesandbox/patterns/blocks/FeatureCardBlockMedium/package.json
  packages/react/examples/codesandbox/patterns/blocks/FeatureCardBlockMedium/src/index.js
  packages/react/examples/codesandbox/patterns/blocks/FeatureCardBlockMedium/src/styles.scss
  packages/react/examples/codesandbox/patterns/blocks/LeadSpaceBlock/index.html
  packages/react/examples/codesandbox/patterns/blocks/LeadSpaceBlock/package.json
  packages/react/examples/codesandbox/patterns/blocks/LeadSpaceBlock/src/index.js
  packages/react/examples/codesandbox/patterns/blocks/LeadSpaceBlock/src/styles.scss
  packages/react/examples/codesandbox/patterns/blocks/LogoGrid/index.html
  packages/react/examples/codesandbox/patterns/blocks/LogoGrid/package.json
  packages/react/examples/codesandbox/patterns/blocks/LogoGrid/src/index.js
  packages/react/examples/codesandbox/patterns/blocks/LogoGrid/src/logos.json
  packages/react/examples/codesandbox/patterns/blocks/LogoGrid/src/styles.scss
  packages/react/examples/codesandbox/patterns/sections/CTASection/index.html
  packages/react/examples/codesandbox/patterns/sections/CTASection/package.json
  packages/react/examples/codesandbox/patterns/sections/CTASection/src/index.js
  packages/react/examples/codesandbox/patterns/sections/CTASection/src/styles.scss
  packages/react/src/patterns/blocks/CalloutWithMedia/README.stories.mdx
  packages/react/src/patterns/blocks/ContentBlockCards/README.stories.mdx
  packages/react/src/patterns/blocks/ContentGroupHorizontal/README.stories.mdx
  packages/react/src/patterns/blocks/FeatureCardBlockLarge/README.stories.mdx
  packages/react/src/patterns/blocks/FeatureCardBlockMedium/README.stories.mdx
  packages/react/src/patterns/blocks/LeadSpaceBlock/README.stories.mdx
  packages/react/src/patterns/blocks/LogoGrid/README.stories.mdx
  packages/react/src/patterns/sections/CTASection/README.stories.mdx
Labels: Ready to merge

#3086 chore(CTA): cleanup of storybook stories for CTA
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/CTA/__stories__/CTA.stories.js
Labels: Ready to merge, package: react

#3100 chore(CardSectionImages): remove object knobs from story
  packages/react/src/patterns/sections/CardSectionImages/__stories__/CardSectionImages.stories.js
Labels: Ready to merge, package: react

#3090 chore(modal): add data-autoid
  packages/web-components/src/components/link-with-icon/__stories__/README.stories.mdx
  packages/web-components/src/components/link-with-icon/link-with-icon.ts
  packages/web-components/src/components/modal/__stories__/README.stories.mdx
  packages/web-components/src/components/modal/modal.ts
Labels: Ready to merge, package: web components

#3088 chore(devenv): force light theme
  packages/web-components/.storybook/theme.js
Labels: Ready to merge, package: web components

#3089 chore(devenv): fix proptype errors
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/TableOfContents/__stories__/TableOfContents.stories.js
  packages/react/src/internal/components/ContentItem/ContentItem.js
  packages/react/src/patterns/blocks/CalloutWithMedia/__stories__/CalloutWithMedia.stories.js
  packages/react/src/patterns/blocks/ContentBlockMedia/ContentBlockMedia.js
  packages/react/src/patterns/blocks/ContentBlockMixed/ContentBlockMixed.js
  packages/react/src/patterns/blocks/ContentBlockSegmented/ContentBlockSegmented.js
  packages/react/src/patterns/blocks/ContentBlockSegmented/__stories__/ContentBlockSegmented.stories.js
  packages/react/src/patterns/blocks/ContentBlockSimple/ContentBlockSimple.js
  packages/react/src/patterns/blocks/ContentBlockSimple/__stories__/ContentBlockSimple.stories.js
  packages/react/src/patterns/blocks/ContentGroupSimple/ContentGroupSimple.js
  packages/react/src/patterns/blocks/ContentGroupSimple/__stories__/ContentGroupSimple.stories.js
  packages/react/src/patterns/blocks/LeadSpaceBlock/LeadSpaceBlock.js
  packages/react/src/patterns/blocks/LeadSpaceBlock/__stories__/LeadSpaceBlock.stories.js
  packages/react/src/patterns/sections/CTASection/__stories__/CTASection.stories.js
  packages/react/src/patterns/sections/CardSectionImages/__stories__/CardSectionImages.stories.js
  packages/react/src/patterns/sections/CardSectionSimple/__stories__/CardSectionSimple.stories.js
  packages/react/src/patterns/sections/LeadSpace/__stories__/LeadSpace.stories.js
Labels: Ready to merge, package: react

#3064 fix(styles): add missing css imports
  packages/react/examples/codesandbox/components/ContentItemHorizontal/src/styles.scss
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/patterns/blocks/FeatureCardBlockLarge/__stories__/FeatureCardBlockLarge.stories.js
  packages/styles/package.json
  packages/styles/scss/components/card-group/_card-group.scss
  packages/styles/scss/components/link-list/index.scss
  packages/styles/scss/patterns/blocks/callout-with-media/index.scss
  packages/styles/scss/patterns/blocks/content-block-cards/_content-block-cards.scss
  packages/styles/scss/patterns/blocks/feature-card-block-medium/_feature-card-block-medium.scss
  packages/styles/scss/patterns/blocks/leadspace-block/_leadspace-block.scss
  packages/styles/scss/patterns/blocks/logo-grid/_logo-grid.scss
Labels: Ready to merge

#3106 chore(ci-check): consolidating yml file for ci-checks
  .github/workflows/a11y-check.yml
  .github/workflows/ci-check-web-components.yml
  .github/workflows/ci-check.yml
  .github/workflows/test-integration-react.yml
Labels: Ready to merge

#3060 docs(examples): introduce CodeSandbox for Web Components
  packages/web-components/examples/codesandbox/components/button/.babelrc
  packages/web-components/examples/codesandbox/components/button/.gitignore
  packages/web-components/examples/codesandbox/components/button/index.html
  packages/web-components/examples/codesandbox/components/button/package.json
  packages/web-components/examples/codesandbox/components/button/sandbox.config.json
  packages/web-components/examples/codesandbox/components/button/src/index.js
  packages/web-components/examples/codesandbox/components/link-with-icon/.babelrc
  packages/web-components/examples/codesandbox/components/link-with-icon/.gitignore
  packages/web-components/examples/codesandbox/components/link-with-icon/index.html
  packages/web-components/examples/codesandbox/components/link-with-icon/package.json
  packages/web-components/examples/codesandbox/components/link-with-icon/sandbox.config.json
  packages/web-components/examples/codesandbox/components/link-with-icon/src/index.js
  packages/web-components/examples/codesandbox/components/masthead/.babelrc
  packages/web-components/examples/codesandbox/components/masthead/.gitignore
  packages/web-components/examples/codesandbox/components/masthead/index.html
  packages/web-components/examples/codesandbox/components/masthead/package.json
  packages/web-components/examples/codesandbox/components/masthead/sandbox.config.json
  packages/web-components/examples/codesandbox/components/masthead/src/index.js
  packages/web-components/examples/codesandbox/components/masthead/src/index.scss
  packages/web-components/examples/codesandbox/components/masthead/src/links.js
  packages/web-components/examples/codesandbox/components/modal/.babelrc
  packages/web-components/examples/codesandbox/components/modal/.gitignore
  packages/web-components/examples/codesandbox/components/modal/index.html
  packages/web-components/examples/codesandbox/components/modal/package.json
  packages/web-components/examples/codesandbox/components/modal/sandbox.config.json
  packages/web-components/examples/codesandbox/components/modal/src/index.js
  packages/web-components/src/components/button/__stories__/README.stories.mdx
  packages/web-components/src/components/button/button.scss
  packages/web-components/src/components/link-with-icon/__stories__/README.stories.mdx
  packages/web-components/src/components/link-with-icon/link-with-icon.scss
  packages/web-components/src/components/link-with-icon/link-with-icon.ts
  packages/web-components/src/components/masthead/__stories__/README.stories.mdx
  packages/web-components/src/components/masthead/masthead.scss
  packages/web-components/src/components/modal/__stories__/README.stories.mdx
  packages/web-components/src/components/modal/__stories__/modal.stories.scss
  packages/web-components/src/components/modal/__stories__/modal.stories.ts
  packages/web-components/src/components/modal/modal.scss
  packages/web-components/src/globals/internal/link.ts
  packages/web-components/src/globals/scss/_box-sizing.scss
Labels: Ready to merge, package: web components

#3069 chore(ContentItemHorizontal): cleaned up story json knobs
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/ContentItemHorizontal/__stories__/ContentItemHorizontal.stories.js
Labels: Ready to merge, package: react

#3070 chore(FeatureCard): cleaned up story json knobs
  packages/react/src/components/FeatureCard/__stories__/FeatureCard.stories.js
Labels: Ready to merge, package: react

#3095 chore(ContentBlockSegmented): create separate stories
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/patterns/blocks/ContentBlockSegmented/__stories__/ContentBlockSegmented.stories.js
Labels: Ready to merge, package: react

#3098 chore(CardSectionSimple): separate story variations
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/patterns/sections/CardSectionSimple/__stories__/CardSectionSimple.stories.js
Labels: Ready to merge, package: react

#3099 chore(ContentBlockMixed): remove object knobs
  packages/react/src/patterns/blocks/ContentBlockMixed/__stories__/ContentBlockMixed.stories.js
Labels: Ready to merge, package: react

#3103 fix(masthead): ensure overlay does not scroll
  packages/web-components/src/components/masthead/masthead.scss
Labels: Ready to merge, package: web components

#3104 fix(modal): fix button position in full width mode
  packages/web-components/src/components/modal/modal.scss
Labels: Ready to merge, package: web components

#3119 fix(styles): optimization fixes for gulp-sass in styles package
  packages/styles/gulp/tasks/sass.js
  packages/styles/package.json
  packages/styles/scss/components/card-group/_card-group.scss
Labels: Ready to merge, package: react

#3063 fix(ImageWithCaption): image is hidden in sm & md
  packages/styles/scss/components/lightbox-media-viewer/_lightbox-media-viewer.scss
Labels: Ready to merge, package: react

#3117 chore(ci-check): fix variable name
  .github/workflows/ci-check.yml
Labels: Ready to merge

#3115 fix(calloutquote): fixed bottom padding
  packages/styles/scss/components/quote/_quote.scss
Labels: Ready to merge, package: react

#3107 chore(dependencies): upgrade carbon-custom-elements
  .yarn/offline-mirror/carbon-custom-elements-1.0.0.tgz
  .yarn/offline-mirror/carbon-custom-elements-1.1.0.tgz
  package.json
  packages/web-components/package.json
  packages/web-components/src/components/button/button.scss
  packages/web-components/src/components/link-with-icon/link-with-icon.scss
  packages/web-components/src/components/link-with-icon/link-with-icon.ts
  packages/web-components/src/components/masthead/left-nav-item.ts
  packages/web-components/src/components/masthead/left-nav-menu-item.ts
  packages/web-components/src/components/masthead/top-nav-item.ts
  packages/web-components/src/components/masthead/top-nav-menu-item.ts
  packages/web-components/src/globals/internal/link.ts
  yarn.lock
Labels: Ready to merge, package: web components

#3096 chore(ContentBlockCards): separate story variations
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/patterns/blocks/ContentBlockCards/__stories__/ContentBlockCards.stories.js
Labels: Ready to merge, package: react

#3110 chore(devenv): fix knob in button CTA story
  packages/react/src/components/CTA/__stories__/CTA.stories.js
Labels: Ready to merge, package: react

#3111 docs(README): update getting started
  packages/web-components/README.md
Labels: Ready to merge, package: web components

#3116 fix(ImageWithCaption): caption hidden in landscape mode
  packages/styles/scss/components/lightbox-media-viewer/_lightbox-media-viewer.scss
Labels: Ready to merge, package: react

#3097 feat(Card): add link text option to clickable card
  packages/react/examples/codesandbox/components/Card/src/index.js
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/CTA/CardCTA.js
  packages/react/src/components/Card/Card.js
  packages/react/src/components/Card/__stories__/Card.stories.js
  packages/react/src/components/CardGroup/CardGroup.js
  packages/react/src/components/CardLink/CardLink.js
  packages/react/src/components/FeatureCard/FeatureCard.js
  packages/react/src/patterns/blocks/ContentGroupCards/ContentGroupCards.js
  packages/react/src/patterns/blocks/FeatureCardBlockLarge/FeatureCardBlockLarge.js
  packages/styles/scss/components/card/index.scss
  packages/styles/scss/components/feature-card/_feature-card.scss
  packages/styles/scss/components/locale-modal/_locale-modal.scss
Labels: Ready to merge, package: react

#3128 feat(cta): introduce text CTA for Web Components
  packages/web-components/src/components/cta/__stories__/README.stories.mdx
  packages/web-components/src/components/cta/__stories__/cta.stories.ts
  packages/web-components/src/components/cta/__tests__/cta-container.test.ts
  packages/web-components/src/components/cta/cta-container.scss
  packages/web-components/src/components/cta/cta-container.ts
  packages/web-components/src/components/cta/cta.scss
  packages/web-components/src/components/cta/mixins/cta.ts
  packages/web-components/src/components/cta/shared-enums.ts
  packages/web-components/src/components/cta/text-cta.ts
  packages/web-components/src/components/lightbox-media-viewer/__stories__/README.stories.mdx
  packages/web-components/src/components/lightbox-media-viewer/__stories__/lightbox-media-viewer.stories.scss
  packages/web-components/src/components/lightbox-media-viewer/__stories__/lightbox-media-viewer.stories.ts
  packages/web-components/src/components/lightbox-media-viewer/__tests__/lightbox-media-viewer-container.test.ts
  packages/web-components/src/components/lightbox-media-viewer/__tests__/lightbox-video-player.test.ts
  packages/web-components/src/components/lightbox-media-viewer/lightbox-media-viewer-body.ts
  packages/web-components/src/components/lightbox-media-viewer/lightbox-media-viewer.scss
  packages/web-components/src/components/lightbox-media-viewer/lightbox-video-player-container.scss
  packages/web-components/src/components/lightbox-media-viewer/lightbox-video-player-container.ts
  packages/web-components/src/components/lightbox-media-viewer/lightbox-video-player.ts
  packages/web-components/src/components/video-player/__tests__/video-player-container.test.ts
  packages/web-components/src/components/video-player/__tests__/video-player.test.ts
  packages/web-components/src/components/video-player/video-player-container.ts
  packages/web-components/src/components/video-player/video-player.ts
  packages/web-components/src/globals/mixins/hybrid-render.ts
  packages/web-components/tests/snapshots/dds-cta-container.md
  packages/web-components/tests/snapshots/dds-lightbox-video-player-container.md
  packages/web-components/tests/snapshots/dds-lightbox-video-player.md
  packages/web-components/tests/snapshots/dds-video-player-container.md
  packages/web-components/tests/snapshots/dds-video-player.md
Labels: Ready to merge, package: web components

#3118 fix(Quote): update theme styling
  packages/styles/scss/components/quote/_quote.scss
  packages/styles/scss/internal/callout/_callout.scss
Labels: Ready to merge, package: react

#3134 fix(modal): suppport keyboard gesture for close button
  .yarn/offline-mirror/carbon-custom-elements-1.1.0.tgz
  .yarn/offline-mirror/carbon-custom-elements-1.1.1.tgz
  package.json
  packages/web-components/package.json
  packages/web-components/src/components/modal/modal.scss
  yarn.lock
Labels: Ready to merge, package: web components

#3142 feat(styles): remove feature flag for expressive theme
  packages/styles/.storybook/_container.scss
  packages/styles/scss/globals/_feature-flags.scss
  packages/styles/scss/themes/expressive/README.md
  packages/styles/scss/themes/expressive/_tokens.scss
  packages/styles/scss/themes/expressive/components/_button.scss
  packages/styles/scss/themes/expressive/index.scss
  packages/web-components/src/components/button/button.scss
Labels: Ready to merge, package: styles

#3139 feat(VideoPlayer): add aspect ratio overrides
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/VideoPlayer/VideoPlayer.js
  packages/react/src/components/VideoPlayer/__stories__/VideoPlayer.stories.js
  packages/styles/scss/components/video-player/_video-player.scss
Labels: Ready to merge, package: react

#3135 fix(masthead): add style for search close state
  packages/web-components/src/components/masthead/masthead-search.ts
  packages/web-components/src/components/masthead/masthead.scss
  packages/web-components/tests/snapshots/dds-masthead-search.md
Labels: Ready to merge, package: web components

#3144 fix(Card): reduce bottom margin when link has text
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/Card/Card.js
  packages/styles/scss/components/card/index.scss
Labels: Ready to merge, package: react

#3165 chore(CardGroup): separate CardGroup knobs into stories
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/CardGroup/__stories__/CardGroup.stories.js
Labels: package: react

#3155 chore(lightbox-media-viewer): add stable selector
  packages/web-components/src/components/lightbox-media-viewer/__stories__/README.stories.mdx
  packages/web-components/src/components/lightbox-media-viewer/lightbox-video-player.ts
  packages/web-components/tests/snapshots/dds-lightbox-video-player.md
Labels: Ready to merge, package: web components

#3163 chore(deps): update carbon-components package
  .yarn/offline-mirror/carbon-components-10.11.0.tgz
  .yarn/offline-mirror/carbon-components-10.14.0.tgz
  .yarn/offline-mirror/carbon-components-10.15.0.tgz
  package.json
  packages/react/package.json
  packages/styles/package.json
  packages/utilities/package.json
  packages/web-components/package.json
  yarn.lock
Labels: Ready to merge, package: react, package: styles, package: utilities, package: web components

#3167 chore(kodiak): adding kodiak config for auto merging and updating
  .kodiak.toml
Labels: Ready to merge

#3140 fix(Card): border covering 4 sides of the Card
  packages/styles/scss/components/card/index.scss
Labels: Ready to merge, package: react

#3164 fix(CardGroup): allow CardGroup to set Card with cta copy
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/CardGroup/CardGroup.js
  packages/react/src/components/CardGroup/__stories__/data/cards.json
Labels: Ready to merge, package: react

#3178 chore(components): fix import paths
  packages/web-components/src/components/link-with-icon/__stories__/link-with-icon.stories.ts
  packages/web-components/src/components/modal/__stories__/modal.stories.ts
Labels: Ready to merge, package: web components

#3133 fix(masthead): fix to profile menu scroll away issue
  packages/react/src/components/Masthead/Masthead.js
  packages/styles/scss/components/masthead/_masthead.scss
Labels: Ready to merge, package: react

#3131 fix(LanguageSelector): refresh value on focus lost
  packages/react/src/components/Footer/LanguageSelector.js
Labels: Ready to merge, feature flag, package: react

#3177 docs(examples): video player examples in CodeSandbox
  packages/web-components/examples/codesandbox/components/cta/.babelrc
  packages/web-components/examples/codesandbox/components/cta/.gitignore
  packages/web-components/examples/codesandbox/components/cta/index.html
  packages/web-components/examples/codesandbox/components/cta/package.json
  packages/web-components/examples/codesandbox/components/cta/sandbox.config.json
  packages/web-components/examples/codesandbox/components/cta/src/index.js
  packages/web-components/examples/codesandbox/components/lightbox-media-viewer/.babelrc
  packages/web-components/examples/codesandbox/components/lightbox-media-viewer/.gitignore
  packages/web-components/examples/codesandbox/components/lightbox-media-viewer/index.html
  packages/web-components/examples/codesandbox/components/lightbox-media-viewer/package.json
  packages/web-components/examples/codesandbox/components/lightbox-media-viewer/sandbox.config.json
  packages/web-components/examples/codesandbox/components/lightbox-media-viewer/src/index.js
Labels: Ready to merge, package: web components

#3186 fix(footer): add fixed width to ibm logo
  packages/styles/scss/components/footer/_footer-logo.scss
Labels: Ready to merge, package: react

#2851 fix(content-group-pictograms): fixed bottom spacing
  packages/styles/scss/patterns/blocks/content-group-pictograms/_content-group-pictograms.scss
Labels: Ready to merge, package: react

#3188 chore(cra): removing create-react-app
  packages/react/examples/create-react-app/.env.example
  packages/react/examples/create-react-app/.gitignore
  packages/react/examples/create-react-app/README.md
  packages/react/examples/create-react-app/config/env.js
  packages/react/examples/create-react-app/config/jest/cssTransform.js
  packages/react/examples/create-react-app/config/jest/fileTransform.js
  packages/react/examples/create-react-app/config/modules.js
  packages/react/examples/create-react-app/config/paths.js
  packages/react/examples/create-react-app/config/pnpTs.js
  packages/react/examples/create-react-app/config/webpack.config.js
  packages/react/examples/create-react-app/config/webpackDevServer.config.js
  packages/react/examples/create-react-app/package.json
  packages/react/examples/create-react-app/public/favicon.ico
  packages/react/examples/create-react-app/public/index.html
  packages/react/examples/create-react-app/public/logo192.png
  packages/react/examples/create-react-app/public/logo512.png
  packages/react/examples/create-react-app/public/manifest.json
  packages/react/examples/create-react-app/public/robots.txt
  packages/react/examples/create-react-app/scripts/build.js
  packages/react/examples/create-react-app/scripts/start.js
  packages/react/examples/create-react-app/scripts/test.js
  packages/react/examples/create-react-app/src/App.js
  packages/react/examples/create-react-app/src/App.test.js
  packages/react/examples/create-react-app/src/content.js
  packages/react/examples/create-react-app/src/index.js
  packages/react/examples/create-react-app/src/logo.svg
  packages/react/examples/create-react-app/src/serviceWorker.js
  packages/react/examples/create-react-app/yarn.lock
Labels: Ready to merge

#3143 feat(CardLink): adding CardLink to web components
  packages/styles/scss/components/card-link/_card-link.scss
  packages/web-components/examples/codesandbox/components/card-link/.babelrc
  packages/web-components/examples/codesandbox/components/card-link/.gitignore
  packages/web-components/examples/codesandbox/components/card-link/index.html
  packages/web-components/examples/codesandbox/components/card-link/package.json
  packages/web-components/examples/codesandbox/components/card-link/sandbox.config.json
  packages/web-components/examples/codesandbox/components/card-link/src/index.js
  packages/web-components/examples/codesandbox/components/card-link/yarn.lock
  packages/web-components/src/components/card-link/__stories__/README.stories.mdx
  packages/web-components/src/components/card-link/__stories__/card-link.stories.ts
  packages/web-components/src/components/card-link/card-link.scss
  packages/web-components/src/components/card-link/card-link.ts
  packages/web-components/src/components/card/card-footer.ts
  packages/web-components/src/components/card/card.scss
  packages/web-components/src/components/card/card.ts
  packages/web-components/src/globals/shared-enums.ts
Labels: Ready to merge, package: web components

#3190 fix(ddo): setting the proper attribute for version in ddo
  packages/services/src/services/DDO/DDO.js
  packages/services/src/services/DDO/__tests__/DDO.test.js
Labels: Ready to merge

#3194 Revert "fix(masthead): fix to profile menu scroll away issue"
  packages/react/src/components/Masthead/Masthead.js
  packages/styles/scss/components/masthead/_masthead.scss
Labels: Ready to merge

#3181 fix(LeadSpace): prevent content from being cut off in mobile
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/LeadSpace/__stories__/LeadSpace.stories.js
  packages/styles/scss/patterns/sections/leadspace/_leadspace.scss
Labels: Ready to merge, package: react

#3196 fix(ContentBlockCards): add video and cta
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/CTA/__stories__/CTA.stories.js
  packages/react/src/components/CardGroup/CardGroup.js
  packages/react/src/components/CardGroup/__stories__/data/cards.json
  packages/react/src/components/CardLink/__stories__/CardLink.stories.js
  packages/react/src/components/ContentBlockCards/ContentBlockCards.js
  packages/react/src/components/ContentBlockCards/__stories__/ContentBlockCards.stories.js
  packages/styles/scss/components/card-group/_card-group.scss
  packages/styles/scss/components/card/index.scss
  packages/styles/scss/components/content-block-cards/_content-block-cards.scss
  packages/styles/scss/patterns/blocks/content-block-cards/_content-block-cards.scss
Labels: Ready to merge, package: react

#3189 fix(ContentGroupHorizontal): remove bottom padding
  packages/styles/scss/patterns/blocks/content-group-horizontal/_content-group-horizontal.scss
Labels: Ready to merge, package: react

#3199 fix(LeadSpace): gradient styles moved to new component leadspace scss file
  packages/styles/scss/components/leadspace/_leadspace.scss
Labels: Ready to merge, package: react

#3200 docs(expressive-theme): adding more content to expressive theme readme
  packages/styles/scss/themes/expressive/README.md
Labels: Ready to merge

#3202 chore(github-actions): moving test and staging environment tasks to GH
  .github/workflows/deploy-canary.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/deploy-web-components-to-canary.yml
  packages/react/manifest-canary.yml
  packages/react/manifest-experimental.yml
  packages/react/manifest-expressive.yml
  packages/react/manifest-rtl.yml
  packages/react/manifest-staging.yml
  packages/react/manifest.yml
  packages/services/manifest.yml
  packages/styles/manifest.yml
  packages/styles/scss/themes/expressive/README.md
  packages/utilities/manifest.yml
  packages/vanilla/manifest-canary.yml
  packages/vanilla/manifest-staging.yml
  packages/vanilla/manifest.yml
  packages/web-components/manifest-staging.yml
Labels: Ready to merge

#3203 chore(devenv): fix CONTRIBUTING path
  packages/web-components/src/components/button/__stories__/README.stories.mdx
  packages/web-components/src/components/cta/__stories__/README.stories.mdx
  packages/web-components/src/components/lightbox-media-viewer/__stories__/README.stories.mdx
  packages/web-components/src/components/link-with-icon/__stories__/README.stories.mdx
  packages/web-components/src/components/masthead/__stories__/README.stories.mdx
  packages/web-components/src/components/modal/__stories__/README.stories.mdx
Labels: Ready to merge, package: web components

#3193 chore(build): fix video player in canary site
  .github/actions/set-dotenv/action.yml
  .github/actions/set-dotenv/index.js
  .github/workflows/deploy-canary.yml
  .github/workflows/deploy-staging.yml
Labels: Ready to merge, package: web components

#3209 fix(CalloutQuote): adjust grid
  packages/styles/scss/components/callout-quote/index.scss
Labels: Ready to merge, package: react

#3207 chore(build): add exports field
  packages/web-components/package.json
Labels: Ready to merge, package: web components

#3210 chore(ContentBlockSimple): update story
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/ContentBlockSimple/__stories__/ContentBlockSimple.stories.js
  packages/react/src/components/ContentBlockSimple/__tests__/ContentBlockSimple.e2e.py
Labels: Ready to merge, package: react

#3212 chore(FeatureCardBlockMedium): update stories
  packages/react/src/components/FeatureCardBlockMedium/__stories__/FeatureCardBlockMedium.stories.js
Labels: Ready to merge, package: react

#3213 chore(FeatureCardLarge): update story
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/FeatureCardBlockLarge/__stories__/FeatureCardBlockLarge.stories.js
Labels: Ready to merge, package: react

#3214 chore(LogoGrid): update stories
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/LogoGrid/__stories__/LogoGrid.stories.js
Labels: Ready to merge, package: react

#3224 chore(Leadspace): update stories
  packages/react/src/components/LeadSpace/__stories__/LeadSpace.stories.js
Labels: Ready to merge, package: react

#3216 chore(ContentGroupHorizontal): update story
  packages/react/src/components/ContentGroupHorizontal/__stories__/ContentGroupHorizontal.stories.js
Labels: Ready to merge, package: react

#3219 chore(Image): update story
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/Image/__stories__/Image.stories.js
Labels: Ready to merge, package: react

#3222 chore(LocaleModal): Raised test coverage
  packages/react/src/components/LocaleModal/LocaleModal.js
  packages/react/src/components/LocaleModal/LocaleModalCountries.js
  packages/react/src/components/LocaleModal/LocaleModalRegions.js
  packages/react/src/components/LocaleModal/__tests__/LocaleModal.data.js
  packages/react/src/components/LocaleModal/__tests__/LocaleModal.test.js
Labels: Ready to merge, package: react

#3220 chore(ImageWithCaption): update story
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/ImageWithCaption/__stories__/ImageWithCaption.stories.js
Labels: Ready to merge, package: react

#3217 chore(LinkList): update story
  packages/react/src/components/LinkList/__stories__/LinkList.stories.js
Labels: Ready to merge, package: react

#3235 test(e2e): fix various e2e tests post components refactor
  .eslintrc
  .github/workflows/e2e-test.yml
  packages/react/src/components/CalloutQuote/__tests__/CalloutQuote.e2e.js
  packages/react/src/components/CardSectionImages/__tests__/CardSectionImages.e2e.js
  packages/react/src/components/CardSectionSimple/__tests__/CardSectionSimple.e2e.js
  packages/react/src/components/ContentBlockMixed/__tests__/ContentBlockMixed.e2e.js
  packages/react/src/components/ContentGroupPictograms/__tests__/ContentGroupPictograms.e2e.py
  packages/react/src/components/FeatureCardBlockMedium/__tests__/FeatureCardBlockMedium.e2e.js
  packages/react/src/components/LeadSpace/__tests__/Leadspace.e2e.py
  packages/react/src/components/LeadSpaceBlock/__tests__/LeadSpaceBlock.e2e.py
  packages/react/src/components/LocaleModal/__tests__/LocaleModal.e2e.js
  packages/react/src/patterns/blocks/ContentGroupPictograms/__tests__/ContentGroupPictograms.e2e.py
  packages/react/wdio.conf.js
Labels: Ready to merge

#3231 chore(calloutWithMedia): remove carbon theme
  packages/react/src/components/CalloutWithMedia/__stories__/CalloutWithMedia.stories.js
Labels: Ready to merge, package: react

#3221 fix(Card): button width is auto according to the available space
  packages/styles/scss/components/buttongroup/_buttongroup.scss
Labels: Ready to merge, package: react

#3205 fix(masthead): add label to profile trigger button
  packages/web-components/src/components/masthead/masthead-profile.ts
  packages/web-components/tests/snapshots/dds-masthead-profile.md
Labels: Ready to merge, package: web components

#3225 chore(TableOfContents): update story
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/TableOfContents/__stories__/TableOfContents.stories.js
Labels: Ready to merge, package: react

#3243 chore(github-actions): changing `runs-on` to avoid workflow hanging
  .github/workflows/automerge.yml
  .github/workflows/ci-check.yml
  .github/workflows/deploy-canary.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/e2e-test.yml
Labels: Ready to merge

#3228 chore(build): reuse carbon-design-system/action-ibmcloud-cf
  .github/actions/deploy-ibmcloud/action.yml
  .github/actions/deploy-ibmcloud/index.js
  .github/actions/install-ibmcloud-cli/action.yml
  .github/actions/install-ibmcloud-cli/index.js
  .github/actions/login-ibmcloud/action.yml
  .github/actions/login-ibmcloud/index.js
  .github/actions/run.js
  .github/workflows/deploy-canary.yml
  .github/workflows/deploy-staging.yml
Labels: Ready to merge

#3215 chore(ContentGroupSimple): update story
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/ContentGroupSimple/__stories__/ContentGroupSimple.stories.js
Labels: Ready to merge, package: react

#3233 Fix(ctasection): Bottom spacing
  packages/styles/scss/components/ctasection/_ctasection.scss
Labels: Ready to merge, package: react

#3247 fix(CardLink): disabled state
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/CTA/CardCTA.js
  packages/react/src/components/Card/Card.js
  packages/react/src/components/CardLink/CardLink.js
  packages/react/src/components/CardLink/README.stories.mdx
  packages/react/src/components/CardLink/__stories__/CardLink.stories.js
  packages/styles/scss/components/card-link/_card-link.scss
Labels: Ready to merge

#3197 chore(masthead): create Redux store
  .yarn/offline-mirror/@babel-code-frame-7.10.4.tgz
  .yarn/offline-mirror/@babel-generator-7.10.5.tgz
  .yarn/offline-mirror/@babel-helper-function-name-7.10.4.tgz
  .yarn/offline-mirror/@babel-helper-get-function-arity-7.10.4.tgz
  .yarn/offline-mirror/@babel-helper-member-expression-to-functions-7.10.5.tgz
  .yarn/offline-mirror/@babel-helper-module-imports-7.10.4.tgz
  .yarn/offline-mirror/@babel-helper-module-transforms-7.10.5.tgz
  .yarn/offline-mirror/@babel-helper-optimise-call-expression-7.10.4.tgz
  .yarn/offline-mirror/@babel-helper-plugin-utils-7.10.4.tgz
  .yarn/offline-mirror/@babel-helper-replace-supers-7.10.4.tgz
  .yarn/offline-mirror/@babel-helper-simple-access-7.10.4.tgz
  .yarn/offline-mirror/@babel-helper-split-export-declaration-7.10.4.tgz
  .yarn/offline-mirror/@babel-helper-validator-identifier-7.10.4.tgz
  .yarn/offline-mirror/@babel-highlight-7.10.4.tgz
  .yarn/offline-mirror/@babel-parser-7.10.5.tgz
  .yarn/offline-mirror/@babel-plugin-transform-modules-commonjs-7.10.4.tgz
  .yarn/offline-mirror/@babel-template-7.10.4.tgz
  .yarn/offline-mirror/@babel-traverse-7.10.5.tgz
  .yarn/offline-mirror/@babel-types-7.10.5.tgz
  .yarn/offline-mirror/@types-redux-mock-store-1.0.2.tgz
  .yarn/offline-mirror/deep-diff-0.3.8.tgz
  .yarn/offline-mirror/escodegen-1.12.0.tgz
  .yarn/offline-mirror/escodegen-1.14.1.tgz
  .yarn/offline-mirror/lodash-4.17.19.tgz
  .yarn/offline-mirror/redux-4.0.5.tgz
  .yarn/offline-mirror/redux-logger-3.0.6.tgz
  .yarn/offline-mirror/redux-mock-store-1.5.4.tgz
  .yarn/offline-mirror/redux-thunk-2.3.0.tgz
  packages/web-components/config/jest/jsTransform.js
  packages/web-components/examples/codesandbox/components/masthead/src/index.js
  packages/web-components/jest.config.js
  packages/web-components/package.json
  packages/web-components/src/components/masthead/__stories__/links.ts
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
  packages/web-components/src/components/masthead/__tests__/masthead-container.test.ts
  packages/web-components/src/components/masthead/masthead-container.ts
  packages/web-components/src/globals/mixins/connect.ts
  packages/web-components/src/globals/services-store/actions/__tests__/localeAPI.test.ts
  packages/web-components/src/globals/services-store/actions/__tests__/translateAPI.test.ts
  packages/web-components/src/globals/services-store/actions/localeAPI.ts
  packages/web-components/src/globals/services-store/actions/translateAPI.ts
  packages/web-components/src/globals/services-store/reducers/__tests__/localeAPI.test.ts
  packages/web-components/src/globals/services-store/reducers/__tests__/translateAPI.test.ts
  packages/web-components/src/globals/services-store/reducers/index.ts
  packages/web-components/src/globals/services-store/reducers/localeAPI.ts
  packages/web-components/src/globals/services-store/reducers/translateAPI.ts
  packages/web-components/src/globals/services-store/store.ts
  packages/web-components/src/globals/services-store/types/localeAPI.ts
  packages/web-components/src/globals/services-store/types/translateAPI.ts
  packages/web-components/tests/utils/convert-value.ts
  yarn.lock
Labels: Ready to merge

#3250 docs(readme): minor tweaks to main README
  README.md
Labels: Ready to merge

#3211 chore(LeadspaceBlock): update story
  packages/react/.storybook/preview-head.html
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/LeadSpaceBlock/__stories__/LeadSpaceBlock.stories.js
Labels: Ready to merge

#3257 chore(release): manual merge of release branch to master
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/CTA/CardCTA.js
  packages/react/src/components/Card/Card.js
  packages/react/src/components/CardLink/CardLink.js
  packages/react/src/components/CardLink/README.stories.mdx
  packages/react/src/components/CardLink/__stories__/CardLink.stories.js
  packages/services/CHANGELOG.md
  packages/services/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/styles/scss/components/card-link/_card-link.scss
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
  packages/vanilla/CHANGELOG.md
  packages/vanilla/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
Labels: Ready to merge

#3263 chore(percy): hide web components lightboxmediaviewer in percy
  packages/web-components/src/components/lightbox-media-viewer/__stories__/lightbox-media-viewer.stories.ts
Labels: Ready to merge

#3254 fix(CTASection): buttongroup styling
  packages/react/src/components/ButtonGroup/ButtonGroup.js
  packages/styles/scss/components/ctasection/_ctasection.scss
Labels: Ready to merge

#3267 test(e2e): updates to e2e tests for CI server
  packages/react/src/components/CalloutQuote/__tests__/CalloutQuote.e2e.js
  packages/react/src/components/CardSectionImages/__tests__/CardSectionImages.e2e.js
  packages/react/src/components/CardSectionSimple/__tests__/CardSectionSimple.e2e.js
  packages/react/src/components/ContentBlockMixed/__tests__/ContentBlockMixed.e2e.js
  packages/react/src/components/FeatureCardBlockMedium/__tests__/FeatureCardBlockMedium.e2e.js
  packages/react/src/components/LocaleModal/__tests__/LocaleModal.e2e.js
  packages/react/wdio.conf.js
Labels: Ready to merge

#3268 chore(percy): hide stories with videos
  packages/react/src/components/ContentBlockCards/__stories__/ContentBlockCards.stories.js
  packages/react/src/components/ContentBlockSegmented/__stories__/ContentBlockSegmented.stories.js
  packages/react/src/components/ContentBlockSimple/__stories__/ContentBlockSimple.stories.js
Labels: Ready to merge

#3204 test(integration): introduce UI integration test suite
  .github/workflows/ci-check.yml
  .yarn/offline-mirror/agent-base-6.0.1.tgz
  .yarn/offline-mirror/commander-5.1.0.tgz
  .yarn/offline-mirror/expect-playwright-0.2.5.tgz
  .yarn/offline-mirror/https-proxy-agent-5.0.0.tgz
  .yarn/offline-mirror/is-port-reachable-3.0.0.tgz
  .yarn/offline-mirror/jest-playwright-preset-0.1.3.tgz
  .yarn/offline-mirror/jpeg-js-0.3.7.tgz
  .yarn/offline-mirror/playwright-1.2.1.tgz
  .yarn/offline-mirror/playwright-core-1.2.1.tgz
  .yarn/offline-mirror/pngjs-5.0.0.tgz
  packages/web-components/package.json
  packages/web-components/src/.eslintrc
  packages/web-components/src/components/lightbox-media-viewer/__tests__/lightbox-media-viewer.steps.js
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
  packages/web-components/src/components/masthead/__tests__/masthead.steps.js
  packages/web-components/src/components/masthead/masthead-container.ts
  packages/web-components/src/components/masthead/masthead-search.ts
  packages/web-components/src/components/modal/__tests__/modal.steps.js
  packages/web-components/tests/integration/.eslintrc
  packages/web-components/tests/integration/ui/jest-playwright.config.js
  packages/web-components/tests/integration/ui/jest.config.js
  packages/web-components/tests/integration/ui/setup-env.js
  packages/web-components/tests/integration/ui/setup.js
  packages/web-components/tests/integration/ui/teardown.js
  packages/web-components/tests/snapshots/dds-masthead-container.md
  packages/web-components/tests/snapshots/dds-masthead-search.md
  yarn.lock
Labels: Ready to merge, package: web components

#3271 chore(percy): hide stories with videos
  packages/react/.storybook/preview-head.html
  packages/react/src/components/ContentGroupSimple/__stories__/ContentGroupSimple.stories.js
  packages/styles/scss/internal/content-block/_content-block.scss
  yarn.lock
Labels: Ready to merge

#3255 fix(TableOfContents): Sticky offset not working
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/TableOfContents/TableOfContents.js
Labels: Ready to merge

#3274 chore(pr): updating pr template instructions
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Ready to merge

#3256 fix(Masthead): missing aria-label on masthead search
  packages/web-components/src/components/masthead/masthead-search.ts
  packages/web-components/tests/snapshots/dds-masthead-search.md
Labels: Ready to merge

#3285 docs(dev): add doc for WC encapsulation
  packages/web-components/docs/coding-conventions.md
Labels: Ready to merge

#3241 fix(callout-data): fixed wrong story display on iframe mode
  packages/react/src/components/CalloutData/__stories__/CalloutData.stories.js
  packages/styles/scss/components/callout-data/_callout-data.scss
Labels: Ready to merge

#3286 docs(readme): update for WC
  packages/web-components/README.md
Labels: Ready to merge

#3301 chore(inverse): remove inverse from various components
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/CalloutWithMedia/CalloutWithMedia.js
  packages/react/src/components/ContentBlockSimple/ContentBlockSimple.js
  packages/react/src/components/ImageWithCaption/ImageWithCaption.js
  packages/react/src/components/ImageWithCaption/__stories__/ImageWithCaption.stories.js
  packages/react/src/components/VideoPlayer/VideoPlayer.js
  packages/react/src/components/VideoPlayer/__stories__/VideoPlayer.stories.js
  packages/styles/scss/components/callout-with-media/_callout-with-media.scss
  packages/styles/scss/components/content-block-simple/_content-block-simple.scss
  packages/styles/scss/components/content-block-simple/index.scss
  packages/styles/scss/components/image-with-caption/image-with-caption.scss
  packages/styles/scss/components/video-player/_video-player.scss
Labels: Ready to merge, package: react

#3293 fix(components): revert type size back to one of v1.8.0
  .eslintrc
  .github/workflows/ci-check.yml
  packages/react/.storybook/Container.js
  packages/react/package.json
  packages/react/src/components/Card/__tests__/Card.steps.js
  packages/react/src/components/ContentItemHorizontal/__tests__/ContentItemHorizontal.steps.js
  packages/react/src/components/ImageWithCaption/__tests__/ImageWithCaption.steps.js
  packages/react/src/components/LocaleModal/__stories__/LocaleModal.stories.js
  packages/react/src/components/LocaleModal/__tests__/LocaleModal.steps.js
  packages/react/src/components/LogoGrid/__tests__/LogoGrid.steps.js
  packages/react/src/components/Masthead/__stories__/Masthead.stories.js
  packages/react/src/components/Masthead/__tests__/Masthead.steps.js
  packages/react/src/components/VideoPlayer/__tests__/VideoPlayer.steps.js
  packages/react/tests/integration/ui/jest-playwright.config.js
  packages/react/tests/integration/ui/jest.config.js
  packages/react/tests/integration/ui/setup-env.js
  packages/react/tests/integration/ui/setup.js
  packages/react/tests/integration/ui/teardown.js
  packages/styles/scss/components/card/index.scss
  packages/styles/scss/components/content-item-horizontal/_content-item-horizontal.scss
  packages/styles/scss/components/image-with-caption/image-with-caption.scss
  packages/styles/scss/components/locale-modal/_locale-modal.scss
  packages/styles/scss/components/logo-grid/_logo-grid.scss
  packages/styles/scss/components/masthead/_masthead-leftnav.scss
  packages/styles/scss/components/video-player/_video-player.scss
  packages/styles/scss/themes/expressive/_tokens.scss
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
  packages/web-components/src/components/masthead/__tests__/masthead.steps.js
  packages/web-components/src/components/masthead/masthead-container.ts
Labels: package: react, package: styles, package: vanilla, package: web components

#3328 fix(TableOfContents): hover styling
  packages/styles/scss/components/tableofcontents/_tableofcontents.scss
Labels: Ready to merge

#3252 Fix(ContentGroupCards): fixed knobs display
  packages/react/src/components/ContentGroupCards/__stories__/ContentGroupCards.stories.js
Labels: Ready to merge

#3330 fix(CTASection): add sameHeight to content items
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/CTASection/CTASection.js
  packages/react/src/components/CTASection/__stories__/CTASection.stories.js
  packages/react/src/components/ContentBlockHeadlines/ContentBlockHeadlines.js
Labels: Ready to merge

#3335 fix(docs): wrong scss import path in docs
  packages/react/src/components/CardSectionSimple/README.stories.mdx
  packages/react/src/components/LogoGrid/README.stories.mdx
Labels: Ready to merge

#3345 fix(footer): fixed spacing of the legal nav list
  packages/styles/scss/components/footer/_legal-nav.scss
Labels: Ready to merge

#3299 chore(styles): remove temp expressive
  packages/styles/scss/components/card/index.scss
  packages/styles/scss/components/expressive-modal/_expressive-modal.scss
  packages/styles/scss/components/footer/_footer-nav.scss
  packages/styles/scss/components/footer/_footer.scss
  packages/styles/scss/components/footer/_language-selector.scss
  packages/styles/scss/components/footer/_locale-button.scss
  packages/styles/scss/components/footer/index.scss
  packages/styles/scss/components/link-with-icon/_link-with-icon.scss
  packages/styles/scss/components/list/_list.scss
  packages/styles/scss/components/locale-modal/_locale-modal.scss
  packages/styles/scss/components/masthead/index.scss
  packages/styles/scss/ibm-dotcom-styles.scss
  packages/styles/scss/temp-carbon-expressive/_temp-carbon-expressive.scss
  packages/styles/scss/temp-carbon-expressive/accordion/_accordion-expressive.scss
  packages/styles/scss/temp-carbon-expressive/button/_button-expressive.scss
  packages/styles/scss/temp-carbon-expressive/link/_link-expressive.scss
  packages/web-components/src/components/link-with-icon/link-with-icon.scss
Labels: Ready to merge, package: react, package: styles, package: web components

#3185 feat(locale-modal): introduction
  packages/styles/scss/components/locale-modal/_locale-modal.scss
  packages/web-components/.storybook/preview-head.html
  packages/web-components/src/components/locale-modal/__stories__/README.stories.mdx
  packages/web-components/src/components/locale-modal/__stories__/locale-data.json
  packages/web-components/src/components/locale-modal/__stories__/locale-modal.stories.scss
  packages/web-components/src/components/locale-modal/__stories__/locale-modal.stories.ts
  packages/web-components/src/components/locale-modal/__tests__/locale-item.test.ts
  packages/web-components/src/components/locale-modal/__tests__/locale-modal-container.test.ts
  packages/web-components/src/components/locale-modal/__tests__/locale-modal.test.ts
  packages/web-components/src/components/locale-modal/__tests__/locale-search.test.ts
  packages/web-components/src/components/locale-modal/__tests__/region-item.test.ts
  packages/web-components/src/components/locale-modal/__tests__/regions.test.ts
  packages/web-components/src/components/locale-modal/locale-item.ts
  packages/web-components/src/components/locale-modal/locale-modal-composite.scss
  packages/web-components/src/components/locale-modal/locale-modal-composite.ts
  packages/web-components/src/components/locale-modal/locale-modal-container.ts
  packages/web-components/src/components/locale-modal/locale-modal.scss
  packages/web-components/src/components/locale-modal/locale-modal.ts
  packages/web-components/src/components/locale-modal/locale-search.ts
  packages/web-components/src/components/locale-modal/region-item.ts
  packages/web-components/src/components/locale-modal/regions.ts
  packages/web-components/src/components/modal/modal.scss
  packages/web-components/src/components/modal/modal.ts
  packages/web-components/src/globals/mixins/throttled-input.ts
  packages/web-components/tests/snapshots/dds-locale-item.md
  packages/web-components/tests/snapshots/dds-locale-modal-container.md
  packages/web-components/tests/snapshots/dds-locale-modal.md
  packages/web-components/tests/snapshots/dds-locale-search.md
  packages/web-components/tests/snapshots/dds-region-item.md
  packages/web-components/tests/snapshots/dds-regions.md
Labels: Ready to merge, package: web components

#3275 fix(LightboxMediaViewer): modal dialog accessibility
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/LightboxMediaViewer/LightboxMediaViewer.js
Labels: Ready to merge, package: react

#3352 chore(footer): add expressive theme
  packages/styles/scss/components/footer/_components.scss
  packages/styles/scss/components/footer/index.scss
Labels: Ready to merge, package: react, package: styles, package: vanilla

#3347 chore(styles): rename type token zone mixin names
  packages/styles/scss/components/card/index.scss
  packages/styles/scss/components/content-item-horizontal/_content-item-horizontal.scss
  packages/styles/scss/components/image-with-caption/image-with-caption.scss
  packages/styles/scss/components/locale-modal/_locale-modal.scss
  packages/styles/scss/components/logo-grid/_logo-grid.scss
  packages/styles/scss/components/masthead/_masthead-leftnav.scss
  packages/styles/scss/components/video-player/_video-player.scss
  packages/styles/scss/themes/expressive/_tokens.scss
  packages/web-components/src/components/button/button.scss
  packages/web-components/src/components/link-with-icon/link-with-icon.scss
Labels: Ready to merge, package: react, package: styles, package: vanilla, package: web components

#3336 fix(Card): svg min width
  packages/styles/scss/components/card/index.scss
Labels: Ready to merge
