Repository carbon-design-system/carbon-for-ibm-dotcom, pull requests merged in 2020-04, with the labels that each got.

#1938 fix(imports): bunch of import fixes for styles
  packages/react/src/components/DotcomShell/README.md
  packages/react/src/patterns/sections/CardSection/README.md
  packages/react/src/patterns/sections/CardSectionImages/README.md
  packages/react/src/patterns/sections/CardSectionSimple/README.md
  packages/react/src/patterns/sections/LeadSpace/README.md
  packages/styles/scss/components/footer/index.scss
  packages/styles/scss/patterns/sections/card-section/README.md
  packages/styles/scss/patterns/sections/card-section/_card-section.scss
  packages/styles/scss/patterns/sections/leadspace/README.md
Labels: package: react

#1936 fix(accessibility): added tab-index to locale cards and heading
  packages/react/src/components/LocaleModal/LocaleModal.js
  packages/react/src/components/LocaleModal/LocaleModalRegions.js
Labels: package: react

#1944 fix(css): fix logo padding for md breakpoint
  packages/styles/scss/components/masthead/_masthead-leftnav.scss
  packages/styles/scss/components/masthead/_masthead.scss
Labels: package: react

#1947 fix(profile): stops profile menu scroll
  packages/react/src/components/Masthead/Masthead.js
Labels: package: react

#1949 fix(accessibility): added region to wrapping div of card
  packages/react/src/patterns/blocks/ContentGroupCards/ContentGroupCards.js
Labels: package: react

#1951 fix(pattern): fixed same height usage for the top-level card-link
  packages/react/src/patterns/sections/CardSection/CardSection.js
Labels: package: react

#1948 fix(contentblockmedia): exposing knob for media object
  packages/react/src/patterns/blocks/ContentBlockMedia/__stories__/ContentBlockMedia.stories.js
Labels: package: react

#1922 fix(scss): leadspace now fill wider resolutions
  packages/react/src/patterns/sections/LeadSpace/__stories__/LeadSpace.stories.js
  packages/styles/scss/patterns/sections/leadspace/_leadspace.scss
Labels: package: react

#1977 fix(pattern): fixed layout on 1056px resolution
  packages/styles/scss/components/lightbox-media-viewer/_lightbox-media-viewer.scss
Labels: package: react

#1976 fix(grid): adding grid classes by default in global import
  packages/react/src/components/LightboxMediaViewer/__stories__/index.scss
  packages/react/src/patterns/sub-patterns/ButtonGroup/__stories__/index.scss
  packages/react/src/patterns/sub-patterns/Card/__stories__/index.scss
  packages/react/src/patterns/sub-patterns/Layout/__stories__/index.scss
  packages/styles/scss/components/locale-modal/_locale-modal.scss
  packages/styles/scss/globals/_imports.scss
  packages/styles/scss/patterns/blocks/content-group-cards/index.scss
  packages/styles/scss/patterns/blocks/content-group-simple/index.scss
  packages/styles/scss/patterns/sub-patterns/link-list/index.scss
  packages/styles/scss/patterns/sub-patterns/pictogram-item/_pictogram-item.scss
  packages/styles/scss/patterns/sub-patterns/tableofcontents/_tableofcontents.scss
Labels: package: react, package: vanilla

#1965 fix(css): fixes profile menu scroll; fixes #1960
  packages/styles/scss/components/masthead/_masthead.scss
Labels: package: react, package: vanilla

#1955 fix(translation): fixes multiple translation api fetches
  packages/services/src/services/Locale/Locale.js
  packages/services/src/services/Translation/Translation.js
Labels: package: services

#1958 fix(pattern): fixed image overlapping text on mobile
  packages/styles/scss/components/lightbox-media-viewer/_lightbox-media-viewer.scss
Labels: package: react

#1981 fix(scss): fixed content not fully showing scroll bug
  packages/styles/scss/components/lightbox-media-viewer/_lightbox-media-viewer.scss
Labels: package: react

#1983 fix(expressive): bump up invalid icon size for number input
  packages/styles/scss/themes/expressive/components/_number-input.scss
Labels: package: styles

#1986 fix(lightbox-media-viewer): fixed linting error
  packages/styles/scss/components/lightbox-media-viewer/_lightbox-media-viewer.scss
Labels: package: react

#1957 fix(issue-1600-type-token): updated content block
  packages/styles/scss/patterns/sub-patterns/content-block/_content-block.scss
Labels: package: react

#1987 fix(tabs): fixed padding for selected tabs
  packages/styles/scss/themes/expressive/components/_tabs.scss
Labels: package: styles

#1982 fix(cta): refactor of cta into subcomponents
  packages/react/src/components/CTA/ButtonCTA.js
  packages/react/src/components/CTA/CTA.js
  packages/react/src/components/CTA/CardCTA.js
  packages/react/src/components/CTA/FeatureCTA.js
  packages/react/src/components/CTA/TextCTA.js
Labels: package: react

#2000 Feat/video service unit tests
  packages/services/src/services/VideoPlayer/__tests__/VideoPlayer.test.js
Labels: package: services

#2020 chore(proptype): add prop validation for feature card
  packages/react/src/patterns/blocks/FeatureCard/FeatureCard.js
Labels: package: react

#1999 fix(accessibility): added aria-label to back button
  packages/react/src/components/LocaleModal/LocaleModal.js
  packages/react/src/components/LocaleModal/LocaleModalRegions.js
Labels: package: react

#2012 fix(autoid): add autoid to ContentGroup CTA
  packages/react/src/patterns/sub-patterns/ContentGroup/ContentGroup.js
  packages/react/src/patterns/sub-patterns/ContentGroup/README.md
Labels: package: react

#1975 fix(pattern): reduced heading margin on content-group
  packages/styles/scss/components/image-with-caption/image-with-caption.scss
  packages/styles/scss/patterns/sub-patterns/content-item/_content-item.scss
Labels: package: react

#2014 fix(scss): added max-width to dotcom-shell content
  packages/react/src/patterns/sections/LeadSpace/__stories__/LeadSpace.stories.js
  packages/styles/scss/components/dotcom-shell/_dotcom-shell.scss
Labels: package: react

#2013 Fix/tabs mobile
  packages/styles/scss/themes/expressive/components/_tabs.scss
Labels: package: styles

#2023 fix(content-block): render optional linklist in layout
  packages/react/src/patterns/sub-patterns/ContentBlock/ContentBlock.js
  packages/react/src/patterns/sub-patterns/ContentBlock/__stories__/ContentBlock.stories.js
  packages/styles/scss/patterns/sub-patterns/content-block/_content-block.scss
Labels: package: react

#1991 fix(select): fixed inline select when invalid
  packages/styles/scss/themes/expressive/components/_select.scss
Labels: package: styles

#1992 Expressive/fileuploader
  packages/styles/scss/themes/expressive/components/_file-uploader.scss
Labels: package: styles

#2067 fix(accessibility): added video description as aria-label
  packages/react/src/components/VideoPlayer/VideoPlayer.js
Labels: package: react

#2068 fix(css): fix profile menu item height
  packages/styles/scss/components/masthead/_masthead.scss
Labels: package: react, package: vanilla

#2070 fix(css): masthead platform hover color
  packages/styles/scss/components/masthead/_masthead-search.scss
  packages/styles/scss/components/masthead/_masthead.scss
Labels: package: react, package: vanilla

#2074 fix(accessibility): add aria-label to IBM logo
  packages/react/src/components/Icon/IbmLogo.js
  packages/vanilla/src/components/masthead/masthead.template.js
Labels: package: react, package: vanilla

#2082 fix(search): close search on blur
  packages/react/src/components/Masthead/MastheadSearch.js
Labels: package: react

#2090 fix(scss): fixed border size for layout pattern
  packages/styles/scss/patterns/sub-patterns/layout/_layout.scss
Labels: package: react

#2084 fix(css): fix footer visited link hover color
  packages/styles/scss/components/footer/_footer.scss
Labels: package: react, package: vanilla

#2054 fix(content-block): render optional linklist in layout
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/patterns/blocks/ContentBlockMedia/ContentBlockMedia.js
  packages/react/src/patterns/blocks/ContentBlockMedia/README.md
  packages/react/src/patterns/blocks/ContentBlockMedia/__stories__/ContentBlockMedia.stories.js
  packages/react/src/patterns/blocks/ContentBlockMixed/ContentBlockMixed.js
  packages/react/src/patterns/blocks/ContentBlockMixed/README.md
  packages/react/src/patterns/blocks/ContentBlockMixed/__stories__/ContentBlockMixed.stories.js
  packages/react/src/patterns/blocks/ContentBlockSegmented/ContentBlockSegmented.js
  packages/react/src/patterns/blocks/ContentBlockSegmented/README.md
  packages/react/src/patterns/blocks/ContentBlockSegmented/__stories__/ContentBlockSegmented.stories.js
  packages/react/src/patterns/blocks/ContentBlockSimple/ContentBlockSimple.js
  packages/react/src/patterns/blocks/ContentBlockSimple/README.md
  packages/react/src/patterns/blocks/ContentBlockSimple/__stories__/ContentBlockSimple.stories.js
  packages/react/src/patterns/sub-patterns/ContentBlock/ContentBlock.js
  packages/react/src/patterns/sub-patterns/ContentBlock/README.md
  packages/react/src/patterns/sub-patterns/ContentBlock/__stories__/ContentBlock.stories.js
  packages/styles/scss/patterns/sub-patterns/content-block/_content-block.scss
Labels: package: react

#2073 fix(locale-selector): changed icon and em-dash added
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/Footer/LocaleButton.js
  packages/react/src/components/LocaleModal/LocaleModal.js
  packages/services/src/services/Locale/Locale.js
  packages/services/src/services/Locale/__tests__/Locale.test.js
Labels: package: react

#2045 fix(scss): fixed footer styles overriding locale-modal
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/Footer/FooterNavGroup.js
  packages/react/src/components/Footer/LegalNav.js
  packages/styles/scss/components/footer/_footer.scss
  packages/vanilla/src/components/footer/footerLegalItem.template.js
  packages/vanilla/src/components/footer/footerNav.template.js
Labels: package: react

#2024 fix(issue-1695): using DDO to get language
  packages/services/src/services/Locale/Locale.js
  packages/services/src/services/Locale/__tests__/Locale.test.js
  packages/services/src/services/SearchTypeahead/SearchTypeahead.js
  packages/services/src/services/SearchTypeahead/__tests__/SearchTypeahead.test.js
Labels: package: react, package: services

#2091 feat(node): updating to node 12
  .circleci/config.yml
  .yarn/offline-mirror/lodash.assign-4.2.0.tgz
  .yarn/offline-mirror/lodash.mergewith-4.6.2.tgz
  .yarn/offline-mirror/node-sass-4.10.0.tgz
  .yarn/offline-mirror/node-sass-4.13.0.tgz
  .yarnrc
  package.json
  packages/react/package.json
  packages/vanilla/package.json
  yarn.lock
Labels: package: react, package: services, package: styles, package: utilities, package: vanilla

#2085 fix(scss): fixed modal padding on mobile
  packages/styles/scss/components/lightbox-media-viewer/_lightbox-media-viewer.scss
Labels: package: react

#2093 fix(access): add aria elements to locale modal
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/LocaleModal/LocaleModal.js
  packages/react/src/components/LocaleModal/LocaleModalCountries.js
  packages/react/src/components/LocaleModal/LocaleModalRegions.js
Labels: package: react

#2095 Fix/masthead search focus
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/Masthead/MastheadSearch.js
Labels: package: react

#1998 fix(scss): image now scale down on medium and smaller devices
  packages/react/.env.example
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/LightboxMediaViewer/LightboxMediaViewer.js
  packages/react/src/components/LightboxMediaViewer/README.md
  packages/react/src/components/LightboxMediaViewer/__stories__/LightboxMediaViewer.stories.js
  packages/react/src/internal/FeatureFlags.js
  packages/styles/scss/components/lightbox-media-viewer/_lightbox-media-viewer.scss
Labels: package: react

#2106 fix(scss): lightbox video now fills the whole container height
  packages/styles/scss/components/lightbox-media-viewer/_lightbox-media-viewer.scss
Labels: package: react

#2104 fix(scss): fixed centering for medium resolutions
  packages/styles/scss/components/lightbox-media-viewer/_lightbox-media-viewer.scss
Labels: package: react

#2097 feat(videoplayer): update patterns to use videoplayer
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/patterns/blocks/ContentBlockMedia/__stories__/ContentBlockMedia.stories.js
  packages/react/src/patterns/blocks/ContentBlockMixed/__stories__/ContentBlockMixed.stories.js
  packages/react/src/patterns/blocks/ContentBlockSegmented/ContentBlockSegmented.js
  packages/react/src/patterns/blocks/ContentBlockSegmented/README.md
  packages/react/src/patterns/blocks/ContentBlockSegmented/__stories__/ContentBlockSegmented.stories.js
  packages/react/src/patterns/blocks/ContentBlockSimple/ContentBlockSimple.js
  packages/react/src/patterns/blocks/ContentBlockSimple/README.md
  packages/react/src/patterns/blocks/ContentBlockSimple/__stories__/ContentBlockSimple.stories.js
  packages/react/src/patterns/blocks/ContentGroupSimple/ContentGroupSimple.js
  packages/react/src/patterns/blocks/ContentGroupSimple/README.md
  packages/react/src/patterns/blocks/ContentGroupSimple/__stories__/ContentGroupSimple.stories.js
  packages/react/src/patterns/blocks/ContentGroupSimple/__stories__/data/ContentGroupSimple.knobs.js
  packages/react/src/patterns/sub-patterns/ContentItem/ContentItem.js
  packages/react/src/patterns/sub-patterns/ContentItem/README.md
  packages/react/src/patterns/sub-patterns/ContentItem/__stories__/ContentItem.stories.js
Labels: package: react

#2107 fix(issue-2103): isReady() catch, new test
  packages/services/src/services/DDO/DDO.js
  packages/services/src/services/Locale/Locale.js
  packages/services/src/services/Locale/__tests__/Locale.test.js
  packages/services/src/services/SearchTypeahead/__tests__/SearchTypeahead.test.js
Labels: package: react, package: services

#2111 fix(localemodal): fixes styling/imports on locale modal for nextjs
  packages/styles/scss/components/footer/index.scss
  packages/styles/scss/components/locale-modal/_locale-modal.scss
Labels: package: react

#2112 Fix/masthead search combobox reader
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/Masthead/MastheadSearch.js
  packages/react/src/components/Masthead/MastheadSearchInput.js
  packages/react/src/components/Masthead/MastheadTopNav.js
  packages/styles/scss/components/masthead/_masthead-search.scss
  packages/styles/scss/components/masthead/_masthead.scss
Labels: package: react, package: vanilla

#2130 fix(css): fix lightbox content overflow
  packages/styles/scss/components/lightbox-media-viewer/_lightbox-media-viewer.scss
Labels: package: react

#2133 fix(textarea): updated invalid icon to expressive sizing
  packages/styles/scss/themes/expressive/components/_text-area.scss
  packages/styles/scss/themes/expressive/index.scss
Labels: package: styles

#2083 Expressive/datatable
  packages/styles/scss/themes/expressive/components/_data-table.scss
Labels: package: styles

#2129 fix(console): add icon description to remove footer console error
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/Footer/LocaleButton.js
Labels: package: react

#2158 docs(cta): updated cta/linklist docs
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/CTA/README.md
  packages/react/src/patterns/sub-patterns/LinkList/README.md
  packages/react/src/patterns/sub-patterns/LinkList/__stories__/LinkList.stories.js
Labels: package: react

#2135 fix(tooltip): fixed tooltip link fontsize
  packages/styles/scss/themes/expressive/components/_tooltip.scss
Labels: package: styles

#2155 fix(storybook): add grid classes for mobile content block
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/patterns/blocks/ContentBlockMedia/__stories__/ContentBlockMedia.stories.js
  packages/react/src/patterns/blocks/ContentBlockMixed/__stories__/ContentBlockMixed.stories.js
  packages/react/src/patterns/blocks/ContentBlockSegmented/__stories__/ContentBlockSegmented.stories.js
  packages/react/src/patterns/blocks/ContentBlockSimple/__stories__/ContentBlockSimple.stories.js
  packages/react/src/patterns/sub-patterns/ContentBlock/__stories__/ContentBlock.stories.js
  packages/styles/scss/patterns/sub-patterns/content-block/_content-block.scss
  packages/styles/scss/patterns/sub-patterns/link-list/_link-list.scss
Labels: package: react

#2161 style(content-section): fixing theme error on storybook
  packages/react/src/patterns/sub-patterns/ContentSection/__stories__/index.scss
Labels: package: react

#2169 fix(pattern): added listener cleanup for several patterns
  packages/react/src/components/LocaleModal/LocaleModalCountries.js
  packages/react/src/patterns/blocks/ContentGroupCards/ContentGroupCards.js
  packages/react/src/patterns/sections/CardSection/CardSection.js
  packages/react/src/patterns/sections/SimpleBenefits/SimpleBenefits.js
  packages/react/src/patterns/sub-patterns/TableOfContents/TableOfContents.js
Labels: package: react

#2164 fix(cta): pass in title and desc to lightboxviewer from video api
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/CTA/__stories__/CTA.stories.js
  packages/react/src/components/LightboxMediaViewer/LightboxMediaViewer.js
  packages/react/src/components/LightboxMediaViewer/README.md
  packages/react/src/components/LightboxMediaViewer/__stories__/LightboxMediaViewer.stories.js
  packages/services/src/services/VideoPlayer/VideoPlayer.js
Labels: package: react

#2172 Fix/masthead react errors
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/Masthead/Masthead.js
  packages/react/src/components/Masthead/MastheadL1.js
  packages/react/src/components/Masthead/MastheadLeftNav.js
  packages/react/src/components/Masthead/MastheadSearch.js
  packages/react/src/components/Masthead/__stories__/data/Masthead.stories.knobs.js
  packages/react/src/components/carbon-components-react/UIShell/HeaderMenu.js
  packages/react/src/components/carbon-components-react/UIShell/SideNavMenu.js
  packages/styles/scss/components/masthead/_masthead-leftnav.scss
  packages/styles/scss/components/masthead/_masthead.scss
Labels: package: react

#2173 fix(lightbox): display videoplayer and desc copy without distortion
  packages/styles/scss/components/lightbox-media-viewer/_lightbox-media-viewer.scss
Labels: package: react

#2174 fix(locale): fix locale scroll on mobile landscape
  packages/styles/scss/components/locale-modal/_locale-modal.scss
Labels: package: react

#2136 fix(console): remove console errors for locale modal
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/LocaleModal/LocaleModal.js
  packages/react/src/components/LocaleModal/LocaleModalCountries.js
  packages/react/src/components/LocaleModal/LocaleModalRegions.js
  packages/react/src/patterns/sub-patterns/Card/Card.js
Labels: package: react

#2181 fix(storybook): put aside elements in separate story for content block decorators
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/patterns/blocks/ContentBlockMedia/__stories__/ContentBlockMedia.stories.js
  packages/react/src/patterns/blocks/ContentBlockMixed/__stories__/ContentBlockMixed.stories.js
  packages/react/src/patterns/blocks/ContentBlockSegmented/__stories__/ContentBlockSegmented.stories.js
  packages/react/src/patterns/blocks/ContentBlockSimple/__stories__/ContentBlockSimple.stories.js
Labels: package: react

#2221 fix(expressive-theme): removing __docgenInfo references
  packages/styles/src/carbon-stories/ComboBox/ComboBox-story.js
  packages/styles/src/carbon-stories/InlineLoading/InlineLoading-story.js
Labels: package: styles

#2236 fix(css): fix masthead button hover/active colors
  packages/styles/scss/components/masthead/_masthead.scss
Labels: package: react

#2222 style(locale-modal): underline added to the eyebrow link
  packages/styles/scss/components/locale-modal/_locale-modal.scss
Labels: package: react

#2238 fix(masthead): update masthead nav chevron size
  packages/react/src/components/carbon-components-react/UIShell/HeaderMenu.js
  packages/styles/scss/components/masthead/_masthead-l1.scss
Labels: package: react

#2244 style(locale-modal): applying correct type size
  packages/styles/scss/components/locale-modal/_locale-modal.scss
Labels: package: react

#2225 Feat/language selector
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/Footer/Footer.js
  packages/react/src/components/Footer/LanguageSelector.js
  packages/react/src/components/Footer/README.md
  packages/react/src/components/Footer/__data__/language-items.json
  packages/react/src/components/Footer/__stories__/Footer.stories.js
  packages/react/src/internal/FeatureFlags.js
  packages/styles/scss/components/footer/_language-selector.scss
  packages/styles/scss/components/footer/index.scss
Labels: package: react

#2243 fix(console-errors): various fixes for console errors
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/CTA/ButtonCTA.js
  packages/react/src/components/CTA/CTA.js
  packages/react/src/components/ExpressiveModal/__stories__/ExpressiveModal.stories.js
  packages/react/src/components/ImageWithCaption/ImageWithCaption.js
  packages/react/src/components/VideoPlayer/__stories__/VideoPlayer.stories.js
  packages/react/src/patterns/blocks/ContentBlockMedia/__stories__/ContentBlockMedia.stories.js
  packages/react/src/patterns/blocks/ContentBlockMixed/__stories__/ContentBlockMixed.stories.js
  packages/react/src/patterns/blocks/ContentBlockSimple/__stories__/ContentBlockSimple.stories.js
  packages/react/src/patterns/blocks/FeatureCard/FeatureCard.js
  packages/react/src/patterns/sections/CardSection/CardSection.js
  packages/react/src/patterns/sections/CardSectionSimple/CardSectionSimple.js
  packages/react/src/patterns/sub-patterns/ButtonGroup/ButtonGroup.js
  packages/react/src/patterns/sub-patterns/Card/__stories__/Card.stories.js
  packages/react/src/patterns/sub-patterns/ContentGroup/__stories__/ContentGroup.stories.js
Labels: package: react

#2251 fix(dotcomshell): passing additional footer props through dotcomshell
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/DotcomShell/DotcomShell.js
  packages/react/src/components/DotcomShell/README.md
  packages/react/src/components/DotcomShell/__stories__/DotcomShell.stories.js
  packages/react/src/components/Footer/LanguageSelector.js
  packages/react/src/components/Footer/__stories__/Footer.stories.js
  packages/react/src/components/Masthead/Masthead.js
  packages/react/src/components/Masthead/README.md
  packages/react/src/components/Masthead/__stories__/Masthead.stories.js
Labels: package: react
