Repository carbon-design-system/carbon-for-ibm-dotcom, pull requests merged in 2020-01, with the labels that each got.

#899 Fix/link with icon
  packages/react/src/components/LinkWithIcon/LinkWithIcon.js
  packages/styles/scss/components/link-with-icon/_link-with-icon.scss
Labels: package: react

#920 fix(expressive): number input and text input expressive styles
  packages/styles/scss/themes/expressive/components/_number-input.scss
  packages/styles/scss/themes/expressive/components/_text-input.scss
  packages/styles/src/carbon-stories/TextInput/TextInput-story.js
Labels: package: styles

#904 fix(scss): aligned footer items to the grid
  packages/styles/scss/components/footer/_footer-nav-group.scss
  packages/styles/scss/components/footer/_footer-nav.scss
Labels: package: react, package: vanilla

#965 fix(expressive): rename combobox file to match config syntax
  packages/styles/src/carbon-stories/ComboBox/ComboBox-story.js
Labels: package: styles

#969 Fix/card link
  packages/styles/scss/components/card-link/index.scss
Labels: package: react, package: styles

#973 fix(cards-array): fix typo
  packages/styles/scss/patterns/cardarray/README.md
Labels: package: styles

#910 feat(pattern): created an alpha version of the logo grid
  packages/patterns-react/.env.example
  packages/patterns-react/src/internal/FeatureFlags.js
  packages/patterns-react/src/patterns/LogoGrid/LogoGrid.js
  packages/patterns-react/src/patterns/LogoGrid/README.md
  packages/patterns-react/src/patterns/LogoGrid/__stories__/LogoGrid.stories.js
  packages/patterns-react/src/patterns/LogoGrid/__stories__/index.scss
  packages/patterns-react/src/patterns/LogoGrid/index.js
  packages/styles/scss/ibm-dotcom-styles.scss
  packages/styles/scss/patterns/logo-grid/README.md
  packages/styles/scss/patterns/logo-grid/_logo-grid.scss
Labels: package: patterns

#977 fix(markdown-utility): make converter be opt-out
  packages/utilities/src/utilities/markdownToHtml/__tests__/markdownToHtml.js
  packages/utilities/src/utilities/markdownToHtml/markdownToHtml.js
Labels: package: utilities

#963 feat(expressive): bump carbon dependencies, expressive styles for tabs components, and include carbon prefix for spacing tokens
  .yarn/offline-mirror/@carbon-icons-react-10.6.0.tgz
  .yarn/offline-mirror/@carbon-layout-10.7.0.tgz
  .yarn/offline-mirror/carbon-components-10.7.4.tgz
  .yarn/offline-mirror/carbon-components-react-7.7.4.tgz
  packages/react/package.json
  packages/react/src/components/LocaleModal/LocaleModal.js
  packages/styles/package.json
  packages/styles/scss/components/buttongroup/_buttongroup.scss
  packages/styles/scss/components/card-link/index.scss
  packages/styles/scss/components/dotcom-shell/_dotcom-shell.scss
  packages/styles/scss/components/footer/_locale-button.scss
  packages/styles/scss/components/link-with-icon/_link-with-icon.scss
  packages/styles/scss/components/locale-modal/_locale-modal.scss
  packages/styles/scss/components/masthead/_masthead-l1.scss
  packages/styles/scss/components/masthead/_masthead-leftnav.scss
  packages/styles/scss/components/masthead/_masthead-search.scss
  packages/styles/scss/components/masthead/_masthead.scss
  packages/styles/scss/patterns/leadspace-centered/_leadspace-centered.scss
  packages/styles/scss/patterns/leadspace/_leadspace.scss
  packages/styles/scss/themes/expressive/components/_number-input.scss
  packages/styles/scss/themes/expressive/components/_tabs.scss
  packages/styles/scss/themes/expressive/index.scss
  yarn.lock
Labels: package: patterns, package: react, package: styles

#901 fix(pictogram-array): use markdown utility
  packages/patterns-react/src/patterns/PictogramArray/PictogramArrayItem.js
  packages/patterns-react/src/patterns/PictogramArray/README.md
  packages/patterns-react/src/patterns/PictogramArray/__stories__/PictogramArray.stories.js
Labels: package: patterns, package: utilities

#970 fix(utility): changed same-height utility name to camel case
  packages/react/src/components/LinkWithIcon/LinkWithIcon.js
  packages/react/src/components/LocaleModal/LocaleModalCountries.js
  packages/utilities/src/utilities/index.js
  packages/utilities/src/utilities/sameHeight/index.js
  packages/utilities/src/utilities/sameHeight/sameHeight.js
Labels: package: utilities

#983 feat(pattern): created an alpha version of CardSection pattern layout
  packages/patterns-react/.env.example
  packages/patterns-react/src/internal/FeatureFlags.js
  packages/patterns-react/src/patterns/CardSection/CardSection.js
  packages/patterns-react/src/patterns/CardSection/ImageCards.js
  packages/patterns-react/src/patterns/CardSection/README.md
  packages/patterns-react/src/patterns/CardSection/SimpleCards.js
  packages/patterns-react/src/patterns/CardSection/__stories__/CardSection.stories.js
  packages/patterns-react/src/patterns/CardSection/__stories__/index.scss
  packages/patterns-react/src/patterns/CardSection/index.js
  packages/patterns-react/src/patterns/CardsWithoutImages/CardsWithoutImages.js
  packages/patterns-react/src/patterns/CardsWithoutImages/CardsWithoutImagesGroup.js
  packages/patterns-react/src/patterns/CardsWithoutImages/__stories__/CardsWithoutImages.stories.js
  packages/patterns-react/src/patterns/CardsWithoutImages/__stories__/index.scss
  packages/patterns-react/src/patterns/index.js
  packages/react/src/components/CardLink/CardLink.js
  packages/react/src/components/CardLink/README.md
  packages/styles/scss/components/card-link/README.md
  packages/styles/scss/components/card-link/index.scss
  packages/styles/scss/ibm-dotcom-styles.scss
  packages/styles/scss/patterns/card-section/README.md
  packages/styles/scss/patterns/card-section/_card-section.scss
  packages/styles/scss/patterns/cards-without-images/README.md
  packages/styles/scss/patterns/cards-without-images/_cards-without-images.scss
  packages/styles/scss/patterns/cards-without-images/index.scss
Labels: package: patterns

#991 feat(expressive): select expressive theme
  packages/styles/scss/themes/expressive/components/_select.scss
Labels: package: styles

#989 feat(expressive): search expressive theme
  packages/styles/scss/themes/expressive/components/_search.scss
  packages/styles/scss/themes/expressive/index.scss
Labels: package: styles

#994 feat(expressive): combo-box expressive theme
  packages/styles/scss/themes/expressive/components/_combo-box.scss
  packages/styles/scss/themes/expressive/index.scss
Labels: package: styles

#961 feat(component): image component
  packages/react/src/components/Image/Image.js
  packages/react/src/components/Image/README.md
  packages/react/src/components/Image/__stories__/Image.stories.js
  packages/react/src/components/Image/__stories__/index.scss
  packages/react/src/components/Image/index.js
  packages/react/src/components/index.js
  packages/react/src/internal/FeatureFlags.js
  packages/styles/scss/components/imagecomponent/_imagecomponent.scss
  packages/styles/scss/patterns/FeaturedLink/index.scss
Labels: package: react

#960 Feat/benefits band
  packages/patterns-react/.env.example
  packages/patterns-react/src/internal/FeatureFlags.js
  packages/patterns-react/src/patterns/SimpleBenefits/README.md
  packages/patterns-react/src/patterns/SimpleBenefits/SimpleBenefits.js
  packages/patterns-react/src/patterns/SimpleBenefits/SimpleBenefitsItem.js
  packages/patterns-react/src/patterns/SimpleBenefits/__stories__/SimpleBenefits.stories.js
  packages/patterns-react/src/patterns/SimpleBenefits/__stories__/index.scss
  packages/patterns-react/src/patterns/SimpleBenefits/index.js
  packages/patterns-react/src/patterns/index.js
  packages/styles/scss/ibm-dotcom-styles.scss
  packages/styles/scss/patterns/simplebenefits/README.md
  packages/styles/scss/patterns/simplebenefits/_simplebenefits-item.scss
  packages/styles/scss/patterns/simplebenefits/_simplebenefits.scss
  packages/styles/scss/patterns/simplebenefits/index.scss
Labels: package: patterns

#1008 fix(branch): Fixed branch update issues on previous PictogramArray PR
  packages/react/src/components/ContentGroup/ContentGroup.js
  packages/react/src/components/ContentGroup/README.md
  packages/react/src/components/ContentGroup/__stories__/ContentArrayGroup.stories.js
  packages/react/src/components/ContentGroup/__stories__/index.scss
  packages/react/src/components/ContentGroup/index.js
  packages/react/src/components/index.js
  packages/react/src/internal/FeatureFlags.js
  packages/styles/scss/components/content-group/_content-group.scss
Labels: package: patterns, package: react, package: styles

#902 Content Group component created
  .yarn/offline-mirror/@carbon-grid-10.8.0.tgz
  packages/patterns-react/.env.example
  packages/patterns-react/src/patterns/CardArray/CardArray.js
  packages/patterns-react/src/patterns/CardArray/CardArrayItem.js
  packages/patterns-react/src/patterns/CardArray/__stories__/CardArray.stories.js
  packages/react/src/internal/FeatureFlags.js
  packages/styles/package.json
  packages/styles/scss/ibm-dotcom-styles.scss
  packages/styles/scss/patterns/cardarray/_cardarray-item.scss
  packages/styles/scss/patterns/cardarray/_cardarray.scss
  packages/styles/scss/patterns/cardarray/index.scss
  yarn.lock
Labels: package: patterns, package: react

#987 fix(dependencies): update carbon dependencies
  .yarn/offline-mirror/@carbon-colors-10.3.0.tgz
  .yarn/offline-mirror/@carbon-colors-10.7.0.tgz
  .yarn/offline-mirror/@carbon-grid-10.6.0.tgz
  .yarn/offline-mirror/@carbon-icon-helpers-10.4.0.tgz
  .yarn/offline-mirror/@carbon-icons-react-10.6.1.tgz
  .yarn/offline-mirror/@carbon-pictograms-react-10.7.0.tgz
  .yarn/offline-mirror/@carbon-pictograms-react-10.8.0.tgz
  .yarn/offline-mirror/@carbon-themes-10.4.0.tgz
  .yarn/offline-mirror/@carbon-themes-10.9.0.tgz
  .yarn/offline-mirror/@carbon-type-10.8.0.tgz
  packages/patterns-react/package.json
  packages/styles/package.json
  packages/vanilla/package.json
  yarn.lock
Labels: package: patterns, package: react, package: styles, package: vanilla

#1012 feat(expressive): tooltip expressive styles
  packages/styles/scss/themes/expressive/components/_tooltip.scss
  packages/styles/scss/themes/expressive/index.scss
Labels: package: styles

#1019 feat(pattern): updated list-section to use the content-group
  packages/patterns-react/src/patterns/ListSection/ListSection.js
  packages/patterns-react/src/patterns/ListSection/ListSectionGroup.js
  packages/styles/scss/patterns/listsection/_listsection-group.scss
Labels: package: patterns

#1049 fix(pictogram): align pictogram array with grid
  packages/patterns-react/src/patterns/PictogramArray/PictogramArray.js
  packages/patterns-react/src/patterns/PictogramArray/PictogramArrayItem.js
  packages/styles/scss/patterns/pictogramarray/_pictogramarray-item.scss
  packages/styles/scss/patterns/pictogramarray/_pictogramarray.scss
Labels: package: patterns

#1003 fix(travis): removing travis
  .travis.yml
  .travis/check_label.js
  .travis/deploy_preview_before_install.sh
  .travis/deploy_preview_build.sh
  .travis/deploy_preview_comment.js
Labels: package: patterns, package: react, package: services, package: styles, package: utilities, package: vanilla

#1011 feat(pattern): featuredlink updated pr
  packages/patterns-react/src/internal/FeatureFlags.js
  packages/patterns-react/src/patterns/CardSection/CardSection.js
  packages/patterns-react/src/patterns/CardSection/ImageCards.js
  packages/patterns-react/src/patterns/CardSection/__stories__/CardSection.stories.js
  packages/patterns-react/src/patterns/FeaturedLink/FeaturedLink.js
  packages/patterns-react/src/patterns/FeaturedLink/README.md
  packages/patterns-react/src/patterns/FeaturedLink/__stories__/FeaturedLink.stories.js
  packages/patterns-react/src/patterns/FeaturedLink/__stories__/index.scss
  packages/patterns-react/src/patterns/FeaturedLink/index.js
  packages/patterns-react/src/patterns/UseCases/UseCases.js
  packages/patterns-react/src/patterns/UseCases/__stories__/UseCases.stories.js
  packages/patterns-react/src/patterns/index.js
  packages/react/src/components/CardLink/CardLink.js
  packages/react/src/components/Image/Image.js
  packages/react/src/components/Image/__stories__/index.scss
  packages/styles/scss/components/card-link/index.scss
  packages/styles/scss/components/image/_image.scss
  packages/styles/scss/globals/utils/_aspect-ratio.scss
  packages/styles/scss/ibm-dotcom-styles.scss
  packages/styles/scss/patterns/FeaturedLink/README.md
  packages/styles/scss/patterns/FeaturedLink/_featuredlink.scss
  packages/styles/scss/patterns/FeaturedLink/index.scss
  packages/styles/scss/patterns/card-section/_card-section.scss
  packages/styles/scss/patterns/leadspace/_leadspace.scss
  packages/styles/scss/patterns/simplelongform/_simplelongform.scss
Labels: package: patterns

#1053 feat(expressive): inline notifications action button styles
  packages/styles/scss/themes/expressive/components/_inline-notifications.scss
  packages/styles/scss/themes/expressive/index.scss
  packages/styles/src/carbon-stories/Notification/Notification-story.js
Labels: package: styles

#1061 Expressive theme (Structured list)
  packages/styles/scss/themes/expressive/components/_structured-list.scss
  packages/styles/scss/themes/expressive/index.scss
Labels: package: styles

#1034 fix(pattern): fixed gutter between cards using gridCondensed property
  packages/patterns-react/src/patterns/CardSection/CardSection.js
  packages/patterns-react/src/patterns/CardSection/README.md
  packages/patterns-react/src/patterns/CardSection/__stories__/CardSection.stories.js
  packages/styles/scss/patterns/card-section/_card-section.scss
  packages/styles/scss/patterns/logo-grid/_logo-grid.scss
Labels: package: patterns

#1104 fix(expressive): uncomment default DataTable story
  packages/styles/src/carbon-stories/DataTable/DataTable-story.js
Labels: package: styles

#1095 fix(image): properly linking the Image README to storybook
  packages/patterns-react/src/patterns/FeaturedLink/__stories__/FeaturedLink.stories.js
  packages/react/src/components/Image/__stories__/Image.stories.js
Labels: package: react

#1110 feat(expressive): loading icon and remove checkbox changes
  packages/styles/scss/themes/expressive/components/_checkbox.scss
  packages/styles/scss/themes/expressive/components/_inline-loading.scss
  packages/styles/scss/themes/expressive/components/_loading.scss
  packages/styles/scss/themes/expressive/index.scss
Labels: package: styles

#1118 feat(storybook): breaking out sections in storybook
  packages/patterns-react/src/patterns/CardArray/__stories__/CardArray.stories.js
  packages/patterns-react/src/patterns/CardSection/__stories__/CardSection.stories.js
  packages/patterns-react/src/patterns/CardSection/__stories__/data/cards.json
  packages/patterns-react/src/patterns/FeaturedLink/__stories__/FeaturedLink.stories.js
  packages/patterns-react/src/patterns/LeadSpace/__stories__/LeadSpace.stories.js
  packages/patterns-react/src/patterns/LeadSpaceCentered/__stories__/LeadSpaceCentered.stories.js
  packages/patterns-react/src/patterns/ListSection/__stories__/ListSection.stories.js
  packages/patterns-react/src/patterns/LogoGrid/__stories__/LogoGrid.stories.js
  packages/patterns-react/src/patterns/LogoGrid/__stories__/data/logos.json
  packages/patterns-react/src/patterns/PictogramArray/__stories__/PictogramArray.stories.js
  packages/patterns-react/src/patterns/SimpleBenefits/__stories__/SimpleBenefits.stories.js
  packages/patterns-react/src/patterns/SimpleLongForm/__stories__/SimpleLongForm.stories.js
  packages/patterns-react/src/patterns/SimpleOverview/__stories__/SimpleOverview.stories.js
  packages/patterns-react/src/patterns/UseCases/__stories__/UseCases.stories.js
  packages/patterns-react/src/patterns/overview.js
Labels: package: patterns

#1050 fix(pattern): addresed the PR review comments
  packages/react/src/components/LightboxMediaViewer/LightboxMediaViewer.js
  packages/react/src/components/LightboxMediaViewer/README.md
  packages/react/src/components/LightboxMediaViewer/__stories__/LightboxMediaViewer.stories.js
  packages/styles/scss/components/lightbox-media-viewer/_lightbox-media-viewer.scss
Labels: package: react

#1060 feat(expressive): styles added for code snippet
  packages/styles/scss/themes/expressive/components/_code-snippet.scss
  packages/styles/scss/themes/expressive/components/_copy-button.scss
  packages/styles/scss/themes/expressive/index.scss
Labels: package: styles

#1181 fix(footer): render locale modal on client side when button is clicked
  .yarn/offline-mirror/@carbon-ibmdotcom-services-1.3.0-alpha.6.tgz
  packages/react/examples/nextjs/package.json
  packages/react/examples/nextjs/pages/index.js
  packages/react/examples/nextjs/yarn.lock
  packages/react/package.json
  packages/react/src/components/DotcomShell/DotcomShell.js
  packages/react/src/components/Footer/Footer.js
  packages/react/src/components/Footer/LocaleButton.js
  packages/react/src/components/Footer/README.md
  packages/services/src/services/Locale/Locale.js
  packages/utilities/src/utilities/altlangs/altlangs.js
  yarn.lock
Labels: package: react

#1183 feat(expressive): overflow menu expressive styles
  packages/styles/scss/themes/expressive/components/_overflow-menu.scss
  packages/styles/scss/themes/expressive/index.scss
Labels: package: styles

#1265 fix(storybook): move localemodal knob within story
  packages/react/src/components/LocaleModal/__stories__/LocaleModal.stories.js
Labels: package: react

#1272 fix(expressive): add the field knob in for dropdown
  packages/styles/scss/themes/expressive/components/_dropdown.scss
  packages/styles/scss/themes/expressive/index.scss
  packages/styles/src/carbon-stories/Dropdown/Dropdown-story.js
Labels: package: styles

#1146 feat(datepicker): updated icons and spacing
  packages/styles/scss/themes/expressive/components/_date-picker.scss
Labels: package: styles
