Repository carbon-design-system/carbon-for-ibm-dotcom, pull requests merged in 2020-05, with the labels that each got.

#2269 fix(ipcinfo): properly set the ipcinfo cookie in the locale modal
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/Footer/Footer.js
  packages/react/src/components/LocaleModal/LocaleModalCountries.js
Labels: package: react

#2261 Feat/callout
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/patterns/sub-patterns/Callout/Callout.js
  packages/react/src/patterns/sub-patterns/Callout/README.md
  packages/react/src/patterns/sub-patterns/Callout/__stories__/Callout.stories.js
  packages/react/src/patterns/sub-patterns/Callout/__stories__/index.scss
  packages/react/src/patterns/sub-patterns/Callout/__tests__/Callout.test.js
  packages/react/src/patterns/sub-patterns/Callout/index.js
  packages/styles/scss/ibm-dotcom-styles.scss
  packages/styles/scss/patterns/sub-patterns/callout/_callout.scss
Labels: package: react

#2282 fix(locale): remove scroll on vertical media query
  packages/styles/scss/components/locale-modal/_locale-modal.scss
Labels: package: react

#2257 feat(pattern): quote pattern created
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/patterns/sub-patterns/Quote/Quote.js
  packages/react/src/patterns/sub-patterns/Quote/README.md
  packages/react/src/patterns/sub-patterns/Quote/__stories__/Quote.stories.js
  packages/react/src/patterns/sub-patterns/Quote/__stories__/index.scss
  packages/react/src/patterns/sub-patterns/Quote/__tests__/Quote.test.js
  packages/react/src/patterns/sub-patterns/Quote/index.js
  packages/styles/scss/ibm-dotcom-styles.scss
  packages/styles/scss/patterns/sub-patterns/quote/_quote.scss
Labels: package: react

#2271 Feat/rtl
  .github/PULL_REQUEST_TEMPLATE.md
  packages/react/.env.example
  packages/react/.storybook/webpack.config.js
  packages/react/manifest-rtl.yml
Labels: RTL

#2309 Fix/video player
  packages/react/.env.example
  packages/react/src/components/VideoPlayer/README.md
  packages/services/src/services/VideoPlayer/VideoPlayer.js
Labels: package: react, package: services

#2310 Feat/pattern cards group
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/patterns/sections/CardSection/README.md
  packages/react/src/patterns/sections/CardSection/__stories__/CardSection.stories.js
  packages/react/src/patterns/sections/CardSection/__stories__/index.scss
  packages/react/src/patterns/sections/CardSectionImages/CardSectionImages.js
  packages/react/src/patterns/sections/CardSectionImages/README.md
  packages/react/src/patterns/sections/CardSectionImages/__stories__/CardSectionImages.stories.js
  packages/react/src/patterns/sections/CardSectionSimple/CardSectionSimple.js
  packages/react/src/patterns/sections/CardSectionSimple/README.md
  packages/react/src/patterns/sections/CardSectionSimple/__stories__/CardSectionSimple.stories.js
  packages/react/src/patterns/sub-patterns/CardGroup/CardGroup.js
  packages/react/src/patterns/sub-patterns/CardGroup/README.md
  packages/react/src/patterns/sub-patterns/CardGroup/__stories__/CardGroup.stories.js
  packages/react/src/patterns/sub-patterns/CardGroup/__stories__/data/cards.json
  packages/react/src/patterns/sub-patterns/CardGroup/__stories__/index.scss
  packages/react/src/patterns/sub-patterns/CardGroup/index.js
  packages/react/src/patterns/sub-patterns/index.js
  packages/styles/scss/ibm-dotcom-styles.scss
  packages/styles/scss/patterns/sections/card-section/README.md
  packages/styles/scss/patterns/sub-patterns/card-group/_card-group.scss
Labels: package: react

#2321 chore(docs): update readme code examples
  packages/react/src/components/CTA/README.md
  packages/react/src/components/DotcomShell/README.md
  packages/react/src/components/ExpressiveModal/README.md
  packages/react/src/components/Footer/README.md
  packages/react/src/components/HorizontalRule/README.md
  packages/react/src/components/Image/README.md
  packages/react/src/components/ImageWithCaption/README.md
  packages/react/src/components/LightboxMediaViewer/README.md
  packages/react/src/components/LinkWithIcon/README.md
  packages/react/src/components/LocaleModal/README.md
  packages/react/src/components/Masthead/README.md
  packages/react/src/components/VideoPlayer/README.md
  packages/react/src/patterns/blocks/ContentBlockMedia/README.md
  packages/react/src/patterns/blocks/ContentBlockMixed/README.md
  packages/react/src/patterns/blocks/ContentBlockSegmented/README.md
  packages/react/src/patterns/blocks/ContentBlockSimple/README.md
  packages/react/src/patterns/blocks/ContentGroupCards/README.md
  packages/react/src/patterns/blocks/ContentGroupPictograms/README.md
  packages/react/src/patterns/blocks/ContentGroupSimple/README.md
  packages/react/src/patterns/blocks/FeatureCard/README.md
  packages/react/src/patterns/blocks/LogoGrid/README.md
  packages/react/src/patterns/sections/CardSectionImages/README.md
  packages/react/src/patterns/sections/CardSectionSimple/README.md
  packages/react/src/patterns/sections/LeadSpace/README.md
  packages/react/src/patterns/sections/SimpleBenefits/README.md
  packages/react/src/patterns/sections/SimpleOverview/README.md
  packages/react/src/patterns/sub-patterns/ButtonGroup/README.md
  packages/react/src/patterns/sub-patterns/Callout/README.md
  packages/react/src/patterns/sub-patterns/Card/README.md
  packages/react/src/patterns/sub-patterns/CardGroup/README.md
  packages/react/src/patterns/sub-patterns/ContentBlock/README.md
  packages/react/src/patterns/sub-patterns/ContentGroup/README.md
  packages/react/src/patterns/sub-patterns/ContentItem/README.md
  packages/react/src/patterns/sub-patterns/ContentSection/README.md
  packages/react/src/patterns/sub-patterns/Layout/README.md
  packages/react/src/patterns/sub-patterns/LinkList/README.md
  packages/react/src/patterns/sub-patterns/PictogramItem/README.md
  packages/react/src/patterns/sub-patterns/Quote/README.md
  packages/react/src/patterns/sub-patterns/TableOfContents/README.md
Labels: package: react

#2278 fix(cta): refactor logic out of cta into class
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/CTA/ButtonCTA.js
  packages/react/src/components/CTA/CTA.js
  packages/react/src/components/CTA/CTALogic.js
  packages/react/src/components/CTA/CardCTA.js
  packages/react/src/components/CTA/FeatureCTA.js
  packages/react/src/components/CTA/TextCTA.js
  packages/react/src/internal/hooks/useVideoData/__tests__/useVideoData.test.js
  packages/react/src/internal/hooks/useVideoData/index.js
  packages/react/src/internal/hooks/useVideoData/useVideoData.js
Labels: package: react

#2317 feat(pattern): callout-quote pattern created
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/patterns/blocks/CalloutQuote/CalloutQuote.js
  packages/react/src/patterns/blocks/CalloutQuote/README.md
  packages/react/src/patterns/blocks/CalloutQuote/__stories__/CalloutQuote.stories.js
  packages/react/src/patterns/blocks/CalloutQuote/__stories__/index.scss
  packages/react/src/patterns/blocks/CalloutQuote/__tests__/CalloutQuote.test.js
  packages/react/src/patterns/blocks/CalloutQuote/index.js
  packages/styles/scss/ibm-dotcom-styles.scss
  packages/styles/scss/patterns/blocks/callout-quote/index.scss
  packages/styles/scss/patterns/sub-patterns/quote/_quote.scss
Labels: package: react

#2292 feat(contentblock): added inverse theme
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/patterns/sub-patterns/ContentBlock/ContentBlock.js
  packages/react/src/patterns/sub-patterns/ContentBlock/README.md
  packages/react/src/patterns/sub-patterns/ContentBlock/__stories__/ContentBlock.stories.js
  packages/styles/scss/patterns/sub-patterns/content-block/_content-block.scss
Labels: package: react

#2200 feat(footer): Updated with new design specs
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/Footer/LegalNav.js
  packages/react/src/components/Footer/__tests__/Footer.test.js
  packages/styles/scss/components/footer/_footer-logo.scss
  packages/styles/scss/components/footer/_footer.scss
  packages/styles/scss/components/footer/_legal-nav.scss
Labels: package: react

#2293 Feat/image with caption inverse
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/ImageWithCaption/ImageWithCaption.js
  packages/react/src/components/ImageWithCaption/README.md
  packages/react/src/components/ImageWithCaption/__stories__/ImageWithCaption.stories.js
  packages/styles/scss/components/image-with-caption/image-with-caption.scss
Labels: package: react

#2311 Feat/videoplayer inverse
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/VideoPlayer/README.md
  packages/react/src/components/VideoPlayer/VideoPlayer.js
  packages/react/src/components/VideoPlayer/__stories__/VideoPlayer.stories.js
  packages/styles/scss/components/video-player/_video-player.scss
Labels: package: react

#2329 Feat/percy
  .yarn/offline-mirror/@percy-io-in-percy-0.1.11.tgz
  .yarn/offline-mirror/@percy-react-percy-api-client-0.4.6.tgz
  .yarn/offline-mirror/@percy-storybook-3.3.0.tgz
  .yarn/offline-mirror/bluebird-3.7.2.tgz
  .yarn/offline-mirror/bluebird-retry-0.11.0.tgz
  .yarn/offline-mirror/buffer-crc32-0.2.13.tgz
  .yarn/offline-mirror/dotenv-8.2.0.tgz
  .yarn/offline-mirror/es6-error-4.1.1.tgz
  .yarn/offline-mirror/es6-promise-pool-2.5.0.tgz
  .yarn/offline-mirror/extract-zip-1.7.0.tgz
  .yarn/offline-mirror/fd-slicer-1.1.0.tgz
  .yarn/offline-mirror/foreachasync-3.0.0.tgz
  .yarn/offline-mirror/jssha-2.4.2.tgz
  .yarn/offline-mirror/mime-db-1.44.0.tgz
  .yarn/offline-mirror/mime-types-2.1.27.tgz
  .yarn/offline-mirror/pend-1.2.0.tgz
  .yarn/offline-mirror/percy-client-3.7.0.tgz
  .yarn/offline-mirror/proxy-from-env-1.1.0.tgz
  .yarn/offline-mirror/puppeteer-1.20.0.tgz
  .yarn/offline-mirror/request-promise-4.2.5.tgz
  .yarn/offline-mirror/request-promise-core-1.1.3.tgz
  .yarn/offline-mirror/slugify-1.4.0.tgz
  .yarn/offline-mirror/walk-2.3.14.tgz
  .yarn/offline-mirror/ws-6.2.1.tgz
  .yarn/offline-mirror/yauzl-2.10.0.tgz
  packages/react/package.json
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/DotcomShell/__stories__/DotcomShell.stories.js
  packages/react/src/components/Footer/__stories__/Footer.stories.js
  packages/react/src/components/LightboxMediaViewer/__stories__/LightboxMediaViewer.stories.js
  packages/react/src/components/LocaleModal/__stories__/LocaleModal.stories.js
  packages/react/src/components/Masthead/__stories__/Masthead.stories.js
  packages/react/src/components/VideoPlayer/__stories__/VideoPlayer.stories.js
  packages/react/src/components/overview.js
  yarn.lock
Labels: design: visual

#2330 Feat/content item inverse
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/patterns/sub-patterns/ContentItem/ContentItem.js
  packages/react/src/patterns/sub-patterns/ContentItem/README.md
  packages/react/src/patterns/sub-patterns/ContentItem/__stories__/ContentItem.stories.js
  packages/styles/scss/patterns/sub-patterns/content-item/_content-item.scss
Labels: package: react

#2335 feat(contentblocksimple): added inverse theme to contentblocksimple
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/patterns/blocks/ContentBlockSimple/ContentBlockSimple.js
  packages/react/src/patterns/blocks/ContentBlockSimple/README.md
  packages/react/src/patterns/blocks/ContentBlockSimple/__stories__/ContentBlockSimple.stories.js
  packages/styles/scss/patterns/blocks/content-block-simple/_content-block-simple.scss
Labels: package: react

#2337 Feat/callout with media
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/patterns/blocks/CalloutWithMedia/CalloutWithMedia.js
  packages/react/src/patterns/blocks/CalloutWithMedia/README.md
  packages/react/src/patterns/blocks/CalloutWithMedia/__stories__/CalloutWithMedia.stories.js
  packages/react/src/patterns/blocks/CalloutWithMedia/__stories__/index.scss
  packages/react/src/patterns/blocks/CalloutWithMedia/index.js
  packages/react/src/patterns/blocks/index.js
  packages/styles/scss/ibm-dotcom-styles.scss
  packages/styles/scss/patterns/blocks/callout-with-media/index.scss
Labels: package: react

#2336 Feat/pattern cta section
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/patterns/sections/CTASection/CTASection.js
  packages/react/src/patterns/sections/CTASection/README.md
  packages/react/src/patterns/sections/CTASection/__stories__/CTASection.stories.js
  packages/react/src/patterns/sections/CTASection/__stories__/index.scss
  packages/react/src/patterns/sections/CTASection/__tests__/CTASection.test.js
  packages/react/src/patterns/sections/CTASection/index.js
  packages/react/src/patterns/sections/index.js
  packages/styles/scss/ibm-dotcom-styles.scss
  packages/styles/scss/patterns/sections/ctasection/README.md
  packages/styles/scss/patterns/sections/ctasection/_ctasection.scss
  packages/styles/scss/patterns/sections/ctasection/index.scss
Labels: package: react

#2334 Feature/1857 feature card block
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/patterns/blocks/FeatureCardBlockLarge/FeatureCardBlockLarge.js
  packages/react/src/patterns/blocks/FeatureCardBlockLarge/README.md
  packages/react/src/patterns/blocks/FeatureCardBlockLarge/__stories__/FeatureCardBlockLarge.stories.js
  packages/react/src/patterns/blocks/FeatureCardBlockLarge/__stories__/index.scss
  packages/react/src/patterns/blocks/FeatureCardBlockLarge/index.js
  packages/react/src/patterns/blocks/index.js
  packages/styles/scss/patterns/blocks/feature-card-block-large/README.md
  packages/styles/scss/patterns/blocks/feature-card-block-large/_feature-card-block-large.scss
Labels: package: react

#2332 Feat/localemodal staticdata
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/DotcomShell/__stories__/DotcomShell.stories.js
  packages/react/src/components/Footer/__stories__/Footer.stories.js
  packages/react/src/components/LocaleModal/LocaleModal.js
  packages/react/src/components/LocaleModal/__data__/locale-data.json
  packages/react/src/components/LocaleModal/__stories__/LocaleModal.stories.js
Labels: design: visual, package: react

#2339 style(masthead): removed `role` css selector from menu-item
  packages/styles/scss/components/masthead/_masthead.scss
Labels: package: react

#2165 fix(modal): added missing gradient to overflow of modal
  packages/styles/scss/themes/expressive/components/_modal.scss
  packages/styles/scss/themes/expressive/index.scss
Labels: package: styles

#2360 feat(cta): add download type
  packages/react/src/components/CTA/CTALogic.js
  packages/react/src/components/CTA/__stories__/CTA.stories.js
Labels: package: react

#2354 fix(accessibility): add aria-current to active toc item
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/patterns/sub-patterns/TableOfContents/TOCDesktop.js
Labels: package: react

#2363 fix(video): use video name for caption
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/VideoPlayer/VideoPlayer.js
  packages/react/src/components/VideoPlayer/__stories__/VideoPlayer.stories.js
  packages/styles/scss/components/video-player/_video-player.scss
Labels: package: react

#2376 fix(lightbox): set description to align with bottom of media
  packages/styles/scss/components/lightbox-media-viewer/_lightbox-media-viewer.scss
Labels: package: react

#2379 fix(scss): Fixed wrong background size on linklist hover
  packages/styles/scss/patterns/sub-patterns/link-list/_link-list.scss
Labels: package: react

#2374 fix(videoplayer): change partnerid format for metadata api call
  packages/react/src/components/LightboxMediaViewer/LightboxMediaViewer.js
  packages/react/src/components/VideoPlayer/VideoPlayer.js
  packages/react/src/patterns/blocks/CalloutWithMedia/__stories__/CalloutWithMedia.stories.js
  packages/react/src/patterns/blocks/ContentBlockSegmented/__stories__/ContentBlockSegmented.stories.js
  packages/react/src/patterns/blocks/ContentBlockSimple/__stories__/ContentBlockSimple.stories.js
  packages/react/src/patterns/blocks/ContentGroupSimple/__stories__/data/ContentGroupSimple.knobs.js
  packages/react/src/patterns/sub-patterns/ContentItem/__stories__/ContentItem.stories.js
  packages/services/src/services/VideoPlayer/VideoPlayer.js
  packages/styles/scss/components/video-player/_video-player.scss
  packages/utilities/src/utilities/markdownToHtml/markdownToHtml.js
Labels: package: react, package: utilities

#2378 feat(pattern): feature-card sub-pattern created
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/CTA/FeatureCTA.js
  packages/react/src/patterns/blocks/FeatureCardBlockLarge/__stories__/FeatureCardBlockLarge.stories.js
  packages/react/src/patterns/blocks/FeatureCardBlockLarge/__stories__/index.scss
  packages/react/src/patterns/blocks/FeatureCardBlockMedium/FeatureCardBlockMedium.js
  packages/react/src/patterns/blocks/FeatureCardBlockMedium/README.md
  packages/react/src/patterns/blocks/FeatureCardBlockMedium/__stories__/FeatureCardBlockMedium.stories.js
  packages/react/src/patterns/blocks/FeatureCardBlockMedium/index.js
  packages/react/src/patterns/blocks/index.js
  packages/react/src/patterns/sub-patterns/FeatureCard/FeatureCard.js
  packages/react/src/patterns/sub-patterns/FeatureCard/README.md
  packages/react/src/patterns/sub-patterns/FeatureCard/__stories__/FeatureCard.stories.js
  packages/react/src/patterns/sub-patterns/FeatureCard/__tests__/FeatureCard.test.js
  packages/react/src/patterns/sub-patterns/FeatureCard/index.js
  packages/react/src/patterns/sub-patterns/index.js
  packages/styles/scss/ibm-dotcom-styles.scss
  packages/styles/scss/patterns/blocks/feature-card-block-medium/README.md
  packages/styles/scss/patterns/blocks/feature-card-block-medium/_feature-card-block-medium.scss
  packages/styles/scss/patterns/sub-patterns/content-block/_content-block.scss
  packages/styles/scss/patterns/sub-patterns/feature-card/README.md
  packages/styles/scss/patterns/sub-patterns/feature-card/_feature-card.scss
Labels: package: react

#2368 chore(components): avoid reference to stale async results
  packages/react/src/components/Footer/Footer.js
  packages/react/src/components/LightboxMediaViewer/LightboxMediaViewer.js
  packages/react/src/components/LocaleModal/LocaleModal.js
  packages/react/src/components/Masthead/Masthead.js
  packages/react/src/components/VideoPlayer/VideoPlayer.js
Labels: package: react

#2401 chore(devenv): introduce Storybook CSF
  .eslintrc
  packages/react/.storybook/config.js
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/CTA/__stories__/CTA.stories.js
  packages/react/src/components/DotcomShell/__stories__/DotcomShell.stories.js
  packages/react/src/components/ExpressiveModal/__stories__/ExpressiveModal.stories.js
  packages/react/src/components/Footer/__stories__/Footer.stories.js
  packages/react/src/components/HorizontalRule/__stories__/HorizontalRule.stories.js
  packages/react/src/components/Image/__stories__/Image.stories.js
  packages/react/src/components/ImageWithCaption/__stories__/ImageWithCaption.stories.js
  packages/react/src/components/LightboxMediaViewer/__stories__/LightboxMediaViewer.stories.js
  packages/react/src/components/LinkWithIcon/__stories__/LinkWithIcon.stories.js
  packages/react/src/components/LocaleModal/__stories__/LocaleModal.stories.js
  packages/react/src/components/Masthead/__stories__/Masthead.stories.js
  packages/react/src/components/VideoPlayer/__stories__/VideoPlayer.stories.js
  packages/react/src/components/overview.js
  packages/react/src/patterns/blocks/CalloutQuote/__stories__/CalloutQuote.stories.js
  packages/react/src/patterns/blocks/CalloutWithMedia/__stories__/CalloutWithMedia.stories.js
  packages/react/src/patterns/blocks/ContentBlockCards/__stories__/ContentBlockCards.stories.js
  packages/react/src/patterns/blocks/ContentBlockMedia/__stories__/ContentBlockMedia.stories.js
  packages/react/src/patterns/blocks/ContentBlockMixed/__stories__/ContentBlockMixed.stories.js
  packages/react/src/patterns/blocks/ContentBlockSegmented/__stories__/ContentBlockSegmented.stories.js
  packages/react/src/patterns/blocks/ContentBlockSimple/__stories__/ContentBlockSimple.stories.js
  packages/react/src/patterns/blocks/ContentGroupCards/__stories__/ContentGroupCards.stories.js
  packages/react/src/patterns/blocks/ContentGroupHorizontal/__stories__/ContentGroupHorizontal.stories.js
  packages/react/src/patterns/blocks/ContentGroupPictograms/__stories__/ContentGroupPictograms.stories.js
  packages/react/src/patterns/blocks/ContentGroupSimple/__stories__/ContentGroupSimple.stories.js
  packages/react/src/patterns/blocks/FeatureCardBlockLarge/__stories__/FeatureCardBlockLarge.stories.js
  packages/react/src/patterns/blocks/FeatureCardBlockMedium/__stories__/FeatureCardBlockMedium.stories.js
  packages/react/src/patterns/blocks/LogoGrid/__stories__/LogoGrid.stories.js
  packages/react/src/patterns/sections/CTASection/__stories__/CTASection.stories.js
  packages/react/src/patterns/sections/CardSectionImages/__stories__/CardSectionImages.stories.js
  packages/react/src/patterns/sections/CardSectionSimple/__stories__/CardSectionSimple.stories.js
  packages/react/src/patterns/sections/LeadSpace/__stories__/LeadSpace.stories.js
  packages/react/src/patterns/sections/SimpleBenefits/__stories__/SimpleBenefits.stories.js
  packages/react/src/patterns/sections/SimpleOverview/__stories__/SimpleOverview.stories.js
  packages/react/src/patterns/sub-patterns/ButtonGroup/__stories__/ButtonGroup.stories.js
  packages/react/src/patterns/sub-patterns/Callout/__stories__/Callout.stories.js
  packages/react/src/patterns/sub-patterns/Card/__stories__/Card.stories.js
  packages/react/src/patterns/sub-patterns/CardGroup/__stories__/CardGroup.stories.js
  packages/react/src/patterns/sub-patterns/ContentBlock/__stories__/ContentBlock.stories.js
  packages/react/src/patterns/sub-patterns/ContentGroup/__stories__/ContentGroup.stories.js
  packages/react/src/patterns/sub-patterns/ContentItem/__stories__/ContentItem.stories.js
  packages/react/src/patterns/sub-patterns/ContentItemHorizontal/__stories__/ContentItemHorizontal.stories.js
  packages/react/src/patterns/sub-patterns/ContentSection/__stories__/ContentSection.stories.js
  packages/react/src/patterns/sub-patterns/FeatureCard/__stories__/FeatureCard.stories.js
  packages/react/src/patterns/sub-patterns/Layout/__stories__/Layout.stories.js
  packages/react/src/patterns/sub-patterns/LinkList/__stories__/LinkList.stories.js
  packages/react/src/patterns/sub-patterns/PictogramItem/__stories__/PictogramItem.stories.js
  packages/react/src/patterns/sub-patterns/Quote/__stories__/Quote.stories.js
  packages/react/src/patterns/sub-patterns/TableOfContents/__stories__/TableOfContents.stories.js
  packages/styles/.storybook/config.js
  packages/vanilla/.storybook/config.js
  packages/vanilla/src/components/dotcomshell/__stories__/dotcomshell.stories.js
  packages/vanilla/src/components/footer/__stories__/footer.stories.js
  packages/vanilla/src/components/horizontalrule/__stories__/horizontalrule.stories.js
  packages/vanilla/src/components/masthead/__stories__/masthead.stories.js
  packages/vanilla/src/overview/overview.js
Labels: package: react, package: styles, package: vanilla

#2326 fix(pattern): fixed circular dependency on card pattern
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/patterns/sub-patterns/Card/Card.js
  packages/react/src/patterns/sub-patterns/Card/__stories__/Card.stories.js
Labels: package: react

#2420 fix(percy): hiding cookie preferences in percy output
  packages/react/.storybook/_container.scss
Labels: package: react

#2413 feat(image-with-caption): launch lightbox for image with caption
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/ImageWithCaption/ImageWithCaption.js
  packages/react/src/components/ImageWithCaption/README.md
  packages/react/src/components/ImageWithCaption/__stories__/ImageWithCaption.stories.js
  packages/styles/scss/components/image-with-caption/image-with-caption.scss
Labels: package: react

#2409 fix(cta-section): adding themes support to the cta-section
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/patterns/sections/CTASection/CTASection.js
  packages/react/src/patterns/sections/CTASection/README.md
  packages/react/src/patterns/sections/CTASection/__stories__/CTASection.stories.js
  packages/styles/scss/patterns/sections/ctasection/_ctasection.scss
Labels: package: react

#2427 fix(percy): hiding cookie preferences in footer in percy output
  packages/react/.storybook/_container.scss
Labels: package: react

#2281 test(masthead): increase unit test coverage
  packages/react/src/components/Masthead/__tests__/MastheadL1.test.js
  packages/react/src/components/Masthead/__tests__/MastheadLeftNav.test.js
  packages/react/src/components/Masthead/__tests__/MastheadSearch.test.js
  packages/react/src/components/Masthead/__tests__/MastheadTopNav.test.js
  packages/react/src/components/Masthead/__tests__/data/response.json
Labels: package: react

#2428 fix(card): change icon color for card back to blue and use icon passed in from props
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/patterns/sub-patterns/Card/Card.js
  packages/react/src/patterns/sub-patterns/Card/__stories__/Card.stories.js
Labels: package: react

#2396 feat(pattern): cta added to content-block-segmented items
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/patterns/blocks/ContentBlockSegmented/ContentBlockSegmented.js
  packages/react/src/patterns/blocks/ContentBlockSegmented/README.md
  packages/react/src/patterns/blocks/ContentBlockSegmented/__stories__/ContentBlockSegmented.stories.js
  packages/react/src/patterns/blocks/ContentBlockSegmented/__tests__/ContentBlockSegmented.test.js
  packages/styles/scss/patterns/blocks/content-block-segmented/_content-block-segmented.scss
Labels: package: react

#2436 fix(masthead): fix build error
  packages/styles/scss/components/masthead/_masthead-l1.scss
Labels: package: react, package: styles, package: vanilla

#2434 Fix/localemodal
  packages/styles/scss/components/locale-modal/_locale-modal.scss
Labels: package: react

#2439 Fix/missing fcblocklarge scss
  packages/styles/scss/ibm-dotcom-styles.scss
Labels: package: react

#2447 chore(content-block): specifying CTA prop in the pattern
  packages/react/src/patterns/sub-patterns/ContentBlock/ContentBlock.js
Labels: package: react

#2450 fix(image-with-caption): set button border style to none to resolve rounding in mobile
  packages/styles/scss/components/image-with-caption/image-with-caption.scss
Labels: package: react

#2454 fix(masthead): added top property to profile-list
  packages/react/src/components/Masthead/Masthead.js
Labels: package: react

#2465 fix(css): fix masthead nav styles
  packages/styles/scss/components/masthead/_masthead-l1.scss
  packages/styles/scss/components/masthead/_masthead-leftnav.scss
  packages/styles/scss/components/masthead/_masthead-search.scss
  packages/styles/scss/components/masthead/_masthead.scss
Labels: package: react

#2452 feat(linklist): add linklist variations
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/CTA/TextCTA.js
  packages/react/src/patterns/blocks/CalloutQuote/CalloutQuote.js
  packages/react/src/patterns/blocks/ContentBlockMedia/__stories__/ContentBlockMedia.stories.js
  packages/react/src/patterns/blocks/ContentBlockMixed/__stories__/ContentBlockMixed.stories.js
  packages/react/src/patterns/blocks/ContentBlockSegmented/__stories__/ContentBlockSegmented.stories.js
  packages/react/src/patterns/blocks/ContentBlockSimple/__stories__/ContentBlockSimple.stories.js
  packages/react/src/patterns/blocks/ContentGroupHorizontal/README.md
  packages/react/src/patterns/blocks/ContentGroupHorizontal/__stories__/data/items.json
  packages/react/src/patterns/sub-patterns/ContentBlock/__stories__/ContentBlock.stories.js
  packages/react/src/patterns/sub-patterns/ContentItemHorizontal/ContentItemHorizontal.js
  packages/react/src/patterns/sub-patterns/ContentItemHorizontal/__stories__/ContentItemHorizontal.stories.js
  packages/react/src/patterns/sub-patterns/LinkList/LinkList.js
  packages/react/src/patterns/sub-patterns/LinkList/README.md
  packages/react/src/patterns/sub-patterns/LinkList/__stories__/LinkList.stories.js
  packages/styles/scss/patterns/sub-patterns/content-item-horizontal/_content-item-horizontal.scss
  packages/styles/scss/patterns/sub-patterns/link-list/_link-list.scss
Labels: package: react

#2459 fix(pattern): updated section detection on table-of-contents
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/patterns/sub-patterns/TableOfContents/TableOfContents.js
  packages/react/src/patterns/sub-patterns/TableOfContents/__stories__/data/dataContent.js
Labels: package: react

#2381 chore(devenv): align widths of form elements
  packages/styles/.storybook/config.js
  packages/styles/scss/themes/expressive/components/_select.scss
  packages/styles/src/carbon-stories/Form/Form-story.js
  packages/styles/src/carbon-stories/Form/form-story.scss
  packages/styles/src/carbon-stories/icon-kitchen-sink-story.js
  packages/styles/src/carbon-stories/icon-kitchen-sink-story.scss
Labels: package: styles

#2474 content item video space
  packages/styles/scss/patterns/sub-patterns/content-item/_content-item.scss
Labels: package: react

#2391 feature(pattern): lead space block
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/patterns/blocks/LeadSpaceBlock/LeadSpaceBlock.js
  packages/react/src/patterns/blocks/LeadSpaceBlock/README.md
  packages/react/src/patterns/blocks/LeadSpaceBlock/__stories__/LeadSpaceBlock.stories.js
  packages/react/src/patterns/blocks/LeadSpaceBlock/index.js
  packages/react/src/patterns/blocks/index.js
  packages/styles/scss/ibm-dotcom-styles.scss
  packages/styles/scss/patterns/blocks/leadspace-block/_leadspace-block.scss
Labels: package: react

#2430 Feat/toc update
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/patterns/sub-patterns/TableOfContents/README.md
  packages/react/src/patterns/sub-patterns/TableOfContents/TOCDesktop.js
  packages/react/src/patterns/sub-patterns/TableOfContents/TableOfContents.js
  packages/react/src/patterns/sub-patterns/TableOfContents/__stories__/TableOfContents.stories.js
  packages/react/src/patterns/sub-patterns/TableOfContents/__tests__/TableOfContents.test.js
  packages/styles/scss/patterns/sub-patterns/tableofcontents/_tableofcontents.scss
Labels: package: react

#2492 chore(footer): splitting the footer story into two
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/Footer/__stories__/Footer.stories.js
Labels: package: react

#2488 Fix/percy hide css
  packages/react/.storybook/_container.scss
  packages/react/.storybook/preview-head.html
Labels: package: react

#2495 docs(components): migrate to React DocGen comments
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/CTA/ButtonCTA.js
  packages/react/src/components/CTA/CardCTA.js
  packages/react/src/components/CTA/FeatureCTA.js
  packages/react/src/components/CTA/TextCTA.js
  packages/react/src/components/DotcomShell/DotcomShell.js
  packages/react/src/components/DotcomShell/README.stories.mdx
  packages/react/src/components/DotcomShell/__stories__/DotcomShell.stories.js
  packages/react/src/components/ExpressiveModal/ExpressiveModal.js
  packages/react/src/components/ExpressiveModal/ExpressiveModalCloseBtn.js
  packages/react/src/components/ExpressiveModal/README.stories.mdx
  packages/react/src/components/ExpressiveModal/__stories__/ExpressiveModal.stories.js
  packages/react/src/components/Footer/Footer.js
  packages/react/src/components/Footer/FooterNav.js
  packages/react/src/components/Footer/FooterNavGroup.js
  packages/react/src/components/Footer/LanguageSelector.js
  packages/react/src/components/Footer/LegalNav.js
  packages/react/src/components/Footer/LocaleButton.js
  packages/react/src/components/Footer/README.stories.mdx
  packages/react/src/components/Footer/__stories__/Footer.stories.js
  packages/react/src/components/HorizontalRule/HorizontalRule.js
  packages/react/src/components/HorizontalRule/README.md
  packages/react/src/components/HorizontalRule/README.stories.mdx
  packages/react/src/components/HorizontalRule/__stories__/HorizontalRule.stories.js
  packages/react/src/components/Icon/IbmLogo.js
  packages/react/src/components/Image/Image.js
  packages/react/src/components/Image/README.stories.mdx
  packages/react/src/components/Image/__stories__/Image.stories.js
  packages/react/src/components/ImageWithCaption/ImageWithCaption.js
  packages/react/src/components/ImageWithCaption/README.stories.mdx
  packages/react/src/components/ImageWithCaption/__stories__/ImageWithCaption.stories.js
  packages/react/src/components/LightboxMediaViewer/LightboxMediaViewer.js
  packages/react/src/components/LightboxMediaViewer/README.stories.mdx
  packages/react/src/components/LightboxMediaViewer/__stories__/LightboxMediaViewer.stories.js
  packages/react/src/components/LinkWithIcon/LinkWithIcon.js
  packages/react/src/components/LinkWithIcon/README.stories.mdx
  packages/react/src/components/LinkWithIcon/__stories__/LinkWithIcon.stories.js
  packages/react/src/components/LocaleModal/LocaleModal.js
  packages/react/src/components/LocaleModal/README.stories.mdx
  packages/react/src/components/LocaleModal/__stories__/LocaleModal.stories.js
  packages/react/src/components/Masthead/Masthead.js
  packages/react/src/components/Masthead/MastheadL1.js
  packages/react/src/components/Masthead/MastheadLeftNav.js
  packages/react/src/components/Masthead/MastheadProfile.js
  packages/react/src/components/Masthead/MastheadSearch.js
  packages/react/src/components/Masthead/MastheadSearchInput.js
  packages/react/src/components/Masthead/MastheadSearchSuggestion.js
  packages/react/src/components/Masthead/MastheadTopNav.js
  packages/react/src/components/Masthead/README.stories.mdx
  packages/react/src/components/Masthead/__stories__/Masthead.stories.js
  packages/react/src/components/VideoPlayer/README.stories.mdx
  packages/react/src/components/VideoPlayer/VideoPlayer.js
  packages/react/src/components/VideoPlayer/__stories__/VideoPlayer.stories.js
Labels: package: react

#2496 fix(pattern): fixed video type not working on feature-cta
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/CTA/FeatureCTA.js
  packages/react/src/patterns/blocks/FeatureCardBlockMedium/FeatureCardBlockMedium.js
  packages/react/src/patterns/sub-patterns/FeatureCard/FeatureCard.js
Labels: package: react

#2500 Fix/card cta jump
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/CTA/CardCTA.js
Labels: package: react

#2507 fix(pattern): fixed missing export on content-block-cards
  packages/react/src/patterns/blocks/ContentBlockCards/index.js
Labels: package: react

#2489 Feature/1846 logo grid corrected
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/patterns/blocks/LeadSpaceBlock/index.js
  packages/react/src/patterns/blocks/LogoGrid/LogoGrid.js
  packages/react/src/patterns/blocks/LogoGrid/README.stories.mdx
  packages/react/src/patterns/blocks/LogoGrid/__stories__/LogoGrid.stories.js
  packages/react/src/patterns/blocks/LogoGrid/__stories__/data/logos.json
  packages/react/src/patterns/blocks/index.js
  packages/styles/scss/ibm-dotcom-styles.scss
  packages/styles/scss/patterns/blocks/leadspace-block/_leadspace-block.scss
  packages/styles/scss/patterns/blocks/logo-grid/README.md
  packages/styles/scss/patterns/blocks/logo-grid/_logo-grid.scss
  packages/styles/scss/patterns/sub-patterns/tableofcontents/_tableofcontents.scss
Labels: package: react

#2565 chore(devenv): more use of Storybook addon-docs
  packages/react/.storybook/config.js
  packages/react/docs/environment-variables.stories.mdx
  packages/react/docs/feature-flags.stories.mdx
  packages/react/docs/overview.stories.mdx
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/overview.js
  packages/vanilla/.storybook/addons.js
  packages/vanilla/.storybook/config.js
  packages/vanilla/.storybook/main.js
  packages/vanilla/docs/overview.stories.mdx
  packages/vanilla/package.json
  packages/vanilla/src/components/__tests__/__snapshots__/storyshots.test.js.snap
  packages/vanilla/src/components/dotcomshell/__stories__/dotcomshell.stories.js
  packages/vanilla/src/components/footer/__stories__/footer.stories.js
  packages/vanilla/src/components/horizontalrule/__stories__/horizontalrule.stories.js
  packages/vanilla/src/components/masthead/__stories__/masthead.stories.js
  packages/vanilla/src/overview/markdown.css
  packages/vanilla/src/overview/overview.js
Labels: package: react, package: vanilla

#2506 feat(cardlink): adds cardlink
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/CTA/CardCTA.js
  packages/react/src/components/CTA/FeatureCTA.js
  packages/react/src/components/CardLink/CardLink.js
  packages/react/src/components/CardLink/README.stories.mdx
  packages/react/src/components/CardLink/__stories__/CardLink.stories.js
  packages/react/src/components/CardLink/index.js
  packages/react/src/components/LinkList/__stories__/LinkList.stories.js
  packages/react/src/components/LocaleModal/LocaleModalRegions.js
  packages/react/src/components/index.js
  packages/react/src/patterns/sections/CTASection/__stories__/CTASection.stories.js
  packages/styles/scss/components/expressive-modal/_expressive-modal.scss
  packages/styles/scss/components/locale-modal/_locale-modal.scss
  packages/utilities/src/utilities/smoothScroll/smoothScroll.js
Labels: package: react

#2505 fix(calloutwithmedia): style fixes
  packages/styles/scss/components/callout/_callout.scss
  packages/styles/scss/components/quote/_quote.scss
  packages/styles/scss/components/video-player/_video-player.scss
  packages/styles/scss/internal/content-item/_content-item.scss
  packages/styles/scss/patterns/blocks/callout-with-media/_callout-with-media.scss
  packages/styles/scss/patterns/blocks/callout-with-media/index.scss
Labels: package: react

#2581 chore(styles): update carbon imports
  packages/styles/scss/components/card/index.scss
  packages/styles/scss/components/image-with-caption/image-with-caption.scss
  packages/styles/scss/components/masthead/_masthead-l1.scss
  packages/styles/scss/globals/_imports.scss
  packages/styles/scss/globals/_tokens.scss
  packages/styles/scss/temp-carbon-expressive/_temp-carbon-expressive.scss
  packages/styles/scss/themes/expressive/_tokens.scss
  packages/styles/scss/themes/expressive/components/_accordion.scss
  packages/styles/scss/themes/expressive/components/_button.scss
  packages/styles/scss/themes/expressive/components/_code-snippet.scss
  packages/styles/scss/themes/expressive/components/_combo-box.scss
  packages/styles/scss/themes/expressive/components/_content-switcher.scss
  packages/styles/scss/themes/expressive/components/_copy-button.scss
  packages/styles/scss/themes/expressive/components/_data-table.scss
  packages/styles/scss/themes/expressive/components/_date-picker.scss
  packages/styles/scss/themes/expressive/components/_dropdown.scss
  packages/styles/scss/themes/expressive/components/_file-uploader.scss
  packages/styles/scss/themes/expressive/components/_inline-loading.scss
  packages/styles/scss/themes/expressive/components/_inline-notifications.scss
  packages/styles/scss/themes/expressive/components/_list-box.scss
  packages/styles/scss/themes/expressive/components/_loading.scss
  packages/styles/scss/themes/expressive/components/_modal.scss
  packages/styles/scss/themes/expressive/components/_number-input.scss
  packages/styles/scss/themes/expressive/components/_overflow-menu.scss
  packages/styles/scss/themes/expressive/components/_progressive-indicator.scss
  packages/styles/scss/themes/expressive/components/_search.scss
  packages/styles/scss/themes/expressive/components/_select.scss
  packages/styles/scss/themes/expressive/components/_structured-list.scss
  packages/styles/scss/themes/expressive/components/_tabs.scss
  packages/styles/scss/themes/expressive/components/_tag.scss
  packages/styles/scss/themes/expressive/components/_text-area.scss
  packages/styles/scss/themes/expressive/components/_text-input.scss
  packages/styles/scss/themes/expressive/components/_tile.scss
  packages/styles/scss/themes/expressive/components/_time-picker.scss
  packages/styles/scss/themes/expressive/components/_tooltip.scss
  packages/styles/scss/themes/expressive/index.scss
Labels: package: react, package: styles

#2596 chore(percy): hiding video link in linklist for percy tests
  packages/react/.storybook/preview-head.html
Labels: package: react

#2579 fix(featurecard): fixed feature card style type
  packages/styles/scss/components/feature-card/_feature-card.scss
Labels: package: react

#2593 fix(storybook): bug happening in the masthead iframe view
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/Masthead/__stories__/Masthead.stories.js
Labels: package: react
