Repository carbon-design-system/carbon-for-ibm-dotcom, pull requests merged in 2020-12, with the labels that each got.

#4578 chore(percy): skipping card stories that use sameHeight
  packages/react/src/components/CardSectionSimple/__stories__/CardSectionSimple.stories.js
  packages/react/src/components/ContentBlockCards/__stories__/ContentBlockCards.stories.js
  packages/web-components/src/components/content-block-cards/__stories__/content-block-cards.stories.ts
Labels: Ready to merge

#4585 docs(readme): fix to the web components README.md
  packages/web-components/README.md
Labels: Ready to merge

#4575 chore(devenv): add search and profile data integration
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
Labels: Ready to merge, package: web components

#4586 fix(ButtonGroup): add flex wrap to large breakpoint
  packages/styles/scss/components/buttongroup/_buttongroup.scss
Labels: Ready to merge

#4574 fix(masthead): introduce separate L1 nav variant
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/top-nav-l1.ts
  packages/web-components/src/components/masthead/top-nav.ts
Labels: Ready to merge, package: web components

#4581 feat(masthead): alternative logo in web components
  packages/services-store/src/types/translateAPI.ts
  packages/services/src/services/MastheadLogo/MastheadLogo.js
  packages/web-components/src/components/masthead/__stories__/links.ts
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/masthead-logo.ts
  packages/web-components/src/components/masthead/masthead.scss
  packages/web-components/tests/snapshots/dds-masthead-logo.md
Labels: Ready to merge, package: web components

#4563 fix(link-with-icon): fixed uncentered arrow icons on Safari
  packages/styles/scss/components/link-with-icon/_link-with-icon.scss
  packages/styles/scss/components/masthead/_masthead.scss
Labels: Ready to merge

#4568 feat(locale-modal): link with icon replacement
  packages/react/src/components/LocaleModal/LocaleModal.js
  packages/styles/scss/components/locale-modal/_locale-modal.scss
  packages/web-components/src/components/locale-modal/__tests__/locale-modal.test.ts
  packages/web-components/src/components/locale-modal/locale-modal.scss
  packages/web-components/src/components/locale-modal/locale-modal.ts
  packages/web-components/tests/snapshots/dds-locale-modal.md
Labels: Ready to merge

#4584 feat(Masthead): add custom search event onEnter
  packages/react/src/components/Masthead/MastheadSearch.js
  packages/react/src/components/Masthead/MastheadSearchInput.js
  packages/react/src/components/Masthead/README.stories.mdx
Labels: Ready to merge, package: react

#4597 test(e2e): upgrading chromedriver to 87
  .yarn/offline-mirror/chromedriver-83.0.1.tgz
  .yarn/offline-mirror/chromedriver-87.0.0.tgz
  .yarn/offline-mirror/extract-zip-2.0.1.tgz
  packages/react/package.json
  packages/react/src/components/ContentBlockMixed/__tests__/ContentBlockMixed.e2e.js
  yarn.lock
Labels: Ready to merge

#4587 fix(locale-modal): reset message upon unavailability
  packages/react/src/components/LocaleModal/LocaleModalCountries.js
Labels: Ready to merge

#4593 fix(masthead): adjust breakpoints
  packages/web-components/src/components/masthead/masthead.scss
Labels: Ready to merge, package: web components

#4532 feat(content-block-mixed): introducing content-block-mixed
  packages/web-components/src/components/content-block-mixed/__stories__/README.stories.mdx
  packages/web-components/src/components/content-block-mixed/__stories__/content-block-mixed.stories.ts
  packages/web-components/src/components/content-block-mixed/content-block-mixed.scss
  packages/web-components/src/components/content-block-mixed/content-block-mixed.ts
Labels: Ready to merge, package: web components

#4601 fix(ContentGroupHorizontal): row to 100% width for consistent alignment
  packages/styles/scss/components/content-item-horizontal/_content-item-horizontal.scss
Labels: Ready to merge, package: react

#4572 feat(content-block-media): web-component created
  packages/styles/scss/components/content-block-media/_content-block-media.scss
  packages/styles/scss/internal/content-block/_content-block.scss
  packages/web-components/examples/codesandbox/components/content-block-media/.gitignore
  packages/web-components/examples/codesandbox/components/content-block-media/index.html
  packages/web-components/examples/codesandbox/components/content-block-media/package.json
  packages/web-components/examples/codesandbox/components/content-block-media/sandbox.config.json
  packages/web-components/examples/codesandbox/components/content-block-media/snowpack.config.json
  packages/web-components/examples/codesandbox/components/content-block-media/src/index.js
  packages/web-components/examples/codesandbox/components/content-block-media/src/index.scss
  packages/web-components/src/components/content-block-media/__stories__/README.stories.mdx
  packages/web-components/src/components/content-block-media/__stories__/content-block-media.stories.ts
  packages/web-components/src/components/content-block-media/__tests__/content-block-media.test.ts
  packages/web-components/src/components/content-block-media/content-block-media-content.ts
  packages/web-components/src/components/content-block-media/content-block-media.scss
  packages/web-components/src/components/content-block-media/content-block-media.ts
  packages/web-components/tests/snapshots/dds-content-block-media.md
Labels: Ready to merge, package: web components

#4602 fix(masthead): workaround Safari bug in Shadow DOM
  packages/styles/scss/components/masthead/_masthead-megamenu.scss
  packages/web-components/src/components/masthead/megamenu-top-nav-menu.ts
Labels: package: web components

#4607 fix(leaving-ibm): add dialog role and associating with heading by aria-labelledby attribute
  packages/web-components/src/components/leaving-ibm/leaving-ibm-modal.ts
Labels: Ready to merge, package: web components

#4625 chore(masthead): fix percy mock data for storybook
  packages/react/src/components/Masthead/__stories__/Masthead.stories.js
Labels: Ready to merge, package: react

#4626 feat(content-block-headlines): introduce content block headlines component
  packages/react/src/components/ContentBlockHeadlines/ContentBlockHeadlines.js
  packages/styles/scss/components/content-block-headlines/_content-block-headlines.scss
  packages/styles/scss/internal/content-block/_content-block.scss
  packages/web-components/examples/codesandbox/components/content-block-headlines/.gitignore
  packages/web-components/examples/codesandbox/components/content-block-headlines/index.html
  packages/web-components/examples/codesandbox/components/content-block-headlines/package.json
  packages/web-components/examples/codesandbox/components/content-block-headlines/sandbox.config.json
  packages/web-components/examples/codesandbox/components/content-block-headlines/snowpack.config.json
  packages/web-components/examples/codesandbox/components/content-block-headlines/src/index.js
  packages/web-components/examples/codesandbox/components/content-block-headlines/src/index.scss
  packages/web-components/src/components/content-block-headlines/__stories__/README.stories.mdx
  packages/web-components/src/components/content-block-headlines/__stories__/content-block-headlines.stories.ts
  packages/web-components/src/components/content-block-headlines/__tests__/content-block-headlines.test.ts
  packages/web-components/src/components/content-block-headlines/content-block-headlines-heading.ts
  packages/web-components/src/components/content-block-headlines/content-block-headlines-item.ts
  packages/web-components/src/components/content-block-headlines/content-block-headlines.scss
  packages/web-components/src/components/content-block-headlines/content-block-headlines.ts
  packages/web-components/src/components/content-group-pictograms/__stories__/README.stories.mdx
  packages/web-components/src/globals/internal/feature-flags.ts
  packages/web-components/tests/snapshots/dds-content-block-headlines.md
Labels: Ready to merge, feature flag

#4629 chore(dependencies): upgrade carbon-web-components
  .yarn/offline-mirror/carbon-web-components-1.8.0.tgz
  .yarn/offline-mirror/carbon-web-components-1.8.1.tgz
  .yarn/offline-mirror/carbon-web-components-1.9.0.tgz
  package.json
  packages/web-components/package.json
  packages/web-components/tests/snapshots/dds-button-group.md
  yarn.lock
Labels: Ready to merge, package: web components

#4632 fix(link-list): add missing mixin
  packages/web-components/src/components/link-list/__stories__/README.stories.mdx
  packages/web-components/src/components/link-list/link-list.ts
Labels: package: web components

#4631 docs(video-player): add documentation of stable selector
  packages/web-components/src/components/video-player/__stories__/README.stories.mdx
Labels: Ready to merge, package: web components

#4633 fix(card): add missing mixin
  packages/web-components/src/components/card/__stories__/README.stories.mdx
  packages/web-components/src/components/card/card.ts
  packages/web-components/src/components/feature-card/__stories__/README.stories.mdx
Labels: Ready to merge, package: web components

#4647 fix(locale-modal): replaced href target to avoid storybook refresh
  packages/react/src/components/LocaleModal/LocaleModalRegions.js
  packages/web-components/src/components/locale-modal/locale-modal.ts
  packages/web-components/tests/snapshots/dds-locale-modal.md
Labels: Ready to merge, package: react, package: web components

#4636 fix(ToC): fix mobile styles
  packages/styles/scss/components/dotcom-shell/_dotcom-shell.scss
Labels: Ready to merge

#4657 fix(card-group): same height by CSS grid
  packages/styles/scss/components/card-group/_card-group.scss
  packages/web-components/src/components/card-group/__stories__/card-group.stories.scss
  packages/web-components/src/components/card-group/__stories__/card-group.stories.ts
  packages/web-components/src/components/card-group/card-group.scss
Labels: Ready to merge, package: web components

#4661 chore(masthead-icon): extend from base link component
  packages/web-components/src/components/icon/__tests__/icon.test.ts
  packages/web-components/src/components/icon/icon.ts
  packages/web-components/src/components/masthead/masthead-logo.ts
  packages/web-components/tests/snapshots/dds-icon.md
  packages/web-components/tests/snapshots/dds-masthead-logo.md
Labels: Ready to merge, package: web components

#4663 fix(feature-card-block-medium): added data-autoid
  packages/web-components/src/components/feature-card-block-medium/__stories__/README.stories.mdx
  packages/web-components/src/components/feature-card-block-medium/feature-card-block-medium.ts
Labels: package: web components

#4637 fix(LocaleModale): region card layout
  packages/web-components/src/components/locale-modal/region-item.ts
  packages/web-components/tests/snapshots/dds-region-item.md
Labels: Ready to merge

#4670 fix(locale-modal): remove listbox role for accessibility
  packages/web-components/src/components/locale-modal/locale-search.ts
  packages/web-components/tests/snapshots/dds-locale-search.md
Labels: Ready to merge, package: web components

#4666 fix(pictogram-item): added prop table and data-autoid
  packages/web-components/src/components/pictogram-item/__stories__/README.stories.mdx
  packages/web-components/src/components/pictogram-item/pictogram-item.ts
Labels: Ready to merge, package: web components

#4669 fix(footer): added label to locale button for better description
  packages/web-components/src/components/footer/footer-composite.ts
  packages/web-components/src/components/footer/locale-button.ts
Labels: Ready to merge, package: web components

#4664 fix(feature-card-block-large): added data-autoid
  packages/web-components/src/components/feature-card-block-large/__stories__/README.stories.mdx
  packages/web-components/src/components/feature-card-block-large/feature-card-block-large.ts
Labels: Ready to merge, package: web components

#4665 fix(image-with-caption): added data-autoid
  packages/web-components/src/components/image-with-caption/__stories__/README.stories.mdx
  packages/web-components/src/components/image-with-caption/image-with-caption.ts
Labels: Ready to merge, package: web components

#4649 style(layout): setting sticky property only for lg and above breakpoints
  packages/styles/scss/components/layout/_layout.scss
Labels: Ready to merge

#4652 fix(masthead): allow search to remain open when profile button is clicked
  packages/react/src/components/Masthead/MastheadSearch.js
Labels: Ready to merge, package: react

#4658 chore(quote): make enums dash-cased
  packages/web-components/src/components/quote/quote.ts
Labels: Ready to merge, package: web components

#4660 chore(components): unify static property for CSS selectors
  packages/web-components/src/components/button-group/button-group.ts
  packages/web-components/src/components/card-group/card-group.ts
  packages/web-components/src/components/link-list/__tests__/link-list.test.ts
  packages/web-components/src/components/link-list/link-list.ts
Labels: Ready to merge, package: web components

#4659 chore(link-list): use CSS for same height
  packages/web-components/src/components/card-link/card-link.scss
  packages/web-components/src/components/link-list/link-list.scss
Labels: package: web components

#4673 chore(slack): adding slack notifications from github actions
  .github/workflows/automerge.yml
  .github/workflows/deploy-canary.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/publish-canary.yml
  .github/workflows/publish-nightly.yml
Labels: Ready to merge

#4654 chore(doc): add stable selector to documentation
  packages/web-components/src/components/callout-quote/__stories__/README.stories.mdx
  packages/web-components/src/components/callout-quote/callout-quote.ts
  packages/web-components/src/components/card-link/__stories__/README.stories.mdx
  packages/web-components/src/components/horizontal-rule/__stories__/README.stories.mdx
  packages/web-components/src/components/horizontal-rule/horizontal-rule.ts
  packages/web-components/src/components/image/__stories__/README.stories.mdx
  packages/web-components/src/components/image/image.ts
  packages/web-components/src/components/leadspace/__stories__/README.stories.mdx
  packages/web-components/src/components/leadspace/leadspace.ts
  packages/web-components/src/components/quote/__stories__/README.stories.mdx
  packages/web-components/tests/snapshots/dds-callout-quote.md
  packages/web-components/tests/snapshots/dds-card-cta.md
  packages/web-components/tests/snapshots/dds-content-group-horizontal.md
  packages/web-components/tests/snapshots/dds-image-with-caption.md
  packages/web-components/tests/snapshots/dds-leadspace-block.md
  packages/web-components/tests/snapshots/dds-quote.md
  packages/web-components/tests/snapshots/dds-video-player.md
Labels: Ready to merge, package: web components

#4662 fix(card-group): removes margin adjustment
  packages/web-components/.storybook/config.ts
  packages/web-components/.storybook/container.scss
  packages/web-components/src/components/card-group/__stories__/card-group.stories.scss
  packages/web-components/src/components/card-group/__stories__/card-group.stories.ts
  packages/web-components/src/components/card-section-images/card-section-images.scss
  packages/web-components/src/components/card-section-simple/card-section-simple.scss
  packages/web-components/src/components/content-block-cards/__stories__/content-block-cards.stories.ts
  packages/web-components/src/components/content-block-cards/content-block-cards.scss
Labels: Ready to merge, package: web components

#4680 fix(legal-nav): align cookie preference to other nav items
  packages/web-components/src/components/footer/footer.scss
Labels: Ready to merge, package: web components

#4679 fix(masthead): avoid rendering L0 if L1 is there
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/top-nav.ts
Labels: package: web components

#4685 chore(masthead): reverts fix on release branch, avoid rendering L0 if L1 is there
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/top-nav.ts
Labels: Ready to merge

#4671 fix(feature-card): removed bugged double focus
  packages/web-components/src/components/feature-card/feature-card.scss
Labels: Ready to merge, package: web components

#4702 Revert "fix(legal-nav): align cookie preference to other nav items (#4680)
  packages/web-components/src/components/footer/footer.scss
Labels: Ready to merge, package: web components

#4698 chore(card-group): same height by CSS in React
  packages/react/src/components/CardGroup/CardGroup.js
  packages/styles/scss/components/card-group/_card-group.scss
  packages/web-components/src/components/card-group/card-group.scss
Labels: Ready to merge, package: react, package: web components

#4691 feat(footer): support forcing omitting locale button
  packages/web-components/src/components/dotcom-shell/__stories__/README.stories.mdx
  packages/web-components/src/components/dotcom-shell/dotcom-shell-composite.ts
  packages/web-components/src/components/footer/footer-composite.ts
Labels: Ready to merge, package: web components

#4690 fix(masthead): avoid rendering L0 if L1 is there
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/top-nav.ts
Labels: Ready to merge, package: web components

#4704 fix(legal-nav): align cookie preference to other nav items (#4680)
  packages/web-components/src/components/footer/footer.scss
Labels: Ready to merge, package: web components

#4651 feat(link-list-section): Web component created
  packages/styles/scss/internal/content-section/_content-section.scss
  packages/web-components/examples/codesandbox/components/link-list-section/.gitignore
  packages/web-components/examples/codesandbox/components/link-list-section/index.html
  packages/web-components/examples/codesandbox/components/link-list-section/package.json
  packages/web-components/examples/codesandbox/components/link-list-section/sandbox.config.json
  packages/web-components/src/components/link-list-section/__stories__/README.stories.mdx
  packages/web-components/src/components/link-list-section/__stories__/link-list-section.stories.ts
  packages/web-components/src/components/link-list-section/__tests__/link-list-section.test.ts
  packages/web-components/src/components/link-list-section/link-list-section.scss
  packages/web-components/src/components/link-list-section/link-list-section.ts
  packages/web-components/src/components/link-list/link-list.scss
  packages/web-components/tests/snapshots/dds-link-list-section.md
Labels: Ready to merge

#4682 fix(locale-modal): disable invalid region
  packages/web-components/src/components/card/card.ts
  packages/web-components/src/components/locale-modal/locale-modal.ts
  packages/web-components/src/components/locale-modal/region-item.ts
  packages/web-components/src/globals/internal/link.ts
  packages/web-components/tests/snapshots/dds-region-item.md
Labels: Ready to merge, package: web components

#4720 docs(cta): update documentation link to proper dependency
  packages/react/src/components/CardGroup/CardGroup.js
Labels: Ready to merge

#4718 chore(button-group): same height effect by CSS grid
  packages/react/src/components/ButtonGroup/ButtonGroup.js
  packages/styles/scss/components/buttongroup/_buttongroup.scss
  packages/web-components/src/components/button-group/button-group.ts
  packages/web-components/src/components/leadspace-block/leadspace-block.scss
Labels: Ready to merge, package: react, package: web components

#4721 feat(masthead): introduce active state of nav items
  packages/services-store/src/types/translateAPI.ts
  packages/styles/scss/components/masthead/_masthead.scss
  packages/web-components/src/components/dotcom-shell/dotcom-shell-composite.ts
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
  packages/web-components/src/components/masthead/left-nav-menu.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/masthead.scss
  packages/web-components/src/components/masthead/megamenu-top-nav-menu.ts
  packages/web-components/src/components/masthead/top-nav-item.ts
  packages/web-components/src/components/masthead/top-nav-menu.ts
Labels: Ready to merge, package: web components

#4724 fix(leaving-ibm): add 20% padding right to modal
  packages/web-components/src/components/leaving-ibm/leaving-ibm.scss
Labels: Ready to merge, package: web components

#4729 chore(devenv): make pictograms themeable
  packages/web-components/src/components/content-group-pictograms/__stories__/content-group-pictograms.stories.scss
  packages/web-components/src/components/content-group-pictograms/__stories__/content-group-pictograms.stories.ts
Labels: Ready to merge, package: web components

#4699 chore(cta): move and split the mix-in
  packages/web-components/src/component-mixins/cta/cta.ts
  packages/web-components/src/component-mixins/cta/video.ts
  packages/web-components/src/components/cta/card-cta-footer.ts
  packages/web-components/src/components/cta/card-cta.ts
  packages/web-components/src/components/cta/feature-cta-footer.ts
  packages/web-components/src/components/cta/feature-cta.ts
  packages/web-components/src/components/cta/text-cta.ts
  packages/web-components/src/components/cta/video-cta-composite.ts
Labels: Ready to merge, package: web components

#4730 fix(datatable): horizontal spacing adjustment from carbon upgrade
  packages/styles/scss/themes/expressive/components/_data-table.scss
Labels: Ready to merge, package: styles

#4709 feat(dotcom-shell): updated web component story to match React's
  packages/web-components/src/components/dotcom-shell/__stories__/dotcom-shell.stories.ts
Labels: Ready to merge, package: web components

#4731 chore(web-components-react): adding deploy script for react wrapper
  .eslintignore
  .github/workflows/deploy-canary.yml
  .prettierignore
  .stylelintignore
  packages/web-components/.eslintignore
  packages/web-components/.gitignore
  packages/web-components/manifest-react.yml
Labels: Ready to merge

#4735 fix(ui-shell): adjust ui shell for expressive from carbon update
  packages/styles/scss/themes/expressive/components/_ui-shell.scss
Labels: Ready to merge, package: styles

#4749 feat(link): added :part pseudo-element to component
  packages/web-components/src/components/link/link.ts
  packages/web-components/tests/snapshots/dds-card-cta-footer.md
  packages/web-components/tests/snapshots/dds-card-cta.md
  packages/web-components/tests/snapshots/dds-feature-card-block-large.md
  packages/web-components/tests/snapshots/dds-feature-card-block-medium.md
  packages/web-components/tests/snapshots/dds-feature-card.md
  packages/web-components/tests/snapshots/dds-footer-nav-item.md
  packages/web-components/tests/snapshots/dds-link-with-icon.md
  packages/web-components/tests/snapshots/dds-locale-item.md
  packages/web-components/tests/snapshots/dds-masthead-logo.md
  packages/web-components/tests/snapshots/dds-region-item.md
  packages/web-components/tests/snapshots/dds-text-cta.md
Labels: Ready to merge, package: web components

#4752 feat(leadspace): added ::part pseudo-element to component
  packages/web-components/src/components/leadspace/leadspace.ts
  packages/web-components/tests/snapshots/dds-leadspace.md
Labels: Ready to merge, package: web components

#4754 Added babel core to devDependencies
  packages/web-components/examples/codesandbox/components-react/carousel/package.json
Labels: Ready to merge, contribution

#4759 style(feature-card): fixing img aspect ratio
  packages/styles/scss/components/feature-card/_feature-card.scss
Labels: Ready to merge, package: web components

#4763 style(leadspace): added explicit height declaration for sections
  packages/styles/scss/components/leadspace/_leadspace.scss
Labels: Ready to merge, package: react, package: web components

#4769 fix(web-components): add `Constructor` to the package
  packages/web-components/src/component-mixins/callout/callout.ts
  packages/web-components/src/component-mixins/cta/cta.ts
  packages/web-components/src/component-mixins/cta/video.ts
  packages/web-components/src/components/video-player/video-player-container.ts
  packages/web-components/src/globals/defs.ts
  packages/web-components/src/globals/mixins/connect.ts
  packages/web-components/src/globals/mixins/hybrid-render.ts
  packages/web-components/src/globals/mixins/modal-render.ts
  packages/web-components/src/globals/mixins/stable-selector.ts
  packages/web-components/src/globals/mixins/throttled-input.ts
  packages/web-components/src/typings/constructor.d.ts
Labels: Ready to merge, package: web components

#4767 fix(carousel): explicitly set width
  packages/styles/scss/components/carousel/_carousel.scss
Labels: Ready to merge, package: web components

#4732 chore(button-group): use enum from core `carbon-web-components`
  packages/web-components/src/components/button-group/button-group.ts
  packages/web-components/src/components/button-group/defs.ts
Labels: Ready to merge, package: web components

#4751 fix(feature-card): ensure aligned to grid line
  packages/styles/scss/components/feature-card/_feature-card.scss
  packages/web-components/.storybook/_simple-grid.scss
  packages/web-components/.storybook/container.scss
  packages/web-components/src/components/card-link/__stories__/card-link.stories.ts
  packages/web-components/src/components/card/__stories__/card.stories.ts
  packages/web-components/src/components/cta/__stories__/cta.stories.ts
  packages/web-components/src/components/feature-card/__stories__/feature-card.stories.ts
  packages/web-components/src/components/feature-card/feature-card.ts
  packages/web-components/tests/snapshots/dds-feature-card-block-large.md
  packages/web-components/tests/snapshots/dds-feature-card-block-medium.md
  packages/web-components/tests/snapshots/dds-feature-card.md
Labels: Ready to merge, package: react, package: web components

#4758 chore(callout): remove unused code
  packages/web-components/src/component-mixins/callout/callout.ts
Labels: Ready to merge, package: web components

#4746 feat(card): added pictogram
  packages/styles/scss/components/card/index.scss
  packages/web-components/src/components/card/__stories__/README.stories.mdx
  packages/web-components/src/components/card/__stories__/card.stories.ts
  packages/web-components/src/components/card/card.scss
  packages/web-components/src/components/card/card.ts
  packages/web-components/src/components/card/defs.ts
  packages/web-components/tests/snapshots/dds-card-cta.md
  packages/web-components/tests/snapshots/dds-card.md
  packages/web-components/tests/snapshots/dds-feature-card-block-large.md
  packages/web-components/tests/snapshots/dds-feature-card.md
  packages/web-components/tests/snapshots/dds-feature-cta.md
Labels: Ready to merge

#4779 feat(cta): introduce button variant
  packages/styles/scss/components/buttongroup/_buttongroup.scss
  packages/web-components/src/components/button-group/button-group.scss
  packages/web-components/src/components/button/button.ts
  packages/web-components/src/components/cta/__stories__/cta.stories.ts
  packages/web-components/src/components/cta/button-cta.ts
  packages/web-components/src/components/cta/cta.scss
Labels: package: web components

#4756 chore(quote): change slot names to dash-case
  packages/web-components/examples/codesandbox/components/callout-quote/index.html
  packages/web-components/src/components/callout-quote/__stories__/README.stories.mdx
  packages/web-components/src/components/callout-quote/__stories__/callout-quote.stories.ts
  packages/web-components/src/components/dotcom-shell/__stories__/dotcom-shell.stories.ts
  packages/web-components/src/components/quote/__stories__/README.stories.mdx
  packages/web-components/src/components/quote/__stories__/quote.stories.ts
  packages/web-components/src/components/quote/quote.ts
  packages/web-components/tests/snapshots/dds-callout-quote.md
  packages/web-components/tests/snapshots/dds-quote.md
Labels: Ready to merge, package: web components

#4782 fix(card): added grid to story
  packages/web-components/src/components/card/__stories__/card.stories.ts
Labels: Ready to merge

#4783 chore(card): introduce eyebrow and heading components
  packages/styles/scss/components/card/index.scss
  packages/styles/scss/components/feature-card-block-large/_feature-card-block-large.scss
  packages/styles/scss/components/feature-card-block-medium/_feature-card-block-medium.scss
  packages/styles/scss/components/feature-card/_feature-card.scss
  packages/web-components/examples/codesandbox/components-react/carousel/src/index.js
  packages/web-components/examples/codesandbox/components/card-group/index.html
  packages/web-components/examples/codesandbox/components/card-group/src/index.js
  packages/web-components/examples/codesandbox/components/card-section-images/index.html
  packages/web-components/examples/codesandbox/components/card-section-images/src/index.js
  packages/web-components/examples/codesandbox/components/card-section-simple/index.html
  packages/web-components/examples/codesandbox/components/card-section-simple/src/index.js
  packages/web-components/examples/codesandbox/components/card/index.html
  packages/web-components/examples/codesandbox/components/card/src/index.js
  packages/web-components/examples/codesandbox/components/carousel/index.html
  packages/web-components/examples/codesandbox/components/content-block-cards/index.html
  packages/web-components/examples/codesandbox/components/content-block-cards/src/index.js
  packages/web-components/examples/codesandbox/components/content-group-cards/index.html
  packages/web-components/examples/codesandbox/components/content-group-cards/src/index.js
  packages/web-components/examples/codesandbox/components/feature-card-block-large/index.html
  packages/web-components/examples/codesandbox/components/feature-card-block-large/src/index.js
  packages/web-components/examples/codesandbox/usage/react-ssr/src/views/App.js
  packages/web-components/src/components/card-group/__stories__/card-group.stories.ts
  packages/web-components/src/components/card-section-carousel/__stories__/card-section-carousel.stories.ts
  packages/web-components/src/components/card-section-images/__stories__/card-section-images.stories.ts
  packages/web-components/src/components/card-section-images/__tests__/card-section-images.test.ts
  packages/web-components/src/components/card-section-simple/__stories__/card-section-simple.stories.ts
  packages/web-components/src/components/card-section-simple/__tests__/card-section-simple.test.ts
  packages/web-components/src/components/card/__stories__/card.stories.ts
  packages/web-components/src/components/card/card-eyebrow.ts
  packages/web-components/src/components/card/card-heading.ts
  packages/web-components/src/components/card/card.scss
  packages/web-components/src/components/card/card.ts
  packages/web-components/src/components/carousel/__stories__/carousel.stories.ts
  packages/web-components/src/components/content-block-cards/__stories__/content-block-cards.stories.ts
  packages/web-components/src/components/content-block-cards/__tests__/content-block-cards.test.ts
  packages/web-components/src/components/content-block-media/__stories__/content-block-media.stories.ts
  packages/web-components/src/components/content-block-mixed/__stories__/content-block-mixed.stories.ts
  packages/web-components/src/components/content-group-cards/__stories__/content-group-cards.stories.ts
  packages/web-components/src/components/content-group-cards/__tests__/content-group-cards.test.ts
  packages/web-components/src/components/dotcom-shell/__stories__/dotcom-shell.stories.ts
  packages/web-components/src/components/feature-card-block-large/__stories__/feature-card-block-large.stories.ts
  packages/web-components/src/components/feature-card-block-medium/__stories__/feature-card-block-medium.stories.ts
  packages/web-components/src/components/feature-card-block-medium/feature-card-block-medium.ts
  packages/web-components/src/components/feature-card/__stories__/feature-card.stories.ts
  packages/web-components/tests/snapshots/dds-card-cta.md
  packages/web-components/tests/snapshots/dds-card.md
  packages/web-components/tests/snapshots/dds-feature-card-block-large.md
  packages/web-components/tests/snapshots/dds-feature-card-block-medium.md
  packages/web-components/tests/snapshots/dds-feature-card.md
  packages/web-components/tests/snapshots/dds-feature-cta.md
Labels: Ready to merge, package: web components

#4786 fix(dotcom-shell): removing min-height from dotcom-shell
  packages/styles/scss/components/dotcom-shell/_dotcom-shell.scss
Labels: Ready to merge, package: web components

#4717 feat(masthead): add horizontal scroller
  packages/styles/scss/components/masthead/_masthead-l1.scss
  packages/web-components/src/components/masthead/__tests__/top-nav.test.ts
  packages/web-components/src/components/masthead/masthead.scss
  packages/web-components/src/components/masthead/top-nav.ts
  packages/web-components/src/components/table-of-contents/__tests__/table-of-contents.test.ts
  packages/web-components/tests/utils/mock-intersection-observer.ts
Labels: Ready to merge, package: web components

#4787 chore(dependabot): updating dompurify to 2.0.17
  .yarn/offline-mirror/dompurify-2.0.11.tgz
  .yarn/offline-mirror/dompurify-2.0.17.tgz
  .yarn/offline-mirror/dompurify-2.2.6.tgz
  packages/utilities/package.json
  packages/web-components/package.json
  yarn.lock
Labels: Ready to merge

#4788 chore(percy): suppressing callout media video player in percy
  packages/web-components/.storybook/preview-head.html
Labels: Ready to merge

#4791 docs(card): catch up with latest change
  packages/web-components/examples/codesandbox/components/feature-card/index.html
  packages/web-components/examples/codesandbox/components/feature-card/src/index.js
  packages/web-components/src/components/card-group/__stories__/README.stories.mdx
  packages/web-components/src/components/card-section-carousel/__stories__/README.stories.mdx
  packages/web-components/src/components/card-section-carousel/__stories__/README.stories.react.mdx
  packages/web-components/src/components/card-section-carousel/__stories__/card-section-carousel.stories.react.tsx
  packages/web-components/src/components/card-section-images/__stories__/README.stories.mdx
  packages/web-components/src/components/card-section-simple/__stories__/README.stories.mdx
  packages/web-components/src/components/card/__stories__/README.stories.mdx
  packages/web-components/src/components/carousel/__stories__/README.stories.mdx
  packages/web-components/src/components/carousel/__stories__/README.stories.react.mdx
  packages/web-components/src/components/carousel/__stories__/carousel.stories.react.tsx
  packages/web-components/src/components/content-block-cards/__stories__/README.stories.mdx
  packages/web-components/src/components/content-block-mixed/__stories__/README.stories.mdx
  packages/web-components/src/components/content-group-cards/__stories__/README.stories.mdx
  packages/web-components/src/components/feature-card-block-medium/__stories__/README.stories.mdx
Labels: Ready to merge, package: web components

#4793 fix(button-cta): supports video mode
  packages/web-components/src/component-mixins/cta/cta.ts
  packages/web-components/src/component-mixins/cta/video.ts
  packages/web-components/src/components/button/button.ts
  packages/web-components/src/components/link/link.ts
Labels: Ready to merge, package: web components

#4794 docs(content-block): remove slot attribute from heading
  packages/web-components/examples/codesandbox/components/callout-with-media/index.html
  packages/web-components/src/components/callout-with-media/__stories__/README.stories.mdx
  packages/web-components/src/components/callout-with-media/__stories__/callout-with-media.stories.ts
  packages/web-components/src/components/callout-with-media/__tests__/callout-with-media.test.ts
  packages/web-components/src/components/dotcom-shell/__stories__/dotcom-shell.stories.ts
Labels: Ready to merge, package: web components

#4792 chore(devenv): add mark-type knob to callout quote
  packages/web-components/src/components/callout-quote/__stories__/README.stories.mdx
  packages/web-components/src/components/callout-quote/__stories__/callout-quote.stories.ts
  packages/web-components/src/components/quote/__stories__/README.stories.mdx
Labels: Ready to merge, package: web components

#4796 docs(components): some more updates
  packages/web-components/src/components/card-section-carousel/__stories__/card-section-carousel.stories.react.tsx
  packages/web-components/src/components/pictogram-item/__stories__/README.stories.mdx
Labels: package: web components
