Repository carbon-design-system/carbon-for-ibm-dotcom, pull requests merged in 2020-03, with the labels that each got.

#1556 Spacing Fixes
  .yarn/offline-mirror/@carbon-grid-10.8.3.tgz
  .yarn/offline-mirror/@carbon-layout-10.5.0.tgz
  .yarn/offline-mirror/@carbon-layout-10.7.3.tgz
  .yarn/offline-mirror/@carbon-type-10.5.1.tgz
  .yarn/offline-mirror/@carbon-type-10.8.3.tgz
  packages/react/src/components/CTA/CTA.js
  packages/react/src/components/CTA/__stories__/CTA.stories.js
  packages/react/src/components/ImageWithCaption/ImageWithCaption.js
  packages/react/src/patterns/blocks/ContentBlockMedia/__stories__/ContentBlockMedia.stories.js
  packages/react/src/patterns/blocks/ContentBlockMixed/__stories__/ContentBlockMixed.stories.js
  packages/react/src/patterns/blocks/ContentBlockSegmented/ContentBlockSegmented.js
  packages/react/src/patterns/blocks/ContentBlockSegmented/__stories__/ContentBlockSegmented.stories.js
  packages/react/src/patterns/blocks/ContentBlockSimple/ContentBlockSimple.js
  packages/react/src/patterns/blocks/ContentBlockSimple/__stories__/ContentBlockSimple.stories.js
  packages/react/src/patterns/blocks/ContentBlockSimple/__stories__/index.scss
  packages/react/src/patterns/blocks/ContentGroupCards/ContentGroupCards.js
  packages/react/src/patterns/blocks/ContentGroupCards/__stories__/ContentGroupCards.stories.js
  packages/react/src/patterns/blocks/ContentGroupSimple/ContentGroupSimple.js
  packages/react/src/patterns/blocks/ContentGroupSimple/__stories__/data/ContentGroupSimple.knobs.js
  packages/react/src/patterns/sub-patterns/ContentBlock/ContentBlock.js
  packages/react/src/patterns/sub-patterns/ContentBlock/__stories__/ContentBlock.stories.js
  packages/react/src/patterns/sub-patterns/ContentBlock/__stories__/index.scss
  packages/react/src/patterns/sub-patterns/ContentGroup/ContentGroup.js
  packages/react/src/patterns/sub-patterns/ContentGroup/__stories__/ContentGroup.stories.js
  packages/react/src/patterns/sub-patterns/ContentGroup/__stories__/index.scss
  packages/react/src/patterns/sub-patterns/ContentSection/__stories__/ContentSection.stories.js
  packages/react/src/patterns/sub-patterns/ContentSection/__stories__/index.scss
  packages/styles/package.json
  packages/styles/scss/components/image-with-caption/image-with-caption.scss
  packages/styles/scss/components/image/_image.scss
  packages/styles/scss/patterns/blocks/content-block-media/_content-block-media.scss
  packages/styles/scss/patterns/blocks/content-block-mixed/_content-block-mixed.scss
  packages/styles/scss/patterns/blocks/content-block-segmented/_content-block-segmented.scss
  packages/styles/scss/patterns/blocks/content-block-simple/_content-block-simple.scss
  packages/styles/scss/patterns/blocks/content-group-cards/_content-group-cards-item.scss
  packages/styles/scss/patterns/blocks/content-group-cards/_content-group-cards.scss
  packages/styles/scss/patterns/blocks/content-group-cards/index.scss
  packages/styles/scss/patterns/blocks/content-group-pictograms/_content-group-pictograms.scss
  packages/styles/scss/patterns/blocks/content-group-simple/_content-group-simple.scss
  packages/styles/scss/patterns/blocks/feature-card/_feature-card.scss
  packages/styles/scss/patterns/sub-patterns/card/index.scss
  packages/styles/scss/patterns/sub-patterns/content-block/_content-block.scss
  packages/styles/scss/patterns/sub-patterns/content-group/_content-group.scss
  packages/styles/scss/patterns/sub-patterns/content-item/_content-item.scss
  yarn.lock
Labels: package: react

#1439 feat(pattern): created LinkList pattern
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/CTA/CTA.js
  packages/react/src/patterns/sub-patterns/LinkList/LinkList.js
  packages/react/src/patterns/sub-patterns/LinkList/README.md
  packages/react/src/patterns/sub-patterns/LinkList/__stories__/LinkList.stories.js
  packages/react/src/patterns/sub-patterns/LinkList/__stories__/index.scss
  packages/react/src/patterns/sub-patterns/LinkList/__tests__/LinkList.test.js
  packages/react/src/patterns/sub-patterns/LinkList/index.js
  packages/react/src/patterns/sub-patterns/index.js
  packages/styles/scss/ibm-dotcom-styles.scss
  packages/styles/scss/patterns/sub-patterns/card/index.scss
  packages/styles/scss/patterns/sub-patterns/link-list/README.md
  packages/styles/scss/patterns/sub-patterns/link-list/_link-list.scss
  packages/styles/scss/patterns/sub-patterns/link-list/index.scss
Labels: package: react

#1539 feat(pattern): added CTA inverse for cardSection simple
  packages/react/src/patterns/sections/CardSection/CardSection.js
  packages/react/src/patterns/sections/CardSection/README.md
  packages/react/src/patterns/sections/CardSection/__stories__/CardSection.stories.js
  packages/react/src/patterns/sections/CardSectionSimple/CardSectionSimple.js
  packages/react/src/patterns/sections/CardSectionSimple/__stories__/CardSectionSimple.stories.js
  packages/styles/scss/patterns/sections/card-section/_card-section.scss
Labels: package: react

#1547 feat(uniqueid): adding uniqueid utility
  packages/utilities/src/utilities/index.js
  packages/utilities/src/utilities/markdownToHtml/__tests__/markdownToHtml.test.js
  packages/utilities/src/utilities/uniqueid/__tests__/uniqueid.test.js
  packages/utilities/src/utilities/uniqueid/index.js
  packages/utilities/src/utilities/uniqueid/uniqueid.js
Labels: package: utilities

#1570 fix(cta): fixed card cta hanging
  packages/react/src/patterns/blocks/ContentBlockMedia/ContentBlockMedia.js
  packages/react/src/patterns/blocks/ContentBlockMixed/ContentBlockMixed.js
  packages/react/src/patterns/blocks/ContentBlockSegmented/ContentBlockSegmented.js
  packages/react/src/patterns/blocks/ContentBlockSimple/ContentBlockSimple.js
  packages/styles/scss/patterns/sub-patterns/content-block/_content-block.scss
  packages/styles/scss/patterns/sub-patterns/content-group/_content-group.scss
Labels: package: react

#1561 fix(pattern): validate and do not pass cta into cardsectionimages
  packages/react/src/patterns/sections/CardSectionImages/CardSectionImages.js
  packages/react/src/patterns/sections/CardSectionImages/__stories__/CardSectionImages.stories.js
Labels: package: react

#1586 fix(storybook): fix storybook var for TOC
  packages/react/src/patterns/sub-patterns/TableOfContents/__stories__/TableOfContents.stories.js
Labels: dev, package: react

#1571 Raised test coverage on ContentGroupCards
  packages/react/jest.config.js
  packages/react/package.json
  packages/react/src/patterns/blocks/ContentGroupCards/__tests__/ContentGroupCards.test.js
  yarn.lock
Labels: package: react

#1583 Feat/learn test page
  packages/react/src/patterns/blocks/ContentBlockMedia/ContentBlockMedia.js
  packages/react/src/patterns/sub-patterns/Layout/Layout.js
  packages/react/src/patterns/sub-patterns/Layout/README.md
  packages/react/src/patterns/sub-patterns/Layout/__stories__/Layout.stories.js
  packages/react/src/patterns/sub-patterns/TableOfContents/README.md
  packages/react/src/patterns/sub-patterns/TableOfContents/TableOfContents.js
  packages/react/ssr-tests/nextjs/manifest.yml
  packages/react/ssr-tests/nextjs/next.config.js
  packages/react/ssr-tests/nextjs/package.json
  packages/react/ssr-tests/nextjs/pages/_document.js
  packages/react/ssr-tests/nextjs/pages/index.js
  packages/react/ssr-tests/nextjs/pages/learn.js
  packages/react/ssr-tests/nextjs/server.js
  packages/react/ssr-tests/nextjs/yarn.lock
  packages/styles/scss/components/dotcom-shell/_dotcom-shell.scss
  packages/styles/scss/patterns/sub-patterns/layout/_layout.scss
Labels: package: react

#1489 fix(pattern): added role and aria-labelledby in card of cardSection
  packages/react/src/patterns/sections/CardSection/CardSection.js
Labels: package: react

#1495 feat(pattern): added aspect ratio for cardsection images pattern
  packages/react/src/patterns/sections/CardSection/CardSection.js
  packages/styles/scss/globals/utils/_ratio-base.scss
  packages/styles/scss/patterns/sections/card-section/_card-section.scss
Labels: package: react

#1588 fix(leadspace): changes buttongroup column breakpoint
  packages/styles/scss/patterns/sub-patterns/buttongroup/_buttongroup.scss
Labels: package: react

#1605 fix(css): add white bg to masthead header
  packages/styles/scss/components/masthead/_masthead.scss
Labels: package: react, package: vanilla

#1607 chore(docs): update ContentBlockSimple story; fixes #1516
  packages/react/src/patterns/blocks/ContentBlockSimple/__stories__/ContentBlockSimple.stories.js
Labels: package: react

#1608 fix(css): add missing css imports
  packages/styles/scss/patterns/blocks/content-block-media/index.scss
  packages/styles/scss/patterns/sub-patterns/content-block/_content-block.scss
Labels: package: react, package: styles

#1606 fix(pattern): updated layout pattern
  packages/react/src/patterns/sub-patterns/Layout/Layout.js
  packages/react/src/patterns/sub-patterns/Layout/README.md
  packages/react/src/patterns/sub-patterns/Layout/__stories__/Layout.stories.js
  packages/styles/scss/patterns/sub-patterns/layout/_layout.scss
Labels: package: react

#1611 docs(layout): minor tweaks to layout docs
  packages/react/src/patterns/sub-patterns/Layout/Layout.js
  packages/react/src/patterns/sub-patterns/Layout/README.md
Labels: package: react

#1625 fix(autoid): make autoids more specific for card section
  packages/react/src/patterns/sections/CardSection/CardSection.js
  packages/react/src/patterns/sections/CardSectionImages/CardSectionImages.js
  packages/react/src/patterns/sections/CardSectionSimple/CardSectionSimple.js
  packages/react/src/patterns/sub-patterns/ContentSection/ContentSection.js
Labels: package: react

#1627 fix(import): import content section styles in card section
  packages/styles/scss/patterns/sections/card-section/_card-section.scss
Labels: package: react

#1636 fix(toc): fixes toc overlapping the masthead dropdown
  packages/styles/scss/components/masthead/_masthead.scss
Labels: package: react

#1645 fix(pattern): fixed left navigation not showing any selected section
  packages/react/src/patterns/sub-patterns/TableOfContents/TableOfContents.js
  packages/react/src/patterns/sub-patterns/TableOfContents/__stories__/data/dataContent.js
Labels: package: react

#1665 chore(learn): added layout and link list examples to template
  packages/react/ssr-tests/nextjs/package.json
  packages/react/ssr-tests/nextjs/pages/learn.js
  packages/react/ssr-tests/nextjs/yarn.lock
Labels: package: react

#1651 chore(story): removed aspect-ratio on card pattern storybook
  packages/react/src/patterns/sub-patterns/Card/__stories__/Card.stories.js
Labels: package: react

#1675 fix(scss): hover now fits the whole width
  packages/styles/scss/patterns/sub-patterns/link-list/_link-list.scss
Labels: package: react

#1688 fix(scss): added padding for link-list
  packages/styles/scss/patterns/sub-patterns/link-list/_link-list.scss
Labels: package: react

#1689 Fix/cta text link
  packages/react/src/components/CTA/CTA.js
  packages/react/src/patterns/blocks/ContentBlockMixed/__stories__/ContentBlockMixed.stories.js
  packages/react/src/patterns/blocks/ContentBlockSimple/__stories__/ContentBlockSimple.stories.js
Labels: package: react

#1204 chore(dependency): update carbon-components dependency
  .yarn/offline-mirror/@carbon-icon-helpers-10.6.0.tgz
  .yarn/offline-mirror/@carbon-icons-react-10.9.1.tgz
  .yarn/offline-mirror/carbon-components-10.10.1.tgz
  .yarn/offline-mirror/carbon-components-react-7.10.1.tgz
  .yarn/offline-mirror/cssmin-0.4.3.tgz
  .yarn/offline-mirror/lodash.findlast-4.6.0.tgz
  .yarn/offline-mirror/node-sass-4.13.1.tgz
  .yarn/offline-mirror/scss-to-json-2.0.0.tgz
  packages/styles/package.json
  packages/styles/scss/themes/expressive/components/_progressive-indicator.scss
  packages/styles/scss/themes/expressive/index.scss
  yarn.lock
Labels: package: react, package: styles

#1658 fix(components): changed fullwidth to expanded and max-height to height
  packages/react/src/components/ExpressiveModal/__stories__/ExpressiveModal.stories.js
  packages/styles/scss/components/expressive-modal/_expressive-modal.scss
Labels: package: react

#1698 chore(docs): fix readme inconsistencies
  packages/react/src/components/CTA/README.md
  packages/react/src/components/DotcomShell/README.md
  packages/react/src/components/ExpressiveModal/README.md
  packages/react/src/components/Footer/README.md
  packages/react/src/components/HorizontalRule/README.md
  packages/react/src/components/Image/README.md
  packages/react/src/components/ImageWithCaption/README.md
  packages/react/src/components/LightboxMediaViewer/README.md
  packages/react/src/components/LinkWithIcon/README.md
  packages/react/src/components/LocaleModal/README.md
  packages/react/src/components/Masthead/README.md
  packages/react/src/patterns/blocks/ContentBlockMedia/README.md
  packages/react/src/patterns/blocks/ContentBlockMixed/README.md
  packages/react/src/patterns/blocks/ContentBlockSegmented/README.md
  packages/react/src/patterns/blocks/ContentBlockSimple/README.md
  packages/react/src/patterns/blocks/ContentGroupCards/README.md
  packages/react/src/patterns/blocks/ContentGroupPictograms/README.md
  packages/react/src/patterns/blocks/ContentGroupSimple/README.md
  packages/react/src/patterns/blocks/FeatureCard/README.md
  packages/react/src/patterns/blocks/LogoGrid/README.md
  packages/react/src/patterns/sections/CardSection/README.md
  packages/react/src/patterns/sections/CardSectionImages/README.md
  packages/react/src/patterns/sections/CardSectionSimple/README.md
  packages/react/src/patterns/sections/LeadSpace/README.md
  packages/react/src/patterns/sections/SimpleBenefits/README.md
  packages/react/src/patterns/sections/SimpleOverview/README.md
  packages/react/src/patterns/sub-patterns/ButtonGroup/README.md
  packages/react/src/patterns/sub-patterns/Card/README.md
  packages/react/src/patterns/sub-patterns/ContentGroup/README.md
  packages/react/src/patterns/sub-patterns/ContentItem/README.md
  packages/react/src/patterns/sub-patterns/ContentSection/README.md
  packages/react/src/patterns/sub-patterns/Layout/README.md
  packages/react/src/patterns/sub-patterns/LinkList/README.md
  packages/react/src/patterns/sub-patterns/PictogramItem/README.md
  packages/react/src/patterns/sub-patterns/TableOfContents/README.md
  packages/vanilla/src/components/dotcomshell/README.md
  packages/vanilla/src/components/footer/README.md
  packages/vanilla/src/components/masthead/README.md
Labels: documentation

#1582 fix(pattern): added validation for menu-items props
  packages/react/src/patterns/sub-patterns/TableOfContents/TableOfContents.js
Labels: package: react

#1697 fix(pattern): fixed dropdown label for mobile
  packages/react/src/patterns/sub-patterns/TableOfContents/TOCMobile.js
Labels: package: react

#1699 Feat/video player
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/VideoPlayer/README.md
  packages/react/src/components/VideoPlayer/VideoPlayer.js
  packages/react/src/components/VideoPlayer/__stories__/VideoPlayer.stories.js
  packages/react/src/components/VideoPlayer/__stories__/index.scss
  packages/react/src/components/VideoPlayer/index.js
  packages/services/src/services/Translation/__tests__/data/response.json
  packages/services/src/services/VideoPlayer/VideoPlayer.js
  packages/services/src/services/VideoPlayer/__tests__/VideoPlayer.test.js
  packages/services/src/services/VideoPlayer/__tests__/data/response.json
  packages/styles/scss/components/video-player/_video-player.scss
Labels: package: react

#1715 fix(pattern): fixed current section indicator override
  packages/react/src/patterns/sub-patterns/TableOfContents/TOCDesktop.js
Labels: package: react

#1710 "fix(leadspace): optional buttons"
  packages/react/src/patterns/sections/LeadSpace/__stories__/LeadSpace.stories.js
Labels: package: react

#1728 fix(issue-1687-learn-page-footer): no bottom padding, per suggestion
  packages/styles/scss/components/dotcom-shell/_dotcom-shell.scss
Labels: package: react

#1709 feat(analytics): metrics for kaltura video player
  packages/services/src/services/Analytics/Analytics.js
  packages/services/src/services/Analytics/README.md
  packages/services/src/services/Analytics/__tests__/Analytics.test.js
  packages/services/src/services/VideoPlayer/VideoPlayer.js
  packages/services/src/services/VideoPlayer/__tests__/VideoPlayer.test.js
Labels: package: services

#1736 fix(scss): reinforced link-list pattern styling selectors
  packages/styles/scss/patterns/sub-patterns/link-list/_link-list.scss
  packages/styles/scss/patterns/sub-patterns/tableofcontents/_tableofcontents.scss
Labels: package: react

#1729 Fix/issue 1663 masthead
  packages/styles/scss/components/masthead/_masthead-search.scss
Labels: package: react

#1735 fix(cardsection): fixed the aspect ratio on images
  packages/react/src/patterns/sections/CardSection/__stories__/data/cards.json
  packages/styles/scss/globals/utils/_ratio-base.scss
  packages/styles/scss/patterns/sections/card-section/_card-section.scss
Labels: package: react

#1745 fix(scss): force gpu acceleration rendering for table of contents on ios
  packages/styles/scss/patterns/sub-patterns/layout/_layout.scss
Labels: package: react

#1719 Fixes spacing between Buttons on Leadspace
  packages/styles/scss/patterns/sub-patterns/buttongroup/_buttongroup.scss
Labels: package: react

#1751 fix(link-with-icon): fixed type size
  packages/styles/scss/components/link-with-icon/_link-with-icon.scss
Labels: package: react

#1731 fix(Leadspace): spacing above buttongroup fix
  packages/styles/scss/patterns/sub-patterns/buttongroup/_buttongroup.scss
Labels: package: react

#1787 fix(accessibility): focus now change to the content heading on toc
  packages/react/src/patterns/sub-patterns/TableOfContents/TOCDesktop.js
Labels: package: react

#1788 fix(deps): add missing dependencies to vanilla package
  .yarn/offline-mirror/@carbon-icon-helpers-10.6.0.tgz
  packages/vanilla/package.json
  yarn.lock
Labels: package: vanilla

#1740 feat(video-player): embed video player within lightbox component
  packages/react/src/components/LightboxMediaViewer/LightboxMediaViewer.js
  packages/react/src/components/LightboxMediaViewer/__stories__/LightboxMediaViewer.stories.js
  packages/react/src/components/VideoPlayer/VideoPlayer.js
  packages/styles/scss/components/lightbox-media-viewer/_lightbox-media-viewer.scss
Labels: package: react

#1790 fix(issue-1622): remove TOC header text color
  packages/styles/scss/patterns/sub-patterns/tableofcontents/_tableofcontents.scss
Labels: package: styles

#1779 fix(scss): added max-width to card content
  packages/styles/scss/patterns/sub-patterns/card/index.scss
Labels: package: react

#1794 fix(accessibility): add aria role to CTA card; fixes #1426
  packages/react/src/components/CTA/CTA.js
Labels: package: react

#1781 Fix/lightbox media spacing
  packages/react/src/components/LightboxMediaViewer/LightboxMediaViewer.js
  packages/react/src/components/LightboxMediaViewer/__stories__/LightboxMediaViewer.stories.js
  packages/styles/scss/components/expressive-modal/_expressive-modal.scss
  packages/styles/scss/components/lightbox-media-viewer/_lightbox-media-viewer.scss
Labels: package: react, package: styles

#1802 Fix/decode image strings
  packages/react/src/components/Image/Image.js
  packages/react/src/components/Image/__stories__/Image.stories.js
Labels: package: react

#1870 fix(accessibility): changed footer tag for div in card
  packages/react/src/patterns/sub-patterns/Card/Card.js
Labels: package: react

#1871 fix(card-section-images): account for eyebrow in sameheight utility
  packages/react/src/patterns/sections/CardSection/CardSection.js
Labels: package: react

#1872 fix(leadspace): fixed sub copy columns on all breakpoints
  packages/styles/scss/patterns/sections/leadspace/_leadspace.scss
Labels: package: react

#1808 fix(leadspace): added max width
  packages/styles/scss/patterns/sections/leadspace/_leadspace.scss
Labels: package: react

#1882 fix(util): remove decodeString util from Image
  packages/react/src/components/Image/Image.js
  packages/react/src/components/Image/__stories__/Image.stories.js
Labels: package: react

#1877 fix(accessibility): added heading as aria-label
  packages/react/src/patterns/blocks/ContentGroupCards/ContentGroupCards.js
Labels: package: react

#1883 Fix/locale host
  packages/react/src/patterns/sub-patterns/TableOfContents/__stories__/data/dataContent.js
  packages/services/src/services/Locale/Locale.js
  packages/utilities/src/utilities/ipcinfoCookie/ipcinfoCookie.js
  packages/utilities/src/utilities/smoothScroll/smoothScroll.js
  packages/vanilla/src/components/masthead/masthead-submenu.js
Labels: package: react

#1885 fix(styling): added gutter between left menu and content
  packages/styles/scss/patterns/sub-patterns/tableofcontents/_tableofcontents.scss
Labels: package: react

#1888 fix(styling): changed arrow color on locale-modal card
  packages/styles/scss/components/locale-modal/_locale-modal.scss
Labels: package: react

#1879 fix(leadspace): fixed tabbing order for buttons on leadspace
  packages/react/src/patterns/sub-patterns/ButtonGroup/ButtonGroup.js
Labels: package: react

#1919 fix(util): added offset to the smooth-scroll util
  packages/react/src/patterns/sub-patterns/TableOfContents/TOCMobile.js
  packages/utilities/src/utilities/smoothScroll/smoothScroll.js
Labels: package: react, package: utilities

#1865 Feat(cta): render lightbox video player to ctas
  packages/react/src/components/CTA/CTA.js
  packages/react/src/components/CTA/__stories__/CTA.stories.js
  packages/react/src/patterns/blocks/FeatureCard/FeatureCard.js
Labels: package: react

#1934 fix(accessibility): locale-modal back button now works with keyboard
  packages/react/src/components/LocaleModal/LocaleModalRegions.js
Labels: package: react
