Repository carbon-design-system/carbon-for-ibm-dotcom, pull requests merged in 2020-11, with the labels that each got.

#4380 docs(masthead-search): fix wrong event name in the doc
  packages/web-components/src/components/masthead/__stories__/README.stories.mdx
Labels: Ready to merge, package: web components

#4379 chore(devenv): adjust paddings in stories, etc
  packages/web-components/.storybook/config.ts
  packages/web-components/.storybook/container.scss
  packages/web-components/src/components/callout-quote/__stories__/callout-quote.stories.scss
  packages/web-components/src/components/callout-quote/__stories__/callout-quote.stories.ts
  packages/web-components/src/components/content-block-simple/__stories__/content-block-simple.stories.ts
  packages/web-components/src/components/content-group-simple/__stories__/content-group-simple.stories.ts
  packages/web-components/src/components/feature-card-block-medium/__stories__/feature-card-block-medium.stories.ts
  packages/web-components/src/components/leadspace/__stories__/leadspace.stories.scss
  packages/web-components/src/components/leadspace/__stories__/leadspace.stories.ts
  packages/web-components/src/components/quote/__stories__/quote.stories.scss
  packages/web-components/src/components/quote/__stories__/quote.stories.ts
  packages/web-components/src/components/video-player/__stories__/video-player.stories.ts
Labels: Ready to merge, package: web components

#4376 docs(video-player): document how to manually stop playing
  packages/react/src/components/VideoPlayer/README.stories.mdx
  packages/web-components/src/components/video-player/__stories__/README.stories.mdx
Labels: Ready to merge, package: react, package: web components

#4377 chore(video-player): allow style customization for caption
  packages/styles/scss/components/video-player/_video-player.scss
Labels: Ready to merge, package: react, package: styles, package: web components

#4371 feat(logo-grid): web component created
  packages/styles/scss/components/logo-grid/_logo-grid.scss
  packages/web-components/examples/codesandbox/components/logo-grid/.babelrc
  packages/web-components/examples/codesandbox/components/logo-grid/.gitignore
  packages/web-components/examples/codesandbox/components/logo-grid/index.html
  packages/web-components/examples/codesandbox/components/logo-grid/package.json
  packages/web-components/examples/codesandbox/components/logo-grid/sandbox.config.json
  packages/web-components/examples/codesandbox/components/logo-grid/src/index.js
  packages/web-components/examples/codesandbox/components/logo-grid/yarn.lock
  packages/web-components/examples/codesandbox/components/quote/index.html
  packages/web-components/src/components/link-list/__stories__/README.stories.mdx
  packages/web-components/src/components/logo-grid/__stories__/README.stories.mdx
  packages/web-components/src/components/logo-grid/__stories__/data/logos.json
  packages/web-components/src/components/logo-grid/__stories__/logo-grid.stories.ts
  packages/web-components/src/components/logo-grid/__tests__/logo-grid.test.ts
  packages/web-components/src/components/logo-grid/logo-grid-item.ts
  packages/web-components/src/components/logo-grid/logo-grid-link.ts
  packages/web-components/src/components/logo-grid/logo-grid.scss
  packages/web-components/src/components/logo-grid/logo-grid.ts
  packages/web-components/tests/snapshots/dds-logo-grid.md
Labels: Ready to merge

#4297 fix(table-of-contents): ensure anchor is visible upon jump-to-content
  packages/styles/scss/components/tableofcontents/_tableofcontents.scss
  packages/web-components/examples/codesandbox/components/table-of-contents/index.html
  packages/web-components/examples/codesandbox/components/table-of-contents/package.json
  packages/web-components/examples/codesandbox/components/table-of-contents/snowpack.config.json
  packages/web-components/examples/codesandbox/components/table-of-contents/src/index.js
  packages/web-components/examples/codesandbox/components/table-of-contents/src/index.scss
  packages/web-components/src/components/table-of-contents/__stories__/README.stories.mdx
  packages/web-components/src/components/table-of-contents/__stories__/content.ts
  packages/web-components/src/components/table-of-contents/__stories__/table-of-contents.stories.scss
  packages/web-components/src/components/table-of-contents/__tests__/table-of-contents.test.ts
  packages/web-components/src/components/table-of-contents/table-of-contents.ts
Labels: Ready to merge, package: web components

#4386 style(button-group): fixing alignment for icons on iOS
  packages/styles/scss/components/buttongroup/_buttongroup.scss
Labels: Ready to merge

#4282 fix(content-group-mixed): fix pictogram item row on md breakpoint
  packages/styles/scss/components/pictogram-item/_pictogram-item.scss
Labels: Ready to merge, hacktoberfest-accepted

#4387 chore(ddo): removing redundant carbon in version text
  docs/building-for-ibm-dotcom.md
  packages/utilities/src/utilities/settings/settings.js
Labels: Ready to merge

#4389 feat(content-item-horizontal): create web component
  packages/styles/scss/components/content-item-horizontal/_content-item-horizontal.scss
  packages/web-components/examples/codesandbox/components/content-item-horizontal/.gitignore
  packages/web-components/examples/codesandbox/components/content-item-horizontal/index.html
  packages/web-components/examples/codesandbox/components/content-item-horizontal/package.json
  packages/web-components/examples/codesandbox/components/content-item-horizontal/sandbox.config.json
  packages/web-components/examples/codesandbox/components/content-item-horizontal/snowpack.config.json
  packages/web-components/examples/codesandbox/components/content-item-horizontal/src/index.js
  packages/web-components/src/components/content-item-horizontal/__stories__/README.stories.mdx
  packages/web-components/src/components/content-item-horizontal/__stories__/content-item-horizontal.stories.scss
  packages/web-components/src/components/content-item-horizontal/__stories__/content-item-horizontal.stories.ts
  packages/web-components/src/components/content-item-horizontal/__tests__/content-item-horizontal.test.ts
  packages/web-components/src/components/content-item-horizontal/content-item-horizontal.scss
  packages/web-components/src/components/content-item-horizontal/content-item-horizontal.ts
  packages/web-components/src/components/content-item/content-item.ts
  packages/web-components/src/components/link-list/link-list.scss
  packages/web-components/tests/snapshots/dds-content-item-horizontal.md
Labels: Ready to merge, package: web components

#4390 chore(devenv): add more grid classes to card story
  packages/web-components/src/components/card/__stories__/card.stories.ts
Labels: Ready to merge, package: web components

#4402 fix(content-item-horizontal): fix heading styling
  packages/styles/scss/components/content-item-horizontal/_content-item-horizontal.scss
Labels: package: web components

#4404 fix(masthead): remove console errors
  packages/react/src/components/Masthead/HeaderNavContainer.js
Labels: Ready to merge, package: react

#4396 fix(styles): ensure dds-prefix variable is included
  packages/styles/scss/components/buttongroup/_buttongroup.scss
  packages/styles/scss/components/callout-quote/index.scss
  packages/styles/scss/components/card-group/_card-group.scss
  packages/styles/scss/components/card/index.scss
  packages/styles/scss/components/dotcom-shell/_dotcom-shell.scss
  packages/styles/scss/components/feature-card-block-large/_feature-card-block-large.scss
  packages/styles/scss/components/feature-card-block-medium/_feature-card-block-medium.scss
  packages/styles/scss/components/feature-card/_feature-card.scss
  packages/styles/scss/components/footer/_components.scss
  packages/styles/scss/components/horizontalrule/_horizontalrule.scss
  packages/styles/scss/components/image-with-caption/image-with-caption.scss
  packages/styles/scss/components/leadspace/_leadspace.scss
  packages/styles/scss/components/lightbox-media-viewer/_lightbox-media-viewer.scss
  packages/styles/scss/components/link-list/index.scss
  packages/styles/scss/components/logo-grid/_logo-grid.scss
  packages/styles/scss/components/masthead/index.scss
  packages/styles/scss/components/pictogram-item/_pictogram-item.scss
  packages/styles/scss/components/quote/_quote.scss
  packages/styles/scss/components/tableofcontents/_tableofcontents.scss
  packages/styles/scss/components/video-player/_video-player.scss
  packages/styles/scss/internal/callout/_callout.scss
  packages/styles/scss/internal/content-block/_content-block.scss
  packages/styles/scss/internal/content-group/_content-group.scss
  packages/styles/scss/internal/content-item/_content-item.scss
  packages/web-components/src/components/button/button.scss
  packages/web-components/src/components/card-group/card-group.scss
  packages/web-components/src/components/card-link/card-link.scss
  packages/web-components/src/components/content-block-simple/content-block-simple.scss
  packages/web-components/src/components/content-block/content-block.scss
  packages/web-components/src/components/content-group-simple/content-group-simple.scss
  packages/web-components/src/components/content-group/content-group.scss
  packages/web-components/src/components/content-item/content-item.scss
  packages/web-components/src/components/content-section/content-section.scss
  packages/web-components/src/components/cta/video-cta-composite.scss
  packages/web-components/src/components/dotcom-shell/dotcom-shell-composite.scss
  packages/web-components/src/components/feature-card-block-large/feature-card-block-large.scss
  packages/web-components/src/components/feature-card-block-medium/feature-card-block-medium.scss
  packages/web-components/src/components/feature-card/feature-card.scss
  packages/web-components/src/components/horizontal-rule/horizontal-rule.scss
  packages/web-components/src/components/image-with-caption/image-with-caption.scss
  packages/web-components/src/components/image/image.scss
  packages/web-components/src/components/leadspace/leadspace.scss
  packages/web-components/src/components/lightbox-media-viewer/lightbox-video-player-composite.scss
  packages/web-components/src/components/link-list/link-list.scss
  packages/web-components/src/components/link-with-icon/link-with-icon.scss
  packages/web-components/src/components/locale-modal/locale-modal-composite.scss
  packages/web-components/src/components/locale-modal/locale-modal.scss
  packages/web-components/src/components/logo-grid/logo-grid.scss
  packages/web-components/src/components/markdown/markdown.scss
  packages/web-components/src/components/masthead/masthead.scss
  packages/web-components/src/components/modal/modal.scss
  packages/web-components/src/components/search/search.scss
  packages/web-components/src/components/table-of-contents/table-of-contents.scss
  packages/web-components/src/components/video-player/video-player.scss
  packages/web-components/src/globals/scss/_vars.scss
Labels: Ready to merge, package: react, package: styles, package: web components

#4397 fix(content-block): fix layout
  packages/web-components/src/components/content-block-simple/__stories__/content-block-simple.stories.ts
  packages/web-components/src/components/content-block/content-block.ts
  packages/web-components/tests/snapshots/dds-content-block-simple.md
Labels: Ready to merge, package: web components

#4413 chore(build): update node version
  .github/workflows/ci-check.yml
  .github/workflows/e2e-test.yml
  .github/workflows/percy-update-base.yml
Labels: Ready to merge

#4409 fix(Footer): update readme
  packages/react/src/components/Footer/README.stories.mdx
  packages/web-components/src/components/footer/__stories__/README.stories.mdx
Labels: Ready to merge

#4415 fix(Footer): fix micro footer button css
  packages/styles/scss/components/footer/_legal-nav.scss
Labels: Ready to merge

#4343 feat(callout with media): web component version
  packages/styles/scss/components/callout-with-media/_callout-with-media.scss
  packages/styles/scss/components/pictogram-item/_pictogram-item.scss
  packages/styles/scss/internal/content-item/_content-item.scss
  packages/web-components/examples/codesandbox/components/callout-with-media/.babelrc
  packages/web-components/examples/codesandbox/components/callout-with-media/.gitignore
  packages/web-components/examples/codesandbox/components/callout-with-media/index.html
  packages/web-components/examples/codesandbox/components/callout-with-media/package.json
  packages/web-components/examples/codesandbox/components/callout-with-media/sandbox.config.json
  packages/web-components/examples/codesandbox/components/callout-with-media/src/index.js
  packages/web-components/src/components/callout-with-media/__stories__/README.stories.mdx
  packages/web-components/src/components/callout-with-media/__stories__/callout-with-media.stories.scss
  packages/web-components/src/components/callout-with-media/__stories__/callout-with-media.stories.ts
  packages/web-components/src/components/callout-with-media/__tests__/callout-with-media.test.ts
  packages/web-components/src/components/callout-with-media/callout-with-media-image.ts
  packages/web-components/src/components/callout-with-media/callout-with-media-video.ts
  packages/web-components/src/components/callout-with-media/callout-with-media.scss
  packages/web-components/src/components/callout-with-media/callout-with-media.ts
  packages/web-components/src/components/content-block-simple/content-block-simple.scss
  packages/web-components/src/components/content-block-simple/content-block-simple__media-image.ts
  packages/web-components/src/components/content-block-simple/content-block-simple__media-video.ts
  packages/web-components/src/components/pictogram-item/__stories__/pictogram-item.stories.scss
  packages/web-components/src/components/pictogram-item/__stories__/pictogram-item.stories.ts
  packages/web-components/tests/snapshots/dds-callout-with-media.md
Labels: Ready to merge, hacktoberfest, package: web components

#4406 chore(components): replace slot in light DOM
  packages/web-components/examples/codesandbox/components/card/index.html
  packages/web-components/examples/codesandbox/components/content-item-horizontal/index.html
  packages/web-components/examples/codesandbox/components/feature-card-block-large/index.html
  packages/web-components/src/components/card/__stories__/README.stories.mdx
  packages/web-components/src/components/card/__stories__/card.stories.ts
  packages/web-components/src/components/content-item-horizontal/__stories__/content-item-horizontal.stories.ts
  packages/web-components/src/components/content-item-horizontal/__tests__/content-item-horizontal.test.ts
  packages/web-components/src/components/feature-card-block-large/__stories__/feature-card-block-large.stories.ts
  packages/web-components/src/components/feature-card-block-medium/__stories__/README.stories.mdx
  packages/web-components/src/components/feature-card/__stories__/feature-card.stories.ts
Labels: Ready to merge, package: web components

#4388 docs(example): introduce v18 example
  packages/web-components/README.md
  packages/web-components/examples/codesandbox/usage/v18/.gitignore
  packages/web-components/examples/codesandbox/usage/v18/index.html
  packages/web-components/examples/codesandbox/usage/v18/package.json
  packages/web-components/examples/codesandbox/usage/v18/sandbox.config.json
  packages/web-components/examples/codesandbox/usage/v18/src/index.js
Labels: Ready to merge, package: web components

#4395 fix(image-with-caption): a11y fixes
  packages/web-components/src/components/image-with-caption/__stories__/image-with-caption.stories.ts
  packages/web-components/src/components/image-with-caption/image-with-caption.ts
  packages/web-components/tests/snapshots/dds-image-with-caption.md
Labels: Ready to merge, package: web components

#4417 fix(megamenu): fix scrollbar styles
  packages/styles/scss/components/masthead/_masthead-megamenu.scss
Labels: Ready to merge

#4426 chore(dependencies): upgrade carbon-web-components
  .yarn/offline-mirror/carbon-web-components-1.7.0.tgz
  .yarn/offline-mirror/carbon-web-components-1.7.1.tgz
  .yarn/offline-mirror/carbon-web-components-1.8.0.tgz
  package.json
  packages/web-components/package.json
  packages/web-components/tests/snapshots/dds-lightbox-video-player-composite.md
  packages/web-components/tests/snapshots/dds-locale-modal.md
  yarn.lock
Labels: Ready to merge, package: web components

#4419 docs(react-components): adding documentation about direct ES module import
  packages/react/src/components/ButtonGroup/README.stories.mdx
  packages/react/src/components/CTA/README.stories.mdx
  packages/react/src/components/CTASection/README.stories.mdx
  packages/react/src/components/CalloutData/README.stories.mdx
  packages/react/src/components/CalloutQuote/README.stories.mdx
  packages/react/src/components/CalloutWithMedia/README.stories.mdx
  packages/react/src/components/Card/README.stories.mdx
  packages/react/src/components/CardGroup/README.stories.mdx
  packages/react/src/components/CardLink/README.stories.mdx
  packages/react/src/components/CardSectionImages/README.stories.mdx
  packages/react/src/components/CardSectionSimple/README.stories.mdx
  packages/react/src/components/ContentBlockCards/README.stories.mdx
  packages/react/src/components/ContentBlockHeadlines/README.stories.mdx
  packages/react/src/components/ContentBlockMedia/README.stories.mdx
  packages/react/src/components/ContentBlockMixed/README.stories.mdx
  packages/react/src/components/ContentBlockSegmented/README.stories.mdx
  packages/react/src/components/ContentBlockSimple/README.stories.mdx
  packages/react/src/components/ContentGroupCards/README.stories.mdx
  packages/react/src/components/ContentGroupHorizontal/README.stories.mdx
  packages/react/src/components/ContentGroupPictograms/README.stories.mdx
  packages/react/src/components/ContentGroupSimple/README.stories.mdx
  packages/react/src/components/ContentItemHorizontal/README.stories.mdx
  packages/react/src/components/DotcomShell/README.stories.mdx
  packages/react/src/components/ExpressiveModal/README.stories.mdx
  packages/react/src/components/FeatureCard/README.stories.mdx
  packages/react/src/components/FeatureCardBlockLarge/README.stories.mdx
  packages/react/src/components/FeatureCardBlockMedium/README.stories.mdx
  packages/react/src/components/Footer/README.stories.mdx
  packages/react/src/components/HorizontalRule/README.stories.mdx
  packages/react/src/components/Image/README.stories.mdx
  packages/react/src/components/ImageWithCaption/README.stories.mdx
  packages/react/src/components/Layout/README.stories.mdx
  packages/react/src/components/LeadSpace/README.stories.mdx
  packages/react/src/components/LeadSpaceBlock/README.stories.mdx
  packages/react/src/components/LeadspaceWithSearch/README.stories.mdx
  packages/react/src/components/LightboxMediaViewer/README.stories.mdx
  packages/react/src/components/LinkList/README.stories.mdx
  packages/react/src/components/LinkWithIcon/README.stories.mdx
  packages/react/src/components/LocaleModal/README.stories.mdx
  packages/react/src/components/LogoGrid/README.stories.mdx
  packages/react/src/components/Masthead/README.stories.mdx
  packages/react/src/components/PictogramItem/README.stories.mdx
  packages/react/src/components/PromoBanner/README.stories.mdx
  packages/react/src/components/Quote/README.stories.mdx
  packages/react/src/components/SimpleBenefits/README.stories.mdx
  packages/react/src/components/TableOfContents/README.stories.mdx
  packages/react/src/components/VideoPlayer/README.stories.mdx
Labels: Ready to merge

#4351 chore(markdown): render to light DOM for styling
  packages/styles/scss/components/pictogram-item/_pictogram-item.scss
  packages/styles/scss/internal/content-block/_content-block.scss
  packages/styles/scss/internal/content-item/_content-item.scss
  packages/utilities/src/utilities/markdownToHtml/markdownToHtml.js
  packages/web-components/.storybook/container.scss
  packages/web-components/docs/markdown-contents.md
  packages/web-components/examples/codesandbox/components/callout-with-media/index.html
  packages/web-components/examples/codesandbox/components/callout-with-media/src/index.js
  packages/web-components/examples/codesandbox/components/content-block-simple/index.html
  packages/web-components/examples/codesandbox/components/content-block-simple/src/index.js
  packages/web-components/examples/codesandbox/components/content-group-simple/index.html
  packages/web-components/examples/codesandbox/components/content-group-simple/src/index.js
  packages/web-components/examples/codesandbox/components/content-item-horizontal/index.html
  packages/web-components/examples/codesandbox/components/content-item-horizontal/src/index.js
  packages/web-components/examples/codesandbox/components/pictogram-item/.babelrc
  packages/web-components/examples/codesandbox/components/pictogram-item/index.html
  packages/web-components/examples/codesandbox/components/pictogram-item/package.json
  packages/web-components/examples/codesandbox/components/pictogram-item/src/index.js
  packages/web-components/src/components/callout-with-media/__stories__/README.stories.mdx
  packages/web-components/src/components/callout-with-media/__stories__/callout-with-media.stories.ts
  packages/web-components/src/components/content-block-simple/__stories__/README.stories.mdx
  packages/web-components/src/components/content-block-simple/__stories__/content-block-simple.stories.ts
  packages/web-components/src/components/content-block-simple/__tests__/content-block-simple.test.ts
  packages/web-components/src/components/content-block-simple/content-block-simple.ts
  packages/web-components/src/components/content-block/content-block-copy.ts
  packages/web-components/src/components/content-block/content-block-paragraph.ts
  packages/web-components/src/components/content-block/content-block.scss
  packages/web-components/src/components/content-block/content-block.ts
  packages/web-components/src/components/content-group-simple/__stories__/README.stories.mdx
  packages/web-components/src/components/content-group-simple/__stories__/content-group-simple.stories.ts
  packages/web-components/src/components/content-group-simple/__tests__/content-group-simple.test.ts
  packages/web-components/src/components/content-group/content-group.ts
  packages/web-components/src/components/content-item-horizontal/__stories__/README.stories.mdx
  packages/web-components/src/components/content-item-horizontal/__stories__/content-item-horizontal.stories.ts
  packages/web-components/src/components/content-item-horizontal/__tests__/content-item-horizontal.test.ts
  packages/web-components/src/components/content-item-horizontal/content-item-horizontal.ts
  packages/web-components/src/components/content-item/__tests__/content-item.test.ts
  packages/web-components/src/components/content-item/content-item-copy.ts
  packages/web-components/src/components/content-item/content-item-paragraph.ts
  packages/web-components/src/components/content-item/content-item.scss
  packages/web-components/src/components/content-item/content-item.ts
  packages/web-components/src/components/cta/card-cta-markdown.ts
  packages/web-components/src/components/image-with-caption/image-with-caption.ts
  packages/web-components/src/components/image/image.scss
  packages/web-components/src/components/markdown/markdown.ts
  packages/web-components/src/components/pictogram-item/__stories__/README.stories.mdx
  packages/web-components/src/components/pictogram-item/__stories__/pictogram-item.stories.ts
  packages/web-components/src/components/pictogram-item/pictogram-item.scss
  packages/web-components/src/components/pictogram-item/pictogram-item.ts
  packages/web-components/tests/snapshots/dds-callout-with-media.md
  packages/web-components/tests/snapshots/dds-content-block-simple.md
  packages/web-components/tests/snapshots/dds-content-group-simple.md
  packages/web-components/tests/snapshots/dds-content-item-horizontal.md
  packages/web-components/tests/snapshots/dds-content-item.md
  packages/web-components/tests/snapshots/dds-pictogram-item.md
Labels: Ready to merge, package: utilities, package: web components

#4338 feat(cta-section): web component version
  packages/styles/scss/components/ctasection/_ctasection.scss
  packages/web-components/examples/codesandbox/components/cta-section/.gitignore
  packages/web-components/examples/codesandbox/components/cta-section/index.html
  packages/web-components/examples/codesandbox/components/cta-section/package.json
  packages/web-components/examples/codesandbox/components/cta-section/sandbox.config.json
  packages/web-components/examples/codesandbox/components/cta-section/snowpack.config.json
  packages/web-components/examples/codesandbox/components/cta-section/src/index.js
  packages/web-components/examples/codesandbox/components/cta-section/src/index.scss
  packages/web-components/src/components/cta-section/__stories__/README.stories.mdx
  packages/web-components/src/components/cta-section/__stories__/cta-section.stories.ts
  packages/web-components/src/components/cta-section/__tests__/cta-section.test.ts
  packages/web-components/src/components/cta-section/cta-section-copy.ts
  packages/web-components/src/components/cta-section/cta-section-item-copy.ts
  packages/web-components/src/components/cta-section/cta-section-item-heading.ts
  packages/web-components/src/components/cta-section/cta-section-item.ts
  packages/web-components/src/components/cta-section/cta-section.scss
  packages/web-components/src/components/cta-section/cta-section.ts
  packages/web-components/src/components/link-list/link-list.scss
  packages/web-components/tests/snapshots/dds-cta-section.md
Labels: Ready to merge, package: web components

#4431 docs(content-block): alternate ways to specify copy content
  packages/web-components/docs/markdown-contents.md
  packages/web-components/examples/codesandbox/usage/markdown-handlebars/.gitignore
  packages/web-components/examples/codesandbox/usage/markdown-handlebars/index.hbs
  packages/web-components/examples/codesandbox/usage/markdown-handlebars/package.json
  packages/web-components/examples/codesandbox/usage/markdown-handlebars/sandbox.config.json
  packages/web-components/examples/codesandbox/usage/markdown-handlebars/src/index.js
  packages/web-components/examples/codesandbox/usage/markdown-handlebars/src/index.scss
  packages/web-components/examples/codesandbox/usage/markdown-handlebars/webpack.config.js
  packages/web-components/src/components/markdown/markdown.ts
Labels: Ready to merge, package: web components

#4437 docs(examples): add JS extension
  packages/web-components/examples/codesandbox/components/button-group/src/index.js
  packages/web-components/examples/codesandbox/components/button/src/index.js
  packages/web-components/examples/codesandbox/components/callout-data/src/index.js
  packages/web-components/examples/codesandbox/components/callout-quote/src/index.js
  packages/web-components/examples/codesandbox/components/callout-with-media/src/index.js
  packages/web-components/examples/codesandbox/components/card-group/src/index.js
  packages/web-components/examples/codesandbox/components/card-link/src/index.js
  packages/web-components/examples/codesandbox/components/card/src/index.js
  packages/web-components/examples/codesandbox/components/content-item-horizontal/src/index.js
  packages/web-components/examples/codesandbox/components/cta-section/src/index.js
  packages/web-components/examples/codesandbox/components/expressive-modal/src/index.js
  packages/web-components/examples/codesandbox/components/footer/src/index.js
  packages/web-components/examples/codesandbox/components/horizontal-rule/src/index.js
  packages/web-components/examples/codesandbox/components/image/src/index.js
  packages/web-components/examples/codesandbox/components/lightbox-media-viewer/src/index.js
  packages/web-components/examples/codesandbox/components/link-with-icon/src/index.js
  packages/web-components/examples/codesandbox/components/locale-modal/src/index.js
  packages/web-components/examples/codesandbox/components/logo-grid/src/index.js
  packages/web-components/examples/codesandbox/components/masthead/src/index.js
  packages/web-components/examples/codesandbox/components/quote/src/index.js
  packages/web-components/src/components/button-group/__stories__/README.stories.mdx
  packages/web-components/src/components/button/__stories__/README.stories.mdx
  packages/web-components/src/components/callout-data/__stories__/README.stories.mdx
  packages/web-components/src/components/callout-quote/__stories__/README.stories.mdx
  packages/web-components/src/components/callout-with-media/__stories__/README.stories.mdx
  packages/web-components/src/components/card-group/__stories__/README.stories.mdx
  packages/web-components/src/components/card-link/__stories__/README.stories.mdx
  packages/web-components/src/components/card/__stories__/README.stories.mdx
  packages/web-components/src/components/cta-section/__stories__/README.stories.mdx
  packages/web-components/src/components/cta/__stories__/README.stories.mdx
  packages/web-components/src/components/dotcom-shell/__stories__/README.stories.mdx
  packages/web-components/src/components/expressive-modal/__stories__/README.stories.mdx
  packages/web-components/src/components/feature-card-block-large/__stories__/README.stories.mdx
  packages/web-components/src/components/feature-card-block-medium/__stories__/README.stories.mdx
  packages/web-components/src/components/feature-card/__stories__/README.stories.mdx
  packages/web-components/src/components/footer/__stories__/README.stories.mdx
  packages/web-components/src/components/horizontal-rule/__stories__/README.stories.mdx
  packages/web-components/src/components/image-with-caption/__stories__/README.stories.mdx
  packages/web-components/src/components/image/__stories__/README.stories.mdx
  packages/web-components/src/components/leadspace/__stories__/README.stories.mdx
  packages/web-components/src/components/lightbox-media-viewer/__stories__/README.stories.mdx
  packages/web-components/src/components/link-list/__stories__/README.stories.mdx
  packages/web-components/src/components/link-with-icon/__stories__/README.stories.mdx
  packages/web-components/src/components/locale-modal/__stories__/README.stories.mdx
  packages/web-components/src/components/logo-grid/__stories__/README.stories.mdx
  packages/web-components/src/components/masthead/__stories__/README.stories.mdx
  packages/web-components/src/components/pictogram-item/__stories__/README.stories.mdx
  packages/web-components/src/components/quote/__stories__/README.stories.mdx
  packages/web-components/src/components/table-of-contents/__stories__/README.stories.mdx
  packages/web-components/src/components/video-player/__stories__/README.stories.mdx
Labels: Ready to merge, package: web components

#4443 feat(Masthead): add mobile megamenu
  packages/web-components/src/components/masthead/left-nav-menu.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/tests/snapshots/dds-masthead-composite.md
Labels: Ready to merge

#4441 chore(changelog): updating changelog script to separate by folder
  tasks/get-changelog.js
Labels: Ready to merge

#4460 feat(Masthead): add search custom events
  packages/react/src/components/Masthead/MastheadSearch.js
  packages/react/src/components/Masthead/README.stories.mdx
Labels: Ready to merge

#4461 fix(cta-section): aligning link list with other text elements
  packages/web-components/src/components/link-list/link-list.scss
Labels: Ready to merge

#4435 feat(content-group-horizontal): create web component
  packages/styles/scss/components/content-group-horizontal/_content-group-horizontal.scss
  packages/styles/scss/components/content-item-horizontal/_content-item-horizontal.scss
  packages/styles/scss/internal/content-block/_content-block.scss
  packages/web-components/examples/codesandbox/components/content-group-horizontal/.gitignore
  packages/web-components/examples/codesandbox/components/content-group-horizontal/index.html
  packages/web-components/examples/codesandbox/components/content-group-horizontal/package.json
  packages/web-components/examples/codesandbox/components/content-group-horizontal/sandbox.config.json
  packages/web-components/examples/codesandbox/components/content-group-horizontal/snowpack.config.json
  packages/web-components/examples/codesandbox/components/content-group-horizontal/src/index.js
  packages/web-components/examples/codesandbox/components/content-group-horizontal/src/index.scss
  packages/web-components/examples/codesandbox/components/content-item-horizontal/index.html
  packages/web-components/examples/codesandbox/components/content-item-horizontal/src/index.js
  packages/web-components/src/components/content-group-horizontal/__stories__/README.stories.mdx
  packages/web-components/src/components/content-group-horizontal/__stories__/content-group-horizontal.stories.ts
  packages/web-components/src/components/content-group-horizontal/__tests__/content-group-horizontal.test.ts
  packages/web-components/src/components/content-group-horizontal/content-group-horizontal.scss
  packages/web-components/src/components/content-group-horizontal/content-group-horizontal.ts
  packages/web-components/src/components/content-item-horizontal/__stories__/README.stories.mdx
  packages/web-components/src/components/content-item-horizontal/__stories__/content-item-horizontal.stories.scss
  packages/web-components/src/components/content-item-horizontal/__stories__/content-item-horizontal.stories.ts
  packages/web-components/src/components/content-item-horizontal/__tests__/content-item-horizontal.test.ts
  packages/web-components/src/components/content-item-horizontal/content-item-horizontal-copy.ts
  packages/web-components/src/components/content-item/content-item-copy.ts
  packages/web-components/tests/snapshots/dds-content-group-horizontal.md
Labels: Ready to merge, package: web components

#4480 chore(tests): moved integration ui ci-checks to its own workflow
  .github/workflows/ci-check-ui-integration.yml
  .github/workflows/ci-check.yml
Labels: Ready to merge

#4479 docs(developer): integration tests instruction
  packages/web-components/docs/contributing-to-web-components.md
Labels: Ready to merge, package: web components

#4453 feat(leaving-ibm): Leaving IBM modal web component
  packages/services-store/src/types/translateAPI.ts
  packages/web-components/src/components/leaving-ibm/__stories__/README.stories.mdx
  packages/web-components/src/components/leaving-ibm/__stories__/leaving-ibm.stories.scss
  packages/web-components/src/components/leaving-ibm/__stories__/leaving-ibm.stories.ts
  packages/web-components/src/components/leaving-ibm/__tests__/leaving-ibm-composite.test.ts
  packages/web-components/src/components/leaving-ibm/__tests__/leaving-ibm.steps.js
  packages/web-components/src/components/leaving-ibm/leaving-ibm-composite.ts
  packages/web-components/src/components/leaving-ibm/leaving-ibm-container.ts
  packages/web-components/src/components/leaving-ibm/leaving-ibm-modal-body.ts
  packages/web-components/src/components/leaving-ibm/leaving-ibm-modal-heading.ts
  packages/web-components/src/components/leaving-ibm/leaving-ibm-modal.ts
  packages/web-components/src/components/leaving-ibm/leaving-ibm.scss
  packages/web-components/tests/snapshots/dds-leaving-ibm-composite.md
Labels: Ready to merge, package: web components

#4299 fix(modal): remove close button offset for full-width mode
  packages/styles/scss/components/expressive-modal/_expressive-modal.scss
  packages/web-components/src/components/expressive-modal/expressive-modal-close-button.ts
  packages/web-components/src/components/expressive-modal/expressive-modal.scss
  packages/web-components/src/components/expressive-modal/expressive-modal.ts
  packages/web-components/tests/snapshots/dds-locale-modal.md
Labels: package: web components

#4481 test(integration-ui): fix integration ui tests
  packages/services-store/src/types/translateAPI.ts
  packages/web-components/src/components/expressive-modal/__tests__/expressive-modal.steps.js
  packages/web-components/src/components/masthead/__stories__/links.ts
  packages/web-components/src/components/masthead/__tests__/masthead.steps.js
  packages/web-components/src/components/masthead/megamenu-category-group.ts
Labels: Ready to merge

#4487 feat(content-group-cards): create web component
  packages/styles/scss/components/card/index.scss
  packages/styles/scss/components/content-group-cards/_content-group-cards.scss
  packages/styles/scss/internal/content-group/_content-group.scss
  packages/web-components/examples/codesandbox/components/content-group-cards/.gitignore
  packages/web-components/examples/codesandbox/components/content-group-cards/index.html
  packages/web-components/examples/codesandbox/components/content-group-cards/package.json
  packages/web-components/examples/codesandbox/components/content-group-cards/sandbox.config.json
  packages/web-components/examples/codesandbox/components/content-group-cards/snowpack.config.json
  packages/web-components/examples/codesandbox/components/content-group-cards/src/index.js
  packages/web-components/examples/codesandbox/components/content-group-cards/src/index.scss
  packages/web-components/src/components/content-group-cards/__stories__/README.stories.mdx
  packages/web-components/src/components/content-group-cards/__stories__/content-group-cards.stories.ts
  packages/web-components/src/components/content-group-cards/__tests__/content-group-cards.test.ts
  packages/web-components/src/components/content-group-cards/content-group-cards-item.ts
  packages/web-components/src/components/content-group-cards/content-group-cards.scss
  packages/web-components/src/components/content-group-cards/content-group-cards.ts
  packages/web-components/tests/snapshots/dds-content-group-cards.md
Labels: Ready to merge, package: web components

#4488 chore(modal-render): supports alternate container for rendering modal
  packages/web-components/.storybook/config.ts
  packages/web-components/src/components/leaving-ibm/leaving-ibm-composite.ts
  packages/web-components/src/globals/mixins/modal-render.ts
  packages/web-components/tests/snapshots/dds-lightbox-video-player-composite.md
  packages/web-components/tests/snapshots/dds-video-cta-composite.md
Labels: Ready to merge, package: web components

#4471 feat(card-section): introducing web component versions
  packages/web-components/examples/codesandbox/components/card-section-images/.gitignore
  packages/web-components/examples/codesandbox/components/card-section-images/index.html
  packages/web-components/examples/codesandbox/components/card-section-images/package.json
  packages/web-components/examples/codesandbox/components/card-section-images/sandbox.config.json
  packages/web-components/examples/codesandbox/components/card-section-images/snowpack.config.json
  packages/web-components/examples/codesandbox/components/card-section-images/src/index.js
  packages/web-components/examples/codesandbox/components/card-section-images/src/index.scss
  packages/web-components/examples/codesandbox/components/card-section-simple/.gitignore
  packages/web-components/examples/codesandbox/components/card-section-simple/index.html
  packages/web-components/examples/codesandbox/components/card-section-simple/package.json
  packages/web-components/examples/codesandbox/components/card-section-simple/sandbox.config.json
  packages/web-components/examples/codesandbox/components/card-section-simple/snowpack.config.json
  packages/web-components/examples/codesandbox/components/card-section-simple/src/index.js
  packages/web-components/examples/codesandbox/components/card-section-simple/src/index.scss
  packages/web-components/src/components/card-section-images/__stories__/README.stories.mdx
  packages/web-components/src/components/card-section-images/__stories__/card-section-images.stories.ts
  packages/web-components/src/components/card-section-images/__tests__/card-section-images.test.ts
  packages/web-components/src/components/card-section-images/card-section-images.scss
  packages/web-components/src/components/card-section-images/card-section-images.ts
  packages/web-components/src/components/card-section-simple/__stories__/README.stories.mdx
  packages/web-components/src/components/card-section-simple/__stories__/card-section-simple.stories.ts
  packages/web-components/src/components/card-section-simple/__tests__/card-section-simple.test.ts
  packages/web-components/src/components/card-section-simple/card-section-simple.scss
  packages/web-components/src/components/card-section-simple/card-section-simple.ts
  packages/web-components/src/components/content-section/content-section.ts
  packages/web-components/tests/snapshots/dds-card-section-images.md
  packages/web-components/tests/snapshots/dds-card-section-simple.md
Labels: Ready to merge, package: web components

#4442 fix(masthead): search styles
  packages/styles/scss/components/masthead/_masthead-search.scss
  packages/web-components/src/components/masthead/masthead.scss
  packages/web-components/src/components/masthead/top-nav.ts
Labels: Ready to merge, package: react, package: web components

#4498 fix(link-list): change role for link-list items to link
  packages/web-components/src/components/link-list/link-list-item-card.ts
  packages/web-components/src/components/link-list/link-list-item.ts
Labels: Ready to merge, package: web components

#4501 fix(link-list): make item role back to listitem
  packages/web-components/src/components/link-list/link-list-item-card.ts
  packages/web-components/src/components/link-list/link-list-item.ts
Labels: Ready to merge

#4500 fix(cta-section): various style updates
  packages/web-components/src/components/button-group/button-group.ts
  packages/web-components/src/components/cta-section/cta-section.scss
Labels: Ready to merge

#4508 fix(tableofcontents): fix top positions in dotcomshell
  packages/styles/scss/components/dotcom-shell/_dotcom-shell.scss
  packages/styles/scss/components/masthead/_masthead.scss
Labels: Ready to merge

#4499 feat(content-block-cards): create web component
  packages/styles/scss/components/content-block-cards/_content-block-cards.scss
  packages/web-components/examples/codesandbox/components/content-block-cards/.gitignore
  packages/web-components/examples/codesandbox/components/content-block-cards/index.html
  packages/web-components/examples/codesandbox/components/content-block-cards/package.json
  packages/web-components/examples/codesandbox/components/content-block-cards/sandbox.config.json
  packages/web-components/examples/codesandbox/components/content-block-cards/snowpack.config.json
  packages/web-components/examples/codesandbox/components/content-block-cards/src/index.js
  packages/web-components/examples/codesandbox/components/content-block-cards/src/index.scss
  packages/web-components/src/components/content-block-cards/__stories__/README.stories.mdx
  packages/web-components/src/components/content-block-cards/__stories__/content-block-cards.stories.ts
  packages/web-components/src/components/content-block-cards/__tests__/content-block-cards.test.ts
  packages/web-components/src/components/content-block-cards/content-block-cards.scss
  packages/web-components/src/components/content-block-cards/content-block-cards.ts
  packages/web-components/tests/snapshots/dds-content-block-cards.md
Labels: Ready to merge, package: web components

#4491 chore(leaving-ibm): set up codesandbox for leaving-ibm
  packages/web-components/examples/codesandbox/components/leaving-ibm/.gitignore
  packages/web-components/examples/codesandbox/components/leaving-ibm/index.html
  packages/web-components/examples/codesandbox/components/leaving-ibm/package.json
  packages/web-components/examples/codesandbox/components/leaving-ibm/sandbox.config.json
  packages/web-components/examples/codesandbox/components/leaving-ibm/src/index.js
  packages/web-components/examples/codesandbox/components/leaving-ibm/src/index.scss
Labels: Ready to merge, package: web components

#4497 docs(components): moves content of advanced usage
  packages/web-components/README.md
  packages/web-components/docs/server-side-template.md
  packages/web-components/docs/server-side-template.stories.mdx
  packages/web-components/src/components/dotcom-shell/__stories__/README.stories.mdx
  packages/web-components/src/components/footer/__stories__/README.stories.mdx
  packages/web-components/src/components/lightbox-media-viewer/__stories__/README.stories.mdx
  packages/web-components/src/components/locale-modal/__stories__/README.stories.mdx
  packages/web-components/src/components/masthead/__stories__/README.stories.mdx
  packages/web-components/src/components/video-player/__stories__/README.stories.mdx
Labels: Ready to merge, package: web components

#4509 fix(callout-with-media): remove carbon themes
  packages/web-components/src/components/callout-with-media/__stories__/callout-with-media.stories.ts
Labels: Ready to merge, package: web components

#4520 docs: fix broken link in Web Components README
  packages/web-components/README.md
Labels: Ready to merge, package: web components

#4530 fix(Masthead): change side nav menu item role to menuitem
  packages/react/src/components/carbon-components-react/UIShell/SideNavMenu.js
Labels: Ready to merge, package: react

#4527 fix(masthead): menu-item styles
  packages/styles/scss/components/masthead/_masthead.scss
Labels: Ready to merge, package: react

#4522 fix(leadspace): fix gradients
  packages/styles/scss/components/leadspace/_leadspace.scss
  packages/web-components/.storybook/config.ts
  packages/web-components/src/components/leadspace/__stories__/leadspace.stories.ts
  packages/web-components/src/components/leadspace/leadspace.scss
  packages/web-components/src/components/leadspace/leadspace.ts
  packages/web-components/tests/snapshots/dds-leadspace.md
Labels: Ready to merge, package: web components

#4512 fix(expressive-modal): set list of tabbable elements
  packages/web-components/src/components/expressive-modal/expressive-modal.ts
  packages/web-components/src/components/image-with-caption/image-with-caption.scss
  packages/web-components/src/components/image-with-caption/image-with-caption.ts
Labels: Ready to merge, package: web components

#4514 fix(masthead): remove themes from storybook
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
Labels: Ready to merge, package: web components

#4459 feat(content-group-pictograms): introducing web-component version
  packages/web-components/examples/codesandbox/components/content-group-pictograms/.gitignore
  packages/web-components/examples/codesandbox/components/content-group-pictograms/index.html
  packages/web-components/examples/codesandbox/components/content-group-pictograms/package.json
  packages/web-components/examples/codesandbox/components/content-group-pictograms/sandbox.config.json
  packages/web-components/examples/codesandbox/components/content-group-pictograms/snowpack.config.json
  packages/web-components/examples/codesandbox/components/content-group-pictograms/src/index.js
  packages/web-components/examples/codesandbox/components/content-group-pictograms/src/index.scss
  packages/web-components/src/components/content-group-pictograms/__stories__/README.stories.mdx
  packages/web-components/src/components/content-group-pictograms/__stories__/content-group-pictograms.stories.js
  packages/web-components/src/components/content-group-pictograms/content-group-pictograms.scss
  packages/web-components/src/components/content-group-pictograms/content-group-pictograms.ts
Labels: Ready to merge, package: web components

#4524 chore(docs): update github question template
  .github/ISSUE_TEMPLATE/question.md
Labels: Ready to merge

#4531 fix(Footer): update footer bottom padding
  packages/styles/scss/components/footer/_legal-nav.scss
Labels: Ready to merge

#4537 chore(FeatureCardBlockMedium): remove unused card file
  packages/web-components/src/components/feature-card-block-medium/feature-card-block-medium-card.ts
  packages/web-components/src/components/feature-card-block-medium/feature-card-block-medium.ts
Labels: Ready to merge, package: carbon web components

#4538 fix(SideNavMenu): remove role from li wrapper on menu item buttons
  packages/react/src/components/carbon-components-react/UIShell/SideNavMenu.js
Labels: Ready to merge, package: react

#4543 fix(masthead): overflow style fix
  packages/styles/scss/components/masthead/_masthead-search.scss
Labels: Ready to merge, package: react

#4541 fix(logo-grid): removed clickable link from logos
  packages/web-components/examples/codesandbox/components/logo-grid/index.html
  packages/web-components/src/components/logo-grid/__stories__/README.stories.mdx
  packages/web-components/src/components/logo-grid/__stories__/data/logos.json
  packages/web-components/src/components/logo-grid/__stories__/logo-grid.stories.ts
  packages/web-components/src/components/logo-grid/logo-grid-item.ts
Labels: Ready to merge, package: web components

#4552 fix(LanguageSelector): set language selector label visibility to hidden
  packages/styles/scss/components/footer/_language-selector.scss
Labels: Ready to merge, package: react

#4548 fix(LinkList): fix card styles
  packages/styles/scss/components/link-list/_link-list.scss
Labels: Ready to merge

#4536 feat(content-block-segmented): create web component
  packages/styles/scss/components/content-block-segmented/_content-block-segmented.scss
  packages/styles/scss/components/image-with-caption/image-with-caption.scss
  packages/styles/scss/internal/content-block/_content-block.scss
  packages/web-components/examples/codesandbox/components/content-block-segmented/.gitignore
  packages/web-components/examples/codesandbox/components/content-block-segmented/index.html
  packages/web-components/examples/codesandbox/components/content-block-segmented/package.json
  packages/web-components/examples/codesandbox/components/content-block-segmented/sandbox.config.json
  packages/web-components/examples/codesandbox/components/content-block-segmented/snowpack.config.json
  packages/web-components/examples/codesandbox/components/content-block-segmented/src/index.js
  packages/web-components/examples/codesandbox/components/content-block-segmented/src/index.scss
  packages/web-components/src/components/content-block-segmented/__stories__/README.stories.mdx
  packages/web-components/src/components/content-block-segmented/__stories__/content-block-segmented.stories.ts
  packages/web-components/src/components/content-block-segmented/__tests__/content-block-segmented.test.ts
  packages/web-components/src/components/content-block-segmented/content-block-segmented-item.ts
  packages/web-components/src/components/content-block-segmented/content-block-segmented.scss
  packages/web-components/src/components/content-block-segmented/content-block-segmented.ts
  packages/web-components/tests/snapshots/dds-content-block-segmented.md
Labels: Ready to merge, package: web components

#4547 feat(footer): introducing micro variation
  packages/web-components/src/components/footer/__stories__/README.stories.mdx
  packages/web-components/src/components/footer/__stories__/footer.stories.scss
  packages/web-components/src/components/footer/__stories__/footer.stories.ts
  packages/web-components/src/components/footer/footer-composite.ts
  packages/web-components/src/components/footer/footer.scss
  packages/web-components/src/components/footer/footer.ts
  packages/web-components/src/components/footer/legal-nav.ts
  packages/web-components/src/components/footer/locale-button.ts
  packages/web-components/tests/snapshots/dds-footer-composite.md
Labels: Ready to merge, package: web components

#4556 fix(content-group): card copy fix
  packages/web-components/examples/codesandbox/components/content-group-simple/index.html
  packages/web-components/examples/codesandbox/components/content-group-simple/src/index.js
  packages/web-components/src/components/content-group-simple/__stories__/README.stories.mdx
  packages/web-components/src/components/content-group-simple/__stories__/content-group-simple.stories.ts
Labels: Ready to merge, package: web components

#4560 fix(locale-modal): fix height
  packages/styles/scss/components/locale-modal/_locale-modal.scss
Labels: Ready to merge, package: react

#4561 feat(quote): introducing corner brackets
  packages/react/src/components/Quote/Quote.js
  packages/react/src/components/Quote/__stories__/Quote.stories.js
  packages/styles/scss/components/quote/_quote.scss
  packages/web-components/src/components/quote/__stories__/quote.stories.ts
  packages/web-components/src/components/quote/quote.ts
Labels: Ready to merge, package: react, package: web components

#4546 fix(table-of-contents): selecting a section now triggers readers focus
  packages/web-components/src/components/table-of-contents/table-of-contents.ts
Labels: Ready to merge, package: web components

#4562 fix(leadspace): button styles
  packages/styles/scss/components/leadspace/_leadspace.scss
Labels: Ready to merge, package: web components

#4564 fix(lightbox-media-viewer): add overflow to row
  packages/styles/scss/components/lightbox-media-viewer/_lightbox-media-viewer.scss
Labels: Ready to merge, package: react

#4558 feat(leadspace-block): leadspace-block web component
  packages/styles/scss/components/leadspace-block/_leadspace-block.scss
  packages/styles/scss/internal/content-block/_content-block.scss
  packages/web-components/examples/codesandbox/components/leadspace-block/.gitignore
  packages/web-components/examples/codesandbox/components/leadspace-block/index.html
  packages/web-components/examples/codesandbox/components/leadspace-block/package.json
  packages/web-components/examples/codesandbox/components/leadspace-block/sandbox.config.json
  packages/web-components/examples/codesandbox/components/leadspace-block/snowpack.config.json
  packages/web-components/examples/codesandbox/components/leadspace-block/src/index.js
  packages/web-components/examples/codesandbox/components/leadspace-block/src/index.scss
  packages/web-components/src/components/leadspace-block/__stories__/README.stories.mdx
  packages/web-components/src/components/leadspace-block/__stories__/leadspace-block.stories.scss
  packages/web-components/src/components/leadspace-block/__stories__/leadspace-block.stories.ts
  packages/web-components/src/components/leadspace-block/__tests__/leadspace-block.test.ts
  packages/web-components/src/components/leadspace-block/leadspace-block-content.ts
  packages/web-components/src/components/leadspace-block/leadspace-block-cta.ts
  packages/web-components/src/components/leadspace-block/leadspace-block-media.ts
  packages/web-components/src/components/leadspace-block/leadspace-block.scss
  packages/web-components/src/components/leadspace-block/leadspace-block.ts
  packages/web-components/tests/snapshots/dds-content-block-segmented.md
  packages/web-components/tests/snapshots/dds-leadspace-block.md
Labels: Ready to merge, package: web components

#4567 fix(leadspace-block): use styles from styles package and not relative path
  packages/web-components/src/components/leadspace-block/leadspace-block.scss
Labels: package: web components

#4573 fix(translation): support for running in node.js environment
  packages/services/src/services/Translation/Translation.js
Labels: Ready to merge, package: services

#4571 docs(card-group): adding stable-selectors table
  packages/web-components/src/components/card-group/__stories__/README.stories.mdx
Labels: Ready to merge, package: web components

#4569 docs(contributing): update Web Components contribution docs
  packages/web-components/docs/contributing-to-web-components.md
Labels: Ready to merge, package: web components

#4570 docs(button-group): added stable-selectors and props tables
  packages/web-components/src/components/button-group/__stories__/README.stories.mdx
Labels: Ready to merge, package: web components
