Repository carbon-design-system/carbon-for-ibm-dotcom, pull requests merged in 2020-10, with the labels that each got.

#4106 chore(devenv): introduce theme chooser
  packages/web-components/.storybook/addons.js
  packages/web-components/.storybook/config.ts
  packages/web-components/.storybook/container.scss
Labels: Ready to merge, package: web components

#4107 chore(rtl): creating web components RTL environment
  .github/workflows/deploy-canary.yml
  packages/web-components/manifest-rtl.yml
Labels: RTL, Ready to merge

#4085 feat(table-of-contents): introduction
  packages/styles/scss/components/tableofcontents/_tableofcontents.scss
  packages/web-components/examples/codesandbox/components/table-of-contents/.gitignore
  packages/web-components/examples/codesandbox/components/table-of-contents/index.html
  packages/web-components/examples/codesandbox/components/table-of-contents/package.json
  packages/web-components/examples/codesandbox/components/table-of-contents/sandbox.config.json
  packages/web-components/examples/codesandbox/components/table-of-contents/src/index.js
  packages/web-components/src/components/table-of-contents/__stories__/README.stories.mdx
  packages/web-components/src/components/table-of-contents/__stories__/content.ts
  packages/web-components/src/components/table-of-contents/__stories__/table-of-contents.stories.scss
  packages/web-components/src/components/table-of-contents/__stories__/table-of-contents.stories.ts
  packages/web-components/src/components/table-of-contents/__tests__/table-of-contents.test.ts
  packages/web-components/src/components/table-of-contents/table-of-contents.scss
  packages/web-components/src/components/table-of-contents/table-of-contents.ts
  packages/web-components/tests/snapshots/dds-table-of-contents.md
Labels: Ready to merge, package: web components

#4113 docs(components): add JSDoc comments for named slots
  packages/web-components/src/components/card/card.ts
  packages/web-components/src/components/content-block-simple/__stories__/README.stories.mdx
  packages/web-components/src/components/content-block-simple/__stories__/content-block-simple.stories.ts
  packages/web-components/src/components/content-block-simple/content-block-simple.ts
  packages/web-components/src/components/content-block/content-block.ts
  packages/web-components/src/components/content-item/content-item.ts
  packages/web-components/src/components/feature-card-block-medium/feature-card-block-medium.ts
  packages/web-components/src/components/footer/footer-nav-group.ts
  packages/web-components/src/components/footer/footer.ts
  packages/web-components/src/components/image/image.ts
  packages/web-components/src/components/lightbox-media-viewer/lightbox-image-viewer.ts
  packages/web-components/src/components/lightbox-media-viewer/lightbox-video-player.ts
  packages/web-components/src/components/link-list/link-list.ts
  packages/web-components/src/components/link-with-icon/link-with-icon.ts
  packages/web-components/src/components/locale-modal/locale-modal.ts
  packages/web-components/src/components/masthead/masthead-search-composite.ts
  packages/web-components/src/components/masthead/masthead.ts
  packages/web-components/src/components/quote/quote.ts
Labels: Ready to merge, package: web components

#4066 fix(feature-card-block-large): repositioned arrow to bottom right
  packages/styles/scss/components/feature-card-block-large/_feature-card-block-large.scss
  packages/web-components/src/components/feature-card-block-large/feature-card-block-large.scss
Labels: Ready to merge

#4116 chore(format): introduce eslint-plugin-lit
  .yarn/offline-mirror/eslint-plugin-lit-1.2.2.tgz
  .yarn/offline-mirror/parse5-6.0.1.tgz
  .yarn/offline-mirror/parse5-htmlparser2-tree-adapter-6.0.1.tgz
  .yarn/offline-mirror/requireindex-1.2.0.tgz
  packages/web-components/package.json
  packages/web-components/src/.eslintrc
  packages/web-components/src/components/button-group/button-group.ts
  packages/web-components/src/components/callout/callout.ts
  packages/web-components/src/components/card-group/__stories__/card-group.stories.ts
  packages/web-components/src/components/card-group/card-group.ts
  packages/web-components/src/components/card/__stories__/README.stories.mdx
  packages/web-components/src/components/card/card-footer.ts
  packages/web-components/src/components/card/card.ts
  packages/web-components/src/components/content-block-simple/__stories__/content-block-simple.stories.ts
  packages/web-components/src/components/cta/__stories__/cta.stories.ts
  packages/web-components/src/components/dotcom-shell/dotcom-shell-composite.ts
  packages/web-components/src/components/dotcom-shell/dotcom-shell.ts
  packages/web-components/src/components/feature-card-block-large/__stories__/feature-card-block-large.stories.ts
  packages/web-components/src/components/horizontal-rule/__stories__/horizontal-rule.stories.ts
  packages/web-components/src/components/lightbox-media-viewer/lightbox-video-player-composite.ts
  packages/web-components/src/components/link-list/__stories__/README.stories.mdx
  packages/web-components/src/components/link-list/link-list.ts
  packages/web-components/src/components/link-with-icon/link-with-icon.ts
  packages/web-components/src/components/masthead/masthead-search.ts
  packages/web-components/src/components/modal/__tests__/modal.test.ts
  packages/web-components/src/components/modal/modal.ts
  packages/web-components/src/components/quote/quote.ts
  packages/web-components/src/components/table-of-contents/__stories__/table-of-contents.stories.ts
  packages/web-components/src/components/table-of-contents/table-of-contents.ts
  yarn.lock
Labels: Ready to merge, package: web components

#4120 docs(svg): updating documentation for web components and svg imagery
  packages/web-components/src/components/button-group/__stories__/README.stories.mdx
  packages/web-components/src/components/card-group/__stories__/README.stories.mdx
  packages/web-components/src/components/card-link/__stories__/README.stories.mdx
  packages/web-components/src/components/card/__stories__/README.stories.mdx
  packages/web-components/src/components/feature-card-block-large/__stories__/README.stories.mdx
  packages/web-components/src/components/feature-card-block-medium/__stories__/README.stories.mdx
  packages/web-components/src/components/feature-card/__stories__/README.stories.mdx
  packages/web-components/src/components/link-list/__stories__/README.stories.mdx
Labels: Ready to merge

#4095 fix(link-with-icon): fixed left icon placement w/options
  packages/styles/scss/components/link-with-icon/_link-with-icon.scss
Labels: Ready to merge

#4138 chore(upgrade): upgrade carbon dependencies to v10.21.0
  .yarn/offline-mirror/@carbon-colors-10.13.0.tgz
  .yarn/offline-mirror/@carbon-colors-10.14.0.tgz
  .yarn/offline-mirror/@carbon-icons-10.17.0.tgz
  .yarn/offline-mirror/@carbon-icons-10.19.0.tgz
  .yarn/offline-mirror/@carbon-icons-react-10.17.0.tgz
  .yarn/offline-mirror/@carbon-icons-react-10.19.0.tgz
  .yarn/offline-mirror/@carbon-themes-10.18.0.tgz
  .yarn/offline-mirror/@carbon-themes-10.20.0.tgz
  .yarn/offline-mirror/@carbon-type-10.15.0.tgz
  .yarn/offline-mirror/@carbon-type-10.16.0.tgz
  .yarn/offline-mirror/carbon-components-10.19.0.tgz
  .yarn/offline-mirror/carbon-components-10.21.0.tgz
  .yarn/offline-mirror/carbon-components-react-7.19.0.tgz
  .yarn/offline-mirror/carbon-components-react-7.21.0.tgz
  .yarn/offline-mirror/carbon-web-components-1.7.1.tgz
  packages/react/package.json
  packages/styles/package.json
  packages/utilities/package.json
  packages/vanilla/package.json
  packages/web-components/package.json
  yarn.lock
Labels: Ready to merge, feature flag, package: styles, package: vanilla

#4137 chore(eslint): adding `dist` folder to .eslintignore
  .eslintignore
Labels: Ready to merge

#4135 fix(masthead): fix L1 breakpoint styles
  packages/styles/scss/components/masthead/_masthead-l1.scss
Labels: Ready to merge

#4126 chore(components): misc props update
  packages/web-components/src/components/content-item/content-item.ts
  packages/web-components/src/components/dotcom-shell/dotcom-shell-composite.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/masthead-global-bar.ts
  packages/web-components/src/components/masthead/masthead-logo.ts
  packages/web-components/src/components/masthead/masthead-search-composite.ts
Labels: Ready to merge, hacktoberfest, hacktoberfest-accepted, package: web components

#4065 feat(imagewithcaption): introducing image with caption
  packages/styles/scss/components/image-with-caption/image-with-caption.scss
  packages/web-components/src/components/image-with-caption/__stories__/README.stories.mdx
  packages/web-components/src/components/image-with-caption/__stories__/image-with-caption.stories.ts
  packages/web-components/src/components/image-with-caption/__tests__/image-with-caption.test.ts
  packages/web-components/src/components/image-with-caption/image-with-caption.scss
  packages/web-components/src/components/image-with-caption/image-with-caption.ts
  packages/web-components/tests/snapshots/dds-image-with-caption.md
Labels: Ready to merge, hacktoberfest-accepted

#4070 feat(callout-data): web component created
  packages/styles/scss/components/callout-data/_callout-data.scss
  packages/web-components/examples/codesandbox/components/callout-data/.babelrc
  packages/web-components/examples/codesandbox/components/callout-data/.gitignore
  packages/web-components/examples/codesandbox/components/callout-data/index.html
  packages/web-components/examples/codesandbox/components/callout-data/package.json
  packages/web-components/examples/codesandbox/components/callout-data/sandbox.config.json
  packages/web-components/examples/codesandbox/components/callout-data/src/index.js
  packages/web-components/src/components/callout-data/__stories__/README.stories.mdx
  packages/web-components/src/components/callout-data/__stories__/callout-data.stories.ts
  packages/web-components/src/components/callout-data/__tests__/callout-data.test.ts
  packages/web-components/src/components/callout-data/callout-data.scss
  packages/web-components/src/components/callout-data/callout-data.ts
  packages/web-components/tests/snapshots/dds-callout-data.md
Labels: Ready to merge, package: web components

#4110 feat(pictogram-item): web-component created
  packages/styles/scss/components/pictogram-item/_pictogram-item.scss
  packages/web-components/examples/codesandbox/components/pictogram-item/.babelrc
  packages/web-components/examples/codesandbox/components/pictogram-item/.gitignore
  packages/web-components/examples/codesandbox/components/pictogram-item/index.html
  packages/web-components/examples/codesandbox/components/pictogram-item/package.json
  packages/web-components/examples/codesandbox/components/pictogram-item/sandbox.config.json
  packages/web-components/examples/codesandbox/components/pictogram-item/src/index.js
  packages/web-components/src/components/pictogram-item/__stories__/README.stories.mdx
  packages/web-components/src/components/pictogram-item/__stories__/pictogram-item.stories.ts
  packages/web-components/src/components/pictogram-item/__tests__/pictogram-item.test.ts
  packages/web-components/src/components/pictogram-item/pictogram-item.scss
  packages/web-components/src/components/pictogram-item/pictogram-item.ts
  packages/web-components/tests/snapshots/dds-pictogram-item.md
Labels: Ready to merge, package: web components

#4163 chore(locale-modal): misc changes
  packages/web-components/src/components/locale-modal/locale-modal-composite.scss
  packages/web-components/src/components/locale-modal/locale-modal.ts
  packages/web-components/src/components/locale-modal/locale-search.ts
Labels: package: web components

#4161 chore(masthead): remove data type
  packages/web-components/src/components/masthead/masthead-container.ts
Labels: Ready to merge, hacktoberfest-accepted, package: web components

#4139 fix(feature-card-block-large): focus outline now wraps around card properly
  packages/styles/scss/components/feature-card-block-large/_feature-card-block-large.scss
Labels: Ready to merge, hacktoberfest-accepted

#4157 docs(rtl): adding documentation on how to enable RTL
  docs/enable-rtl.md
  packages/react/.storybook/_container.scss
  packages/react/.storybook/config.js
  packages/react/docs/enable-rtl.stories.mdx
  packages/web-components/docs/enable-rtl.stories.mdx
Labels: Ready to merge, hacktoberfest-accepted

#4165 fix(masthead): update platform name responsive css
  packages/styles/scss/components/masthead/_masthead-search.scss
Labels: Ready to merge

#4180 fix(masthead): fix menu
  packages/web-components/src/components/masthead/masthead.scss
Labels: Ready to merge, package: web components

#4162 chore(lightbox-video-player): remove redundant method
  packages/web-components/src/components/lightbox-media-viewer/lightbox-video-player-composite.ts
Labels: Ready to merge, hacktoberfest-accepted, package: web components

#4203 chore(rename): renaming to the new repo url
  .github/CONTRIBUTING.md
  README.md
  docs/contributing-license.md
  docs/developing.md
  package.json
  packages/react/CHANGELOG.md
  packages/react/docs/contributing-to-react.md
  packages/react/src/components/Card/README.stories.mdx
  packages/react/src/components/CardGroup/README.stories.mdx
  packages/react/src/components/CardLink/README.stories.mdx
  packages/react/src/components/HorizontalRule/README.stories.mdx
  packages/react/src/components/Image/README.stories.mdx
  packages/react/src/components/PictogramItem/README.stories.mdx
  packages/services/CHANGELOG.md
  packages/services/src/services/Analytics/README.md
  packages/vanilla/.storybook/config.js
  tasks/beta-releases.js
  tasks/deploy_preview_comment.js
  tasks/tag-release.js
Labels: Ready to merge

#4194 chore(dotcom-shell): rename composite SCSS
  packages/web-components/src/components/dotcom-shell/dotcom-shell-composite.scss
  packages/web-components/src/components/dotcom-shell/dotcom-shell-composite.ts
Labels: Ready to merge, package: web components

#4184 fix(megamenu): fixed mega menu link height
  packages/styles/scss/components/masthead/_masthead-megamenu.scss
Labels: Ready to merge, hacktoberfest-accepted

#4202 fix(feature-card-block-large): changed hover background color
  packages/styles/scss/components/feature-card-block-large/_feature-card-block-large.scss
Labels: Ready to merge, package: react, package: web components

#4117 feat(link-with-icon): added icon-placement property
  packages/styles/scss/components/card/index.scss
  packages/styles/scss/components/link-with-icon/_link-with-icon.scss
  packages/web-components/src/components/card/card-footer.ts
  packages/web-components/src/components/link-list/__stories__/link-list.stories.ts
  packages/web-components/src/components/link-list/__tests__/link-list.test.ts
  packages/web-components/src/components/link-list/link-list.ts
  packages/web-components/src/components/link-with-icon/__stories__/link-with-icon.stories.ts
  packages/web-components/src/components/link-with-icon/link-with-icon.scss
  packages/web-components/src/components/link-with-icon/link-with-icon.ts
  packages/web-components/tests/snapshots/dds-link-with-icon.md
  packages/web-components/tests/snapshots/dds-text-cta.md
Labels: Ready to merge, hacktoberfest-accepted

#4192 docs(components): update JSDoc
  packages/web-components/docs/coding-conventions.md
  packages/web-components/src/components/callout-data/callout-data.ts
  packages/web-components/src/components/pictogram-item/pictogram-item.ts
Labels: Ready to merge, package: web components

#4227 fix(masthead-search): re-apply #3932
  packages/web-components/src/components/masthead/masthead-search.ts
Labels: Ready to merge, package: web components

#4176 fix(feature-card): remove redundant flex-wrap
  packages/styles/scss/components/feature-card/_feature-card.scss
  packages/web-components/.storybook/container.scss
  packages/web-components/src/components/callout-data/__stories__/callout-data.stories.ts
  packages/web-components/src/components/card-group/__stories__/card-group.stories.ts
  packages/web-components/src/components/card-link/__stories__/card-link.stories.scss
  packages/web-components/src/components/card-link/__stories__/card-link.stories.ts
  packages/web-components/src/components/card/__stories__/card.stories.scss
  packages/web-components/src/components/card/__stories__/card.stories.ts
  packages/web-components/src/components/content-block-simple/__stories__/content-block-simple.stories.ts
  packages/web-components/src/components/cta/__stories__/cta.stories.ts
  packages/web-components/src/components/cta/video-cta-composite.scss
  packages/web-components/src/components/cta/video-cta-composite.ts
  packages/web-components/src/components/feature-card-block-large/__stories__/feature-card-block-large.stories.scss
  packages/web-components/src/components/feature-card-block-large/__stories__/feature-card-block-large.stories.ts
  packages/web-components/src/components/feature-card-block-medium/__stories__/feature-card-block-medium.stories.scss
  packages/web-components/src/components/feature-card-block-medium/__stories__/feature-card-block-medium.stories.ts
  packages/web-components/src/components/feature-card/__stories__/feature-card.stories.scss
  packages/web-components/src/components/feature-card/__stories__/feature-card.stories.ts
  packages/web-components/src/components/link-list/__stories__/link-list.stories.ts
  packages/web-components/src/components/video-player/__stories__/video-player.stories.ts
Labels: Ready to merge, package: web components

#4231 chore(ci): upgrade action-ibmcloud-cf
  .github/workflows/deploy-canary.yml
  .github/workflows/deploy-staging.yml
Labels: Ready to merge, hacktoberfest-accepted

#4239 chore(githubactions): adding github action for NPM publish Canary
  .github/workflows/publish-canary.yml
  .github/workflows/publish-nightly.yml
Labels: Ready to merge, hacktoberfest-accepted

#4245 fix(githubactions): fix to nightly schedule trigger
  .github/workflows/publish-nightly.yml
Labels: Ready to merge

#4249 test(masthead): fix UI tests
  packages/web-components/src/components/masthead/__tests__/masthead.steps.js
Labels: Ready to merge, hacktoberfest, hacktoberfest-accepted, package: web components

#4253 docs(slack): rename support slack channel to `#carbon-for-ibm-dotcom`
  .github/ISSUE_TEMPLATE/question.md
Labels: Ready to merge, hacktoberfest-accepted

#4248 chore(devenv): add mising @storybook/addon-info
  .yarn/offline-mirror/@babel-standalone-7.12.3.tgz
  .yarn/offline-mirror/@storybook-addon-info-5.3.21.tgz
  .yarn/offline-mirror/@storybook-addons-5.3.21.tgz
  .yarn/offline-mirror/@storybook-api-5.3.21.tgz
  .yarn/offline-mirror/@storybook-channels-5.3.21.tgz
  .yarn/offline-mirror/@storybook-client-logger-5.3.21.tgz
  .yarn/offline-mirror/@storybook-components-5.3.21.tgz
  .yarn/offline-mirror/@storybook-core-events-5.3.21.tgz
  .yarn/offline-mirror/@storybook-router-5.3.21.tgz
  .yarn/offline-mirror/@storybook-theming-5.3.21.tgz
  .yarn/offline-mirror/marked-0.3.19.tgz
  .yarn/offline-mirror/marksy-8.0.0.tgz
  .yarn/offline-mirror/nested-object-assign-1.0.3.tgz
  .yarn/offline-mirror/react-addons-create-fragment-15.6.2.tgz
  packages/styles/package.json
  yarn.lock
Labels: Ready to merge, package: styles

#4241 docs(setup): add instruction for build toolchain
  packages/web-components/README.md
  packages/web-components/examples/codesandbox/usage/webpack-basic/index.html
  packages/web-components/examples/codesandbox/usage/webpack-basic/package.json
  packages/web-components/examples/codesandbox/usage/webpack-basic/sandbox.config.json
  packages/web-components/examples/codesandbox/usage/webpack-basic/src/index.js
  packages/web-components/examples/codesandbox/usage/webpack-basic/webpack.config.js
  packages/web-components/examples/codesandbox/usage/webpack-sass/index.html
  packages/web-components/examples/codesandbox/usage/webpack-sass/package.json
  packages/web-components/examples/codesandbox/usage/webpack-sass/sandbox.config.json
  packages/web-components/examples/codesandbox/usage/webpack-sass/src/index.js
  packages/web-components/examples/codesandbox/usage/webpack-sass/src/index.scss
  packages/web-components/examples/codesandbox/usage/webpack-sass/webpack.config.js
Labels: Ready to merge, package: web components

#4243 fix(FeatureCard): remove unused styles
  packages/styles/scss/components/feature-card/_feature-card.scss
Labels: Ready to merge

#4268 docs(developers): instruction on symlinks
  docs/developing.md
Labels: Ready to merge

#4267 chore(services-store): added null check of services-store vendor folder
  packages/web-components/gulp-tasks/config.js
Labels: Ready to merge

#4273 fix(canary): adding github run_id to the publish preid
  .github/workflows/publish-canary.yml
  .github/workflows/publish-nightly.yml
  packages/services-store/package.json
Labels: Ready to merge

#4261 docs(template): introduce Handlebars example
  packages/services/src/services/Locale/Locale.js
  packages/services/src/services/Translation/Translation.js
  packages/web-components/README.md
  packages/web-components/examples/codesandbox/usage/handlebars/index.hbs
  packages/web-components/examples/codesandbox/usage/handlebars/package.json
  packages/web-components/examples/codesandbox/usage/handlebars/sandbox.config.json
  packages/web-components/examples/codesandbox/usage/handlebars/src/index.js
  packages/web-components/examples/codesandbox/usage/handlebars/src/index.scss
  packages/web-components/examples/codesandbox/usage/handlebars/webpack.config.js
Labels: Ready to merge, package: web components

#4270 chore(linklist): update web component story links
  packages/web-components/src/components/link-list/__stories__/link-list.stories.ts
  packages/web-components/tests/snapshots/dds-leadspace.md
Labels: Ready to merge, hacktoberfest-accepted

#4271 fix(linklist): fix linklist focus styles
  packages/styles/scss/components/card/index.scss
  packages/web-components/src/components/link-list/link-list.scss
Labels: Ready to merge, hacktoberfest-accepted

#4228 feat(callout-quote): web-component created
  packages/styles/scss/components/callout-quote/index.scss
  packages/web-components/examples/codesandbox/components/callout-quote/.babelrc
  packages/web-components/examples/codesandbox/components/callout-quote/.gitignore
  packages/web-components/examples/codesandbox/components/callout-quote/index.html
  packages/web-components/examples/codesandbox/components/callout-quote/package.json
  packages/web-components/examples/codesandbox/components/callout-quote/sandbox.config.json
  packages/web-components/examples/codesandbox/components/callout-quote/src/index.js
  packages/web-components/examples/codesandbox/components/callout-quote/yarn.lock
  packages/web-components/src/component-mixins/callout/callout.scss
  packages/web-components/src/component-mixins/callout/callout.ts
  packages/web-components/src/components/callout-quote/__stories__/README.stories.mdx
  packages/web-components/src/components/callout-quote/__stories__/callout-quote.stories.ts
  packages/web-components/src/components/callout-quote/__tests__/callout-quote.test.ts
  packages/web-components/src/components/callout-quote/callout-quote.scss
  packages/web-components/src/components/callout-quote/callout-quote.ts
  packages/web-components/src/components/callout/__tests__/callout.test.ts
  packages/web-components/src/components/callout/callout.ts
  packages/web-components/src/components/image-with-caption/image-with-caption.ts
  packages/web-components/tests/snapshots/dds-callout-quote.md
Labels: Ready to merge, hacktoberfest-accepted, package: web components

#4276 chore(services-store): update monorepo
  packages/services-store/package.json
  packages/web-components/config/jest/jsTransform.js
  packages/web-components/gulp-tasks/config.js
  packages/web-components/package.json
  packages/web-components/tests/integration/ui/jest.config.js
Labels: Ready to merge

#4221 chore(React Masthead): Keep Search Bar Active if User Selects Text
  packages/react/src/components/Masthead/MastheadSearch.js
Labels: Ready to merge, hacktoberfest-accepted

#4286 fix(nightly): fix to preid
  .github/workflows/publish-nightly.yml
Labels: Ready to merge

#4278 docs(examples): force 16 columns Carbon grid
  packages/styles/scss/components/card-group/_card-group.scss
  packages/web-components/.storybook/webpack.config.js
  packages/web-components/README.md
  packages/web-components/examples/codesandbox/components/content-block-simple/src/index.scss
  packages/web-components/examples/codesandbox/components/dotcom-shell/src/index.scss
  packages/web-components/examples/codesandbox/components/masthead-search/src/index.scss
  packages/web-components/examples/codesandbox/components/masthead/src/index.scss
  packages/web-components/examples/codesandbox/components/video-player/src/index.scss
  packages/web-components/examples/codesandbox/usage/handlebars/webpack.config.js
  packages/web-components/examples/codesandbox/usage/webpack-sass/src/index.scss
  packages/web-components/examples/codesandbox/usage/webpack-sass/webpack.config.js
Labels: Ready to merge, package: web components

#4229 chore(styles): introduced RTL dist package
  .yarn/offline-mirror/gulp-rtlcss-1.4.1.tgz
  packages/styles/gulp/build/default.js
  packages/styles/gulp/config.js
  packages/styles/gulp/tasks/sass-ltr.js
  packages/styles/gulp/tasks/sass-rtl.js
  packages/styles/package.json
  yarn.lock
Labels: Ready to merge, hacktoberfest-accepted

#4279 docs(examples): static CodeSandbox examples
  packages/services/package.json
  packages/web-components/.eslintrc.js
  packages/web-components/.storybook/config.ts
  packages/web-components/README.md
  packages/web-components/docs/server-side-template.md
  packages/web-components/docs/server-side-template.stories.mdx
  packages/web-components/examples/codesandbox/usage/bundle-handlebars/app.js
  packages/web-components/examples/codesandbox/usage/bundle-handlebars/index.hbs
  packages/web-components/examples/codesandbox/usage/bundle-handlebars/package.json
  packages/web-components/examples/codesandbox/usage/bundle-handlebars/sandbox.config.json
  packages/web-components/examples/codesandbox/usage/bundle/index.html
  packages/web-components/examples/codesandbox/usage/bundle/sandbox.config.json
  packages/web-components/examples/static-files/masthead-manual-render.html
  packages/web-components/examples/static-files/masthead.html
Labels: Ready to merge, package: services, package: web components

#4303 chore(percy): hiding the cookie preferences link in percy
  packages/web-components/.storybook/container.scss
Labels: Ready to merge

#4166 feat(tag): expressive theme update
  packages/styles/scss/themes/expressive/components/_tag.scss
  packages/styles/scss/themes/expressive/index.scss
  packages/styles/src/carbon-stories/Tag/Tag-story.js
Labels: Ready to merge, hacktoberfest, hacktoberfest-accepted, package: styles

#4295 fix(masthead-search): stop toggling active state on focus
  packages/web-components/src/components/masthead/masthead-search.ts
Labels: Ready to merge, package: web components

#4277 Link list item support cta
  packages/styles/scss/components/card/index.scss
  packages/styles/scss/components/link-list/_link-list.scss
  packages/styles/scss/components/link-with-icon/_link-with-icon.scss
  packages/web-components/src/components/card-link/card-link.scss
  packages/web-components/src/components/card/card-footer.ts
  packages/web-components/src/components/cta/link-list-item-card-cta.ts
  packages/web-components/src/components/cta/link-list-item-cta.ts
  packages/web-components/src/components/link-list/__stories__/link-list.stories.ts
  packages/web-components/src/components/link-list/__tests__/link-list.test.ts
  packages/web-components/src/components/link-list/link-list.scss
  packages/web-components/src/components/link-with-icon/link-with-icon.scss
  packages/web-components/src/components/link-with-icon/link-with-icon.ts
  packages/web-components/tests/snapshots/dds-card-cta-footer.md
  packages/web-components/tests/snapshots/dds-card-cta.md
  packages/web-components/tests/snapshots/dds-link-with-icon.md
  packages/web-components/tests/snapshots/dds-text-cta.md
Labels: Ready to merge, package: web components

#4296 fix(locale-modal): ensure input field is cleared on reset
  packages/web-components/src/components/locale-modal/__tests__/locale-search.test.ts
  packages/web-components/src/components/locale-modal/locale-search.ts
Labels: Ready to merge, package: web components

#4304 fix(quote): adjust quote grid classes in storybook
  packages/web-components/src/components/callout-quote/__stories__/callout-quote.stories.scss
  packages/web-components/src/components/callout-quote/__stories__/callout-quote.stories.ts
  packages/web-components/src/components/quote/__stories__/quote.stories.scss
  packages/web-components/src/components/quote/__stories__/quote.stories.ts
Labels: Ready to merge, hacktoberfest-accepted, package: web components

#4240 feat(translation): introduce cache busting logic
  packages/services/src/services/Translation/Translation.js
  packages/services/src/services/Translation/__tests__/Translation.test.js
  packages/services/src/services/Translation/__tests__/data/timestamp_response.json
Labels: Ready to merge, hacktoberfest-accepted, package: services

#4317 docs(example): introduce RTL example
  packages/web-components/docs/enable-rtl.md
  packages/web-components/docs/enable-rtl.stories.mdx
  packages/web-components/examples/codesandbox/usage/rtl/index.hbs
  packages/web-components/examples/codesandbox/usage/rtl/package.json
  packages/web-components/examples/codesandbox/usage/rtl/sandbox.config.json
  packages/web-components/examples/codesandbox/usage/rtl/src/index.js
  packages/web-components/examples/codesandbox/usage/rtl/webpack.config.js
  packages/web-components/src/components/masthead/masthead.scss
Labels: RTL, Ready to merge, package: web components

#4321 chore(translation): update locale country list
  packages/react/.storybook/preview-head.html
  packages/react/src/components/LocaleModal/__data__/locale-data.json
Labels: Ready to merge

#4318 fix(card link): focus styles
  packages/styles/scss/components/card-group/_card-group.scss
  packages/styles/scss/components/card/index.scss
  packages/styles/scss/components/link-list/_link-list.scss
  packages/styles/scss/components/link-with-icon/_link-with-icon.scss
  packages/web-components/src/components/link-list/link-list.scss
Labels: Ready to merge

#4312 feat(image-with-caption): support responsive image
  packages/web-components/src/components/image-with-caption/__stories__/image-with-caption.stories.ts
  packages/web-components/src/components/image-with-caption/__tests__/image-with-caption.test.ts
  packages/web-components/src/components/image-with-caption/image-with-caption.ts
  packages/web-components/src/components/image/__stories__/image.stories.ts
  packages/web-components/src/components/image/__tests__/image.test.ts
  packages/web-components/src/components/image/image.ts
  packages/web-components/tests/snapshots/dds-image-with-caption.md
Labels: Ready to merge, package: web components

#4325 feat(locale): introducing cache busting logic
  packages/services/src/services/Locale/Locale.js
  packages/services/src/services/Locale/__tests__/Locale.test.js
  packages/services/src/services/Locale/__tests__/data/timestamp_response.json
Labels: Ready to merge

#4275 feat(content-section): web-component version
  packages/web-components/src/components/content-section/__tests__/content-section.test.ts
  packages/web-components/src/components/content-section/content-section.scss
  packages/web-components/src/components/content-section/content-section.ts
  packages/web-components/tests/snapshots/dds-section-content.md
Labels: Ready to merge

#4298 fix(table-of-contents): fix header space
  packages/styles/scss/components/tableofcontents/_tableofcontents.scss
  packages/web-components/src/components/table-of-contents/__stories__/table-of-contents.stories.scss
  packages/web-components/src/components/table-of-contents/__tests__/table-of-contents.steps.js
Labels: Ready to merge, package: web components

#4323 fix(feature-card-block-medium): update web component layout
  packages/react/src/components/CardGroup/__stories__/CardGroup.stories.js
  packages/styles/scss/components/card-group/_card-group.scss
  packages/styles/scss/components/card/index.scss
  packages/styles/scss/components/feature-card-block-medium/_feature-card-block-medium.scss
  packages/styles/scss/components/feature-card/_feature-card.scss
  packages/web-components/src/components/feature-card-block-medium/__stories__/feature-card-block-medium.stories.ts
  packages/web-components/src/components/feature-card-block-medium/feature-card-block-medium.scss
  packages/web-components/src/components/feature-card-block-medium/feature-card-block-medium.ts
  packages/web-components/tests/snapshots/dds-feature-card-block-medium.md
Labels: Ready to merge, package: web components

#4288 fix(quote): fixed spacing for closing quote
  packages/styles/scss/components/quote/_quote.scss
  packages/web-components/src/components/quote/quote.ts
  packages/web-components/tests/snapshots/dds-callout-quote.md
  packages/web-components/tests/snapshots/dds-quote.md
Labels: Ready to merge, package: web components

#4348 fix(button-group): fixed focus outline going past the buttons on web components
  packages/web-components/src/components/button-group/button-group.scss
Labels: Ready to merge

#4350 fix(button-group): eliminate duplicate outline
  packages/web-components/src/components/button-group/button-group.scss
Labels: Ready to merge, package: web components

#4287 feat(logo-grid): web component created
  packages/styles/scss/components/logo-grid/_logo-grid.scss
  packages/web-components/examples/codesandbox/components/logo-grid/.babelrc
  packages/web-components/examples/codesandbox/components/logo-grid/.gitignore
  packages/web-components/examples/codesandbox/components/logo-grid/index.html
  packages/web-components/examples/codesandbox/components/logo-grid/package.json
  packages/web-components/examples/codesandbox/components/logo-grid/sandbox.config.json
  packages/web-components/examples/codesandbox/components/logo-grid/src/index.js
  packages/web-components/examples/codesandbox/components/logo-grid/yarn.lock
  packages/web-components/examples/codesandbox/components/quote/index.html
  packages/web-components/src/components/link-list/__stories__/README.stories.mdx
  packages/web-components/src/components/logo-grid/__stories__/README.stories.mdx
  packages/web-components/src/components/logo-grid/__stories__/data/logos.json
  packages/web-components/src/components/logo-grid/__stories__/logo-grid.stories.ts
  packages/web-components/src/components/logo-grid/__tests__/logo-grid.test.ts
  packages/web-components/src/components/logo-grid/logo-grid-item.ts
  packages/web-components/src/components/logo-grid/logo-grid-link.ts
  packages/web-components/src/components/logo-grid/logo-grid.scss
  packages/web-components/src/components/logo-grid/logo-grid.ts
  packages/web-components/tests/snapshots/dds-logo-grid.md
Labels: package: web components

#3987 feat(leadspace-with-search): introducing new pattern (behind feature flag)
  packages/react/src/components/LeadspaceWithSearch/LeadspaceWithSearch.js
  packages/react/src/components/LeadspaceWithSearch/README.stories.mdx
  packages/react/src/components/LeadspaceWithSearch/__stories__/LeadspaceWithSearch.stories.js
  packages/react/src/components/LeadspaceWithSearch/index.js
  packages/react/src/internal/FeatureFlags.js
  packages/styles/scss/components/leadspace-with-search/index.scss
  packages/styles/scss/components/leadspace-with-search/leadspace-with-search.scss
  packages/styles/scss/ibm-dotcom-styles.scss
Labels: Ready to merge, feature flag
