Repository carbon-design-system/carbon-for-ibm-dotcom, pull requests merged in 2020-02, with the labels that each got.

#1237 feat(content-item): content item sub-pattern
  packages/react/src/components/Image/Image.js
  packages/react/src/patterns/sub-patterns/ContentItem/ContentItem.js
  packages/react/src/patterns/sub-patterns/ContentItem/README.md
  packages/react/src/patterns/sub-patterns/ContentItem/__stories__/ContentItem.stories.js
  packages/react/src/patterns/sub-patterns/ContentItem/__stories__/index.scss
  packages/react/src/patterns/sub-patterns/ContentItem/index.js
  packages/react/src/patterns/sub-patterns/index.js
  packages/styles/scss/patterns/sub-patterns/content-item/README.md
  packages/styles/scss/patterns/sub-patterns/content-item/_content-item.scss
Labels: package: react

#1288 feat(block): content-group-cards updated with the functional specs
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/internal/FeatureFlags.js
  packages/react/src/patterns/blocks/CardArray/README.md
  packages/react/src/patterns/blocks/CardArray/__stories__/CardArray.stories.js
  packages/react/src/patterns/blocks/CardArray/__stories__/index.scss
  packages/react/src/patterns/blocks/ContentGroupCards/ContentGroupCards.js
  packages/react/src/patterns/blocks/ContentGroupCards/README.md
  packages/react/src/patterns/blocks/ContentGroupCards/__stories__/ContentGroupCards.stories.js
  packages/react/src/patterns/blocks/ContentGroupCards/__stories__/index.scss
  packages/react/src/patterns/blocks/ContentGroupCards/__tests__/ContentGroupCards.test.js
  packages/react/src/patterns/blocks/ContentGroupCards/index.js
  packages/react/src/patterns/blocks/index.js
  packages/react/src/patterns/sub-patterns/ContentGroup/ContentGroup.js
  packages/react/src/patterns/sub-patterns/ContentGroup/__stories__/ContentArrayGroup.stories.js
  packages/styles/scss/ibm-dotcom-styles.scss
  packages/styles/scss/patterns/blocks/cardarray/README.md
  packages/styles/scss/patterns/blocks/contentgroupcards/README.md
  packages/styles/scss/patterns/blocks/contentgroupcards/_contentgroupcards-item.scss
  packages/styles/scss/patterns/blocks/contentgroupcards/_contentgroupcards.scss
  packages/styles/scss/patterns/blocks/contentgroupcards/index.scss
Labels: package: react

#1189 feat(services): created a videoplayer service to load script and embed
  packages/patterns-react/.env
  packages/services/.env.example
  packages/services/src/services/VideoPlayer/VideoPlayer.js
  packages/services/src/services/VideoPlayer/index.js
  packages/services/src/services/index.js
Labels: package: react, package: services

#1307 fix(card): add markdown utility to card copy
  packages/react/src/patterns/blocks/ContentGroupCards/ContentGroupCards.js
  packages/react/src/patterns/sub-patterns/CardLink/CardLink.js
Labels: package: react

#1269 Pattern: Update Table of Contents pattern
  packages/react/src/internal/FeatureFlags.js
  packages/react/src/patterns/sub-patterns/TableOfContents/TOCDesktop.js
  packages/react/src/patterns/sub-patterns/TableOfContents/TOCMobile.js
  packages/react/src/patterns/sub-patterns/TableOfContents/TableOfContents.js
  packages/react/src/patterns/sub-patterns/TableOfContents/__stories__/TableOfContents.stories.js
  packages/react/src/patterns/sub-patterns/TableOfContents/__stories__/data/dataContent.js
Labels: package: patterns

#1330 fix(locale): fixes fallback when translation response fails; fixes #1300
  packages/services/src/services/Locale/Locale.js
Labels: package: react, package: services, package: styles, package: vanilla

#1327 Consistent Passing of Carbon Icons
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/LocaleModal/LocaleModalRegions.js
  packages/react/src/patterns/blocks/ContentGroupCards/ContentGroupCards.js
  packages/react/src/patterns/blocks/FeaturedLink/FeaturedLink.js
  packages/react/src/patterns/blocks/SimpleLongForm/SimpleLongForm.js
  packages/react/src/patterns/blocks/UseCases/UseCasesGroup.js
  packages/react/src/patterns/sections/CardSection/CardSection.js
  packages/react/src/patterns/sub-patterns/CardLink/CardLink.js
  packages/react/src/patterns/sub-patterns/CardLink/README.md
  packages/react/src/patterns/sub-patterns/CardLink/__stories__/Card.stories.js
  packages/react/src/patterns/sub-patterns/CardLink/__tests__/CardLink.test.js
Labels: package: react

#1308 fix(card): darken image for hover on card
  .yarn/offline-mirror/@carbon-motion-10.5.2.tgz
  packages/react/src/patterns/sub-patterns/CardLink/CardLink.js
  packages/styles/package.json
  packages/styles/scss/patterns/sub-patterns/card-link/README.md
  packages/styles/scss/patterns/sub-patterns/card-link/index.scss
  yarn.lock
Labels: package: react

#1317 feat(sub-pattern): PictogramItem component created
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/patterns/sub-patterns/PictogramItem/PictogramItem.js
  packages/react/src/patterns/sub-patterns/PictogramItem/README.md
  packages/react/src/patterns/sub-patterns/PictogramItem/__stories__/PictogramItem.stories.js
  packages/react/src/patterns/sub-patterns/PictogramItem/__stories__/index.scss
  packages/react/src/patterns/sub-patterns/PictogramItem/__tests__/PictogramItem.test.js
  packages/react/src/patterns/sub-patterns/PictogramItem/index.js
  packages/react/src/patterns/sub-patterns/index.js
  packages/styles/scss/patterns/sub-patterns/pictogram-item/README.md
  packages/styles/scss/patterns/sub-patterns/pictogram-item/_pictogram-item.scss
Labels: package: react

#1230 Expressive/fileuploader
  packages/styles/scss/themes/expressive/components/_button.scss
  packages/styles/scss/themes/expressive/components/_file-uploader.scss
  packages/styles/scss/themes/expressive/index.scss
Labels: package: styles

#1337 fix(content-group): set expressive heading to scale
  packages/styles/scss/patterns/sub-patterns/content-group/_content-group.scss
Labels: package: react

#1341 fix(vanilla): adding process null check for vanilla
  packages/services/src/services/Analytics/Analytics.js
  packages/services/src/services/Locale/Locale.js
  packages/services/src/services/MarketingSearch/MarketingSearch.js
  packages/services/src/services/Profile/Profile.js
  packages/services/src/services/SearchTypeahead/SearchTypeahead.js
  packages/services/src/services/Translation/Translation.js
  packages/utilities/src/utilities/geolocation/geolocation.js
Labels: package: services, package: utilities

#1344 fix(vanilla): added missing dependency
  .yarn/offline-mirror/@carbon-icons-10.8.2.tgz
  packages/patterns-react/.env
  packages/react/ssr-tests/nextjs/yarn.lock
  packages/vanilla/package.json
  yarn.lock
Labels: package: vanilla

#1268 feat(component): created cta component and changing the data model
  packages/react/src/components/CTA/CTA.js
  packages/react/src/components/CTA/README.md
  packages/react/src/components/CTA/__stories__/CTA.stories.js
  packages/react/src/components/CTA/index.js
  packages/styles/scss/patterns/sub-patterns/card-link/index.scss
  packages/utilities/src/utilities/index.js
  packages/utilities/src/utilities/smoothScroll/index.js
  packages/utilities/src/utilities/smoothScroll/smoothScroll.js
Labels: package: react

#1343 docs(footer): adding data structure docs for the footer
  packages/react/src/components/Footer/README.md
  packages/react/src/components/Footer/__data__/footer-legal.json
  packages/react/src/components/Footer/__data__/footer-menu.json
  packages/react/src/components/Footer/__data__/footer-thin.json
  packages/react/src/components/Footer/__stories__/Footer.stories.js
  packages/react/src/components/Footer/__tests__/Footer.test.js
  packages/react/src/components/Footer/__tests__/FooterNav.test.js
  packages/react/src/components/Footer/__tests__/FooterNavGroup.test.js
  packages/react/src/components/Footer/__tests__/LegalNav.test.js
  packages/vanilla/src/components/footer/README.md
Labels: package: react, package: vanilla

#1354 fix(locale): fixes locale for multiple langs; fixes #1347
  packages/services/src/services/Locale/Locale.js
Labels: package: services

#1353 Docs/vanilla storybook
  .yarn/offline-mirror/showdown-1.9.1.tgz
  .yarn/offline-mirror/yargs-14.2.2.tgz
  .yarn/offline-mirror/yargs-parser-15.0.0.tgz
  packages/react/.env.example
  packages/vanilla/.env.example
  packages/vanilla/.storybook/config.js
  packages/vanilla/README.md
  packages/vanilla/package.json
  packages/vanilla/src/components/dotcomshell/__stories__/dotcomshell.stories.js
  packages/vanilla/src/components/footer/__stories__/footer.stories.js
  packages/vanilla/src/components/horizontalrule/__stories__/horizontalrule.stories.js
  packages/vanilla/src/components/masthead/__stories__/masthead.stories.js
  packages/vanilla/src/overview/markdown.css
  packages/vanilla/src/overview/overview.js
  yarn.lock
Labels: package: vanilla

#1372 fix(card): have icon outside of cta object
  packages/react/src/patterns/sub-patterns/Card/Card.js
  packages/react/src/patterns/sub-patterns/Card/__stories__/Card.stories.js
Labels: package: react

#1363 feat(content-item): add cta component to content-item
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/CTA/CTA.js
  packages/react/src/patterns/sub-patterns/ContentItem/ContentItem.js
  packages/react/src/patterns/sub-patterns/ContentItem/README.md
  packages/react/src/patterns/sub-patterns/ContentItem/__stories__/ContentItem.stories.js
  packages/react/src/patterns/sub-patterns/ContentItem/__tests__/ContentItem.test.js
  packages/styles/scss/patterns/sub-patterns/content-item/_content-item.scss
Labels: package: react

#1326 feat(pattern): added CTA updated fun specs and dev ontology refactor
  packages/react/src/components/CTA/CTA.js
  packages/react/src/components/index.js
  packages/react/src/patterns/sub-patterns/ContentGroup/ContentGroup.js
  packages/react/src/patterns/sub-patterns/ContentGroup/README.md
  packages/react/src/patterns/sub-patterns/ContentGroup/__stories__/ContentArrayGroup.stories.js
  packages/react/src/patterns/sub-patterns/ContentGroup/__stories__/ContentGroup.stories.js
  packages/styles/scss/patterns/sub-patterns/content-group/_content-group.scss
Labels: package: react

#1378 Feat/content group simple
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/patterns/blocks/ContentGroupSimple/ContentGroupSimple.js
  packages/react/src/patterns/blocks/ContentGroupSimple/README.md
  packages/react/src/patterns/blocks/ContentGroupSimple/__stories__/ContentGroupSimple.stories.js
  packages/react/src/patterns/blocks/ContentGroupSimple/__stories__/index.scss
  packages/react/src/patterns/blocks/ContentGroupSimple/__tests__/ContentGroupSimple.test.js
  packages/react/src/patterns/blocks/ContentGroupSimple/index.js
  packages/styles/scss/patterns/blocks/content-group-simple/_content-group-simple.scss
  packages/styles/scss/patterns/blocks/content-group-simple/index.scss
Labels: package: react

#1366 feat(block): content-group-pictogram created
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/patterns/blocks/ContentGroupPictograms/ContentGroupPictograms.js
  packages/react/src/patterns/blocks/ContentGroupPictograms/README.md
  packages/react/src/patterns/blocks/ContentGroupPictograms/__stories__/ContentGroupPictograms.stories.js
  packages/react/src/patterns/blocks/ContentGroupPictograms/__stories__/index.scss
  packages/react/src/patterns/blocks/ContentGroupPictograms/__tests__/ContentGroupPictograms.test.js
  packages/react/src/patterns/blocks/ContentGroupPictograms/index.js
  packages/react/src/patterns/blocks/PictogramArray/PictogramArray.js
  packages/react/src/patterns/blocks/PictogramArray/PictogramArrayItem.js
  packages/react/src/patterns/blocks/PictogramArray/README.md
  packages/react/src/patterns/blocks/PictogramArray/__stories__/PictogramArray.stories.js
  packages/react/src/patterns/blocks/PictogramArray/__stories__/index.scss
  packages/react/src/patterns/blocks/index.js
  packages/react/src/patterns/sub-patterns/ContentGroup/__stories__/ContentGroup.stories.js
  packages/react/src/patterns/sub-patterns/ContentGroup/__stories__/index.scss
  packages/react/src/patterns/sub-patterns/PictogramItem/PictogramItem.js
  packages/react/src/patterns/sub-patterns/PictogramItem/README.md
  packages/react/src/patterns/sub-patterns/PictogramItem/__stories__/PictogramItem.stories.js
  packages/react/src/patterns/sub-patterns/PictogramItem/__stories__/index.scss
  packages/react/src/patterns/sub-patterns/PictogramItem/__tests__/PictogramItem.test.js
  packages/styles/scss/ibm-dotcom-styles.scss
  packages/styles/scss/patterns/blocks/content-group-pictograms/README.md
  packages/styles/scss/patterns/blocks/content-group-pictograms/index.scss
  packages/styles/scss/patterns/blocks/pictogramarray/README.md
  packages/styles/scss/patterns/blocks/pictogramarray/_pictogramarray-item.scss
  packages/styles/scss/patterns/blocks/pictogramarray/_pictogramarray.scss
  packages/styles/scss/patterns/sub-patterns/content-group/_content-group.scss
  packages/styles/scss/patterns/sub-patterns/pictogram-item/_pictogram-item.scss
Labels: package: react

#1412 fix(scss): Fixed card outline issues
  packages/styles/scss/patterns/sub-patterns/card/index.scss
Labels: package: react

#1432 fix(pattern): scroll fixed for IOS 12 Safari
  packages/react/src/patterns/sub-patterns/TableOfContents/TOCMobile.js
Labels: package: react

#1271 Masthead/iconfix
  packages/react/src/components/Masthead/Masthead.js
  packages/react/src/components/Masthead/MastheadProfile.js
  packages/styles/scss/components/masthead/_masthead.scss
  packages/styles/scss/themes/expressive/components/_data-table.scss
  packages/styles/scss/themes/expressive/index.scss
Labels: package: react, package: styles

#1414 Fix/content group cards accessibility
  packages/react/src/patterns/blocks/ContentGroupCards/ContentGroupCards.js
  packages/react/src/patterns/sub-patterns/TableOfContents/TOCDesktop.js
Labels: package: react

#1371 fix(scss): limited text wrapper size for 90% of card
  packages/react/src/patterns/blocks/ContentGroupCards/ContentGroupCards.js
  packages/styles/scss/globals/_imports.scss
  packages/styles/scss/globals/utils/_content-width.scss
  packages/styles/scss/patterns/blocks/contentgroupcards/_contentgroupcards-item.scss
  packages/styles/scss/patterns/blocks/contentgroupcards/_contentgroupcards.scss
  packages/styles/scss/patterns/blocks/contentgroupcards/index.scss
  packages/styles/scss/patterns/sub-patterns/card/index.scss
Labels: package: react

#1406 Feat/1198 content section
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/patterns/sections/CardSectionImages/README.md
  packages/react/src/patterns/sub-patterns/ContentSection/ContentSection.js
  packages/react/src/patterns/sub-patterns/ContentSection/README.md
  packages/react/src/patterns/sub-patterns/ContentSection/__stories__/ContentSection.stories.js
  packages/react/src/patterns/sub-patterns/ContentSection/__stories__/index.scss
  packages/react/src/patterns/sub-patterns/ContentSection/__tests__/ContentSection.test.js
  packages/react/src/patterns/sub-patterns/ContentSection/index.js
  packages/react/src/patterns/sub-patterns/index.js
  packages/styles/scss/ibm-dotcom-styles.scss
  packages/styles/scss/patterns/sub-patterns/content-section/README.md
  packages/styles/scss/patterns/sub-patterns/content-section/_content-section.scss
Labels: package: react

#1440 Fix(Pattern): Updated font-size on mobile menu for Table of Contents
  packages/styles/scss/patterns/sub-patterns/tableofcontents/_tableofcontents.scss
Labels: package: react

#1430 fix(card): high contrast modifier
  packages/react/src/components/CTA/CTA.js
  packages/react/src/components/CTA/__stories__/CTA.stories.js
  packages/react/src/components/LocaleModal/LocaleModalRegions.js
  packages/react/src/patterns/blocks/ContentBlockMedia/ContentBlockMediaGroup.js
  packages/react/src/patterns/blocks/ContentBlockMedia/__stories__/ContentBlockMedia.stories.js
  packages/react/src/patterns/blocks/ContentGroupCards/ContentGroupCards.js
  packages/react/src/patterns/blocks/ContentGroupSimple/__stories__/ContentGroupSimple.stories.js
  packages/react/src/patterns/blocks/FeaturedLink/FeaturedLink.js
  packages/react/src/patterns/blocks/FeaturedLink/__stories__/FeaturedLink.stories.js
  packages/react/src/patterns/blocks/SimpleLongForm/SimpleLongForm.js
  packages/react/src/patterns/sections/CardSection/CardSection.js
  packages/react/src/patterns/sub-patterns/Card/Card.js
  packages/react/src/patterns/sub-patterns/Card/README.md
  packages/react/src/patterns/sub-patterns/Card/__stories__/Card.stories.js
  packages/react/src/patterns/sub-patterns/Card/__stories__/index.scss
  packages/react/src/patterns/sub-patterns/ContentBlock/ContentBlock.js
  packages/react/src/patterns/sub-patterns/ContentBlock/__stories__/ContentBlock.stories.js
  packages/react/src/patterns/sub-patterns/ContentGroup/__stories__/ContentGroup.stories.js
  packages/react/src/patterns/sub-patterns/ContentItem/ContentItem.js
  packages/styles/scss/components/locale-modal/_locale-modal.scss
  packages/styles/scss/patterns/sub-patterns/card/README.md
  packages/styles/scss/patterns/sub-patterns/card/index.scss
Labels: package: react

#1443 fix(scss): updated focus state for the buttons on firefox
  packages/styles/scss/patterns/sub-patterns/tableofcontents/_tableofcontents.scss
Labels: package: react

#1444 Feat/content block mixed groups
  packages/react/src/patterns/blocks/ContentBlockMixed/ContentBlockMixed.js
  packages/react/src/patterns/blocks/ContentBlockMixed/README.md
  packages/react/src/patterns/blocks/ContentBlockMixed/__stories__/ContentBlockMixed.stories.js
  packages/react/src/patterns/blocks/ContentBlockMixed/__stories__/index.scss
  packages/react/src/patterns/blocks/ContentBlockMixed/__tests__/ContentBlockMixedGroups.test.js
  packages/react/src/patterns/blocks/ContentBlockMixed/index.js
  packages/react/src/patterns/blocks/ContentBlockSimple/README.md
  packages/react/src/patterns/blocks/ContentGroupCards/__stories__/ContentGroupCards.stories.js
  packages/react/src/patterns/blocks/ContentGroupCards/__stories__/data/ContentGroupCards.knobs.js
  packages/react/src/patterns/blocks/ContentGroupSimple/__stories__/ContentGroupSimple.stories.js
  packages/react/src/patterns/blocks/ContentGroupSimple/__stories__/data/ContentGroupSimple.knobs.js
  packages/react/src/patterns/blocks/index.js
  packages/react/src/patterns/sub-patterns/ContentBlock/ContentBlock.js
  packages/styles/scss/patterns/blocks/content-block-mixedgroups/_content-block-mixedgroups.scss
Labels: package: react

#1431 feat(pattern): cta is now optional for content-group-pictograms
  packages/react/src/patterns/blocks/ContentGroupPictograms/__stories__/ContentGroupPictograms.stories.js
  packages/react/src/patterns/sub-patterns/PictogramItem/PictogramItem.js
Labels: package: react

#1437 Feat/content block segmented
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/patterns/blocks/ContentBlockSegmented/ContentBlockSegmented.js
  packages/react/src/patterns/blocks/ContentBlockSegmented/README.md
  packages/react/src/patterns/blocks/ContentBlockSegmented/__stories__/ContentBlockSegmented.stories.js
  packages/react/src/patterns/blocks/ContentBlockSegmented/__stories__/index.scss
  packages/react/src/patterns/blocks/ContentBlockSegmented/__tests__/ContentBlockSegmented.test.js
  packages/react/src/patterns/blocks/ContentBlockSegmented/index.js
  packages/react/src/patterns/blocks/ContentGroupSimple/ContentGroupSimple.js
  packages/react/src/patterns/blocks/ContentGroupSimple/__stories__/ContentGroupSimple.stories.js
  packages/react/src/patterns/blocks/index.js
  packages/styles/scss/patterns/blocks/content-block-media/README.md
  packages/styles/scss/patterns/blocks/content-block-segmented/_content-block-segmented.scss
  packages/styles/scss/patterns/sub-patterns/content-group/_content-group.scss
Labels: package: react

#1448 fix(styles): fix to style imports
  packages/react/src/patterns/blocks/ContentGroupCards/__stories__/index.scss
  packages/styles/scss/ibm-dotcom-styles.scss
  packages/styles/scss/patterns/blocks/content-group-cards/README.md
  packages/styles/scss/patterns/blocks/content-group-cards/_content-group-cards-item.scss
  packages/styles/scss/patterns/blocks/content-group-cards/_content-group-cards.scss
  packages/styles/scss/patterns/blocks/content-group-cards/index.scss
Labels: package: react

#1454 fix(styles): fix to style imports
  packages/styles/scss/ibm-dotcom-styles.scss
Labels: package: react

#1434 fix(pattern): name change fixed on "Jump to" menu
  packages/react/src/patterns/sub-patterns/TableOfContents/TOCDesktop.js
  packages/react/src/patterns/sub-patterns/TableOfContents/TOCMobile.js
Labels: package: react

#1458 fix(tableofcontents): various fixes for dynamic menu items
  packages/react/src/patterns/sub-patterns/TableOfContents/README.md
  packages/react/src/patterns/sub-patterns/TableOfContents/TOCDesktop.js
  packages/react/src/patterns/sub-patterns/TableOfContents/TOCMobile.js
  packages/react/src/patterns/sub-patterns/TableOfContents/TableOfContents.js
  packages/react/src/patterns/sub-patterns/TableOfContents/__stories__/TableOfContents.stories.js
Labels: package: react

#1446 feat(pattern): utilizing the ContentSection in CardSection pattern
  packages/react/src/patterns/sections/CardSection/CardSection.js
  packages/react/src/patterns/sections/CardSection/__stories__/CardSection.stories.js
  packages/styles/scss/patterns/sections/card-section/_card-section.scss
Labels: package: react

#1459 fix(featureflags): removed unused feature flags
  packages/react/src/internal/FeatureFlags.js
Labels: package: react

#1461 Fix/content block media
  packages/react/src/internal/FeatureFlags.js
  packages/react/src/patterns/blocks/ContentBlockMedia/ContentBlockMedia.js
  packages/react/src/patterns/blocks/ContentBlockMedia/ContentBlockMediaGroup.js
  packages/react/src/patterns/blocks/ContentBlockMedia/ContentBlockMediaItem.js
  packages/react/src/patterns/blocks/ContentBlockMedia/__stories__/ContentBlockMedia.stories.js
  packages/react/src/patterns/blocks/ContentGroupSimple/__stories__/data/ContentGroupSimple.knobs.js
  packages/react/src/patterns/blocks/SimpleLongForm/SimpleLongForm.js
Labels: package: react

#1451 fix(feature-card): rename FeaturedLink pattern to FeatureCard to match func specs
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/CTA/CTA.js
  packages/react/src/internal/FeatureFlags.js
  packages/react/src/patterns/blocks/FeatureCard/FeatureCard.js
  packages/react/src/patterns/blocks/FeatureCard/README.md
  packages/react/src/patterns/blocks/FeatureCard/__stories__/FeatureCard.stories.js
  packages/react/src/patterns/blocks/FeatureCard/__stories__/index.scss
  packages/react/src/patterns/blocks/FeatureCard/index.js
  packages/react/src/patterns/blocks/FeaturedLink/README.md
  packages/react/src/patterns/blocks/FeaturedLink/__stories__/FeaturedLink.stories.js
  packages/react/src/patterns/blocks/FeaturedLink/__stories__/index.scss
  packages/react/src/patterns/blocks/index.js
  packages/styles/scss/ibm-dotcom-styles.scss
  packages/styles/scss/patterns/blocks/FeaturedLink/README.md
  packages/styles/scss/patterns/blocks/FeaturedLink/index.scss
  packages/styles/scss/patterns/blocks/feature-card/README.md
  packages/styles/scss/patterns/blocks/feature-card/_feature-card.scss
Labels: package: react

#1456 fix(feature-card): change icon position and accept icon as prop
  packages/react/src/components/CTA/__stories__/CTA.stories.js
  packages/react/src/patterns/blocks/ContentBlockMedia/__stories__/ContentBlockMedia.stories.js
  packages/react/src/patterns/blocks/FeatureCard/FeatureCard.js
  packages/react/src/patterns/sub-patterns/ContentBlock/__stories__/ContentBlock.stories.js
  packages/styles/scss/patterns/blocks/feature-card/_feature-card.scss
Labels: package: react

#1474 fix(feature-card): set card to hang into gutters
  packages/react/src/patterns/blocks/FeatureCard/__stories__/FeatureCard.stories.js
  packages/styles/scss/globals/utils/_hang.scss
  packages/styles/scss/patterns/blocks/feature-card/_feature-card.scss
Labels: package: react

#1472 fix(scss): increased spacing between pictogram-items
  packages/styles/scss/patterns/blocks/content-group-pictograms/_content-group-pictograms.scss
  packages/styles/scss/patterns/blocks/content-group-pictograms/index.scss
Labels: package: react

#1485 fix(card-section): add card class to themed items in cardsection scss
  packages/styles/scss/patterns/sections/card-section/_card-section.scss
Labels: package: react

#1484 Feat/decode string util
  packages/utilities/src/utilities/decodeString/__tests__/decodeString.test.js
  packages/utilities/src/utilities/decodeString/decodeString.js
  packages/utilities/src/utilities/decodeString/index.js
  packages/utilities/src/utilities/index.js
Labels: package: utilities

#1449 feat(utility): make use of smoothScroll util in tableOfContents
  packages/react/src/patterns/sub-patterns/TableOfContents/TOCDesktop.js
  packages/react/src/patterns/sub-patterns/TableOfContents/TOCMobile.js
  packages/utilities/src/utilities/smoothScroll/smoothScroll.js
Labels: package: utilities

#1492 fix(pattern): fix block-level autoid structure
  packages/react/src/patterns/blocks/ContentBlockMedia/ContentBlockMedia.js
  packages/react/src/patterns/blocks/ContentBlockMedia/ContentBlockMediaGroup.js
  packages/react/src/patterns/blocks/ContentBlockMedia/ContentBlockMediaItem.js
  packages/react/src/patterns/blocks/ContentBlockMedia/__stories__/ContentBlockMedia.stories.js
  packages/react/src/patterns/blocks/ContentBlockMixed/ContentBlockMixed.js
  packages/react/src/patterns/blocks/ContentBlockMixed/__stories__/ContentBlockMixed.stories.js
  packages/react/src/patterns/blocks/ContentBlockMixed/__stories__/index.scss
  packages/react/src/patterns/blocks/ContentBlockSegmented/ContentBlockSegmented.js
  packages/react/src/patterns/blocks/ContentBlockSegmented/__stories__/index.scss
  packages/react/src/patterns/blocks/ContentBlockSimple/ContentBlockSimple.js
  packages/react/src/patterns/blocks/ContentBlockSimple/__stories__/index.scss
  packages/react/src/patterns/sub-patterns/ContentBlock/ContentBlock.js
  packages/styles/scss/patterns/blocks/content-block-media/_content-block-media-group.scss
  packages/styles/scss/patterns/blocks/content-block-media/_content-block-media-item.scss
  packages/styles/scss/patterns/blocks/content-block-media/_content-block-media.scss
  packages/styles/scss/patterns/blocks/content-block-media/index.scss
  packages/styles/scss/patterns/blocks/content-block-mixed/_content-block-mixed.scss
  packages/styles/scss/patterns/blocks/content-block-mixed/index.scss
  packages/styles/scss/patterns/blocks/content-block-segmented/_content-block-segmented.scss
  packages/styles/scss/patterns/blocks/content-block-segmented/index.scss
  packages/styles/scss/patterns/blocks/content-block-simple/_content-block-simple.scss
  packages/styles/scss/patterns/blocks/content-block-simple/index.scss
Labels: package: react

#1491 fix(localebutton): added prop to disable the locale button
  packages/react/src/components/DotcomShell/DotcomShell.js
  packages/react/src/components/DotcomShell/__stories__/DotcomShell.stories.js
  packages/react/src/components/Footer/Footer.js
  packages/react/src/components/Footer/__stories__/Footer.stories.js
Labels: package: react

#1497 fix(styles): updated styles main entry point
  packages/styles/scss/ibm-dotcom-styles.scss
  packages/styles/scss/patterns/blocks/content-block-mixed/index.scss
  packages/styles/scss/patterns/blocks/usecases/README.md
  packages/styles/scss/patterns/blocks/usecases/_usecases-group.scss
  packages/styles/scss/patterns/blocks/usecases/_usecases-item.scss
  packages/styles/scss/patterns/blocks/usecases/_usecases.scss
  packages/styles/scss/patterns/blocks/usecases/index.scss
Labels: package: react

#1486 fix(scss): adjusted bottom padding of content-group-pictograms
  packages/styles/scss/patterns/blocks/content-group-pictograms/_content-group-pictograms.scss
Labels: package: react

#1511 docs(contentblock): updated READMES for content block/groups
  packages/react/src/patterns/blocks/ContentBlockMixed/README.md
  packages/react/src/patterns/blocks/ContentBlockSegmented/README.md
  packages/react/src/patterns/blocks/ContentBlockSimple/README.md
  packages/react/src/patterns/blocks/ContentGroupCards/README.md
  packages/react/src/patterns/blocks/ContentGroupPictograms/README.md
  packages/react/src/patterns/blocks/ContentGroupSimple/README.md
Labels: package: react

#1428 feat(image-with-caption): image with caption component
  packages/react/src/components/CTA/__stories__/CTA.stories.js
  packages/react/src/components/Image/Image.js
  packages/react/src/components/Image/README.md
  packages/react/src/components/Image/__stories__/Image.stories.js
  packages/react/src/components/ImageWithCaption/ImageWithCaption.js
  packages/react/src/components/ImageWithCaption/README.md
  packages/react/src/components/ImageWithCaption/__stories__/ImageWithCaption.stories.js
  packages/react/src/components/ImageWithCaption/__stories__/index.scss
  packages/react/src/components/ImageWithCaption/index.js
  packages/react/src/components/LightboxMediaViewer/README.md
  packages/react/src/components/LightboxMediaViewer/__stories__/LightboxMediaViewer.stories.js
  packages/react/src/components/index.js
  packages/react/src/patterns/blocks/ContentBlockMedia/README.md
  packages/react/src/patterns/blocks/ContentBlockMedia/__stories__/ContentBlockMedia.stories.js
  packages/react/src/patterns/blocks/ContentBlockMixed/README.md
  packages/react/src/patterns/blocks/ContentBlockSegmented/__stories__/ContentBlockSegmented.stories.js
  packages/react/src/patterns/blocks/ContentBlockSegmented/__tests__/ContentBlockSegmented.test.js
  packages/react/src/patterns/blocks/ContentBlockSimple/__stories__/ContentBlockSimple.stories.js
  packages/react/src/patterns/blocks/ContentBlockSimple/__tests__/ContentBlockSimple.test.js
  packages/react/src/patterns/blocks/ContentGroupSimple/README.md
  packages/react/src/patterns/blocks/ContentGroupSimple/__stories__/data/ContentGroupSimple.knobs.js
  packages/react/src/patterns/blocks/ContentGroupSimple/__tests__/ContentGroupSimple.test.js
  packages/react/src/patterns/blocks/FeatureCard/README.md
  packages/react/src/patterns/blocks/FeatureCard/__stories__/FeatureCard.stories.js
  packages/react/src/patterns/sections/CardSection/__stories__/data/cards.json
  packages/react/src/patterns/sections/CardSectionImages/README.md
  packages/react/src/patterns/sub-patterns/Card/__stories__/Card.stories.js
  packages/react/src/patterns/sub-patterns/ContentBlock/__stories__/ContentBlock.stories.js
  packages/react/src/patterns/sub-patterns/ContentItem/README.md
  packages/react/src/patterns/sub-patterns/ContentItem/__stories__/ContentItem.stories.js
  packages/react/src/patterns/sub-patterns/ContentItem/__tests__/ContentItem.test.js
  packages/styles/scss/components/image-with-caption/image-with-caption.scss
Labels: package: react

#1540 fix(alignment): added sameheight for eyebrow to fix alignment
  packages/react/src/patterns/sections/CardSection/CardSection.js
Labels: package: react

#1411 Leadspace
  packages/react/src/internal/FeatureFlags.js
  packages/react/src/patterns/sections/LeadSpace/LeadSpace.js
  packages/react/src/patterns/sections/LeadSpace/LeadSpaceImage.js
  packages/react/src/patterns/sections/LeadSpace/README.md
  packages/react/src/patterns/sections/LeadSpace/__stories__/LeadSpace.stories.js
  packages/react/src/patterns/sections/LeadSpace/index.js
  packages/react/src/patterns/sections/LeadSpaceCentered/LeadSpaceCentered.js
  packages/react/src/patterns/sections/LeadSpaceCentered/README.md
  packages/react/src/patterns/sections/LeadSpaceCentered/__stories__/LeadSpaceCentered.stories.js
  packages/react/src/patterns/sections/LeadSpaceCentered/__stories__/index.scss
  packages/react/src/patterns/sections/LeadSpaceCentered/__tests__/LeadSpaceCentered.test.js
  packages/react/src/patterns/sections/LeadSpaceCentered/index.js
  packages/react/src/patterns/sections/index.js
  packages/react/src/patterns/sub-patterns/ButtonGroup/ButtonGroup.js
  packages/react/src/patterns/sub-patterns/ButtonGroup/README.md
  packages/react/src/patterns/sub-patterns/ButtonGroup/__stories__/ButtonGroup.stories.js
  packages/react/src/patterns/sub-patterns/ButtonGroup/__tests__/ButtonGroup.test.js
  packages/styles/scss/ibm-dotcom-styles.scss
  packages/styles/scss/patterns/sections/leadspace-centered/README.md
  packages/styles/scss/patterns/sections/leadspace-centered/_leadspace-centered.scss
  packages/styles/scss/patterns/sections/leadspace/_leadspace.scss
  packages/styles/scss/patterns/sub-patterns/buttongroup/_buttongroup.scss
Labels: package: react

#1542 feat(content-item): update content item with image-with-caption component
  packages/react/src/components/ImageWithCaption/ImageWithCaption.js
  packages/react/src/patterns/sub-patterns/ContentItem/ContentItem.js
  packages/react/src/patterns/sub-patterns/ContentItem/README.md
  packages/react/src/patterns/sub-patterns/ContentItem/__stories__/ContentItem.stories.js
  packages/styles/scss/patterns/sub-patterns/content-item/_content-item.scss
Labels: package: react

#1510 Fix/fpo images
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/CTA/README.md
  packages/react/src/components/CTA/__stories__/CTA.stories.js
  packages/react/src/components/Image/Image.js
  packages/react/src/components/Image/README.md
  packages/react/src/components/Image/__stories__/Image.stories.js
  packages/react/src/components/LightboxMediaViewer/README.md
  packages/react/src/components/LightboxMediaViewer/__stories__/LightboxMediaViewer.stories.js
  packages/react/src/components/LinkWithIcon/README.md
  packages/react/src/components/LinkWithIcon/__stories__/LinkWithIcon.stories.js
  packages/react/src/components/LinkWithIcon/__tests__/LinkWithIcon.test.js
  packages/react/src/patterns/blocks/ContentBlockMedia/README.md
  packages/react/src/patterns/blocks/ContentBlockMedia/__stories__/ContentBlockMedia.stories.js
  packages/react/src/patterns/blocks/ContentBlockMixed/README.md
  packages/react/src/patterns/blocks/ContentBlockSegmented/__stories__/ContentBlockSegmented.stories.js
  packages/react/src/patterns/blocks/ContentBlockSegmented/__tests__/ContentBlockSegmented.test.js
  packages/react/src/patterns/blocks/ContentBlockSimple/__stories__/ContentBlockSimple.stories.js
  packages/react/src/patterns/blocks/ContentBlockSimple/__tests__/ContentBlockSimple.test.js
  packages/react/src/patterns/blocks/ContentGroupSimple/README.md
  packages/react/src/patterns/blocks/ContentGroupSimple/__stories__/data/ContentGroupSimple.knobs.js
  packages/react/src/patterns/blocks/ContentGroupSimple/__tests__/ContentGroupSimple.test.js
  packages/react/src/patterns/blocks/FeaturedLink/__stories__/FeaturedLink.stories.js
  packages/react/src/patterns/blocks/LogoGrid/README.md
  packages/react/src/patterns/blocks/LogoGrid/__stories__/data/logos.json
  packages/react/src/patterns/sections/CardSection/__stories__/CardSection.stories.js
  packages/react/src/patterns/sections/CardSection/__stories__/data/CardKnobs.js
  packages/react/src/patterns/sections/CardSection/__stories__/data/cards.json
  packages/react/src/patterns/sections/LeadSpace/__stories__/LeadSpace.stories.js
  packages/react/src/patterns/sections/LeadSpace/__tests__/LeadSpaceImage.test.js
  packages/react/src/patterns/sections/LeadSpaceCentered/__stories__/LeadSpaceCentered.stories.js
  packages/react/src/patterns/sub-patterns/Card/__stories__/Card.stories.js
  packages/react/src/patterns/sub-patterns/ContentBlock/__stories__/ContentBlock.stories.js
  packages/react/src/patterns/sub-patterns/ContentGroup/README.md
  packages/react/src/patterns/sub-patterns/ContentGroup/__stories__/ContentGroup.stories.js
  packages/react/src/patterns/sub-patterns/ContentItem/README.md
  packages/react/src/patterns/sub-patterns/ContentItem/__stories__/ContentItem.stories.js
  packages/react/src/patterns/sub-patterns/ContentItem/__tests__/ContentItem.test.js
Labels: package: react

#1545 feat/locale-translation-json
  packages/react/src/components/LocaleModal/LocaleModal.js
  packages/react/src/components/LocaleModal/LocaleModalCountries.js
  packages/react/src/components/LocaleModal/README.md
  packages/react/src/components/LocaleModal/__stories__/LocaleModal.stories.js
Labels: package: react

#1473 fix(scss): adjusted padding on mobile version to match design specs
  packages/react/src/patterns/blocks/ContentBlockSimple/__stories__/ContentBlockSimple.stories.js
  packages/react/src/patterns/blocks/ContentBlockSimple/__stories__/index.scss
  packages/styles/scss/patterns/blocks/content-block-simple/_content-block-simple.scss
Labels: package: react

#1555 Fix/fpo images part deux
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/CTA/README.md
  packages/react/src/components/CTA/__stories__/CTA.stories.js
  packages/react/src/components/Image/README.md
  packages/react/src/components/Image/__stories__/Image.stories.js
  packages/react/src/components/ImageWithCaption/README.md
  packages/react/src/components/ImageWithCaption/__stories__/ImageWithCaption.stories.js
  packages/react/src/components/LightboxMediaViewer/README.md
  packages/react/src/components/LightboxMediaViewer/__stories__/LightboxMediaViewer.stories.js
  packages/react/src/components/LinkWithIcon/README.md
  packages/react/src/components/LinkWithIcon/__stories__/LinkWithIcon.stories.js
  packages/react/src/components/LinkWithIcon/__tests__/LinkWithIcon.test.js
  packages/react/src/patterns/blocks/ContentBlockMedia/README.md
  packages/react/src/patterns/blocks/ContentBlockMedia/__stories__/ContentBlockMedia.stories.js
  packages/react/src/patterns/blocks/ContentBlockSegmented/__stories__/ContentBlockSegmented.stories.js
  packages/react/src/patterns/blocks/ContentBlockSegmented/__tests__/ContentBlockSegmented.test.js
  packages/react/src/patterns/blocks/ContentBlockSimple/__stories__/ContentBlockSimple.stories.js
  packages/react/src/patterns/blocks/ContentBlockSimple/__tests__/ContentBlockSimple.test.js
  packages/react/src/patterns/blocks/ContentGroupSimple/README.md
  packages/react/src/patterns/blocks/ContentGroupSimple/__stories__/data/ContentGroupSimple.knobs.js
  packages/react/src/patterns/blocks/ContentGroupSimple/__tests__/ContentGroupSimple.test.js
  packages/react/src/patterns/blocks/FeatureCard/README.md
  packages/react/src/patterns/blocks/FeatureCard/__stories__/FeatureCard.stories.js
  packages/react/src/patterns/blocks/LogoGrid/README.md
  packages/react/src/patterns/blocks/LogoGrid/__stories__/data/logos.json
  packages/react/src/patterns/sections/CardSection/__stories__/data/cards.json
  packages/react/src/patterns/sections/LeadSpace/__stories__/LeadSpace.stories.js
  packages/react/src/patterns/sections/LeadSpace/__tests__/LeadSpaceImage.test.js
  packages/react/src/patterns/sub-patterns/Card/__stories__/Card.stories.js
  packages/react/src/patterns/sub-patterns/ContentBlock/__stories__/ContentBlock.stories.js
  packages/react/src/patterns/sub-patterns/ContentGroup/README.md
  packages/react/src/patterns/sub-patterns/ContentGroup/__stories__/ContentGroup.stories.js
  packages/react/src/patterns/sub-patterns/ContentItem/README.md
  packages/react/src/patterns/sub-patterns/ContentItem/__tests__/ContentItem.test.js
  packages/services/src/services/Translation/__tests__/Translation.test.js
  packages/utilities/src/utilities/decodeString/decodeString.js
Labels: package: react
