Repository carbon-design-system/carbon-for-ibm-dotcom, pull requests merged in 2020-09, with the labels that each got.

#3810 fix(dotcom-shell): fix style imports
  packages/web-components/src/components/dotcom-shell/dotcom-shell.scss
  packages/web-components/src/components/dotcom-shell/dotcom-shell.ts
Labels: Ready to merge, package: web components

#3812 feat(Card): supports onClick
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/Card/Card.js
  packages/react/src/components/FeatureCard/FeatureCard.js
Labels: Ready to merge, package: react

#3542 fix(Masthead): hide nav items from screen readers when not displayed
  packages/styles/scss/components/masthead/_masthead-search.scss
  packages/web-components/package.json
  packages/web-components/src/components/masthead/masthead-global-bar.ts
  packages/web-components/src/components/masthead/masthead-logo.ts
  packages/web-components/src/components/masthead/masthead-menu-button.ts
  packages/web-components/src/components/masthead/masthead.scss
  packages/web-components/src/components/masthead/top-nav.ts
Labels: Ready to merge, package: styles, package: web components

#3811 fix(styles): dedupe Carbon grid in the bundle
  .yarn/offline-mirror/carbon-components-10.15.0.tgz
  package.json
  packages/react/jest.config.js
  packages/react/tests/integration/bundle/bundle-size.test.js
  packages/styles/scss/globals/_carbon-grid.scss
  packages/styles/scss/globals/_imports.scss
  yarn.lock
Labels: Ready to merge, package: styles

#3827 docs(lang): updated documentation for setting the page language/locale
  docs/building-for-ibm-dotcom.md
  docs/contributing-license.md
  docs/cors-proxy.md
  packages/web-components/examples/codesandbox/components/dotcom-shell/src/index.js
  packages/web-components/examples/codesandbox/components/footer/src/index.js
  packages/web-components/examples/codesandbox/components/masthead/src/index.js
Labels: Ready to merge

#3822 fix(lang): get immediate lang value rather than waiting for DDO
  packages/services/src/services/Locale/Locale.js
Labels: Ready to merge, package: services

#3841 chore(locale-modal): warn missing links for alternate language
  packages/web-components/src/components/locale-modal/locale-modal-composite.ts
Labels: package: web components

#3840 fix(masthead-menu-button): fix toggle event
  packages/web-components/src/components/masthead/masthead-global-bar.ts
  packages/web-components/src/components/masthead/masthead-logo.ts
  packages/web-components/src/components/masthead/masthead-menu-button.ts
  packages/web-components/src/components/masthead/top-nav.ts
Labels: Ready to merge, package: web components

#3825 fix(Footer): update micro footer styles
  packages/styles/scss/components/footer/_legal-nav.scss
Labels: Ready to merge, package: styles

#3808 chore(lightbox-media-viewer): let container render modal, etc
  packages/web-components/src/.eslintrc
  packages/web-components/src/components/cta/__tests__/cta-container.test.ts
  packages/web-components/src/components/cta/cta-container.ts
  packages/web-components/src/components/lightbox-media-viewer/__stories__/lightbox-media-viewer.stories.ts
  packages/web-components/src/components/lightbox-media-viewer/__tests__/lightbox-video-player-composite.test.ts
  packages/web-components/src/components/lightbox-media-viewer/__tests__/lightbox-video-player.test.ts
  packages/web-components/src/components/lightbox-media-viewer/lightbox-video-player-composite.scss
  packages/web-components/src/components/lightbox-media-viewer/lightbox-video-player-composite.ts
  packages/web-components/src/components/lightbox-media-viewer/lightbox-video-player-container.ts
  packages/web-components/src/components/video-player/__tests__/video-player-composite.test.ts
  packages/web-components/src/components/video-player/__tests__/video-player-container.test.ts
  packages/web-components/src/components/video-player/__tests__/video-player.test.ts
  packages/web-components/src/components/video-player/video-player-composite.ts
  packages/web-components/src/components/video-player/video-player-container.ts
  packages/web-components/src/components/video-player/video-player.ts
  packages/web-components/src/globals/mixins/modal-render.ts
  packages/web-components/src/globals/services-store/actions/__tests__/videoPlayerAPI.test.ts
  packages/web-components/src/globals/services-store/actions/videoPlayerAPI.ts
  packages/web-components/src/globals/services-store/reducers/__tests__/videoPlayerAPi.test.ts
  packages/web-components/src/globals/services-store/reducers/index.ts
  packages/web-components/src/globals/services-store/reducers/videoPlayerAPI.ts
  packages/web-components/src/globals/services-store/types/videoPlayerAPI.ts
  packages/web-components/tests/snapshots/dds-cta-container.md
  packages/web-components/tests/snapshots/dds-lightbox-video-player-composite.md
  packages/web-components/tests/snapshots/dds-lightbox-video-player-container.md
  packages/web-components/tests/snapshots/dds-video-player-composite.md
  packages/web-components/tests/snapshots/dds-video-player-container.md
Labels: Ready to merge, package: web components

#3829 feat(FeatureCardBlockLarge): web component version
  packages/styles/scss/components/feature-card-block-large/_feature-card-block-large.scss
  packages/web-components/examples/codesandbox/components/feature-card-block-large/.babelrc
  packages/web-components/examples/codesandbox/components/feature-card-block-large/.gitignore
  packages/web-components/examples/codesandbox/components/feature-card-block-large/index.html
  packages/web-components/examples/codesandbox/components/feature-card-block-large/package.json
  packages/web-components/examples/codesandbox/components/feature-card-block-large/sandbox.config.json
  packages/web-components/examples/codesandbox/components/feature-card-block-large/src/index.js
  packages/web-components/examples/codesandbox/components/feature-card/index.html
  packages/web-components/src/components/feature-card-block-large/__stories__/README.stories.mdx
  packages/web-components/src/components/feature-card-block-large/__stories__/feature-card-block-large.stories.scss
  packages/web-components/src/components/feature-card-block-large/__stories__/feature-card-block-large.stories.ts
  packages/web-components/src/components/feature-card-block-large/__tests__/feature-card-block-large.test.ts
  packages/web-components/src/components/feature-card-block-large/feature-card-block-large.scss
  packages/web-components/src/components/feature-card-block-large/feature-card-block-large.ts
Labels: Ready to merge

#3757 feat(masthead): extract out the search feature
  packages/web-components/examples/codesandbox/components/masthead-search/.gitignore
  packages/web-components/examples/codesandbox/components/masthead-search/index.html
  packages/web-components/examples/codesandbox/components/masthead-search/package.json
  packages/web-components/examples/codesandbox/components/masthead-search/sandbox.config.json
  packages/web-components/examples/codesandbox/components/masthead-search/snowpack.config.json
  packages/web-components/examples/codesandbox/components/masthead-search/src/index.js
  packages/web-components/examples/codesandbox/components/masthead-search/src/index.scss
  packages/web-components/src/components/dotcom-shell/dotcom-shell-composite.ts
  packages/web-components/src/components/dotcom-shell/dotcom-shell-container.ts
  packages/web-components/src/components/footer/footer-composite.ts
  packages/web-components/src/components/footer/footer-container.ts
  packages/web-components/src/components/locale-modal/locale-modal-composite.ts
  packages/web-components/src/components/locale-modal/locale-modal-container.ts
  packages/web-components/src/components/masthead/__stories__/README.stories.mdx
  packages/web-components/src/components/masthead/__tests__/masthead-composite.test.ts
  packages/web-components/src/components/masthead/__tests__/masthead-search-composite.test.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/masthead-container.ts
  packages/web-components/src/components/masthead/masthead-search-composite.ts
  packages/web-components/src/components/masthead/masthead-search-container.ts
  packages/web-components/src/components/masthead/masthead-search.ts
  packages/web-components/src/components/masthead/masthead.scss
  packages/web-components/src/globals/mixins/hybrid-render.ts
  packages/web-components/tsconfig.json
Labels: Ready to merge, package: web components

#3844 fix(Footer): micro footer mobile layout styles
  packages/styles/scss/components/footer/_locale-button.scss
Labels: Ready to merge, package: styles

#3839 fix(ipcinfo): setting domain for the ipcinfo cookie
  packages/utilities/src/utilities/ipcinfoCookie/ipcinfoCookie.js
Labels: Ready to merge, package: utilities

#3845 fix(LinkList): update styles in aside element
  packages/styles/scss/components/content-block-simple/_content-block-simple.scss
  packages/styles/scss/internal/content-block/_content-block.scss
Labels: Ready to merge, package: styles

#3852 fix(translation): adding string/replace of login url state param
  packages/services/src/services/Translation/Translation.js
  packages/services/src/services/Translation/__tests__/Translation.test.js
  packages/services/src/services/Translation/__tests__/data/response.json
Labels: Ready to merge, package: services

#3858 fix(Megamenu): update mobile styles
  packages/styles/scss/components/masthead/_masthead-leftnav.scss
Labels: Ready to merge, package: styles

#3835 fix(CardLink): remove specific styles
  packages/styles/scss/components/card-link/_card-link.scss
  packages/styles/scss/components/card/index.scss
  packages/web-components/src/components/card-link/card-link.scss
Labels: Ready to merge

#3862 test(lightbox-media-viewer): fix for UI integration test
  packages/web-components/src/components/lightbox-media-viewer/__tests__/lightbox-media-viewer.steps.js
Labels: Ready to merge

#3861 docs(examples): update dotcomshell CodeSandbox
  packages/web-components/examples/codesandbox/components/dotcom-shell/.babelrc
  packages/web-components/examples/codesandbox/components/dotcom-shell/.gitignore
  packages/web-components/examples/codesandbox/components/dotcom-shell/index.html
  packages/web-components/examples/codesandbox/components/dotcom-shell/package.json
  packages/web-components/examples/codesandbox/components/dotcom-shell/snowpack.config.json
  packages/web-components/examples/codesandbox/components/dotcom-shell/src/index.js
  packages/web-components/examples/codesandbox/components/dotcom-shell/src/index.scss
Labels: Ready to merge

#3853 style(ToC): increasing mobile component clickable area
  packages/styles/scss/components/tableofcontents/_tableofcontents.scss
Labels: Ready to merge

#3856 feat(horizontal-rule): hr web component
  packages/styles/scss/components/horizontalrule/_horizontalrule.scss
  packages/web-components/examples/codesandbox/components/horizontal-rule/.babelrc
  packages/web-components/examples/codesandbox/components/horizontal-rule/.gitignore
  packages/web-components/examples/codesandbox/components/horizontal-rule/index.html
  packages/web-components/examples/codesandbox/components/horizontal-rule/package.json
  packages/web-components/examples/codesandbox/components/horizontal-rule/sandbox.config.json
  packages/web-components/examples/codesandbox/components/horizontal-rule/src/index.js
  packages/web-components/src/components/horizontal-rule/__stories__/README.stories.mdx
  packages/web-components/src/components/horizontal-rule/__stories__/horizontal-rule.stories.ts
  packages/web-components/src/components/horizontal-rule/__tests__/horizontal-rule.test.ts
  packages/web-components/src/components/horizontal-rule/horizontal-rule.scss
  packages/web-components/src/components/horizontal-rule/horizontal-rule.ts
  packages/web-components/tests/snapshots/dds-feature-card-block-large.md
  packages/web-components/tests/snapshots/dds-hr.md
  packages/web-components/tests/snapshots/dds-icon.md
Labels: Ready to merge, package: web components

#3888 fix(LocaleModal): remove header focus
  packages/styles/scss/components/locale-modal/_locale-modal.scss
Labels: Ready to merge, package: react, package: web components

#3871 fix(masthead-leftnav): increasing overlay z-index
  packages/styles/scss/components/masthead/_masthead-leftnav.scss
Labels: Ready to merge

#3878 fix(footer-nav-group): fix missing rotate feature of chevron
  packages/web-components/src/components/footer/footer.scss
Labels: Ready to merge, package: web components

#3880 chore(components): add extensions to local imports
  .gitignore
  packages/eslint-plugin-ibmdotcom-import-rules/lib/index.js
  packages/eslint-plugin-ibmdotcom-import-rules/package.json
  packages/web-components/src/.eslintrc
  packages/web-components/src/components/masthead/masthead-global-bar.ts
  packages/web-components/src/components/masthead/masthead-logo.ts
  packages/web-components/src/components/masthead/masthead-menu-button.ts
  packages/web-components/src/globals/services-store/store.ts
  packages/web-components/tools/babel-plugin-resource-js-paths.js
Labels: Ready to merge, package: web components

#3891 fix(calloutQuote): remove footer styles
  packages/styles/scss/components/quote/_quote.scss
Labels: Ready to merge, package: react

#3889 chore(issues): adding template for design kit requests
  .github/ISSUE_TEMPLATE/request-access.md
Labels: Ready to merge

#3564 feat(LinkList): Component created
  .stylelintignore
  packages/styles/scss/components/card/index.scss
  packages/styles/scss/components/link-list/_link-list.scss
  packages/styles/scss/components/link-with-icon/_link-with-icon.scss
  packages/web-components/examples/codesandbox/components/link-list/.gitignore
  packages/web-components/examples/codesandbox/components/link-list/index.html
  packages/web-components/examples/codesandbox/components/link-list/package.json
  packages/web-components/examples/codesandbox/components/link-list/sandbox.config.json
  packages/web-components/src/components/card-link/card-link.scss
  packages/web-components/src/components/link-list/__stories__/README.stories.mdx
  packages/web-components/src/components/link-list/__stories__/link-list.stories.ts
  packages/web-components/src/components/link-list/link-list-item-card.ts
  packages/web-components/src/components/link-list/link-list-item.ts
  packages/web-components/src/components/link-list/link-list.scss
  packages/web-components/src/components/link-list/link-list.ts
  packages/web-components/src/components/link-with-icon/link-with-icon.scss
  packages/web-components/src/components/link-with-icon/link-with-icon.ts
  packages/web-components/tests/snapshots/dds-link-with-icon.md
Labels: Ready to merge, package: web components

#3890 fix(Masthead): indicate the active navigation item in Masthead navigation links
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/DotcomShell/__stories__/DotcomShell.stories.js
  packages/react/src/components/Masthead/Masthead.js
  packages/react/src/components/Masthead/MastheadLeftNav.js
  packages/react/src/components/Masthead/MastheadTopNav.js
  packages/react/src/components/Masthead/__stories__/Masthead.stories.js
  packages/react/src/components/carbon-components-react/UIShell/HeaderMenu.js
  packages/react/src/components/carbon-components-react/UIShell/SideNavMenu.js
  packages/react/src/components/carbon-components-react/UIShell/SideNavMenuWithBackForward.js
  packages/styles/scss/components/masthead/_masthead-leftnav.scss
  packages/styles/scss/components/masthead/_masthead.scss
Labels: Ready to merge, feature flag, package: react

#3892 fix(HorizontalRule): change style prop name to type
  packages/react/examples/codesandbox/components/HorizontalRule/src/index.js
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/HorizontalRule/HorizontalRule.js
  packages/react/src/components/HorizontalRule/__stories__/HorizontalRule.stories.js
Labels: Ready to merge, package: react

#3900 fix(masthead-search): fire custom event
  packages/web-components/src/components/masthead/__tests__/masthead-search-composite.test.ts
  packages/web-components/src/components/masthead/masthead-search-composite.ts
  packages/web-components/src/components/masthead/masthead-search.ts
Labels: Ready to merge, package: web components

#3904 chore(package): add exports field
  packages/services/package.json
  packages/utilities/package.json
Labels: Ready to merge, package: services, package: utilities

#3905 chore(percy): suppressing dds-video-player-container in percy
  packages/web-components/.storybook/preview-head.html
Labels: Ready to merge

#3909 fix(Masthead): set selected menu item font weight to semibold
  packages/styles/scss/components/masthead/_masthead-leftnav.scss
Labels: Ready to merge, feature flag, package: react

#3916 fix(card-footer): fix duplicate content
  packages/web-components/src/components/card/card-footer.ts
Labels: Ready to merge, package: web components

#3915 feat(masthead): support for dynamic language switch
  packages/web-components/src/components/dotcom-shell/dotcom-shell-composite.ts
  packages/web-components/src/components/footer/__tests__/footer-container.test.ts
  packages/web-components/src/components/footer/footer-composite.ts
  packages/web-components/src/components/footer/footer-container.ts
  packages/web-components/src/components/locale-modal/__tests__/locale-modal-composite.test.ts
  packages/web-components/src/components/locale-modal/locale-modal-composite.ts
  packages/web-components/src/components/locale-modal/locale-modal-container.ts
  packages/web-components/src/components/masthead/__tests__/masthead-composite.test.ts
  packages/web-components/src/components/masthead/left-nav-menu.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/globals/services-store/actions/__tests__/localeAPI.test.ts
  packages/web-components/src/globals/services-store/actions/localeAPI.ts
  packages/web-components/src/globals/services-store/actions/translateAPI.ts
  packages/web-components/src/globals/services-store/reducers/__tests__/localeAPI.test.ts
  packages/web-components/src/globals/services-store/reducers/localeAPI.ts
  packages/web-components/src/globals/services-store/types/localeAPI.ts
  packages/web-components/tests/snapshots/dds-locale-modal-composite.md
  packages/web-components/tests/snapshots/dds-locale-modal-container.md
Labels: Ready to merge, package: web components

#3918 feat(search): add redirect and typeahead hooks
  packages/react/.env.example
  packages/react/src/components/Masthead/Masthead.js
  packages/react/src/components/Masthead/MastheadSearch.js
  packages/react/src/components/Masthead/README.stories.mdx
  packages/services/.env.example
  packages/services/src/services/SearchTypeahead/SearchTypeahead.js
  packages/services/src/services/SearchTypeahead/__tests__/SearchTypeahead.test.js
  packages/vanilla/.env.example
  packages/web-components/src/globals/services-store/actions/searchAPI.ts
  tasks/jest/env.js
Labels: Ready to merge, package: react

#3920 chore(github): removing design kit issue template
  .github/ISSUE_TEMPLATE/request-access.md
Labels: Ready to merge

#3919 fix(Card): fix icon placement option and styles
  packages/styles/scss/components/card/index.scss
  packages/web-components/src/components/card/__stories__/card.stories.ts
  packages/web-components/src/components/card/card-footer.ts
Labels: Ready to merge

#3921 fix(MastheadLeftNav): when user goes through menu levels, set scrollTop to 0
  packages/react/src/components/carbon-components-react/UIShell/SideNavMenu.js
  packages/react/src/components/carbon-components-react/UIShell/SideNavMenuWithBackForward.js
Labels: Ready to merge, package: react

#3924 feat(link-list): test added
  packages/web-components/src/components/link-list/__tests__/link-list.test.ts
  packages/web-components/tests/snapshots/dds-link-list.md
Labels: Ready to merge

#3931 chore(dependencies): upgrade lit-element
  .yarn/offline-mirror/lit-element-2.3.1.tgz
  .yarn/offline-mirror/lit-element-2.4.0.tgz
  .yarn/offline-mirror/lit-html-1.2.1.tgz
  .yarn/offline-mirror/lit-html-1.3.0.tgz
  packages/web-components/examples/codesandbox/components/button/package.json
  packages/web-components/examples/codesandbox/components/card-link/package.json
  packages/web-components/examples/codesandbox/components/card/package.json
  packages/web-components/examples/codesandbox/components/content-block-simple/package.json
  packages/web-components/examples/codesandbox/components/cta/card/package.json
  packages/web-components/examples/codesandbox/components/cta/feature/package.json
  packages/web-components/examples/codesandbox/components/cta/text/package.json
  packages/web-components/examples/codesandbox/components/dotcom-shell/package.json
  packages/web-components/examples/codesandbox/components/feature-card-block-large/package.json
  packages/web-components/examples/codesandbox/components/feature-card/package.json
  packages/web-components/examples/codesandbox/components/footer/package.json
  packages/web-components/examples/codesandbox/components/horizontal-rule/package.json
  packages/web-components/examples/codesandbox/components/image/package.json
  packages/web-components/examples/codesandbox/components/image/yarn.lock
  packages/web-components/examples/codesandbox/components/lightbox-media-viewer/package.json
  packages/web-components/examples/codesandbox/components/link-list/package.json
  packages/web-components/examples/codesandbox/components/link-with-icon/package.json
  packages/web-components/examples/codesandbox/components/locale-modal/package.json
  packages/web-components/examples/codesandbox/components/masthead-search/package.json
  packages/web-components/examples/codesandbox/components/masthead/package.json
  packages/web-components/examples/codesandbox/components/modal/package.json
  packages/web-components/package.json
  yarn.lock
Labels: Ready to merge, package: web components

#3935 fix(locale-modal): reset upon close
  packages/web-components/src/components/locale-modal/locale-modal.ts
Labels: Ready to merge, package: web components

#3939 fix(masthead-search): no redirect when search input empty
  packages/react/src/components/Masthead/MastheadSearch.js
Labels: Ready to merge, package: react

#3938 chore(devenv): reset left nav on navigation
  packages/web-components/src/components/dotcom-shell/__stories__/dotcom-shell.stories.ts
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
Labels: Ready to merge, package: web components

#3932 fix(masthead-search): no redirect on empty value
  packages/web-components/src/components/masthead/masthead-search.ts
Labels: Ready to merge, package: web components

#3933 fix(masthead-search): activate/deactivate on focus/blur
  packages/web-components/src/components/masthead/__tests__/masthead-search.test.ts
  packages/web-components/src/components/masthead/masthead-search.ts
Labels: Ready to merge, package: web components

#3944 feat(promo-banner): introducing new pattern (behind feature flag)
  packages/react/.env.example
  packages/react/src/components/PromoBanner/PromoBanner.js
  packages/react/src/components/PromoBanner/README.stories.mdx
  packages/react/src/components/PromoBanner/__stories__/PromoBanner.stories.js
  packages/react/src/components/PromoBanner/index.js
  packages/react/src/internal/FeatureFlags.js
  packages/styles/scss/components/promo-banner/index.scss
  packages/styles/scss/components/promo-banner/promo-banner.scss
  packages/styles/scss/ibm-dotcom-styles.scss
Labels: Ready to merge, feature flag

#3945 docs(contributing): adding documentation specific to React contributions
  .github/CONTRIBUTING.md
  docs/contributing-license.md
  docs/cors-proxy.md
  docs/developing.md
  docs/submission-guidelines.md
  packages/react/.storybook/_container.scss
  packages/react/.storybook/config.js
  packages/react/docs/a11y-compliance-tests.md
  packages/react/docs/contributing-to-react.md
  packages/react/docs/contributing-to-react.stories.mdx
Labels: Ready to merge

#3960 fix(masthead): remove hide L0 logic
  packages/react/src/components/Masthead/Masthead.js
Labels: Ready to merge, package: react

#3956 fix(left-nav): set the list of nav items
  .yarn/offline-mirror/carbon-web-components-1.5.0.tgz
  .yarn/offline-mirror/carbon-web-components-1.6.1.tgz
  package.json
  packages/web-components/package.json
  packages/web-components/src/components/masthead/left-nav.ts
  yarn.lock
Labels: Ready to merge, package: web components

#3936 fix(masthead): cope with missing MediaQueryList.addEventListener
  packages/web-components/src/components/footer/__tests__/footer-nav-group.test.ts
  packages/web-components/src/components/footer/footer-nav-group.ts
  packages/web-components/src/components/masthead/masthead-global-bar.ts
  packages/web-components/src/components/masthead/masthead-logo.ts
  packages/web-components/src/components/masthead/masthead-menu-button.ts
  packages/web-components/src/components/masthead/masthead.scss
Labels: Ready to merge, package: web components

#3955 fix(masthead-container): profile menu items from translate API
  packages/services/src/services/Translation/Translation.js
  packages/web-components/examples/codesandbox/components/dotcom-shell/src/index.js
  packages/web-components/examples/codesandbox/components/dotcom-shell/src/profile-items.ts
  packages/web-components/examples/codesandbox/components/masthead/src/index.js
  packages/web-components/examples/codesandbox/components/masthead/src/profile-items.ts
  packages/web-components/src/components/dotcom-shell/__stories__/dotcom-shell.stories.ts
  packages/web-components/src/components/dotcom-shell/dotcom-shell-composite.ts
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
  packages/web-components/src/components/masthead/__stories__/profile-items.ts
  packages/web-components/src/components/masthead/__tests__/masthead-composite.test.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/masthead-container.ts
  packages/web-components/src/globals/services-store/types/translateAPI.ts
  packages/web-components/tests/snapshots/dds-link-list.md
  packages/web-components/tests/snapshots/dds-masthead-composite.md
Labels: Ready to merge, package: services, package: web components

#3969 chore(devenv): migrate expressive stories to CSF
  packages/styles/src/carbon-stories/Accordion/Accordion-story.js
  packages/styles/src/carbon-stories/Breadcrumb/Breadcrumb-story.js
  packages/styles/src/carbon-stories/Button/Button-story.js
  packages/styles/src/carbon-stories/Checkbox/Checkbox-story.js
  packages/styles/src/carbon-stories/CodeSnippet/CodeSnippet-story.js
  packages/styles/src/carbon-stories/ComboBox/ComboBox-story.js
  packages/styles/src/carbon-stories/ComposedModal/ComposedModal-story.js
  packages/styles/src/carbon-stories/ContentSwitcher/ContentSwitcher-story.js
  packages/styles/src/carbon-stories/CopyButton/CopyButton-story.js
  packages/styles/src/carbon-stories/DataTable/DataTable-story.js
  packages/styles/src/carbon-stories/DataTableSkeleton/DataTableSkeleton-story.js
  packages/styles/src/carbon-stories/DatePicker/DatePicker-story.js
  packages/styles/src/carbon-stories/Dropdown/Dropdown-story.js
  packages/styles/src/carbon-stories/FileUploader/FileUploader-story.js
  packages/styles/src/carbon-stories/Form/Form-story.js
  packages/styles/src/carbon-stories/FormItem/FormItem-story.js
  packages/styles/src/carbon-stories/FormLabel/FormLabel-story.js
  packages/styles/src/carbon-stories/Icon/Icon-story.js
  packages/styles/src/carbon-stories/InlineLoading/InlineLoading-story.js
  packages/styles/src/carbon-stories/Link/Link-story.js
  packages/styles/src/carbon-stories/Loading/Loading-story.js
  packages/styles/src/carbon-stories/Modal/Modal-story.js
  packages/styles/src/carbon-stories/ModalWrapper/ModalWrapper-story.js
  packages/styles/src/carbon-stories/MultiSelect/MultiSelect-story.js
  packages/styles/src/carbon-stories/Notification/Notification-story.js
  packages/styles/src/carbon-stories/NumberInput/NumberInput-story.js
  packages/styles/src/carbon-stories/OrderedList/OrderedList-story.js
  packages/styles/src/carbon-stories/OverflowMenu/OverflowMenu-story.js
  packages/styles/src/carbon-stories/Pagination/Pagination-story.js
  packages/styles/src/carbon-stories/ProgressIndicator/ProgressIndicator-story.js
  packages/styles/src/carbon-stories/RadioButton/RadioButton-story.js
  packages/styles/src/carbon-stories/RadioButtonGroup/RadioButtonGroup-story.js
  packages/styles/src/carbon-stories/Search/Search-story.js
  packages/styles/src/carbon-stories/Select/Select-story.js
  packages/styles/src/carbon-stories/SkeletonPlaceholder/SkeletonPlaceholder-story.js
  packages/styles/src/carbon-stories/SkeletonText/SkeletonText-story.js
  packages/styles/src/carbon-stories/Slider/Slider-story.js
  packages/styles/src/carbon-stories/StructuredList/StructuredList-story.js
  packages/styles/src/carbon-stories/Tabs/Tabs-story.js
  packages/styles/src/carbon-stories/Tag/Tag-story.js
  packages/styles/src/carbon-stories/TextArea/Textarea-story.js
  packages/styles/src/carbon-stories/TextInput/TextInput-story.js
  packages/styles/src/carbon-stories/Tile/Tile-story.js
  packages/styles/src/carbon-stories/TimePicker/TimePicker-story.js
  packages/styles/src/carbon-stories/Toggle/Toggle-story.js
  packages/styles/src/carbon-stories/ToggleSmall/ToggleSmall-story.js
  packages/styles/src/carbon-stories/Tooltip/Tooltip-story.js
  packages/styles/src/carbon-stories/TooltipDefinition/TooltipDefinition-story.js
  packages/styles/src/carbon-stories/TooltipIcon/TooltipIcon-story.js
  packages/styles/src/carbon-stories/UIShell/UIShell-story.js
  packages/styles/src/carbon-stories/UnorderedList/UnorderedList-story.js
Labels: Ready to merge, package: styles

#3970 chore(tableofcontents): drift away from BEM concatenation
  packages/styles/scss/components/tableofcontents/_tableofcontents.scss
Labels: Ready to merge, package: styles

#3972 chore(content-group): drift away from BEM concatenation
  packages/styles/scss/components/content-group-cards/_content-group-cards.scss
  packages/styles/scss/components/content-group-pictograms/_content-group-pictograms.scss
Labels: Ready to merge, package: styles

#3974 chore(ctasection): drift away from BEM concatenation
  packages/styles/scss/components/ctasection/_ctasection.scss
Labels: Ready to merge, package: styles

#3971 chore(callout): drift away from BEM concatenation
  packages/styles/scss/components/callout-data/_callout-data.scss
  packages/styles/scss/components/callout-with-media/_callout-with-media.scss
Labels: Ready to merge, package: styles

#3973 chore(content-block): drift away from BEM concatenation
  packages/styles/scss/components/content-block-cards/_content-block-cards.scss
  packages/styles/scss/components/content-block-headlines/_content-block-headlines.scss
Labels: Ready to merge, package: styles

#3975 chore(masthead): drift away from BEM concatenation
  packages/styles/scss/components/masthead/_masthead-l1.scss
  packages/styles/scss/components/masthead/_masthead-leftnav.scss
  packages/styles/scss/components/masthead/_masthead-search.scss
  packages/styles/scss/components/masthead/_masthead.scss
Labels: Ready to merge, package: styles

#3976 chore(image-with-caption): drift away from BEM concatenation
  packages/styles/scss/components/image-with-caption/image-with-caption.scss
Labels: Ready to merge, package: styles

#3978 chore(logo-grid): drift away from BEM concatenation
  packages/styles/scss/components/logo-grid/_logo-grid.scss
Labels: Ready to merge, package: styles

#3981 chore(quote): drift away from BEM concatenation
  packages/styles/scss/components/quote/_quote.scss
Labels: Ready to merge, package: styles

#3983 feat(callout): web-component created
  packages/styles/scss/internal/callout/_callout.scss
  packages/web-components/src/components/callout/__tests__/callout.test.ts
  packages/web-components/src/components/callout/callout.scss
  packages/web-components/src/components/callout/callout.ts
  packages/web-components/tests/snapshots/dds-callout.md
Labels: Ready to merge, package: web components

#3979 chore(promo-banner): drift away from BEM concatenation
  packages/styles/scss/components/promo-banner/promo-banner.scss
Labels: Ready to merge, feature flag

#3963 feat(CardGroup): new web component
  packages/styles/scss/components/card-group/_card-group.scss
  packages/styles/scss/components/card/index.scss
  packages/web-components/examples/codesandbox/components/card-group/.babelrc
  packages/web-components/examples/codesandbox/components/card-group/.gitignore
  packages/web-components/examples/codesandbox/components/card-group/index.html
  packages/web-components/examples/codesandbox/components/card-group/package.json
  packages/web-components/examples/codesandbox/components/card-group/sandbox.config.json
  packages/web-components/examples/codesandbox/components/card-group/src/index.js
  packages/web-components/src/components/card-group/__stories__/README.stories.mdx
  packages/web-components/src/components/card-group/__stories__/card-group.stories.scss
  packages/web-components/src/components/card-group/__stories__/card-group.stories.ts
  packages/web-components/src/components/card-group/card-group-item.ts
  packages/web-components/src/components/card-group/card-group.scss
  packages/web-components/src/components/card-group/card-group.ts
Labels: Ready to merge

#3994 fix(FeatureCardBlockLarge): missing imports
  packages/web-components/examples/codesandbox/components/feature-card/index.html
  packages/web-components/src/components/feature-card-block-large/feature-card-block-large.ts
  packages/web-components/src/components/feature-card/__stories__/feature-card.stories.ts
  packages/web-components/src/components/feature-card/feature-card.ts
Labels: Ready to merge

#3997 fix(masthead-search): define placeholder
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/masthead-search-composite.ts
  packages/web-components/src/components/masthead/masthead-search.ts
Labels: Ready to merge, package: web components

#3996 fix(left-nav): change element order
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/masthead-menu-button.ts
Labels: Ready to merge, package: web components

#4002 fix(Masthead): nav dropdowns should allow body scroll
  packages/react/src/components/Masthead/MastheadTopNav.js
  packages/react/src/components/carbon-components-react/UIShell/HeaderMenu.js
Labels: Ready to merge, feature flag, package: react

#4019 docs(examples): lock browserlist version
  packages/react/examples/codesandbox/components/DotcomShell/package.json
  packages/react/examples/codesandbox/components/Footer/package.json
  packages/react/examples/codesandbox/components/Masthead/package.json
Labels: package: react

#3977 chore(leadspace): drift away from BEM concatenation
  packages/styles/scss/components/leadspace-block/_leadspace-block.scss
  packages/styles/scss/components/leadspace/_leadspace.scss
Labels: Ready to merge

#3998 fix(locale-modal): add missing text for unvailable locale
  packages/web-components/src/components/locale-modal/locale-modal-composite.ts
  packages/web-components/src/components/locale-modal/locale-modal.ts
  packages/web-components/src/components/locale-modal/locale-search.ts
  packages/web-components/tests/snapshots/dds-locale-modal-composite.md
Labels: Ready to merge, package: web components

#3937 chore(devenv): introduce skip-to-content link
  .yarn/offline-mirror/carbon-web-components-1.7.0.tgz
  package.json
  packages/web-components/.storybook/config.ts
  packages/web-components/package.json
  yarn.lock
Labels: Ready to merge, package: web components

#3992 fix(content-block): border not displaying properly
  packages/styles/scss/components/layout/_layout.scss
Labels: Ready to merge, package: react

#4021 feat(MegaMenu): layout iteration in breakpoint between 800 - 1055px
  packages/styles/scss/components/masthead/_masthead-leftnav.scss
  packages/styles/scss/components/masthead/_masthead-megamenu.scss
  packages/styles/scss/components/masthead/_masthead.scss
Labels: Ready to merge, feature flag, package: react

#4018 feat(card-group): add border to touching cards
  packages/styles/scss/components/card-group/_card-group.scss
Labels: Ready to merge

#4017 fix(footer): fixing the default footer type definition
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/DotcomShell/__stories__/DotcomShell.stories.js
  packages/react/src/components/Footer/Footer.js
Labels: Ready to merge

#3995 feat(button-group): web component created
  packages/styles/scss/components/buttongroup/_buttongroup.scss
  packages/web-components/examples/codesandbox/components/button-group/.babelrc
  packages/web-components/examples/codesandbox/components/button-group/.gitignore
  packages/web-components/examples/codesandbox/components/button-group/index.html
  packages/web-components/examples/codesandbox/components/button-group/package.json
  packages/web-components/examples/codesandbox/components/button-group/sandbox.config.json
  packages/web-components/examples/codesandbox/components/button-group/src/index.js
  packages/web-components/src/components/button-group/__stories__/README.stories.mdx
  packages/web-components/src/components/button-group/__stories__/button-group.stories.ts
  packages/web-components/src/components/button-group/__tests__/button-group.test.ts
  packages/web-components/src/components/button-group/button-group-item.ts
  packages/web-components/src/components/button-group/button-group.scss
  packages/web-components/src/components/button-group/button-group.ts
  packages/web-components/tests/snapshots/dds-button-group.md
Labels: Ready to merge, package: web components

#4022 feat(featurecardblockmedium) introducing feature-card-block-medium
  .yarn/offline-mirror/carbon-web-components-1.6.1.tgz
  packages/styles/scss/components/feature-card-block-medium/_feature-card-block-medium.scss
  packages/styles/scss/components/feature-card/_feature-card.scss
  packages/web-components/src/components/feature-card-block-medium/__stories__/README.stories.mdx
  packages/web-components/src/components/feature-card-block-medium/__stories__/feature-card-block-medium.stories.scss
  packages/web-components/src/components/feature-card-block-medium/__stories__/feature-card-block-medium.stories.ts
  packages/web-components/src/components/feature-card-block-medium/__tests__/feature-card-block-medium.test.ts
  packages/web-components/src/components/feature-card-block-medium/feature-card-block-medium-card.ts
  packages/web-components/src/components/feature-card-block-medium/feature-card-block-medium.scss
  packages/web-components/src/components/feature-card-block-medium/feature-card-block-medium.ts
  packages/web-components/tests/snapshots/dds-feature-card-block-medium.md
Labels: Ready to merge, package: web components

#4036 feat(videoplayer): add closed captions
  packages/services/src/services/VideoPlayer/VideoPlayer.js
Labels: Ready to merge, package: services

#4041 fix(styles): adjusting carbon-components-react to dev dependency
  packages/styles/package.json
Labels: Ready to merge

#4040 feat(corsproxy): removal of CORS_PROXY
  .github/workflows/deploy-canary.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/percy-update-base.yml
  docs/cors-proxy.md
  packages/react/.env.example
  packages/react/.storybook/webpack.config.js
  packages/react/docs/environment-variables.md
  packages/react/examples/codesandbox/components/DotcomShell/.env.example
  packages/react/examples/codesandbox/components/Footer/.env.example
  packages/react/examples/codesandbox/components/Masthead/.env.example
  packages/react/src/components/DotcomShell/README.stories.mdx
  packages/react/src/components/Footer/README.stories.mdx
  packages/react/src/components/LocaleModal/README.stories.mdx
  packages/react/src/components/Masthead/README.stories.mdx
  packages/react/tests/karma-accessibility-checker.conf.js
  packages/services/.env.example
  packages/services/src/services/Locale/Locale.js
  packages/services/src/services/Locale/__tests__/Locale.test.js
  packages/services/src/services/Translation/Translation.js
  packages/services/src/services/Translation/__tests__/Translation.test.js
  packages/vanilla/.env.example
  packages/vanilla/.storybook/webpack.config.js
  packages/vanilla/examples/codesandbox/components/dotcomshell/.env.example
  packages/vanilla/examples/codesandbox/components/footer/.env.example
  packages/vanilla/examples/codesandbox/components/masthead/.env.example
  packages/vanilla/src/components/dotcomshell/README.md
  packages/vanilla/src/components/footer/README.md
  packages/vanilla/src/components/masthead/README.md
  packages/vanilla/tests/integration/build/dotcomshell_steps.js
  packages/vanilla/tests/integration/build/footer_steps.js
  packages/vanilla/tests/integration/build/masthead_steps.js
  packages/web-components/.storybook/webpack.config.js
  packages/web-components/examples/codesandbox/components/dotcom-shell/snowpack.config.json
  packages/web-components/examples/codesandbox/components/dotcom-shell/src/index.js
  packages/web-components/examples/codesandbox/components/dotcom-shell/src/links.js
  packages/web-components/examples/codesandbox/components/dotcom-shell/src/profile-items.ts
  packages/web-components/examples/codesandbox/components/masthead/src/index.js
  packages/web-components/examples/codesandbox/components/masthead/src/links.js
  packages/web-components/examples/codesandbox/components/masthead/src/profile-items.ts
  packages/web-components/src/components/dotcom-shell/__stories__/README.stories.mdx
  packages/web-components/src/components/dotcom-shell/__stories__/dotcom-shell.stories.ts
  packages/web-components/src/components/footer/__stories__/README.stories.mdx
  packages/web-components/src/components/footer/__stories__/footer.stories.ts
  packages/web-components/src/components/locale-modal/__stories__/README.stories.mdx
  packages/web-components/src/components/locale-modal/__stories__/locale-modal.stories.ts
  packages/web-components/src/components/masthead/__stories__/README.stories.mdx
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
  tasks/jest/env.js
Labels: Ready to merge

#4042 fix(components): disable delegatesFocus in Safari
  packages/web-components/src/components/card/card.ts
  packages/web-components/src/components/footer/footer-logo.ts
  packages/web-components/src/components/footer/locale-button.ts
  packages/web-components/src/components/icon/icon.ts
  packages/web-components/src/components/masthead/masthead-logo.ts
  packages/web-components/src/components/masthead/masthead-profile.ts
  packages/web-components/src/components/video-player/video-player.ts
Labels: Ready to merge, package: web components

#4025 fix(leadspace): buttons now display properly at 672px breakpoint
  packages/styles/scss/components/leadspace/_leadspace.scss
Labels: Ready to merge

#4035 fix(styles): locale modal accessibility styles
  packages/react/src/components/LocaleModal/LocaleModal.js
  packages/styles/scss/components/locale-modal/_locale-modal.scss
  packages/web-components/src/components/locale-modal/__stories__/locale-data.json
  packages/web-components/src/components/locale-modal/locale-modal.scss
  packages/web-components/src/components/locale-modal/locale-modal.ts
  packages/web-components/src/components/locale-modal/locale-search.ts
  packages/web-components/tests/snapshots/dds-locale-modal-composite.md
  packages/web-components/tests/snapshots/dds-locale-search.md
Labels: Ready to merge, package: react, package: styles

#4059 chore(components): use internalProperty decorator
  packages/web-components/docs/coding-conventions.md
  packages/web-components/src/components/card/card-footer.ts
  packages/web-components/src/components/card/card.ts
  packages/web-components/src/components/footer/footer-nav-group.ts
  packages/web-components/src/components/image/image.ts
  packages/web-components/src/components/locale-modal/locale-modal.ts
  packages/web-components/src/components/modal/modal.ts
Labels: Ready to merge, package: web components

#4068 fix(LeadSpace): simplify leadspace styles and remove BEM concatenation for web component creation
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/LeadSpace/LeadSpace.js
  packages/styles/scss/components/leadspace/_leadspace.scss
Labels: Ready to merge, package: react

#4046 fix(masthead): fix breakpoint
  packages/web-components/src/components/masthead/masthead.scss
Labels: Ready to merge, package: web components

#4075 fix(css): update hidden styles for locale countries
  packages/styles/scss/components/locale-modal/_locale-modal.scss
Labels: Ready to merge

#4077 fix(button-group): fixed icon padding
  packages/styles/scss/components/buttongroup/_buttongroup.scss
Labels: Ready to merge

#4047 feat(quote): web-component created
  packages/styles/scss/components/horizontalrule/_horizontalrule.scss
  packages/styles/scss/components/quote/_quote.scss
  packages/web-components/examples/codesandbox/components/quote/.babelrc
  packages/web-components/examples/codesandbox/components/quote/.gitignore
  packages/web-components/examples/codesandbox/components/quote/index.html
  packages/web-components/examples/codesandbox/components/quote/package.json
  packages/web-components/examples/codesandbox/components/quote/sandbox.config.json
  packages/web-components/examples/codesandbox/components/quote/src/index.js
  packages/web-components/examples/codesandbox/components/quote/yarn.lock
  packages/web-components/src/components/quote/__stories__/README.stories.mdx
  packages/web-components/src/components/quote/__stories__/quote.stories.ts
  packages/web-components/src/components/quote/__tests__/quote.test.ts
  packages/web-components/src/components/quote/quote.scss
  packages/web-components/src/components/quote/quote.ts
  packages/web-components/tests/snapshots/dds-quote.md
Labels: Ready to merge, package: web components
