Repository carbon-design-system/carbon-for-ibm-dotcom, pull requests merged in 2020-06, with the labels that each got.

#2583 chore(devenv): decouple knobs from story code
  .eslintrc
  packages/react/.storybook/config.js
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/ButtonGroup/__stories__/ButtonGroup.stories.js
  packages/react/src/components/CTA/__stories__/CTA.stories.js
  packages/react/src/components/Callout/__stories__/Callout.stories.js
  packages/react/src/components/Card/__stories__/Card.stories.js
  packages/react/src/components/CardGroup/__stories__/CardGroup.stories.js
  packages/react/src/components/CardLink/__stories__/CardLink.stories.js
  packages/react/src/components/ContentItemHorizontal/__stories__/ContentItemHorizontal.stories.js
  packages/react/src/components/DotcomShell/__stories__/DotcomShell.stories.js
  packages/react/src/components/ExpressiveModal/__stories__/ExpressiveModal.stories.js
  packages/react/src/components/FeatureCard/__stories__/FeatureCard.stories.js
  packages/react/src/components/Footer/__stories__/Footer.stories.js
  packages/react/src/components/HorizontalRule/__stories__/HorizontalRule.stories.js
  packages/react/src/components/Image/__stories__/Image.stories.js
  packages/react/src/components/ImageWithCaption/__stories__/ImageWithCaption.stories.js
  packages/react/src/components/Layout/__stories__/Layout.stories.js
  packages/react/src/components/LightboxMediaViewer/__stories__/LightboxMediaViewer.stories.js
  packages/react/src/components/LinkList/__stories__/LinkList.stories.js
  packages/react/src/components/LinkWithIcon/__stories__/LinkWithIcon.stories.js
  packages/react/src/components/LocaleModal/__stories__/LocaleModal.stories.js
  packages/react/src/components/Masthead/__stories__/Masthead.stories.js
  packages/react/src/components/PictogramItem/__stories__/PictogramItem.stories.js
  packages/react/src/components/Quote/__stories__/Quote.stories.js
  packages/react/src/components/TableOfContents/__stories__/TableOfContents.stories.js
  packages/react/src/components/VideoPlayer/__stories__/VideoPlayer.stories.js
  packages/react/src/patterns/blocks/CalloutQuote/__stories__/CalloutQuote.stories.js
  packages/react/src/patterns/blocks/CalloutWithMedia/__stories__/CalloutWithMedia.stories.js
  packages/react/src/patterns/blocks/ContentBlockCards/__stories__/ContentBlockCards.stories.js
  packages/react/src/patterns/blocks/ContentBlockMedia/__stories__/ContentBlockMedia.stories.js
  packages/react/src/patterns/blocks/ContentBlockMixed/__stories__/ContentBlockMixed.stories.js
  packages/react/src/patterns/blocks/ContentBlockSegmented/__stories__/ContentBlockSegmented.stories.js
  packages/react/src/patterns/blocks/ContentBlockSimple/__stories__/ContentBlockSimple.stories.js
  packages/react/src/patterns/blocks/ContentGroupCards/__stories__/ContentGroupCards.stories.js
  packages/react/src/patterns/blocks/ContentGroupHorizontal/__stories__/ContentGroupHorizontal.stories.js
  packages/react/src/patterns/blocks/ContentGroupPictograms/__stories__/ContentGroupPictograms.stories.js
  packages/react/src/patterns/blocks/ContentGroupSimple/__stories__/ContentGroupSimple.stories.js
  packages/react/src/patterns/blocks/FeatureCardBlockLarge/__stories__/FeatureCardBlockLarge.stories.js
  packages/react/src/patterns/blocks/FeatureCardBlockMedium/__stories__/FeatureCardBlockMedium.stories.js
  packages/react/src/patterns/blocks/LeadSpaceBlock/__stories__/LeadSpaceBlock.stories.js
  packages/react/src/patterns/blocks/LogoGrid/__stories__/LogoGrid.stories.js
  packages/react/src/patterns/sections/CTASection/__stories__/CTASection.stories.js
  packages/react/src/patterns/sections/CardSectionImages/__stories__/CardSectionImages.stories.js
  packages/react/src/patterns/sections/CardSectionSimple/__stories__/CardSectionSimple.stories.js
  packages/react/src/patterns/sections/LeadSpace/__stories__/LeadSpace.stories.js
  packages/react/src/patterns/sections/SimpleBenefits/__stories__/SimpleBenefits.stories.js
  packages/react/src/patterns/sections/SimpleOverview/__stories__/SimpleOverview.stories.js
Labels: package: react

#2598 style(pattern): fix feature-card-block-large styles
  packages/styles/scss/patterns/blocks/feature-card-block-large/_feature-card-block-large.scss
Labels: package: react

#2625 fix(component): feature card orientation change at medium breakpoints
  packages/styles/scss/patterns/blocks/feature-card-block-large/_feature-card-block-large.scss
Labels: package: react

#2622 fix(pattern): icon size in FeatureCardBlockLarge corrected
  packages/styles/scss/patterns/blocks/feature-card-block-large/_feature-card-block-large.scss
Labels: package: react

#2629 fix(Image): fix invalid aria-describedby
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/Image/Image.js
Labels: package: react

#2628 fix(useVideoData): fix a call in TDZ
  packages/react/src/internal/hooks/useVideoData/useVideoData.js
Labels: package: react

#2580 fix(pattern): feature-card border style fixed on focus
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/FeatureCard/__stories__/FeatureCard.stories.js
  packages/styles/scss/components/feature-card/_feature-card.scss
Labels: package: react

#2635 chore(percy): removing percy false positives in footer
  packages/react/.storybook/preview-head.html
Labels: package: react

#2601 fix(pattern): CTA and button default - no icon
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/ButtonGroup/__stories__/ButtonGroup.stories.js
  packages/react/src/components/CTA/ButtonCTA.js
  packages/react/src/components/CTA/CTA.js
  packages/react/src/components/CTA/CTALogic.js
  packages/react/src/components/CTA/CardCTA.js
  packages/react/src/components/CTA/FeatureCTA.js
  packages/react/src/components/CTA/TextCTA.js
  packages/react/src/components/CTA/__stories__/CTA.stories.js
  packages/react/src/patterns/sections/CTASection/CTASection.js
  packages/react/src/patterns/sections/CTASection/__stories__/CTASection.stories.js
Labels: package: react

#2633 fix(corsproxy): removing cors proxy on production environments
  packages/react/.env.example
  packages/react/examples/create-react-app/.env.example
  packages/react/src/components/DotcomShell/README.stories.mdx
  packages/react/src/components/Footer/README.stories.mdx
  packages/react/src/components/LocaleModal/README.stories.mdx
  packages/react/src/components/Masthead/README.stories.mdx
  packages/services/babel.config.js
  packages/services/src/services/Locale/Locale.js
  packages/services/src/services/Locale/__tests__/Locale.test.js
  packages/services/src/services/Translation/Translation.js
  packages/services/src/services/Translation/__tests__/Translation.test.js
  tasks/jest/env.js
Labels: package: react, package: services

#2634 fix(acessibility): jaws cannot read `LinksList`
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/CTA/CTA.js
  packages/react/src/components/CTA/CTALogic.js
Labels: package: react

#2631 fix(pattern): table-of-contents aside child now gets scrolled
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/TableOfContents/TOCDesktop.js
  packages/react/src/components/TableOfContents/TableOfContents.js
  packages/styles/scss/components/tableofcontents/_tableofcontents.scss
Labels: package: react

#2626 feat(pattern): adding disable option for cardlink
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/CardLink/CardLink.js
  packages/react/src/components/CardLink/README.stories.mdx
  packages/react/src/components/CardLink/__stories__/CardLink.stories.js
  packages/styles/scss/components/card-link/_card-link.scss
  packages/styles/scss/ibm-dotcom-styles.scss
Labels: package: react

#2640 fix(pattern): updated section detection on table-of-contents
  packages/react/src/components/TableOfContents/TableOfContents.js
Labels: package: react

#2641 fix(buttongroup): button text wrap
  packages/styles/scss/components/buttongroup/_buttongroup.scss
  packages/styles/scss/patterns/blocks/leadspace-block/_leadspace-block.scss
Labels: package: react

#2646 docs(storybook): adding build for IBM.com documentation
  docs/contributing-license.md
  packages/react/.storybook/config.js
  packages/react/docs/building-for-ibm-dotcom.stories.mdx
  packages/react/src/components/ButtonGroup/README.stories.mdx
  packages/react/src/components/CTA/README.stories.mdx
  packages/react/src/components/Callout/README.stories.mdx
  packages/react/src/components/Card/README.stories.mdx
  packages/react/src/components/CardGroup/README.stories.mdx
  packages/react/src/components/CardLink/README.stories.mdx
  packages/react/src/components/ContentItemHorizontal/README.stories.mdx
  packages/react/src/components/DotcomShell/README.stories.mdx
  packages/react/src/components/ExpressiveModal/README.stories.mdx
  packages/react/src/components/FeatureCard/README.stories.mdx
  packages/react/src/components/Footer/README.stories.mdx
  packages/react/src/components/HorizontalRule/README.stories.mdx
  packages/react/src/components/Image/README.stories.mdx
  packages/react/src/components/ImageWithCaption/README.stories.mdx
  packages/react/src/components/Layout/README.stories.mdx
  packages/react/src/components/LightboxMediaViewer/README.stories.mdx
  packages/react/src/components/LinkList/README.stories.mdx
  packages/react/src/components/LinkWithIcon/README.stories.mdx
  packages/react/src/components/LocaleModal/README.stories.mdx
  packages/react/src/components/Masthead/README.stories.mdx
  packages/react/src/components/PictogramItem/README.stories.mdx
  packages/react/src/components/Quote/README.stories.mdx
  packages/react/src/components/TableOfContents/README.stories.mdx
  packages/react/src/components/VideoPlayer/README.stories.mdx
  packages/react/src/internal/components/ContentGroup/README.stories.mdx
  packages/react/src/internal/components/ContentItem/README.stories.mdx
  packages/react/src/patterns/blocks/CalloutQuote/README.stories.mdx
  packages/react/src/patterns/blocks/CalloutWithMedia/README.stories.mdx
  packages/react/src/patterns/blocks/ContentBlockCards/README.stories.mdx
  packages/react/src/patterns/blocks/ContentBlockMedia/README.stories.mdx
  packages/react/src/patterns/blocks/ContentBlockMixed/README.stories.mdx
  packages/react/src/patterns/blocks/ContentBlockSegmented/README.stories.mdx
  packages/react/src/patterns/blocks/ContentBlockSimple/README.stories.mdx
  packages/react/src/patterns/blocks/ContentGroupCards/README.stories.mdx
  packages/react/src/patterns/blocks/ContentGroupHorizontal/README.stories.mdx
  packages/react/src/patterns/blocks/ContentGroupPictograms/README.stories.mdx
  packages/react/src/patterns/blocks/ContentGroupSimple/README.stories.mdx
  packages/react/src/patterns/blocks/FeatureCardBlockLarge/README.stories.mdx
  packages/react/src/patterns/blocks/FeatureCardBlockMedium/README.stories.mdx
  packages/react/src/patterns/blocks/LeadSpaceBlock/README.stories.mdx
  packages/react/src/patterns/blocks/LogoGrid/README.stories.mdx
  packages/react/src/patterns/sections/CTASection/README.stories.mdx
  packages/react/src/patterns/sections/CardSectionImages/README.stories.mdx
  packages/react/src/patterns/sections/CardSectionSimple/README.stories.mdx
  packages/react/src/patterns/sections/LeadSpace/README.stories.mdx
  packages/react/src/patterns/sections/SimpleBenefits/README.stories.mdx
  packages/react/src/patterns/sections/SimpleOverview/README.stories.mdx
Labels: package: react

#2651 chore(scss): reverted table-of-contents side nav vertical positioning;
  packages/styles/scss/components/tableofcontents/_tableofcontents.scss
Labels: package: react

#2620 feat(patterns): adding optional copy for ContentGroup patterns
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/internal/components/ContentGroup/ContentGroup.js
  packages/react/src/internal/components/ContentGroup/README.stories.mdx
  packages/react/src/patterns/blocks/ContentGroupCards/ContentGroupCards.js
  packages/react/src/patterns/blocks/ContentGroupCards/README.stories.mdx
  packages/react/src/patterns/blocks/ContentGroupCards/__stories__/ContentGroupCards.stories.js
  packages/react/src/patterns/blocks/ContentGroupCards/__stories__/data/ContentGroupCards.knobs.js
  packages/react/src/patterns/blocks/ContentGroupPictograms/ContentGroupPictograms.js
  packages/react/src/patterns/blocks/ContentGroupPictograms/README.stories.mdx
  packages/react/src/patterns/blocks/ContentGroupPictograms/__stories__/ContentGroupPictograms.stories.js
  packages/react/src/patterns/blocks/ContentGroupSimple/ContentGroupSimple.js
  packages/react/src/patterns/blocks/ContentGroupSimple/README.stories.mdx
  packages/react/src/patterns/blocks/ContentGroupSimple/__stories__/ContentGroupSimple.stories.js
  packages/react/src/patterns/blocks/ContentGroupSimple/__stories__/data/ContentGroupSimple.knobs.js
  packages/styles/scss/internal/content-group/_content-group.scss
  packages/styles/scss/patterns/blocks/content-group-pictograms/_content-group-pictograms.scss
  packages/styles/scss/patterns/blocks/content-group-simple/_content-group-simple.scss
Labels: package: react

#2654 chore(rtl): fixing rtl attribute for dev environments
  packages/react/.storybook/Container.js
Labels: RTL, package: react

#2659 fix(accessibility): lifting up role=region from anchor tag in CardLink
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/CardLink/CardLink.js
Labels: package: react

#2655 fix(services): fix uncaught rejections
  packages/services/src/services/DDO/DDO.js
  packages/services/src/services/DDO/__tests__/DDO.test.js
  packages/services/src/services/global/__tests__/global.test.js
  packages/services/src/services/global/global.js
  packages/vanilla/src/components/footer/footer.js
  packages/vanilla/src/components/masthead/masthead.js
Labels: package: services, package: vanilla

#2650 fix(leadspace-block-caption): fixes image with caption font and spacing
  packages/styles/scss/components/image-with-caption/image-with-caption.scss
Labels: package: react

#2660 style(component): `overflow: hidden` removed from LinksList selector
  packages/styles/scss/components/link-list/_link-list.scss
Labels: package: react

#2677 fix(decodeString): updated decode-string to work on server-side rendering
  packages/utilities/src/utilities/decodeString/decodeString.js
Labels: package: utilities

#2691 fix(CTA): disable thumbnail image when using video card in linklist
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/CTA/CardCTA.js
  packages/react/src/components/LinkList/LinkList.js
  packages/styles/scss/components/link-list/_link-list.scss
Labels: package: react

#2694 fix(quote): decode-string util called on effect
  packages/react/src/components/Quote/Quote.js
Labels: package: react

#2490 fix(ButtonGroup): adding sameWidth utility to the pattern
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/ButtonGroup/ButtonGroup.js
  packages/styles/scss/components/buttongroup/_buttongroup.scss
Labels: package: react

#2698 fix(table-of-contents): added max-width for select text on mobile view
  packages/styles/scss/components/tableofcontents/_tableofcontents.scss
Labels: package: react

#2562 fix(ContentGroupHorizontal): adding horizontal rule at the end
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/internal/components/ContentBlock/ContentBlock.js
  packages/react/src/patterns/blocks/ContentGroupHorizontal/ContentGroupHorizontal.js
  packages/react/src/patterns/blocks/ContentGroupHorizontal/README.stories.mdx
  packages/styles/scss/internal/content-block/_content-block.scss
  packages/styles/scss/patterns/blocks/content-group-horizontal/_content-group-horizontal.scss
Labels: package: react

#2719 fix(FeatCardBlockLarge): corrected grid alignment
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/patterns/blocks/FeatureCardBlockLarge/__stories__/FeatureCardBlockLarge.stories.js
  packages/styles/scss/patterns/blocks/feature-card-block-large/_feature-card-block-large.scss
Labels: package: react

#2729 chore(devenv): remove `.bx--visually-hidden` override
  packages/react/.storybook/_container.scss
  packages/styles/.storybook/_container.scss
  packages/vanilla/.storybook/_container.scss
Labels: package: react, package: styles, package: vanilla

#2726 chore(devenv): introduce theme chooser in React
  .yarn/offline-mirror/@babel-cli-7.10.1.tgz
  .yarn/offline-mirror/@storybook-client-logger-5.3.19.tgz
  .yarn/offline-mirror/@storybook-components-5.3.19.tgz
  .yarn/offline-mirror/@storybook-theming-5.3.19.tgz
  .yarn/offline-mirror/markdown-to-jsx-6.11.4.tgz
  packages/react/.storybook/Container.js
  packages/react/.storybook/_container.scss
  packages/react/.storybook/addons.js
  packages/react/.storybook/config.js
  packages/react/.storybook/webpack.config.js
  packages/react/package.json
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/ButtonGroup/__stories__/ButtonGroup.stories.js
  packages/react/src/components/Card/__stories__/Card.stories.js
  packages/react/src/components/DotcomShell/__stories__/DotcomShell.stories.js
  packages/react/src/components/Footer/__stories__/Footer.stories.js
  packages/react/src/components/Masthead/__stories__/Masthead.stories.js
  packages/react/src/components/Quote/__stories__/Quote.stories.js
  packages/react/src/components/TableOfContents/__stories__/TableOfContents.stories.js
  packages/react/src/patterns/sections/CTASection/__stories__/CTASection.stories.js
  packages/react/src/patterns/sections/CardSectionImages/__stories__/CardSectionImages.stories.js
  packages/react/src/patterns/sections/CardSectionSimple/__stories__/CardSectionSimple.stories.js
  packages/react/src/patterns/sections/LeadSpace/__stories__/LeadSpace.stories.js
  packages/react/src/patterns/sections/SimpleBenefits/__stories__/SimpleBenefits.stories.js
  packages/storybook-addon-theme/.babelrc
  packages/storybook-addon-theme/.gitignore
  packages/storybook-addon-theme/package.json
  packages/storybook-addon-theme/scripts/build.js
  packages/storybook-addon-theme/src/components/Panel.js
  packages/storybook-addon-theme/src/register.js
  packages/storybook-addon-theme/src/shared.js
  yarn.lock
Labels: package: react

#2716 fix(VideoPlayer): have overlay poster image on video player to align with visual specs
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/LightboxMediaViewer/LightboxMediaViewer.js
  packages/react/src/components/VideoPlayer/VideoImageOverlay.js
  packages/react/src/components/VideoPlayer/VideoPlayer.js
  packages/services/src/services/VideoPlayer/VideoPlayer.js
  packages/styles/scss/components/video-player/_video-player.scss
Labels: package: react

#2731 fix(ContentBlock): set inverse heading color
  packages/styles/scss/internal/content-block/_content-block.scss
Labels: package: react

#2674 fix(Footer): fixed footer focus
  packages/styles/scss/components/footer/_footer.scss
Labels: package: react

#2735 feat(styles): support CSS custom properties in theme zoning
  packages/react/.storybook/config.js
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/Card/__stories__/Card.stories.js
  packages/react/src/components/ExpressiveModal/__stories__/ExpressiveModal.stories.js
  packages/styles/scss/components/card-group/_card-group.scss
  packages/styles/scss/components/footer/_footer-logo.scss
  packages/styles/scss/components/footer/_footer-nav-group.scss
  packages/styles/scss/components/footer/_footer-nav.scss
  packages/styles/scss/components/footer/_footer.scss
  packages/styles/scss/components/footer/_language-selector.scss
  packages/styles/scss/components/footer/_legal-nav.scss
  packages/styles/scss/components/footer/_locale-button.scss
  packages/styles/scss/components/tableofcontents/_tableofcontents.scss
  packages/styles/scss/internal/content-section/_content-section.scss
  packages/styles/scss/patterns/blocks/content-block-media/_content-block-media.scss
  packages/styles/scss/patterns/sections/ctasection/_ctasection.scss
  packages/styles/scss/patterns/sections/leadspace/_leadspace.scss
  packages/styles/scss/patterns/sections/simplebenefits/_simplebenefits.scss
Labels: package: react, package: styles

#2720 fix(contentblockcards): content spacing fix
  packages/styles/scss/ibm-dotcom-styles.scss
  packages/styles/scss/patterns/blocks/content-block-cards/_content-block-cards.scss
Labels: package: react

#2715 feat(markdownToHTML): adds full markdown support
  .yarn/offline-mirror/dompurify-2.0.11.tgz
  .yarn/offline-mirror/marked-1.1.0.tgz
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/LocaleModal/LocaleModalCountries.js
  packages/react/src/patterns/blocks/CalloutWithMedia/__stories__/CalloutWithMedia.stories.js
  packages/react/src/patterns/blocks/ContentBlockSegmented/__stories__/ContentBlockSegmented.stories.js
  packages/react/src/patterns/blocks/ContentBlockSimple/__stories__/ContentBlockSimple.stories.js
  packages/react/src/patterns/blocks/ContentGroupSimple/__stories__/data/ContentGroupSimple.knobs.js
  packages/react/src/patterns/sections/CTASection/__stories__/CTASection.stories.js
  packages/styles/scss/components/list/_list.scss
  packages/styles/scss/internal/content-item/_content-item.scss
  packages/utilities/package.json
  packages/utilities/src/utilities/markdownToHtml/__tests__/markdownToHtml.test.js
  packages/utilities/src/utilities/markdownToHtml/markdownToHtml.js
  yarn.lock
Labels: package: react

#2710 fix(LeadSpaceBlock): `$text-01` added to the LeadspaceBlock copy
  packages/styles/scss/patterns/blocks/leadspace-block/_leadspace-block.scss
Labels: package: react

#2742 feat(cors-proxy): adding new cors proxy for adopters
  docs/cors-proxy.md
  packages/react/src/components/DotcomShell/README.stories.mdx
  packages/react/src/components/Footer/README.stories.mdx
  packages/react/src/components/LocaleModal/README.stories.mdx
  packages/react/src/components/Masthead/README.stories.mdx
Labels: package: react

#2743 fix(Masthead): fix for rtl masthead profile menu
  packages/styles/scss/components/masthead/_masthead.scss
Labels: RTL, package: react

#2737 chore(components): more prop type checks, etc
  packages/react/src/components/ButtonGroup/ButtonGroup.js
  packages/react/src/components/CTA/TextCTA.js
  packages/react/src/components/Card/Card.js
  packages/react/src/components/CardGroup/CardGroup.js
  packages/react/src/components/PictogramItem/PictogramItem.js
  packages/react/src/components/TableOfContents/TableOfContents.js
  packages/react/src/patterns/blocks/ContentBlockCards/ContentBlockCards.js
  packages/react/src/patterns/blocks/ContentBlockMixed/ContentBlockMixed.js
  packages/react/src/patterns/blocks/ContentGroupHorizontal/ContentGroupHorizontal.js
  packages/react/src/patterns/blocks/FeatureCardBlockLarge/FeatureCardBlockLarge.js
  packages/react/src/patterns/blocks/FeatureCardBlockMedium/FeatureCardBlockMedium.js
  packages/react/src/patterns/blocks/LeadSpaceBlock/LeadSpaceBlock.js
  packages/react/src/patterns/blocks/LogoGrid/LogoGrid.js
  packages/react/src/patterns/sections/CTASection/CTASection.js
  packages/react/src/patterns/sections/CardSectionImages/CardSectionImages.js
  packages/react/src/patterns/sections/CardSectionSimple/CardSectionSimple.js
Labels: package: react

#2749 chore(devenv): fix font-family in RTL environment
  packages/react/.storybook/Container.js
Labels: package: react

#2758 fix(utilities): add new util to remove html tags and entities
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/LightboxMediaViewer/LightboxMediaViewer.js
  packages/utilities/src/utilities/index.js
  packages/utilities/src/utilities/removeHtmlTagEntities/__tests__/removeHtmlTagEntities.test.js
  packages/utilities/src/utilities/removeHtmlTagEntities/index.js
  packages/utilities/src/utilities/removeHtmlTagEntities/removeHtmlTagEntities.js
Labels: package: react

#2750 fix(link-list): fix icon alignment
  packages/styles/scss/components/link-list/_link-list.scss
Labels: package: react, package: vanilla

#2751 fix(masthead): fix side nav height
  packages/styles/scss/components/masthead/_masthead-leftnav.scss
Labels: package: react, package: vanilla

#2766 feat(services): support REACT_APP_TRANSLATION_HOST
  packages/services/src/services/Locale/Locale.js
  packages/services/src/services/Translation/Translation.js
Labels: package: services

#2764 fix(table-of-contents): fixed text being overlapped by the icon
  packages/styles/scss/components/tableofcontents/_tableofcontents.scss
Labels: package: react

#2760 fix(TableOfContents): added offset to fix scroll issues on mobile
  packages/react/src/components/TableOfContents/TableOfContents.js
Labels: package: react

#2644 fix(FeatureCard): margin css fix
  packages/styles/scss/components/feature-card/_feature-card.scss
Labels: package: react

#2757 fix(CardLink): `bx--grid--condensed` added to the storybook story
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/CardLink/__stories__/CardLink.stories.js
Labels: package: react

#2767 fix(Card): fix prop type
  packages/react/src/components/Card/Card.js
  packages/react/src/components/FeatureCard/FeatureCard.js
  packages/react/src/components/PictogramItem/PictogramItem.js
  packages/react/src/internal/components/ContentGroup/ContentGroup.js
  packages/react/src/internal/components/ContentItem/ContentItem.js
  packages/react/src/patterns/blocks/ContentGroupSimple/ContentGroupSimple.js
Labels: package: react

#2775 fix(ButtonGroup): text wrapping with no need
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/ButtonGroup/ButtonGroup.js
  packages/react/src/patterns/sections/LeadSpace/__stories__/LeadSpace.stories.js
Labels: package: react

#2786 chore(revert): revert markdown to 1.7.0
  .yarn/offline-mirror/marked-1.1.0.tgz
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/LocaleModal/LocaleModalCountries.js
  packages/react/src/patterns/blocks/CalloutWithMedia/__stories__/CalloutWithMedia.stories.js
  packages/react/src/patterns/blocks/ContentBlockSegmented/__stories__/ContentBlockSegmented.stories.js
  packages/react/src/patterns/blocks/ContentBlockSimple/__stories__/ContentBlockSimple.stories.js
  packages/react/src/patterns/blocks/ContentGroupSimple/__stories__/data/ContentGroupSimple.knobs.js
  packages/react/src/patterns/sections/CTASection/__stories__/CTASection.stories.js
  packages/styles/scss/components/list/_list.scss
  packages/styles/scss/internal/content-item/_content-item.scss
  packages/utilities/package.json
  packages/utilities/src/utilities/markdownToHtml/__tests__/markdownToHtml.test.js
  packages/utilities/src/utilities/markdownToHtml/markdownToHtml.js
  yarn.lock
Labels: package: react

#2797 fix(Masthead): search icon z-index
  packages/styles/scss/components/masthead/_masthead-search.scss
Labels: package: react

#2799 fix(LocaleModal): force white theme
  packages/styles/scss/components/locale-modal/_locale-modal.scss
Labels: package: react

#2798 fix(simple-overview): deleted simple-overview from storybook
  packages/react/src/patterns/sections/SimpleOverview/README.stories.mdx
  packages/react/src/patterns/sections/SimpleOverview/SimpleOverview.js
  packages/react/src/patterns/sections/SimpleOverview/__stories__/SimpleOverview.stories.js
  packages/react/src/patterns/sections/SimpleOverview/index.js
  packages/react/src/patterns/sections/index.js
  packages/styles/scss/ibm-dotcom-styles.scss
  packages/styles/scss/patterns/sections/simpleoverview/README.md
  packages/styles/scss/patterns/sections/simpleoverview/_simpleoverview.scss
Labels: package: react

#2802 chore(DotcomShell): use current patterns as example content
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/DotcomShell/__stories__/DotcomShell.stories.js
  packages/react/src/components/DotcomShell/__stories__/data/content.js
  packages/react/src/components/Footer/LegalNav.js
Labels: package: react

#2807 fix(LanguageSelector): placeholder prop added
  packages/react/src/components/Footer/LanguageSelector.js
Labels: feature flag, package: react

#2790 feat(styles): support container tokens in expressive theme
  packages/styles/.storybook/_container.scss
  packages/styles/.storybook/webpack.config.js
  packages/styles/package.json
  packages/styles/scss/globals/_feature-flags.scss
  packages/styles/scss/themes/expressive/README.md
  packages/styles/scss/themes/expressive/_tokens.scss
  packages/styles/scss/themes/expressive/components/_accordion.scss
  packages/styles/scss/themes/expressive/components/_button.scss
  packages/styles/scss/themes/expressive/components/_data-table.scss
  packages/styles/scss/themes/expressive/components/_structured-list.scss
  packages/styles/scss/themes/expressive/components/_tabs.scss
  packages/styles/scss/themes/expressive/components/_tile.scss
  packages/styles/scss/themes/expressive/index.scss
  yarn.lock
Labels: package: styles

#2837 feat(percy): adding percy snapshot testing for carbon expressibve
  packages/styles/package.json
Labels: package: styles

#2835 fix(Quote): optional `copy2` prop added to the component
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/Quote/Quote.js
  packages/react/src/components/Quote/__stories__/Quote.stories.js
  packages/styles/scss/components/quote/_quote.scss
Labels: package: react

#2840 fix(styles): import missing styles to various components
  packages/styles/scss/components/buttongroup/_buttongroup.scss
  packages/styles/scss/components/card/index.scss
  packages/styles/scss/components/link-with-icon/_link-with-icon.scss
  packages/styles/scss/patterns/blocks/leadspace-block/_leadspace-block.scss
  packages/styles/scss/patterns/sections/ctasection/_ctasection.scss
Labels: package: react, package: styles

#2831 fix(Quote): quotation mark spacing adjusted
  packages/styles/scss/components/quote/_quote.scss
Labels: package: react

#2800 fix(TableOfContents): fixed missing hover and hidden default label
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/TableOfContents/TOCMobile.js
  packages/styles/scss/components/tableofcontents/_tableofcontents.scss
Labels: package: react

#2848 chore(Callout): move to internal components
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/Callout/README.stories.mdx
  packages/react/src/components/Callout/__stories__/Callout.stories.js
  packages/react/src/components/Callout/index.js
  packages/react/src/components/index.js
  packages/react/src/internal/components/Callout/Callout.js
  packages/react/src/internal/components/Callout/__tests__/Callout.test.js
  packages/react/src/patterns/blocks/CalloutQuote/CalloutQuote.js
  packages/react/src/patterns/blocks/CalloutWithMedia/CalloutWithMedia.js
  packages/styles/scss/ibm-dotcom-styles.scss
  packages/styles/scss/internal/callout/_callout.scss
  packages/styles/scss/patterns/blocks/callout-quote/index.scss
  packages/styles/scss/patterns/blocks/callout-with-media/index.scss
Labels: package: react

#2785 feat(ButtonGroup): added top alignment to icon in ButtonGroup
  packages/react/src/components/ButtonGroup/ButtonGroup.js
  packages/styles/scss/components/buttongroup/_buttongroup.scss
  packages/styles/scss/components/expressive-modal/_expressive-modal.scss
Labels: package: react

#2850 fix(CardLink): add missing css
  packages/styles/scss/components/card-link/_card-link.scss
Labels: package: react

#2842 fix(TableOfContents): changed `headingContent` from div to Image
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/TableOfContents/__stories__/TableOfContents.stories.js
Labels: package: react

#2853 fix(LeadSpaceBlock): grid adjustment
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/patterns/blocks/LeadSpaceBlock/__stories__/LeadSpaceBlock.stories.js
  packages/styles/scss/patterns/blocks/leadspace-block/_leadspace-block.scss
Labels: package: react

#2852 fix(ContentItemHorizontal): links default to vertical
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/ContentItemHorizontal/ContentItemHorizontal.js
  packages/styles/scss/components/content-item-horizontal/_content-item-horizontal.scss
Labels: package: react

#2857 fix(VideoPlayer): ensure only the video thumbnail for the video clicked gets removed from DOM
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/VideoPlayer/VideoImageOverlay.js
Labels: package: react

#2864 feat(Card): updated filter brightness
  packages/styles/scss/components/card/index.scss
Labels: package: react

#2868 fix(CTASection): adjust spacing when no content items
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/Card/__stories__/Card.stories.js
  packages/react/src/components/DotcomShell/__stories__/data/content.js
  packages/react/src/patterns/sections/CTASection/CTASection.js
  packages/react/src/patterns/sections/CTASection/__stories__/CTASection.stories.js
  packages/styles/scss/patterns/sections/ctasection/_ctasection.scss
Labels: package: react

#2887 feat(LinkWithIcon): enabled inverse theming
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/LinkWithIcon/LinkWithIcon.js
  packages/react/src/components/LinkWithIcon/__stories__/LinkWithIcon.stories.js
  packages/react/src/components/LinkWithIcon/__tests__/LinkWithIcon.test.js
  packages/styles/scss/components/link-with-icon/_link-with-icon.scss
Labels: package: react

#2886 fix(content-block): updated copy token to match updated designs
  packages/styles/scss/internal/content-block/_content-block.scss
Labels: package: react

#2892 fix(LeadspaceBlock): top & bottom spacing
  packages/styles/scss/patterns/blocks/leadspace-block/_leadspace-block.scss
Labels: package: react

#2867 fix(LeadspaceBlock): linklist spacing
  packages/styles/scss/components/link-list/_link-list.scss
Labels: package: react

#2900 fix(LinkList): added 640px max-width for the card type
  packages/styles/scss/components/link-list/_link-list.scss
Labels: package: react

#2899 fix(ContentBlockSegmented): added padding between bottom border and content
  packages/styles/scss/patterns/blocks/content-block-segmented/_content-block-segmented.scss
Labels: package: react

#2871 fix(ContentGroup): text lengths
  packages/styles/scss/internal/content-group/_content-group.scss
Labels: package: react

#2906 fix(masthead): fixed missing platform on masthead
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/Masthead/Masthead.js
  packages/react/src/components/Masthead/MastheadLeftNav.js
Labels: package: react

#2898 chore(Dotcomshell): avoid side effect in story module
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/DotcomShell/__stories__/DotcomShell.stories.js
  packages/react/src/components/DotcomShell/__stories__/data/content.js
  packages/react/src/components/TableOfContents/__stories__/TableOfContents.stories.js
  packages/react/src/components/TableOfContents/__stories__/data/DataContent.js
  packages/react/src/components/TableOfContents/__tests__/TableOfContents.test.js
Labels: package: react

#2904 fix(ContentBlockSegmented): fixing sections padding for all breakpoints
  packages/styles/scss/patterns/blocks/content-block-segmented/_content-block-segmented.scss
Labels: package: react

#2914 chore(react): better support conditional class names
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/ExpressiveModal/ExpressiveModal.js
  packages/react/src/components/Footer/Footer.js
  packages/react/src/components/HorizontalRule/HorizontalRule.js
  packages/react/src/components/Layout/Layout.js
  packages/react/src/components/Quote/Quote.js
  packages/react/src/components/TableOfContents/TOCDesktop.js
  packages/react/src/components/TableOfContents/TableOfContents.js
  packages/react/src/internal/components/ContentSection/ContentSection.js
  packages/react/src/patterns/sections/CTASection/CTASection.js
  packages/react/src/patterns/sections/CardSectionImages/CardSectionImages.js
  packages/react/src/patterns/sections/CardSectionSimple/CardSectionSimple.js
  packages/react/src/patterns/sections/LeadSpace/LeadSpace.js
Labels: package: react

#2902 fix(ToC) - styling issues
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/TableOfContents/TableOfContents.js
  packages/react/src/components/TableOfContents/__stories__/TableOfContents.stories.js
  packages/styles/scss/components/tableofcontents/_tableofcontents.scss
Labels: package: react

#2917 chore(storybook): adding build static storybook for web components
  .github/PULL_REQUEST_TEMPLATE.md
  packages/web-components/.eslintignore
  packages/web-components/package.json
Labels: package: web components

#2929 chore(dependencies): update internal dependencies
  packages/web-components/package.json
Labels: package: web components

#2934 fix(Card): fixed column number for small breakpoint
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/Card/__stories__/Card.stories.js
Labels: package: react

#2922 fix(Card): border covering 4 sides on actived or focused
  packages/styles/scss/components/card/index.scss
Labels: package: react

#2920 fix(FeatureCardBlockMedium): fixed circular dependency
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/patterns/blocks/FeatureCardBlockMedium/FeatureCardBlockMedium.js
  packages/styles/scss/patterns/blocks/feature-card-block-medium/_feature-card-block-medium.scss
Labels: package: react

#2873 feat(CalloutData): new experimental pattern created
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/internal/FeatureFlags.js
  packages/react/src/patterns/blocks/CalloutData/CalloutData.js
  packages/react/src/patterns/blocks/CalloutData/README.stories.mdx
  packages/react/src/patterns/blocks/CalloutData/__stories__/CalloutData.stories.js
  packages/react/src/patterns/blocks/CalloutData/index.js
  packages/styles/scss/ibm-dotcom-styles.scss
  packages/styles/scss/patterns/blocks/callout-data/_callout-data.scss
  packages/styles/scss/patterns/blocks/callout-data/index.scss
Labels: feature flag, package: react

#2921 fix(FeatureCardBlockLarge): ensure correct image asset ratio is passed in for custom breakpoint
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/patterns/blocks/FeatureCardBlockLarge/FeatureCardBlockLarge.js
  packages/react/src/patterns/blocks/FeatureCardBlockLarge/README.stories.mdx
  packages/react/src/patterns/blocks/FeatureCardBlockLarge/__stories__/FeatureCardBlockLarge.stories.js
  packages/styles/scss/patterns/blocks/feature-card-block-large/README.md
  packages/styles/scss/patterns/blocks/feature-card-block-large/_feature-card-block-large.scss
Labels: package: react

#2938 fix(VideoPlayer): create distinct videoplayer ids in order to place multiple of the same video
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/VideoPlayer/VideoPlayer.js
Labels: package: react

#2926 fix(CalloutQuote): fix icon size on mobile
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/Quote/Quote.js
  packages/styles/scss/components/quote/_quote.scss
Labels: package: react

#2925 feat(MarkdownToHTML): add full markdown support in content
  .yarn/offline-mirror/@types-dompurify-2.0.2.tgz
  .yarn/offline-mirror/@types-trusted-types-1.0.4.tgz
  .yarn/offline-mirror/abab-2.0.3.tgz
  .yarn/offline-mirror/acorn-globals-6.0.0.tgz
  .yarn/offline-mirror/acorn-walk-7.2.0.tgz
  .yarn/offline-mirror/browser-process-hrtime-1.0.0.tgz
  .yarn/offline-mirror/cssom-0.4.4.tgz
  .yarn/offline-mirror/cssstyle-2.3.0.tgz
  .yarn/offline-mirror/data-urls-2.0.0.tgz
  .yarn/offline-mirror/decimal.js-10.2.0.tgz
  .yarn/offline-mirror/domexception-2.0.1.tgz
  .yarn/offline-mirror/dompurify-2.0.12.tgz
  .yarn/offline-mirror/escodegen-1.14.3.tgz
  .yarn/offline-mirror/html-encoding-sniffer-2.0.1.tgz
  .yarn/offline-mirror/ip-regex-2.1.0.tgz
  .yarn/offline-mirror/is-potential-custom-element-name-1.0.0.tgz
  .yarn/offline-mirror/isomorphic-dompurify-0.4.0.tgz
  .yarn/offline-mirror/jsdom-16.2.2.tgz
  .yarn/offline-mirror/nwsapi-2.2.0.tgz
  .yarn/offline-mirror/request-2.88.2.tgz
  .yarn/offline-mirror/request-promise-native-1.0.8.tgz
  .yarn/offline-mirror/saxes-5.0.1.tgz
  .yarn/offline-mirror/tough-cookie-3.0.1.tgz
  .yarn/offline-mirror/tr46-2.0.2.tgz
  .yarn/offline-mirror/w3c-hr-time-1.0.2.tgz
  .yarn/offline-mirror/w3c-xmlserializer-2.0.0.tgz
  .yarn/offline-mirror/webidl-conversions-5.0.0.tgz
  .yarn/offline-mirror/webidl-conversions-6.1.0.tgz
  .yarn/offline-mirror/whatwg-url-8.1.0.tgz
  .yarn/offline-mirror/xmlchars-2.2.0.tgz
  packages/react/package.json
  packages/react/scripts/rollup.config.js
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/DotcomShell/__stories__/data/content.js
  packages/react/src/patterns/blocks/CalloutWithMedia/__stories__/CalloutWithMedia.stories.js
  packages/react/src/patterns/blocks/ContentBlockSegmented/__stories__/ContentBlockSegmented.stories.js
  packages/react/src/patterns/blocks/ContentBlockSimple/__stories__/ContentBlockSimple.stories.js
  packages/react/src/patterns/blocks/ContentGroupSimple/__stories__/data/ContentGroupSimple.knobs.js
  packages/react/src/patterns/sections/CTASection/__stories__/CTASection.stories.js
  packages/react/tests/integration/bundle/bundle-size.test.js
  packages/styles/scss/components/list/_list.scss
  packages/styles/scss/ibm-dotcom-styles.scss
  packages/styles/scss/internal/content-item/_content-item.scss
  packages/utilities/package.json
  packages/utilities/src/utilities/markdownToHtml/__tests__/markdownToHtml.test.js
  packages/utilities/src/utilities/markdownToHtml/markdownToHtml.js
  yarn.lock
Labels: package: react

#2975 fix(contentblocksegmented) added copy knob for storybook
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/patterns/blocks/ContentBlockSegmented/__stories__/ContentBlockSegmented.stories.js
Labels: package: react
