Repository carbon-design-system/carbon-for-ibm-dotcom, pull requests merged in 2020-08, with the labels that each got.

#3390 chore(beta-release): fixing beta release script
  package.json
  tasks/beta-releases.js
Labels: Ready to merge

#3379 docs(locale-modal): add CodeSandbox example
  packages/web-components/examples/codesandbox/components/locale-modal/.babelrc
  packages/web-components/examples/codesandbox/components/locale-modal/.gitignore
  packages/web-components/examples/codesandbox/components/locale-modal/index.html
  packages/web-components/examples/codesandbox/components/locale-modal/package.json
  packages/web-components/examples/codesandbox/components/locale-modal/sandbox.config.json
  packages/web-components/examples/codesandbox/components/locale-modal/src/index.js
  packages/web-components/src/components/locale-modal/__stories__/README.stories.mdx
  packages/web-components/src/components/locale-modal/__stories__/locale-modal.stories.ts
  packages/web-components/src/components/locale-modal/locale-modal-composite.ts
  packages/web-components/src/components/locale-modal/locale-modal-container.ts
Labels: Ready to merge, package: web components

#3393 chore(services): better error handling
  packages/react/src/components/Footer/Footer.js
  packages/react/src/components/Masthead/Masthead.js
  packages/services/src/services/Translation/Translation.js
  packages/vanilla/babel.config.js
  packages/vanilla/src/components/footer/footer.js
  packages/vanilla/src/components/footer/footer.template.js
  packages/vanilla/src/components/masthead/masthead.js
  packages/web-components/src/components/masthead/masthead-container.ts
Labels: Ready to merge, package: react, package: services, package: vanilla, package: web components

#3414 chore(DotcomShell): storybook cleanup
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/DotcomShell/__stories__/DotcomShell.stories.js
Labels: Ready to merge

#3348 feat(left-nav): support focus wrapping
  .yarn/offline-mirror/carbon-custom-elements-1.1.3.tgz
  .yarn/offline-mirror/carbon-custom-elements-1.2.1.tgz
  package.json
  packages/react/babel.config.js
  packages/react/scripts/env.js
  packages/utilities/babel.config.js
  packages/utilities/src/utilities/focuswrap/focuswrap.js
  packages/web-components/package.json
  packages/web-components/src/components/masthead/left-nav-menu.ts
  packages/web-components/src/components/masthead/left-nav.ts
  packages/web-components/src/components/masthead/masthead-menu-button.ts
  yarn.lock
Labels: Ready to merge, package: web components

#3394 chore(web-components): fix undefined attribute in icons
  packages/web-components/tools/svg-result-carbon-icon.js
  packages/web-components/tools/svg-result-ibmdotcom-icon-loader.js
Labels: Ready to merge, package: web components

#3384 fix(LinkwithIcon): disabled hover styling
  packages/react/src/components/LinkWithIcon/__stories__/LinkWithIcon.stories.js
  packages/styles/scss/components/link-with-icon/_link-with-icon.scss
Labels: Ready to merge

#3392 fix(CalloutWithMedia): g90 theme rendering well
  packages/react/src/internal/components/ContentBlock/ContentBlock.js
  packages/styles/scss/components/callout-with-media/_callout-with-media.scss
  packages/styles/scss/internal/content-block/_content-block.scss
Labels: Ready to merge, package: react

#3433 docs(masthead): made README more adopter friendly
  packages/web-components/src/components/masthead/__stories__/README.stories.mdx
Labels: Ready to merge

#3437 chore(percy): creating github actions for percy
  .github/workflows/percy-update-base.yml
Labels: Ready to merge

#3436 docs(webcomponents): additional component README cleanup
  packages/web-components/.storybook/config.ts
  packages/web-components/README.md
  packages/web-components/docs/building-for-ibm.stories.mdx
  packages/web-components/docs/stable-selectors.md
  packages/web-components/docs/stable-selectors.stories.mdx
  packages/web-components/src/components/button/__stories__/README.stories.mdx
  packages/web-components/src/components/card-link/__stories__/README.stories.mdx
  packages/web-components/src/components/cta/__stories__/README.stories.mdx
  packages/web-components/src/components/lightbox-media-viewer/__stories__/README.stories.mdx
  packages/web-components/src/components/link-with-icon/__stories__/README.stories.mdx
  packages/web-components/src/components/locale-modal/__stories__/README.stories.mdx
  packages/web-components/src/components/modal/__stories__/README.stories.mdx
Labels: Ready to merge

#3441 chore(percy): fix yml formatting
  .github/workflows/percy-update-base.yml
Labels: Ready to merge

#3442 fix(MastheadSearch): fix UC browser
  packages/react/src/components/Masthead/MastheadSearch.js
Labels: Ready to merge, package: react

#3438 chore(test): ignore snapshots from lint-staged
  .prettierignore
  .yarn/offline-mirror/ansi-colors-4.1.1.tgz
  .yarn/offline-mirror/cli-truncate-2.1.0.tgz
  .yarn/offline-mirror/enquirer-2.3.6.tgz
  .yarn/offline-mirror/execa-4.0.3.tgz
  .yarn/offline-mirror/find-versions-3.2.0.tgz
  .yarn/offline-mirror/human-signals-1.1.1.tgz
  .yarn/offline-mirror/husky-1.3.1.tgz
  .yarn/offline-mirror/husky-4.2.5.tgz
  .yarn/offline-mirror/is-stream-2.0.0.tgz
  .yarn/offline-mirror/lint-staged-10.2.11.tgz
  .yarn/offline-mirror/listr2-2.4.1.tgz
  .yarn/offline-mirror/log-symbols-4.0.0.tgz
  .yarn/offline-mirror/npm-run-path-4.0.1.tgz
  .yarn/offline-mirror/opencollective-postinstall-2.0.3.tgz
  .yarn/offline-mirror/p-map-4.0.0.tgz
  .yarn/offline-mirror/read-pkg-4.0.1.tgz
  .yarn/offline-mirror/run-node-1.0.0.tgz
  .yarn/offline-mirror/rxjs-6.6.2.tgz
  .yarn/offline-mirror/semver-regex-2.0.0.tgz
  .yarn/offline-mirror/slice-ansi-3.0.0.tgz
  .yarn/offline-mirror/string-argv-0.3.1.tgz
  .yarn/offline-mirror/strip-final-newline-2.0.0.tgz
  .yarn/offline-mirror/which-pm-runs-1.0.0.tgz
  package.json
  packages/web-components/tests/snapshots/dds-cta-container.md
  packages/web-components/tests/snapshots/dds-left-nav-menu.md
  packages/web-components/tests/snapshots/dds-lightbox-video-player-container.md
  packages/web-components/tests/snapshots/dds-lightbox-video-player.md
  packages/web-components/tests/snapshots/dds-link-with-icon.md
  packages/web-components/tests/snapshots/dds-locale-item.md
  packages/web-components/tests/snapshots/dds-locale-modal-container.md
  packages/web-components/tests/snapshots/dds-locale-modal.md
  packages/web-components/tests/snapshots/dds-locale-search.md
  packages/web-components/tests/snapshots/dds-masthead-container.md
  packages/web-components/tests/snapshots/dds-masthead-logo.md
  packages/web-components/tests/snapshots/dds-masthead-profile.md
  packages/web-components/tests/snapshots/dds-masthead-search.md
  packages/web-components/tests/snapshots/dds-modal.md
  packages/web-components/tests/snapshots/dds-region-item.md
  packages/web-components/tests/snapshots/dds-regions.md
  packages/web-components/tests/snapshots/dds-video-player-container.md
  packages/web-components/tests/snapshots/dds-video-player.md
  yarn.lock
Labels: Ready to merge

#3411 feat(footer): introduction
  packages/styles/scss/components/footer/_components.scss
  packages/styles/scss/components/footer/_footer-logo.scss
  packages/styles/scss/components/footer/_footer-nav-group.scss
  packages/styles/scss/components/footer/_footer-nav.scss
  packages/styles/scss/components/footer/_footer.scss
  packages/styles/scss/components/footer/_legal-nav.scss
  packages/styles/scss/components/footer/_locale-button.scss
  packages/styles/scss/components/footer/_temp-breakpoints.scss
  packages/web-components/src/components/cta/__tests__/cta-container.test.ts
  packages/web-components/src/components/cta/cta-container.ts
  packages/web-components/src/components/footer/__stories__/README.stories.mdx
  packages/web-components/src/components/footer/__stories__/footer.stories.scss
  packages/web-components/src/components/footer/__stories__/footer.stories.ts
  packages/web-components/src/components/footer/__stories__/legal-links.ts
  packages/web-components/src/components/footer/__stories__/links.ts
  packages/web-components/src/components/footer/__tests__/footer-composite.test.ts
  packages/web-components/src/components/footer/__tests__/footer-container.test.ts
  packages/web-components/src/components/footer/__tests__/footer-logo.test.ts
  packages/web-components/src/components/footer/__tests__/footer-nav-group.test.ts
  packages/web-components/src/components/footer/__tests__/footer-nav-item.test.ts
  packages/web-components/src/components/footer/footer-composite.ts
  packages/web-components/src/components/footer/footer-container.ts
  packages/web-components/src/components/footer/footer-logo.ts
  packages/web-components/src/components/footer/footer-nav-group.ts
  packages/web-components/src/components/footer/footer-nav-item.ts
  packages/web-components/src/components/footer/footer-nav.ts
  packages/web-components/src/components/footer/footer.scss
  packages/web-components/src/components/footer/footer.ts
  packages/web-components/src/components/footer/legal-nav-item.ts
  packages/web-components/src/components/footer/legal-nav.ts
  packages/web-components/src/components/footer/locale-button.ts
  packages/web-components/src/globals/mixins/modal-render.ts
  packages/web-components/src/globals/services-store/actions/__tests__/translateAPI.test.ts
  packages/web-components/src/globals/services-store/reducers/__tests__/translateAPI.test.ts
  packages/web-components/src/globals/services-store/types/translateAPI.ts
  packages/web-components/tests/snapshots/dds-footer-composite.md
  packages/web-components/tests/snapshots/dds-footer-logo.md
  packages/web-components/tests/snapshots/dds-footer-nav-group.md
  packages/web-components/tests/snapshots/dds-footer-nav-item.md
Labels: Ready to merge, package: react, package: vanilla, package: web components

#3463 feat(masthead): support profile API
  packages/services/src/services/Profile/Profile.js
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
  packages/web-components/src/components/masthead/__tests__/masthead-container.test.ts
  packages/web-components/src/components/masthead/masthead-container.ts
  packages/web-components/src/globals/services-store/actions/__tests__/profileAPI.test.ts
  packages/web-components/src/globals/services-store/actions/profileAPI.ts
  packages/web-components/src/globals/services-store/reducers/__tests__/profileAPI.test.ts
  packages/web-components/src/globals/services-store/reducers/index.ts
  packages/web-components/src/globals/services-store/reducers/profileAPI.ts
  packages/web-components/src/globals/services-store/types/profileAPI.ts
Labels: Ready to merge, package: web components

#3462 refactor(services-store): reduce type definitions
  packages/web-components/src/globals/services-store/actions/localeAPI.ts
  packages/web-components/src/globals/services-store/actions/translateAPI.ts
  packages/web-components/src/globals/services-store/reducers/__tests__/localeAPI.test.ts
  packages/web-components/src/globals/services-store/reducers/__tests__/translateAPI.test.ts
  packages/web-components/src/globals/services-store/reducers/localeAPI.ts
  packages/web-components/src/globals/services-store/reducers/translateAPI.ts
  packages/web-components/src/globals/services-store/types/localeAPI.ts
  packages/web-components/src/globals/services-store/types/translateAPI.ts
Labels: Ready to merge, package: web components

#3467 chore(percy): temporarily suppressing components for React in percy tests
  packages/react/.storybook/Container.js
  packages/react/.storybook/preview-head.html
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
Labels: Ready to merge

#3427 fix(VideoPlayerAPI): stop video when modal closes
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/LightboxMediaViewer/LightboxMediaViewer.js
  packages/services/src/services/VideoPlayer/VideoPlayer.js
Labels: Ready to merge

#3399 chore(contentblockmedia): update story
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/ContentBlockMedia/__stories__/ContentBlockMedia.stories.js
Labels: Ready to merge

#3444 chore(test): improve analytics test coverage
  packages/services/config/jest/setup.js
  packages/services/src/services/Analytics/Analytics.js
  packages/services/src/services/Analytics/__tests__/Analytics.test.js
Labels: Ready to merge, package: services

#3447 fix(LocaleModal): modal close btn accessibility
  packages/react/src/components/LocaleModal/LocaleModal.js
  packages/react/src/components/LocaleModal/LocaleModalRegions.js
Labels: Ready to merge

#3434 feat(VideoPlayer): adding stories for different aspect ratios
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/VideoPlayer/__stories__/VideoPlayer.stories.js
Labels: Ready to merge

#3457 fix(TableOfContents): active selector bug
  packages/styles/scss/components/tableofcontents/_tableofcontents.scss
Labels: Ready to merge, package: react

#3395 feat(MegaMenu): MegaMenu component
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/LinkWithIcon/LinkWithIcon.js
  packages/react/src/components/Masthead/MastheadMegaMenu.js
  packages/react/src/components/Masthead/MastheadTopNav.js
  packages/react/src/components/carbon-components-react/UIShell/HeaderMenu.js
  packages/styles/scss/components/masthead/_masthead-megamenu.scss
  packages/styles/scss/components/masthead/_masthead.scss
  packages/styles/scss/components/masthead/index.scss
Labels: Ready to merge, feature flag, package: react

#3464 feat(Masthead): add megamenu to mobile nav
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/Masthead/Masthead.js
  packages/react/src/components/Masthead/MastheadLeftNav.js
  packages/react/src/components/Masthead/__tests__/Masthead.steps.js
  packages/react/src/components/carbon-components-react/UIShell/SideNavMenu.js
  packages/react/src/components/carbon-components-react/UIShell/SideNavMenuWithBackForward.js
  packages/react/src/components/carbon-components-react/UIShell/index.js
  packages/styles/scss/components/masthead/_masthead-leftnav.scss
Labels: Ready to merge, feature flag

#3474 chore(lint): update .lintstagedrc
  .lintstagedrc
Labels: Ready to merge

#3466 fix(LocaleModal): accessibility issue on navigation
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/LocaleModal/LocaleModalCountries.js
Labels: Ready to merge

#3465 fix(LocalModal): reset scroll to top
  packages/react/src/components/LocaleModal/LocaleModalCountries.js
Labels: Ready to merge

#3488 fix(MegaMenu): break down MegaMenu into smaller components
  packages/react/src/components/Masthead/MastheadMegaMenu.js
  packages/react/src/components/Masthead/MastheadMegaMenu/CategoryGroup.js
  packages/react/src/components/Masthead/MastheadMegaMenu/CategoryLink.js
  packages/react/src/components/Masthead/MastheadMegaMenu/LeftNavigation.js
  packages/react/src/components/Masthead/MastheadMegaMenu/MegaMenu.js
  packages/react/src/components/Masthead/MastheadMegaMenu/NavigationGroup.js
  packages/react/src/components/Masthead/MastheadMegaMenu/RightNavigation.js
  packages/react/src/components/Masthead/MastheadTopNav.js
  packages/react/src/components/carbon-components-react/UIShell/HeaderMenu.js
  packages/styles/scss/components/masthead/_masthead-megamenu.scss
Labels: Ready to merge, feature flag, package: react

#3500 fix(lightboxMediaViewer): handle video close
  packages/web-components/src/components/lightbox-media-viewer/lightbox-video-player-container.ts
  packages/web-components/src/components/video-player/video-player-container.ts
Labels: Ready to merge

#3509 test(Masthead): fixing console errors
  packages/react/src/components/Masthead/MastheadMegaMenu/MegaMenu.js
  packages/react/src/components/Masthead/MastheadTopNav.js
Labels: Ready to merge

#3501 fix(localModal): scroll to top
  packages/web-components/src/components/locale-modal/locale-modal.ts
  packages/web-components/src/components/locale-modal/locale-search.ts
Labels: Ready to merge

#3515 test(video-player): update mock
  packages/web-components/src/components/lightbox-media-viewer/__tests__/lightbox-media-viewer-container.test.ts
  packages/web-components/src/components/video-player/__tests__/video-player-container.test.ts
  packages/web-components/src/components/video-player/video-player-container.ts
  packages/web-components/tests/snapshots/dds-lightbox-video-player-container.md
  packages/web-components/tests/snapshots/dds-video-player-container.md
Labels: Ready to merge, package: web components

#3508 fix(cta): prevent lightbox from opening for non-video
  packages/web-components/src/components/cta/__tests__/cta-container.test.ts
  packages/web-components/src/components/cta/cta-container.ts
  packages/web-components/src/globals/internal/link.ts
Labels: Ready to merge, package: web components

#3521 fix(MegaMenu): add padding to the view all cta focus state
  packages/styles/scss/components/masthead/_masthead-megamenu.scss
Labels: Ready to merge

#3507 fix(lightbox-media-viewer): fix the size
  packages/styles/scss/components/expressive-modal/_expressive-modal.scss
  packages/styles/scss/components/lightbox-media-viewer/_lightbox-media-viewer.scss
  packages/web-components/src/components/lightbox-media-viewer/__stories__/lightbox-media-viewer.stories.ts
  packages/web-components/src/components/modal/modal.scss
  packages/web-components/src/components/modal/modal.ts
  packages/web-components/tests/snapshots/dds-lightbox-video-player-container.md
  packages/web-components/tests/snapshots/dds-locale-modal.md
  packages/web-components/tests/snapshots/dds-modal.md
Labels: Ready to merge, package: react, package: web components

#3506 fix(link): change disabled handling
  .yarn/offline-mirror/carbon-web-components-1.3.1.tgz
  .yarn/offline-mirror/carbon-web-components-1.4.0.tgz
  package.json
  packages/web-components/package.json
  packages/web-components/src/globals/internal/link.ts
  packages/web-components/tests/snapshots/dds-footer-nav-item.md
  packages/web-components/tests/snapshots/dds-link-with-icon.md
  packages/web-components/tests/snapshots/dds-locale-item.md
  packages/web-components/tests/snapshots/dds-region-item.md
  yarn.lock
Labels: Ready to merge, package: web components

#3525 chore(test): ensure mockis used for service API
  packages/web-components/src/components/cta/__tests__/cta-container.test.ts
  packages/web-components/src/components/video-player/video-player-container.ts
  packages/web-components/src/globals/services-store/store.ts
  packages/web-components/tests/karma.conf.js
  packages/web-components/tests/mocks/.eslintrc
  packages/web-components/tests/mocks/LocaleAPI.ts
  packages/web-components/tests/mocks/TranslationAPI.ts
  packages/web-components/tests/mocks/VideoPlayerAPI.ts
  packages/web-components/tests/mocks/mock-implementation.ts
Labels: Ready to merge, package: web components

#3544 fix(docs): fixed codesandbox links pointing to old folders
  packages/react/src/components/CTASection/README.stories.mdx
  packages/react/src/components/CalloutWithMedia/README.stories.mdx
  packages/react/src/components/CardSectionImages/README.stories.mdx
  packages/react/src/components/CardSectionSimple/README.stories.mdx
  packages/react/src/components/ContentBlockCards/README.stories.mdx
  packages/react/src/components/ContentBlockMedia/README.stories.mdx
  packages/react/src/components/ContentBlockMixed/README.stories.mdx
  packages/react/src/components/ContentBlockSegmented/README.stories.mdx
  packages/react/src/components/ContentBlockSimple/README.stories.mdx
  packages/react/src/components/ContentGroupCards/README.stories.mdx
  packages/react/src/components/ContentGroupHorizontal/README.stories.mdx
  packages/react/src/components/ContentGroupPictograms/README.stories.mdx
  packages/react/src/components/ContentGroupSimple/README.stories.mdx
  packages/react/src/components/FeatureCardBlockLarge/README.stories.mdx
  packages/react/src/components/FeatureCardBlockMedium/README.stories.mdx
  packages/react/src/components/LeadSpace/README.stories.mdx
  packages/react/src/components/LeadSpaceBlock/README.stories.mdx
  packages/react/src/components/LogoGrid/README.stories.mdx
Labels: Ready to merge

#3559 test(jest): mocking window.scroll on CTA
  packages/react/src/components/CTA/__tests__/CTA.test.js
Labels: Ready to merge

#3566 fix(MegaMenu): change overflow scroll style from x to y
  packages/styles/scss/components/masthead/_masthead-megamenu.scss
Labels: Ready to merge, feature flag, package: react

#3517 feat(MegaMenu): set up auto ids
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/Icon/IbmLogo.js
  packages/react/src/components/Masthead/Masthead.js
  packages/react/src/components/Masthead/MastheadL1.js
  packages/react/src/components/Masthead/MastheadLeftNav.js
  packages/react/src/components/Masthead/MastheadMegaMenu/CategoryGroup.js
  packages/react/src/components/Masthead/MastheadMegaMenu/CategoryLink.js
  packages/react/src/components/Masthead/MastheadMegaMenu/MegaMenu.js
  packages/react/src/components/Masthead/MastheadMegaMenu/RightNavigation.js
  packages/react/src/components/Masthead/MastheadSearch.js
  packages/react/src/components/Masthead/MastheadTopNav.js
  packages/react/src/components/Masthead/README.stories.mdx
  packages/react/src/components/Masthead/__tests__/MastheadLeftNav.test.js
  packages/react/src/components/Masthead/__tests__/MastheadTopNav.test.js
  packages/react/src/components/carbon-components-react/UIShell/HeaderMenu.js
  packages/react/src/components/carbon-components-react/UIShell/SideNavMenu.js
  packages/react/src/components/carbon-components-react/UIShell/SideNavMenuWithBackForward.js
Labels: Ready to merge

#3532 fix(LocaleModal): changing icon size and margin
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/LocaleModal/LocaleModal.js
  packages/styles/scss/components/locale-modal/_locale-modal.scss
Labels: Ready to merge

#3569 test(Snapshot): fixing console errors
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/CTASection/CTASection.js
  packages/react/src/components/CardGroup/CardGroup.js
  packages/react/src/components/ContentGroupHorizontal/ContentGroupHorizontal.js
  packages/react/src/components/ContentItemHorizontal/ContentItemHorizontal.js
Labels: Ready to merge

#3570 fix(MegaMenu): align megamenu content with grid
  packages/styles/scss/components/masthead/_masthead-megamenu.scss
Labels: Ready to merge, feature flag, package: react

#3565 fix(MegaMenu): prevent menu items from overlapping
  packages/react/src/components/Masthead/Masthead.js
  packages/styles/scss/components/masthead/_masthead-leftnav.scss
  packages/styles/scss/components/masthead/_masthead.scss
  packages/utilities/src/utilities/calculateTotalWidth/calculateTotalWidth.js
  packages/utilities/src/utilities/calculateTotalWidth/index.js
  packages/utilities/src/utilities/index.js
Labels: Ready to merge, feature flag, package: react

#3574 chore(services): introduce REST cache
  packages/services/src/services/Locale/Locale.js
  packages/services/src/services/Locale/__tests__/Locale.test.js
  packages/services/src/services/Translation/Translation.js
Labels: Ready to merge, package: services

#3513 fix(LocaleModal): html semantic, filter by region, scrollTop by region
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/LocaleModal/LocaleModal.js
  packages/react/src/components/LocaleModal/LocaleModalCountries.js
  packages/react/src/components/LocaleModal/LocaleModalRegions.js
  packages/styles/scss/components/locale-modal/_locale-modal.scss
Labels: Ready to merge, package: react

#3576 fix(MegaMenu): tweak data-autoids for the mobile navigation
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/Masthead/MastheadLeftNav.js
  packages/react/src/components/Masthead/__tests__/MastheadLeftNav.test.js
  packages/react/src/components/carbon-components-react/UIShell/SideNavMenuWithBackForward.js
Labels: Ready to merge, feature flag, package: react

#3578 fix(devenv): use ibm-common.js
  packages/services/src/services/DDO/DDO.js
  packages/web-components/.storybook/preview-head.html
Labels: Ready to merge, package: web components

#3505 feat(dotcom-shell): introduction
  packages/styles/scss/components/dotcom-shell/_dotcom-shell.scss
  packages/web-components/src/components/dotcom-shell/__stories__/README.stories.mdx
  packages/web-components/src/components/dotcom-shell/__stories__/dotcom-shell.stories.ts
  packages/web-components/src/components/dotcom-shell/dotcom-shell-container.scss
  packages/web-components/src/components/dotcom-shell/dotcom-shell-container.ts
  packages/web-components/src/components/dotcom-shell/dotcom-shell.ts
  packages/web-components/src/components/masthead/masthead-container.ts
Labels: Ready to merge, package: web components

#3582 chore(masthead): introduce composite
  packages/web-components/examples/codesandbox/components/locale-modal/index.html
  packages/web-components/examples/codesandbox/components/locale-modal/src/index.js
  packages/web-components/examples/codesandbox/components/masthead/src/index.js
  packages/web-components/src/components/dotcom-shell/__stories__/README.stories.mdx
  packages/web-components/src/components/dotcom-shell/dotcom-shell-composite.ts
  packages/web-components/src/components/dotcom-shell/dotcom-shell-container.scss
  packages/web-components/src/components/dotcom-shell/dotcom-shell-container.ts
  packages/web-components/src/components/dotcom-shell/index.ts
  packages/web-components/src/components/footer/__stories__/README.stories.mdx
  packages/web-components/src/components/footer/__tests__/footer-container.test.ts
  packages/web-components/src/components/footer/footer-container.ts
  packages/web-components/src/components/footer/locale-button.ts
  packages/web-components/src/components/locale-modal/__stories__/README.stories.mdx
  packages/web-components/src/components/locale-modal/locale-modal-container.ts
  packages/web-components/src/components/masthead/__stories__/README.stories.mdx
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
  packages/web-components/src/components/masthead/__tests__/masthead-container.test.ts
  packages/web-components/src/components/masthead/__tests__/masthead.steps.js
  packages/web-components/src/components/masthead/index.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/masthead-container.ts
  packages/web-components/src/globals/mixins/connect.ts
  packages/web-components/src/globals/services-store/reducers/index.ts
  packages/web-components/src/globals/services-store/store.ts
Labels: package: web components

#3581 fix(leadspace): fixes codesandbox leadspace example
  packages/react/examples/codesandbox/components/Leadspace/src/index.js
  packages/react/examples/codesandbox/components/Leadspace/src/styles.scss
  packages/react/examples/codesandbox/components/Leadspace/yarn.lock
  packages/styles/scss/components/leadspace/_leadspace.scss
Labels: Ready to merge

#3599 chore(devenv): fix footer size
  packages/web-components/src/components/footer/__stories__/footer.stories.ts
  packages/web-components/tests/snapshots/dds-footer-composite.md
Labels: Ready to merge, package: web components

#3601 chore(devenv): fix prop table of dotcom shell
  packages/web-components/src/components/dotcom-shell/__stories__/README.stories.mdx
  packages/web-components/src/components/dotcom-shell/dotcom-shell.ts
Labels: Ready to merge, package: web components

#3600 chore(denenv): ensure mock usage
  packages/web-components/src/components/dotcom-shell/__stories__/dotcom-shell.stories.ts
  packages/web-components/src/components/locale-modal/__stories__/locale-modal.stories.ts
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
Labels: Ready to merge, package: web components

#3595 fix(footer): fix for store initialization
  packages/web-components/src/components/dotcom-shell/__stories__/dotcom-shell.stories.ts
  packages/web-components/src/components/footer/footer-composite.ts
  packages/web-components/src/components/footer/footer-container.ts
  packages/web-components/src/globals/mixins/connect.ts
  packages/web-components/tests/snapshots/dds-footer-logo.md
  packages/web-components/tests/snapshots/dds-footer-nav-group.md
  packages/web-components/tests/snapshots/dds-locale-modal-container.md
Labels: Ready to merge

#3603 chore(dotcom-shell): avoid redundant prop sent for standalont footer
  packages/web-components/src/components/dotcom-shell/dotcom-shell-container.ts
  packages/web-components/src/components/footer/footer-container.ts
Labels: Ready to merge, package: web components

#3602 chore(devenv): change knob group names
  packages/web-components/src/components/button/__stories__/button.stories.ts
  packages/web-components/src/components/card-link/__stories__/card-link.stories.ts
  packages/web-components/src/components/cta/__stories__/cta.stories.ts
  packages/web-components/src/components/cta/__tests__/cta-container.test.ts
  packages/web-components/src/components/dotcom-shell/__stories__/dotcom-shell.stories.ts
  packages/web-components/src/components/footer/__stories__/footer.stories.ts
  packages/web-components/src/components/footer/__tests__/footer-composite.test.ts
  packages/web-components/src/components/footer/__tests__/footer-container.test.ts
  packages/web-components/src/components/lightbox-media-viewer/__stories__/lightbox-media-viewer.stories.ts
  packages/web-components/src/components/lightbox-media-viewer/__tests__/lightbox-media-viewer-container.test.ts
  packages/web-components/src/components/link-with-icon/__stories__/link-with-icon.stories.ts
  packages/web-components/src/components/link-with-icon/__tests__/link-with-icon.test.ts
  packages/web-components/src/components/locale-modal/__stories__/locale-modal.stories.ts
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
  packages/web-components/src/components/modal/__stories__/modal.stories.ts
  packages/web-components/src/components/modal/__tests__/modal.test.ts
Labels: Ready to merge, package: web components

#3608 fix(MegaMenu): set correct aria label to hamburger menu when open/closed
  packages/react/src/components/Masthead/Masthead.js
Labels: Ready to merge, package: react

#3607 fix(side-nav): cope with large list of parent menu items
  packages/react/src/components/carbon-components-react/UIShell/SideNavMenu.js
  packages/react/src/components/carbon-components-react/UIShell/SideNavMenuWithBackForward.js
  packages/styles/scss/components/masthead/_masthead-leftnav.scss
Labels: Ready to merge, package: react

#3610 fix(MegaMenu): assign button role for the back button in mobile menu
  packages/react/src/components/carbon-components-react/UIShell/SideNavMenu.js
  packages/react/src/components/carbon-components-react/UIShell/SideNavMenuWithBackForward.js
Labels: Ready to merge, package: react

#3611 fix(masthead): left menu focus
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/Masthead/Masthead.js
Labels: Ready to merge, package: react

#3613 fix(Footer): add aria label to IBM logo in footer
  packages/web-components/src/components/footer/footer-logo.ts
  packages/web-components/tests/snapshots/dds-footer-logo.md
Labels: Ready to merge, package: web components

#3621 feat(package.json): add update snapshot npm script to web-components package.json
  packages/web-components/package.json
Labels: Ready to merge

#3618 fix(Masthead): edit hamburger menu autoid to new format
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/Masthead/Masthead.js
Labels: Ready to merge, package: react

#3626 chore(dependencies): upgrade to carbon-web-components 1.5.x
  .yarn/offline-mirror/carbon-web-components-1.4.0.tgz
  .yarn/offline-mirror/carbon-web-components-1.5.0.tgz
  package.json
  packages/web-components/package.json
  packages/web-components/src/components/cta/cta-container.ts
  packages/web-components/src/components/footer/footer-composite.ts
  packages/web-components/src/components/lightbox-media-viewer/lightbox-video-player-container.ts
  yarn.lock
Labels: Ready to merge, package: web components

#3591 fix(card-link): witdth in web-component story now matches react
  packages/web-components/src/components/card-link/__stories__/card-link.stories.ts
Labels: Ready to merge, package: web components

#3593 fix(ContentGroupHorizontal): margin size
  packages/styles/scss/components/content-group-horizontal/_content-group-horizontal.scss
Labels: Ready to merge, package: react

#3612 fix(LocaleModal): merge styles
  packages/styles/scss/components/locale-modal/_locale-modal.scss
  packages/web-components/src/components/locale-modal/locale-modal.scss
  packages/web-components/src/components/locale-modal/locale-modal.ts
Labels: Ready to merge

#3656 feat(footer): introduce cookie preference placeholder
  packages/styles/scss/components/footer/_footer.scss
  packages/styles/scss/components/footer/_legal-nav.scss
  packages/web-components/.storybook/preview-head.html
  packages/web-components/src/components/footer/footer-composite.ts
  packages/web-components/src/components/footer/footer.scss
  packages/web-components/src/components/footer/legal-nav-cookie-preferences-placeholder.ts
  packages/web-components/src/globals/mixins/stable-selector.ts
  packages/web-components/tests/snapshots/dds-cta-container.md
  packages/web-components/tests/snapshots/dds-footer-composite.md
  packages/web-components/tests/snapshots/dds-lightbox-video-player-container.md
  packages/web-components/tests/snapshots/dds-locale-modal-container.md
  packages/web-components/tests/snapshots/dds-masthead-container.md
Labels: Ready to merge, package: web components

#3660 test(Masthead): update UI integration test case
  packages/react/src/components/Masthead/__tests__/Masthead.steps.js
Labels: Ready to merge

#3664 fix(left-nav): fix left nav not being able to open
  packages/web-components/src/components/masthead/left-nav.ts
Labels: Ready to merge, package: web components

#3659 docs(coding-convention): updates
  packages/web-components/docs/coding-conventions.md
Labels: Ready to merge

#3668 fix(MegaMenu): pass href prop to the CategoryGroup so link can be accessed as expected
  packages/react/src/components/Masthead/MastheadMegaMenu/CategoryGroup.js
  packages/styles/scss/components/masthead/_masthead-megamenu.scss
Labels: Ready to merge, feature flag, package: react

#3673 fix(MegaMenu): add tabindex attr for safari not detecting event
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/LinkWithIcon/LinkWithIcon.js
  packages/react/src/components/Masthead/MastheadMegaMenu/CategoryLink.js
Labels: Ready to merge, feature flag, package: react

#3677 fix(Footer): fixes footer theme styles
  packages/styles/scss/components/footer/_footer-logo.scss
  packages/styles/scss/components/footer/_footer.scss
Labels: Ready to merge, package: react

#3676 fix(MegaMenu): disable body scroll when megamenu is open
  packages/react/src/components/carbon-components-react/UIShell/HeaderMenu.js
Labels: Ready to merge, feature flag, package: react

#3670 chore(featureflags): removing unused feature flags
  packages/react/src/internal/FeatureFlags.js
Labels: Ready to merge

#3671 chore(dotcomshell): fixed import reference in codesandbox example
  packages/web-components/examples/codesandbox/components/dotcom-shell/src/index.js
Labels: Ready to merge

#3689 fix(CardGroup): passing pictogram prop to card from CardGroup
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/Card/Card.js
  packages/react/src/components/Card/__stories__/Card.stories.js
  packages/react/src/components/CardGroup/CardGroup.js
Labels: Ready to merge, feature flag

#3692 fix(MegaMenu): disable scrolling for mobile nav
  packages/react/src/components/Masthead/Masthead.js
  packages/react/src/components/carbon-components-react/UIShell/HeaderMenu.js
  packages/styles/scss/components/masthead/_masthead-leftnav.scss
  packages/styles/scss/components/masthead/_masthead.scss
Labels: Ready to merge, package: react

#3704 fix(masthead): ssr fix for scroll check
  packages/react/src/components/Masthead/Masthead.js
  packages/react/src/components/carbon-components-react/UIShell/HeaderMenu.js
Labels: Ready to merge

#3699 fix(expressivetheme): enable css custom properties with the theme
  packages/react/.storybook/webpack.config.js
  packages/styles/.storybook/_container.scss
  packages/styles/.storybook/webpack.config.js
  packages/styles/scss/themes/expressive/README.md
Labels: Ready to merge, package: styles

#3705 fix(masthead): locked focus while left menu active
  packages/react/src/components/Masthead/MastheadLeftNav.js
  packages/styles/scss/components/masthead/_masthead-leftnav.scss
Labels: Ready to merge, package: react

#3690 test(integration): make page navigation test stable
  .github/workflows/ci-check.yml
  .yarn/offline-mirror/jpeg-js-0.4.1.tgz
  .yarn/offline-mirror/playwright-1.2.1.tgz
  .yarn/offline-mirror/playwright-1.3.0.tgz
  packages/react/package.json
  packages/web-components/package.json
  packages/web-components/src/components/masthead/__tests__/masthead.steps.js
  yarn.lock
Labels: Ready to merge

#3706 chore(dependencies): upgrade autoprefixer
  .yarn/offline-mirror/autoprefixer-9.6.1.tgz
  .yarn/offline-mirror/autoprefixer-9.7.6.tgz
  .yarn/offline-mirror/autoprefixer-9.8.0.tgz
  .yarn/offline-mirror/autoprefixer-9.8.6.tgz
  .yarn/offline-mirror/caniuse-lite-1.0.30001041.tgz
  .yarn/offline-mirror/caniuse-lite-1.0.30001084.tgz
  .yarn/offline-mirror/caniuse-lite-1.0.30001117.tgz
  .yarn/offline-mirror/colorette-1.2.1.tgz
  packages/react/package.json
  packages/styles/package.json
  packages/vanilla/package.json
  packages/web-components/package.json
  yarn.lock
Labels: Ready to merge, package: react, package: styles, package: vanilla, package: web components

#3625 chore(services-store): add store for search API
  .yarn/offline-mirror/cross-fetch-3.0.5.tgz
  .yarn/offline-mirror/fetch-mock-9.10.3.tgz
  .yarn/offline-mirror/glob-to-regexp-0.4.1.tgz
  .yarn/offline-mirror/jest-fetch-mock-3.0.3.tgz
  .yarn/offline-mirror/path-to-regexp-2.4.0.tgz
  .yarn/offline-mirror/promise-polyfill-8.1.3.tgz
  packages/web-components/jest.config.js
  packages/web-components/package.json
  packages/web-components/src/components/dotcom-shell/dotcom-shell-composite.ts
  packages/web-components/src/components/dotcom-shell/dotcom-shell-container.ts
  packages/web-components/src/components/masthead/__tests__/masthead-composite.test.ts
  packages/web-components/src/components/masthead/__tests__/masthead-container.test.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/masthead-container.ts
  packages/web-components/src/globals/services-store/actions/__tests__/searchAPI.test.ts
  packages/web-components/src/globals/services-store/actions/searchAPI.ts
  packages/web-components/src/globals/services-store/reducers/__tests__/searchAPI.test.ts
  packages/web-components/src/globals/services-store/reducers/index.ts
  packages/web-components/src/globals/services-store/reducers/searchAPI.ts
  packages/web-components/src/globals/services-store/types/searchAPI.ts
  packages/web-components/tests/snapshots/dds-masthead-composite.md
  packages/web-components/tests/typings/snapshot.d.ts
  packages/web-components/tests/unit/setup.js
  packages/web-components/tsconfig.json
  yarn.lock
Labels: package: web components

#3614 fix(TOC): font-size on ios landscape mode
  packages/styles/scss/components/tableofcontents/_tableofcontents.scss
Labels: package: react

#3481 chore(test): improve locale test coverage
  packages/services/src/services/Locale/Locale.js
  packages/services/src/services/Locale/__tests__/Locale.test.js
Labels: Ready to merge, package: services

#3710 fix(masthead-search): performance improvements
  packages/web-components/src/components/masthead/masthead-container.ts
  packages/web-components/src/components/masthead/masthead-search.ts
Labels: Ready to merge, package: web components

#3720 fix(MegaMenu): add scroll for submenu
  packages/styles/scss/components/masthead/_masthead-leftnav.scss
Labels: Ready to merge

#3713 chore(test-integration-ui): change env var
  .github/workflows/ci-check.yml
  packages/react/tests/integration/ui/setup-env.js
  packages/web-components/tests/integration/ui/setup-env.js
Labels: Ready to merge

#3724 fix(footer): adding locale modal import to the footer
  packages/web-components/src/components/footer/footer-composite.ts
Labels: Ready to merge

#3727 fix(locale-modal): add missing import
  packages/web-components/src/components/locale-modal/locale-modal.ts
Labels: Ready to merge, package: web components

#3723 fix(Masthead): keep focus in sub menus
  packages/react/src/components/Masthead/MastheadLeftNav.js
  packages/styles/scss/components/masthead/_masthead-leftnav.scss
Labels: Ready to merge, package: react

#3729 chore(services): migrate storage polling to in-memory promise cache
  packages/services/src/services/Locale/Locale.js
  packages/services/src/services/Locale/__tests__/Locale.test.js
  packages/services/src/services/Translation/Translation.js
Labels: Ready to merge, package: services

#3737 chore(masthead): fix to nav type proptype definition
  packages/react/src/components/Masthead/MastheadSearch.js
Labels: Ready to merge

#3725 feat(FeatureCard): new web component
  packages/styles/scss/components/card/index.scss
  packages/styles/scss/components/feature-card/_feature-card.scss
  packages/web-components/examples/codesandbox/components/feature-card/.babelrc
  packages/web-components/examples/codesandbox/components/feature-card/.gitignore
  packages/web-components/examples/codesandbox/components/feature-card/index.html
  packages/web-components/examples/codesandbox/components/feature-card/package.json
  packages/web-components/examples/codesandbox/components/feature-card/sandbox.config.json
  packages/web-components/examples/codesandbox/components/feature-card/src/index.js
  packages/web-components/src/components/feature-card/__stories__/README.stories.mdx
  packages/web-components/src/components/feature-card/__stories__/feature-card.stories.scss
  packages/web-components/src/components/feature-card/__stories__/feature-card.stories.ts
  packages/web-components/src/components/feature-card/__tests__/feature-card.test.ts
  packages/web-components/src/components/feature-card/feature-card.scss
  packages/web-components/src/components/feature-card/feature-card.ts
  packages/web-components/tests/snapshots/dds-feature-card.md
Labels: Ready to merge

#3751 fix(MegaMenu): explicity set focus to HeaderMenu L0 item when clicked
  packages/react/src/components/carbon-components-react/UIShell/HeaderMenu.js
Labels: Ready to merge, package: react

#3762 fix(MegaMenu): explicity set focus to HeaderMenu L0 item when clicked
  packages/react/src/components/carbon-components-react/UIShell/HeaderMenu.js
Labels: Ready to merge, package: react

#3715 fix(locale-search): fix clear button
  packages/web-components/src/components/locale-modal/__tests__/locale-search.test.ts
  packages/web-components/src/components/locale-modal/locale-search.ts
  packages/web-components/src/globals/mixins/throttled-input.ts
Labels: Ready to merge, package: web components

#3763 fix(MegaMenu): account for focus within the megamenu component
  packages/react/src/components/Masthead/MastheadMegaMenu/NavigationGroup.js
  packages/react/src/components/carbon-components-react/UIShell/HeaderMenu.js
  packages/styles/scss/components/masthead/_masthead-megamenu.scss
Labels: Ready to merge

#3768 fix(locale-search): reset query on page navigation
  packages/web-components/src/components/locale-modal/locale-modal.ts
  packages/web-components/src/components/locale-modal/locale-search.ts
Labels: Ready to merge, package: web components

#3770 chore(cfaction): updating version of cf action
  .github/workflows/deploy-canary.yml
  .github/workflows/deploy-staging.yml
Labels: Ready to merge

#3807 chore(lint): lint old React vendor files
  .eslintignore
  .eslintrc
  packages/react/src/components/carbon-components-react/UIShell/HeaderMenu.js
  packages/react/src/components/carbon-components-react/UIShell/SideNavIcon.js
  packages/react/src/components/carbon-components-react/UIShell/SideNavMenu.js
  packages/react/src/components/carbon-components-react/UIShell/SideNavMenuWithBackForward.js
  packages/react/src/components/carbon-components-react/UIShell/index.js
Labels: Ready to merge

#3773 test(integration-ui): navigation in beforeEach
  .github/workflows/ci-check.yml
  packages/react/tests/integration/ui/setup-env.js
  packages/web-components/src/components/masthead/__tests__/masthead.steps.js
  packages/web-components/tests/integration/build/setup-env.js
Labels: Ready to merge

#3750 feat(image): created web component image component
  packages/web-components/examples/codesandbox/components/image/.babelrc
  packages/web-components/examples/codesandbox/components/image/.gitignore
  packages/web-components/examples/codesandbox/components/image/index.html
  packages/web-components/examples/codesandbox/components/image/package.json
  packages/web-components/examples/codesandbox/components/image/src/index.js
  packages/web-components/examples/codesandbox/components/image/yarn.lock
  packages/web-components/src/components/image/__stories__/README.stories.mdx
  packages/web-components/src/components/image/__stories__/image.stories.ts
  packages/web-components/src/components/image/__tests__/image.test.ts
  packages/web-components/src/components/image/image.scss
  packages/web-components/src/components/image/image.ts
Labels: Ready to merge, package: web components
