Repository carbon-design-system/carbon-for-ibm-dotcom, pull requests merged in 2021-09, with the labels that each got.

#7029 chore(bug-report): updated template
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: Ready to merge

#7037 fix(cloud-masthead): adjust the cookie to PROD ID & overlapping issue on v18 L1 Nav
  packages/services/src/services/CloudAccountAuth/CloudAccountAuth.js
  packages/services/src/services/CloudAccountAuth/__tests__/CloudAccountAuth.test.js
  packages/web-components/src/components/masthead/cloud/cloud-masthead-composite.ts
  packages/web-components/src/components/masthead/cloud/cloud-masthead.scss
Labels: adopter: Drupal, feature flag, package: web components, Ready to merge, adopter: Hybrid cloud, owner: Hybrid Cloud

#7025 feat(video-player-composite): support image and caption overrides
  packages/web-components/src/components/video-player/__stories__/video-player.stories.ts
  packages/web-components/src/components/video-player/video-player-composite.ts
Labels: package: web components, Ready to merge

#7043 fix(cloud-masthead): adjust the cookie to PROD ID & overlapping issue on v18 L1 Nav (#7037)
  packages/services/src/services/CloudAccountAuth/CloudAccountAuth.js
  packages/services/src/services/CloudAccountAuth/__tests__/CloudAccountAuth.test.js
  packages/web-components/src/components/masthead/cloud/cloud-masthead-composite.ts
  packages/web-components/src/components/masthead/cloud/cloud-masthead.scss
Labels: Ready to merge

#7036 docs(LightboxMediaViewer): typo and syntax fixes and prop descriptions update
  packages/react/src/components/LightboxMediaViewer/LightboxMediaViewer.js
  packages/react/src/components/LightboxMediaViewer/README.stories.mdx
Labels: package: react, Ready to merge

#7035 feat(image): support optional image borders
  packages/styles/scss/components/image/_image.scss
  packages/web-components/src/components/image/__stories__/image.stories.ts
  packages/web-components/src/components/image/image.ts
Labels: package: web components, Ready to merge

#6981 fix(table-of-contents): prevent extra space above Table of Contents
  packages/web-components/src/components/dotcom-shell/__stories__/data/content.ts
  packages/web-components/src/components/dotcom-shell/__stories__/dotcom-shell.stories.ts
  packages/web-components/src/components/masthead/__stories__/masthead.stories.scss
  packages/web-components/src/components/scroll-animations/__stories__/scroll-animations.stories.ts
  packages/web-components/src/components/table-of-contents/table-of-contents.scss
Labels: Ready to merge

#7028 fix(feature-card): ensure arrow stays at the bottom
  packages/styles/scss/components/feature-card/_feature-card.scss
Labels: Ready to merge

#7042 fix(footer): update footer a11y labels
  packages/react/src/components/Footer/Footer.js
  packages/react/src/components/Footer/FooterNav.js
  packages/react/src/components/Footer/LegalNav.js
  packages/web-components/src/components/footer/footer-nav.ts
  packages/web-components/src/components/locale-modal/locale-modal-composite.ts
  packages/web-components/tests/snapshots/dds-footer-composite.md
Labels: package: react, package: web components, Ready to merge

#7048 fix(node): adding default package exports for services/utilities
  packages/services/package.json
  packages/utilities/package.json
Labels: Ready to merge

#7022 fix(cta): updated button to use expressive
  packages/web-components/src/components/button/button.ts
  packages/web-components/tests/snapshots/dds-button-group.md
Labels: Ready to merge

#6998 feat(table-of-contents): introducing react wrapper
  packages/web-components/.gitignore
  packages/web-components/examples/codesandbox/components-react/table-of-contents/.gitignore
  packages/web-components/examples/codesandbox/components-react/table-of-contents/index.html
  packages/web-components/examples/codesandbox/components-react/table-of-contents/package.json
  packages/web-components/examples/codesandbox/components-react/table-of-contents/sandbox.config.json
  packages/web-components/examples/codesandbox/components-react/table-of-contents/src/index.css
  packages/web-components/examples/codesandbox/components-react/table-of-contents/src/index.js
  packages/web-components/examples/codesandbox/components-react/table-of-contents/webpack.config.js
  packages/web-components/src/components/table-of-contents/__stories__/README.stories.react.mdx
  packages/web-components/src/components/table-of-contents/__stories__/table-of-contents.stories.react.tsx
  packages/web-components/src/components/table-of-contents/__stories__/wrapper-content.tsx
  packages/web-components/src/components/table-of-contents/table-of-contents.ts
Labels: Ready to merge

#7053 fix(dotcom-shell): ensure locale modal opens with scrollbars on
  packages/web-components/src/components/dotcom-shell/dotcom-shell-composite.ts
Labels: Ready to merge

#7026 feat(leadspace): add short variation
  packages/styles/scss/components/leadspace/_leadspace.scss
  packages/web-components/src/components/leadspace-with-search/__stories__/leadspace-with-search.stories.react.tsx
  packages/web-components/src/components/leadspace-with-search/__stories__/leadspace-with-search.stories.ts
  packages/web-components/src/components/leadspace/__stories__/leadspace.stories.react.tsx
  packages/web-components/src/components/leadspace/__stories__/leadspace.stories.ts
  packages/web-components/src/components/leadspace/defs.ts
  packages/web-components/src/components/leadspace/leadspace.ts
  packages/web-components/tests/snapshots/dds-leadspace.md
Labels: Ready to merge

#7027 fix(table-of-contents): added text color token to navigation icon
  packages/styles/scss/components/tableofcontents/_tableofcontents.scss
Labels: Ready to merge

#7062 fix(card-section-simple): aligning component in storybook
  packages/web-components/src/components/card-section-simple/__stories__/card-section-simple.stories.ts
Labels: Ready to merge

#7055 fix(footer): various expressive fixes for language/locale selector
  packages/styles/scss/components/footer/_language-selector.scss
  packages/styles/scss/components/footer/_legal-nav.scss
  packages/web-components/src/components/footer/locale-button.ts
Labels: dev, Ready to merge

#7047 chore(housekeeping): deprecate experimental components
  packages/react/.env.example
  packages/react/src/components/CalloutData/CalloutData.js
  packages/react/src/components/CalloutData/README.stories.mdx
  packages/react/src/components/CalloutData/__stories__/CalloutData.stories.js
  packages/react/src/components/CalloutData/index.js
  packages/react/src/components/PromoBanner/PromoBanner.js
  packages/react/src/components/PromoBanner/README.stories.mdx
  packages/react/src/components/PromoBanner/__stories__/PromoBanner.stories.js
  packages/react/src/components/PromoBanner/index.js
  packages/react/src/components/SimpleBenefits/README.stories.mdx
  packages/react/src/components/SimpleBenefits/SimpleBenefits.js
  packages/react/src/components/SimpleBenefits/SimpleBenefitsItem.js
  packages/react/src/components/SimpleBenefits/__stories__/SimpleBenefits.stories.js
  packages/react/src/components/SimpleBenefits/index.js
  packages/react/src/components/index.js
  packages/react/src/internal/FeatureFlags.js
  packages/styles/scss/components/callout-data/_callout-data.scss
  packages/styles/scss/components/callout-data/index.scss
  packages/styles/scss/components/promo-banner/index.scss
  packages/styles/scss/components/promo-banner/promo-banner.scss
  packages/styles/scss/components/simplebenefits/README.md
  packages/styles/scss/components/simplebenefits/_simplebenefits-item.scss
  packages/styles/scss/components/simplebenefits/_simplebenefits.scss
  packages/styles/scss/components/simplebenefits/index.scss
  packages/styles/scss/ibm-dotcom-styles.scss
  packages/styles/scss/patterns/sections/simplebenefits/README.md
  packages/styles/scss/patterns/sections/simplebenefits/_simplebenefits-item.scss
  packages/styles/scss/patterns/sections/simplebenefits/_simplebenefits.scss
  packages/styles/scss/patterns/sections/simplebenefits/index.scss
  packages/web-components/.env.example
  packages/web-components/examples/codesandbox/components/callout-data/.babelrc
  packages/web-components/examples/codesandbox/components/callout-data/.env.local
  packages/web-components/examples/codesandbox/components/callout-data/.gitignore
  packages/web-components/examples/codesandbox/components/callout-data/cdn.html
  packages/web-components/examples/codesandbox/components/callout-data/index.html
  packages/web-components/examples/codesandbox/components/callout-data/package.json
  packages/web-components/examples/codesandbox/components/callout-data/sandbox.config.json
  packages/web-components/examples/codesandbox/components/callout-data/src/index.js
  packages/web-components/src/components/callout-data/__stories__/README.stories.mdx
  packages/web-components/src/components/callout-data/__stories__/callout-data.stories.ts
  packages/web-components/src/components/callout-data/__tests__/callout-data.test.ts
  packages/web-components/src/components/callout-data/callout-data-copy.ts
  packages/web-components/src/components/callout-data/callout-data-heading.ts
  packages/web-components/src/components/callout-data/callout-data-source.ts
  packages/web-components/src/components/callout-data/callout-data.scss
  packages/web-components/src/components/callout-data/callout-data.ts
  packages/web-components/src/components/callout-data/index.ts
  packages/web-components/src/globals/internal/feature-flags.ts
  packages/web-components/tests/e2e/__tests__/callout-data/callout-data.cdn.e2e.js
  packages/web-components/tests/e2e/__tests__/callout-data/callout-data.e2e.js
  packages/web-components/tests/karma.conf.js
  packages/web-components/tests/snapshots/dds-callout-data.md
  packages/web-components/tools/get-rollup-config.js
Labels: Ready to merge

#7059 fix(filter-panel): fixed alignment of filter group items
  packages/styles/scss/components/filter-panel/_filter-panel.scss
Labels: dev, Ready to merge

#7034 fix(masthead): left-nav back link alignment
  packages/styles/scss/components/masthead/_masthead-leftnav.scss
Labels: Ready to merge

#7071 fix(image-with-caption): update expressive modal prop to expressive-size
  packages/web-components/src/components/image-with-caption/image-with-caption.ts
Labels: package: web components, Ready to merge

#7069 fix(search-with-typeahead): Prevent focusOut on button click in safari
  packages/web-components/src/components/search-with-typeahead/search-with-typeahead.ts
  packages/web-components/tests/snapshots/dds-search-with-typeahead.md
Labels: package: web components, Ready to merge

#7078 fix(locale-modal): update expressive theme styles
  packages/react/src/components/LocaleModal/__stories__/LocaleModal.stories.js
  packages/styles/scss/components/locale-modal/_locale-modal.scss
Labels: package: styles, Ready to merge

#7080 fix(locale-modal): correct modal close button positioning
  packages/styles/scss/components/locale-modal/_locale-modal.scss
Labels: package: styles, Ready to merge

#7020 chore(expressive-theme): prep for removal of expressive theme branch
  .github/workflows/automerge-feat.yml
  .github/workflows/percy-update-base.yml
Labels: Ready to merge

#7097 chore(styles): remove global deprecation notice
  packages/styles/scss/themes/expressive/index.scss
Labels: Ready to merge

#7083 feat(lightbox-media-viewer): title & description override
  packages/web-components/src/component-mixins/cta/video.ts
  packages/web-components/src/components/cta/__stories__/cta.stories.ts
  packages/web-components/src/components/cta/button-cta.ts
  packages/web-components/src/components/cta/card-cta-footer.ts
  packages/web-components/src/components/cta/card-cta.ts
  packages/web-components/src/components/cta/card-link-cta.ts
  packages/web-components/src/components/cta/feature-cta-footer.ts
  packages/web-components/src/components/cta/feature-cta.ts
  packages/web-components/src/components/cta/text-cta.ts
  packages/web-components/src/components/cta/video-cta-composite.ts
  packages/web-components/src/components/lightbox-media-viewer/__stories__/lightbox-media-viewer.stories.ts
  packages/web-components/src/components/lightbox-media-viewer/lightbox-video-player-composite.ts
  packages/web-components/src/components/video-player/__stories__/video-player.stories.ts
  packages/web-components/src/components/video-player/video-player-composite.ts
  packages/web-components/src/components/video-player/video-player.ts
Labels: package: web components, Ready to merge

#7101 fix(masthead): add check for focus elem in Masthead SideNavMenuSection to prevent type error
  packages/react/src/components/carbon-components-react/UIShell/SideNavMenuSection.js
Labels: package: react, Ready to merge, :eyes: eyes needed

#7095 feat(content-block-simple): add react wrapper
  packages/web-components/src/components/content-block-simple/__stories__/README.stories.react.mdx
  packages/web-components/src/components/content-block-simple/__stories__/content-block-simple.stories.react.tsx
  packages/web-components/src/components/content-block-simple/__stories__/content-block-simple.stories.scss
  packages/web-components/src/components/content-block-simple/content-block-simple.ts
Labels: package: web components, Ready to merge, Needs design approval, :eyes: eyes needed

#7107 fix(cloud-masthead): ensure that true is passed to the has-contact attribute
  packages/web-components/src/components/masthead/cloud/cloud-masthead-composite.ts
Labels: feature flag, package: web components, Ready to merge, adopter: Hybrid cloud, owner: Hybrid Cloud, :eyes: eyes needed

#7105 fix(video-player): set tabindex of 0 to dds-video-player
  packages/web-components/src/components/video-player/video-player.ts
Labels: package: web components, Ready to merge

#7106 fix(masthead): add missing divider line
  packages/styles/scss/components/masthead/_masthead-top-nav-name.scss
  packages/styles/scss/components/masthead/_masthead.scss
Labels: feature flag, package: web components, Ready to merge, :eyes: eyes needed

#7085 fix(masthead): handle overflow tabbing
  packages/web-components/src/components/masthead/__tests__/top-nav.test.ts
  packages/web-components/src/components/masthead/top-nav.ts
  packages/web-components/src/components/table-of-contents/table-of-contents.ts
Labels: RTL, package: web components, Ready to merge

#6937 feat(masthead): Add a logic that highlights the current and parent menu items within the Masthead dropdown + Mega Menu based on the URL
  packages/styles/scss/components/masthead/_masthead-leftnav.scss
  packages/web-components/src/components/masthead/cloud/cloud-masthead-composite.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/megamenu-category-group.ts
  packages/web-components/src/components/masthead/top-nav-menu-item.ts
Labels: feature flag, package: web components, Ready to merge, adopter: Hybrid cloud, adopter: Home page, owner: Hybrid Cloud

#7114 fix(dotcom-shell): adding missing dependency for codesandbox example
  packages/react/examples/codesandbox/components/DotcomShell/package.json
Labels: dev, Ready to merge

#7117 fix(e2e): removed `test-e2e` percy base update and added to react e2e
  .github/workflows/deploy-canary.yml
  .github/workflows/percy-update-base.yml
Labels: Ready to merge

#7118 fix(feature-card): updating color tokens
  packages/styles/scss/components/feature-card/_feature-card.scss
  packages/web-components/src/components/feature-card/feature-card.scss
Labels: package: react, package: web components, Ready to merge

#7006 fix(card): removes light background override from static card class
  packages/styles/scss/components/card-group/_card-group.scss
  packages/styles/scss/components/card/index.scss
Labels: package: react, Ready to merge

#7098 fix(card-in-card): fixed transition animation speed on card image
  packages/styles/scss/components/card-in-card/_card-in-card.scss
Labels: package: web components, Ready to merge

#7125 chore(support): updating support roster for sprint 19
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/contribution_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
Labels: dev, Ready to merge

#7120 chore(back-to-top): update React wrapper Storybook content
  packages/web-components/src/components/back-to-top/__stories__/back-to-top.stories.react.tsx
  packages/web-components/src/components/back-to-top/__stories__/back-to-top.stories.scss
  packages/web-components/src/components/back-to-top/__stories__/data/content.tsx
Labels: Ready to merge

#7146 fix(feature-card): update stable selector
  packages/web-components/docs/stable-selectors.md
  packages/web-components/src/components/feature-card/feature-card.ts
Labels: question, package: web components, Ready to merge

#7127 fix(callout-with-media): update copy color
  packages/styles/scss/components/callout-with-media/_callout-with-media.scss
  packages/styles/scss/internal/content-block/_content-block.scss
Labels: Ready to merge

#7126 fix(masthead): Wrap menu content when longer than the mobile or medium breakpoint
  packages/styles/scss/components/masthead/_masthead-leftnav.scss
  packages/web-components/src/components/masthead/masthead.scss
Labels: Ready to merge

#7086 fix(content-group-pictogram): icon size fix and alignment
  packages/styles/scss/components/pictogram-item/_pictogram-item.scss
  packages/web-components/src/components/content-block-mixed/__stories__/content-block-mixed.stories.ts
  packages/web-components/src/components/content-group-pictograms/__stories__/content-group-pictograms.stories.ts
  packages/web-components/src/components/pictogram-item/__stories__/pictogram-item.stories.ts
Labels: package: react, package: web components, Ready to merge

#7156 fix(content-block-media): add missing style import
  packages/styles/scss/components/content-block-media/_content-block-media.scss
  packages/styles/scss/components/content-block-media/index.scss
  packages/styles/scss/components/feature-card/_feature-card.scss
Labels: package: styles, Ready to merge

#7162 feat(link-list-section): create react wrapper
  packages/web-components/src/components/link-list-section/link-list-section.ts
Labels: Ready to merge

#7108 fix(cloud-masthead): address choppy transitions on mobile menu
  packages/styles/scss/components/masthead/_masthead-leftnav.scss
  packages/styles/scss/components/masthead/_masthead-megamenu.scss
Labels: feature flag, package: web components, Ready to merge, adopter: Hybrid cloud, owner: Hybrid Cloud

#7167 chore(codesandbox): update lit version
  packages/web-components/examples/codesandbox/components-react/card-in-card/package.json
  packages/web-components/examples/codesandbox/components-react/card-link/package.json
  packages/web-components/examples/codesandbox/components-react/carousel/package.json
  packages/web-components/examples/codesandbox/components-react/content-item-horizontal/package.json
  packages/web-components/examples/codesandbox/components-react/cta-section/package.json
  packages/web-components/examples/codesandbox/components-react/leadspace-with-search/package.json
  packages/web-components/examples/codesandbox/components-react/leadspace/package.json
  packages/web-components/examples/codesandbox/components-react/leaving-ibm/package.json
  packages/web-components/examples/codesandbox/components-react/search-with-typeahead/package.json
  packages/web-components/examples/codesandbox/components-react/table-of-contents/package.json
  packages/web-components/examples/codesandbox/components-react/tabs-extended-media/package.json
  packages/web-components/examples/codesandbox/components-react/tabs-extended/package.json
  packages/web-components/examples/codesandbox/components-react/tag-group/package.json
  packages/web-components/examples/codesandbox/components-react/tag-link/package.json
  packages/web-components/package.json
Labels: Ready to merge

#7149 fix(feature-card): resolve styling issues
  packages/styles/scss/components/card/index.scss
  packages/styles/scss/components/feature-card/_feature-card.scss
  packages/web-components/src/components/feature-card/feature-card.scss
Labels: package: react, package: styles, package: web components, Ready to merge

#7185 chore(github): adding form based issues
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/contribution_request.md
  .github/ISSUE_TEMPLATE/contribution_request.yaml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/question.md
  .github/ISSUE_TEMPLATE/question.yaml
  .github/ISSUE_TEMPLATE/user_story.md
  .github/ISSUE_TEMPLATE/user_story.yaml
Labels: dev, Ready to merge

#7186 chore(github-actions): remove tests-e2e from publish staging
  .github/workflows/deploy-staging.yml
Labels: dev, Ready to merge

#7193 chore(expressive): removing carbon expressive from github workflows
  .github/workflows/deploy-canary.yml
  .github/workflows/percy-update-base.yml
Labels: dev, Ready to merge

#7161 fix(masthead): Close left-nav and megamenu when on clickout or escape
  packages/web-components/src/components/masthead/left-nav-menu-section.ts
  packages/web-components/src/components/masthead/left-nav.ts
  packages/web-components/src/components/masthead/masthead.scss
  packages/web-components/src/components/masthead/megamenu-top-nav-menu.ts
Labels: feature flag, package: web components, Ready to merge

#7188 fix(tabs-extended): Add keyboard navigation
  packages/web-components/src/components/tabs-extended/tab.ts
  packages/web-components/src/components/tabs-extended/tabs-extended.ts
Labels: RTL, package: web components, Ready to merge

#7198 fix(leadspace): added the `short` variation to the storybook docs
  packages/web-components/src/components/leadspace/leadspace.ts
Labels: package: web components, Ready to merge

#7199 fix(cloud-masthead): API authentication method is not working on Cloud Docs dev application
  packages/services/src/services/CloudAccountAuth/CloudAccountAuth.js
  packages/web-components/src/components/masthead/cloud/cloud-masthead-container.ts
Labels: feature flag, package: web components, Ready to merge, owner: Hybrid Cloud

#7207 fix(cloud-masthead): adjust the Profile icon to 20px
  packages/web-components/src/components/masthead/masthead.scss
Labels: feature flag, package: web components, Ready to merge

#7195 fix(button-group): added documentation
  packages/web-components/src/components/button-group/__stories__/README.stories.mdx
Labels: Ready to merge

#7221 chore(beta-releases): removal of beta releases and deprecation warning
  packages/react/docs/breaking-changes.md
  packages/services/breaking-changes.md
  packages/web-components/README.md
  packages/web-components/docs/breaking-changes.md
  packages/web-components/docs/carbon-cdn-style-helpers.md
  packages/web-components/src/globals/internal/storybook-cdn.ts
  tasks/beta-releases.js
Labels: dev, Ready to merge

#7212 fix(cloud-mega-menu): adding missing hover bg color
  packages/web-components/src/components/masthead/cloud/cloud-masthead.scss
Labels: feature flag, package: web components, Ready to merge

#7222 feat(card-cta): allow video poster image to be turned off
  packages/web-components/src/components/cta/__stories__/cta.stories.ts
  packages/web-components/src/components/cta/card-cta.ts
Labels: package: web components, Ready to merge, adopter: AEM, :eyes: eyes needed

#7247 fix(cloud-masthead): set masthead position to fixed on menu open
  packages/web-components/src/components/masthead/left-nav-overlay.ts
  packages/web-components/src/components/masthead/left-nav.ts
Labels: feature flag, package: web components, Ready to merge

#7217 fix(cloud-masthead): ensure megamenu bottom graident sticks to bottom
  packages/web-components/src/components/masthead/masthead.scss
Labels: feature flag, package: web components, Ready to merge

#7248 chore(github-actions): auto update snapshots on carbon upgrade branches
  .github/workflows/snapshot-update.yml
Labels: dev, Ready to merge

#7254 chore(support): update support roster for sprint 20
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/contribution_request.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/question.yaml
Labels: dev, Ready to merge

#7253 fix(cloud-masthead): ensure megamenu closes when user clicks below it
  packages/web-components/src/components/masthead/cloud/cloud-masthead.scss
  packages/web-components/src/components/masthead/masthead.scss
Labels: feature flag, package: web components, Ready to merge

#7223 fix(masthead): fix focus wrapping and menu-section paging
  packages/web-components/src/components/masthead/left-nav-menu-section.ts
  packages/web-components/src/components/masthead/left-nav-name.ts
  packages/web-components/src/components/masthead/left-nav.ts
  packages/web-components/src/components/masthead/masthead.scss
Labels: feature flag, Ready to merge

#7200 fix(search-with-typeahead): Prevent search form closure on focusout
  packages/web-components/src/components/search-with-typeahead/search-with-typeahead.ts
  packages/web-components/tests/snapshots/dds-search-with-typeahead.md
Labels: package: web components, Ready to merge

#7262 chore(issue-form): adding fields to feature request form
  .github/ISSUE_TEMPLATE/feature_request.yaml
Labels: dev

#7257 chore(ImageWithCaption): make caption required
  packages/react/src/components/ImageWithCaption/ImageWithCaption.js
  packages/web-components/src/components/image-with-caption/image-with-caption.ts
  packages/web-components/tests/snapshots/dds-image-with-caption.md
Labels: package: react, package: web components, Ready to merge

#7250 fix(featured-section): adjust target new tab issue by extending dds-card-cta
  packages/styles/scss/components/card/index.scss
  packages/styles/scss/components/feature-section/_feature-section.scss
  packages/web-components/src/components/card/card.scss
  packages/web-components/src/components/feature-section/__stories__/README.stories.mdx
  packages/web-components/src/components/feature-section/__stories__/feature-section.stories.ts
  packages/web-components/src/components/feature-section/feature-section-card-link.ts
Labels: package: web components, Ready to merge, adopter: AEM, owner: Hybrid Cloud, :eyes: eyes needed

#7270 docs(plex): reformatting plex cdn to table format
  packages/web-components/docs/carbon-cdn-style-helpers.md
Labels: dev, Ready to merge

#7283 docs(expressive): missed documentation on expressive deprecation
  packages/styles/README.md
  packages/styles/scss/themes/expressive/README.md
Labels: dev, Ready to merge

#7184 fix(leadspace): allow lead space height to grow with content
  packages/styles/scss/components/leadspace/_leadspace.scss
  packages/web-components/src/components/leadspace/__stories__/leadspace.stories.ts
Labels: Ready to merge

#7214 fix(footer): addressing accessibility issues
  packages/web-components/.storybook/config.ts
  packages/web-components/src/components/footer/__stories__/footer.stories.ts
Labels: Ready to merge

#7246 chore(masthead): add masthead-l1 web components codesandbox example
  packages/web-components/examples/codesandbox/components/masthead-l1/.babelrc
  packages/web-components/examples/codesandbox/components/masthead-l1/.gitignore
  packages/web-components/examples/codesandbox/components/masthead-l1/.sassrc
  packages/web-components/examples/codesandbox/components/masthead-l1/cdn-rtl.html
  packages/web-components/examples/codesandbox/components/masthead-l1/cdn.html
  packages/web-components/examples/codesandbox/components/masthead-l1/index.html
  packages/web-components/examples/codesandbox/components/masthead-l1/package.json
  packages/web-components/examples/codesandbox/components/masthead-l1/sandbox.config.json
  packages/web-components/examples/codesandbox/components/masthead-l1/src/index-cdn.js
  packages/web-components/examples/codesandbox/components/masthead-l1/src/index.js
  packages/web-components/examples/codesandbox/components/masthead-l1/src/index.scss
Labels: package: web components, Ready to merge

#7286 fix(cta): allow CTAs to set target attribute value
  packages/web-components/src/component-mixins/cta/cta.ts
  packages/web-components/src/components/cta/__tests__/text-cta.test.ts
  packages/web-components/tests/snapshots/dds-text-cta.md
Labels: Ready to merge

#7290 docs(masthead): add codesandbox link for L1 to documentation
  packages/web-components/src/components/masthead/__stories__/README.stories.mdx
Labels: dev, Ready to merge
