Repository carbon-design-system/carbon-for-ibm-dotcom, pull requests merged in 2021-03, with the labels that each got.

#5243 fix(leaving-ibm): fixed text styles
  packages/web-components/src/components-react/leaving-ibm/leaving-ibm-composite.tsx
  packages/web-components/src/components/leaving-ibm/leaving-ibm.scss
Labels: Ready to merge

#5319 fix(content-block-headlines): same height using CSS grid
  packages/react/src/components/ContentBlockHeadlines/ContentBlockHeadlines.js
  packages/styles/scss/components/content-block-headlines/_content-block-headlines.scss
Labels: Ready to merge, feature flag, package: react

#5296 fix(masthead): keep back button fixed in place upon scroll
  packages/styles/scss/components/masthead/_masthead-leftnav.scss
Labels: Ready to merge, package: react, package: web components

#5310 feat(videoPlayer): aspect ratio support
  packages/web-components/src/components/video-player/__stories__/video-player.stories.ts
  packages/web-components/src/components/video-player/video-player-composite.ts
  packages/web-components/src/components/video-player/video-player.ts
Labels: Ready to merge, package: web components

#5325 fix(link-with-icon): update styles
  packages/styles/scss/components/link-with-icon/_link-with-icon.scss
Labels: Ready to merge, package: web components

#5331 fix(leavingIbm): max height limit to modal in landscape
  packages/web-components/src/components/leaving-ibm/leaving-ibm.scss
Labels: Ready to merge, package: react

#5343 fix(video-player): remove usage of React classnames
  packages/web-components/src/components/video-player/video-player.ts
Labels: Ready to merge, package: web components

#5299 fix(card-section-carousel): update component and styles
  packages/web-components/src/components/card-section-carousel/__stories__/README.stories.mdx
  packages/web-components/src/components/card-section-carousel/__stories__/README.stories.react.mdx
  packages/web-components/src/components/card-section-carousel/__stories__/card-section-carousel.stories.react.tsx
  packages/web-components/src/components/card-section-carousel/__stories__/card-section-carousel.stories.scss
  packages/web-components/src/components/card-section-carousel/__stories__/card-section-carousel.stories.ts
  packages/web-components/src/components/card-section-carousel/card-section-carousel.scss
  packages/web-components/src/components/card-section-carousel/card-section-carousel.ts
  packages/web-components/src/components/content-section/content-section.scss
Labels: Ready to merge

#5327 chore(storybook): remove placeholder content from masthead
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
Labels: Ready to merge, package: web components

#5350 fix(linkwithicon): remove inverse styles
  packages/styles/scss/components/link-with-icon/_link-with-icon.scss
Labels: Ready to merge, package: styles

#5291 fix(masthead): change brand-name to platform
  packages/web-components/src/components/dotcom-shell/__stories__/dotcom-shell.stories.ts
  packages/web-components/src/components/dotcom-shell/dotcom-shell-composite.ts
  packages/web-components/src/components/masthead/__stories__/README.stories.mdx
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
Labels: Ready to merge, package: web components

#5324 fix(region-item): update _handleClick
  .yarn/offline-mirror/carbon-web-components-1.11.1.tgz
  .yarn/offline-mirror/carbon-web-components-1.11.2.tgz
  package.json
  packages/web-components/package.json
  packages/web-components/src/components/locale-modal/region-item.ts
  yarn.lock
Labels: Ready to merge, package: web components

#5357 chore(video-player): misc enhancements/fixes
  packages/web-components/IMPLEMENTATION_NOTES.md
  packages/web-components/src/components/lightbox-media-viewer/lightbox-video-player-composite.ts
  packages/web-components/src/components/video-player/__tests__/video-player-composite.test.ts
  packages/web-components/src/components/video-player/video-player-composite.ts
Labels: Ready to merge, package: web components

#5362 fix(carousel): updated pagination token
  packages/styles/scss/components/carousel/_carousel.scss
Labels: Ready to merge, package: web components

#5374 feat(masthead): be able to set platform url
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
Labels: Ready to merge, package: web components

#5353 feat(services): added support for REACT_APP_PROFILE_HOST
  packages/services/src/services/Profile/Profile.js
  packages/services/src/services/VideoPlayer/VideoPlayer.js
Labels: Ready to merge

#5378 chore(carousel): carousel variation stories
  packages/web-components/src/components/carousel/__stories__/carousel.stories.ts
Labels: Ready to merge, package: web components

#5388 fix(expressive-modal): various style fixes
  packages/styles/scss/components/expressive-modal/_expressive-modal.scss
  packages/styles/scss/components/lightbox-media-viewer/_lightbox-media-viewer.scss
  packages/web-components/src/components/expressive-modal/expressive-modal.scss
Labels: Ready to merge

#5373 fix(lightbox-media-viewer): added role and label
  packages/web-components/src/components/lightbox-media-viewer/lightbox-video-player.ts
  packages/web-components/tests/snapshots/dds-lightbox-video-player-composite.md
Labels: Ready to merge

#5381 fix(callout-data): background token fix
  packages/styles/scss/components/callout-data/_callout-data.scss
Labels: Ready to merge, feature flag, package: web components

#5320 fix(logo-grid): align to non-gutter grid
  packages/styles/scss/components/logo-grid/_logo-grid.scss
  packages/web-components/.storybook/container.scss
  packages/web-components/src/components/logo-grid/__stories__/logo-grid.stories.ts
  packages/web-components/src/components/logo-grid/logo-grid.ts
  packages/web-components/tests/snapshots/dds-logo-grid.md
Labels: Ready to merge

#5346 fix(leadspace-block): align to non-gutter grid
  packages/styles/scss/components/leadspace-block/_leadspace-block.scss
  packages/web-components/src/components/leadspace-block/__stories__/leadspace-block.stories.ts
  packages/web-components/src/components/leadspace-block/leadspace-block.scss
  packages/web-components/src/components/leadspace-block/leadspace-block.ts
  packages/web-components/src/components/link-list/link-list.scss
  packages/web-components/tests/snapshots/dds-leadspace-block.md
Labels: Ready to merge, package: web components

#5429 fix(card): remove decoration on hover
  packages/styles/scss/components/card/index.scss
Labels: Ready to merge, package: react

#5363 feat(content-item-horizontal-media): introducing content item horizontal media web component
  packages/styles/scss/components/content-item-horizontal-media/_content-item-horizontal-media.scss
  packages/web-components/.storybook/container.scss
  packages/web-components/src/components/content-item-horizontal/__stories__/README.stories.mdx
  packages/web-components/src/components/content-item-horizontal/__stories__/content-item-horizontal.stories.ts
  packages/web-components/src/components/content-item-horizontal/content-item-horizontal-media-copy.ts
  packages/web-components/src/components/content-item-horizontal/content-item-horizontal-media-video.ts
  packages/web-components/src/components/content-item-horizontal/content-item-horizontal-media.scss
  packages/web-components/src/components/content-item-horizontal/content-item-horizontal-media.ts
  packages/web-components/src/components/content-item-horizontal/defs.ts
Labels: Ready to merge

#5407 feat(translate): accept diff endpoint arg for translation service
  packages/react/src/components/Masthead/Masthead.js
  packages/services-store/src/actions/translateAPI.ts
  packages/services/src/services/Translation/Translation.js
  packages/services/src/services/Translation/__tests__/Translation.test.js
  packages/web-components/src/components/masthead/__stories__/README.stories.mdx
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/tests/integration/build/mock-entrypoint.js
Labels: Ready to merge, package: services, package: web components

#5448 chore(dependencies): upgrade carbon-web-components
  .yarn/offline-mirror/carbon-web-components-1.11.2.tgz
  .yarn/offline-mirror/carbon-web-components-1.12.0.tgz
  package.json
  packages/web-components/examples/codesandbox/components/image/package.json
  packages/web-components/examples/codesandbox/components/leaving-ibm/package.json
  packages/web-components/examples/codesandbox/components/lightbox-media-viewer/package.json
  packages/web-components/examples/codesandbox/components/logo-grid/package.json
  packages/web-components/examples/codesandbox/components/quote/package.json
  packages/web-components/examples/codesandbox/usage/webpack-handlebars/package.json
  packages/web-components/examples/codesandbox/usage/webpack-rtl/package.json
  packages/web-components/package.json
  yarn.lock
Labels: Ready to merge, package: web components

#5432 fix(content-group-cards): align to non-gutter grid
  packages/web-components/src/components/content-group-cards/__stories__/content-group-cards.stories.ts
Labels: Ready to merge, package: web components

#5440 fix(expressive-modal): toggle aria-hidden upon modal closing
  packages/web-components/src/components/expressive-modal/expressive-modal.ts
  packages/web-components/src/components/lightbox-media-viewer/lightbox-video-player-composite.ts
Labels: Ready to merge

#5276 fix(leadSpace): multiple visual bugs
  packages/styles/scss/components/leadspace-with-search/leadspace-with-search.scss
Labels: Ready to merge, feature flag, package: react

#5414 fix(carousel): missing hint size in story
  packages/web-components/src/components/carousel/__stories__/carousel.stories.scss
Labels: Ready to merge, package: web components

#5451 fix(back-to-top): add aria-label to button
  packages/web-components/src/components/back-to-top/back-to-top.ts
Labels: Ready to merge, package: web components

#5445 fix(scroll-animations): add to react exports and fixing readme
  packages/react/src/components/ScrollAnimations/README.stories.mdx
  packages/react/src/components/index.js
Labels: Ready to merge

#5446 feat(table-of-contents): added horizontal variant
  packages/styles/scss/components/tableofcontents/_tableofcontents.scss
  packages/web-components/src/components/table-of-contents/__stories__/table-of-contents.stories.ts
  packages/web-components/src/components/table-of-contents/defs.ts
  packages/web-components/src/components/table-of-contents/table-of-contents.scss
  packages/web-components/src/components/table-of-contents/table-of-contents.ts
Labels: Ready to merge, package: web components

#5444 fix(carousel): swipe functionality
  packages/web-components/src/components/carousel/carousel.ts
Labels: Ready to merge, package: web components

#5457 docs(ButtonGroup): add onClick prop and remove href & copy prop requirement
  packages/react/src/components/ButtonGroup/ButtonGroup.js
  packages/react/src/components/ButtonGroup/README.stories.mdx
Labels: Ready to merge

#5419 feat(card-in-card): add Card in Card (UI Component) and Card Group with Card in Card (Layout Component)
  packages/storybook-images/assets/320/fpo--4x3--320x160--004.jpg
  packages/styles/scss/components/card-group/_card-group.scss
  packages/styles/scss/components/card-in-card/README.md
  packages/styles/scss/components/card-in-card/_card-in-card.scss
  packages/web-components/.storybook/container.scss
  packages/web-components/src/components/card-group/__stories__/README.stories.mdx
  packages/web-components/src/components/card-group/__stories__/card-group.stories.ts
  packages/web-components/src/components/card-group/card-group.ts
  packages/web-components/src/components/card-group/defs.ts
  packages/web-components/src/components/card-in-card/__stories__/README.stories.mdx
  packages/web-components/src/components/card-in-card/__stories__/card-in-card.stories.ts
  packages/web-components/src/components/card-in-card/__tests__/card-in-card.test.ts
  packages/web-components/src/components/card-in-card/card-in-card-footer.ts
  packages/web-components/src/components/card-in-card/card-in-card-image.ts
  packages/web-components/src/components/card-in-card/card-in-card.scss
  packages/web-components/src/components/card-in-card/card-in-card.ts
Labels: Ready to merge, package: web components

#5462 chore(typescript): adding typescript v3.8.x as a peer dependency
  .yarn/offline-mirror/node-notifier-9.0.0.tgz
  .yarn/offline-mirror/node-notifier-9.0.1.tgz
  packages/web-components/package.json
  yarn.lock
Labels: Ready to merge

#5453 fix(leadspace): remove image from centered leadspace with no image
  packages/web-components/src/components/leadspace/__stories__/leadspace.stories.ts
  packages/web-components/src/components/leadspace/leadspace.scss
  packages/web-components/src/components/leadspace/leadspace.ts
  packages/web-components/tests/snapshots/dds-leadspace.md
Labels: Ready to merge, package: web components

#5431 fix(masthead): add background color to grouped title
  packages/styles/scss/components/masthead/_masthead-search.scss
Labels: Ready to merge

#5435 feat(leadspace): introduced leadspace medium variant
  packages/styles/scss/components/leadspace/_leadspace.scss
  packages/web-components/src/components/leadspace/__stories__/leadspace.stories.ts
  packages/web-components/src/components/leadspace/__tests__/leadspace.test.ts
  packages/web-components/src/components/leadspace/defs.ts
  packages/web-components/src/components/leadspace/leadspace.ts
  packages/web-components/tests/snapshots/dds-leadspace.md
Labels: Ready to merge

#5476 fix(table-of-contents): heading being overlapped by navbar.
  packages/styles/scss/components/tableofcontents/_tableofcontents.scss
  packages/web-components/src/components/table-of-contents/__stories__/README.stories.mdx
  packages/web-components/src/components/table-of-contents/__stories__/content.ts
  packages/web-components/src/components/table-of-contents/__stories__/table-of-contents.stories.ts
Labels: Ready to merge, package: web components

#5463 Add og image to Web components storybook
  packages/react/.storybook/manager-head.html
  packages/web-components/.storybook/manager-head.html
Labels: Ready to merge

#5516 fix(masthead): using correct token for essentials description text
  packages/styles/scss/components/masthead/_masthead-megamenu.scss
Labels: Ready to merge, package: web components

#5526 fix(leadspace): fixes carbon theme issue on small breakpoints
  packages/styles/scss/components/leadspace/_leadspace.scss
  packages/web-components/src/components/leadspace/leadspace.scss
Labels: Ready to merge

#5480 chore(content-group): update base class to new layout
  packages/web-components/src/components/callout-with-media/callout-with-media.ts
  packages/web-components/src/components/content-block-cards/content-block-cards.ts
  packages/web-components/src/components/content-block-headlines/content-block-headlines.ts
  packages/web-components/src/components/content-block-media/content-block-media.ts
  packages/web-components/src/components/content-block-mixed/content-block-mixed.ts
  packages/web-components/src/components/content-block-segmented/content-block-segmented.ts
  packages/web-components/src/components/content-block-simple/content-block-simple.ts
  packages/web-components/src/components/content-block/content-block.ts
  packages/web-components/src/components/content-group-cards/content-group-cards.ts
  packages/web-components/src/components/content-group-horizontal/content-group-horizontal.ts
  packages/web-components/src/components/content-group-pictograms/content-group-pictograms.ts
  packages/web-components/src/components/content-group-simple/content-group-simple.ts
  packages/web-components/src/components/content-group/content-group.scss
  packages/web-components/src/components/content-group/content-group.ts
  packages/web-components/tests/snapshots/dds-content-block-cards.md
  packages/web-components/tests/snapshots/dds-content-group-cards.md
  packages/web-components/tests/snapshots/dds-content-group-horizontal.md
  packages/web-components/tests/snapshots/dds-content-group-simple.md
  packages/web-components/tests/snapshots/dds-cta-section.md
  packages/web-components/tests/snapshots/dds-logo-grid.md
Labels: Ready to merge, package: web components

#5535 chore(back-to-top): fix typo in readme
  packages/react/src/components/BackToTop/README.stories.mdx
Labels: Ready to merge, package: web components

#5494 fix(card-in-card): adjust card in card wrapper width on Collapsed grid mode
  packages/styles/scss/components/card-in-card/_card-in-card.scss
  packages/web-components/src/components/card-group/__stories__/README.stories.mdx
  packages/web-components/src/components/card-group/__stories__/card-group.stories.ts
Labels: Ready to merge

#5515 fix(card-cta): update video image to 4x3 styles
  packages/web-components/src/components/card-group/__stories__/card-group.stories.ts
  packages/web-components/src/components/cta/card-cta-image.ts
  packages/web-components/src/components/cta/card-cta.ts
  packages/web-components/src/components/image/image.scss
  packages/web-components/tests/snapshots/dds-card-cta.md
  packages/web-components/tests/snapshots/dds-card-in-card.md
Labels: Ready to merge, package: web components

#5575 docs(FeatureCardBlockMedium): remove array brackets from card object in docs
  packages/react/src/components/FeatureCardBlockMedium/README.stories.mdx
Labels: Ready to merge, package: react

#5570 fix(table-of-contents): spacing fixes for toc
  packages/react/src/components/TableOfContents/__stories__/TableOfContents.stories.scss
  packages/styles/scss/components/tableofcontents/_tableofcontents.scss
  packages/web-components/src/components/table-of-contents/__stories__/table-of-contents.stories.scss
Labels: Ready to merge

#5584 test(e2e): adding additional carbon theme test coverage for percy
  packages/tests-e2e/__tests__/callout-quote/callout-quote.e2e.js
  packages/tests-e2e/__tests__/quote/quote.e2e.js
  packages/tests-e2e/__tests__/table-of-contents/table-of-contents.e2e.js
Labels: Ready to merge

#5583 chore(telemetry): adding carbon telemetry
  .yarn/offline-mirror/@carbon-icon-helpers-10.15.0.tgz
  .yarn/offline-mirror/@carbon-icons-react-10.27.0.tgz
  .yarn/offline-mirror/@carbon-icons-react-10.28.0.tgz
  packages/react/package.json
  packages/services/package.json
  packages/styles/package.json
  packages/utilities/package.json
  packages/web-components/package.json
  yarn.lock
Labels: Ready to merge

#5610 docs(web-components): fix typo
  packages/web-components/IMPLEMENTATION_NOTES.md
Labels: Ready to merge, package: web components

#5582 fix(masthead): enabled search suggestions with custom data
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
  packages/web-components/src/components/masthead/masthead-container-search-only.ts
Labels: Ready to merge, package: web components

#5571 fix(content-item-horizontal-media): Switched the default alignment fr…
  packages/web-components/src/components/content-item-horizontal/__stories__/content-item-horizontal.stories.ts
  packages/web-components/src/components/content-item-horizontal/content-item-horizontal-media.ts
Labels: Ready to merge

#5654 fix(video-player): import image component within video-player component
  packages/web-components/src/components/video-player/video-player.ts
Labels: Ready to merge, package: web components

#5580 chore(button): removed wc story and renamed to button expressive
  packages/web-components/examples/codesandbox/components/button/index.html
  packages/web-components/examples/codesandbox/components/expressive-modal/index.html
  packages/web-components/examples/codesandbox/components/lightbox-media-viewer/index.html
  packages/web-components/examples/codesandbox/components/locale-modal/index.html
  packages/web-components/src/components/button-group/button-group-item.ts
  packages/web-components/src/components/button/__stories__/README.stories.mdx
  packages/web-components/src/components/button/__stories__/button.stories.ts
  packages/web-components/src/components/button/button.scss
  packages/web-components/src/components/button/button.ts
  packages/web-components/src/components/expressive-modal/__stories__/README.stories.mdx
  packages/web-components/src/components/expressive-modal/__stories__/expressive-modal.stories.ts
  packages/web-components/src/components/expressive-modal/__tests__/expressive-modal.test.ts
  packages/web-components/src/components/expressive-modal/expressive-modal.ts
Labels: Ready to merge

#5655 fix(toc): missing hover state
  packages/styles/scss/components/tableofcontents/_tableofcontents.scss
Labels: Ready to merge

#5532 fix(cardGroup): storybook improvements
  packages/web-components/src/components/card-group/__stories__/card-group.stories.scss
  packages/web-components/src/components/card-group/__stories__/card-group.stories.ts
Labels: Ready to merge, storybook

#5528 fix(callout): changing background-color token
  packages/styles/scss/components/callout-quote/index.scss
  packages/styles/scss/components/callout-with-media/_callout-with-media.scss
  packages/styles/scss/internal/callout/_callout.scss
  packages/web-components/src/components/callout-quote/__stories__/callout-quote.stories.ts
  packages/web-components/src/components/callout-quote/callout-link-with-icon.ts
  packages/web-components/src/components/callout-quote/callout-quote.scss
  packages/web-components/src/components/callout-with-media/__stories__/callout-with-media.stories.ts
  packages/web-components/src/components/dotcom-shell/__stories__/data/content.ts
Labels: Ready to merge

#5656 chore(percy): skipping card group with mixed media in AVT
  packages/web-components/src/components/card-group/__stories__/card-group.stories.ts
Labels: Ready to merge

#5659 fix(link-list): added proper background on hover and removed underline
  packages/styles/scss/components/link-list/_link-list.scss
  packages/styles/scss/components/link-with-icon/_link-with-icon.scss
  packages/web-components/src/components/card/card.scss
  packages/web-components/src/components/link-list/link-list.scss
Labels: Ready to merge, package: react, package: web components

#5662 fix(toc): add overflow to horizontal
  packages/styles/scss/components/tableofcontents/_tableofcontents.scss
  packages/web-components/src/components/table-of-contents/__stories__/content.ts
  packages/web-components/src/components/table-of-contents/__stories__/table-of-contents.stories.scss
  packages/web-components/src/components/table-of-contents/table-of-contents.scss
  packages/web-components/src/components/table-of-contents/table-of-contents.ts
  packages/web-components/tests/snapshots/dds-table-of-contents.md
Labels: Ready to merge, package: web components
