Repository carbon-design-system/carbon-for-ibm-dotcom, pull requests merged in 2021-06, with the labels that each got.

#6216 fix(leadspace): wrap breadcrumb after full row
  packages/styles/scss/components/leadspace/_leadspace.scss
  packages/web-components/src/components/leadspace/__stories__/leadspace.stories.ts
  packages/web-components/src/components/leadspace/breadcrumb-item.ts
  packages/web-components/src/components/leadspace/breadcrumb-link.ts
  packages/web-components/src/components/leadspace/breadcrumb.ts
  packages/web-components/src/components/leadspace/index.ts
Labels: Ready to merge, package: web components

#6226 fix(lightbox-video-player): update videoID and only open if playing mode is lightbox
  packages/web-components/src/components/lightbox-media-viewer/lightbox-video-player-composite.ts
Labels: Ready to merge, package: web components

#6235 fix(utilities): use util package for deprecate instead of relative path
  packages/web-components/src/components/feature-card-block-large/feature-card-block-large.ts
  packages/web-components/src/components/feature-card-block-medium/feature-card-block-medium.ts
Labels: Ready to merge, package: web components

#6238 chore(cloud-foundry): updating manifest configs to force https
  packages/react/manifest-canary.yml
  packages/react/manifest-experimental.yml
  packages/react/manifest-expressive.yml
  packages/react/manifest-rtl.yml
  packages/react/manifest-staging.yml
  packages/react/manifest.yml
  packages/services/manifest.yml
  packages/styles/manifest.yml
  packages/utilities/manifest.yml
  packages/web-components/manifest-canary.yml
  packages/web-components/manifest-experimental.yml
  packages/web-components/manifest-react.yml
  packages/web-components/manifest-rtl.yml
  packages/web-components/manifest-staging.yml
  packages/web-components/manifest.yml
Labels: Ready to merge

#6239 fix(leadspace): breadcrumb style import
  packages/styles/scss/components/leadspace/_leadspace.scss
  packages/web-components/src/components/leadspace/leadspace.scss
Labels: Ready to merge

#6257 fix(dotcom-shell): add checks if ToC exist
  packages/web-components/src/components/dotcom-shell/dotcom-shell-composite.ts
Labels: Ready to merge, package: web components

#6208 fix(masthead-search): delay position for cursor focus
  packages/web-components/src/components/masthead/masthead-search.ts
Labels: Ready to merge, package: web components

#5922 fix(masthead): apply global styles updates based on Unified Cloud Masthead project
  packages/styles/scss/components/masthead/_masthead-leftnav.scss
  packages/styles/scss/components/masthead/_masthead-megamenu.scss
  packages/styles/scss/components/masthead/_masthead-search.scss
  packages/styles/scss/components/masthead/_masthead.scss
  packages/web-components/src/components/masthead/__stories__/cloud-masthead.stories.ts
  packages/web-components/src/components/masthead/__tests__/masthead-profile.test.ts
  packages/web-components/src/components/masthead/cloud/cloud-masthead-composite.ts
  packages/web-components/src/components/masthead/cloud/cloud-masthead.scss
Labels: Ready to merge, feature flag, package: web components

#6259 fix(leadspace): fixes gradient and adds new leadspace image
  packages/storybook-images/assets/leadspace/leadspaceMax.jpg
  packages/styles/scss/components/leadspace/_leadspace.scss
  packages/web-components/src/components/leadspace/__stories__/leadspace.stories.ts
  packages/web-components/src/components/leadspace/leadspace.ts
Labels: Ready to merge

#6260 fix(lightbox-video-player): add check for video cta specific modal to open and prevent multiple modals from opening
  packages/web-components/src/components/cta/video-cta-composite.ts
  packages/web-components/src/components/lightbox-media-viewer/lightbox-video-player-composite.ts
  packages/web-components/src/components/video-player/__tests__/video-player-composite.test.ts
  packages/web-components/src/components/video-player/video-player-composite.ts
  packages/web-components/tests/snapshots/dds-video-cta-composite.md
Labels: Ready to merge, package: web components

#6152 fix(card-group): optional border for card group default
  packages/styles/scss/components/card-group/_card-group.scss
  packages/web-components/src/components/card-group/__stories__/card-group.stories.ts
  packages/web-components/src/components/card-group/card-group.scss
  packages/web-components/src/components/card-group/card-group.ts
  packages/web-components/src/components/card-group/defs.ts
Labels: Ready to merge, package: web components

#6198 feat(content-block-card-static): created component
  packages/styles/scss/components/card-group/_card-group.scss
  packages/web-components/examples/codesandbox/components/content-block-card-static/.babelrc
  packages/web-components/examples/codesandbox/components/content-block-card-static/.env.local
  packages/web-components/examples/codesandbox/components/content-block-card-static/.gitignore
  packages/web-components/examples/codesandbox/components/content-block-card-static/.sassrc
  packages/web-components/examples/codesandbox/components/content-block-card-static/index.html
  packages/web-components/examples/codesandbox/components/content-block-card-static/package.json
  packages/web-components/examples/codesandbox/components/content-block-card-static/sandbox.config.json
  packages/web-components/examples/codesandbox/components/content-block-card-static/src/index.js
  packages/web-components/examples/codesandbox/components/content-block-card-static/src/index.scss
  packages/web-components/src/components/card-group/card-group.ts
  packages/web-components/src/components/content-block-card-static/__stories__/README.stories.mdx
  packages/web-components/src/components/content-block-card-static/__stories__/content-block-card-static.stories.ts
  packages/web-components/src/components/content-block-card-static/__tests__/content-block-card-static.test.ts
  packages/web-components/src/components/content-block-card-static/content-block-card-static.scss
  packages/web-components/src/components/content-block-card-static/content-block-card-static.ts
  packages/web-components/src/components/content-block-card-static/index.ts
  packages/web-components/src/globals/internal/feature-flags.ts
  packages/web-components/tests/snapshots/dds-content-block-card-static.md
Labels: Ready to merge, feature flag, package: web components

#6127 chore(expressive): disable the expressive theme in Carbon for IBM.com
  packages/styles/.storybook/_container.scss
  packages/styles/scss/components/carousel/_carousel.scss
  packages/styles/scss/components/footer/_footer-nav.scss
  packages/styles/scss/components/footer/_language-selector.scss
  packages/styles/scss/components/footer/_locale-button.scss
  packages/styles/scss/components/footer/index.scss
  packages/styles/scss/components/locale-modal/_locale-modal.scss
  packages/styles/scss/components/masthead/_masthead-leftnav.scss
  packages/styles/scss/components/masthead/_masthead-megamenu.scss
  packages/styles/scss/components/masthead/_masthead-search.scss
  packages/styles/scss/components/tabs-extended-media/_tabs-extended-media.scss
  packages/styles/scss/components/tabs-extended/_tabs-extended.scss
  packages/styles/scss/components/tag-link/_tag-link.scss
  packages/styles/scss/globals/_imports.scss
  packages/styles/scss/ibm-dotcom-styles.scss
  packages/styles/scss/themes/expressive/components/_tabs.scss
  packages/web-components/.storybook/container.scss
  packages/web-components/src/components/button/button.scss
  packages/web-components/src/components/footer/footer.scss
  packages/web-components/src/components/link-list/link-list.scss
  packages/web-components/src/components/link-with-icon/link-with-icon.scss
  packages/web-components/src/components/search/search.scss
Labels: Ready to merge

#6282 chore(support): updating support roster for sprint 12
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/contribution_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
Labels: Ready to merge

#6285 chore(cloud-masthead): update styles flex value
  packages/web-components/src/components/masthead/cloud/cloud-masthead.scss
Labels: Ready to merge

#6283 fix(e2e): fixing content-block-card-static e2e build test
  packages/web-components/examples/codesandbox/components/content-block-card-static/.sassrc
  packages/web-components/examples/codesandbox/components/content-block-card-static/package.json
Labels: Ready to merge

#6307 fix(dotcom-shell): horizontal toc feature card fix
  packages/web-components/src/components/dotcom-shell/__stories__/data/content.ts
Labels: Ready to merge

#6167 fix(content-item): allow button as cta style
  packages/react/src/internal/components/ContentItem/ContentItem.js
  packages/react/src/internal/components/ContentItem/README.stories.mdx
Labels: Ready to merge, package: react

#6318 fix(card-group): use default import for sameHeight utility function
  packages/web-components/src/components/card-group/card-group.ts
  packages/web-components/src/components/cta-block/cta-block-item-row.ts
Labels: Ready to merge

#6304 fix(back-to-top): fix button right padding
  packages/styles/scss/components/back-to-top/_back-to-top.scss
Labels: Ready to merge, package: web components

#6327 fix(card-in-card): lowered z-index value
  packages/styles/scss/components/card-in-card/_card-in-card.scss
Labels: Ready to merge

#6331 fix(masthead-l1): match data structure to react and reuse general `renderNavItems` function
  packages/services-store/src/types/translateAPI.ts
  packages/web-components/src/components/masthead/__stories__/links.ts
  packages/web-components/src/components/masthead/cloud/cloud-masthead-composite.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/masthead.scss
Labels: Ready to merge, feature flag, package: web components

#6305 fix(language-selector): update menu bottom spacing
  packages/styles/scss/components/footer/_language-selector.scss
  packages/web-components/src/components/footer/__stories__/footer.stories.scss
  packages/web-components/src/components/footer/__stories__/footer.stories.ts
  packages/web-components/src/components/footer/footer.scss
Labels: Ready to merge, package: styles

#6397 docs(building-for-ibm): updated headings to follow style convention
  docs/building-for-ibm-dotcom.md
Labels: Ready to merge

#6385 docs(cdn): adding reusable CDN doc partials for web components
  packages/web-components/.storybook/preview-head.html
  packages/web-components/docs/plex.md
  packages/web-components/src/components/back-to-top/__stories__/README.stories.mdx
  packages/web-components/src/components/button-group/__stories__/README.stories.mdx
  packages/web-components/src/components/callout-data/__stories__/README.stories.mdx
  packages/web-components/src/components/callout-quote/__stories__/README.stories.mdx
  packages/web-components/src/components/callout-with-media/__stories__/README.stories.mdx
  packages/web-components/src/components/card-group/__stories__/README.stories.mdx
  packages/web-components/src/components/card-in-card/__stories__/README.stories.mdx
  packages/web-components/src/components/card-link/__stories__/README.stories.mdx
  packages/web-components/src/components/card-section-carousel/__stories__/README.stories.mdx
  packages/web-components/src/components/card-section-carousel/__stories__/README.stories.react.mdx
  packages/web-components/src/components/card-section-images/__stories__/README.stories.mdx
  packages/web-components/src/components/card-section-simple/__stories__/README.stories.mdx
  packages/web-components/src/components/card/__stories__/README.stories.mdx
  packages/web-components/src/components/carousel/__stories__/README.stories.mdx
  packages/web-components/src/components/content-block-card-static/__stories__/README.stories.mdx
  packages/web-components/src/components/content-block-cards/__stories__/README.stories.mdx
  packages/web-components/src/components/content-block-headlines/__stories__/README.stories.mdx
  packages/web-components/src/components/content-block-media/__stories__/README.stories.mdx
  packages/web-components/src/components/content-block-mixed/__stories__/README.stories.mdx
  packages/web-components/src/components/content-block-segmented/__stories__/README.stories.mdx
  packages/web-components/src/components/content-block-simple/__stories__/README.stories.mdx
  packages/web-components/src/components/content-group-banner/__stories__/README.stories.mdx
  packages/web-components/src/components/content-group-cards/__stories__/README.stories.mdx
  packages/web-components/src/components/content-group-horizontal/__stories__/README.stories.mdx
  packages/web-components/src/components/content-group-pictograms/__stories__/README.stories.mdx
  packages/web-components/src/components/content-group-simple/__stories__/README.stories.mdx
  packages/web-components/src/components/content-item-horizontal/__stories__/README.stories.mdx
  packages/web-components/src/components/cta-block/__stories__/README.stories.mdx
  packages/web-components/src/components/cta-section/__stories__/README.stories.mdx
  packages/web-components/src/components/cta/__stories__/README.stories.mdx
  packages/web-components/src/components/dotcom-shell/__stories__/README.stories.mdx
  packages/web-components/src/components/expressive-modal/__stories__/README.stories.mdx
  packages/web-components/src/components/feature-card/__stories__/README.stories.mdx
  packages/web-components/src/components/footer/__stories__/README.stories.mdx
  packages/web-components/src/components/horizontal-rule/__stories__/README.stories.mdx
  packages/web-components/src/components/image-with-caption/__stories__/README.stories.mdx
  packages/web-components/src/components/image/__stories__/README.stories.mdx
  packages/web-components/src/components/leadspace-block/__stories__/README.stories.mdx
  packages/web-components/src/components/leadspace/__stories__/README.stories.mdx
  packages/web-components/src/components/leaving-ibm/__stories__/README.stories.mdx
  packages/web-components/src/components/lightbox-media-viewer/__stories__/README.stories.mdx
  packages/web-components/src/components/link-list-section/__stories__/README.stories.mdx
  packages/web-components/src/components/link-list/__stories__/README.stories.mdx
  packages/web-components/src/components/link-with-icon/__stories__/README.stories.mdx
  packages/web-components/src/components/locale-modal/__stories__/README.stories.mdx
  packages/web-components/src/components/logo-grid/__stories__/README.stories.mdx
  packages/web-components/src/components/masthead/__stories__/README.stories.mdx
  packages/web-components/src/components/pictogram-item/__stories__/README.stories.mdx
  packages/web-components/src/components/quote/__stories__/README.stories.mdx
  packages/web-components/src/components/scroll-animations/__stories__/README.stories.mdx
  packages/web-components/src/components/table-of-contents/__stories__/README.stories.mdx
  packages/web-components/src/components/tabs-extended-media/__stories__/README.stories.mdx
  packages/web-components/src/components/tabs-extended/__stories__/README.stories.mdx
  packages/web-components/src/components/tag-group/__stories__/README.stories.mdx
  packages/web-components/src/components/tag-link/__stories__/README.stories.mdx
  packages/web-components/src/components/video-player/__stories__/README.stories.mdx
  packages/web-components/src/globals/internal/storybook-cdn.ts
Labels: Ready to merge, dev

#6406 fix(carousel): prev/next button a11y fixes
  packages/web-components/src/components/carousel/carousel.ts
  packages/web-components/tests/snapshots/dds-carousel.md
Labels: Ready to merge, package: web components

#6337 fix(content-group): spacing above and below
  packages/styles/scss/internal/content-group/_content-group.scss
  packages/web-components/src/components/content-group-pictograms/__stories__/content-group-pictograms.stories.scss
Labels: Ready to merge

#6368 fix(tabs-extended-media): page wobble while scrolling fix
  packages/styles/scss/components/tabs-extended-media/_tabs-extended-media.scss
Labels: Ready to merge, package: web components

#6349 feat(content-block): added mock markup for content-block-heading
  packages/utilities/src/utilities/stripHTML/__tests__/index.test.js
  packages/utilities/src/utilities/stripHTML/index.js
  packages/utilities/src/utilities/stripHTML/stripHTML.js
  packages/web-components/src/components/content-block-simple/__stories__/content-block-simple.stories.ts
  packages/web-components/src/components/content-block/content-block-heading.ts
  packages/web-components/src/components/content-block/content-block-paragraph.ts
Labels: Ready to merge

#6383 fix(back-to-top): remove extra spacing
  packages/styles/scss/components/back-to-top/_back-to-top.scss
Labels: Ready to merge, package: web components

#6426 chore(support): updating support roster for sprint 13
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/contribution_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
Labels: Ready to merge

#6433 fix(cdn): enable CSS custom properties in CDN artifacts
  packages/web-components/.storybook/config.ts
  packages/web-components/README.md
  packages/web-components/docs/carbon-cdn-style-helpers.md
  packages/web-components/docs/carbon-cdn-style-helpers.stories.mdx
  packages/web-components/docs/coding-conventions.md
  packages/web-components/docs/contributing-to-web-components.md
  packages/web-components/docs/enable-rtl.md
  packages/web-components/docs/feature-flags.md
  packages/web-components/docs/markdown-contents.md
  packages/web-components/docs/stable-selectors.md
  packages/web-components/gulp-tasks/build/sass-cdn.js
  packages/web-components/package.json
  packages/web-components/src/globals/internal/storybook-cdn.ts
  packages/web-components/src/globals/scss/themes.scss
  packages/web-components/tools/rollup-plugin-lit-scss.js
Labels: Ready to merge

#6435 fix(card-group): fix offset and optional gradient
  packages/styles/scss/components/card-group/_card-group.scss
  packages/web-components/src/components/card-group/__stories__/card-group.stories.scss
  packages/web-components/src/components/card-group/__stories__/card-group.stories.ts
  packages/web-components/src/components/card-group/card-group-item.ts
  packages/web-components/src/components/card-group/card-group.scss
  packages/web-components/src/components/card-group/card-group.ts
Labels: Ready to merge, package: web components

#6448 fix(leadspace): width and theme fix
  packages/react/src/components/LeadSpace/LeadSpace.js
  packages/styles/scss/components/leadspace/_leadspace.scss
Labels: Ready to merge, bug, dev, package: react

#6449 docs(rtl): adding rtl versions of components in storybook documentation
  packages/web-components/src/globals/internal/storybook-cdn.ts
Labels: Ready to merge, dev

#6451 fix(cloud-megamenu): modify regex to only remove punctuation special characters
  packages/web-components/src/components/masthead/cloud/cloud-masthead-composite.ts
Labels: Ready to merge, feature flag, package: web components

#6458 fix(cdn): fix to properly pass in feature flags into rollup config
  .yarn/offline-mirror/rollup-plugin-inject-process-env-1.3.1.tgz
  packages/web-components/gulp-tasks/build/components.js
  packages/web-components/package.json
  packages/web-components/src/components/masthead/cloud/index.ts
  packages/web-components/tools/get-rollup-config.js
  yarn.lock
Labels: Ready to merge

#6456 fix(content-item-horizontal-media): set row width to 100% to render properly within content-group-horizontal
  packages/styles/scss/components/content-item-horizontal-media/_content-item-horizontal-media.scss
Labels: Ready to merge, package: web components

#6462 fix(text-cta): change handleSlotChange to use Event
  packages/web-components/src/components/cta/text-cta.ts
Labels: Ready to merge, dev, package: web components

#6344 feat(feature-section): add "Feature section" layout component
  packages/styles/scss/components/feature-section/README.md
  packages/styles/scss/components/feature-section/_feature-section.scss
  packages/web-components/src/components/card-link/card-link.scss
  packages/web-components/src/components/feature-section/__stories__/README.stories.mdx
  packages/web-components/src/components/feature-section/__stories__/feature-section.stories.ts
  packages/web-components/src/components/feature-section/__tests__/feature-section.test.ts
  packages/web-components/src/components/feature-section/defs.ts
  packages/web-components/src/components/feature-section/feature-section-card-link.ts
  packages/web-components/src/components/feature-section/feature-section.scss
  packages/web-components/src/components/feature-section/feature-section.ts
  packages/web-components/src/components/feature-section/index.ts
  packages/web-components/tests/snapshots/dds-feature-section.md
Labels: Ready to merge, adopter: AEM, package: web components

#6471 fix(feature-section): add missing 16px spacing under eyebrow
  packages/styles/scss/components/feature-section/_feature-section.scss
Labels: Ready to merge, package: web components

#6223 fix(link-list): remove border hang
  packages/web-components/src/components/link-list/link-list.scss
Labels: Ready to merge, package: web components

#6467 feat(card): ensure card footer is accessible with card static
  packages/web-components/src/components/card/card-footer.ts
  packages/web-components/src/components/card/card.ts
  packages/web-components/tests/snapshots/dds-content-block-card-static.md
Labels: Ready to merge, package: web components

#6330 fix(cta-block): added padding on mobile breakpoint
  packages/web-components/src/components/cta-block/cta-block.scss
  packages/web-components/src/components/cta-section/cta-section.scss
Labels: Ready to merge, package: web components

#6481 chore(percy): add visual snapshots script
  packages/web-components/package.json
Labels: Ready to merge, package: web components

#6484 fix(stripHTML): add check if there are no surrounding elements
  packages/utilities/src/utilities/stripHTML/__tests__/index.test.js
  packages/utilities/src/utilities/stripHTML/stripHTML.js
Labels: Ready to merge, dev, package: utilities

#6429 chore(back-to-top): update storybook content
  packages/storybook-images/assets/960/fpo--1x1--960x960--006.jpg
  packages/storybook-images/assets/leadspace/leadspaceMax2.jpg
  packages/styles/scss/components/dotcom-shell/_dotcom-shell.scss
  packages/styles/scss/components/leadspace/_leadspace.scss
  packages/web-components/src/components/back-to-top/__stories__/back-to-top.stories.scss
  packages/web-components/src/components/back-to-top/__stories__/back-to-top.stories.ts
  packages/web-components/src/components/back-to-top/__stories__/data/content.ts
Labels: Ready to merge, package: styles, package: web components

#6425 feat(content-item-horizontal-thumbnail): add thumbnail variation
  packages/styles/scss/components/content-item-horizontal/_content-item-horizontal.scss
  packages/web-components/.storybook/container.scss
  packages/web-components/gulp-tasks/config.js
  packages/web-components/src/components/content-item-horizontal/__stories__/README.stories.mdx
  packages/web-components/src/components/content-item-horizontal/__stories__/content-item-horizontal.stories.ts
  packages/web-components/src/components/content-item-horizontal/__tests__/content-item-horizontal.test.ts
  packages/web-components/src/components/content-item-horizontal/content-item-horizontal-thumbnail-copy.ts
  packages/web-components/src/components/content-item-horizontal/content-item-horizontal.scss
  packages/web-components/src/components/content-item-horizontal/content-item-horizontal.ts
  packages/web-components/src/components/content-item-horizontal/index.ts
  packages/web-components/src/components/feature-card/__stories__/feature-card.stories.ts
  packages/web-components/tests/snapshots/dds-content-item-horizontal.md
Labels: RTL, Ready to merge, adopter: AEM, package: web components

#6432 feat(footer): added adjunct links
  packages/web-components/src/components/footer/__stories__/adjunct-links.ts
  packages/web-components/src/components/footer/__stories__/footer.stories.ts
  packages/web-components/src/components/footer/footer-composite.ts
  packages/web-components/src/components/footer/footer.scss
  packages/web-components/src/components/footer/legal-nav.ts
Labels: Ready to merge, package: web components

#6416 feat(cloud-masthead): HC-1993 Expose a new authentication checking method for the docs/console team
  packages/services-store/src/actions/__tests__/cloudAccountAuth.test.ts
  packages/services-store/src/actions/cloudAccountAuthAPI.ts
  packages/services-store/src/reducers/__tests__/cloudAccountAuth.test.ts
  packages/services-store/src/reducers/cloudAccountAuthAPI.ts
  packages/services-store/src/reducers/index.ts
  packages/services-store/src/types/cloudAccountAuthAPI.ts
  packages/services/src/services/CloudAccountAuth/CloudAccountAuth.js
  packages/services/src/services/CloudAccountAuth/__tests__/CloudAccountAuth.test.js
  packages/services/src/services/CloudAccountAuth/index.js
  packages/services/src/services/index.js
  packages/utilities/src/utilities/cloudLoginStatusCookie/cloudLoginStatusCookie.js
  packages/web-components/src/components/masthead/__stories__/README.stories.mdx
  packages/web-components/src/components/masthead/__stories__/cloud-masthead.stories.ts
  packages/web-components/src/components/masthead/cloud/cloud-masthead-composite.ts
  packages/web-components/src/components/masthead/cloud/cloud-masthead-container.ts
Labels: Ready to merge

#6500 chore(storybook): adds a11y tab to stories
  packages/react/.storybook/addons.js
  packages/react/.storybook/config.js
  packages/react/src/components/ButtonGroup/__stories__/ButtonGroup.stories.js
  packages/styles/.storybook/addons.js
  packages/styles/.storybook/config.js
  packages/styles/package.json
  packages/web-components/.storybook/addons.js
  packages/web-components/.storybook/config.ts
  packages/web-components/.storybook/react/config.tsx
  packages/web-components/package.json
Labels: Ready to merge, package: react, package: styles, package: web components

#6489 feat(content-block-horizontal): name change and deprecation
  packages/styles/scss/components/content-block-horizontal/_content-block-horizontal.scss
  packages/styles/scss/ibm-dotcom-styles.scss
  packages/styles/scss/internal/content-block/_content-block.scss
  packages/styles/scss/patterns/blocks/content-group-horizontal/_content-group-horizontal.scss
  packages/web-components/src/components/back-to-top/__stories__/back-to-top.stories.scss
  packages/web-components/src/components/content-block-horizontal/__stories__/README.stories.mdx
  packages/web-components/src/components/content-block-horizontal/__stories__/content-block-horizontal.stories.ts
  packages/web-components/src/components/content-block-horizontal/__tests__/content-block-horizontal.test.ts
  packages/web-components/src/components/content-block-horizontal/content-block-horizontal.scss
  packages/web-components/src/components/content-block-horizontal/content-block-horizontal.ts
  packages/web-components/src/components/content-block-horizontal/index.ts
  packages/web-components/src/components/content-group-horizontal/content-group-horizontal.scss
  packages/web-components/src/components/content-group-horizontal/content-group-horizontal.ts
  packages/web-components/tests/snapshots/dds-content-block-horizontal.md
Labels: Ready to merge, package: web components

#6506 fix(card-static): cta link not working in safari
  packages/web-components/src/components/card/card.scss
Labels: Ready to merge, package: web components

#6507 fix(content-group-horizontal): adding back deprecated scss file
  packages/styles/scss/components/content-group-horizontal/_content-group-horizontal.scss
Labels: Ready to merge

#6514 fix(CardLink): fix disabled behavior
  packages/react/src/components/Card/Card.js
Labels: Ready to merge, package: react
