Repository carbon-design-system/carbon-for-ibm-dotcom, pull requests merged in 2021-12, with the labels that each got.

#7771 test(card-section-images): add e2e tests
  packages/react/tests/e2e-storybook/cypress/integration/CardSectionImages/CardSectionImages.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/card-section-images/card-section-images.e2e.js
Labels: Ready to merge

#7693 test(content-group-pictograms): add e2e tests
  packages/react/tests/e2e-storybook/cypress/integration/ContentGroupPictograms/ContentGroupPictograms.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/content-group-pictograms/content-group-pictograms.e2e.js
Labels: Ready to merge

#7787 chore(card): cleanup card e2e storybook tests
  packages/react/tests/e2e-storybook/cypress/integration/Card/Card.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/card/card-pictogram.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/card/card.e2e.js
Labels: Ready to merge, test: e2e

#7807 test(e2e): multiple fixes for browserstack automate
  packages/react/tests/e2e-storybook/cypress/integration/Card/Card.e2e.js
  packages/react/tests/e2e-storybook/cypress/integration/CardSectionSimple/CardSectionSimple.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/card-section-images/card-section-images.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/card-section-simple/card-section-simple.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/card/card.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/footer/footer.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/link-list/link-list.e2e.js
Labels: dev

#7782 fix(cta-section): ensure buttons are not allowed as cta types
  packages/web-components/src/components/cta-block/cta-block-item.ts
  packages/web-components/src/components/cta-section/__stories__/cta-section.stories.react.tsx
  packages/web-components/src/components/cta-section/__stories__/cta-section.stories.ts
Labels: package: web components, Ready to merge

#7819 chore(support): update fireline roster for sprint 25
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/contribution_request.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/question.yaml
Labels: dev, Ready to merge, housekeeping

#7786 chore(card): update wrapper story and docs with card logo
  packages/web-components/src/components/card/__stories__/README.stories.mdx
  packages/web-components/src/components/card/__stories__/README.stories.react.mdx
  packages/web-components/src/components/card/__stories__/card.stories.react.tsx
Labels: Ready to merge

#7820 chore(PictogramItem): update README code example
  packages/react/src/components/PictogramItem/README.stories.mdx
Labels: package: react, Ready to merge

#7823 test(e2e): add mock for Kaltura API calls
  .github/workflows/e2e-tests.yml
  packages/react/package.json
  packages/react/tests/e2e-storybook/cypress-canary.json
  packages/react/tests/e2e-storybook/cypress-staging.json
  packages/react/tests/e2e-storybook/cypress/fixtures/kaltura.json
  packages/react/tests/e2e-storybook/cypress/integration/LinkList/LinkList.e2e.js
  packages/react/tests/e2e-storybook/cypress/support/commands.js
  packages/web-components/package.json
  packages/web-components/tests/e2e-storybook/cypress-canary.json
  packages/web-components/tests/e2e-storybook/cypress-staging.json
  packages/web-components/tests/e2e-storybook/cypress/fixtures/kaltura.json
  packages/web-components/tests/e2e-storybook/cypress/integration/link-list/link-list.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/support/commands.js
Labels: dev, Ready to merge

#7834 fix(image-with-caption): revert caption requirement
  packages/react/src/components/ImageWithCaption/ImageWithCaption.js
  packages/web-components/src/components/image-with-caption/image-with-caption.ts
  packages/web-components/tests/snapshots/dds-image-with-caption.md
Labels: package: react, dev, package: web components, Ready to merge

#7839 chore(react): export missing Content* components
  packages/react/src/components/index.js
Labels: package: react, dev, Ready to merge

#7795 feat(card-pictogram): add design updates to improve mobile accessibility & hover interactions
  packages/styles/scss/components/card/index.scss
  packages/web-components/src/components/card/__stories__/card.stories.ts
  packages/web-components/src/components/card/card.scss
  packages/web-components/src/components/card/card.ts
  packages/web-components/tests/e2e-storybook/cypress/integration/card/card.e2e.js
Labels: package: web components, Ready to merge, adopter: AEM, :eyes: eyes needed

#7840 fix(localemodal): disable region button when no countries present
  packages/react/.storybook/preview-head.html
  packages/react/src/components/LocaleModal/LocaleModalCountries.js
  packages/react/src/components/LocaleModal/LocaleModalRegions.js
  packages/web-components/.storybook/preview-head.html
Labels: package: react, Ready to merge

#7848 docs(masthead): add missing sandbox dependency
  packages/web-components/examples/codesandbox/components/masthead/package.json
  packages/web-components/examples/codesandbox/components/masthead/src/index.js
Labels: Ready to merge

#7868 fix(a11y-checker): fix file-loader for karma a11y checker in React
  packages/react/package.json
  packages/react/tests/karma-accessibility-checker.conf.js
Labels: dev, Ready to merge

#7789 feat(KalturaAPI): added ibm namespace to event-listeners
  packages/services/src/services/Analytics/Analytics.js
  packages/services/src/services/Analytics/__tests__/Analytics.test.js
  packages/services/src/services/KalturaPlayer/KalturaPlayer.js
  packages/services/src/services/KalturaPlayer/__tests__/KalturaPlayer.test.js
Labels: package: services, Ready to merge

#7764 fix(cta-section): use correct bottom spacing and spacing between item rows
  packages/web-components/src/components/cta-block/__stories__/cta-block.stories.ts
  packages/web-components/src/components/cta-block/cta-block.scss
Labels: package: web components, Ready to merge, adopter: AEM

#7844 test(cta): add e2e tests for text and button variants
  packages/react/tests/e2e-storybook/cypress/integration/CTA/ButtonCTA.e2e.js
  packages/react/tests/e2e-storybook/cypress/integration/CTA/TextCTA.e2e.js
  packages/react/tests/e2e-storybook/cypress/integration/CTA/_tests.js
  packages/web-components/tests/e2e-storybook/cypress/integration/cta/_tests.js
  packages/web-components/tests/e2e-storybook/cypress/integration/cta/button-cta.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/cta/text-cta.e2e.js
Labels: Ready to merge, test: e2e

#7879 test(cdn): introduce e2e tests for cdn artifacts
  .github/workflows/check-cdn.yml
  packages/web-components/.eslintrc.js
  packages/web-components/.gitignore
  packages/web-components/package.json
  packages/web-components/tests/cdn-build/app/canary.html
  packages/web-components/tests/cdn-build/app/latest.html
  packages/web-components/tests/cdn-build/app/next.html
  packages/web-components/tests/cdn-build/app/version.html
  packages/web-components/tests/cdn-build/cypress.json
  packages/web-components/tests/cdn-build/cypress/fixtures/countrylist.json
  packages/web-components/tests/cdn-build/cypress/fixtures/kaltura.json
  packages/web-components/tests/cdn-build/cypress/fixtures/status.json
  packages/web-components/tests/cdn-build/cypress/fixtures/translation.json
  packages/web-components/tests/cdn-build/cypress/fixtures/typeahead.json
  packages/web-components/tests/cdn-build/cypress/integration/canary.e2e.js
  packages/web-components/tests/cdn-build/cypress/integration/latest.e2e.js
  packages/web-components/tests/cdn-build/cypress/integration/next.e2e.js
  packages/web-components/tests/cdn-build/cypress/integration/version.e2e.js
  packages/web-components/tests/cdn-build/cypress/plugins/index.js
  packages/web-components/tests/cdn-build/cypress/support/commands.js
  packages/web-components/tests/cdn-build/cypress/support/index.js
  packages/web-components/tests/cdn-build/utils/reset-version.js
  packages/web-components/tests/cdn-build/utils/set-version.js
Labels: dev, test: e2e

#7876 chore(cta-card): add missing heading in WC storybook
  packages/web-components/src/components/cta/__stories__/cta.stories.ts
Labels: package: web components, Ready to merge, storybook

#7886 test(card-section-images): yield images in card group items
  packages/web-components/tests/e2e-storybook/cypress/integration/card-section-images/card-section-images.e2e.js
Labels: Ready to merge, test: e2e

#7897 fix(card-section-image): fix to image check in e2e tests
  packages/web-components/tests/e2e-storybook/cypress/integration/card-section-images/card-section-images.e2e.js
Labels: Ready to merge

#7887 test(link-list): add e2e-storybook coverage for all link list components
  packages/react/tests/e2e-storybook/cypress/integration/LinkList/Default.e2e.js
  packages/react/tests/e2e-storybook/cypress/integration/LinkList/EndOfSection.e2e.js
  packages/react/tests/e2e-storybook/cypress/integration/LinkList/Horizontal.e2e.js
  packages/react/tests/e2e-storybook/cypress/integration/LinkList/LinkList.e2e.js
  packages/react/tests/e2e-storybook/cypress/integration/LinkList/Vertical.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/link-list/default.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/link-list/end-of-section.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/link-list/horizontal.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/link-list/link-list.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/link-list/vertical.e2e.js
Labels: Ready to merge, test: e2e

#7878 fix(content-block-card-static): address 2px border regression
  packages/styles/scss/components/card/index.scss
Labels: feature flag, package: web components, Ready to merge, adopter: AEM

#7853 fix(feature-card): make entire card clickable on mobile viewports
  packages/styles/scss/components/feature-card/_feature-card.scss
  packages/web-components/src/components/feature-card/feature-card.scss
Labels: package: styles, package: web components, Ready to merge

#7890 fix(masthead): account for platform name in active item logic
  packages/web-components/src/components/masthead/__stories__/README.stories.mdx
  packages/web-components/src/components/masthead/masthead-composite.ts
Labels: package: web components, Ready to merge, adopter: AEM

#7827 test(cta): Add tests for card-type CTAs
  packages/react/tests/e2e-storybook/cypress/integration/CTA/Card.e2e.js
  packages/react/tests/e2e-storybook/cypress/integration/CTA/Feature.e2e.js
  packages/react/tests/e2e-storybook/cypress/integration/CardLink/CardLink.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/cta/card-link.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/cta/card.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/cta/feature.e2e.js
Labels: Ready to merge, test: e2e

#7915 test(link-with-icon): add e2e tests
  packages/react/tests/e2e-storybook/cypress/integration/LinkWithIcon/Default.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/link-with-icon/default.e2e.js
Labels: Ready to merge, test: e2e

#7912 docs(card): update card-group, card-in-card, and image readmes
  packages/web-components/src/components/card-group/__stories__/README.stories.mdx
  packages/web-components/src/components/card-group/__stories__/README.stories.react.mdx
  packages/web-components/src/components/card-group/__stories__/card-group.stories.react.tsx
  packages/web-components/src/components/card-group/__stories__/card-group.stories.ts
  packages/web-components/src/components/card-in-card/__stories__/README.stories.mdx
  packages/web-components/src/components/card-in-card/__stories__/README.stories.react.mdx
  packages/web-components/src/components/card/__stories__/README.stories.mdx
  packages/web-components/src/components/card/__stories__/README.stories.react.mdx
  packages/web-components/src/components/image/__stories__/README.stories.mdx
Labels: package: web components, Ready to merge
