Repository carbon-design-system/carbon-for-ibm-dotcom, pull requests merged in 2021-01, with the labels that each got.

#4795 chore(link-list): introduce heading component
  packages/styles/scss/components/link-list/_link-list.scss
  packages/web-components/examples/codesandbox/components/leadspace-block/index.html
  packages/web-components/examples/codesandbox/components/leadspace-block/src/index.js
  packages/web-components/examples/codesandbox/components/link-list/index.html
  packages/web-components/src/components/content-block-segmented/__stories__/content-block-segmented.stories.ts
  packages/web-components/src/components/content-block-simple/__stories__/content-block-simple.stories.ts
  packages/web-components/src/components/cta-section/__stories__/cta-section.stories.ts
  packages/web-components/src/components/dotcom-shell/__stories__/dotcom-shell.stories.ts
  packages/web-components/src/components/leadspace-block/__stories__/README.stories.mdx
  packages/web-components/src/components/leadspace-block/__stories__/leadspace-block.stories.ts
  packages/web-components/src/components/link-list/__stories__/README.stories.mdx
  packages/web-components/src/components/link-list/__stories__/link-list.stories.ts
  packages/web-components/src/components/link-list/link-list-heading.ts
Labels: Ready to merge, package: web components

#4785 fix(checkbox-expressive): removed top padding so text aligns properly
  packages/styles/scss/themes/expressive/components/_checkbox.scss
  packages/styles/scss/themes/expressive/index.scss
Labels: Ready to merge, package: styles

#4812 fix(masthead): add aria-label
  packages/web-components/src/components/masthead/masthead-search.ts
  packages/web-components/tests/snapshots/dds-masthead-search.md
Labels: Ready to merge, package: web components

#4822 fix(masthead): ensure L1 won't be crippled
  packages/styles/scss/components/masthead/_masthead-l1.scss
  packages/web-components/src/components/masthead/masthead.scss
Labels: Ready to merge, package: web components

#4816 fix(linkWithIcon): update focus styles
  packages/styles/scss/components/link-with-icon/_link-with-icon.scss
  packages/web-components/src/components/link-with-icon/link-with-icon.scss
Labels: Ready to merge, package: styles

#4825 fix(LinkList): fix linklist card padding
  packages/styles/scss/components/link-list/_link-list.scss
Labels: Ready to merge, package: styles

#4836 chore(deps): bump styles package version to 1.14.0
  packages/react/package.json
  packages/styles/package.json
  packages/web-components/package.json
Labels: Ready to merge, dependencies, package: styles

#4848 fix(Footer): swap out translation host default endpoint for FF
  packages/services/src/services/Locale/Locale.js
  packages/services/src/services/Translation/Translation.js
Labels: Ready to merge, package: react

#4826 fix(linkList): update focus styles and masthead spelling
  packages/styles/scss/components/link-list/_link-list.scss
  packages/web-components/src/components/link-list/link-list.scss
  packages/web-components/src/components/link-list/link-list.ts
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
Labels: Ready to merge, package: web components

#4838 fix(masthead): recreate IntersectionObserver upon showing/hiding nav
  packages/web-components/src/components/masthead/top-nav.ts
Labels: Ready to merge, package: web components

#4839 chore(callout-data): introduce componetns for heading, etc
  packages/styles/scss/components/callout-data/_callout-data.scss
  packages/web-components/examples/codesandbox/components/callout-data/index.html
  packages/web-components/examples/codesandbox/components/callout-data/src/index.js
  packages/web-components/src/components/callout-data/__stories__/README.stories.mdx
  packages/web-components/src/components/callout-data/__stories__/callout-data.stories.ts
  packages/web-components/src/components/callout-data/callout-data-copy.ts
  packages/web-components/src/components/callout-data/callout-data-heading.ts
  packages/web-components/src/components/callout-data/callout-data-source.ts
  packages/web-components/src/components/callout-data/callout-data.ts
  packages/web-components/tests/snapshots/dds-callout-data.md
Labels: Ready to merge, feature flag, package: web components

#4817 fix(content-block-patterns): fixing mobile margins
  packages/web-components/src/components/content-block-segmented/content-block-segmented.scss
  packages/web-components/src/components/content-block-simple/content-block-simple.scss
Labels: Ready to merge, package: web components

#4840 chore(quote): introduce componetns for heading, etc
  packages/styles/scss/components/quote/_quote.scss
  packages/styles/scss/internal/callout/_callout.scss
  packages/web-components/examples/codesandbox/components/callout-quote/index.html
  packages/web-components/examples/codesandbox/components/callout-quote/src/index.js
  packages/web-components/examples/codesandbox/components/quote/src/index.js
  packages/web-components/src/components/callout-quote/__stories__/README.stories.mdx
  packages/web-components/src/components/callout-quote/__stories__/callout-quote.stories.ts
  packages/web-components/src/components/dotcom-shell/__stories__/dotcom-shell.stories.ts
  packages/web-components/src/components/quote/__stories__/README.stories.mdx
  packages/web-components/src/components/quote/__stories__/quote.stories.ts
  packages/web-components/src/components/quote/quote-source-bottom-copy.ts
  packages/web-components/src/components/quote/quote-source-copy.ts
  packages/web-components/src/components/quote/quote-source-heading.ts
  packages/web-components/src/components/quote/quote.scss
  packages/web-components/src/components/quote/quote.ts
  packages/web-components/tests/snapshots/dds-callout-quote.md
  packages/web-components/tests/snapshots/dds-quote.md
Labels: Ready to merge, package: web components

#4841 chore(leadspace): introduce a component to heading
  packages/styles/scss/components/leadspace-block/_leadspace-block.scss
  packages/styles/scss/components/leadspace/_leadspace.scss
  packages/web-components/examples/codesandbox/components/leadspace-block/index.html
  packages/web-components/examples/codesandbox/components/leadspace-block/src/index.js
  packages/web-components/src/components/dotcom-shell/__stories__/dotcom-shell.stories.ts
  packages/web-components/src/components/leadspace-block/__stories__/README.stories.mdx
  packages/web-components/src/components/leadspace-block/__stories__/leadspace-block.stories.ts
  packages/web-components/src/components/leadspace-block/leadspace-block-heading.ts
  packages/web-components/src/components/leadspace-block/leadspace-block.scss
  packages/web-components/src/components/leadspace-block/leadspace-block.ts
  packages/web-components/src/components/leadspace/__stories__/README.stories.mdx
  packages/web-components/src/components/leadspace/__stories__/leadspace.stories.ts
  packages/web-components/src/components/leadspace/leadspace-heading.ts
  packages/web-components/src/components/leadspace/leadspace.ts
  packages/web-components/tests/snapshots/dds-leadspace-block.md
  packages/web-components/tests/snapshots/dds-leadspace.md
Labels: Ready to merge, package: web components

#4850 chore(feature-card-block-medium): rename heading slot to block-heading
  packages/styles/scss/components/feature-card-block-medium/_feature-card-block-medium.scss
  packages/web-components/src/components/feature-card-block-medium/__stories__/README.stories.mdx
  packages/web-components/src/components/feature-card-block-medium/__stories__/feature-card-block-medium.stories.ts
  packages/web-components/src/components/feature-card-block-medium/feature-card-block-medium-block-heading.ts
  packages/web-components/src/components/feature-card-block-medium/feature-card-block-medium.ts
  packages/web-components/tests/snapshots/dds-feature-card-block-medium.md
Labels: Ready to merge, package: web components

#4853 fix(ContentGroupSimple): fix stories card cta knobs
  packages/web-components/src/components/content-group-simple/__stories__/content-group-simple.stories.ts
Labels: Ready to merge, package: web components

#4772 feat(footer): language only for web component variations
  packages/web-components/src/components/footer/__stories__/README.stories.mdx
  packages/web-components/src/components/footer/__stories__/footer.stories.ts
  packages/web-components/src/components/footer/__stories__/language-list.ts
  packages/web-components/src/components/footer/defs.ts
  packages/web-components/src/components/footer/footer-composite.ts
  packages/web-components/src/components/footer/footer-container.ts
  packages/web-components/src/components/footer/footer.scss
  packages/web-components/src/components/footer/footer.ts
  packages/web-components/src/components/footer/language-selector.ts
Labels: Ready to merge

#4842 chore(content-item-horizontal): introduce eyebrow component
  packages/styles/scss/components/content-item-horizontal/_content-item-horizontal.scss
  packages/web-components/examples/codesandbox/components/content-group-horizontal/index.html
  packages/web-components/examples/codesandbox/components/content-group-horizontal/src/index.js
  packages/web-components/examples/codesandbox/components/content-item-horizontal/index.html
  packages/web-components/examples/codesandbox/components/content-item-horizontal/src/index.js
  packages/web-components/src/components/content-group-horizontal/__stories__/README.stories.mdx
  packages/web-components/src/components/content-group-horizontal/__stories__/content-group-horizontal.stories.ts
  packages/web-components/src/components/content-group-horizontal/__tests__/content-group-horizontal.test.ts
  packages/web-components/src/components/content-item-horizontal/__stories__/README.stories.mdx
  packages/web-components/src/components/content-item-horizontal/__stories__/content-item-horizontal.stories.ts
  packages/web-components/src/components/content-item-horizontal/__tests__/content-item-horizontal.test.ts
  packages/web-components/src/components/content-item-horizontal/content-item-horizontal-eyebrow.ts
  packages/web-components/src/components/content-item-horizontal/content-item-horizontal.scss
  packages/web-components/src/components/content-item-horizontal/content-item-horizontal.ts
  packages/web-components/src/components/dotcom-shell/__stories__/dotcom-shell.stories.ts
  packages/web-components/tests/snapshots/dds-content-item-horizontal.md
Labels: Ready to merge, package: web components

#4849 fix(cta-section): fixed external buttons not opening in a new tab
  packages/web-components/src/components/cta-section/__stories__/cta-section.stories.ts
Labels: Ready to merge

#4846 chore(leaving-ibm): introduce supplemental component
  packages/web-components/src/components/leaving-ibm/leaving-ibm-composite.ts
  packages/web-components/src/components/leaving-ibm/leaving-ibm-modal-body.ts
  packages/web-components/src/components/leaving-ibm/leaving-ibm-modal-supplemental.ts
  packages/web-components/src/components/leaving-ibm/leaving-ibm.scss
Labels: Ready to merge, package: web components

#4854 fix(chevron-size): updating SVG size for masthead menu-items
  packages/styles/scss/components/masthead/_masthead-leftnav.scss
  packages/web-components/src/components/masthead/masthead.scss
Labels: Ready to merge, package: web components

#4865 chore(changelog): updating changelog script
  tasks/get-changelog.js
Labels: Ready to merge

#4871 chore(dependencies): upgrade carbon-web-components
  .yarn/offline-mirror/carbon-web-components-1.10.0.tgz
  .yarn/offline-mirror/carbon-web-components-1.10.1.tgz
  .yarn/offline-mirror/carbon-web-components-1.11.0.tgz
  package.json
  packages/web-components/examples/codesandbox/components/image/package.json
  packages/web-components/examples/codesandbox/components/leaving-ibm/package.json
  packages/web-components/examples/codesandbox/components/lightbox-media-viewer/package.json
  packages/web-components/examples/codesandbox/components/logo-grid/package.json
  packages/web-components/examples/codesandbox/components/quote/package.json
  packages/web-components/examples/codesandbox/usage/webpack-handlebars/package.json
  packages/web-components/examples/codesandbox/usage/webpack-rtl/package.json
  packages/web-components/package.json
  yarn.lock
Labels: Ready to merge, package: web components

#4867 fix(Megamenu): align megamenu categories with grid
  packages/styles/scss/components/masthead/_masthead-megamenu.scss
Labels: Ready to merge, package: react, package: web components

#4883 fix(Leadspace): set image height to 100%
  packages/styles/scss/components/leadspace/_leadspace.scss
Labels: Ready to merge, package: react

#4884 fix(link): changed DDSLink usage to BXLink
  packages/web-components/src/components/card/card.ts
  packages/web-components/src/components/footer/footer-nav-item.ts
  packages/web-components/src/components/link-with-icon/link-with-icon.ts
  packages/web-components/src/components/link/link.ts
  packages/web-components/src/components/locale-modal/locale-item.ts
  packages/web-components/src/components/locale-modal/region-item.ts
  packages/web-components/src/components/masthead/masthead-logo.ts
  packages/web-components/src/components/masthead/megamenu-category-link.ts
Labels: Ready to merge

#4874 chore(content-block-copy): setting slot="copy" for it automatically
  packages/web-components/src/components/content-block-segmented/__tests__/content-block-segmented.test.ts
  packages/web-components/src/components/content-block/content-block-copy.ts
  packages/web-components/src/components/dotcom-shell/__stories__/dotcom-shell.stories.ts
Labels: Ready to merge, package: web components

#4886 fix(left-nav): ensure hidden for large screen
  packages/web-components/src/components/masthead/masthead.scss
Labels: Ready to merge, package: web components

#4887 chore(link-list): remove element surrounding heading slot
  packages/web-components/src/components/link-list/link-list.scss
  packages/web-components/src/components/link-list/link-list.ts
  packages/web-components/tests/snapshots/dds-link-list.md
Labels: Ready to merge, package: web components

#4876 chore(deps): update styles and markup broken by update
  packages/styles/scss/themes/expressive/components/_loading.scss
  packages/web-components/docs/markdown-contents.md
  packages/web-components/examples/codesandbox/usage/markdown-handlebars/index.hbs
  packages/web-components/src/components/content-block-media/__stories__/content-block-media.stories.ts
  packages/web-components/src/components/content-block-simple/__stories__/content-block-simple.stories.ts
  packages/web-components/src/components/content-group-simple/__stories__/content-group-simple.stories.ts
Labels: Ready to merge, package: styles, package: web components

#4856 fix(card-pictogram): fixed mobile spacing
  packages/web-components/src/components/card/card.scss
Labels: Ready to merge

#4885 chore(link-list): clean-up CSS classes
  packages/styles/scss/components/link-list/_link-list.scss
  packages/web-components/src/components/link-list/link-list.scss
  packages/web-components/src/components/link-list/link-list.ts
  packages/web-components/tests/snapshots/dds-link-list.md
Labels: Ready to merge, package: web components

#4896 fix(locale-modal): replaced placeholder color for a bolder one
  packages/web-components/src/components/search/search.scss
Labels: Ready to merge

#4882 fix(quote): inverse style not working
  packages/styles/scss/components/quote/_quote.scss
  packages/web-components/src/components/quote/__stories__/quote.stories.ts
  packages/web-components/src/components/quote/defs.ts
  packages/web-components/src/components/quote/quote.ts
Labels: Ready to merge, package: web components

#4898 refactor(leadspace): reorganize slots
  packages/web-components/src/components/leadspace/__stories__/README.stories.mdx
  packages/web-components/src/components/leadspace/__stories__/leadspace.stories.ts
  packages/web-components/src/components/leadspace/leadspace.ts
  packages/web-components/tests/snapshots/dds-leadspace.md
Labels: Ready to merge, package: web components

#4861 fix(card-pictogram): now copy is also visible on focus
  packages/web-components/src/components/card/card.scss
Labels: Ready to merge, package: web components

#4875 feat(Masthead): add aria labels
  packages/web-components/src/components/masthead/masthead-search-item.ts
  packages/web-components/src/components/masthead/masthead-search.ts
  packages/web-components/tests/snapshots/dds-masthead-search.md
Labels: Ready to merge, package: web components

#4608 feat(fade-in-out): introducing new components
  packages/react/examples/codesandbox/components/FadeInOut/.gitignore
  packages/react/examples/codesandbox/components/FadeInOut/index.html
  packages/react/examples/codesandbox/components/FadeInOut/package.json
  packages/react/examples/codesandbox/components/FadeInOut/sandbox.config.json
  packages/react/examples/codesandbox/components/FadeInOut/src/index.js
  packages/react/examples/codesandbox/components/FadeInOut/src/styles.scss
  packages/react/src/components/DotcomShell/__stories__/DotcomShell.stories.js
  packages/react/src/components/FadeInOut/FadeInOut.js
  packages/react/src/components/FadeInOut/README.stories.mdx
  packages/react/src/components/FadeInOut/__stories__/FadeInOut.stories.js
  packages/react/src/components/FadeInOut/__stories__/fade-in-out.stories.scss
  packages/react/src/components/FadeInOut/index.js
  packages/styles/scss/components/scroll-into-view/_scroll-into-view.scss
  packages/utilities/src/utilities/index.js
  packages/web-components/examples/codesandbox/components/fade-in-out/.babelrc
  packages/web-components/examples/codesandbox/components/fade-in-out/.gitignore
  packages/web-components/examples/codesandbox/components/fade-in-out/index.html
  packages/web-components/examples/codesandbox/components/fade-in-out/package.json
  packages/web-components/examples/codesandbox/components/fade-in-out/sandbox.config.json
  packages/web-components/examples/codesandbox/components/fade-in-out/src/index.js
  packages/web-components/examples/codesandbox/components/fade-in-out/src/styles.scss
  packages/web-components/src/components/dotcom-shell/__stories__/data/content.ts
  packages/web-components/src/components/dotcom-shell/__stories__/dotcom-shell.stories.ts
  packages/web-components/src/components/fade-in-out/__stories__/README.stories.mdx
  packages/web-components/src/components/fade-in-out/__stories__/fade-in-out.stories.scss
  packages/web-components/src/components/fade-in-out/__stories__/fade-in-out.stories.ts
  packages/web-components/src/components/fade-in-out/fade-in-out.ts
Labels: Ready to merge, package: react, package: web components

#4897 refactor(cta-section): reorganize slots
  packages/web-components/src/components/content-block/content-block.ts
  packages/web-components/src/components/content-group/content-group.ts
  packages/web-components/src/components/content-item/content-item.ts
  packages/web-components/src/components/cta-section/cta-section-copy.ts
  packages/web-components/src/components/cta-section/cta-section-item.ts
  packages/web-components/src/components/cta-section/cta-section.ts
  packages/web-components/tests/snapshots/dds-cta-section.md
Labels: Ready to merge, package: web components

#4910 docs(content-block): update JSDoc
  packages/web-components/src/components/content-block-segmented/content-block-segmented.ts
  packages/web-components/src/components/content-block-simple/content-block-simple.ts
  packages/web-components/src/components/content-group-cards/content-group-cards.ts
Labels: Ready to merge, package: web components

#4911 fix(masthead-top-nav-menu-item): removing the dark background
  packages/web-components/src/components/masthead/masthead.scss
Labels: Ready to merge

#4909 feat(profile): change profile api endpoint
  .yarn/offline-mirror/jsonp-0.2.1.tgz
  packages/react/src/components/Masthead/Masthead.js
  packages/services-store/src/actions/__tests__/profileAPI.test.ts
  packages/services-store/src/actions/profileAPI.ts
  packages/services-store/src/reducers/__tests__/profileAPI.test.ts
  packages/services-store/src/reducers/profileAPI.ts
  packages/services-store/src/types/profileAPI.ts
  packages/services/package.json
  packages/services/src/services/Profile/Profile.js
  packages/web-components/src/components/dotcom-shell/dotcom-shell-composite.ts
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
  packages/web-components/src/components/masthead/__tests__/masthead-composite.test.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/masthead-container.ts
  yarn.lock
Labels: Ready to merge, package: services

#4915 chore(masthead): remove a duplicate rule set
  packages/services-store/CHANGELOG.md
  packages/web-components/CHANGELOG.md
  packages/web-components/src/components/masthead/masthead.scss
Labels: Ready to merge, package: web components

#4921 docs(carousel): remove page-size knob
  packages/web-components/src/components/carousel/__stories__/carousel.stories.react.tsx
  packages/web-components/src/components/carousel/__stories__/carousel.stories.ts
Labels: Ready to merge, package: web components

#4923 chore(github-workflow): add profile host env var to various testing envs
  .github/workflows/deploy-canary.yml
  .github/workflows/deploy-staging.yml
Labels: Ready to merge

#4941 fix(masthead): update L1 responsive breakpoint
  packages/styles/scss/components/masthead/_masthead-l1.scss
Labels: Ready to merge, package: styles

#4939 chore(package): update Web Components version to 1.x
  packages/web-components/package.json
Labels: Ready to merge, package: web components

#4926 fix(profile): update profile requx actions, types, and reducers naming and unit tests
  packages/services-store/src/actions/__tests__/profileAPI.test.ts
  packages/services-store/src/actions/profileAPI.ts
  packages/services-store/src/reducers/__tests__/profileAPI.test.ts
  packages/services-store/src/reducers/profileAPI.ts
  packages/services-store/src/types/profileAPI.ts
  packages/web-components/src/components/dotcom-shell/dotcom-shell-composite.ts
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/masthead-container.ts
Labels: Ready to merge

#4942 docs(web-components): implementation notes for Web Components
  packages/web-components/IMPLEMENTATION_NOTES.md
Labels: Ready to merge

#4949 fix(content-block-mixed): fixed pictogram color on g90 and g100 theme
  packages/web-components/src/components/content-block-mixed/__stories__/content-block-mixed.stories.scss
  packages/web-components/src/components/content-block-mixed/__stories__/content-block-mixed.stories.ts
Labels: Ready to merge

#4950 fix(masthead): update L1 responsive breakpoint
  packages/styles/scss/components/masthead/_masthead-l1.scss
Labels: Ready to merge

#4948 chore(masthead): update style docs
  packages/styles/scss/components/masthead/_masthead-l1.scss
Labels: Ready to merge

#4953 fix(TOC): update mobile sticky position when scrolling
  packages/web-components/src/components/dotcom-shell/__stories__/data/content.ts
  packages/web-components/src/components/masthead/__stories__/masthead.stories.scss
  packages/web-components/src/components/table-of-contents/table-of-contents.scss
Labels: package: web components

#4955 chore(percy): skip percy testing of the fade component
  packages/react/src/components/FadeInOut/__stories__/FadeInOut.stories.js
  packages/web-components/src/components/fade-in-out/__stories__/fade-in-out.stories.ts
Labels: Ready to merge

#4935 chore(build): remove unused tool
  packages/web-components/tools/svg-result-carbon-icon.js
Labels: Ready to merge, package: web components

#4922 fix(link-list-section): replaced wrong heading component in storybook
  packages/web-components/src/components/content-section/content-section-heading.ts
  packages/web-components/src/components/link-list-section/__stories__/link-list-section.stories.ts
Labels: Ready to merge, package: web components

#4914 fix(language-selector): added clear label attribute
  packages/web-components/src/components/footer/__stories__/footer.stories.ts
  packages/web-components/src/components/footer/footer-composite.ts
Labels: Ready to merge, package: web components

#4956 fix(left-nav): resetting items expanded after close hamb. menu
  packages/web-components/src/components/masthead/left-nav.ts
Labels: Ready to merge, package: web components

#4986 chore(storybook): add file-loader for static images
  packages/web-components/.storybook/webpack.config.js
Labels: Ready to merge, package: web components

#4859 chore(content-block-simple): use CSS grid for layout
  packages/styles/scss/internal/content-block/_content-block.scss
  packages/web-components/.storybook/container.scss
  packages/web-components/examples/codesandbox/components/content-block-segmented/index.html
  packages/web-components/examples/codesandbox/components/content-block-simple/index.html
  packages/web-components/src/components/content-block-segmented/__stories__/content-block-segmented.stories.ts
  packages/web-components/src/components/content-block-segmented/content-block-segmented.scss
  packages/web-components/src/components/content-block-segmented/content-block-segmented.ts
  packages/web-components/src/components/content-block-simple/__stories__/content-block-simple.stories.ts
  packages/web-components/src/components/content-block-simple/content-block-simple.ts
  packages/web-components/src/components/content-block/content-block.scss
  packages/web-components/src/components/content-block/content-block.ts
  packages/web-components/src/components/content-item/content-item.scss
  packages/web-components/src/components/dotcom-shell/__stories__/data/content.ts
  packages/web-components/src/components/table-of-contents/table-of-contents.scss
  packages/web-components/tests/snapshots/dds-callout-with-media.md
  packages/web-components/tests/snapshots/dds-content-block-segmented.md
  packages/web-components/tests/snapshots/dds-content-block-simple.md
Labels: Ready to merge, package: web components

#4997 chore(ci-check): extending ci-check to include lint and stylelint
  package.json
Labels: Ready to merge

#4996 chore(preflight): adding preflight checks on github actions
  .github/workflows/release-preflight.yml
Labels: Ready to merge

#4917 docs(services-store): add implementation notes
  packages/services-store/IMPLEMENTATION_NOTES.md
Labels: Ready to merge, package: web components

#5008 docs(web-components): implementation notes on container components
  packages/web-components/IMPLEMENTATION_NOTES.md
Labels: Ready to merge, package: web components

#5000 docs(web-components): implementation notes for React integration
  packages/web-components/IMPLEMENTATION_NOTES.md
Labels: Ready to merge, package: web components

#4999 docs(web-components): complete implementation notes for video player
  packages/web-components/IMPLEMENTATION_NOTES.md
Labels: Ready to merge, package: web components

#4972 feat(link-list): aem improvements to end-of-section type
  packages/web-components/src/components/link-list/__stories__/link-list.stories.ts
  packages/web-components/src/components/link-list/defs.ts
  packages/web-components/src/components/link-list/link-list-item.ts
  packages/web-components/src/components/link-list/link-list.scss
  packages/web-components/src/components/link-list/link-list.ts
Labels: Ready to merge

#5026 chore(staging): adding triggers for staging environments through GH
  .github/workflows/publish-staging.yml
Labels: Ready to merge

#5010 fix(linkList): add aria attribute to item-card
  packages/web-components/src/components/link-list/link-list-item-card.ts
Labels: Ready to merge, package: web components

#5018 fix(footer): removed top border in micro footer
  packages/styles/scss/components/footer/_footer.scss
  packages/web-components/src/components/footer/footer.scss
Labels: Ready to merge

#5039 chore(linkList): revert changes to aria roles
  packages/web-components/src/components/link-list/link-list-item-card.ts
Labels: Ready to merge, package: web components

#5042 fix(card-section-carousel): fixes horizontal scroll
  packages/web-components/src/components/content-section/content-section.scss
Labels: Ready to merge

#5020 docs(web-components): add notes on vendor directory
  packages/web-components/IMPLEMENTATION_NOTES.md
Labels: Ready to merge, package: web components

#5014 fix(content-block-cards): fix margin in smallest breakpoint
  packages/web-components/.storybook/container.scss
  packages/web-components/examples/codesandbox/components/content-block-cards/index.html
  packages/web-components/src/components/content-block-cards/__stories__/content-block-cards.stories.ts
  packages/web-components/src/components/content-block-cards/content-block-cards.scss
  packages/web-components/src/components/content-block-cards/content-block-cards.ts
  packages/web-components/src/components/content-block/content-block.scss
  packages/web-components/tests/snapshots/dds-content-block-cards.md
Labels: Ready to merge, package: web components

#5013 docs(coding-convention): note on optimizing layout query
  packages/web-components/docs/coding-conventions.md
Labels: Ready to merge, package: web components
