Repository carbon-design-system/carbon-for-ibm-dotcom, pull requests merged in 2021-02, with the labels that each got.

#5016 feat(megamenu): megamenu web component HC & AI updates
  packages/services-store/src/types/translateAPI.ts
  packages/styles/scss/components/masthead/_masthead-leftnav.scss
  packages/styles/scss/components/masthead/_masthead-megamenu.scss
  packages/web-components/src/components/masthead/__stories__/links.ts
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
  packages/web-components/src/components/masthead/defs.ts
  packages/web-components/src/components/masthead/left-nav-menu-category-heading.ts
  packages/web-components/src/components/masthead/left-nav-menu.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/masthead.scss
  packages/web-components/src/components/masthead/megamenu-category-group-copy.ts
  packages/web-components/tests/snapshots/dds-left-nav-menu.md
  packages/web-components/tests/snapshots/dds-masthead-composite.md
Labels: Ready to merge, package: web components

#5055 docs(web-components): add notes on RTL support
  packages/web-components/IMPLEMENTATION_NOTES.md
Labels: Ready to merge, package: web components

#5019 fix(card): add aria-hide to card-copy
  packages/web-components/src/components/card/card.ts
  packages/web-components/tests/snapshots/dds-card-cta.md
  packages/web-components/tests/snapshots/dds-card.md
  packages/web-components/tests/snapshots/dds-feature-card-block-large.md
  packages/web-components/tests/snapshots/dds-feature-card.md
  packages/web-components/tests/snapshots/dds-feature-cta.md
Labels: Ready to merge

#5053 fix(link-list): fixed wrong column count and styling on knob change
  packages/web-components/src/components/link-list/__stories__/link-list.stories.ts
  packages/web-components/src/components/link-list/link-list.scss
  packages/web-components/src/components/link-list/link-list.ts
Labels: Ready to merge, package: web components

#5017 fix(card-group): Image height of the last card
  packages/styles/scss/components/card-group/_card-group.scss
Labels: Ready to merge, package: react

#5063 fix(datatable): fix expansion spacing styles
  packages/styles/scss/themes/expressive/components/_data-table.scss
Labels: Ready to merge, package: styles

#5038 refactor(content-group-simple): use CSS grid for layout
  packages/styles/scss/internal/content-block/_content-block.scss
  packages/web-components/examples/codesandbox/components/content-group-simple/index.html
  packages/web-components/src/components/content-block-media/content-block-media-content.ts
  packages/web-components/src/components/content-block/content-block.scss
  packages/web-components/src/components/content-group-simple/__stories__/content-group-simple.stories.ts
  packages/web-components/src/components/content-group-simple/content-group-simple.scss
  packages/web-components/src/components/content-group-simple/content-group-simple.ts
  packages/web-components/tests/snapshots/dds-content-group-simple.md
Labels: Ready to merge, package: web components

#5044 docs(web-components): add notes on TypeScript definition files
  packages/web-components/IMPLEMENTATION_NOTES.md
Labels: Ready to merge, package: web components

#5088 fix(profile): catch error for profile api and console log error
  packages/services/src/services/Profile/Profile.js
Labels: Ready to merge, package: services

#5083 fix(card): added focus on click
  packages/web-components/src/component-mixins/cta/video.ts
Labels: Ready to merge

#5090 docs(web-components): notes on tests
  packages/web-components/IMPLEMENTATION_NOTES.md
Labels: package: web components

#5078 refactor(content-block-headlines): use CSS grid for layout
  packages/styles/scss/components/content-block-headlines/_content-block-headlines.scss
  packages/styles/scss/internal/content-block/_content-block.scss
  packages/web-components/.storybook/container.scss
  packages/web-components/examples/codesandbox/components/content-block-headlines/index.html
  packages/web-components/src/components/content-block-headlines/__stories__/content-block-headlines.stories.ts
  packages/web-components/src/components/content-block-headlines/content-block-headlines.scss
  packages/web-components/src/components/content-block-headlines/content-block-headlines.ts
  packages/web-components/tests/snapshots/dds-content-block-headlines.md
Labels: feature flag, package: web components

#5095 fix(contentBlockMedia): align to non-gutter grid
  packages/web-components/examples/codesandbox/components/content-block-media/index.html
  packages/web-components/examples/codesandbox/components/content-block-media/src/index.js
  packages/web-components/src/components/content-block-media/__stories__/README.stories.mdx
  packages/web-components/src/components/content-block-media/__stories__/content-block-media.stories.ts
  packages/web-components/src/components/content-block-media/content-block-media.scss
  packages/web-components/src/components/content-block-media/content-block-media.ts
  packages/web-components/src/components/content-block-segmented/__stories__/content-block-segmented.stories.ts
  packages/web-components/tests/snapshots/dds-content-block-media.md
Labels: Ready to merge, package: web components

#5112 fix(megamenu): fix alignment issues in mobile nav
  packages/styles/scss/components/masthead/_masthead-leftnav.scss
Labels: Ready to merge, package: react, package: web components

#5114 docs(license): notes on license header
  packages/web-components/IMPLEMENTATION_NOTES.md
Labels: Ready to merge, package: web components

#5118 fix(megamenu): add padding between category desc and link
  packages/styles/scss/components/masthead/_masthead-megamenu.scss
Labels: Ready to merge, package: react, package: web components

#5120 chore(deps): upgrade marked to 2.0.0
  .yarn/offline-mirror/marked-2.0.0.tgz
  packages/web-components/package.json
  yarn.lock
Labels: Ready to merge

#5121 docs(license): notes on CSF
  packages/web-components/IMPLEMENTATION_NOTES.md
Labels: Ready to merge, package: web components

#5131 docs(masthead): fix to masthead styles import line in documentation
  packages/react/src/components/Masthead/README.stories.mdx
Labels: Ready to merge

#5130 fix(callout-with-media): Align to non gutter grid line
  packages/web-components/src/components/callout-with-media/__stories__/callout-with-media.stories.ts
Labels: Ready to merge

#5117 fix(link-list-section): heading now aligns with top items line
  packages/web-components/src/components/link-list-section/link-list-section.scss
Labels: Ready to merge, package: web components

#5110 fix(contentBlockMixed): align to non-gutter grid
  packages/styles/scss/components/content-group-cards/_content-group-cards.scss
  packages/styles/scss/internal/content-block/_content-block.scss
  packages/web-components/examples/codesandbox/components/content-block-mixed/.gitignore
  packages/web-components/examples/codesandbox/components/content-block-mixed/index.html
  packages/web-components/examples/codesandbox/components/content-block-mixed/package.json
  packages/web-components/examples/codesandbox/components/content-block-mixed/sandbox.config.json
  packages/web-components/examples/codesandbox/components/content-block-mixed/snowpack.config.json
  packages/web-components/examples/codesandbox/components/content-block-mixed/src/index.js
  packages/web-components/examples/codesandbox/components/content-block-mixed/src/index.scss
  packages/web-components/src/components/content-block-mixed/__stories__/README.stories.mdx
  packages/web-components/src/components/content-block-mixed/__stories__/content-block-mixed.stories.ts
  packages/web-components/src/components/content-block-mixed/content-block-mixed.scss
  packages/web-components/src/components/content-block-mixed/content-block-mixed.ts
  packages/web-components/src/components/content-group-cards/content-group-cards.ts
  packages/web-components/src/components/content-group-pictograms/content-group-pictograms.ts
  packages/web-components/tests/snapshots/dds-content-group-cards.md
Labels: Ready to merge, package: web components

#5141 fix(masthead): gray overlay showing up
  packages/web-components/src/components/masthead/masthead.scss
Labels: Ready to merge, package: web components

#5133 fix(fade-in-out): removed dotcom shell from stories
  packages/react/src/components/FadeInOut/__stories__/FadeInOut.stories.js
  packages/web-components/src/components/fade-in-out/__stories__/fade-in-out.stories.ts
Labels: Ready to merge

#5140 fix(megamenu): reduce padding in megamenu above view all link
  packages/styles/scss/components/masthead/_masthead-megamenu.scss
Labels: Ready to merge, package: react, package: web components

#5137 feat(masthead): grouped search results
  packages/react/src/components/Masthead/Masthead.js
  packages/react/src/components/Masthead/MastheadSearch.js
  packages/react/src/components/Masthead/README.stories.mdx
  packages/services/src/services/SearchTypeahead/SearchTypeahead.js
  packages/services/src/services/SearchTypeahead/__tests__/SearchTypeahead.test.js
  packages/styles/scss/components/masthead/_masthead-search.scss
  tasks/jest/env.js
Labels: Ready to merge, package: react

#5160 fix(megamenu): remove menu role for accessibility
  packages/web-components/src/components/masthead/megamenu-top-nav-menu.ts
Labels: Ready to merge, package: web components

#5035 fix(carousel): improved tab page navigation
  packages/web-components/src/components/carousel/carousel.ts
Labels: Ready to merge, package: web components

#5168 fix(masthead): customtypeahead api fix
  packages/react/src/components/Masthead/MastheadSearch.js
  packages/react/src/components/Masthead/README.stories.mdx
  packages/services/src/services/SearchTypeahead/SearchTypeahead.js
  packages/services/src/services/SearchTypeahead/__tests__/SearchTypeahead.test.js
  tasks/jest/env.js
Labels: Ready to merge, package: react

#5164 fix(content-item): adjusted styling for image with caption and video
  packages/web-components/src/components/content-group-simple/__stories__/content-group-simple.stories.ts
  packages/web-components/src/components/content-item/content-item.scss
Labels: Ready to merge, package: web components

#5175 fix(masthead): add tabIndex
  packages/web-components/src/components/masthead/masthead-composite.ts
Labels: Ready to merge, package: web components

#5179 fix(footer): update micro language only styles
  packages/styles/scss/components/footer/_language-selector.scss
Labels: Ready to merge, package: react

#5180 fix(masthead): update tabindex
  packages/web-components/src/components/masthead/masthead-logo.ts
Labels: package: web components

#5183 fix(card): remove text decoration from active state
  packages/styles/scss/components/card/index.scss
Labels: Ready to merge, package: web components

#5184 fix(video-player): update caption styles
  packages/styles/scss/components/video-player/_video-player.scss
Labels: Ready to merge

#5189 fix(expressive-modal): ensure waiting for transitionend event
  packages/web-components/src/components/expressive-modal/__tests__/expressive-modal.test.ts
  packages/web-components/src/components/expressive-modal/expressive-modal.ts
  packages/web-components/src/components/locale-modal/locale-modal.ts
Labels: Ready to merge, package: web components

#5186 fix(leadspace): added aria-label to buttons based on the selected icon
  packages/web-components/src/components/leadspace/__stories__/leadspace.stories.ts
Labels: Ready to merge, package: web components

#5177 docs(web-components): implementation notes on the Rollup bundle
  packages/web-components/IMPLEMENTATION_NOTES.md
Labels: Ready to merge, package: web components

#5142 feat(promo-group): add Promo Group and Promo Item/Card Web Components
  packages/web-components/.env.example
  packages/web-components/src/components/promo-group/__stories__/README.stories.mdx
  packages/web-components/src/components/promo-group/__stories__/promo-group.stories.ts
  packages/web-components/src/components/promo-group/__tests__/promo-group.test.ts
  packages/web-components/src/components/promo-group/promo-group.scss
  packages/web-components/src/components/promo-group/promo-group.ts
  packages/web-components/src/components/promo-item/__stories__/README.stories.mdx
  packages/web-components/src/components/promo-item/__stories__/promo-item.stories.scss
  packages/web-components/src/components/promo-item/__stories__/promo-item.stories.ts
  packages/web-components/src/components/promo-item/__tests__/promo-item.test.ts
  packages/web-components/src/components/promo-item/promo-item-statistic.ts
  packages/web-components/src/components/promo-item/promo-item.scss
  packages/web-components/src/components/promo-item/promo-item.ts
  packages/web-components/src/globals/internal/feature-flags.ts
  packages/web-components/tests/karma.conf.js
Labels: AEM owned, Ready to merge, adopter: AEM, feature flag

#5196 fix(card): remove aria-hidden from copy
  packages/web-components/src/components/card/card.ts
  packages/web-components/tests/snapshots/dds-card-cta.md
  packages/web-components/tests/snapshots/dds-card.md
  packages/web-components/tests/snapshots/dds-feature-card-block-large.md
  packages/web-components/tests/snapshots/dds-feature-card.md
  packages/web-components/tests/snapshots/dds-feature-cta.md
Labels: Ready to merge

#5182 fix(expressive-modal): handle focus wrapping with video
  packages/web-components/src/components/expressive-modal/expressive-modal.ts
Labels: Ready to merge, package: web components

#5198 feat(search): allow custom url with noSearchRedirect
  packages/react/src/components/Masthead/MastheadSearchSuggestion.js
Labels: Ready to merge

#5176 fix(language-selector): width of web component different than react version
  packages/web-components/src/components/footer/footer.scss
Labels: Ready to merge, package: web components

#5235 docs(web-components): note on React SSR
  packages/web-components/IMPLEMENTATION_NOTES.md
Labels: Ready to merge, package: web components

#5207 fix(card): focus state outline is off
  packages/styles/scss/components/card/index.scss
  packages/web-components/src/components/card/card.scss
Labels: Ready to merge, package: web components

#5249 feat(carousel): added story for cards with images
  packages/web-components/src/components/carousel/__stories__/carousel.stories.ts
Labels: Ready to merge, package: web components

#5206 chore(deps): update examples carbon/icons-react to latest
  packages/react/examples/codesandbox/components/ButtonGroup/package.json
  packages/react/examples/codesandbox/components/CTA/package.json
  packages/react/examples/codesandbox/components/CTASection/package.json
  packages/react/examples/codesandbox/components/CalloutQuote/package.json
  packages/react/examples/codesandbox/components/CalloutWithMedia/package.json
  packages/react/examples/codesandbox/components/Card/package.json
  packages/react/examples/codesandbox/components/CardGroup/package.json
  packages/react/examples/codesandbox/components/CardLink/package.json
  packages/react/examples/codesandbox/components/CardSectionImages/package.json
  packages/react/examples/codesandbox/components/CardSectionSimple/package.json
  packages/react/examples/codesandbox/components/ContentBlockCards/package.json
  packages/react/examples/codesandbox/components/ContentBlockMedia/package.json
  packages/react/examples/codesandbox/components/ContentBlockMixed/package.json
  packages/react/examples/codesandbox/components/ContentBlockSegmented/package.json
  packages/react/examples/codesandbox/components/ContentBlockSimple/package.json
  packages/react/examples/codesandbox/components/ContentGroupCards/package.json
  packages/react/examples/codesandbox/components/ContentGroupHorizontal/package.json
  packages/react/examples/codesandbox/components/ContentGroupPictograms/package.json
  packages/react/examples/codesandbox/components/ContentGroupSimple/package.json
  packages/react/examples/codesandbox/components/ContentItemHorizontal/package.json
  packages/react/examples/codesandbox/components/DotcomShell/package.json
  packages/react/examples/codesandbox/components/ExpressiveModal/package.json
  packages/react/examples/codesandbox/components/FadeInOut/package.json
  packages/react/examples/codesandbox/components/FeatureCard/package.json
  packages/react/examples/codesandbox/components/FeatureCardBlockLarge/package.json
  packages/react/examples/codesandbox/components/FeatureCardBlockMedium/package.json
  packages/react/examples/codesandbox/components/Footer/package.json
  packages/react/examples/codesandbox/components/HorizontalRule/package.json
  packages/react/examples/codesandbox/components/Image/package.json
  packages/react/examples/codesandbox/components/ImageWithCaption/package.json
  packages/react/examples/codesandbox/components/Layout/package.json
  packages/react/examples/codesandbox/components/LeadSpaceBlock/package.json
  packages/react/examples/codesandbox/components/Leadspace/package.json
  packages/react/examples/codesandbox/components/LightboxMediaViewer/package.json
  packages/react/examples/codesandbox/components/LinkList/package.json
  packages/react/examples/codesandbox/components/LinkWithIcon/package.json
  packages/react/examples/codesandbox/components/LocaleModal/package.json
  packages/react/examples/codesandbox/components/LogoGrid/package.json
  packages/react/examples/codesandbox/components/Masthead/package.json
  packages/react/examples/codesandbox/components/MastheadL1/package.json
  packages/react/examples/codesandbox/components/PictogramItem/package.json
  packages/react/examples/codesandbox/components/Quote/package.json
  packages/react/examples/codesandbox/components/TableOfContents/package.json
  packages/react/examples/codesandbox/components/VideoPlayer/package.json
Labels: Ready to merge

#5250 docs(web-components): implementation notes on focus wrapping
  packages/web-components/IMPLEMENTATION_NOTES.md
Labels: Ready to merge, package: web components

#5251 fix(cta-section): removed set same height usage
  packages/react/src/components/CTASection/CTASection.js
Labels: Ready to merge

#5252 fix(feature-card): fixed multiple style mismatches from specs
  packages/styles/scss/components/card/index.scss
  packages/styles/scss/components/feature-card-block-large/_feature-card-block-large.scss
  packages/web-components/src/components/feature-card-block-large/__stories__/feature-card-block-large.stories.ts
  packages/web-components/src/components/feature-card-block-large/feature-card-block-large.scss
  packages/web-components/src/components/feature-card-block-medium/__stories__/feature-card-block-medium.stories.ts
Labels: Ready to merge

#5119 fix(ordered-list): spacing too crowded when number above 9
  packages/styles/scss/themes/expressive/components/_list.scss
  packages/styles/scss/themes/expressive/index.scss
  packages/styles/src/carbon-stories/OrderedList/OrderedList-story.js
Labels: Ready to merge, package: styles

#5270 chore(release): merging release/v1.16.0 into master branch
  packages/eslint-config-ibmdotcom/CHANGELOG.md
  packages/eslint-config-ibmdotcom/package.json
  packages/eslint-plugin-ibmdotcom-import-rules/CHANGELOG.md
  packages/eslint-plugin-ibmdotcom-import-rules/package.json
  packages/eslint-plugin-react-prop-type-comments/CHANGELOG.md
  packages/eslint-plugin-react-prop-type-comments/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/services-store/CHANGELOG.md
  packages/services-store/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
  packages/storybook-addon-theme/CHANGELOG.md
  packages/storybook-addon-theme/package.json
  packages/stylelint-config-ibmdotcom/CHANGELOG.md
  packages/stylelint-config-ibmdotcom/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
Labels: Ready to merge

#5228 fix(masthead): adjust masthead overflow calculations
  packages/web-components/src/components/masthead/__tests__/top-nav.test.ts
  packages/web-components/src/components/masthead/masthead.scss
  packages/web-components/src/components/masthead/top-nav.ts
Labels: Ready to merge, package: web components

#5254 fix(lightbox-m-viewer): fixing the expressive-modal styling issues
  packages/web-components/src/components/expressive-modal/expressive-modal.scss
  packages/web-components/src/components/lightbox-media-viewer/lightbox-media-viewer.scss
  packages/web-components/src/components/lightbox-media-viewer/lightbox-video-player-composite.ts
Labels: Ready to merge, package: web components

#5262 fix(leaving-ibm): added heading role
  packages/web-components/src/components/leaving-ibm/leaving-ibm-modal-heading.ts
Labels: Ready to merge, package: web components

#5271 fix(content-group-pictograms): align to non-gutter grid
  packages/web-components/src/components/content-group-pictograms/__stories__/content-group-pictograms.stories.ts
Labels: Ready to merge

#5263 fix(content-group-horizontal): align to non-gutter grid
  packages/web-components/.storybook/container.scss
  packages/web-components/src/components/content-group-horizontal/__stories__/content-group-horizontal.stories.ts
  packages/web-components/src/components/content-group-horizontal/content-group-horizontal.ts
  packages/web-components/src/components/content-item-horizontal/__stories__/content-item-horizontal.stories.ts
  packages/web-components/src/components/content-item-horizontal/content-item-horizontal.scss
  packages/web-components/tests/snapshots/dds-content-group-horizontal.md
Labels: Ready to merge, package: web components

#5272 fix(top-nav): drift away from offsetLeft property
  packages/web-components/src/components/masthead/__tests__/top-nav.test.ts
  packages/web-components/src/components/masthead/masthead.scss
  packages/web-components/src/components/masthead/top-nav.ts
Labels: Ready to merge

#5269 fix(content-group-cards): removed same-height usage for grid
  packages/react/src/components/ContentGroupCards/ContentGroupCards.js
  packages/styles/scss/components/content-group-cards/_content-group-cards.scss
Labels: Ready to merge

#5298 fix(scroll-animations): rename storybook title
  packages/react/src/components/ScrollAnimations/__stories__/ScrollAnimations.stories.js
Labels: Ready to merge

#5282 fix(cta-section): deleted carbon grid and added css grid
  packages/web-components/src/components/cta-section/__stories__/cta-section.stories.ts
  packages/web-components/src/components/cta-section/cta-section.scss
Labels: Ready to merge

#5273 docs(web-components): update ToC of implementation notes
  packages/web-components/IMPLEMENTATION_NOTES.md
Labels: Ready to merge, package: web components

#5295 fix(lightbox-m-viewer): removing html tags from video description
  packages/web-components/src/components/lightbox-media-viewer/lightbox-video-player.ts
Labels: Ready to merge, package: web components

#5297 fix(footer): added aria-label to describe footer
  packages/web-components/src/components/footer/footer.ts
  packages/web-components/tests/snapshots/dds-footer-composite.md
Labels: Ready to merge

#5300 fix(content-block-headlines): aligning CTA at the bottom
  packages/web-components/src/components/content-block-headlines/content-block-headlines.scss
Labels: Ready to merge, package: web components
