Repository carbon-design-system/carbon-for-ibm-dotcom, pull requests merged in 2021-11, with the labels that each got.

#7548 fix(table-of-contents): bump navbar z-index
  packages/styles/scss/components/tableofcontents/_tableofcontents.scss
Labels: package: styles, Ready to merge

#7549 test(leadspace): e2e testing for centered and super variations
  packages/react/tests/e2e-storybook/cypress/integration/LeadSpace/LeadSpace.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/leadspace/leadspace.e2e.js
Labels: Ready to merge, test: e2e

#7534 test(footer): add e2e tests for footer - micro language only
  packages/react/tests/e2e-storybook/cypress/integration/Footer/Footer.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/footer/footer.e2e.js
Labels: package: react, package: web components, Ready to merge, test: e2e

#7538 feat(card): create react wrapper story and codesandbox
  packages/styles/scss/components/tag-group/_tag-group.scss
  packages/web-components/examples/codesandbox/components-react/card/.gitignore
  packages/web-components/examples/codesandbox/components-react/card/index.html
  packages/web-components/examples/codesandbox/components-react/card/package.json
  packages/web-components/examples/codesandbox/components-react/card/sandbox.config.json
  packages/web-components/examples/codesandbox/components-react/card/src/index.css
  packages/web-components/examples/codesandbox/components-react/card/src/index.js
  packages/web-components/examples/codesandbox/components-react/card/webpack.config.js
  packages/web-components/src/components/card/__stories__/README.stories.react.mdx
  packages/web-components/src/components/card/__stories__/card.stories.react.tsx
Labels: package: web components, Ready to merge

#7560 test(e2e): fix masthead overflow e2e tests
  .yarn/offline-mirror/cypress-wait-until-1.7.2.tgz
  packages/react/package.json
  packages/react/tests/e2e-storybook/cypress/integration/Masthead/Masthead.e2e.js
  packages/react/tests/e2e-storybook/cypress/support/commands.js
  packages/web-components/package.json
  packages/web-components/tests/e2e-storybook/cypress/integration/masthead/masthead.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/support/commands.js
  yarn.lock
Labels: dev, Ready to merge

#7576 test(e2e): various false positive fixes for Masthead and Quote
  packages/react/tests/e2e-storybook/cypress/integration/CalloutQuote/CalloutQuote.e2e.js
  packages/react/tests/e2e-storybook/cypress/integration/Footer/Footer.e2e.js
  packages/react/tests/e2e-storybook/cypress/integration/Masthead/Masthead.e2e.js
  packages/react/tests/e2e-storybook/cypress/integration/Quote/Quote.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/masthead/masthead.e2e.js
Labels: dev, Ready to merge, test: e2e

#7586 fix(browserstack): add `cypress-wait-until` for browserstack automate
  packages/react/tests/e2e-storybook/browserstack.json
  packages/web-components/tests/e2e-storybook/browserstack.json
Labels: dev, Ready to merge

#7160 fix(content-block): aside element take 3 columns only
  packages/styles/scss/components/content-block-mixed/_content-block-mixed.scss
  packages/styles/scss/components/content-group-banner/_content-group-banner.scss
  packages/styles/scss/components/layout/_layout.scss
  packages/styles/scss/components/link-list/_link-list.scss
  packages/styles/scss/internal/content-block/_content-block.scss
Labels: package: react, package: web components, Ready to merge

#7589 fix(search-with-typeahead): fixed mobile focus bug
  packages/web-components/src/components/search-with-typeahead/search-with-typeahead.ts
Labels: Ready to merge

#7592 fix(browserstack): various browserstack e2e test fixes
  packages/react/tests/e2e-storybook/cypress-canary.json
  packages/react/tests/e2e-storybook/cypress-staging.json
  packages/react/tests/e2e-storybook/cypress/fixtures/typeahead.json
  packages/react/tests/e2e-storybook/cypress/integration/Footer/Footer.e2e.js
  packages/react/tests/e2e-storybook/cypress/integration/Masthead/Masthead.e2e.js
  packages/react/tests/e2e-storybook/cypress/support/commands.js
  packages/web-components/tests/e2e-storybook/cypress-canary.json
  packages/web-components/tests/e2e-storybook/cypress-staging.json
  packages/web-components/tests/e2e-storybook/cypress/fixtures/typeahead.json
  packages/web-components/tests/e2e-storybook/cypress/integration/footer/footer.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/masthead/masthead.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/support/commands.js
Labels: dev, Ready to merge

#7596 fix(search-with-typeahead): remove focusout code
  packages/web-components/src/components/masthead/masthead-global-bar.ts
  packages/web-components/src/components/search-with-typeahead/search-with-typeahead.ts
Labels: Ready to merge

#7602 chore(cla-assistant): introduce CLA aassistant github workflow
  .github/workflows/cla.yml
Labels: dev, Ready to merge

#7607 fix(cla-assistant): updated kodiakhq name for allowlist
  .github/workflows/cla.yml
Labels: dev, Ready to merge

#7610 fix(dco): switch to use CDS org DCO
  .github/workflows/cla.yml
  .github/workflows/dco.yml
Labels: dev

#7611 chore(github-actions): introduce concurrency limit to workflows
  .github/workflows/automerge.yml
  .github/workflows/ci-check.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependabot-yarn-mirror.yml
  .github/workflows/deploy-canary.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/percy-update-base-wc-e2e-codesandbox.yml
  .github/workflows/percy-update-base.yml
  .github/workflows/publish-canary.yml
  .github/workflows/publish-nightly.yml
  .github/workflows/publish-staging.yml
  .github/workflows/release-preflight.yml
  .github/workflows/snapshot-update.yml
Labels: dev, Ready to merge

#7531 fix(search-with-typeahead): remove gap between search action buttons
  packages/styles/scss/components/search-with-typeahead/_search-with-typeahead.scss
Labels: package: react, package: styles, package: web components, Ready to merge

#7451 fix(card): added text wrapping to cta text
  packages/styles/scss/components/card/index.scss
  packages/styles/scss/components/link-with-icon/_link-with-icon.scss
  packages/web-components/src/components/card/card-footer.ts
Labels: Ready to merge

#7614 chore(support): update fireline roster for sprint 23
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/contribution_request.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/question.yaml
Labels: dev, Ready to merge

#7561 test(footer): add e2e tests for footer short
  packages/react/tests/e2e-storybook/cypress/integration/Footer/Footer.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/footer/footer.e2e.js
Labels: Ready to merge

#7618 chore(github-actions): prevent actions from running on forks
  .github/workflows/automerge.yml
  .github/workflows/dco.yml
  .github/workflows/dependabot-yarn-mirror.yml
  .github/workflows/deploy-canary.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/percy-update-base.yml
  .github/workflows/publish-canary.yml
  .github/workflows/publish-nightly.yml
  .github/workflows/publish-staging.yml
  .github/workflows/release-preflight.yml
  .github/workflows/snapshot-update.yml
Labels: dev, Ready to merge

#7616 fix(github-actions): update dependabot name for dco allowlist
  .github/workflows/dco.yml
Labels: dev, Ready to merge

#7623 fix(github-actions): fix to dco workflow name
  .github/workflows/dco.yml
Labels: dev, Ready to merge

#7593 feat(card): add print styles
  packages/styles/scss/components/card/index.scss
Labels: package: react, package: web components, Ready to merge

#7608 feat(leadspace & button group): add print friendly styles
  packages/styles/scss/components/buttongroup/_buttongroup.scss
  packages/styles/scss/components/leadspace/_leadspace.scss
  packages/web-components/src/components/button/button.ts
  packages/web-components/tests/snapshots/dds-button-group.md
Labels: package: styles, package: web components, Ready to merge

#7536 fix(cta-section) fix various style errors at sm breakpoint
  packages/web-components/src/components/cta-block/cta-block.scss
  packages/web-components/src/components/cta-section/__stories__/cta-section.stories.ts
  packages/web-components/src/components/cta-section/cta-section.scss
Labels: Ready to merge, hacktoberfest-accepted

#7657 chore(github-actions): add renovate[bot] to dco allowlist
  .github/workflows/dco.yml
Labels: dev, Ready to merge

#7594 chore(github-actions): switch `setup-node` to v2 and add yarn cache
  .github/workflows/automerge.yml
  .github/workflows/ci-check.yml
  .github/workflows/dependabot-yarn-mirror.yml
  .github/workflows/deploy-canary.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/percy-update-base-wc-e2e-codesandbox.yml
  .github/workflows/percy-update-base.yml
  .github/workflows/publish-canary.yml
  .github/workflows/publish-nightly.yml
  .github/workflows/publish-staging.yml
  .github/workflows/release-preflight.yml
  .github/workflows/snapshot-update.yml
Labels: dev, Ready to merge, housekeeping

#7650 feat(content-item-horizontal): create featured media variant
  packages/styles/scss/components/content-item-horizontal-media/_content-item-horizontal-media.scss
  packages/web-components/examples/codesandbox/components/content-item-horizontal/cdn.html
  packages/web-components/examples/codesandbox/components/content-item-horizontal/index.html
  packages/web-components/src/components/content-item-horizontal/__stories__/README.stories.mdx
  packages/web-components/src/components/content-item-horizontal/__stories__/content-item-horizontal.stories.ts
  packages/web-components/src/components/content-item-horizontal/__tests__/content-item-horizontal.test.ts
  packages/web-components/src/components/content-item-horizontal/content-item-horizontal-media-featured.ts
  packages/web-components/src/components/content-item-horizontal/index.ts
  packages/web-components/tests/snapshots/dds-content-item-horizontal.md
Labels: package: web components, Ready to merge

#7653 fix(feature-card): correct icon display in Safari
  packages/web-components/src/components/feature-card/feature-card-footer.ts
Labels: package: web components, Ready to merge

#7666 chore(puppeteer): remove puppeteer from the project
  .yarn/offline-mirror/@percy-puppeteer-1.1.0.tgz
  .yarn/offline-mirror/agent-base-6.0.2.tgz
  .yarn/offline-mirror/devtools-protocol-0.0.854822.tgz
  .yarn/offline-mirror/expect-puppeteer-4.4.0.tgz
  .yarn/offline-mirror/https-proxy-agent-5.0.0.tgz
  .yarn/offline-mirror/jest-environment-puppeteer-4.4.0.tgz
  .yarn/offline-mirror/puppeteer-8.0.0.tgz
  packages/react/package.json
  packages/web-components/package.json
  yarn.lock
Labels: dev, Ready to merge

#7655 feat(masthead): ensure active l1 item is seen on load
  packages/web-components/src/components/masthead/__tests__/top-nav.test.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/top-nav.ts
Labels: RTL, package: web components, Ready to merge

#7637 test(feature-card): added e2e for medium and large stories
  packages/react/tests/e2e-storybook/cypress/integration/FeatureCard/FeatureCard.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/feature-card/feature-card.e2e.js
Labels: package: react, package: web components, Ready to merge

#7681 fix(Masthead): add optional chaining to root.location to remove error in NextJS when rendering server-side
  packages/react/src/components/Masthead/MastheadL1.js
  packages/react/src/components/Masthead/MastheadLeftNav.js
  packages/react/src/components/Masthead/MastheadTopNav.js
  packages/web-components/src/components/masthead/masthead-composite.ts
Labels: package: react, package: web components, Ready to merge

#7692 test(link-list): update utils
  packages/react/tests/e2e-storybook/cypress/integration/LinkList/LinkList.e2e.js
  packages/react/tests/e2e-storybook/cypress/utils/get-css-property-for-rule.js
  packages/web-components/tests/e2e-storybook/cypress/integration/link-list/link-list.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/utils/get-css-property-for-rule.js
  packages/web-components/tests/utils/get-css-property-for-rule.ts
Labels: Ready to merge, test: e2e

#7687 fix(TableOfContents): sync props and state for dynamically added items
  packages/react/src/components/TableOfContents/TableOfContents.js
Labels: package: react, Ready to merge

#7661 docs(pictogram-item): add select pictogram knob
  packages/web-components/src/components/pictogram-item/__stories__/pictogram-item.stories.ts
Labels: package: web components, Ready to merge, storybook

#7708 fix(Masthead): use `window` or `global` object
  packages/react/src/components/Masthead/Masthead.js
Labels: package: react, Ready to merge

#7724 chore(support): update fireline roster for sprint 24
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/contribution_request.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/question.yaml
Labels: dev, Ready to merge

#7706 feat(card-group): add react wrapper stories and example
  packages/web-components/examples/codesandbox/components-react/card-group/.gitignore
  packages/web-components/examples/codesandbox/components-react/card-group/index.html
  packages/web-components/examples/codesandbox/components-react/card-group/package.json
  packages/web-components/examples/codesandbox/components-react/card-group/sandbox.config.json
  packages/web-components/examples/codesandbox/components-react/card-group/src/index.css
  packages/web-components/examples/codesandbox/components-react/card-group/src/index.js
  packages/web-components/examples/codesandbox/components-react/card-group/webpack.config.js
  packages/web-components/src/components/card-group/__stories__/README.stories.mdx
  packages/web-components/src/components/card-group/__stories__/README.stories.react.mdx
  packages/web-components/src/components/card-group/__stories__/card-group.stories.react.tsx
  packages/web-components/src/components/card-group/__stories__/card-group.stories.ts
  packages/web-components/src/components/card-group/card-group-card-link-item.ts
  packages/web-components/src/components/card-group/card-group.scss
  packages/web-components/src/components/card/card.scss
  packages/web-components/src/components/cta/card-cta-image.ts
Labels: package: react, Ready to merge, :eyes: eyes needed

#7697 test(card-static): add e2e tests
  packages/react/tests/e2e-storybook/cypress/integration/Card/Card-Static.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/card/card-static.e2e.js
Labels: Ready to merge

#7691 fix(masthead): add z-index value to address overlapping issue seen within the Drupal
  packages/web-components/src/components/masthead/cloud/cloud-masthead-composite.ts
  packages/web-components/src/components/masthead/cloud/cloud-masthead.scss
  packages/web-components/src/components/masthead/masthead-composite.ts
Labels: adopter: Drupal, package: web components, Ready to merge, adopter: Hybrid cloud

#7533 feat(background-media): add support for background videos
  packages/styles/scss/components/background-media/_background-media.scss
  packages/styles/scss/components/card-section-offset/_card-section-offset.scss
  packages/styles/scss/components/leadspace-with-search/_leadspace-with-search.scss
  packages/styles/scss/components/video-player/_video-player.scss
  packages/web-components/src/components/background-media/__stories__/README.stories.mdx
  packages/web-components/src/components/background-media/__stories__/background-media.stories.ts
  packages/web-components/src/components/background-media/background-media.scss
  packages/web-components/src/components/background-media/background-media.ts
  packages/web-components/src/components/lightbox-media-viewer/lightbox-video-player-composite.ts
  packages/web-components/src/components/video-player/video-player-composite.ts
  packages/web-components/src/components/video-player/video-player-container.ts
  packages/web-components/src/components/video-player/video-player.ts
  packages/web-components/tests/snapshots/dds-background-media.md
Labels: package: web components, Ready to merge, adopter: AEM

#7742 fix(leaving-ibm): update open attribute
  packages/web-components/src/components/leaving-ibm/leaving-ibm-composite.ts
Labels: package: web components, Ready to merge

#7737 test(logo-grid): add e2e tests
  packages/react/tests/e2e-storybook/cypress/integration/LogoGrid/LogoGrid.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/logo-grid/logo-grid.e2e.js
Labels: package: react, package: web components, Ready to merge

#7739 test(feature-card): fix firefox test failure
  packages/react/tests/e2e-storybook/cypress/integration/FeatureCard/FeatureCard.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/feature-card/feature-card.e2e.js
Labels: Ready to merge, test: e2e

#7672 fix(card-cta-footer): adjust arrow position inconsistency seen in safari
  packages/styles/scss/components/card/index.scss
  packages/utilities/src/utilities/sameHeight/sameHeight.js
Labels: package: styles, Ready to merge, adopter: AEM

#7694 test(locale-modal): add additional e2e tests
  packages/react/tests/e2e-storybook/cypress/integration/LocaleModal/LocaleModal.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/locale-modal/locale-modal.e2e.js
Labels: Ready to merge

#7714 fix(digitalData): add `globalInit` function to `dotcom-shell-composite`
  packages/web-components/src/components/dotcom-shell/dotcom-shell-composite.ts
Labels: dev, Ready to merge

#7647 feat(card): add logo variant
  packages/storybook-images/assets/logos/logo-microsoft--2x1.png
  packages/styles/scss/components/card/index.scss
  packages/styles/scss/components/image/_image.scss
  packages/web-components/src/components/card/__stories__/README.stories.mdx
  packages/web-components/src/components/card/__stories__/card.stories.ts
  packages/web-components/src/components/card/card.ts
  packages/web-components/src/components/card/image-logo.ts
  packages/web-components/src/components/card/index.ts
  packages/web-components/src/typings/resources.d.ts
Labels: package: web components, Ready to merge, adopter: AEM, :eyes: eyes needed

#7690 feat(masthead): scroll to active menu item on L0
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/top-nav.ts
  packages/web-components/tests/snapshots/dds-masthead-composite.md
Labels: package: web components, Ready to merge

#7733 fix(carousel): prevent scrolling to empty page & ensure scrolling to focused item's page
  packages/web-components/src/components/carousel/__stories__/carousel.stories.ts
  packages/web-components/src/components/carousel/carousel.ts
Labels: package: web components, Ready to merge, adopter: AEM

#7649 feat(carousel-card-section-offset): add print styles to Carousel and Card Section Offset
  packages/styles/scss/components/card-group/_card-group.scss
  packages/styles/scss/components/card-section-offset/_card-section-offset.scss
  packages/styles/scss/components/carousel/_carousel.scss
  packages/web-components/src/components/carousel/carousel.scss
Labels: package: styles, Ready to merge

#7759 chore(leaving-ibm): update `leaving-ibm` docs
  packages/web-components/src/components/leaving-ibm/__stories__/README.stories.mdx
  packages/web-components/src/components/leaving-ibm/__stories__/README.stories.react.mdx
Labels: documentation, package: web components, Ready to merge

#7763 test(e2e): overhaul of snapshot testing for web components and react
  packages/react/tests/e2e-storybook/cypress-canary.json
  packages/react/tests/e2e-storybook/cypress-local.json
  packages/react/tests/e2e-storybook/cypress.json
  packages/react/tests/e2e-storybook/cypress/integration/CalloutQuote/CalloutQuote.e2e.js
  packages/react/tests/e2e-storybook/cypress/integration/Card/Card-Static.e2e.js
  packages/react/tests/e2e-storybook/cypress/integration/FeatureCard/FeatureCard.e2e.js
  packages/react/tests/e2e-storybook/cypress/integration/Footer/Footer.e2e.js
  packages/react/tests/e2e-storybook/cypress/integration/LeadSpace/LeadSpace.e2e.js
  packages/react/tests/e2e-storybook/cypress/integration/LocaleModal/LocaleModal.e2e.js
  packages/react/tests/e2e-storybook/cypress/integration/LogoGrid/LogoGrid.e2e.js
  packages/react/tests/e2e-storybook/cypress/integration/Masthead/Masthead.e2e.js
  packages/react/tests/e2e-storybook/cypress/integration/PictogramItem/PictogramItem.e2e.js
  packages/react/tests/e2e-storybook/cypress/integration/Quote/Quote.e2e.js
  packages/react/tests/e2e-storybook/cypress/integration/TableOfContents/TableOfContents.e2e.js
  packages/react/tests/e2e-storybook/cypress/support/commands.js
  packages/web-components/tests/e2e-storybook/cypress-local.json
  packages/web-components/tests/e2e-storybook/cypress.json
  packages/web-components/tests/e2e-storybook/cypress/integration/card/card-static.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/feature-card/feature-card.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/footer/footer.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/leadspace/leadspace.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/link-list/link-list.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/locale-modal/locale-modal.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/logo-grid/logo-grid.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/masthead/masthead.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/pictogram-item/pictogram-item.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/table-of-contents/table-of-contents.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/support/commands.js
Labels: dev, Ready to merge

#7768 chore(dotcomshell): update `card-group` component example
  packages/web-components/src/components/dotcom-shell/__stories__/data/content.ts
Labels: package: web components, Ready to merge, storybook

#7762 chore(percy): skip cards with video in percy diffs
  packages/web-components/src/components/carousel/__stories__/carousel.stories.ts
Labels: dev, Ready to merge

#7769 fix(carousel): add null check for carousel same height method
  packages/web-components/src/components/card-group/card-group.ts
  packages/web-components/src/components/carousel/carousel.ts
Labels: dev, Ready to merge

#7761 test(card-section-simple): add e2e-storybook test coverage
  packages/react/tests/e2e-storybook/cypress/integration/CardSectionSimple/CardSectionSimple.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/card-section-simple/card-section-simple.e2e.js
Labels: Ready to merge

#7715 chore(percy): upgrade `@percy/storybook` to v4
  .github/workflows/percy-update-base-wc-e2e-codesandbox.yml
  .github/workflows/percy-update-base.yml
  .yarn/offline-mirror/@percy-agent-0.26.9.tgz
  .yarn/offline-mirror/@percy-agent-1.0.0.tgz
  .yarn/offline-mirror/@percy-cli-1.0.0-beta.67.tgz
  .yarn/offline-mirror/@percy-cli-1.0.0-beta.70.tgz
  .yarn/offline-mirror/@percy-cli-build-1.0.0-beta.67.tgz
  .yarn/offline-mirror/@percy-cli-build-1.0.0-beta.70.tgz
  .yarn/offline-mirror/@percy-cli-command-1.0.0-beta.67.tgz
  .yarn/offline-mirror/@percy-cli-command-1.0.0-beta.70.tgz
  .yarn/offline-mirror/@percy-cli-config-1.0.0-beta.67.tgz
  .yarn/offline-mirror/@percy-cli-config-1.0.0-beta.70.tgz
  .yarn/offline-mirror/@percy-cli-exec-1.0.0-beta.67.tgz
  .yarn/offline-mirror/@percy-cli-exec-1.0.0-beta.70.tgz
  .yarn/offline-mirror/@percy-cli-snapshot-1.0.0-beta.67.tgz
  .yarn/offline-mirror/@percy-cli-snapshot-1.0.0-beta.70.tgz
  .yarn/offline-mirror/@percy-cli-upload-1.0.0-beta.67.tgz
  .yarn/offline-mirror/@percy-cli-upload-1.0.0-beta.70.tgz
  .yarn/offline-mirror/@percy-client-1.0.0-beta.67.tgz
  .yarn/offline-mirror/@percy-client-1.0.0-beta.70.tgz
  .yarn/offline-mirror/@percy-config-1.0.0-beta.67.tgz
  .yarn/offline-mirror/@percy-config-1.0.0-beta.70.tgz
  .yarn/offline-mirror/@percy-core-1.0.0-beta.67.tgz
  .yarn/offline-mirror/@percy-core-1.0.0-beta.70.tgz
  .yarn/offline-mirror/@percy-cypress-3.1.0.tgz
  .yarn/offline-mirror/@percy-cypress-3.1.1.tgz
  .yarn/offline-mirror/@percy-dom-1.0.0-beta.55.tgz
  .yarn/offline-mirror/@percy-dom-1.0.0-beta.67.tgz
  .yarn/offline-mirror/@percy-dom-1.0.0-beta.70.tgz
  .yarn/offline-mirror/@percy-env-1.0.0-beta.67.tgz
  .yarn/offline-mirror/@percy-env-1.0.0-beta.70.tgz
  .yarn/offline-mirror/@percy-logger-1.0.0-beta.55.tgz
  .yarn/offline-mirror/@percy-logger-1.0.0-beta.67.tgz
  .yarn/offline-mirror/@percy-logger-1.0.0-beta.70.tgz
  .yarn/offline-mirror/@percy-sdk-utils-1.0.0-beta.55.tgz
  .yarn/offline-mirror/@percy-sdk-utils-1.0.0-beta.70.tgz
  .yarn/offline-mirror/@percy-storybook-4.1.0.tgz
  .yarn/offline-mirror/@reach-router-1.3.4.tgz
  .yarn/offline-mirror/@storybook-client-logger-6.3.12.tgz
  .yarn/offline-mirror/@storybook-router-6.3.12.tgz
  .yarn/offline-mirror/@types-reach__router-1.3.9.tgz
  .yarn/offline-mirror/core-js-3.19.1.tgz
  .yarn/offline-mirror/fast-deep-equal-3.1.3.tgz
  .yarn/offline-mirror/follow-redirects-1.12.1.tgz
  .yarn/offline-mirror/follow-redirects-1.9.0.tgz
  .yarn/offline-mirror/puppeteer-3.3.0.tgz
  .yarn/offline-mirror/puppeteer-5.0.0.tgz
  .yarn/offline-mirror/ts-dedent-2.2.0.tgz
  packages/react/package.json
  packages/web-components/package.json
  yarn.lock
Labels: dev, Ready to merge

#7775 test(card-pictogram): added e2e tests
  packages/web-components/tests/e2e-storybook/cypress/integration/card/card-pictogram.e2e.js
Labels: Ready to merge

#7780 fix(percy): revert upgrade `@percy/storybook` to v4 (#7715)
  .yarn/offline-mirror/@percy-agent-0.26.9.tgz
  .yarn/offline-mirror/@percy-agent-1.0.0.tgz
  .yarn/offline-mirror/@percy-cli-1.0.0-beta.67.tgz
  .yarn/offline-mirror/@percy-cli-1.0.0-beta.70.tgz
  .yarn/offline-mirror/@percy-cli-build-1.0.0-beta.67.tgz
  .yarn/offline-mirror/@percy-cli-build-1.0.0-beta.70.tgz
  .yarn/offline-mirror/@percy-cli-command-1.0.0-beta.67.tgz
  .yarn/offline-mirror/@percy-cli-command-1.0.0-beta.70.tgz
  .yarn/offline-mirror/@percy-cli-config-1.0.0-beta.67.tgz
  .yarn/offline-mirror/@percy-cli-config-1.0.0-beta.70.tgz
  .yarn/offline-mirror/@percy-cli-exec-1.0.0-beta.67.tgz
  .yarn/offline-mirror/@percy-cli-exec-1.0.0-beta.70.tgz
  .yarn/offline-mirror/@percy-cli-snapshot-1.0.0-beta.67.tgz
  .yarn/offline-mirror/@percy-cli-snapshot-1.0.0-beta.70.tgz
  .yarn/offline-mirror/@percy-cli-upload-1.0.0-beta.67.tgz
  .yarn/offline-mirror/@percy-cli-upload-1.0.0-beta.70.tgz
  .yarn/offline-mirror/@percy-client-1.0.0-beta.67.tgz
  .yarn/offline-mirror/@percy-client-1.0.0-beta.70.tgz
  .yarn/offline-mirror/@percy-config-1.0.0-beta.67.tgz
  .yarn/offline-mirror/@percy-config-1.0.0-beta.70.tgz
  .yarn/offline-mirror/@percy-core-1.0.0-beta.67.tgz
  .yarn/offline-mirror/@percy-core-1.0.0-beta.70.tgz
  .yarn/offline-mirror/@percy-cypress-3.1.0.tgz
  .yarn/offline-mirror/@percy-cypress-3.1.1.tgz
  .yarn/offline-mirror/@percy-dom-1.0.0-beta.55.tgz
  .yarn/offline-mirror/@percy-dom-1.0.0-beta.67.tgz
  .yarn/offline-mirror/@percy-dom-1.0.0-beta.70.tgz
  .yarn/offline-mirror/@percy-env-1.0.0-beta.67.tgz
  .yarn/offline-mirror/@percy-env-1.0.0-beta.70.tgz
  .yarn/offline-mirror/@percy-logger-1.0.0-beta.55.tgz
  .yarn/offline-mirror/@percy-logger-1.0.0-beta.67.tgz
  .yarn/offline-mirror/@percy-logger-1.0.0-beta.70.tgz
  .yarn/offline-mirror/@percy-sdk-utils-1.0.0-beta.55.tgz
  .yarn/offline-mirror/@percy-sdk-utils-1.0.0-beta.70.tgz
  .yarn/offline-mirror/@percy-storybook-4.1.0.tgz
  .yarn/offline-mirror/@reach-router-1.3.4.tgz
  .yarn/offline-mirror/@storybook-client-logger-6.3.12.tgz
  .yarn/offline-mirror/@storybook-router-6.3.12.tgz
  .yarn/offline-mirror/@types-reach__router-1.3.9.tgz
  .yarn/offline-mirror/core-js-3.19.1.tgz
  .yarn/offline-mirror/fast-deep-equal-3.1.3.tgz
  .yarn/offline-mirror/follow-redirects-1.12.1.tgz
  .yarn/offline-mirror/follow-redirects-1.9.0.tgz
  .yarn/offline-mirror/puppeteer-3.3.0.tgz
  .yarn/offline-mirror/puppeteer-5.0.0.tgz
  .yarn/offline-mirror/ts-dedent-2.2.0.tgz
  packages/react/package.json
  packages/web-components/package.json
  yarn.lock
Labels: dev, Ready to merge

#7748 test(card): add default e2e storybook tests
  packages/react/tests/e2e-storybook/cypress/integration/Card/Card-Static.e2e.js
  packages/react/tests/e2e-storybook/cypress/integration/Card/Card.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/card/card-static.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/card/card.e2e.js
Labels: Ready to merge, test: e2e

#7772 chore(layout): fix codesandbox example and add code example to Web-components layout README
  packages/react/examples/codesandbox/components/Layout/src/index.js
  packages/react/src/components/Layout/README.stories.mdx
  packages/web-components/src/components/layout/__stories__/README.stories.mdx
Labels: package: react, package: web components, Ready to merge, housekeeping

#7776 test(e2e): multiple fixes to e2e tests on browserstack
  packages/react/tests/e2e-storybook/cypress/integration/Card/Card.e2e.js
  packages/react/tests/e2e-storybook/cypress/integration/FeatureCard/FeatureCard.e2e.js
  packages/react/tests/e2e-storybook/cypress/integration/LogoGrid/LogoGrid.e2e.js
  packages/web-components/.percy.json
  packages/web-components/tests/e2e-storybook/cypress/integration/card/card.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/feature-card/feature-card.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/logo-grid/logo-grid.e2e.js
Labels: Ready to merge
