Repository carbon-design-system/carbon-for-ibm-dotcom, pull requests merged in 2021-05, with the labels that each got.

#5935 fix (card): updating hover token for Card with the inverse theme
  packages/styles/scss/components/card/index.scss
Labels: Ready to merge

#5932 fix(card-in-card): update video import statement
  packages/web-components/src/components/card-in-card/card-in-card.ts
Labels: Ready to merge, package: web components

#5875 fix(featureCard): change styles so user can still click
  packages/styles/scss/components/feature-card/_feature-card.scss
  packages/web-components/src/components/feature-card/feature-card.scss
Labels: Ready to merge, package: react

#5956 fix(masthead): multi-section search headline
  packages/react/src/components/Masthead/MastheadSearch.js
Labels: Ready to merge, package: react

#5952 chore(docs): update wc implementation docs
  packages/web-components/IMPLEMENTATION_NOTES.md
Labels: package: carbon web components

#5964 fix(locale-modal): re-focus on region item when navigating within modal
  packages/web-components/src/components/locale-modal/locale-modal.ts
Labels: Ready to merge, package: web components

#5904 fix(card-section-carousel): removed page size knob
  packages/web-components/src/components/card-section-carousel/__stories__/README.stories.mdx
  packages/web-components/src/components/card-section-carousel/__stories__/card-section-carousel.stories.react.tsx
  packages/web-components/src/components/card-section-carousel/__stories__/card-section-carousel.stories.ts
Labels: Ready to merge, storybook

#5973 fix(masthead): lock down menu to white theme on mobile
  packages/styles/scss/components/masthead/_masthead-leftnav.scss
Labels: Ready to merge

#5926 fix(Megamenu): add margin to prevent shifting on scroll lock
  packages/react/src/components/carbon-components-react/UIShell/HeaderMenu.js
  packages/web-components/src/components/masthead/megamenu-top-nav-menu.ts
Labels: Ready to merge, package: react, package: web components

#5970 feat(masthead): search-open-onload-wc
  packages/web-components/src/components/dotcom-shell/__stories__/dotcom-shell.stories.ts
  packages/web-components/src/components/masthead/__stories__/README.stories.mdx
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/masthead-search-composite.ts
  packages/web-components/src/components/masthead/masthead-search.ts
Labels: Ready to merge, package: web components

#5982 fix(leaving-ibm): add modal bg color
  packages/web-components/src/components/expressive-modal/expressive-modal.scss
  packages/web-components/src/components/leaving-ibm/leaving-ibm.scss
Labels: Ready to merge, package: web components

#5967 fix(content-item-horizontal-with-media): style updates
  packages/styles/scss/components/content-item-horizontal-media/_content-item-horizontal-media.scss
  packages/styles/scss/components/tabs-extended-media/_tabs-extended-media.scss
  packages/web-components/.storybook/container.scss
Labels: Ready to merge, package: web components

#5951 fix(toc-horizontal): removed max-width and flex styles for content
  packages/web-components/src/components/dotcom-shell/__stories__/data/content.ts
  packages/web-components/src/components/table-of-contents/__stories__/table-of-contents.stories.ts
  packages/web-components/src/components/table-of-contents/table-of-contents.scss
Labels: Ready to merge, package: web components

#5862 fix(toc): storybook grid alignment
  packages/web-components/src/components/table-of-contents/__stories__/table-of-contents.stories.scss
Labels: Ready to merge, storybook

#5992 chore(storybook): remove copy knobs not re-rendering in storybook
  packages/web-components/src/components/callout-with-media/__stories__/callout-with-media.stories.ts
  packages/web-components/src/components/content-block-headlines/__stories__/content-block-headlines.stories.ts
  packages/web-components/src/components/content-block-mixed/__stories__/content-block-mixed.stories.ts
  packages/web-components/src/components/content-block-segmented/__stories__/content-block-segmented.stories.ts
  packages/web-components/src/components/content-group-cards/__stories__/content-group-cards.stories.ts
  packages/web-components/src/components/content-group-pictograms/__stories__/content-group-pictograms.stories.ts
  packages/web-components/src/components/content-group-simple/__stories__/content-group-simple.stories.ts
  packages/web-components/src/components/content-item-horizontal/__stories__/content-item-horizontal.stories.ts
  packages/web-components/src/components/cta-block/__stories__/cta-block.stories.ts
  packages/web-components/src/components/cta-section/__stories__/cta-section.stories.ts
  packages/web-components/src/components/pictogram-item/__stories__/pictogram-item.stories.ts
Labels: Ready to merge, package: web components, storybook

#5999 chore(security): fix security issues with older version of handlebars
  packages/web-components/examples/codesandbox/usage/dotcom-shell-cdn-with-handlebars/package.json
  packages/web-components/examples/codesandbox/usage/dotcom-shell-cdn-with-rtl/package.json
  packages/web-components/examples/codesandbox/usage/markdown-handlebars/package.json
  packages/web-components/examples/codesandbox/usage/webpack-handlebars/package.json
  packages/web-components/examples/codesandbox/usage/webpack-rtl/package.json
Labels: Ready to merge

#6004 chore(carbon-web-components): updating to v1.13.1
  .yarn/offline-mirror/carbon-web-components-1.13.0.tgz
  .yarn/offline-mirror/carbon-web-components-1.13.1.tgz
  packages/web-components/package.json
  yarn.lock
Labels: Ready to merge

#6015 fix(cta-card): cta-type updating icon in storybook knob
  packages/web-components/src/components/cta/__stories__/cta.stories.ts
Labels: Ready to merge, package: web components

#6030 fix(left-nav): add body scroll lock logic to left nav
  packages/web-components/src/components/masthead/left-nav.ts
Labels: Ready to merge, package: web components

#6041 fix(table-of-contents): ensure option text color is readable
  packages/styles/scss/components/tableofcontents/_tableofcontents.scss
Labels: Ready to merge, package: react, package: web components

#6057 chore(footer): remove console log
  packages/web-components/src/components/footer/footer-composite.ts
Labels: Ready to merge, package: web components

#6067 docs(akamai): switching url for artifacts to akamai domain
  packages/react/src/components/Masthead/Masthead.js
  packages/web-components/README.md
  packages/web-components/docs/enable-rtl.md
  packages/web-components/examples/codesandbox/usage/dotcom-shell-cdn-with-handlebars/index.hbs
  packages/web-components/examples/codesandbox/usage/dotcom-shell-cdn-with-rtl/index.hbs
  packages/web-components/examples/codesandbox/usage/dotcom-shell-cdn/index.html
Labels: Ready to merge

#6061 fix(masthead): chevron size and margin
  packages/web-components/src/components/masthead/masthead.scss
Labels: Ready to merge

#6074 chore(dependabot): adding workflow to auto update offline mirror
  .github/workflows/dependabot-yarn-mirror.yml
Labels: Ready to merge

#6082 fix(masthead): prevent enter key search when search field is empty
  packages/react/src/components/Masthead/MastheadSearch.js
Labels: Ready to merge, package: react

#6105 fix(footer): remove combo-box.scss import
  packages/web-components/src/components/footer/combo-box.ts
Labels: Ready to merge, package: web components

#6108 fix(masthead): remove focus search toggle and fix console error
  packages/web-components/src/components/masthead/masthead-search.ts
Labels: Ready to merge, package: web components

#6109 chore(deploy-preview): adding console log for better troubleshooting
  tasks/deploy_preview_comment.js
Labels: Ready to merge

#6094 feat(content-item): restrict footer to text-cta and button-cta
  packages/web-components/src/components/content-item/content-item.ts
  packages/web-components/src/components/cta-block/__stories__/cta-block.stories.ts
  packages/web-components/src/components/cta-section/__stories__/cta-section.stories.ts
Labels: Ready to merge

#6113 docs(leadspace): add documentation on using video cta within leadspace
  packages/web-components/src/components/leadspace/__stories__/README.stories.mdx
Labels: Ready to merge, package: web components

#6080 fix(link-list): vertical focus styles
  packages/web-components/src/components/link-list/link-list.scss
Labels: Ready to merge, package: web components

#6037 fix(horizontal-rule): update grid layout
  packages/styles/scss/components/leadspace-block/_leadspace-block.scss
  packages/styles/scss/components/tableofcontents/_tableofcontents.scss
  packages/styles/scss/internal/content-block/_content-block.scss
  packages/web-components/src/components/leadspace-block/leadspace-block.scss
  packages/web-components/src/components/link-list/link-list.scss
Labels: Ready to merge

#6137 feat(Footer): add specific link title to legal link data-autoids
  packages/react/src/components/Footer/LegalNav.js
  packages/web-components/src/components/footer/footer-composite.ts
  packages/web-components/src/components/footer/legal-nav-item.ts
Labels: Ready to merge, package: react, package: web components

#6151 docs(carousel): fix carousel imports in React-wrapper README instance
  packages/web-components/src/components/carousel/__stories__/README.stories.react.mdx
Labels: Ready to merge

#6158 fix(custom-events): onloadend type defined
  packages/web-components/src/typings/resources.d.ts
Labels: Ready to merge

#6162 chore(support): updating support roster for sprint 11
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/contribution_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
Labels: Ready to merge

#6163 test(integration): disabling react integration bundle/build tests
  .github/workflows/ci-check.yml
Labels: Ready to merge

#6103 fix(content-block): heading spacing fix
  packages/styles/scss/components/content-block-cards/_content-block-cards.scss
  packages/web-components/src/components/content-block-segmented/content-block-segmented.scss
  packages/web-components/src/components/content-block/content-block.scss
Labels: Ready to merge

#6168 fix(masthead): menu options blocking items when active
  packages/web-components/src/components/masthead/masthead.scss
Labels: Ready to merge, package: web components

#6164 feat(image): adding `loading="lazy"` to images in web-components
  packages/web-components/.storybook/preview-head.html
  packages/web-components/src/components/dotcom-shell/__stories__/dotcom-shell.stories.ts
  packages/web-components/src/components/image/image.ts
  packages/web-components/src/components/leadspace/leadspace.ts
  packages/web-components/src/components/lightbox-media-viewer/lightbox-image-viewer.ts
  packages/web-components/tests/snapshots/dds-image.md
  packages/web-components/tests/snapshots/dds-leadspace.md
  packages/web-components/tests/snapshots/dds-lightbox-image-viewer.md
Labels: Ready to merge

#6171 fix(code-snippet): expressive code snippet carbon 10.31.0 update adjustments
  packages/styles/scss/themes/expressive/components/_code-snippet.scss
Labels: Ready to merge, package: styles

#6154 fix(leadspace): add super variation and tag group
  packages/styles/scss/components/leadspace/_leadspace.scss
  packages/web-components/src/components/leadspace/__stories__/leadspace.stories.ts
  packages/web-components/src/components/leadspace/defs.ts
  packages/web-components/src/components/leadspace/index.ts
  packages/web-components/src/components/leadspace/leadspace.ts
  packages/web-components/tests/snapshots/dds-leadspace.md
Labels: Ready to merge, package: web components

#6133 feat(card): introducing static variant with tag-group
  packages/styles/scss/components/card/index.scss
  packages/web-components/src/components/card/__stories__/README.stories.mdx
  packages/web-components/src/components/card/__stories__/card.stories.ts
  packages/web-components/src/components/card/card.scss
  packages/web-components/src/components/card/card.ts
  packages/web-components/src/components/tag-group/tag-group.ts
Labels: Ready to merge, package: web components

#6189 chore(deps): update caniuse-lite
  .yarn/offline-mirror/caniuse-lite-1.0.30001038.tgz
  .yarn/offline-mirror/caniuse-lite-1.0.30001090.tgz
  .yarn/offline-mirror/caniuse-lite-1.0.30001117.tgz
  .yarn/offline-mirror/caniuse-lite-1.0.30001131.tgz
  .yarn/offline-mirror/caniuse-lite-1.0.30001230.tgz
  packages/web-components/gulp-tasks/build.js
  packages/web-components/tests/karma.conf.js
  packages/web-components/tools/get-rollup-config.js
  yarn.lock
Labels: Ready to merge

#6184 fix(linklist): video heading link style is broken
  packages/styles/scss/components/link-list/_link-list.scss
Labels: Ready to merge, package: react

#6213 fix(card-static): change background color on hover
  packages/styles/scss/components/card/index.scss
Labels: Ready to merge
