Repository carbon-design-system/carbon-for-ibm-dotcom, pull requests merged in 2021-07, with the labels that each got.

#6393 feat(left-nav): refactor into left-nav-sections and include animations
  packages/styles/scss/components/masthead/_masthead-leftnav.scss
  packages/utilities/src/utilities/focuswrap/focuswrap.js
  packages/web-components/src/components/masthead/cloud/cloud-masthead-composite.ts
  packages/web-components/src/components/masthead/left-nav-menu-item.ts
  packages/web-components/src/components/masthead/left-nav-menu-section.ts
  packages/web-components/src/components/masthead/left-nav-menu.ts
  packages/web-components/src/components/masthead/left-nav.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/masthead.scss
  packages/web-components/tests/snapshots/dds-left-nav-menu.md
  packages/web-components/tests/snapshots/dds-masthead-composite.md
Labels: Ready to merge, feature flag, package: web components

#6557 fix(styles): temporarily hard-code breakpoint values
  packages/styles/scss/components/footer/_footer-nav.scss
  packages/styles/scss/components/masthead/_masthead-leftnav.scss
Labels: Ready to merge, package: styles

#6559 fix(e2e): added timeout for render time on CI
  packages/web-components/tests/e2e/__tests__/video-player/video-player.cdn.e2e.js
  packages/web-components/tests/e2e/__tests__/video-player/video-player.e2e.js
  packages/web-components/tests/e2e/cypress.json
Labels: Ready to merge

#6552 chore(e2e): updating chromedriver to v91
  .yarn/offline-mirror/chromedriver-89.0.0.tgz
  .yarn/offline-mirror/chromedriver-91.0.1.tgz
  packages/tests-e2e/package.json
  yarn.lock
Labels: Ready to merge

#6566 test(e2e): creating dynamically generated index file
  packages/web-components/tests/e2e/build/build-examples.js
Labels: Ready to merge, dev

#6564 chore(support): updating support roster for sprint 14
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/contribution_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
Labels: Ready to merge, dev

#6491 fix(masthead): fixes various masthead styles
  packages/styles/scss/components/masthead/_masthead-l1.scss
  packages/styles/scss/components/masthead/_masthead-search.scss
  packages/styles/scss/components/masthead/_masthead.scss
  packages/web-components/src/components/masthead/masthead.scss
Labels: Ready to merge, package: react, package: web components

#6570 chore(examples): multiple fixes to web components codesandbox examples
  packages/web-components/examples/codesandbox/components/back-to-top/cdn.html
  packages/web-components/examples/codesandbox/components/back-to-top/index.html
  packages/web-components/examples/codesandbox/components/button-group/cdn.html
  packages/web-components/examples/codesandbox/components/button-group/index.html
  packages/web-components/examples/codesandbox/components/callout-data/cdn.html
  packages/web-components/examples/codesandbox/components/callout-data/index.html
  packages/web-components/examples/codesandbox/components/callout-quote/cdn.html
  packages/web-components/examples/codesandbox/components/callout-quote/index.html
  packages/web-components/examples/codesandbox/components/callout-with-media/cdn.html
  packages/web-components/examples/codesandbox/components/callout-with-media/index.html
  packages/web-components/examples/codesandbox/components/card-group/cdn.html
  packages/web-components/examples/codesandbox/components/card-group/index.html
  packages/web-components/examples/codesandbox/components/card-in-card/cdn.html
  packages/web-components/examples/codesandbox/components/card-in-card/index.html
  packages/web-components/examples/codesandbox/components/card-link/cdn.html
  packages/web-components/examples/codesandbox/components/card-link/index.html
  packages/web-components/examples/codesandbox/components/card-section-images/cdn.html
  packages/web-components/examples/codesandbox/components/card-section-images/index.html
  packages/web-components/examples/codesandbox/components/card/cdn.html
  packages/web-components/examples/codesandbox/components/card/index.html
  packages/web-components/examples/codesandbox/components/carousel/cdn.html
  packages/web-components/examples/codesandbox/components/carousel/index.html
  packages/web-components/examples/codesandbox/components/cta-card/cdn.html
  packages/web-components/examples/codesandbox/components/cta-card/index.html
  packages/web-components/examples/codesandbox/components/cta-feature/cdn.html
  packages/web-components/examples/codesandbox/components/cta-feature/index.html
  packages/web-components/examples/codesandbox/components/cta-text/cdn.html
  packages/web-components/examples/codesandbox/components/cta-text/index.html
  packages/web-components/examples/codesandbox/components/expressive-modal/cdn.html
  packages/web-components/examples/codesandbox/components/expressive-modal/index.html
  packages/web-components/examples/codesandbox/components/feature-card/cdn.html
  packages/web-components/examples/codesandbox/components/feature-card/index.html
  packages/web-components/examples/codesandbox/components/horizontal-rule/cdn.html
  packages/web-components/examples/codesandbox/components/horizontal-rule/index.html
  packages/web-components/examples/codesandbox/components/image/cdn.html
  packages/web-components/examples/codesandbox/components/image/index.html
  packages/web-components/examples/codesandbox/components/leaving-ibm/cdn.html
  packages/web-components/examples/codesandbox/components/link-with-icon/cdn.html
  packages/web-components/examples/codesandbox/components/link-with-icon/index.html
  packages/web-components/examples/codesandbox/components/locale-modal/cdn.html
  packages/web-components/examples/codesandbox/components/locale-modal/index.html
  packages/web-components/examples/codesandbox/components/logo-grid/cdn.html
  packages/web-components/examples/codesandbox/components/logo-grid/index.html
  packages/web-components/examples/codesandbox/components/quote/index.html
  packages/web-components/examples/codesandbox/components/table-of-contents/cdn.html
  packages/web-components/examples/codesandbox/components/table-of-contents/index.html
  packages/web-components/examples/codesandbox/components/tabs-extended/cdn.html
  packages/web-components/examples/codesandbox/components/tabs-extended/index.html
  packages/web-components/examples/codesandbox/components/tag-group/cdn.html
  packages/web-components/examples/codesandbox/components/tag-group/index.html
  packages/web-components/examples/codesandbox/components/tag-link/cdn.html
  packages/web-components/examples/codesandbox/components/tag-link/index.html
Labels: Ready to merge, dev

#6581 chore(storybook): restore react storybook webpack fast-sass-loader
  .yarn/offline-mirror/cli-source-preview-1.1.0.tgz
  .yarn/offline-mirror/fast-sass-loader-2.0.0.tgz
  .yarn/offline-mirror/fs-extra-3.0.1.tgz
  .yarn/offline-mirror/jsonfile-3.0.1.tgz
  packages/react/.storybook/webpack.config.js
  packages/react/package.json
  packages/styles/scss/components/ctasection/_ctasection.scss
  yarn.lock
Labels: Ready to merge, package: react

#6593 fix(e2e): change baseline target to master branch
  .github/workflows/percy-update-base-wc-e2e-codesandbox.yml
Labels: Ready to merge, dev

#6548 feat(background-media): add "Background media" UI component
  packages/storybook-images/assets/leadspace/fpo--leadspace--16x9--1594x891--005.jpg
  packages/storybook-images/assets/leadspace/fpo--leadspace--4x3--480x360--005.jpg
  packages/styles/scss/components/background-media/README.md
  packages/styles/scss/components/background-media/_background-media.scss
  packages/web-components/src/components/background-media/__stories__/README.stories.mdx
  packages/web-components/src/components/background-media/__stories__/background-media.stories.ts
  packages/web-components/src/components/background-media/__tests__/background-media.test.ts
  packages/web-components/src/components/background-media/background-media.scss
  packages/web-components/src/components/background-media/background-media.ts
  packages/web-components/src/components/background-media/defs.ts
  packages/web-components/src/components/background-media/index.ts
  packages/web-components/tests/snapshots/dds-background-media.md
Labels: RTL, Ready to merge, adopter: AEM, package: web components

#6604 docs(url): change to the new url at ibm.com
  .github/ISSUE_TEMPLATE/contribution_request.md
  README.md
  docs/submission-guidelines.md
  packages/react/.env.example
  packages/react/.storybook/manager-head.html
  packages/react/README.md
  packages/react/src/components/CTA/CTA.js
  packages/react/src/components/CTASection/CTASection.js
  packages/react/src/components/CalloutQuote/CalloutQuote.js
  packages/react/src/components/Card/Card.js
  packages/react/src/components/CardGroup/CardGroup.js
  packages/react/src/components/CardLink/CardLink.js
  packages/react/src/components/CardSectionSimple/CardSectionSimple.js
  packages/react/src/components/ContentBlockCards/ContentBlockCards.js
  packages/react/src/components/ContentBlockHeadlines/ContentBlockHeadlines.js
  packages/react/src/components/ContentBlockMedia/ContentBlockMedia.js
  packages/react/src/components/ContentBlockMixed/ContentBlockMixed.js
  packages/react/src/components/ContentBlockSegmented/ContentBlockSegmented.js
  packages/react/src/components/ContentBlockSimple/ContentBlockSimple.js
  packages/react/src/components/ContentGroupHorizontal/ContentGroupHorizontal.js
  packages/react/src/components/ContentGroupPictograms/ContentGroupPictograms.js
  packages/react/src/components/ContentGroupSimple/ContentGroupSimple.js
  packages/react/src/components/DotcomShell/DotcomShell.js
  packages/react/src/components/FeatureCard/FeatureCard.js
  packages/react/src/components/FeatureCardBlockLarge/FeatureCardBlockLarge.js
  packages/react/src/components/FeatureCardBlockMedium/FeatureCardBlockMedium.js
  packages/react/src/components/ImageWithCaption/ImageWithCaption.js
  packages/react/src/components/LeadSpace/LeadSpace.js
  packages/react/src/components/LeadSpaceBlock/LeadSpaceBlock.js
  packages/react/src/components/LightboxMediaViewer/README.stories.mdx
  packages/react/src/components/LinkList/LinkList.js
  packages/react/src/components/Masthead/Masthead.js
  packages/react/src/components/PictogramItem/PictogramItem.js
  packages/react/src/components/Quote/Quote.js
  packages/react/src/internal/components/ContentBlock/ContentBlock.js
  packages/react/src/internal/components/ContentGroup/ContentGroup.js
  packages/react/src/internal/components/ContentItem/ContentItem.js
  packages/react/src/internal/components/ContentItem/README.stories.mdx
  packages/services/README.md
  packages/services/src/services/DDO/__tests__/data/response.json
  packages/styles/README.md
  packages/styles/scss/themes/expressive/README.md
  packages/web-components/README.md
  packages/web-components/docs/stable-selectors.md
  packages/web-components/examples/codesandbox/components-react/carousel/src/index.js
  packages/web-components/examples/codesandbox/components/link-with-icon/cdn.html
  packages/web-components/examples/codesandbox/components/link-with-icon/index.html
  packages/web-components/src/components/card-section-carousel/__stories__/README.stories.react.mdx
  packages/web-components/src/components/card-section-carousel/__stories__/card-section-carousel.stories.react.tsx
  packages/web-components/src/components/card-section-carousel/__stories__/card-section-carousel.stories.ts
  packages/web-components/src/components/carousel/__stories__/README.stories.mdx
  packages/web-components/src/components/carousel/__stories__/README.stories.react.mdx
  packages/web-components/src/components/carousel/__stories__/carousel.stories.react.tsx
  packages/web-components/src/components/carousel/__stories__/carousel.stories.ts
  packages/web-components/src/components/content-group-pictograms/__stories__/README.stories.mdx
Labels: Ready to merge, dev

#6608 chore(github-actions): upgrading ubuntu to 20.04
  .github/workflows/automerge-feat.yml
  .github/workflows/automerge.yml
  .github/workflows/ci-check.yml
  .github/workflows/dependabot-yarn-mirror.yml
  .github/workflows/deploy-canary.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/percy-update-base-wc-e2e-codesandbox.yml
  .github/workflows/percy-update-base.yml
  .github/workflows/publish-canary.yml
  .github/workflows/publish-nightly.yml
  .github/workflows/publish-staging.yml
  .github/workflows/release-preflight.yml
Labels: Ready to merge

#6613 fix(playwright): removal of playwright and integration tests
  .github/workflows/ci-check-ui-integration.yml
  .yarn/offline-mirror/expect-playwright-0.2.5.tgz
  .yarn/offline-mirror/jest-playwright-preset-0.1.3.tgz
  .yarn/offline-mirror/jpeg-js-0.3.7.tgz
  .yarn/offline-mirror/jpeg-js-0.4.1.tgz
  .yarn/offline-mirror/playwright-1.3.0.tgz
  .yarn/offline-mirror/playwright-core-1.2.1.tgz
  .yarn/offline-mirror/pngjs-5.0.0.tgz
  packages/react/package.json
  packages/react/tests/integration/build/dotcomshell_steps.js
  packages/react/tests/integration/build/footer_steps.js
  packages/react/tests/integration/build/jest-puppeteer.config.js
  packages/react/tests/integration/build/jest.config.js
  packages/react/tests/integration/build/masthead_steps.js
  packages/react/tests/integration/build/percy-reporter.js
  packages/react/tests/integration/build/setup-env.js
  packages/react/tests/integration/build/setup.js
  packages/react/tests/integration/bundle/bundle-size.test.js
  packages/react/tests/integration/bundle/jest.config.js
  packages/react/tests/integration/ui/jest-playwright.config.js
  packages/react/tests/integration/ui/jest.config.js
  packages/react/tests/integration/ui/setup-env.js
  packages/react/tests/integration/ui/setup.js
  packages/react/tests/integration/ui/teardown.js
  packages/web-components/docs/contributing-to-web-components.md
  yarn.lock
Labels: Ready to merge, dev

#6609 chore(styles): update clean-css to remove duplicates and includes
  packages/styles/gulp/tasks/sass-ltr.js
  packages/styles/gulp/tasks/sass-rtl.js
  packages/styles/scss/globals/_imports.scss
Labels: Ready to merge, package: styles

#6603 fix(card-in-card): update z-index and various styles
  packages/styles/scss/components/card-in-card/_card-in-card.scss
  packages/web-components/src/components/image/image.scss
  packages/web-components/tests/snapshots/dds-content-item-horizontal.md
Labels: Ready to merge, package: web components

#6605 chore(content-item-horizontal): add missing alt text
  packages/web-components/src/components/content-item-horizontal/__stories__/content-item-horizontal.stories.ts
Labels: Ready to merge, package: web components

#6611 fix(masthead): set white theme to left nav
  packages/styles/scss/components/masthead/_masthead-leftnav.scss
Labels: Ready to merge, package: web components

#6586 feat(masthead): globalization support
  packages/web-components/src/components/masthead/__stories__/README.stories.mdx
  packages/web-components/src/components/masthead/__stories__/cloud-masthead.stories.ts
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
  packages/web-components/src/components/masthead/cloud/cloud-masthead-composite.ts
  packages/web-components/src/components/masthead/cloud/cloud-masthead-container.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/masthead-container.ts
Labels: Ready to merge, adopter support, adopter: Hybrid cloud, package: web components

#6353 fix(layout): wrapping layout story in 12 columns grid
  packages/web-components/src/components/layout/__stories__/layout.stories.ts
Labels: Ready to merge, package: web components

#6630 chore(content-block-mixed): update import paths in docs
  packages/web-components/src/components/content-block-mixed/__stories__/README.stories.mdx
Labels: Ready to merge

#6628 fix(locale-modal): set locale modal to not disappear on mobile keyboard
  packages/web-components/src/components/dotcom-shell/dotcom-shell-composite.ts
  packages/web-components/src/components/expressive-modal/expressive-modal.ts
Labels: Ready to merge, package: web components

#6627 fix(carousel): update button sizes
  packages/styles/scss/components/carousel/_carousel.scss
Labels: Ready to merge, package: web components

#6610 fix(card): updated eyebrow to use label-02
  packages/styles/scss/components/card-in-card/_card-in-card.scss
  packages/styles/scss/components/card/index.scss
  packages/styles/scss/components/feature-card-block-large/_feature-card-block-large.scss
  packages/styles/scss/components/feature-card/_feature-card.scss
Labels: Ready to merge, package: styles

#6443 feat(filter-panel): introduce filter panel component
  packages/styles/scss/components/filter-panel/_filter-panel.scss
  packages/styles/scss/ibm-dotcom-styles.scss
  packages/web-components/examples/codesandbox/components/filter-panel/.babelrc
  packages/web-components/examples/codesandbox/components/filter-panel/.gitignore
  packages/web-components/examples/codesandbox/components/filter-panel/.sassrc
  packages/web-components/examples/codesandbox/components/filter-panel/cdn.html
  packages/web-components/examples/codesandbox/components/filter-panel/index.html
  packages/web-components/examples/codesandbox/components/filter-panel/package.json
  packages/web-components/examples/codesandbox/components/filter-panel/sandbox.config.json
  packages/web-components/examples/codesandbox/components/filter-panel/src/index.js
  packages/web-components/examples/codesandbox/components/filter-panel/src/index.scss
  packages/web-components/src/components/filter-panel/__stories__/README.stories.mdx
  packages/web-components/src/components/filter-panel/__stories__/filter-panel.stories.scss
  packages/web-components/src/components/filter-panel/__stories__/filter-panel.stories.ts
  packages/web-components/src/components/filter-panel/__tests__/filter-panel.test.ts
  packages/web-components/src/components/filter-panel/filter-group-item.ts
  packages/web-components/src/components/filter-panel/filter-group.ts
  packages/web-components/src/components/filter-panel/filter-modal-button.ts
  packages/web-components/src/components/filter-panel/filter-modal-footer.ts
  packages/web-components/src/components/filter-panel/filter-modal-heading.ts
  packages/web-components/src/components/filter-panel/filter-panel-checkbox.ts
  packages/web-components/src/components/filter-panel/filter-panel-composite.ts
  packages/web-components/src/components/filter-panel/filter-panel-heading.ts
  packages/web-components/src/components/filter-panel/filter-panel-modal.ts
  packages/web-components/src/components/filter-panel/filter-panel.scss
  packages/web-components/src/components/filter-panel/filter-panel.ts
  packages/web-components/src/components/filter-panel/index.ts
  packages/web-components/src/components/filter-panel/input-select-item.ts
  packages/web-components/src/components/filter-panel/input-select.ts
  packages/web-components/tests/snapshots/dds-filter-panel-composite.md
Labels: Ready to merge, package: web components

#6654 feat(filter panel): update accessibility and fixing styles package
  packages/styles/scss/components/filter-panel/_filter-panel.scss
  packages/web-components/examples/codesandbox/components/filter-panel/cdn.html
  packages/web-components/examples/codesandbox/components/filter-panel/index.html
  packages/web-components/src/components/filter-panel/__stories__/README.stories.mdx
  packages/web-components/src/components/filter-panel/__stories__/filter-panel.stories.ts
  packages/web-components/src/components/filter-panel/filter-group.ts
  packages/web-components/src/components/filter-panel/filter-modal-footer.ts
  packages/web-components/src/components/filter-panel/filter-panel-composite.ts
  packages/web-components/src/components/filter-panel/filter-panel-input-select-item.ts
  packages/web-components/src/components/filter-panel/filter-panel-input-select.ts
  packages/web-components/src/components/filter-panel/filter-panel.scss
  packages/web-components/src/components/filter-panel/filter-panel.ts
  packages/web-components/src/components/filter-panel/index.ts
  packages/web-components/src/components/filter-panel/input-select-item.ts
  packages/web-components/tests/snapshots/dds-filter-panel-composite.md
Labels: Ready to merge, package: web components

#6635 chore(videoPlayerAPI): deprecation in favor of KalturaPlayerAPI
  packages/react/src/components/CTA/CardCTA.js
  packages/react/src/components/VideoPlayer/VideoImageOverlay.js
  packages/react/src/components/VideoPlayer/VideoPlayer.js
  packages/services/src/services/KalturaPlayer/KalturaPlayer.js
  packages/services/src/services/VideoPlayer/VideoPlayer.js
  packages/web-components/src/components/lightbox-media-viewer/lightbox-video-player-composite.ts
  packages/web-components/src/components/video-player/__tests__/video-player-container.test.ts
  packages/web-components/src/components/video-player/video-player-composite.ts
  packages/web-components/src/components/video-player/video-player-container.ts
Labels: Ready to merge, package: react, package: services, package: web components

#6641 fix(cta-block): remove margin top from video container
  packages/styles/scss/components/video-player/_video-player.scss
  packages/web-components/src/components/cta-block/cta-block-item.ts
  packages/web-components/src/components/video-player/__stories__/video-player.stories.ts
Labels: Ready to merge, package: web components

#6631 fix(cloud-masthead): Cloud Masthead + Mega Menu design enhancement follow up fixes
  packages/web-components/.storybook/container.scss
  packages/web-components/src/components/masthead/__stories__/README.stories.mdx
  packages/web-components/src/components/masthead/cloud/cloud-masthead-composite.ts
  packages/web-components/src/components/masthead/cloud/cloud-masthead.scss
  packages/web-components/src/components/masthead/left-nav.ts
  packages/web-components/src/components/masthead/masthead.scss
  packages/web-components/src/components/masthead/megamenu-top-nav-menu.ts
Labels: Ready to merge, adopter: Hybrid cloud, feature flag, package: web components

#6673 chore(support): updating support roster for sprint 15
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/contribution_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
Labels: Ready to merge, dev

#6684 feat(env): adding rtl staging environments
  .github/workflows/deploy-staging.yml
  packages/react/manifest-rtl-staging.yml
  packages/web-components/manifest-rtl-staging.yml
Labels: Ready to merge, dev

#6683 fix(cta-card): updating `video-cta-composite` to match new API
  packages/web-components/src/components/cta/video-cta-composite.ts
Labels: Ready to merge

#6686 fix(cta-section): remove style concatenation
  packages/styles/scss/components/cta-block/_cta-block.scss
  packages/styles/scss/components/ctasection/_ctasection.scss
Labels: Ready to merge, package: web components

#6688 chore(feature-card): update sandbox to include css custom props flag
  packages/react/examples/codesandbox/components/FeatureCard/src/styles.scss
  packages/react/src/components/FeatureCard/README.stories.mdx
Labels: Ready to merge

#6681 fix(overflow): ensure overflow looks and works properly in RTL
  packages/styles/scss/components/masthead/_masthead-search.scss
  packages/web-components/.storybook/webpack.config.js
  packages/web-components/src/components/masthead/masthead.scss
  packages/web-components/src/components/masthead/top-nav.ts
  packages/web-components/src/components/table-of-contents/table-of-contents.ts
Labels: RTL, Ready to merge, package: web components

#6694 test(cdn): adjust e2e test to source cdn locally
  packages/web-components/tests/e2e/build/build-examples.js
Labels: Ready to merge, dev

#6708 fix(cloud-masthead): Megamenu height is not displaying correctly within the Drupal integration
  packages/styles/scss/components/masthead/_masthead-megamenu.scss
  packages/styles/scss/components/masthead/_masthead.scss
Labels: Ready to merge, adopter: Drupal, adopter: Hybrid cloud, feature flag, package: web components

#6713 fix(rtl): add codesandbox example for cloud masthead
  packages/web-components/examples/codesandbox/components/cloud-masthead/.babelrc
  packages/web-components/examples/codesandbox/components/cloud-masthead/.env.local
  packages/web-components/examples/codesandbox/components/cloud-masthead/.gitignore
  packages/web-components/examples/codesandbox/components/cloud-masthead/.sassrc
  packages/web-components/examples/codesandbox/components/cloud-masthead/cdn-rtl.html
  packages/web-components/examples/codesandbox/components/cloud-masthead/cdn.html
  packages/web-components/examples/codesandbox/components/cloud-masthead/index.html
  packages/web-components/examples/codesandbox/components/cloud-masthead/package.json
  packages/web-components/examples/codesandbox/components/cloud-masthead/sandbox.config.json
  packages/web-components/examples/codesandbox/components/cloud-masthead/src/index-cdn.js
  packages/web-components/examples/codesandbox/components/cloud-masthead/src/index.js
  packages/web-components/examples/codesandbox/components/cloud-masthead/src/index.scss
  packages/web-components/tests/e2e/build/build-examples.js
Labels: Ready to merge, dev

#6714 fix(cloud-masthead): hc-2086 properly form request return object
  packages/services/src/services/CloudAccountAuth/CloudAccountAuth.js
  packages/services/src/services/CloudAccountAuth/__tests__/CloudAccountAuth.test.js
  packages/web-components/src/components/masthead/cloud/cloud-masthead-composite.ts
Labels: Ready to merge, feature flag

#6717 chore(masthead): udpate L1 codesandbox example
  packages/react/examples/codesandbox/components/MastheadL1/package.json
  packages/react/examples/codesandbox/components/MastheadL1/snowpack.config.json
  packages/react/examples/codesandbox/components/MastheadL1/src/App.js
  packages/react/examples/codesandbox/components/MastheadL1/src/links.js
Labels: Ready to merge

#6718 fix(megamenu): adjust height for megamenu to work for cloud's drupal integration
  packages/styles/scss/components/masthead/_masthead-megamenu.scss
Labels: Ready to merge, feature flag

#6642 fix(card): update accessibility
  packages/styles/scss/components/card-group/_card-group.scss
  packages/styles/scss/components/card-in-card/_card-in-card.scss
  packages/styles/scss/components/card/index.scss
  packages/styles/scss/components/feature-section/_feature-section.scss
  packages/styles/scss/components/link-list/_link-list.scss
  packages/web-components/examples/codesandbox/components/card-group/cdn.html
  packages/web-components/examples/codesandbox/components/card-group/index.html
  packages/web-components/examples/codesandbox/components/card-section-images/cdn.html
  packages/web-components/examples/codesandbox/components/card-section-images/index.html
  packages/web-components/examples/codesandbox/components/card-section-simple/cdn.html
  packages/web-components/examples/codesandbox/components/card-section-simple/index.html
  packages/web-components/src/component-mixins/cta/cta.ts
  packages/web-components/src/components/card-group/__stories__/README.stories.mdx
  packages/web-components/src/components/card-group/__stories__/card-group.stories.ts
  packages/web-components/src/components/card-group/card-group-item.ts
  packages/web-components/src/components/card-group/card-group.scss
  packages/web-components/src/components/card-group/index.ts
  packages/web-components/src/components/card-in-card/card-in-card.ts
  packages/web-components/src/components/card-in-card/index.ts
  packages/web-components/src/components/card-section-images/__stories__/README.stories.mdx
  packages/web-components/src/components/card-section-images/__stories__/card-section-images.stories.ts
  packages/web-components/src/components/card-section-simple/__stories__/README.stories.mdx
  packages/web-components/src/components/card-section-simple/__stories__/card-section-simple.stories.ts
  packages/web-components/src/components/card/card-eyebrow.ts
  packages/web-components/src/components/card/card-footer.ts
  packages/web-components/src/components/card/card.scss
  packages/web-components/src/components/card/card.ts
  packages/web-components/src/components/carousel/carousel.ts
  packages/web-components/src/components/cta/card-cta.ts
  packages/web-components/src/components/feature-card/feature-card.ts
  packages/web-components/tests/snapshots/dds-card-cta-footer.md
  packages/web-components/tests/snapshots/dds-card-cta.md
  packages/web-components/tests/snapshots/dds-card-in-card.md
  packages/web-components/tests/snapshots/dds-card.md
  packages/web-components/tests/snapshots/dds-feature-card.md
  packages/web-components/tests/snapshots/dds-feature-cta.md
  packages/web-components/tests/snapshots/dds-feature-section.md
Labels: Ready to merge, package: web components

#6722 chore(support): updating support roster for sprint 15 (week 2)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/contribution_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
Labels: Ready to merge, dev

#6729 fix(rtl): fix to not have rtlcss styles get parsed out
  packages/styles/scss/components/masthead/_masthead-search.scss
  packages/web-components/examples/codesandbox/components/masthead/cdn-rtl.html
  packages/web-components/src/components/masthead/masthead.scss
Labels: RTL, Ready to merge

#6730 fix(table-of-contents): compensate for masthead on scroll up
  packages/web-components/src/components/table-of-contents/table-of-contents.ts
Labels: Ready to merge, adopter: Hybrid cloud

#6734 fix(card-section-offset): update to use card-cta-footer
  packages/web-components/examples/codesandbox/components/card-section-offset/cdn.html
  packages/web-components/examples/codesandbox/components/card-section-offset/index.html
  packages/web-components/src/components/back-to-top/__stories__/data/content.ts
  packages/web-components/src/components/card-section-images/__tests__/card-section-images.test.ts
  packages/web-components/src/components/card-section-images/index.ts
  packages/web-components/src/components/card-section-offset/__stories__/README.stories.mdx
  packages/web-components/src/components/card-section-offset/__stories__/card-section-offset.stories.ts
  packages/web-components/src/components/card-section-offset/__tests__/card-section-offset.test.ts
  packages/web-components/src/components/card-section-simple/__tests__/card-section-simple.test.ts
  packages/web-components/src/components/card-section-simple/index.ts
  packages/web-components/src/components/content-block-card-static/__tests__/content-block-card-static.test.ts
  packages/web-components/src/components/content-block-cards/__tests__/content-block-cards.test.ts
  packages/web-components/src/components/content-block-simple/__stories__/README.stories.mdx
  packages/web-components/src/components/content-block-simple/__stories__/content-block-simple.stories.ts
  packages/web-components/tests/snapshots/dds-content-block-card-static.md
Labels: Ready to merge, package: web components

#6735 fix(locale-modal): set region item to be tabbable for voiceover
  packages/web-components/src/components/locale-modal/locale-modal.ts
Labels: Ready to merge, package: web components

#6736 fix(tabs-extended): display tooltip on truncated tab focus
  packages/styles/scss/components/tabs-extended/_tabs-extended.scss
  packages/web-components/src/components/tabs-extended/tabs-extended.ts
Labels: Ready to merge, package: web components

#6725 feat(leadspace): introduce web components react wrapper
  packages/web-components/examples/codesandbox/components-react/leadspace/.gitignore
  packages/web-components/examples/codesandbox/components-react/leadspace/index.html
  packages/web-components/examples/codesandbox/components-react/leadspace/package.json
  packages/web-components/examples/codesandbox/components-react/leadspace/sandbox.config.json
  packages/web-components/examples/codesandbox/components-react/leadspace/src/index.css
  packages/web-components/examples/codesandbox/components-react/leadspace/src/index.js
  packages/web-components/examples/codesandbox/components-react/leadspace/webpack.config.js
  packages/web-components/src/components/button-group/button-group-item.ts
  packages/web-components/src/components/button-group/button-group.ts
  packages/web-components/src/components/image/image-item.ts
  packages/web-components/src/components/image/image.ts
  packages/web-components/src/components/leadspace/__stories__/README.stories.react.mdx
  packages/web-components/src/components/leadspace/__stories__/leadspace.stories.react.tsx
  packages/web-components/src/components/leadspace/__stories__/leadspace.stories.ts
  packages/web-components/src/components/leadspace/__tests__/leadspace.test.ts
  packages/web-components/src/components/leadspace/breadcrumb-item.ts
  packages/web-components/src/components/leadspace/breadcrumb-link.ts
  packages/web-components/src/components/leadspace/breadcrumb.ts
  packages/web-components/src/components/leadspace/index.ts
  packages/web-components/src/components/leadspace/leadspace-heading.ts
  packages/web-components/src/components/leadspace/leadspace-image.ts
  packages/web-components/src/components/leadspace/leadspace.ts
Labels: Ready to merge, package: web components

#6727 docs(development): remove references to nvm
  docs/developing.md
Labels: Ready to merge, adopter: Hybrid cloud

#6751 fix(megamenu): remove overflow auto
  packages/web-components/src/components/masthead/megamenu-top-nav-menu.ts
Labels: Ready to merge
