Repository carbon-design-system/carbon-for-ibm-dotcom, pull requests merged in 2021-04, with the labels that each got.

#5695 fix(file-uploader): icon size fix
  packages/styles/scss/themes/expressive/components/_file-uploader.scss
Labels: Ready to merge, package: styles

#5689 fix(link-list): various bug fixes
  packages/web-components/src/components/link-list/__stories__/link-list.stories.ts
  packages/web-components/src/components/link-list/__tests__/link-list.test.ts
Labels: Ready to merge

#5694 docs(README): updated webpack sass options to use relative paths
  packages/web-components/README.md
Labels: Ready to merge

#5703 fix(card-group): random title percy check
  packages/web-components/src/components/card-group/__stories__/card-group.stories.ts
Labels: Ready to merge

#5661 fix(notification): padding and margin fix
  packages/styles/scss/themes/expressive/components/_inline-notifications.scss
  packages/styles/scss/themes/expressive/components/_toast-notifications.scss
  packages/styles/scss/themes/expressive/index.scss
Labels: Ready to merge, package: styles

#5700 chore(dependencies): upgrade `sass-loader`
  .yarn/offline-mirror/@types-json-schema-7.0.7.tgz
  .yarn/offline-mirror/ajv-6.12.6.tgz
  .yarn/offline-mirror/ajv-keywords-3.5.2.tgz
  .yarn/offline-mirror/buffer-json-2.0.0.tgz
  .yarn/offline-mirror/cache-loader-4.1.0.tgz
  .yarn/offline-mirror/camelcase-6.2.0.tgz
  .yarn/offline-mirror/chownr-2.0.0.tgz
  .yarn/offline-mirror/cli-source-preview-1.1.0.tgz
  .yarn/offline-mirror/colorette-1.2.2.tgz
  .yarn/offline-mirror/css-loader-1.0.1.tgz
  .yarn/offline-mirror/css-loader-2.1.1.tgz
  .yarn/offline-mirror/css-loader-5.2.0.tgz
  .yarn/offline-mirror/env-paths-2.2.1.tgz
  .yarn/offline-mirror/fast-sass-loader-1.5.0.tgz
  .yarn/offline-mirror/fs-extra-3.0.1.tgz
  .yarn/offline-mirror/icss-replace-symbols-1.1.0.tgz
  .yarn/offline-mirror/icss-utils-2.1.0.tgz
  .yarn/offline-mirror/icss-utils-5.1.0.tgz
  .yarn/offline-mirror/jsonfile-3.0.1.tgz
  .yarn/offline-mirror/klona-2.0.4.tgz
  .yarn/offline-mirror/minizlib-2.1.2.tgz
  .yarn/offline-mirror/nanoid-3.1.22.tgz
  .yarn/offline-mirror/neo-async-2.6.2.tgz
  .yarn/offline-mirror/node-gyp-7.1.2.tgz
  .yarn/offline-mirror/node-sass-5.0.0.tgz
  .yarn/offline-mirror/nopt-5.0.0.tgz
  .yarn/offline-mirror/postcss-8.2.9.tgz
  .yarn/offline-mirror/postcss-modules-extract-imports-1.2.1.tgz
  .yarn/offline-mirror/postcss-modules-extract-imports-3.0.0.tgz
  .yarn/offline-mirror/postcss-modules-local-by-default-1.2.0.tgz
  .yarn/offline-mirror/postcss-modules-local-by-default-2.0.6.tgz
  .yarn/offline-mirror/postcss-modules-local-by-default-4.0.0.tgz
  .yarn/offline-mirror/postcss-modules-scope-1.1.0.tgz
  .yarn/offline-mirror/postcss-modules-scope-3.0.0.tgz
  .yarn/offline-mirror/postcss-modules-values-1.3.0.tgz
  .yarn/offline-mirror/postcss-modules-values-2.0.0.tgz
  .yarn/offline-mirror/postcss-modules-values-4.0.0.tgz
  .yarn/offline-mirror/postcss-selector-parser-6.0.4.tgz
  .yarn/offline-mirror/sass-loader-10.1.1.tgz
  .yarn/offline-mirror/sass-loader-7.3.1.tgz
  .yarn/offline-mirror/schema-utils-2.7.1.tgz
  .yarn/offline-mirror/schema-utils-3.0.0.tgz
  .yarn/offline-mirror/semver-7.3.5.tgz
  .yarn/offline-mirror/style-loader-0.23.1.tgz
  .yarn/offline-mirror/style-loader-2.0.0.tgz
  .yarn/offline-mirror/tar-6.1.0.tgz
  packages/react/.storybook/webpack.config.js
  packages/react/package.json
  packages/styles/.storybook/_container.scss
  packages/styles/.storybook/webpack.config.js
  packages/styles/package.json
  packages/styles/scss/components/masthead/_masthead-search.scss
  packages/styles/scss/components/masthead/_masthead.scss
  packages/styles/src/carbon-stories/Form/form-story.scss
  packages/styles/src/carbon-stories/Tabs/Tabs-story.scss
  packages/styles/src/carbon-stories/icon-kitchen-sink-story.scss
  packages/web-components/.storybook/webpack.config.js
  packages/web-components/package.json
  packages/web-components/tests/karma.conf.js
  yarn.lock
Labels: Ready to merge, package: react, package: styles, package: web components

#5567 fix(same-height): using same height method for card group & cta section
  packages/react/src/__tests__/storyshots.test.js
  packages/react/src/components/CTASection/CTASection.js
  packages/react/src/components/CTASection/__tests__/CTASection.test.js
  packages/react/src/components/CardGroup/CardGroup.js
  packages/styles/scss/components/card-group/_card-group.scss
  packages/web-components/src/components/card-group/__stories__/card-group.stories.ts
  packages/web-components/src/components/card-group/card-group.ts
  packages/web-components/src/components/cta-section/cta-section.scss
  packages/web-components/src/components/cta-section/cta-section.ts
Labels: Ready to merge, package: web components

#5690 fix(language-selector): fixed micro styles
  packages/web-components/src/components/footer/footer.scss
Labels: Ready to merge, package: web components

#5699 fix(back-to-top): fix visibility toggling
  packages/web-components/examples/codesandbox/components/back-to-top/index.html
  packages/web-components/src/components/back-to-top/back-to-top.ts
Labels: Ready to merge, package: web components

#5712 chore(dependencies): upgrade `carbon-web-components`
  .yarn/offline-mirror/carbon-web-components-1.12.0.tgz
  .yarn/offline-mirror/carbon-web-components-1.13.0.tgz
  package.json
  packages/styles/scss/components/expressive-modal/_expressive-modal.scss
  packages/web-components/examples/codesandbox/components/image/package.json
  packages/web-components/examples/codesandbox/components/leaving-ibm/package.json
  packages/web-components/examples/codesandbox/components/lightbox-media-viewer/package.json
  packages/web-components/examples/codesandbox/components/logo-grid/package.json
  packages/web-components/examples/codesandbox/components/quote/package.json
  packages/web-components/examples/codesandbox/usage/webpack-handlebars/package.json
  packages/web-components/examples/codesandbox/usage/webpack-rtl/package.json
  packages/web-components/package.json
  yarn.lock
Labels: Ready to merge, package: web components

#5715 chore(global-init): adding globalInit on render of masthead/footer
  packages/web-components/src/components/footer/footer-composite.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
Labels: Ready to merge

#5645 fix(table-of-contents): added smooth scroll in css
  packages/web-components/.storybook/container.scss
  packages/web-components/src/components/scroll-animations/__stories__/scroll-animations.stories.ts
  packages/web-components/src/components/table-of-contents/__stories__/README.stories.mdx
  packages/web-components/src/components/table-of-contents/__stories__/table-of-contents.stories.scss
  packages/web-components/src/components/table-of-contents/table-of-contents.ts
Labels: Ready to merge

#5718 fix(content-block-media): removed unnecessary margin-top
  packages/web-components/src/components/content-block-media/content-block-media.scss
Labels: Ready to merge

#5658 fix(language-selector): reimplementing components to fix jaws bug
  packages/web-components/src/components/footer/combo-box.ts
  packages/web-components/src/components/footer/defs.ts
  packages/web-components/src/components/footer/dropdown.ts
  packages/web-components/src/components/footer/language-selector-desktop.ts
Labels: Ready to merge, package: web components

#5581 feat(video-player-lightbox): Media viewer onClick enhancement + video image hover state (8% darken) treatment
  packages/styles/scss/components/video-player/_video-player.scss
  packages/web-components/src/components/lightbox-media-viewer/__stories__/lightbox-media-viewer.stories.scss
  packages/web-components/src/components/lightbox-media-viewer/__stories__/lightbox-media-viewer.stories.ts
  packages/web-components/src/components/lightbox-media-viewer/lightbox-video-player-composite.ts
  packages/web-components/src/components/video-player/__stories__/README.stories.mdx
  packages/web-components/src/components/video-player/__stories__/video-player.stories.ts
  packages/web-components/src/components/video-player/__tests__/video-player-composite.test.ts
  packages/web-components/src/components/video-player/__tests__/video-player.test.ts
  packages/web-components/src/components/video-player/defs.ts
  packages/web-components/src/components/video-player/video-player-composite.ts
  packages/web-components/src/components/video-player/video-player.scss
  packages/web-components/src/components/video-player/video-player.ts
  packages/web-components/tests/snapshots/dds-lightbox-video-player-container.md
  packages/web-components/tests/snapshots/dds-video-player-composite.md
Labels: Ready to merge

#5729 fix(number-input): ensured icon and container fit within parent properly
  packages/styles/scss/themes/expressive/components/_number-input.scss
Labels: Ready to merge, package: styles

#5738 chore(percy): setting blank search placeholder in percy
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
Labels: Ready to merge

#5722 fix(ui-header): removed unnecessary padding around icons
  packages/styles/scss/themes/expressive/components/_ui-shell.scss
Labels: Ready to merge, package: styles

#5737 chore(peerdependencies): adding carbon peer dependencies
  packages/react/package.json
  packages/styles/package.json
  packages/web-components/package.json
Labels: Ready to merge

#5735 fix(logo-grid): fixed CTA link markup to span proper dimensions
  packages/web-components/src/components/logo-grid/logo-grid.ts
  packages/web-components/tests/snapshots/dds-logo-grid.md
Labels: Ready to merge

#5745 fix(content-block-segmented): fix spacing between copy and cta
  packages/web-components/src/components/content-block-segmented/content-block-segmented.scss
Labels: Ready to merge

#5697 feat(content-group-banner): add Content Group Banner component
  packages/styles/scss/components/content-group-banner/_content-group-banner.scss
  packages/web-components/.storybook/container.scss
  packages/web-components/src/components/content-group-banner/__stories__/README.stories.mdx
  packages/web-components/src/components/content-group-banner/__stories__/content-group-banner.stories.ts
  packages/web-components/src/components/content-group-banner/__tests__/content-group-banner.test.ts
  packages/web-components/src/components/content-group-banner/content-group-banner.scss
  packages/web-components/src/components/content-group-banner/content-group-banner.ts
  packages/web-components/src/components/link-list/link-list.scss
  packages/web-components/tests/snapshots/dds-content-group-banner.md
Labels: Ready to merge

#5711 fix(card-link): changed style to expressive-heading-02
  packages/styles/scss/components/card-link/_card-link.scss
  packages/styles/scss/internal/content-block/_content-block.scss
  packages/web-components/src/components/card-link/__stories__/README.stories.mdx
  packages/web-components/src/components/card-link/__stories__/card-link.stories.ts
  packages/web-components/src/components/cta/cta.scss
Labels: Ready to merge, package: react, package: web components

#5720 feat(tabs-extended): Tabs extended component
  packages/styles/scss/components/tabs-extended/_tabs-extended.scss
  packages/web-components/.storybook/container.scss
  packages/web-components/src/components/tabs-extended/__stories__/README.stories.mdx
  packages/web-components/src/components/tabs-extended/__stories__/tabs-extended.stories.ts
  packages/web-components/src/components/tabs-extended/__tests__/tabs-extended.test.ts
  packages/web-components/src/components/tabs-extended/tab.ts
  packages/web-components/src/components/tabs-extended/tabs-extended.scss
  packages/web-components/src/components/tabs-extended/tabs-extended.ts
Labels: Ready to merge

#5736 fix(card-pictogram): fixed visual bugs & storybook refinements
  packages/styles/scss/components/card/index.scss
  packages/web-components/src/components/card/__stories__/README.stories.mdx
  packages/web-components/src/components/card/__stories__/card.stories.ts
  packages/web-components/src/components/card/card.scss
  packages/web-components/src/components/card/card.ts
Labels: package: web components

#5747 fix(dotcom-shell): add scroll eventListener
  packages/web-components/src/components/dotcom-shell/dotcom-shell-composite.ts
  packages/web-components/src/components/scroll-animations/scroll-animations.ts
  packages/web-components/src/components/table-of-contents/table-of-contents.scss
  packages/web-components/src/components/table-of-contents/table-of-contents.ts
Labels: Ready to merge, package: web components

#5756 fix(masthead-search): increasing css selectors specificity
  packages/styles/scss/components/masthead/_masthead-search.scss
  packages/styles/scss/components/masthead/_masthead.scss
Labels: package: styles

#5762 test(bundle): update vendor build task to include @carbon/feature-flags
  packages/react/gulp-tasks/config.js
  packages/react/gulp-tasks/vendor.js
  packages/react/tests/integration/bundle/bundle-size.test.js
Labels: Ready to merge, package: styles

#5593 feat(cloud-masthead): add Cloud-specific container and composite components
  packages/services-store/src/types/translateAPI.ts
  packages/utilities/src/utilities/cloudLoginStatusCookie/__tests__/cloudLoginStatusCookie.test.js
  packages/utilities/src/utilities/cloudLoginStatusCookie/cloudLoginStatusCookie.js
  packages/utilities/src/utilities/cloudLoginStatusCookie/index.js
  packages/web-components/.env.example
  packages/web-components/src/components/cta/button-cta.ts
  packages/web-components/src/components/masthead/__stories__/cloud-masthead.stories.ts
  packages/web-components/src/components/masthead/__tests__/cloud-masthead-composite.test.ts
  packages/web-components/src/components/masthead/cloud/cloud-button-cta.ts
  packages/web-components/src/components/masthead/cloud/cloud-masthead-composite.ts
  packages/web-components/src/components/masthead/cloud/cloud-masthead-container.ts
  packages/web-components/src/components/masthead/cloud/cloud-masthead-global-bar.ts
  packages/web-components/src/components/masthead/cloud/cloud-masthead-profile.ts
  packages/web-components/src/components/masthead/cloud/cloud-masthead.scss
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/masthead-profile.ts
  packages/web-components/src/components/masthead/masthead.scss
  packages/web-components/src/globals/internal/feature-flags.ts
  packages/web-components/tests/karma.conf.js
Labels: Ready to merge, feature flag, package: web components

#5765 fix(footer): language selector icon alignment fix
  packages/web-components/src/components/footer/footer.scss
Labels: Ready to merge, package: styles

#5759 feat(tabs-extended-media): introduce tabs extended with media component
  packages/styles/scss/components/tabs-extended-media/_tabs-extended-media.scss
  packages/styles/scss/components/tabs-extended/_tabs-extended.scss
  packages/web-components/src/components/tabs-extended-media/__stories__/README.stories.mdx
  packages/web-components/src/components/tabs-extended-media/__stories__/tabs-extended-media.stories.ts
  packages/web-components/src/components/tabs-extended-media/__tests__/tabs-extended-media.test.ts
  packages/web-components/src/components/tabs-extended-media/tabs-extended-media.scss
  packages/web-components/src/components/tabs-extended-media/tabs-extended-media.ts
  packages/web-components/src/components/tabs-extended/tabs-extended.ts
Labels: Ready to merge

#5768 chore(percy): removing chore branch from percy update github action
  .github/workflows/percy-update-base.yml
Labels: Ready to merge

#5751 feat(cloud-megamenu): megamenu tabbing functionality foundation
  packages/services-store/src/types/translateAPI.ts
  packages/web-components/src/components/masthead/cloud/cloud-masthead-composite.ts
  packages/web-components/src/components/masthead/cloud/cloud-masthead.scss
  packages/web-components/src/components/masthead/cloud/cloud-megamenu-category-heading.ts
  packages/web-components/src/components/masthead/cloud/cloud-megamenu-category-link-group.ts
  packages/web-components/src/components/masthead/cloud/cloud-megamenu-category-link.ts
  packages/web-components/src/components/masthead/cloud/cloud-megamenu-left-navigation.ts
  packages/web-components/src/components/masthead/cloud/cloud-megamenu-right-navigation.ts
  packages/web-components/src/components/masthead/cloud/cloud-megamenu-tab.ts
  packages/web-components/src/components/masthead/cloud/cloud-megamenu-tabs.ts
Labels: Ready to merge, feature flag, package: web components

#5773 chore(percy): adding fixes for false positive percy reports
  packages/tests-e2e/__tests__/masthead/masthead.e2e.js
  packages/web-components/src/components/dotcom-shell/__stories__/dotcom-shell.stories.ts
Labels: Ready to merge

#5788 fix(megamenu): removes text-decoration on hover
  packages/styles/scss/components/masthead/_masthead-megamenu.scss
Labels: package: styles

#5786 fix(toc-horizontal): update selected item text color
  packages/styles/scss/components/tableofcontents/_tableofcontents.scss
Labels: Ready to merge, package: web components

#5785 fix(video-player): fixed focus state
  packages/styles/scss/components/video-player/_video-player.scss
Labels: Ready to merge, package: styles

#5790 fix(masthead): search triggering overflow
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/top-nav.ts
Labels: Ready to merge, package: web components

#5792 fix(content-block-simple): added max-width to media components
  packages/web-components/src/components/content-block-simple/content-block-simple.scss
Labels: Ready to merge, package: styles

#5797 test(integration): fixes to the integration build tests in react
  .yarn/offline-mirror/@carbon-icon-helpers-10.16.0.tgz
  .yarn/offline-mirror/@carbon-icons-react-10.30.0.tgz
  .yarn/offline-mirror/@types-node-14.14.34.tgz
  .yarn/offline-mirror/@types-node-14.14.41.tgz
  .yarn/offline-mirror/balanced-match-1.0.0.tgz
  .yarn/offline-mirror/balanced-match-1.0.2.tgz
  .yarn/offline-mirror/base64-js-1.3.1.tgz
  .yarn/offline-mirror/base64-js-1.5.1.tgz
  .yarn/offline-mirror/bl-4.0.2.tgz
  .yarn/offline-mirror/bl-4.1.0.tgz
  .yarn/offline-mirror/buffer-5.7.1.tgz
  .yarn/offline-mirror/chownr-1.1.4.tgz
  .yarn/offline-mirror/extract-zip-2.0.0.tgz
  .yarn/offline-mirror/ieee754-1.1.13.tgz
  .yarn/offline-mirror/ieee754-1.2.1.tgz
  .yarn/offline-mirror/tar-fs-2.1.0.tgz
  .yarn/offline-mirror/tar-fs-2.1.1.tgz
  .yarn/offline-mirror/tar-stream-2.1.2.tgz
  .yarn/offline-mirror/tar-stream-2.2.0.tgz
  .yarn/offline-mirror/unbzip2-stream-1.4.2.tgz
  .yarn/offline-mirror/unbzip2-stream-1.4.3.tgz
  .yarn/offline-mirror/ws-7.3.0.tgz
  packages/react/package.json
  packages/react/tests/integration/build/dotcomshell_steps.js
  packages/react/tests/integration/build/footer_steps.js
  packages/react/tests/integration/build/masthead_steps.js
  yarn.lock
Labels: Ready to merge

#5804 fix(masthead-search): overriding carbon core button styles
  packages/styles/scss/components/masthead/_masthead-search.scss
Labels: Ready to merge

#5812 fix(masthead): ensure search closes properly & close on blur
  packages/web-components/src/components/masthead/masthead-logo.ts
  packages/web-components/src/components/masthead/masthead-menu-button.ts
  packages/web-components/src/components/masthead/masthead-search.ts
Labels: Ready to merge

#5821 fix(Masthead): use specific selectors to remove tooltip
  packages/styles/scss/components/masthead/_masthead-search.scss
Labels: Ready to merge, package: styles

#5820 fix(masthead): search icon does nothing when input empty
  packages/react/src/components/Masthead/MastheadSearch.js
Labels: Ready to merge, package: react

#5822 fix(locale-modal): prefix selector for input focus
  packages/web-components/src/components/locale-modal/locale-search.ts
Labels: Ready to merge, package: web components

#5830 fix(tabs-extended-with-media): videos are now working
  packages/services/src/services/VideoPlayer/VideoPlayer.js
Labels: Ready to merge

#5825 fix(CalloutWithMedia): align vertical spacing with specs
  packages/styles/scss/components/callout-with-media/_callout-with-media.scss
Labels: Ready to merge, package: styles

#5835 fix(Masthead): remove pseudo element from platform name
  packages/styles/scss/components/masthead/_masthead-search.scss
Labels: Ready to merge, package: styles

#5838 fix(localeModal): e2e tests
  packages/tests-e2e/__tests__/locale-modal/locale-modal.e2e.js
Labels: Ready to merge

#5840 fix(content-group-cards): fixed bold outline
  packages/styles/scss/components/content-group-cards/_content-group-cards.scss
Labels: Ready to merge

#5798 fix(card): add eyebrow to card pictogram story
  packages/web-components/src/components/card/__stories__/card.stories.ts
Labels: Ready to merge, package: web components

#5851 fix(masthead-search): ensure clicking on suggestion works
  packages/web-components/src/components/masthead/masthead-search.ts
Labels: Ready to merge

#5841 fix(content-block-simple): added max-width to video component on react
  packages/styles/scss/components/content-block-simple/_content-block-simple.scss
Labels: Ready to merge, package: styles

#5846 fix(content-block-segmented): fixed spacing issues
  packages/styles/scss/components/content-block-segmented/_content-block-segmented.scss
  packages/web-components/src/components/content-block-segmented/content-block-segmented.scss
Labels: Ready to merge

#5799 fix: text line length change
  packages/styles/scss/components/quote/_quote.scss
  packages/styles/scss/globals/utils/_content-width.scss
Labels: Ready to merge, package: styles

#5794 fix(table-of-contents): fixed active section
  packages/react/src/components/TableOfContents/TableOfContents.js
  packages/web-components/src/components/table-of-contents/__tests__/table-of-contents.test.ts
  packages/web-components/src/components/table-of-contents/table-of-contents.ts
Labels: Ready to merge

#5860 docs(readme): web components
  README.md
Labels: Ready to merge

#5845 chore(github-actions): adjusting scope of yarn builds
  .github/workflows/deploy-canary.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/percy-update-base.yml
Labels: Ready to merge

#5839 fix(masthead): render regular dropdown menu items in mobile
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/tests/snapshots/dds-masthead-composite.md
Labels: Ready to merge, package: web components

#5871 fix(dependencies): changed @carbon/telemetry to be a dependency
  .yarn/offline-mirror/@carbon-icon-helpers-10.16.0.tgz
  .yarn/offline-mirror/@carbon-icons-react-10.30.0.tgz
  packages/react/package.json
  packages/services/package.json
  packages/styles/package.json
  packages/utilities/package.json
  yarn.lock
Labels: Ready to merge

#5861 fix(masthead): ensure only search bar displays on load upon search open
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/masthead-logo.ts
  packages/web-components/src/components/masthead/masthead-menu-button.ts
Labels: Ready to merge

#5881 chore(cta): fixed style imports in README
  packages/react/src/components/CTA/README.stories.mdx
Labels: Ready to merge

#5856 feat(cloud-masthead): masthead, adjust the position of the CTA buttons based on the new Mobile specs
  packages/web-components/src/components/masthead/cloud/cloud-left-nav-item.ts
  packages/web-components/src/components/masthead/cloud/cloud-masthead-composite.ts
  packages/web-components/src/components/masthead/cloud/cloud-masthead.scss
Labels: Ready to merge, feature flag

#5854 fix(font-tokens): set scaling param to true for expressive-heading-05
  packages/styles/scss/components/leadspace-with-search/leadspace-with-search.scss
  packages/styles/scss/components/logo-grid/_logo-grid.scss
  packages/styles/scss/patterns/blocks/logo-grid/_logo-grid.scss
Labels: Ready to merge, feature flag, package: styles

#5887 fix(tokens): g100 styles token fix
  packages/styles/scss/themes/expressive/_tokens.scss
Labels: Ready to merge, package: styles

#5899 fix(locale): return locale with the fetch list call
  packages/services/src/services/Locale/Locale.js
  packages/services/src/services/Locale/__tests__/Locale.test.js
Labels: Ready to merge, package: services

#5907 fix(locale): use getLocale method to verify locale before passing into translation call
  packages/services-store/src/actions/__tests__/localeAPI.test.ts
  packages/services-store/src/actions/__tests__/searchAPI.test.ts
  packages/services-store/src/actions/__tests__/translateAPI.test.ts
  packages/services-store/src/actions/localeAPI.ts
Labels: Ready to merge, package: services, package: web components

#5874 feat(cloud-masthead): adjust "Contact us" button visibility
  packages/web-components/src/components/masthead/__stories__/cloud-masthead.stories.ts
  packages/web-components/src/components/masthead/cloud/cloud-masthead-composite.ts
Labels: Ready to merge, feature flag

#5853 fix(cloud-mega-menu): add style and polish the Cloud mega menu & keep platform visible on all bps
  packages/styles/scss/components/masthead/_masthead-megamenu.scss
  packages/web-components/src/components/masthead/cloud/cloud-masthead-composite.ts
  packages/web-components/src/components/masthead/cloud/cloud-masthead.scss
  packages/web-components/src/components/masthead/cloud/cloud-megamenu-category-heading.ts
  packages/web-components/src/components/masthead/cloud/cloud-megamenu.ts
  packages/web-components/src/components/masthead/cloud/cloud-top-nav-name.ts
Labels: Ready to merge, feature flag

#5917 fix(tabs-extended): update aria-selected label and disabled tab
  packages/web-components/src/components/tabs-extended/tabs-extended.ts
Labels: Ready to merge, package: web components

#5918 chore(changelog): updates to changelog to fetch for services-store
  tasks/get-changelog.js
Labels: Ready to merge

#5919 fix: list margin fix
  packages/styles/scss/themes/expressive/components/_list.scss
  packages/styles/scss/themes/expressive/index.scss
Labels: Needs design approval, Ready to merge

#5565 feat(dotcom-shell): added a story featuring horizontal-toc
  packages/web-components/src/components/back-to-top/__stories__/back-to-top.stories.ts
  packages/web-components/src/components/dotcom-shell/__stories__/data/content.ts
  packages/web-components/src/components/dotcom-shell/__stories__/dotcom-shell.stories.ts
  packages/web-components/src/components/scroll-animations/__stories__/scroll-animations.stories.ts
  packages/web-components/src/components/table-of-contents/table-of-contents.ts
Labels: Ready to merge, package: web components

#5923 fix(storybook): update theme names
  packages/storybook-addon-theme/src/components/Panel.js
Labels: Ready to merge, storybook
