Repository carbon-design-system/carbon-for-ibm-dotcom, pull requests merged in 2022-04, with the labels that each got.

#8493 feat(structured-list): extend component from carbon-web-components
  packages/styles/scss/components/structured-list/_structured-list.scss
  packages/web-components/examples/codesandbox/components/structured-list/.babelrc
  packages/web-components/examples/codesandbox/components/structured-list/.gitignore
  packages/web-components/examples/codesandbox/components/structured-list/cdn.html
  packages/web-components/examples/codesandbox/components/structured-list/index.html
  packages/web-components/examples/codesandbox/components/structured-list/package.json
  packages/web-components/examples/codesandbox/components/structured-list/sandbox.config.json
  packages/web-components/examples/codesandbox/components/structured-list/src/index.js
  packages/web-components/src/components/structured-list/__stories__/README.stories.mdx
  packages/web-components/src/components/structured-list/__stories__/structured-list.stories.ts
  packages/web-components/src/components/structured-list/index.ts
  packages/web-components/src/components/structured-list/structured-list-body.ts
  packages/web-components/src/components/structured-list/structured-list-cell.ts
  packages/web-components/src/components/structured-list/structured-list-group.ts
  packages/web-components/src/components/structured-list/structured-list-head.ts
  packages/web-components/src/components/structured-list/structured-list-header-cell.ts
  packages/web-components/src/components/structured-list/structured-list-header-row.ts
  packages/web-components/src/components/structured-list/structured-list-row.ts
  packages/web-components/src/components/structured-list/structured-list.scss
  packages/web-components/src/components/structured-list/structured-list.ts
Labels: package: web components, Ready to merge, adopter: AEM, owner: Innovation Team

#8667 chore: upgrade `@carbon/type`
  .yarn/offline-mirror/@carbon-type-10.44.0.tgz
  packages/styles/package.json
  packages/web-components/package.json
  yarn.lock
Labels: Ready to merge

#8666 chore(browserstack): remove FF on Windows testing for browserstack automate
  packages/web-components/tests/e2e-storybook/browserstack.json
Labels: Ready to merge

#8675 chore(codesandbox): set fixed version for @carbon/icon-react package
  packages/react/examples/codesandbox/components/ButtonGroup/package.json
  packages/react/examples/codesandbox/components/CTA/package.json
  packages/react/examples/codesandbox/components/CTASection/package.json
  packages/react/examples/codesandbox/components/CalloutQuote/package.json
  packages/react/examples/codesandbox/components/CalloutWithMedia/package.json
  packages/react/examples/codesandbox/components/Card/package.json
  packages/react/examples/codesandbox/components/CardGroup/package.json
  packages/react/examples/codesandbox/components/CardLink/package.json
  packages/react/examples/codesandbox/components/CardSectionImages/package.json
  packages/react/examples/codesandbox/components/CardSectionSimple/package.json
  packages/react/examples/codesandbox/components/ContentBlock/package.json
  packages/react/examples/codesandbox/components/ContentBlockCards/package.json
  packages/react/examples/codesandbox/components/ContentBlockHorizontal/package.json
  packages/react/examples/codesandbox/components/ContentBlockMedia/package.json
  packages/react/examples/codesandbox/components/ContentBlockMixed/package.json
  packages/react/examples/codesandbox/components/ContentBlockSegmented/package.json
  packages/react/examples/codesandbox/components/ContentBlockSimple/package.json
  packages/react/examples/codesandbox/components/ContentGroup/package.json
  packages/react/examples/codesandbox/components/ContentGroupCards/package.json
  packages/react/examples/codesandbox/components/ContentGroupHorizontal/package.json
  packages/react/examples/codesandbox/components/ContentGroupPictograms/package.json
  packages/react/examples/codesandbox/components/ContentGroupSimple/package.json
  packages/react/examples/codesandbox/components/ContentItem/package.json
  packages/react/examples/codesandbox/components/ContentItemHorizontal/package.json
  packages/react/examples/codesandbox/components/ContentSection/package.json
  packages/react/examples/codesandbox/components/DotcomShell/package.json
  packages/react/examples/codesandbox/components/ExpressiveModal/package.json
  packages/react/examples/codesandbox/components/FeatureCard/package.json
  packages/react/examples/codesandbox/components/Footer/package.json
  packages/react/examples/codesandbox/components/HorizontalRule/package.json
  packages/react/examples/codesandbox/components/Image/package.json
  packages/react/examples/codesandbox/components/ImageWithCaption/package.json
  packages/react/examples/codesandbox/components/Layout/package.json
  packages/react/examples/codesandbox/components/LeadSpaceBlock/package.json
  packages/react/examples/codesandbox/components/Leadspace/package.json
  packages/react/examples/codesandbox/components/LightboxMediaViewer/package.json
  packages/react/examples/codesandbox/components/LinkList/package.json
  packages/react/examples/codesandbox/components/LinkWithIcon/package.json
  packages/react/examples/codesandbox/components/LocaleModal/package.json
  packages/react/examples/codesandbox/components/LogoGrid/package.json
  packages/react/examples/codesandbox/components/Masthead/package.json
  packages/react/examples/codesandbox/components/MastheadL1/package.json
  packages/react/examples/codesandbox/components/PictogramItem/package.json
  packages/react/examples/codesandbox/components/Quote/package.json
  packages/react/examples/codesandbox/components/ScrollAnimations/package.json
  packages/react/examples/codesandbox/components/TableOfContents/package.json
  packages/react/examples/codesandbox/components/VideoPlayer/package.json
  packages/web-components/tests/e2e-storybook/cypress/fixtures/grouped-typeahead.json
  packages/web-components/tests/e2e-storybook/cypress/integration/masthead/masthead-custom-search.e2e.js
Labels: package: react, Ready to merge, test: e2e

#8680 fix(video-player): ensure only automatic thumbnails get updated.
  packages/web-components/src/components/video-player/video-player.ts
Labels: Ready to merge

#8677 feat(masthead): add `skip-to-content` web component
  packages/styles/scss/components/masthead/_masthead.scss
  packages/styles/scss/components/structured-list/_structured-list.scss
  packages/web-components/.storybook/config.ts
  packages/web-components/examples/codesandbox/components/structured-list/src/index.js
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/masthead.scss
  packages/web-components/src/components/masthead/skip-to-content.ts
  packages/web-components/src/components/structured-list/__stories__/structured-list.stories.ts
  packages/web-components/src/components/structured-list/index.ts
  packages/web-components/src/components/structured-list/structured-list-body.ts
  packages/web-components/src/components/structured-list/structured-list-cell.ts
  packages/web-components/src/components/structured-list/structured-list-group.ts
  packages/web-components/src/components/structured-list/structured-list-head.ts
  packages/web-components/src/components/structured-list/structured-list-header-cell.ts
  packages/web-components/src/components/structured-list/structured-list-header-row.ts
  packages/web-components/src/components/structured-list/structured-list-row.ts
  packages/web-components/src/components/structured-list/structured-list.scss
  packages/web-components/src/components/structured-list/structured-list.ts
Labels: package: web components, Ready to merge

#8682 feat(pictogram-item): Allow for changing of Pictogram color
  packages/styles/scss/components/pictogram-item/_pictogram-item.scss
  packages/web-components/src/components/pictogram-item/__stories__/pictogram-item.stories.ts
  packages/web-components/src/components/pictogram-item/defs.ts
  packages/web-components/src/components/pictogram-item/pictogram-item.ts
Labels: package: web components, Ready to merge, :eyes: eyes needed

#8674 feat(pricing-table): create pricing table component
  packages/styles/scss/components/pricing-table/_pricing-table.scss
  packages/styles/scss/components/structured-list/_structured-list.scss
  packages/styles/scss/ibm-dotcom-styles.scss
  packages/web-components/examples/codesandbox/components/pricing-table/.babelrc
  packages/web-components/examples/codesandbox/components/pricing-table/.gitignore
  packages/web-components/examples/codesandbox/components/pricing-table/cdn.html
  packages/web-components/examples/codesandbox/components/pricing-table/index.html
  packages/web-components/examples/codesandbox/components/pricing-table/package.json
  packages/web-components/examples/codesandbox/components/pricing-table/sandbox.config.json
  packages/web-components/examples/codesandbox/components/pricing-table/src/index.js
  packages/web-components/src/components/pricing-table/__stories__/README.stories.mdx
  packages/web-components/src/components/pricing-table/__stories__/pricing-table.stories.ts
  packages/web-components/src/components/pricing-table/defs.ts
  packages/web-components/src/components/pricing-table/index.ts
  packages/web-components/src/components/pricing-table/pricing-table-annotation-toggle.ts
  packages/web-components/src/components/pricing-table/pricing-table-body.ts
  packages/web-components/src/components/pricing-table/pricing-table-cell-annotation.ts
  packages/web-components/src/components/pricing-table/pricing-table-cell.ts
  packages/web-components/src/components/pricing-table/pricing-table-group.ts
  packages/web-components/src/components/pricing-table/pricing-table-head.ts
  packages/web-components/src/components/pricing-table/pricing-table-header-cell-caption.ts
  packages/web-components/src/components/pricing-table/pricing-table-header-cell-cta.ts
  packages/web-components/src/components/pricing-table/pricing-table-header-cell-description.ts
  packages/web-components/src/components/pricing-table/pricing-table-header-cell-headline.ts
  packages/web-components/src/components/pricing-table/pricing-table-header-cell-tag.ts
  packages/web-components/src/components/pricing-table/pricing-table-header-cell.ts
  packages/web-components/src/components/pricing-table/pricing-table-header-row.ts
  packages/web-components/src/components/pricing-table/pricing-table-highlight-label.ts
  packages/web-components/src/components/pricing-table/pricing-table-row.ts
  packages/web-components/src/components/pricing-table/pricing-table.scss
  packages/web-components/src/components/pricing-table/pricing-table.ts
  packages/web-components/src/components/pricing-table/utils.ts
  packages/web-components/src/components/structured-list/structured-list.ts
  packages/web-components/src/globals/internal/feature-flags.ts
Labels: feature flag, package: web components, Ready to merge, adopter: AEM

#8698 fix(masthead): add optional chaining
  packages/react/src/components/Masthead/Masthead.js
Labels: Ready to merge

#8699 fix(pricing-table): use correct subheader bottom padding
  packages/styles/scss/components/pricing-table/_pricing-table.scss
  packages/web-components/examples/codesandbox/components/pricing-table/cdn.html
  packages/web-components/examples/codesandbox/components/pricing-table/index.html
  packages/web-components/src/components/pricing-table/__stories__/README.stories.mdx
  packages/web-components/src/components/pricing-table/pricing-table.scss
Labels: feature flag, package: web components, Ready to merge, adopter: AEM

#8684 feat(sticky header utility): update storybook story & remove old dotcom-shell code
  packages/styles/scss/components/leadspace-with-search/_leadspace-with-search.scss
  packages/utilities/src/utilities/StickyHeader/StickyHeader.js
  packages/web-components/src/components/dotcom-shell/__stories__/data/content.ts
  packages/web-components/src/components/dotcom-shell/__stories__/dotcom-shell.stories.ts
  packages/web-components/src/components/dotcom-shell/dotcom-shell-composite.ts
  packages/web-components/src/components/leadspace-with-search/leadspace-with-search.ts
  packages/web-components/src/components/locale-modal/locale-modal.ts
  packages/web-components/src/components/masthead/masthead.ts
  packages/web-components/src/components/table-of-contents/table-of-contents.ts
  packages/web-components/src/components/universal-banner/universal-banner.ts
Labels: package: web components, Ready to merge

#8718 fix(github-actions): remove xvfb for e2e integration tests
  .github/workflows/e2e-integration.yml
  packages/web-components/package.json
  packages/web-components/tests/e2e/cypress.json
  packages/web-components/tests/e2e/cypress/support/index.js
Labels: Ready to merge, test: e2e

#8734 fix(vendor): fix to pull direct source for internal vendor packages
  packages/react/gulp-tasks/config.js
  packages/services/gulp-tasks/config.js
  packages/services/package.json
  packages/web-components/gulp-tasks/config.js
  packages/web-components/gulp-tasks/vendor.js
Labels: Ready to merge

#8728 chore(horizontal-rule): add hr React wrapper
  packages/web-components/examples/codesandbox/components-react/horizontal-rule/.gitignore
  packages/web-components/examples/codesandbox/components-react/horizontal-rule/index.html
  packages/web-components/examples/codesandbox/components-react/horizontal-rule/package.json
  packages/web-components/examples/codesandbox/components-react/horizontal-rule/sandbox.config.json
  packages/web-components/examples/codesandbox/components-react/horizontal-rule/src/index.css
  packages/web-components/examples/codesandbox/components-react/horizontal-rule/src/index.js
  packages/web-components/examples/codesandbox/components-react/horizontal-rule/webpack.config.js
  packages/web-components/src/components/horizontal-rule/__stories__/README.stories.react.mdx
  packages/web-components/src/components/horizontal-rule/__stories__/horizontal-rule.stories.react.tsx
Labels: package: web components, Ready to merge

#8724 fix(content-item-horizontal): update wrapper story and readme
  packages/web-components/src/components/content-item-horizontal/__stories__/README.stories.react.mdx
  packages/web-components/src/components/content-item-horizontal/__stories__/content-item-horizontal.stories.react.tsx
Labels: Ready to merge

#8737 fix(masthead): using better selector
  packages/react/tests/e2e-storybook/cypress/integration/Masthead/Masthead.e2e.js
Labels: Ready to merge, test: e2e

#8725 chore(button-group): add Button group React wrapper
  packages/web-components/examples/codesandbox/components-react/button-group/.gitignore
  packages/web-components/examples/codesandbox/components-react/button-group/index.html
  packages/web-components/examples/codesandbox/components-react/button-group/package.json
  packages/web-components/examples/codesandbox/components-react/button-group/sandbox.config.json
  packages/web-components/examples/codesandbox/components-react/button-group/src/index.css
  packages/web-components/examples/codesandbox/components-react/button-group/src/index.js
  packages/web-components/examples/codesandbox/components-react/button-group/webpack.config.js
  packages/web-components/src/components/button-group/__stories__/README.stories.react.mdx
  packages/web-components/src/components/button-group/__stories__/button-group.stories.react.tsx
Labels: package: web components, Ready to merge

#8733 chore(callout-quote): add callout quote react wrapper
  packages/web-components/examples/codesandbox/components-react/callout-quote/.gitignore
  packages/web-components/examples/codesandbox/components-react/callout-quote/index.html
  packages/web-components/examples/codesandbox/components-react/callout-quote/package.json
  packages/web-components/examples/codesandbox/components-react/callout-quote/sandbox.config.json
  packages/web-components/examples/codesandbox/components-react/callout-quote/src/index.css
  packages/web-components/examples/codesandbox/components-react/callout-quote/src/index.js
  packages/web-components/examples/codesandbox/components-react/callout-quote/webpack.config.js
  packages/web-components/src/components/callout-quote/__stories__/README.stories.react.mdx
  packages/web-components/src/components/callout-quote/__stories__/callout-quote.stories.react.tsx
  packages/web-components/src/components/callout-quote/callout-link-with-icon.ts
  packages/web-components/src/components/callout-quote/callout-quote.ts
  packages/web-components/src/components/quote/quote-source-bottom-copy.ts
  packages/web-components/src/components/quote/quote-source-copy.ts
  packages/web-components/src/components/quote/quote-source-heading.ts
  packages/web-components/src/components/quote/quote.ts
Labels: package: web components, Ready to merge

#8738 chore(leadspace-block): add wrapper to storybook and codesandbox
  packages/web-components/examples/codesandbox/components-react/leadspace-block/.gitignore
  packages/web-components/examples/codesandbox/components-react/leadspace-block/index.html
  packages/web-components/examples/codesandbox/components-react/leadspace-block/package.json
  packages/web-components/examples/codesandbox/components-react/leadspace-block/sandbox.config.json
  packages/web-components/examples/codesandbox/components-react/leadspace-block/src/index.css
  packages/web-components/examples/codesandbox/components-react/leadspace-block/src/index.js
  packages/web-components/examples/codesandbox/components-react/leadspace-block/webpack.config.js
  packages/web-components/src/components/leadspace-block/__stories__/README.stories.react.mdx
  packages/web-components/src/components/leadspace-block/__stories__/leadspace-block.stories.react.tsx
  packages/web-components/src/components/leadspace-block/leadspace-block-cta.ts
  packages/web-components/src/components/leadspace-block/leadspace-block-media.ts
  packages/web-components/src/components/leadspace-block/leadspace-block.ts
Labels: Ready to merge

#8750 fix(leadspace): align stories and documentation for wc and wrapper
  packages/web-components/src/components/leadspace/__stories__/README.stories.mdx
  packages/web-components/src/components/leadspace/__stories__/README.stories.react.mdx
  packages/web-components/src/components/leadspace/__stories__/leadspace.stories.react.tsx
Labels: package: web components, Ready to merge

#8754 fix(image-with-caption): lightbox caption styles
  packages/styles/scss/components/image-with-caption/image-with-caption.scss
Labels: package: styles, Ready to merge

#8749 fix(callout-quote): add ArrowRight icon import to codesandbox example
  packages/web-components/examples/codesandbox/components-react/callout-quote/src/index.js
Labels: Ready to merge

#8758 fix(e2e): adding wait times for React storybook e2e percy snapshots
  packages/react/tests/e2e-storybook/cypress/integration/CardSectionImages/CardSectionImages.e2e.js
  packages/react/tests/e2e-storybook/cypress/integration/CardSectionSimple/CardSectionSimple.e2e.js
  packages/react/tests/e2e-storybook/cypress/integration/TableOfContents/TableOfContents.e2e.js
Labels: Ready to merge
