Repository carbon-design-system/carbon-for-ibm-dotcom, pull requests merged in 2022-02, with the labels that each got.

#8152 fix(leadspace-with-search): refactor for correct styles to be added
  packages/styles/scss/components/leadspace-block/_leadspace-block.scss
  packages/styles/scss/components/leadspace-with-search/_leadspace-with-search.scss
  packages/styles/scss/components/leadspace-with-search/index.scss
  packages/styles/scss/internal/content-block/_content-block.scss
  packages/web-components/examples/codesandbox/components-react/leadspace-with-search/src/index.js
  packages/web-components/examples/codesandbox/components/leadspace-with-search/cdn.html
  packages/web-components/examples/codesandbox/components/leadspace-with-search/index.html
  packages/web-components/src/components/leadspace-block/leadspace-block.scss
  packages/web-components/src/components/leadspace-with-search/__stories__/README.stories.mdx
  packages/web-components/src/components/leadspace-with-search/__stories__/README.stories.react.mdx
  packages/web-components/src/components/leadspace-with-search/__stories__/leadspace-with-search.stories.react.tsx
  packages/web-components/src/components/leadspace-with-search/__stories__/leadspace-with-search.stories.ts
  packages/web-components/src/components/leadspace-with-search/index.ts
  packages/web-components/src/components/leadspace-with-search/leadspace-with-search-content-copy.ts
  packages/web-components/src/components/leadspace-with-search/leadspace-with-search-content-heading.ts
  packages/web-components/src/components/leadspace-with-search/leadspace-with-search-content.ts
  packages/web-components/src/components/leadspace-with-search/leadspace-with-search-heading.ts
  packages/web-components/src/components/search-with-typeahead/__tests__/search-with-typeahead.test.ts
  packages/web-components/src/components/search-with-typeahead/search-with-typeahead.ts
Labels: package: web components, Ready to merge

#8182 fix(content-section): update child elements alignment to the top
  packages/react/src/components/ContentSection/ContentSection.js
  packages/styles/scss/internal/content-section/_content-section.scss
  packages/web-components/src/components/cta-section/cta-section.scss
Labels: package: styles, Ready to merge

#8183 fix(card-pictogram): safari motion fix
  packages/styles/scss/components/card/index.scss
Labels: package: styles, Ready to merge

#8181 fix(video-player): move focus to iframe after Kaltura embed
  packages/web-components/src/components/video-player/video-player-container.ts
Labels: package: web components, Ready to merge, adopter: AEM

#8155 test(filter-panel): test state consistency across viewport sizes
  packages/web-components/tests/e2e-storybook/cypress/integration/filter-panel/filter-panel.e2e.js
Labels: Ready to merge, test: e2e

#8190 test(footer): change number of links to check for in chrome
  packages/web-components/tests/e2e-storybook/cypress/integration/footer/footer.e2e.js
Labels: Ready to merge

#8191 fix(card-in-card): add null check for card-in-card-image
  packages/web-components/src/components/card-in-card/card-in-card.ts
Labels: Ready to merge

#8096 feat(search-with-typeahead): add scoped search support
  packages/services/src/services/SearchTypeahead/SearchTypeahead.js
  packages/styles/scss/components/search-with-typeahead/_search-with-typeahead.scss
  packages/web-components/src/components/dotcom-shell/dotcom-shell-composite.ts
  packages/web-components/src/components/masthead/__stories__/README.stories.mdx
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/search-with-typeahead/__stories__/search-with-typeahead.stories.ts
  packages/web-components/src/components/search-with-typeahead/index.ts
  packages/web-components/src/components/search-with-typeahead/scoped-search-dropdown-mobile.ts
  packages/web-components/src/components/search-with-typeahead/scoped-search-dropdown.ts
  packages/web-components/src/components/search-with-typeahead/search-with-typeahead.ts
  packages/web-components/tests/e2e-storybook/cypress/integration/masthead/masthead.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/support/index.js
Labels: package: web components, Ready to merge, Needs design approval

#8194 fix(toc): fix LeadSpace with Search results z-index issue that's covering Horizontal TOC
  packages/styles/scss/components/leadspace-with-search/_leadspace-with-search.scss
Labels: package: web components, Ready to merge

#8198 chore(lit-element): update deprecated decorators
  packages/web-components/docs/coding-conventions.md
  packages/web-components/src/components/button/button.ts
  packages/web-components/src/components/card-group/card-group.ts
  packages/web-components/src/components/card/card-footer.ts
  packages/web-components/src/components/card/card.ts
  packages/web-components/src/components/carousel/carousel.ts
  packages/web-components/src/components/content-block/content-block-heading.ts
  packages/web-components/src/components/content-block/content-block.ts
  packages/web-components/src/components/content-item-horizontal/content-item-horizontal-media.ts
  packages/web-components/src/components/content-item/content-item.ts
  packages/web-components/src/components/cta-block/cta-block-item-row.ts
  packages/web-components/src/components/cta-block/cta-block-item.ts
  packages/web-components/src/components/cta-block/cta-block.ts
  packages/web-components/src/components/cta/text-cta.ts
  packages/web-components/src/components/cta/video-cta-composite.ts
  packages/web-components/src/components/dotcom-shell/dotcom-shell-composite.ts
  packages/web-components/src/components/expressive-modal/expressive-modal.ts
  packages/web-components/src/components/footer/footer-nav-group.ts
  packages/web-components/src/components/footer/language-selector-desktop.ts
  packages/web-components/src/components/image/image.ts
  packages/web-components/src/components/leadspace-block/leadspace-block.ts
  packages/web-components/src/components/link-list/link-list.ts
  packages/web-components/src/components/locale-modal/locale-modal.ts
  packages/web-components/src/components/locale-modal/locale-search.ts
  packages/web-components/src/components/masthead/masthead-logo.ts
  packages/web-components/src/components/masthead/masthead-menu-button.ts
  packages/web-components/src/components/masthead/megamenu-top-nav-menu.ts
  packages/web-components/src/components/masthead/top-nav.ts
  packages/web-components/src/components/table-of-contents/table-of-contents.ts
  packages/web-components/src/components/tabs-extended/tab.ts
  packages/web-components/src/components/tabs-extended/tabs-extended.ts
Labels: package: web components, Ready to merge

#8202 fix(masthead): change hasProfile to accept a string instead of boolean
  packages/web-components/src/components/masthead/__stories__/cloud-masthead.stories.ts
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
Labels: adopter support, package: web components, Ready to merge

#8187 fix(content-block-horizontal): update bottom section spacing
  packages/styles/scss/internal/content-block/_content-block.scss
Labels: Ready to merge

#8201 test(masthead): mock grouped and scoped search suggestions
  packages/web-components/tests/e2e-storybook/cypress/fixtures/grouped-typeahead.json
  packages/web-components/tests/e2e-storybook/cypress/fixtures/scoped-typeahead.json
  packages/web-components/tests/e2e-storybook/cypress/integration/masthead/masthead-custom-search.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/masthead/masthead-scoped-search.e2e.js
Labels: Ready to merge, test: e2e

#8197 fix(feature-section-card-link): remove incorrect role
  packages/web-components/src/components/feature-section/feature-section-card-link.ts
  packages/web-components/src/components/link-list/link-list.ts
  packages/web-components/src/components/masthead/top-nav-item.ts
Labels: accessibility, package: web components, Ready to merge, :eyes: eyes needed

#8199 test(cta): wait for image to load into view before testing layout
  packages/react/tests/e2e-storybook/cypress/integration/CTA/Feature.e2e.js
Labels: Ready to merge

#8153 fix(filter-panel): return to original heading after clearing filters
  packages/web-components/src/components/filter-panel/filter-panel-composite.ts
Labels: package: web components, Ready to merge, adopter: AEM

#8228 chore(renovatebot): disable updates for major releases
  renovate.json
Labels: dev, Ready to merge

#8226 chore(jest): mock match media to resolve test error
  packages/react/config/jest/setup.js
Labels: package: react, Ready to merge

#8229 chore(deps): remove `event-target-shim`
  .yarn/offline-mirror/event-target-shim-5.0.1.tgz
  packages/web-components/package.json
  yarn.lock
Labels: dev, Ready to merge

#8219 fix(content-block-mixed): remove conflicting element IDs
  packages/web-components/src/components/content-block-mixed/__stories__/content-block-mixed.stories.ts
  packages/web-components/src/components/content-group-pictograms/__stories__/content-group-pictograms.stories.ts
Labels: accessibility, package: web components, Ready to merge

#8149 fix(cloud-masthead): replace cookie auth with window object status
  packages/services-store/src/actions/cloudAccountAuthAPI.ts
  packages/services/src/services/CloudAccountAuth/CloudAccountAuth.js
  packages/services/src/services/CloudAccountAuth/__tests__/CloudAccountAuth.test.js
  packages/web-components/src/components/masthead/__stories__/cloud-masthead.stories.ts
  packages/web-components/src/components/masthead/cloud/cloud-masthead-composite.ts
Labels: adopter: Drupal, feature flag, Ready to merge, adopter: AEM

#8200 feat(cta): optional video thumbnail
  packages/web-components/src/components/card-in-card/card-in-card.ts
  packages/web-components/src/components/cta/__stories__/cta.stories.ts
  packages/web-components/src/components/cta/card-cta.ts
Labels: package: web components, Ready to merge

#8241 fix(footer): stabilization of e2e tests
  packages/react/tests/e2e-storybook/cypress/fixtures/translation.json
  packages/react/tests/e2e-storybook/cypress/integration/Footer/Footer-micro.e2e.js
  packages/react/tests/e2e-storybook/cypress/integration/Footer/Footer-short.e2e.js
  packages/react/tests/e2e-storybook/cypress/integration/Footer/Footer.e2e.js
  packages/react/tests/e2e-storybook/cypress/support/index.js
  packages/web-components/tests/e2e-storybook/cypress/fixtures/translation.json
  packages/web-components/tests/e2e-storybook/cypress/integration/footer/footer-micro.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/footer/footer-short.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/footer/footer.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/support/index.js
Labels: dev, Ready to merge

#8238 fix(link-with-icon): adjust left icon placement style & clean up
  packages/styles/scss/components/link-with-icon/_link-with-icon.scss
  packages/web-components/src/components/link-with-icon/link-with-icon.scss
Labels: package: web components, Ready to merge

#8250 fix(cloud-masthead): update the services and utilities to use canary
  .yarn/offline-mirror/@carbon-ibmdotcom-services-1.31.0-canary.1827018708.0.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-utilities-1.31.0-canary.1827018708.0.tgz
  packages/services-store/package.json
  packages/services/src/services/CloudAccountAuth/CloudAccountAuth.js
  packages/web-components/package.json
  yarn.lock
Labels: package: services, feature flag, Ready to merge

#8174 test(masthead): add e2e coverage for cloud masthead (experimental)
  .github/workflows/e2e-tests.yml
  packages/web-components/src/components/masthead/__stories__/cloud-masthead.stories.ts
  packages/web-components/tests/e2e-storybook/cypress/integration/masthead/cloud/cloud-masthead.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/plugins/index.js
Labels: feature flag, package: web components, Ready to merge

#8252 Revert "feat(filter-panel): add view all button for filter groups"
  packages/web-components/src/components/filter-panel/__stories__/filter-panel.stories.ts
  packages/web-components/src/components/filter-panel/filter-group-item.ts
  packages/web-components/src/components/filter-panel/filter-panel-composite.ts
  packages/web-components/src/components/filter-panel/filter-panel-input-select.ts
  packages/web-components/src/components/filter-panel/filter-panel.scss
  packages/web-components/tests/e2e-storybook/cypress/integration/filter-panel/filter-panel.e2e.js
Labels: Ready to merge

#8280 fix(cypress): adding back plugins file
  packages/web-components/tests/e2e-storybook/cypress/plugins/index.js
Labels: Ready to merge

#8150 test(storybook): add e2e test for storybook docs
  packages/react/tests/e2e-storybook/cypress/integration/StorybookDocs/StorybookComponents.e2e.js
  packages/react/tests/e2e-storybook/cypress/integration/StorybookDocs/StorybookDocs.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/storybook-docs/storybook-components.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/storybook-docs/storybook-docs.e2e.js
Labels: package: react, package: web components, Ready to merge, storybook, test: e2e

#8237 feat(universal-banner): introducing component
  packages/storybook-images/assets/universal-banner/universal-banner-4-col-image.jpg
  packages/storybook-images/assets/universal-banner/universal-banner-4-col-lg.jpg
  packages/storybook-images/assets/universal-banner/universal-banner-4-col-xlg.jpg
  packages/storybook-images/assets/universal-banner/universal-banner-8-col-image.jpg
  packages/storybook-images/assets/universal-banner/universal-banner-8-col-lg.jpg
  packages/storybook-images/assets/universal-banner/universal-banner-8-col-xlg.jpg
  packages/styles/scss/components/masthead/_masthead.scss
  packages/styles/scss/components/universal-banner/_universal-banner.scss
  packages/styles/scss/ibm-dotcom-styles.scss
  packages/web-components/examples/codesandbox/components-react/universal-banner/.gitignore
  packages/web-components/examples/codesandbox/components-react/universal-banner/index.html
  packages/web-components/examples/codesandbox/components-react/universal-banner/package.json
  packages/web-components/examples/codesandbox/components-react/universal-banner/sandbox.config.json
  packages/web-components/examples/codesandbox/components-react/universal-banner/src/index.css
  packages/web-components/examples/codesandbox/components-react/universal-banner/src/index.js
  packages/web-components/examples/codesandbox/components-react/universal-banner/webpack.config.js
  packages/web-components/examples/codesandbox/components/universal-banner/.babelrc
  packages/web-components/examples/codesandbox/components/universal-banner/.gitignore
  packages/web-components/examples/codesandbox/components/universal-banner/.sassrc
  packages/web-components/examples/codesandbox/components/universal-banner/cdn.html
  packages/web-components/examples/codesandbox/components/universal-banner/index.html
  packages/web-components/examples/codesandbox/components/universal-banner/package.json
  packages/web-components/examples/codesandbox/components/universal-banner/sandbox.config.json
  packages/web-components/examples/codesandbox/components/universal-banner/src/index.js
  packages/web-components/examples/codesandbox/components/universal-banner/src/index.scss
  packages/web-components/src/components/dotcom-shell/__stories__/README.stories.mdx
  packages/web-components/src/components/dotcom-shell/__stories__/dotcom-shell.stories.ts
  packages/web-components/src/components/dotcom-shell/dotcom-shell-composite.ts
  packages/web-components/src/components/universal-banner/__stories__/README.stories.mdx
  packages/web-components/src/components/universal-banner/__stories__/README.stories.react.mdx
  packages/web-components/src/components/universal-banner/__stories__/universal-banner.stories.react.tsx
  packages/web-components/src/components/universal-banner/__stories__/universal-banner.stories.ts
  packages/web-components/src/components/universal-banner/index.ts
  packages/web-components/src/components/universal-banner/universal-banner-copy.ts
  packages/web-components/src/components/universal-banner/universal-banner-heading.ts
  packages/web-components/src/components/universal-banner/universal-banner-image.ts
  packages/web-components/src/components/universal-banner/universal-banner.scss
  packages/web-components/src/components/universal-banner/universal-banner.ts
  packages/web-components/tests/e2e-storybook/cypress/integration/universal-banner/universal-banner.e2e.js
  packages/web-components/tests/e2e/cypress/integration/universal-banner/universal-banner.cdn.e2e.js
  packages/web-components/tests/e2e/cypress/integration/universal-banner/universal-banner.e2e.js
Labels: package: web components, Ready to merge

#8258 feat(filter-panel): add view all button for filter groups
  packages/web-components/src/components/filter-panel/__stories__/filter-panel.stories.ts
  packages/web-components/src/components/filter-panel/filter-group-item.ts
  packages/web-components/src/components/filter-panel/filter-panel-composite.ts
  packages/web-components/src/components/filter-panel/filter-panel-input-select.ts
  packages/web-components/src/components/filter-panel/filter-panel.scss
  packages/web-components/tests/e2e-storybook/cypress/integration/filter-panel/filter-panel.e2e.js
Labels: package: react, package: web components, Ready to merge, adopter: AEM

#8316 chore(support): update fireline roster for sprint 4
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/contribution_request.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/question.yaml
Labels: Ready to merge, housekeeping

#8298 chore(masthead): added feature freeze notice to the react version
  packages/react/docs/breaking-changes.md
  packages/react/src/components/Masthead/Masthead.js
Labels: package: react, Ready to merge

#8329 feat(toc): add an event to trigger harvesting of anchor tags
  packages/web-components/src/components/table-of-contents/__stories__/README.stories.mdx
  packages/web-components/src/components/table-of-contents/table-of-contents.ts
Labels: package: web components, Ready to merge, adopter: AEM

#8323 fix(card-in-card): implement md breakpoints redesign enhancement
  packages/styles/scss/components/card-in-card/_card-in-card.scss
  packages/styles/scss/components/image/_image.scss
Labels: package: web components, Ready to merge

#8324 fix(masthead): added menusection null checks
  packages/react/src/components/Masthead/Masthead.js
  packages/react/src/components/Masthead/MastheadLeftNav.js
Labels: package: react, Ready to merge

#8333 test(storybook): exclude storybook e2e tests from browserstack
  packages/react/tests/e2e-storybook/browserstack.json
  packages/web-components/tests/e2e-storybook/browserstack.json
Labels: Ready to merge

#8325 chore(content-block): update styles import in readme
  packages/react/src/components/ContentBlock/README.stories.mdx
  packages/react/src/components/ContentGroup/README.stories.mdx
  packages/react/src/components/ContentItem/README.stories.mdx
  packages/react/src/components/ContentSection/README.stories.mdx
  packages/styles/scss/internal/content-section/README.md
Labels: Ready to merge

#8354 fix(browserstack): add axe-core npm dependencies
  packages/react/tests/e2e-storybook/browserstack.json
  packages/web-components/tests/e2e-storybook/browserstack.json
Labels: Ready to merge

#8359 fix(card-pictogram): show body copy on both pictogram positions
  packages/web-components/src/components/card/__stories__/card.stories.react.tsx
Labels: package: web components, Ready to merge, :eyes: eyes needed

#8232 fix(various modals): address focus trapping issues
  packages/web-components/src/components/expressive-modal/expressive-modal.scss
  packages/web-components/src/components/expressive-modal/expressive-modal.ts
  packages/web-components/src/components/locale-modal/locale-item.ts
  packages/web-components/src/components/locale-modal/locale-modal.scss
  packages/web-components/src/components/locale-modal/locale-modal.ts
  packages/web-components/src/components/locale-modal/locale-search.ts
  packages/web-components/src/components/locale-modal/region-item.ts
  packages/web-components/tests/snapshots/dds-expressive-modal.md
  packages/web-components/tests/snapshots/dds-locale-modal.md
  packages/web-components/tests/snapshots/dds-locale-search.md
  packages/web-components/tests/snapshots/dds-region-item.md
Labels: accessibility, package: web components, Ready to merge

#8362 fix(filter-panel): update heading when knob changes
  packages/web-components/src/components/filter-panel/__stories__/filter-panel.stories.ts
  packages/web-components/src/components/filter-panel/filter-panel-composite.ts
  packages/web-components/src/components/filter-panel/filter-panel-heading.ts
Labels: package: web components, Ready to merge

#8378 chore(gh-actions): add timeout to e2e tests
  .github/workflows/e2e-tests.yml
Labels: Ready to merge

#8367 fix(styles): add visited styles to link with icon
  packages/styles/scss/components/link-with-icon/_link-with-icon.scss
Labels: package: styles, Ready to merge

#8384 fix(rollup): fix to named exports declaration for marked dependency
  .github/workflows/e2e-tests.yml
  packages/web-components/tools/get-rollup-config.js
Labels: Ready to merge

#8369 fix(link-with-icon): fix disabled styles
  packages/styles/scss/components/link-with-icon/_link-with-icon.scss
Labels: package: styles, Ready to merge

#8358 chore(scoped-search): hide behind feature flag
  packages/web-components/src/components/masthead/__stories__/README.stories.mdx
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
  packages/web-components/src/components/masthead/__stories__/scoped-search-masthead.stories.ts
  packages/web-components/src/components/search-with-typeahead/search-with-typeahead.ts
  packages/web-components/src/globals/internal/feature-flags.ts
  packages/web-components/tests/e2e-storybook/cypress/integration/masthead/masthead-scoped-search.e2e.js
Labels: feature flag, package: web components, Ready to merge
