Repository carbon-design-system/carbon-for-ibm-dotcom, pull requests merged in 2022-05, with the labels that each got.

#8776 chore(deps): rollup upgrade part 2
  .yarn/offline-mirror/@rollup-plugin-babel-5.3.1.tgz
  .yarn/offline-mirror/@rollup-plugin-commonjs-21.1.0.tgz
  .yarn/offline-mirror/@rollup-plugin-json-4.1.0.tgz
  .yarn/offline-mirror/@rollup-plugin-replace-4.0.0.tgz
  .yarn/offline-mirror/@rollup-pluginutils-4.2.1.tgz
  .yarn/offline-mirror/block-stream-0.0.9.tgz
  .yarn/offline-mirror/cross-spawn-3.0.1.tgz
  .yarn/offline-mirror/estree-walker-2.0.2.tgz
  .yarn/offline-mirror/filesize-6.4.0.tgz
  .yarn/offline-mirror/in-publish-2.0.1.tgz
  .yarn/offline-mirror/is-reference-1.2.1.tgz
  .yarn/offline-mirror/node-gyp-3.8.0.tgz
  .yarn/offline-mirror/node-sass-4.14.1.tgz
  .yarn/offline-mirror/rollup-1.32.1.tgz
  .yarn/offline-mirror/rollup-plugin-analyzer-4.0.0.tgz
  .yarn/offline-mirror/rollup-plugin-scss-2.6.1.tgz
  .yarn/offline-mirror/rollup-plugin-scss-3.0.0.tgz
  .yarn/offline-mirror/rollup-plugin-sizes-1.0.4.tgz
  .yarn/offline-mirror/rollup-plugin-terser-4.0.4.tgz
  .yarn/offline-mirror/rollup-plugin-virtual-1.0.1.tgz
  .yarn/offline-mirror/serialize-javascript-1.9.1.tgz
  .yarn/offline-mirror/source-map-support-0.5.21.tgz
  .yarn/offline-mirror/tar-2.2.2.tgz
  .yarn/offline-mirror/terser-3.17.0.tgz
  packages/react/package.json
  packages/react/scripts/build.js
  packages/react/scripts/rollup.config.js
  packages/services-store/package.json
  packages/services/package.json
  packages/services/scripts/build.js
  packages/services/scripts/rollup.config.js
  packages/storybook-addon-theme/scripts/build.js
  packages/utilities/package.json
  packages/utilities/scripts/build.js
  packages/utilities/scripts/rollup.config.js
  packages/web-components/package.json
  packages/web-components/tools/get-rollup-config.js
  packages/web-components/tools/rollup-plugin-ibmdotcom-icon.js
  packages/web-components/tools/rollup-plugin-license.js
  packages/web-components/tools/rollup-plugin-lit-scss.js
  yarn.lock
Labels: Ready to merge

#8767 fix(tabs-extended & table-of-contents): ensure DOM updates are handled
  packages/web-components/src/components/table-of-contents/__stories__/content.ts
  packages/web-components/src/components/table-of-contents/table-of-contents.ts
  packages/web-components/src/components/tabs-extended/__stories__/tabs-extended.stories.react.tsx
  packages/web-components/src/components/tabs-extended/__stories__/tabs-extended.stories.ts
  packages/web-components/src/components/tabs-extended/tab.ts
  packages/web-components/src/components/tabs-extended/tabs-extended.ts
Labels: package: web components, Ready to merge, adopter: AEM, patch

#8781 fix(card): remove hover style for static card
  packages/styles/scss/components/card/index.scss
Labels: package: react, Ready to merge

#8753 chore(deps): upgrade `merge-deep`
  .yarn/offline-mirror/merge-deep-3.0.2.tgz
  .yarn/offline-mirror/merge-deep-3.0.3.tgz
  yarn.lock
Labels: Ready to merge, dependencies

#8788 chore(deps): clean up React package `package.json`
  packages/react/package.json
Labels: package: react, Ready to merge

#8771 feat(content-block/item): introducing react wrappers
  packages/web-components/examples/codesandbox/components-react/content-block/.gitignore
  packages/web-components/examples/codesandbox/components-react/content-block/index.html
  packages/web-components/examples/codesandbox/components-react/content-block/package.json
  packages/web-components/examples/codesandbox/components-react/content-block/sandbox.config.json
  packages/web-components/examples/codesandbox/components-react/content-block/src/index.css
  packages/web-components/examples/codesandbox/components-react/content-block/src/index.js
  packages/web-components/examples/codesandbox/components-react/content-block/webpack.config.js
  packages/web-components/examples/codesandbox/components-react/content-item/.gitignore
  packages/web-components/examples/codesandbox/components-react/content-item/index.html
  packages/web-components/examples/codesandbox/components-react/content-item/package.json
  packages/web-components/examples/codesandbox/components-react/content-item/sandbox.config.json
  packages/web-components/examples/codesandbox/components-react/content-item/src/index.css
  packages/web-components/examples/codesandbox/components-react/content-item/src/index.js
  packages/web-components/examples/codesandbox/components-react/content-item/webpack.config.js
  packages/web-components/src/components/content-block/__stories__/README.stories.react.mdx
  packages/web-components/src/components/content-block/__stories__/content-block.stories.react.tsx
  packages/web-components/src/components/content-group-cards/content-group-cards.ts
  packages/web-components/src/components/content-group-simple/content-group-simple.ts
  packages/web-components/src/components/content-group/content-group-copy.ts
  packages/web-components/src/components/content-group/content-group-paragraph.ts
  packages/web-components/src/components/content-group/content-group.ts
  packages/web-components/src/components/content-item/__stories__/README.stories.react.mdx
  packages/web-components/src/components/content-item/__stories__/content-item.stories.react.tsx
  packages/web-components/src/components/content-item/content-item-copy.ts
  packages/web-components/src/components/content-item/content-item.ts
  packages/web-components/src/components/cta/card-link-cta.ts
  packages/web-components/src/components/link-list/link-list-item-card.ts
Labels: package: web components, Ready to merge

#8792 fix(cloud-masthead): revert - replace cookie auth with window object status
  packages/services-store/src/actions/cloudAccountAuthAPI.ts
  packages/services/src/services/CloudAccountAuth/CloudAccountAuth.js
  packages/services/src/services/CloudAccountAuth/__tests__/CloudAccountAuth.test.js
  packages/web-components/src/components/masthead/__stories__/cloud-masthead.stories.ts
  packages/web-components/src/components/masthead/cloud/cloud-masthead-composite.ts
Labels: adopter: Drupal, feature flag, Ready to merge, adopter: AEM

#8804 chore(jest): update snapshot urls
  packages/web-components/src/components/masthead/__tests__/masthead.steps.js
Labels: package: web components, Ready to merge

#8803 chore(deps): add `striptags` package
  .yarn/offline-mirror/striptags-3.2.0.tgz
  packages/utilities/package.json
  packages/utilities/src/utilities/markdownToHtml/markdownToHtml.js
  packages/utilities/src/utilities/removeHtmlTagEntities/removeHtmlTagEntities.js
  yarn.lock
Labels: package: utilities, Ready to merge

#8808 chore(csb): remove `feature-card-block-large`
  packages/web-components/examples/codesandbox/components/feature-card-block-large/.babelrc
  packages/web-components/examples/codesandbox/components/feature-card-block-large/.gitignore
  packages/web-components/examples/codesandbox/components/feature-card-block-large/.sassrc
  packages/web-components/examples/codesandbox/components/feature-card-block-large/cdn.html
  packages/web-components/examples/codesandbox/components/feature-card-block-large/index.html
  packages/web-components/examples/codesandbox/components/feature-card-block-large/package.json
  packages/web-components/examples/codesandbox/components/feature-card-block-large/sandbox.config.json
  packages/web-components/examples/codesandbox/components/feature-card-block-large/src/index.js
  packages/web-components/examples/codesandbox/components/feature-card-block-large/src/index.scss
Labels: package: web components, Ready to merge

#8806 feat(expressive-modal): created react wrapper
  packages/web-components/examples/codesandbox/components-react/expressive-modal/.gitignore
  packages/web-components/examples/codesandbox/components-react/expressive-modal/index.html
  packages/web-components/examples/codesandbox/components-react/expressive-modal/package.json
  packages/web-components/examples/codesandbox/components-react/expressive-modal/sandbox.config.json
  packages/web-components/examples/codesandbox/components-react/expressive-modal/src/index.css
  packages/web-components/examples/codesandbox/components-react/expressive-modal/src/index.js
  packages/web-components/examples/codesandbox/components-react/expressive-modal/webpack.config.js
  packages/web-components/src/components/button/button.ts
  packages/web-components/src/components/expressive-modal/__stories__/README.stories.react.mdx
  packages/web-components/src/components/expressive-modal/__stories__/expressive-modal.stories.react.tsx
  packages/web-components/src/components/expressive-modal/expressive-modal-body.ts
  packages/web-components/src/components/expressive-modal/expressive-modal-close-button.ts
  packages/web-components/src/components/expressive-modal/expressive-modal-footer.ts
  packages/web-components/src/components/expressive-modal/expressive-modal-header.ts
  packages/web-components/src/components/expressive-modal/expressive-modal-heading.ts
  packages/web-components/src/components/expressive-modal/expressive-modal.ts
Labels: Ready to merge

#8810 chore(deps): upgrade yarn.lock and offline packages
  .yarn/offline-mirror/@actions-core-1.2.4.tgz
  .yarn/offline-mirror/@actions-core-1.8.0.tgz
  .yarn/offline-mirror/ansi-regex-4.1.0.tgz
  .yarn/offline-mirror/ansi-regex-4.1.1.tgz
  .yarn/offline-mirror/async-3.2.0.tgz
  .yarn/offline-mirror/async-3.2.3.tgz
  .yarn/offline-mirror/browserslist-4.14.2.tgz
  .yarn/offline-mirror/browserslist-4.20.3.tgz
  .yarn/offline-mirror/caniuse-lite-1.0.30001338.tgz
  .yarn/offline-mirror/color-string-1.5.4.tgz
  .yarn/offline-mirror/color-string-1.9.1.tgz
  .yarn/offline-mirror/copy-props-2.0.4.tgz
  .yarn/offline-mirror/copy-props-2.0.5.tgz
  .yarn/offline-mirror/dot-prop-4.2.0.tgz
  .yarn/offline-mirror/dot-prop-4.2.1.tgz
  .yarn/offline-mirror/electron-to-chromium-1.4.137.tgz
  .yarn/offline-mirror/follow-redirects-1.14.5.tgz
  .yarn/offline-mirror/follow-redirects-1.15.0.tgz
  .yarn/offline-mirror/fs-minipass-1.2.6.tgz
  .yarn/offline-mirror/fs-minipass-1.2.7.tgz
  .yarn/offline-mirror/is-plain-object-5.0.0.tgz
  .yarn/offline-mirror/minipass-2.9.0.tgz
  .yarn/offline-mirror/minizlib-1.2.1.tgz
  .yarn/offline-mirror/minizlib-1.3.3.tgz
  .yarn/offline-mirror/node-releases-2.0.4.tgz
  .yarn/offline-mirror/normalize-url-4.5.0.tgz
  .yarn/offline-mirror/normalize-url-4.5.1.tgz
  .yarn/offline-mirror/picocolors-0.2.1.tgz
  .yarn/offline-mirror/postcss-7.0.32.tgz
  .yarn/offline-mirror/postcss-7.0.39.tgz
  .yarn/offline-mirror/prismjs-1.28.0.tgz
  .yarn/offline-mirror/tar-4.4.10.tgz
  .yarn/offline-mirror/tar-4.4.19.tgz
  .yarn/offline-mirror/trim-newlines-3.0.0.tgz
  .yarn/offline-mirror/trim-newlines-3.0.1.tgz
  .yarn/offline-mirror/trim-off-newlines-1.0.1.tgz
  .yarn/offline-mirror/trim-off-newlines-1.0.3.tgz
  .yarn/offline-mirror/ws-7.4.4.tgz
  .yarn/offline-mirror/ws-7.5.7.tgz
  .yarn/offline-mirror/y18n-4.0.0.tgz
  .yarn/offline-mirror/y18n-4.0.3.tgz
  .yarn/offline-mirror/yallist-3.1.1.tgz
  .yarn/offline-mirror/yargs-parser-5.0.0.tgz
  .yarn/offline-mirror/yargs-parser-5.0.1.tgz
  yarn.lock
Labels: Ready to merge, dependencies

#8812 docs(plex): add missing documentation for serif fonts
  packages/web-components/docs/carbon-cdn-style-helpers.md
Labels: Ready to merge

#8816 chore(deps): upgrade `axios`
  .yarn/offline-mirror/@carbon-ibmdotcom-utilities-1.31.0.tgz
  .yarn/offline-mirror/@sideway-address-4.1.2.tgz
  .yarn/offline-mirror/@sideway-address-4.1.4.tgz
  .yarn/offline-mirror/ansi-regex-3.0.0.tgz
  .yarn/offline-mirror/ansi-regex-3.0.1.tgz
  .yarn/offline-mirror/ansi-regex-5.0.0.tgz
  .yarn/offline-mirror/axios-0.21.4.tgz
  .yarn/offline-mirror/axios-0.27.2.tgz
  .yarn/offline-mirror/debug-4.3.1.tgz
  .yarn/offline-mirror/form-data-4.0.0.tgz
  .yarn/offline-mirror/joi-17.4.0.tgz
  .yarn/offline-mirror/joi-17.6.0.tgz
  .yarn/offline-mirror/start-server-and-test-1.12.5.tgz
  .yarn/offline-mirror/start-server-and-test-1.14.0.tgz
  .yarn/offline-mirror/tar-6.1.0.tgz
  .yarn/offline-mirror/wait-on-5.3.0.tgz
  .yarn/offline-mirror/wait-on-6.0.0.tgz
  packages/react/package.json
  packages/services-store/package.json
  packages/services/package.json
  packages/utilities/package.json
  packages/web-components/package.json
  yarn.lock
Labels: Ready to merge, dependencies

#8813 chore(react): upgrade react support to include v17
  packages/react/examples/codesandbox/components/ButtonGroup/package.json
  packages/react/examples/codesandbox/components/CTA/package.json
  packages/react/examples/codesandbox/components/CTASection/package.json
  packages/react/examples/codesandbox/components/CalloutQuote/package.json
  packages/react/examples/codesandbox/components/CalloutWithMedia/package.json
  packages/react/examples/codesandbox/components/Card/package.json
  packages/react/examples/codesandbox/components/CardGroup/package.json
  packages/react/examples/codesandbox/components/CardLink/package.json
  packages/react/examples/codesandbox/components/CardSectionImages/package.json
  packages/react/examples/codesandbox/components/CardSectionSimple/package.json
  packages/react/examples/codesandbox/components/ContentBlock/package.json
  packages/react/examples/codesandbox/components/ContentBlockCards/package.json
  packages/react/examples/codesandbox/components/ContentBlockHorizontal/package.json
  packages/react/examples/codesandbox/components/ContentBlockMedia/package.json
  packages/react/examples/codesandbox/components/ContentBlockMixed/package.json
  packages/react/examples/codesandbox/components/ContentBlockSegmented/package.json
  packages/react/examples/codesandbox/components/ContentBlockSimple/package.json
  packages/react/examples/codesandbox/components/ContentGroup/package.json
  packages/react/examples/codesandbox/components/ContentGroupCards/package.json
  packages/react/examples/codesandbox/components/ContentGroupHorizontal/package.json
  packages/react/examples/codesandbox/components/ContentGroupPictograms/package.json
  packages/react/examples/codesandbox/components/ContentGroupSimple/package.json
  packages/react/examples/codesandbox/components/ContentItem/package.json
  packages/react/examples/codesandbox/components/ContentItemHorizontal/package.json
  packages/react/examples/codesandbox/components/ContentSection/package.json
  packages/react/examples/codesandbox/components/DotcomShell/package.json
  packages/react/examples/codesandbox/components/ExpressiveModal/package.json
  packages/react/examples/codesandbox/components/FeatureCard/package.json
  packages/react/examples/codesandbox/components/Footer/package.json
  packages/react/examples/codesandbox/components/HorizontalRule/package.json
  packages/react/examples/codesandbox/components/Image/package.json
  packages/react/examples/codesandbox/components/ImageWithCaption/package.json
  packages/react/examples/codesandbox/components/Layout/package.json
  packages/react/examples/codesandbox/components/LeadSpaceBlock/package.json
  packages/react/examples/codesandbox/components/Leadspace/package.json
  packages/react/examples/codesandbox/components/LightboxMediaViewer/package.json
  packages/react/examples/codesandbox/components/LinkList/package.json
  packages/react/examples/codesandbox/components/LinkWithIcon/package.json
  packages/react/examples/codesandbox/components/LocaleModal/package.json
  packages/react/examples/codesandbox/components/LogoGrid/package.json
  packages/react/examples/codesandbox/components/Masthead/package.json
  packages/react/examples/codesandbox/components/MastheadL1/package.json
  packages/react/examples/codesandbox/components/PictogramItem/package.json
  packages/react/examples/codesandbox/components/Quote/package.json
  packages/react/examples/codesandbox/components/ScrollAnimations/package.json
  packages/react/examples/codesandbox/components/TableOfContents/package.json
  packages/react/examples/codesandbox/components/VideoPlayer/package.json
  packages/react/package.json
  packages/web-components/tests/e2e/cypress/integration/feature-card-block-large/feature-card-block-large.cdn.e2e.js
  packages/web-components/tests/e2e/cypress/integration/feature-card-block-large/feature-card-block-large.e2e.js
Labels: Ready to merge, test: e2e

#8867 fix: update thumbnails dot com
  thumbnails/button-group.svg
  thumbnails/call-to-action.svg
Labels: Ready to merge

#8874 chore(masthead): fix web components storybook story - with platform
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
Labels: package: web components, Ready to merge, storybook

#8817 feat(react-wrappers): content-block-media/mixed
  packages/web-components/examples/codesandbox/components-react/content-block-media/.gitignore
  packages/web-components/examples/codesandbox/components-react/content-block-media/index.html
  packages/web-components/examples/codesandbox/components-react/content-block-media/package.json
  packages/web-components/examples/codesandbox/components-react/content-block-media/sandbox.config.json
  packages/web-components/examples/codesandbox/components-react/content-block-media/src/index.css
  packages/web-components/examples/codesandbox/components-react/content-block-media/src/index.js
  packages/web-components/examples/codesandbox/components-react/content-block-media/webpack.config.js
  packages/web-components/examples/codesandbox/components-react/content-block-mixed/.gitignore
  packages/web-components/examples/codesandbox/components-react/content-block-mixed/index.html
  packages/web-components/examples/codesandbox/components-react/content-block-mixed/package.json
  packages/web-components/examples/codesandbox/components-react/content-block-mixed/sandbox.config.json
  packages/web-components/examples/codesandbox/components-react/content-block-mixed/src/index.css
  packages/web-components/examples/codesandbox/components-react/content-block-mixed/src/index.js
  packages/web-components/examples/codesandbox/components-react/content-block-mixed/webpack.config.js
  packages/web-components/examples/codesandbox/components/content-block-media/cdn.html
  packages/web-components/examples/codesandbox/components/content-block-media/index.html
  packages/web-components/examples/codesandbox/components/content-block-mixed/cdn.html
  packages/web-components/examples/codesandbox/components/content-block-mixed/index.html
  packages/web-components/examples/codesandbox/components/cta-feature/cdn.html
  packages/web-components/examples/codesandbox/usage/markdown-handlebars/index.hbs
  packages/web-components/src/components/content-block-media/__stories__/README.stories.mdx
  packages/web-components/src/components/content-block-media/__stories__/README.stories.react.mdx
  packages/web-components/src/components/content-block-media/__stories__/content-block-media.stories.react.tsx
  packages/web-components/src/components/content-block-media/__stories__/content-block-media.stories.ts
  packages/web-components/src/components/content-block-media/content-block-media-content.ts
  packages/web-components/src/components/content-block-media/content-block-media.ts
  packages/web-components/src/components/content-block-media/index.ts
  packages/web-components/src/components/content-block-mixed/__stories__/README.stories.mdx
  packages/web-components/src/components/content-block-mixed/__stories__/README.stories.react.mdx
  packages/web-components/src/components/content-block-mixed/__stories__/content-block-mixed.stories.react.tsx
  packages/web-components/src/components/content-block-mixed/content-block-mixed.ts
  packages/web-components/src/components/content-block-mixed/index.ts
  packages/web-components/src/components/content-block-simple/__stories__/README.stories.mdx
  packages/web-components/src/components/content-group-pictograms/content-group-pictograms.ts
  packages/web-components/src/components/content-group-simple/__stories__/README.stories.mdx
  packages/web-components/src/components/content-item/__tests__/content-item.test.ts
  packages/web-components/src/components/cta/__stories__/README.stories.mdx
  packages/web-components/src/components/feature-section/__stories__/README.stories.mdx
  packages/web-components/src/components/pictogram-item/pictogram-item.ts
Labels: Ready to merge

#8823 feat(callout-with-media): introducing react wrapper
  packages/web-components/examples/codesandbox/components-react/callout-with-media/.gitignore
  packages/web-components/examples/codesandbox/components-react/callout-with-media/index.html
  packages/web-components/examples/codesandbox/components-react/callout-with-media/package.json
  packages/web-components/examples/codesandbox/components-react/callout-with-media/sandbox.config.json
  packages/web-components/examples/codesandbox/components-react/callout-with-media/src/index.css
  packages/web-components/examples/codesandbox/components-react/callout-with-media/src/index.js
  packages/web-components/examples/codesandbox/components-react/callout-with-media/webpack.config.js
  packages/web-components/src/components/callout-with-media/__stories__/README.stories.react.mdx
  packages/web-components/src/components/callout-with-media/__stories__/callout-with-media.stories.react.tsx
  packages/web-components/src/components/callout-with-media/callout-with-media-copy.ts
  packages/web-components/src/components/callout-with-media/callout-with-media-image.ts
  packages/web-components/src/components/callout-with-media/callout-with-media-video.ts
  packages/web-components/src/components/callout-with-media/callout-with-media.ts
Labels: Ready to merge

#8822 test(structured-list): add e2e storybook testing
  packages/web-components/tests/e2e-storybook/cypress/integration/structured-list/structured-list.e2e.js
Labels: package: web components, Ready to merge, test: e2e, :eyes: eyes needed

#8862 fix(quote): link styles in dark themes
  packages/styles/scss/components/quote/_quote.scss
Labels: package: styles, Ready to merge

#8906 fix(back-to-top): reset tab order on click
  packages/web-components/src/components/back-to-top/back-to-top.ts
Labels: package: web components, Ready to merge, :eyes: eyes needed

#8828 feat(content-block-horizontal): introducing react wrapper
  packages/web-components/examples/codesandbox/components-react/content-block-horizontal/.gitignore
  packages/web-components/examples/codesandbox/components-react/content-block-horizontal/index.html
  packages/web-components/examples/codesandbox/components-react/content-block-horizontal/package.json
  packages/web-components/examples/codesandbox/components-react/content-block-horizontal/sandbox.config.json
  packages/web-components/examples/codesandbox/components-react/content-block-horizontal/src/index.css
  packages/web-components/examples/codesandbox/components-react/content-block-horizontal/src/index.js
  packages/web-components/examples/codesandbox/components-react/content-block-horizontal/webpack.config.js
  packages/web-components/src/components/content-block-horizontal/__stories__/README.stories.react.mdx
  packages/web-components/src/components/content-block-horizontal/__stories__/content-block-horizontal.stories.react.tsx
  packages/web-components/src/components/content-block-horizontal/content-block-horizontal.ts
Labels: package: web components, Ready to merge

#8900 fix(cta-block): use correct spacing
  packages/web-components/src/components/content-block/content-block.scss
  packages/web-components/src/components/content-block/content-block.ts
  packages/web-components/src/components/cta-block/cta-block-item-row.ts
  packages/web-components/src/components/cta-block/cta-block.scss
  packages/web-components/src/components/cta-block/cta-block.ts
  packages/web-components/src/components/cta-section/__stories__/cta-section.stories.ts
  packages/web-components/tests/snapshots/dds-cta-block.md
Labels: package: web components, Ready to merge

#8899 feat(Quote): quote react wrapper
  packages/web-components/examples/codesandbox/components-react/quote/.gitignore
  packages/web-components/examples/codesandbox/components-react/quote/index.html
  packages/web-components/examples/codesandbox/components-react/quote/package.json
  packages/web-components/examples/codesandbox/components-react/quote/sandbox.config.json
  packages/web-components/examples/codesandbox/components-react/quote/src/index.css
  packages/web-components/examples/codesandbox/components-react/quote/src/index.js
  packages/web-components/examples/codesandbox/components-react/quote/webpack.config.js
  packages/web-components/src/components/quote/__stories__/README.stories.react.mdx
  packages/web-components/src/components/quote/__stories__/quote.stories.react.tsx
Labels: package: web components, Ready to merge

#8907 fix(quote): update max breakpoint corner bracket position
  packages/react/src/components/CalloutQuote/__stories__/CalloutQuote.stories.js
  packages/styles/scss/components/quote/_quote.scss
Labels: package: react, package: styles, package: web components, Ready to merge, :eyes: eyes needed

#8903 feat(pictogram-item): react wrapper
  packages/web-components/examples/codesandbox/components-react/pictogram-item/.gitignore
  packages/web-components/examples/codesandbox/components-react/pictogram-item/index.html
  packages/web-components/examples/codesandbox/components-react/pictogram-item/package.json
  packages/web-components/examples/codesandbox/components-react/pictogram-item/sandbox.config.json
  packages/web-components/examples/codesandbox/components-react/pictogram-item/src/index.js
  packages/web-components/examples/codesandbox/components-react/pictogram-item/webpack.config.js
  packages/web-components/src/components/pictogram-item/__stories__/README.stories.react.mdx
  packages/web-components/src/components/pictogram-item/__stories__/pictogram-item.stories.react.tsx
Labels: package: web components, Ready to merge

#8921 chore(browserstack): remove ff
  packages/web-components/tests/e2e-storybook/browserstack.json
Labels: Ready to merge
