Repository carbon-design-system/carbon-for-ibm-dotcom, pull requests merged in 2022-10, with the labels that each got.

#9421 fix(notice-choice): update callback functions
  packages/react/src/components/NoticeChoice/NoticeChoice.js
Labels: Ready to merge, hacktoberfest

#9419 fix(masthead-logo): accessibility issues with tabindex
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/masthead-logo.ts
Labels: accessibility, package: web components, Ready to merge, hacktoberfest

#9447 fix: outline link with icon thumbnail svg
  thumbnails/link-with-icon.svg
Labels: Ready to merge, hacktoberfest

#9451 fix(expressive-modal): add role and aria-level to expressive-modal-heading for screenreader
  packages/web-components/src/components/expressive-modal/expressive-modal-heading.ts
  packages/web-components/tests/snapshots/dds-locale-modal.md
Labels: package: web components, Ready to merge, hacktoberfest-accepted

#9453 fix(content-block): fix cta alignment for mobile viewport
  packages/styles/scss/internal/content-block/_content-block.scss
Labels: package: react, package: styles, Ready to merge, hacktoberfest-accepted

#9455 fix(react): storybook experimental/rtl gh-pages
  packages/react/package.json
Labels: Ready to merge, hacktoberfest-accepted

#9448 fix: indexed external docs paths
  packages/react/carbon.yml
  packages/styles/carbon.yml
  packages/web-components/carbon.yml
Labels: Ready to merge, hacktoberfest-accepted

#9460 chore(masthead-v2): update automerge target
  .github/workflows/automerge-mastheadv2.yml
Labels: Ready to merge

#9467 chore(masthead): update e2e storybook tests
  packages/web-components/tests/e2e-storybook/cypress/integration/masthead/masthead.e2e.js
Labels: package: web components, Ready to merge, hacktoberfest-accepted

#9480 fix(masthead): remove unnecessary aria-label
  packages/web-components/src/components/masthead/top-nav.ts
Labels: package: web components, Ready to merge, hacktoberfest-accepted

#9476 fix(feature-section): react wrapper img alt not being used in story
  packages/web-components/src/components/feature-section/__stories__/feature-section.stories.react.tsx
Labels: package: web components, Ready to merge, storybook, hacktoberfest-accepted

#9560 chore(automerge): storybook controls
  .github/workflows/automerge-storybook-controls.yml
Labels: Ready to merge, hacktoberfest-accepted

#9452 fix(audio-player): allow localized labels for rewind/forward/caption buttons
  packages/react/src/components/AudioPlayer/AudioPlayer.js
  packages/react/src/components/AudioPlayer/AudioPlayerCaptionsMenu.js
  packages/react/src/components/AudioPlayer/AudioPlayerScrubber.js
Labels: package: react, feature flag, Ready to merge, hacktoberfest-accepted

#9446 fix(image): add image caption to aria-describedby attribute
  packages/web-components/src/components/image/__stories__/image.stories.ts
  packages/web-components/src/components/image/image.ts
  packages/web-components/tests/snapshots/dds-image.md
Labels: accessibility, package: web components, Ready to merge, hacktoberfest-accepted

#9564 fix(tabs-extended-media): fix improper logic in story
  packages/web-components/src/components/tabs-extended-media/__stories__/tabs-extended-media.stories.ts
Labels: bug, package: web components, Ready to merge, :eyes: eyes needed, hacktoberfest

#9554 fix(styles): tabs-extended-media responsive styles
  packages/styles/scss/components/tabs-extended-media/_tabs-extended-media.scss
Labels: package: web components, Ready to merge, hacktoberfest-accepted

#9570 feat(masthead-v2): add GA tracking attributes
  packages/web-components/src/components/masthead/left-nav-menu-item.ts
  packages/web-components/src/components/masthead/left-nav-menu-section.ts
  packages/web-components/src/components/masthead/left-nav-menu.ts
  packages/web-components/src/components/masthead/megamenu-category-heading.ts
  packages/web-components/src/components/masthead/megamenu-category-link.ts
  packages/web-components/src/components/masthead/megamenu-tab.ts
  packages/web-components/src/components/masthead/megamenu-top-nav-menu.ts
  packages/web-components/src/components/masthead/top-nav-menu.ts
  packages/web-components/tests/snapshots/dds-left-nav-menu.md
Labels: feature flag, package: web components, adopter: AEM, owner: AEM, hacktoberfest

#9571 fix(storybook-react-wrapper): props not appearing
  packages/web-components/.storybook/react/main.js
  packages/web-components/src/components/button-group/__stories__/README.stories.react.mdx
  packages/web-components/src/components/dotcom-shell/__stories__/README.stories.react.mdx
  packages/web-components/tools/babel-plugin-create-react-custom-element-type.js
Labels: Ready to merge, storybook

#9596 Revert "fix(storybook-react-wrapper): props not appearing"
  packages/web-components/.storybook/react/main.js
  packages/web-components/src/components/button-group/__stories__/README.stories.react.mdx
  packages/web-components/src/components/dotcom-shell/__stories__/README.stories.react.mdx
  packages/web-components/tools/babel-plugin-create-react-custom-element-type.js
Labels: Ready to merge

#9465 fix(masthead): pass logo data from endpoint json to composite (#9462)
  packages/services-store/src/types/translateAPI.ts
  packages/web-components/src/components/masthead/__stories__/links.ts
  packages/web-components/src/components/masthead/cloud/cloud-masthead-container.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/masthead-container.ts
  packages/web-components/src/components/masthead/masthead-logo.ts
  packages/web-components/tests/e2e-storybook/cypress/fixtures/translation-custom-logo.json
  packages/web-components/tests/e2e-storybook/cypress/integration/masthead/cloud/cloud-masthead.e2e.js
Labels: package: services, adopter: Drupal, feature flag, package: web components, Ready to merge, adopter: AEM

#9568 fix(storybook): improve feature flags granularity
  packages/react/.storybook/manager.js
  packages/web-components/.storybook/manager.js
Labels: feature flag, package: web components, Ready to merge, storybook, :eyes: eyes needed

#9595 chore(masthead): avoid menu duplication
  packages/web-components/src/components/masthead/__tests__/masthead-composite.test.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/masthead.scss
  packages/web-components/tests/snapshots/dds-masthead-composite.md
Labels: package: web components

#9602 V2 megamenu lazy load
  packages/web-components/.babelrc
  packages/web-components/gulp-tasks/build/modules/scripts.js
  packages/web-components/src/components/masthead/__tests__/megamenu-top-nav-menu.test.ts
  packages/web-components/src/components/masthead/left-nav.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/megamenu-top-nav-menu.ts
  packages/web-components/src/components/masthead/top-nav.ts
  packages/web-components/tests/e2e-storybook/cypress/integration/masthead/masthead-v2.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/masthead/masthead.e2e.js
  packages/web-components/tsconfig.json
Labels: package: web components

#9583 fix(video-player): prevent minuscule thumbnails
  packages/web-components/src/component-mixins/parent-visibility/parent-visibility.ts
  packages/web-components/src/components/content-item-horizontal/index.ts
  packages/web-components/src/components/cta-block/cta-block-item-row.ts
  packages/web-components/src/components/video-player/video-player.ts
Labels: package: web components, Ready to merge, adopter: AEM, owner: Innovation Team
