Repository carbon-design-system/carbon-for-ibm-dotcom, pull requests merged in 2022-08, with the labels that each got.

#9204 chore(react): use echo in preinstall script for deprecation notice
  packages/react/package.json
  packages/react/scripts/deprecation-notice.js
Labels: Ready to merge

#9203 patch(table-of-contents): update internal _setTarget logic
  packages/web-components/examples/codesandbox/components/table-of-contents/index.html
  packages/web-components/examples/codesandbox/components/table-of-contents/src/index.js
  packages/web-components/src/components/table-of-contents/table-of-contents.ts
Labels: Ready to merge, adopter: AEM, owner: Innovation Team, test: e2e, :eyes: eyes needed, test: CDN preview

#9200 feat(structured-list): introduce react wrapper
  packages/web-components/examples/codesandbox/components-react/structured-list/.gitignore
  packages/web-components/examples/codesandbox/components-react/structured-list/index.html
  packages/web-components/examples/codesandbox/components-react/structured-list/package.json
  packages/web-components/examples/codesandbox/components-react/structured-list/sandbox.config.json
  packages/web-components/examples/codesandbox/components-react/structured-list/src/index.css
  packages/web-components/examples/codesandbox/components-react/structured-list/src/index.js
  packages/web-components/examples/codesandbox/components-react/structured-list/webpack.config.js
  packages/web-components/src/components/structured-list/__stories__/README.stories.react.mdx
  packages/web-components/src/components/structured-list/__stories__/structured-list.stories.react.tsx
  packages/web-components/src/components/structured-list/structured-list-body.ts
  packages/web-components/src/components/structured-list/structured-list-cell.ts
  packages/web-components/src/components/structured-list/structured-list-head.ts
  packages/web-components/src/components/structured-list/structured-list-header-cell.ts
  packages/web-components/src/components/structured-list/structured-list-header-row.ts
  packages/web-components/src/components/structured-list/structured-list-row.ts
  packages/web-components/src/components/structured-list/structured-list.ts
Labels: package: web components, Ready to merge, :eyes: eyes needed

#9207 chore(actions): add automerge action for feat/masthead-v2
  .github/workflows/automerge-mastheadv2.yml
Labels: Ready to merge

#9217 fix(notice-choice): codesandbox example
  packages/react/examples/codesandbox/components/NoticeChoice/.env.example
  packages/react/examples/codesandbox/components/NoticeChoice/.gitignore
  packages/react/examples/codesandbox/components/NoticeChoice/.sassrc
  packages/react/examples/codesandbox/components/NoticeChoice/index.html
  packages/react/examples/codesandbox/components/NoticeChoice/package.json
  packages/react/examples/codesandbox/components/NoticeChoice/src/index.js
  packages/react/examples/codesandbox/components/NoticeChoice/src/styles.scss
  packages/react/examples/codesandbox/components/NoticeChoice/webpack.config.js
Labels: package: react, Ready to merge

#9220 feat(dotcom-shell): generate react wrapper
  packages/web-components/src/components/dotcom-shell/dotcom-shell-composite.ts
  packages/web-components/src/components/dotcom-shell/dotcom-shell-container.ts
  packages/web-components/src/components/dotcom-shell/dotcom-shell.ts
Labels: Ready to merge

#9206 fix(cta-section): add alt text to story
  packages/web-components/src/components/cta-section/__stories__/cta-section.stories.ts
Labels: accessibility, Ready to merge, owner: Innovation Team

#9216 fix(callout-with-media-image): constrain image width
  packages/styles/scss/components/callout-with-media/_callout-with-media.scss
Labels: package: web components, Ready to merge, adopter: AEM, owner: Innovation Team

#9227 fix(notice-choice): missing build cmd
  packages/react/examples/codesandbox/components/NoticeChoice/package.json
Labels: Ready to merge

#9205 fix(pricing-table): accessibility QA updates
  packages/web-components/src/components/pricing-table/__stories__/pricing-table.stories.scss
  packages/web-components/src/components/pricing-table/__stories__/pricing-table.stories.ts
  packages/web-components/src/components/pricing-table/pricing-table-header-row.ts
  packages/web-components/src/components/pricing-table/pricing-table.ts
Labels: feature flag, package: web components, Ready to merge

#9253 feat(content-block): added complementary wrapper
  packages/web-components/src/components/content-block-cards/content-block-cards.ts
  packages/web-components/src/components/content-block-segmented/content-block-segmented-item.ts
  packages/web-components/src/components/content-block-segmented/content-block-segmented.ts
  packages/web-components/src/components/content-block/content-block-complementary.ts
Labels: Ready to merge

#9250 chore(automerge): add automerge to feat/storybook-6 branch
  .github/workflows/automerge-storybook6.yml
Labels: Ready to merge

#9269 chore(github): add `publish-alpha` workflow
  .github/workflows/publish-alpha.yml
Labels: Ready to merge

#9272 chore(lerna): fix publish argument
  .github/workflows/automerge-storybook6.yml
  .github/workflows/publish-alpha.yml
Labels: Ready to merge

#9100 fix(logo-grid): adding bottom margin to logo-grid-item, resolves #9005
  packages/styles/scss/components/logo-grid/_logo-grid.scss
Labels: package: web components, Ready to merge

#9265 feat(tabs-extended-with-media): make section heading optional
  packages/web-components/src/components/tabs-extended-media/__stories__/tabs-extended-media.stories.react.tsx
  packages/web-components/src/components/tabs-extended-media/__stories__/tabs-extended-media.stories.ts
  packages/web-components/src/components/tabs-extended-media/tabs-extended-media.ts
Labels: package: web components, Ready to merge, :eyes: eyes needed

#9274 feat(masthead-v2): remove the suppression of L0 menu when L1 is enabled
  packages/web-components/src/components/masthead/masthead-composite.ts
Labels: package: web components, Ready to merge, owner: Innovation Team

#9277 fix(tabs-extended): move aria-selected to li elem with tab role
  packages/web-components/src/components/tabs-extended/tabs-extended.ts
Labels: package: web components, Ready to merge

#9297 chore(gh-pages): add masthead-v2 `gh-pages`
  .github/workflows/deploy-masthead-v2.yml
Labels: Ready to merge

#9299 fix(tabs-extended): adjust story to use card-cta-footer
  packages/web-components/src/components/tabs-extended/__stories__/tabs-extended.stories.ts
Labels: package: web components, Ready to merge

#9301 feat(footer): create footer react wrapper
  packages/web-components/examples/codesandbox/components-react/footer/.gitignore
  packages/web-components/examples/codesandbox/components-react/footer/index.html
  packages/web-components/examples/codesandbox/components-react/footer/package.json
  packages/web-components/examples/codesandbox/components-react/footer/sandbox.config.json
  packages/web-components/examples/codesandbox/components-react/footer/src/index.css
  packages/web-components/examples/codesandbox/components-react/footer/src/index.js
  packages/web-components/examples/codesandbox/components-react/footer/webpack.config.js
  packages/web-components/src/components/footer/__stories__/README.stories.react.mdx
  packages/web-components/src/components/footer/__stories__/footer.stories.react.tsx
  packages/web-components/src/components/footer/footer-composite.ts
  packages/web-components/src/components/footer/footer-container.ts
Labels: package: web components, Ready to merge

#9309 fix(locale-modal): add title to regions list
  packages/web-components/src/components/locale-modal/locale-modal-composite.ts
  packages/web-components/tests/snapshots/dds-locale-modal-composite.md
Labels: accessibility, package: web components, Ready to merge

#9308 feat(card-section-simple): create react wrapper
  packages/web-components/examples/codesandbox/components-react/card-section-simple/.gitignore
  packages/web-components/examples/codesandbox/components-react/card-section-simple/index.html
  packages/web-components/examples/codesandbox/components-react/card-section-simple/package.json
  packages/web-components/examples/codesandbox/components-react/card-section-simple/sandbox.config.json
  packages/web-components/examples/codesandbox/components-react/card-section-simple/src/index.css
  packages/web-components/examples/codesandbox/components-react/card-section-simple/src/index.js
  packages/web-components/examples/codesandbox/components-react/card-section-simple/webpack.config.js
  packages/web-components/examples/codesandbox/components/card-section-simple/index.html
  packages/web-components/src/components/card-section-simple/__stories__/README.stories.mdx
  packages/web-components/src/components/card-section-simple/__stories__/README.stories.react.mdx
  packages/web-components/src/components/card-section-simple/__stories__/card-section-simple.stories.react.tsx
  packages/web-components/src/components/card-section-simple/card-section-simple.ts
Labels: Ready to merge

#9300 docs: update library descriptions
  packages/react/carbon.yml
  packages/services/carbon.yml
  packages/styles/carbon.yml
  packages/utilities/carbon.yml
  packages/web-components/carbon.yml
Labels: Ready to merge

#9306 fix(toc): update sm spacing
  packages/styles/scss/components/tableofcontents/_tableofcontents.scss
Labels: package: styles, Ready to merge

#9315 fix(gh-actions): update workflows to include `feat/masthead-v2`
  .github/workflows/ci-check.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/e2e-integration.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/percy-update-base.yml
  packages/services-store/src/actions/__tests__/translateAPI.test.ts
  packages/services-store/src/reducers/__tests__/translateAPI.test.ts
  packages/web-components/src/components/masthead/__stories__/links.ts
  packages/web-components/tests/snapshots/dds-masthead-composite.md
Labels: Ready to merge

#9317 docs: index compatible design kits
  packages/styles/carbon.yml
Labels: Ready to merge
