Repository carbon-design-system/carbon-for-ibm-dotcom, pull requests merged in 2022-06, with the labels that each got.

#8935 fix(toc): update styles
  packages/styles/scss/components/tableofcontents/_tableofcontents.scss
  packages/web-components/src/components/card-section-simple/__stories__/card-section-simple.stories.ts
Labels: Ready to merge

#8945 fix(footer): update docs and add language selector csb
  packages/web-components/examples/codesandbox/components/footer-language-only/.babelrc
  packages/web-components/examples/codesandbox/components/footer-language-only/.gitignore
  packages/web-components/examples/codesandbox/components/footer-language-only/cdn.html
  packages/web-components/examples/codesandbox/components/footer-language-only/index.html
  packages/web-components/examples/codesandbox/components/footer-language-only/package.json
  packages/web-components/examples/codesandbox/components/footer-language-only/sandbox.config.json
  packages/web-components/examples/codesandbox/components/footer-language-only/src/index.js
  packages/web-components/src/components/footer/__stories__/README.stories.mdx
Labels: Ready to merge

#8946 chore(deps): upgrade isomorphic-dompurify to 0.19.0
  .stylelintignore
  .yarn/offline-mirror/@tootallnate-once-2.0.0.tgz
  .yarn/offline-mirror/@types-dompurify-2.0.2.tgz
  .yarn/offline-mirror/@types-dompurify-2.3.3.tgz
  .yarn/offline-mirror/abab-2.0.6.tgz
  .yarn/offline-mirror/cssom-0.5.0.tgz
  .yarn/offline-mirror/data-urls-2.0.0.tgz
  .yarn/offline-mirror/data-urls-3.0.2.tgz
  .yarn/offline-mirror/decimal.js-10.2.0.tgz
  .yarn/offline-mirror/decimal.js-10.3.1.tgz
  .yarn/offline-mirror/domexception-2.0.1.tgz
  .yarn/offline-mirror/domexception-4.0.0.tgz
  .yarn/offline-mirror/dompurify-2.3.8.tgz
  .yarn/offline-mirror/escodegen-2.0.0.tgz
  .yarn/offline-mirror/estraverse-5.3.0.tgz
  .yarn/offline-mirror/html-encoding-sniffer-2.0.1.tgz
  .yarn/offline-mirror/html-encoding-sniffer-3.0.0.tgz
  .yarn/offline-mirror/http-proxy-agent-5.0.0.tgz
  .yarn/offline-mirror/is-potential-custom-element-name-1.0.0.tgz
  .yarn/offline-mirror/is-potential-custom-element-name-1.0.1.tgz
  .yarn/offline-mirror/isomorphic-dompurify-0.19.0.tgz
  .yarn/offline-mirror/isomorphic-dompurify-0.4.0.tgz
  .yarn/offline-mirror/jsdom-16.2.2.tgz
  .yarn/offline-mirror/jsdom-19.0.0.tgz
  .yarn/offline-mirror/tough-cookie-4.0.0.tgz
  .yarn/offline-mirror/tr46-2.0.2.tgz
  .yarn/offline-mirror/tr46-3.0.0.tgz
  .yarn/offline-mirror/w3c-xmlserializer-2.0.0.tgz
  .yarn/offline-mirror/w3c-xmlserializer-3.0.0.tgz
  .yarn/offline-mirror/webidl-conversions-5.0.0.tgz
  .yarn/offline-mirror/webidl-conversions-7.0.0.tgz
  .yarn/offline-mirror/whatwg-encoding-2.0.0.tgz
  .yarn/offline-mirror/whatwg-mimetype-3.0.0.tgz
  .yarn/offline-mirror/whatwg-url-10.0.0.tgz
  .yarn/offline-mirror/whatwg-url-11.0.0.tgz
  .yarn/offline-mirror/whatwg-url-8.1.0.tgz
  .yarn/offline-mirror/ws-8.7.0.tgz
  .yarn/offline-mirror/xml-name-validator-4.0.0.tgz
  packages/react/config/jest/setup.js
  packages/services/config/jest/setup.js
  packages/utilities/config/jest/setup.js
  packages/utilities/package.json
  yarn.lock
Labels: package: utilities, Ready to merge

#8948 fix(cta): reorder csb styles
  packages/react/examples/codesandbox/components/CTA/src/styles.scss
Labels: Ready to merge

#8905 feat(logo-grid): add logoCount and logoRatio props
  packages/styles/scss/components/logo-grid/_logo-grid.scss
  packages/utilities/src/utilities/parseAspectRatio/index.js
  packages/utilities/src/utilities/parseAspectRatio/parseAspectRatio.js
  packages/web-components/examples/codesandbox/components/logo-grid/cdn.html
  packages/web-components/examples/codesandbox/components/logo-grid/index.html
  packages/web-components/src/components/logo-grid/__stories__/logo-grid.stories.ts
  packages/web-components/src/components/logo-grid/logo-grid.ts
  packages/web-components/tests/snapshots/dds-logo-grid.md
Labels: package: web components, Ready to merge, adopter: AEM

#8757 feat(lightbox-media-viewer): add carousel functionality
  packages/styles/scss/components/carousel/_carousel.scss
  packages/styles/scss/components/lightbox-media-viewer/_lightbox-media-viewer.scss
  packages/web-components/src/components/carousel/carousel.ts
  packages/web-components/src/components/expressive-modal/expressive-modal.scss
  packages/web-components/src/components/expressive-modal/expressive-modal.ts
  packages/web-components/src/components/lightbox-media-viewer/__stories__/README.stories.mdx
  packages/web-components/src/components/lightbox-media-viewer/__stories__/lightbox-media-viewer.stories.ts
  packages/web-components/src/components/lightbox-media-viewer/__tests__/lightbox-media-viewer-container.test.ts
  packages/web-components/src/components/lightbox-media-viewer/index.ts
  packages/web-components/src/components/lightbox-media-viewer/lightbox-media-viewer.ts
  packages/web-components/src/components/video-player/video-player-composite.ts
  packages/web-components/tests/e2e-storybook/cypress/integration/lightbox-media-viewer/lightbox-media-viewer.e2e.js
  packages/web-components/tests/snapshots/dds-expressive-modal.md
  packages/web-components/tests/snapshots/dds-lightbox-video-player-container.md
Labels: package: web components, Ready to merge, adopter: AEM

#8943 fix(strucutred-list): include BXTooltip and BXTag in imports
  packages/web-components/examples/codesandbox/components/structured-list/cdn.html
  packages/web-components/examples/codesandbox/components/structured-list/index.html
  packages/web-components/examples/codesandbox/components/structured-list/src/index.js
  packages/web-components/src/components/structured-list/__stories__/structured-list.stories.ts
  packages/web-components/src/components/structured-list/index.ts
Labels: package: web components, Ready to merge, test: e2e

#8947 feat(universal-banner): Image resizing and design updates
  packages/styles/scss/components/universal-banner/_universal-banner.scss
  packages/web-components/src/component-mixins/cta/cta.ts
  packages/web-components/src/components/universal-banner/universal-banner.ts
  packages/web-components/tests/e2e-storybook/cypress/integration/universal-banner/universal-banner.e2e.js
Labels: package: web components, Ready to merge

#8928 feat(cta-section): add logo & aspect ratio support
  packages/web-components/src/components/cta-block/cta-block.scss
  packages/web-components/src/components/cta-section/__stories__/cta-section.stories.ts
  packages/web-components/src/components/cta-section/cta-section.ts
Labels: package: web components, Ready to merge

#8964 feat(cta): add new cta types
  packages/web-components/src/component-mixins/cta/cta.ts
  packages/web-components/src/components/cta/__stories__/cta.stories.react.tsx
  packages/web-components/src/components/cta/__stories__/cta.stories.ts
  packages/web-components/src/components/cta/__stories__/ctaTypeConfig.js
  packages/web-components/src/components/cta/defs.ts
Labels: adopter support, package: web components, Ready to merge, adopter: AEM

#9000 fix(footer): lang attribute for language list items
  packages/web-components/examples/codesandbox/components/footer-language-only/cdn.html
  packages/web-components/examples/codesandbox/components/footer-language-only/index.html
  packages/web-components/src/components/footer/__stories__/README.stories.mdx
  packages/web-components/src/components/footer/__stories__/language-list.ts
  packages/web-components/src/components/footer/footer-composite.ts
Labels: package: web components, Ready to merge

#8967 feat(attribute-transpose): introduced alt attribute transposing
  packages/web-components/src/components/video-player/video-player-container.ts
  packages/web-components/src/globals/mixins/stable-selector.ts
Labels: package: web components, Ready to merge

#8973 feat(logo-grid): introducing react wrapper
  packages/web-components/examples/codesandbox/components-react/logo-grid/.gitignore
  packages/web-components/examples/codesandbox/components-react/logo-grid/index.html
  packages/web-components/examples/codesandbox/components-react/logo-grid/package.json
  packages/web-components/examples/codesandbox/components-react/logo-grid/sandbox.config.json
  packages/web-components/examples/codesandbox/components-react/logo-grid/src/index.css
  packages/web-components/examples/codesandbox/components-react/logo-grid/src/index.js
  packages/web-components/examples/codesandbox/components-react/logo-grid/webpack.config.js
  packages/web-components/src/components/logo-grid/__stories__/README.stories.react.mdx
  packages/web-components/src/components/logo-grid/__stories__/logo-grid.stories.react.tsx
  packages/web-components/src/components/logo-grid/logo-grid-item.ts
  packages/web-components/src/components/logo-grid/logo-grid-link.ts
  packages/web-components/src/components/logo-grid/logo-grid.ts
Labels: package: web components, Ready to merge

#8970 chore(storybook): clean up `tabs-extended-media` story
  packages/web-components/src/components/tabs-extended-media/__stories__/tabs-extended-media.stories.react.tsx
  packages/web-components/src/components/tabs-extended-media/__stories__/tabs-extended-media.stories.ts
Labels: package: web components, Ready to merge

#9007 feat(masthead): created react wrapper
  packages/web-components/examples/codesandbox/components-react/masthead-l1/.gitignore
  packages/web-components/examples/codesandbox/components-react/masthead-l1/index.html
  packages/web-components/examples/codesandbox/components-react/masthead-l1/package.json
  packages/web-components/examples/codesandbox/components-react/masthead-l1/sandbox.config.json
  packages/web-components/examples/codesandbox/components-react/masthead-l1/src/index.css
  packages/web-components/examples/codesandbox/components-react/masthead-l1/src/index.js
  packages/web-components/examples/codesandbox/components-react/masthead-l1/webpack.config.js
  packages/web-components/examples/codesandbox/components-react/masthead/.gitignore
  packages/web-components/examples/codesandbox/components-react/masthead/index.html
  packages/web-components/examples/codesandbox/components-react/masthead/package.json
  packages/web-components/examples/codesandbox/components-react/masthead/sandbox.config.json
  packages/web-components/examples/codesandbox/components-react/masthead/src/index.css
  packages/web-components/examples/codesandbox/components-react/masthead/src/index.js
  packages/web-components/examples/codesandbox/components-react/masthead/webpack.config.js
  packages/web-components/src/components/masthead/__stories__/README.stories.react.mdx
  packages/web-components/src/components/masthead/__stories__/masthead.stories.react.tsx
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/masthead-container.ts
  packages/web-components/src/components/masthead/masthead.ts
Labels: Ready to merge

#8961 chore(card-section): update stories and deprecate card-section-images
  packages/web-components/examples/codesandbox/components/card-section-images/.babelrc
  packages/web-components/examples/codesandbox/components/card-section-images/.gitignore
  packages/web-components/examples/codesandbox/components/card-section-images/cdn.html
  packages/web-components/examples/codesandbox/components/card-section-images/index.html
  packages/web-components/examples/codesandbox/components/card-section-images/package.json
  packages/web-components/examples/codesandbox/components/card-section-images/sandbox.config.json
  packages/web-components/examples/codesandbox/components/card-section-images/src/index.js
  packages/web-components/src/components/card-section-images/__stories__/README.stories.mdx
  packages/web-components/src/components/card-section-images/__stories__/card-section-images.stories.ts
  packages/web-components/src/components/card-section-images/__tests__/card-section-images.test.ts
  packages/web-components/src/components/card-section-images/card-section-images.ts
  packages/web-components/src/components/card-section-simple/__stories__/README.stories.mdx
  packages/web-components/src/components/card-section-simple/__stories__/card-section-simple.stories.ts
  packages/web-components/src/components/card-section-simple/index.ts
  packages/web-components/tests/e2e-storybook/cypress/integration/card-section-images/card-section-images.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/card-section-simple/card-section-simple.e2e.js
  packages/web-components/tests/snapshots/dds-card-section-images.md
Labels: package: web components, Ready to merge

#8824 feat(pricing-table): add sticky header
  .yarn/offline-mirror/@carbon-motion-11.0.0.tgz
  packages/react/src/components/DotcomShell/__stories__/DotcomShell.stories.js
  packages/styles/scss/components/pricing-table/_pricing-table.scss
  packages/styles/scss/components/structured-list/_structured-list.scss
  packages/utilities/src/utilities/StickyHeader/StickyHeader.js
  packages/web-components/package.json
  packages/web-components/src/components/lightbox-media-viewer/__stories__/lightbox-media-viewer.stories.ts
  packages/web-components/src/components/lightbox-media-viewer/index.ts
  packages/web-components/src/components/pricing-table/pricing-table-header-row.ts
  packages/web-components/src/components/pricing-table/pricing-table.ts
  packages/web-components/src/components/pricing-table/utils.ts
  yarn.lock
Labels: feature flag, package: web components, Ready to merge, adopter: AEM, :eyes: eyes needed

#8991 test(cta-block): ensure sameHeight function runs within tabs-extended
  packages/web-components/src/components/cta-block/__stories__/cta-block.stories.ts
  packages/web-components/tests/e2e-storybook/cypress/integration/cta-block/cta-block.e2e.js
Labels: package: web components, Ready to merge, test: e2e, :eyes: eyes needed

#9015 chore(card-section-images): remove e2e tests
  packages/web-components/tests/e2e/cypress/integration/card-section-images/card-section-images.cdn.e2e.js
  packages/web-components/tests/e2e/cypress/integration/card-section-images/card-section-images.e2e.js
Labels: Ready to merge

#9008 fix(structured-list): remove margin-bottom in component shadowroot
  packages/styles/scss/components/structured-list/_structured-list.scss
Labels: package: web components, Ready to merge, adopter: AEM

#9010 feat(video-player): introduces react wrapper
  packages/web-components/examples/codesandbox/components-react/video-player/.gitignore
  packages/web-components/examples/codesandbox/components-react/video-player/index.html
  packages/web-components/examples/codesandbox/components-react/video-player/package.json
  packages/web-components/examples/codesandbox/components-react/video-player/sandbox.config.json
  packages/web-components/examples/codesandbox/components-react/video-player/src/index.css
  packages/web-components/examples/codesandbox/components-react/video-player/src/index.js
  packages/web-components/examples/codesandbox/components-react/video-player/webpack.config.js
  packages/web-components/src/components/video-player/__stories__/README.stories.react.mdx
  packages/web-components/src/components/video-player/__stories__/video-player.stories.react.tsx
  packages/web-components/src/components/video-player/video-player.ts
Labels: package: web components, Ready to merge

#9012 refactor(quote): add callout quote styles for inverse color scheme
  packages/styles/scss/components/quote/_quote.scss
  packages/web-components/src/components/quote/__stories__/quote.stories.ts
  packages/web-components/src/components/quote/quote-link-with-icon.ts
  packages/web-components/src/components/quote/quote.scss
  packages/web-components/src/components/quote/quote.ts
Labels: package: web components, Ready to merge, :eyes: eyes needed

#8940 feat(feature-cta): support Kaltura video thumbnails
  packages/styles/scss/components/feature-card/_feature-card.scss
  packages/web-components/src/components/cta/__stories__/cta.stories.ts
  packages/web-components/src/components/cta/__tests__/feature-cta.test.ts
  packages/web-components/src/components/cta/feature-cta.ts
  packages/web-components/tests/snapshots/dds-feature-cta.md
Labels: package: web components, Ready to merge

#9029 feat(tabs): introducing optional different default tab on load
  packages/web-components/src/components/tabs-extended/__stories__/README.stories.mdx
  packages/web-components/src/components/tabs-extended/__stories__/README.stories.react.mdx
  packages/web-components/src/components/tabs-extended/tabs-extended.ts
Labels: Ready to merge

#9028 fix(cta): ensure href works again
  packages/web-components/src/components/video-player/video-player-container.ts
Labels: Ready to merge

#9023 fix(structured-list): refactor table column layout styles
  packages/styles/scss/components/structured-list/_structured-list.scss
Labels: package: web components, Ready to merge, adopter: AEM, test: CDN preview

#9035 fix(background-media): fix low-contrast focus state
  packages/web-components/src/components/background-media/background-media.scss
Labels: package: web components, Ready to merge

#9021 fix(table-of-contents): prevent empty links
  packages/web-components/src/components/table-of-contents/__tests__/table-of-contents.test.ts
  packages/web-components/src/components/table-of-contents/table-of-contents.ts
Labels: package: web components, Ready to merge, adopter: AEM, owner: Innovation Team

#9047 chore(deps): update allowlist for DCO assistant
  .github/workflows/dco.yml
Labels: Ready to merge, dependencies
