Repository carbon-design-system/carbon-for-ibm-dotcom, pull requests merged in 2022-07, with the labels that each got.

#9051 fix(pricing-table): fix column width style regression
  packages/styles/scss/components/pricing-table/_pricing-table.scss
Labels: priority: high, feature flag, Ready to merge, adopter: AEM, owner: Innovation Team

#9004 fix(lightbox-with-carousel): fix focus wrapping logic & carousel focus movement
  .yarn/offline-mirror/wicg-inert-3.1.2.tgz
  packages/web-components/package.json
  packages/web-components/src/components/carousel/carousel.ts
  packages/web-components/src/components/expressive-modal/expressive-modal.ts
  yarn.lock
Labels: accessibility, package: web components, Ready to merge, :eyes: eyes needed

#9034 fix(masthead): fixing expected selected item
  packages/react/tests/e2e-storybook/cypress/integration/Masthead/Masthead.e2e.js
Labels: package: react, Ready to merge

#9070 fix(content-item-horizontal): remove invalid selector
  packages/styles/scss/components/content-item-horizontal/_content-item-horizontal.scss
Labels: package: styles, Ready to merge

#9071 fix(link-list): fix invalid slotted styles
  packages/styles/scss/components/link-list/_link-list.scss
Labels: package: styles, Ready to merge

#9062 fix(locale-modal): missing id for aria-labelledby
  packages/web-components/src/components/expressive-modal/expressive-modal.ts
  packages/web-components/src/components/locale-modal/locale-modal.ts
  packages/web-components/tests/snapshots/dds-expressive-modal.md
  packages/web-components/tests/snapshots/dds-locale-modal.md
Labels: accessibility, package: web components, Ready to merge

#9077 fix(masthead): fixes megamenu item styles (#9066)
  packages/styles/scss/components/masthead/_masthead-megamenu.scss
Labels: package: styles, feature flag, Ready to merge

#9086 fix(footer): ensure label has descriptive text
  packages/web-components/src/components/footer/dropdown.ts
  packages/web-components/src/components/footer/footer-composite.ts
  packages/web-components/src/components/footer/footer.scss
Labels: package: web components, Ready to merge

#9064 test(pricing-table): fixed header coverage
  .github/workflows/e2e-tests.yml
  packages/web-components/src/components/pricing-table/pricing-table-cell.ts
  packages/web-components/tests/e2e-storybook/cypress/integration/pricing-table/pricing-table.e2e.js
Labels: feature flag, Ready to merge, adopter: AEM, owner: Innovation Team, test: e2e

#9095 fix(styles): removes invalid selectors
  packages/styles/scss/components/content-block-segmented/_content-block-segmented.scss
  packages/styles/scss/components/leadspace-block/_leadspace-block.scss
Labels: package: styles, Ready to merge, test: e2e

#9137 fix(storybook): multiple react story updates
  packages/react/src/components/AudioPlayer/__stories__/AudioPlayer.stories.js
  packages/react/src/components/CTA/__stories__/CTA.stories.js
  packages/react/src/components/CardGroup/__stories__/CardGroup.stories.js
  packages/react/src/components/ContentBlockSimple/__stories__/ContentBlockSimple.stories.js
  packages/react/src/components/LeadspaceWithSearch/__stories__/LeadspaceWithSearch.stories.js
Labels: package: react, feature flag, storybook

#9148 fix(ExpressiveModal): render react story correctly
  packages/react/src/components/ExpressiveModal/__stories__/ExpressiveModal.stories.js
Labels: package: react, storybook

#9146 fix(storybook): various react story fixes
  packages/react/src/components/ContentGroup/ContentGroup.js
  packages/react/src/components/ContentGroup/__stories__/ContentGroup.stories.js
  packages/react/src/components/ContentSection/__stories__/ContentSection.stories.js
  packages/react/src/components/FeatureCard/__stories__/FeatureCard.stories.js
Labels: Ready to merge

#9171 chore(docs): adding to CDN artifact documentation in storybook docs
  packages/web-components/src/globals/internal/storybook-cdn.ts
Labels: Ready to merge

#9172 fix(snapshots): react storybook6
  packages/react/src/components/ContentBlockSegmented/__stories__/ContentBlockSegmented.stories.js
  packages/web-components/tests/e2e-storybook/cypress/integration/storybook-docs/storybook-components.e2e.js
Labels: Ready to merge

#9163 chore(deps): bump terser from 4.8.0 to 4.8.1
  .yarn/offline-mirror/acorn-8.7.0.tgz
  .yarn/offline-mirror/buffer-from-1.1.1.tgz
  .yarn/offline-mirror/buffer-from-1.1.2.tgz
  .yarn/offline-mirror/commander-2.20.0.tgz
  .yarn/offline-mirror/source-map-support-0.5.20.tgz
  .yarn/offline-mirror/source-map-support-0.5.21.tgz
  .yarn/offline-mirror/terser-4.8.0.tgz
  .yarn/offline-mirror/terser-4.8.1.tgz
  .yarn/offline-mirror/terser-5.9.0.tgz
  yarn.lock
Labels: Ready to merge, dependencies

#9081 feat(notice-choice): React notice choice
  packages/react/.env.example
  packages/react/examples/codesandbox/components/NoticeChoice/.gitignore
  packages/react/examples/codesandbox/components/NoticeChoice/.sassrc
  packages/react/examples/codesandbox/components/NoticeChoice/index.html
  packages/react/examples/codesandbox/components/NoticeChoice/package.json
  packages/react/examples/codesandbox/components/NoticeChoice/sandbox.config.json
  packages/react/examples/codesandbox/components/NoticeChoice/src/index.js
  packages/react/examples/codesandbox/components/NoticeChoice/src/styles.scss
  packages/react/src/components/NoticeChoice/BPIDLegalText.js
  packages/react/src/components/NoticeChoice/NoticeChoice.js
  packages/react/src/components/NoticeChoice/README.stories.mdx
  packages/react/src/components/NoticeChoice/__stories__/NoticeChoice.stories.js
  packages/react/src/components/NoticeChoice/__stories__/styles.scss
  packages/react/src/components/NoticeChoice/__tests__/BPIDLegalText.test.js
  packages/react/src/components/NoticeChoice/__tests__/NoticeChoice.test.js
  packages/react/src/components/NoticeChoice/cc-lc-map.js
  packages/react/src/components/NoticeChoice/country-settings.js
  packages/react/src/components/NoticeChoice/index.js
  packages/react/src/components/NoticeChoice/services.js
  packages/react/src/components/NoticeChoice/utils.js
  packages/react/src/components/NoticeChoice/world-wide-content.js
  packages/react/src/components/index.js
  packages/react/src/internal/FeatureFlags.js
  packages/styles/scss/components/notice-choice/_notice-choice.scss
  packages/styles/scss/ibm-dotcom-styles.scss
Labels: package: react, feature flag, Ready to merge

#9169 chore(docs): add Carbon for IBM.com web components version to changelog script
  tasks/get-changelog.js
Labels: Ready to merge

#9168 fix(card-group): apply empty card styles in extended components
  packages/styles/scss/components/card-group/_card-group.scss
  packages/web-components/src/components/card-group/card-group.scss
Labels: package: web components, Ready to merge

#9185 chore(react): add notice about upcoming deprecation
  packages/react/package.json
  packages/react/scripts/deprecation-notice.js
Labels: Ready to merge
