Repository carbon-design-system/carbon-for-ibm-dotcom, pull requests merged in 2022-12, with the labels that each got.

#9348 feat(content-section): combining components
  packages/react/README.md
  packages/styles/scss/internal/content-section/_content-section.scss
  packages/web-components/src/components/content-section/__stories__/README.stories.mdx
  packages/web-components/src/components/content-section/__stories__/content-section.stories.react.tsx
  packages/web-components/src/components/content-section/__stories__/content-section.stories.ts
  packages/web-components/src/components/content-section/content-section.scss
  packages/web-components/src/components/content-section/content-section.ts
  packages/web-components/src/components/search-with-typeahead/__tests__/search-with-typeahead.test.ts
Labels: package: web components, Ready to merge, hacktoberfest-accepted

#9689 fix(react-wrapper): show component props
  packages/web-components/tools/babel-plugin-create-react-custom-element-type.js
Labels: Ready to merge

#9604 fix(content-group/block): missing display grid styles
  packages/styles/scss/internal/content-block/_content-block.scss
Labels: package: styles, Ready to merge

#9811 fix(tabs): basic keyboard navigation
  packages/carbon-web-components/src/components/content-switcher/content-switcher-item.ts
  packages/carbon-web-components/src/components/tabs/defs.ts
  packages/carbon-web-components/src/components/tabs/tab.ts
  packages/carbon-web-components/src/components/tabs/tabs.scss
  packages/carbon-web-components/src/components/tabs/tabs.ts
  packages/carbon-web-components/tests/spec/tabs_spec.ts
Labels: accessibility, Ready to merge, package: carbon web components

#9569 feat(cta): merging components into one
  packages/web-components/src/components/button-group/button-group.ts
  packages/web-components/src/components/cta/__stories__/README.stories.mdx
  packages/web-components/src/components/cta/__stories__/cta.stories.react.tsx
  packages/web-components/src/components/cta/__stories__/cta.stories.ts
  packages/web-components/src/components/cta/__stories__/ctaTypeConfig.js
  packages/web-components/src/components/cta/card-cta.ts
  packages/web-components/src/components/cta/cta.scss
  packages/web-components/src/components/cta/cta.ts
  packages/web-components/src/components/cta/defs.ts
  packages/web-components/src/components/cta/feature-cta.ts
  packages/web-components/src/components/cta/video-cta-composite.ts
  packages/web-components/tests/e2e-storybook/cypress/integration/cta/button-cta.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/cta/card-link.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/cta/card.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/cta/feature.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/cta/text-cta.e2e.js
  packages/web-components/tools/get-rollup-config.js
Labels: Ready to merge

#9809 fix(notification/tag): token documentation
  packages/carbon-web-components/.storybook/_container.scss
  packages/carbon-web-components/docs/styling.md
  packages/carbon-web-components/src/components/notification/notification-story.mdx
  packages/carbon-web-components/src/components/tag/tag-story.mdx
Labels: Ready to merge, package: carbon web components

#9703 chore(csp): remove CSPCompliance mixin
  packages/web-components/src/components/masthead/cloud/cloud-masthead-composite.ts
  packages/web-components/src/components/masthead/left-nav-menu-section.ts
  packages/web-components/src/components/masthead/left-nav.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/masthead.ts
  packages/web-components/src/components/masthead/megamenu-top-nav-menu.ts
  packages/web-components/src/components/masthead/top-nav.ts
  packages/web-components/src/globals/mixins/csp-compliance.ts
Labels: Ready to merge

#9627 feat(masthead-v2.1): simple megamenu (fka "listing") design updates
  packages/services-store/src/types/translateAPI.ts
  packages/styles/scss/components/masthead/_masthead-megamenu.scss
  packages/styles/scss/components/masthead/_masthead.scss
  packages/web-components/src/components/masthead/__stories__/links.ts
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/masthead.scss
  packages/web-components/src/components/masthead/megamenu-category-group.ts
  packages/web-components/src/components/masthead/megamenu-category-heading.ts
  packages/web-components/src/components/masthead/megamenu-category-link.ts
  packages/web-components/src/components/masthead/megamenu-heading.ts
  packages/web-components/src/components/masthead/megamenu-right-navigation.ts
Labels: package: services, package: styles, package: web components, owner: Innovation Team, Needs design approval

#9832 Create design kit bug template
  .github/ISSUE_TEMPLATE/design_kit_bug
Labels: Ready to merge

#9826 fix(h1/h2): reveal in lightdom for content-block and leadspace
  packages/styles/scss/components/leadspace-block/_leadspace-block.scss
  packages/styles/scss/components/leadspace-with-search/_leadspace-with-search.scss
  packages/styles/scss/components/leadspace/_leadspace.scss
  packages/web-components/src/components/content-block/content-block-heading.ts
  packages/web-components/src/components/leadspace/leadspace-heading.ts
Labels: Ready to merge

#9844 feat(storybook): switch to storybook controls for video-player and content-block-mixed
  packages/web-components/src/components/content-block-mixed/__stories__/content-block-mixed.stories.react.tsx
  packages/web-components/src/components/content-block-mixed/__stories__/content-block-mixed.stories.ts
  packages/web-components/src/components/video-player/__stories__/video-player.stories.react.tsx
  packages/web-components/src/components/video-player/__stories__/video-player.stories.ts
Labels: Ready to merge

#9853 fix(progress-indicator): add missing import for progress indicator skeleton
  packages/carbon-web-components/src/components/progress-indicator/index.ts
Labels: Ready to merge, package: carbon web components

#9852 fix(carousel): mark hidden slides as inert on component init
  packages/web-components/src/components/carousel/carousel.ts
Labels: package: web components, Ready to merge

#9820 fix(left-nav): fix RTL menu attachment and movement
  packages/styles/scss/components/masthead/_masthead-leftnav.scss
  packages/web-components/src/components/masthead/left-nav-menu-section.ts
  packages/web-components/src/components/masthead/left-nav-menu.ts
  packages/web-components/src/components/masthead/left-nav-overlay.ts
  packages/web-components/src/components/masthead/masthead.scss
Labels: RTL, package: web components, Ready to merge, adopter: AEM

#9563 feat(card-group): switch to controls
  packages/web-components/src/components/card-group/__stories__/card-group.stories.react.tsx
  packages/web-components/src/components/card-group/__stories__/card-group.stories.ts
Labels: Ready to merge
