Repository carbon-design-system/carbon-for-ibm-dotcom, pull requests merged in 2022-01, with the labels that each got.

#7925 fix(masthead): align react and wc mobile menu styles
  packages/styles/scss/components/masthead/_masthead-leftnav.scss
  packages/web-components/src/components/masthead/left-nav-menu-section.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
Labels: package: react, package: web components, Ready to merge

#7870 test(lightbox-media-viewer): add embedded video player e2e tests
  packages/react/tests/e2e-storybook/cypress/integration/LightboxMediaViewer/LightboxMediaViewer.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/lightbox-media-viewer/lightbox-media-viewer.e2e.js
Labels: package: react, package: web components, Ready to merge, test: e2e

#7930 chore(wdio): removal of wdio
  .yarn/offline-mirror/@wdio-cli-6.1.25.tgz
  .yarn/offline-mirror/@wdio-config-6.1.14.tgz
  .yarn/offline-mirror/@wdio-logger-6.0.16.tgz
  .yarn/offline-mirror/@wdio-protocols-6.1.25.tgz
  .yarn/offline-mirror/@wdio-repl-6.1.17.tgz
  .yarn/offline-mirror/@wdio-utils-6.1.17.tgz
  .yarn/offline-mirror/archiver-4.0.1.tgz
  .yarn/offline-mirror/async-0.9.2.tgz
  .yarn/offline-mirror/async-exit-hook-2.0.1.tgz
  .yarn/offline-mirror/cac-3.0.4.tgz
  .yarn/offline-mirror/camelcase-keys-3.0.0.tgz
  .yarn/offline-mirror/chrome-launcher-0.13.4.tgz
  .yarn/offline-mirror/cli-spinners-2.3.0.tgz
  .yarn/offline-mirror/compress-commons-3.0.0.tgz
  .yarn/offline-mirror/crc-3.8.0.tgz
  .yarn/offline-mirror/crc32-stream-3.0.1.tgz
  .yarn/offline-mirror/css-value-0.0.1.tgz
  .yarn/offline-mirror/devtools-6.1.25.tgz
  .yarn/offline-mirror/ejs-3.1.3.tgz
  .yarn/offline-mirror/filelist-1.0.1.tgz
  .yarn/offline-mirror/grapheme-splitter-1.0.4.tgz
  .yarn/offline-mirror/jake-10.8.2.tgz
  .yarn/offline-mirror/lighthouse-logger-1.2.0.tgz
  .yarn/offline-mirror/lodash.isobject-3.0.2.tgz
  .yarn/offline-mirror/lodash.merge-4.6.2.tgz
  .yarn/offline-mirror/lodash.zip-4.2.0.tgz
  .yarn/offline-mirror/loglevel-1.6.8.tgz
  .yarn/offline-mirror/loglevel-plugin-prefix-0.8.4.tgz
  .yarn/offline-mirror/marky-1.2.1.tgz
  .yarn/offline-mirror/mitt-2.0.1.tgz
  .yarn/offline-mirror/puppeteer-core-4.0.1.tgz
  .yarn/offline-mirror/resq-1.7.1.tgz
  .yarn/offline-mirror/rgb2hex-0.2.0.tgz
  .yarn/offline-mirror/serialize-error-7.0.1.tgz
  .yarn/offline-mirror/suffix-0.1.1.tgz
  .yarn/offline-mirror/type-fest-0.13.1.tgz
  .yarn/offline-mirror/webdriver-6.1.25.tgz
  .yarn/offline-mirror/webdriverio-6.1.25.tgz
  .yarn/offline-mirror/yarn-install-1.0.0.tgz
  .yarn/offline-mirror/zip-stream-3.0.1.tgz
  package.json
  yarn.lock
Labels: dev, Ready to merge

#7871 fix(card): ensure copy can render markdown
  packages/utilities/src/utilities/markdownToHtml/markdownToHtml.js
  packages/web-components/src/components/card-section-carousel/__stories__/card-section-carousel.stories.ts
  packages/web-components/src/components/card/card.ts
  packages/web-components/src/components/content-section/content-section-copy.ts
Labels: Ready to merge

#7845 fix(leadspace): allow background color to extend to full viewport width
  packages/styles/scss/components/leadspace/_leadspace.scss
Labels: package: styles, Ready to merge

#7808 chore(housekeeping): use optional chaining for filtering
  packages/web-components/src/components/card-group/card-group.ts
  packages/web-components/src/components/carousel/carousel.ts
  packages/web-components/src/components/content-item/content-item.ts
  packages/web-components/src/components/cta-block/cta-block-item-row.ts
  packages/web-components/src/components/leadspace/leadspace.ts
  packages/web-components/src/components/masthead/top-nav.ts
  packages/web-components/src/components/tag-group/tag-group.ts
Labels: package: web components, Ready to merge

#7940 fix(card-section-carousel): update carousel width
  packages/web-components/src/components/card-section-carousel/card-section-carousel.scss
Labels: package: styles, Ready to merge

#7924 fix(card-group): update storybook
  packages/web-components/src/components/card-group/__stories__/card-group.stories.react.tsx
  packages/web-components/src/components/card-group/__stories__/card-group.stories.ts
  packages/web-components/src/components/card-group/card-group.ts
Labels: package: web components, Ready to merge, storybook

#7992 fix(feature-cta): add wait to test
  packages/web-components/tests/e2e-storybook/cypress-local.json
  packages/web-components/tests/e2e-storybook/cypress/integration/cta/feature.e2e.js
Labels: Ready to merge

#7942 fix(content-block): paragraph styles
  packages/styles/scss/internal/content-block/_content-block.scss
Labels: dev, package: styles, Ready to merge

#8000 chore(github): update carbon `main` branch name
  packages/react/src/components/CTA/ButtonCTA.js
  packages/react/src/components/CTA/CTA.js
  packages/react/src/components/CTA/CardCTA.js
  packages/react/src/components/CTA/FeatureCTA.js
  packages/react/src/components/CTA/TextCTA.js
Labels: Ready to merge

#8006 fix(browserstack): add missing dependency ws
  .yarn/offline-mirror/@sindresorhus-is-0.14.0.tgz
  .yarn/offline-mirror/@szmarczak-http-timer-1.1.2.tgz
  .yarn/offline-mirror/boxen-5.1.2.tgz
  .yarn/offline-mirror/browserstack-cypress-cli-1.10.1.tgz
  .yarn/offline-mirror/browserstack-cypress-cli-1.11.1.tgz
  .yarn/offline-mirror/cacheable-request-6.1.0.tgz
  .yarn/offline-mirror/cli-boxes-2.2.1.tgz
  .yarn/offline-mirror/cli-progress-3.10.0.tgz
  .yarn/offline-mirror/decompress-response-3.3.0.tgz
  .yarn/offline-mirror/defer-to-connect-1.1.3.tgz
  .yarn/offline-mirror/duplexer3-0.1.4.tgz
  .yarn/offline-mirror/got-9.6.0.tgz
  .yarn/offline-mirror/has-yarn-2.1.0.tgz
  .yarn/offline-mirror/import-lazy-2.1.0.tgz
  .yarn/offline-mirror/is-npm-5.0.0.tgz
  .yarn/offline-mirror/is-yarn-global-0.3.0.tgz
  .yarn/offline-mirror/json-buffer-3.0.0.tgz
  .yarn/offline-mirror/keyv-3.1.0.tgz
  .yarn/offline-mirror/latest-version-5.1.0.tgz
  .yarn/offline-mirror/lowercase-keys-1.0.1.tgz
  .yarn/offline-mirror/p-cancelable-1.1.0.tgz
  .yarn/offline-mirror/package-json-6.5.0.tgz
  .yarn/offline-mirror/prepend-http-2.0.0.tgz
  .yarn/offline-mirror/pupa-2.1.1.tgz
  .yarn/offline-mirror/registry-auth-token-4.2.1.tgz
  .yarn/offline-mirror/registry-url-5.1.0.tgz
  .yarn/offline-mirror/responselike-1.0.2.tgz
  .yarn/offline-mirror/semver-diff-3.1.1.tgz
  .yarn/offline-mirror/to-readable-stream-1.0.0.tgz
  .yarn/offline-mirror/type-fest-0.20.2.tgz
  .yarn/offline-mirror/update-notifier-5.1.0.tgz
  .yarn/offline-mirror/url-parse-lax-3.0.0.tgz
  packages/react/package.json
  packages/react/tests/e2e-storybook/browserstack.json
  packages/web-components/package.json
  packages/web-components/tests/e2e-storybook/browserstack.json
  yarn.lock
Labels: dev, Ready to merge

#7779 docs(masthead): storybook demo cleanup
  packages/web-components/src/components/masthead/__stories__/links.ts
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
  packages/web-components/src/components/masthead/__tests__/masthead-composite.test.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/tests/cdn-build/cypress/fixtures/translation.json
  packages/web-components/tests/e2e-storybook/cypress/fixtures/translation.json
  packages/web-components/tests/e2e-storybook/cypress/integration/masthead/masthead.e2e.js
Labels: package: web components, Ready to merge, storybook

#7991 chore(codesandbox): add card-section-carousel CSB example
  packages/web-components/examples/codesandbox/components/card-section-carousel/.babelrc
  packages/web-components/examples/codesandbox/components/card-section-carousel/.gitignore
  packages/web-components/examples/codesandbox/components/card-section-carousel/cdn.html
  packages/web-components/examples/codesandbox/components/card-section-carousel/index.html
  packages/web-components/examples/codesandbox/components/card-section-carousel/package.json
  packages/web-components/examples/codesandbox/components/card-section-carousel/sandbox.config.json
  packages/web-components/examples/codesandbox/components/card-section-carousel/src/index.js
  packages/web-components/tests/e2e/cypress/integration/card-section-carousel/card-section-carousel.cdn.e2e.js
  packages/web-components/tests/e2e/cypress/integration/card-section-carousel/card-section-carousel.e2e.js
Labels: package: web components, Ready to merge

#8012 fix(karma-accessibility-checker): errors from stories
  packages/web-components/src/components/cta-section/__stories__/cta-section.stories.ts
  packages/web-components/src/components/dotcom-shell/__stories__/data/content.ts
Labels: package: web components, Ready to merge

#8013 chore(deploy): replace deployment of canary/next envs to Github Pages
  .github/workflows/deploy-canary.yml
  .github/workflows/deploy-staging.yml
  packages/react/.env.example
  packages/react/.gitignore
  packages/react/.storybook/Container.js
  packages/react/.storybook/webpack.config.js
  packages/react/README.md
  packages/react/manifest-canary.yml
  packages/react/manifest-experimental.yml
  packages/react/manifest-expressive.yml
  packages/react/manifest-rtl-staging.yml
  packages/react/manifest-rtl.yml
  packages/react/manifest-staging.yml
  packages/react/manifest.yml
  packages/react/package.json
  packages/react/tests/e2e-storybook/cypress-canary.json
  packages/react/tests/e2e-storybook/cypress-staging.json
  packages/services-store/src/actions/__tests__/translateAPI.test.ts
  packages/services-store/src/reducers/__tests__/translateAPI.test.ts
  packages/services/README.md
  packages/services/manifest.yml
  packages/services/src/services/DDO/__tests__/data/response.json
  packages/styles/manifest.yml
  packages/utilities/README.md
  packages/utilities/manifest.yml
  packages/web-components/.env.example
  packages/web-components/.gitignore
  packages/web-components/.storybook/config.ts
  packages/web-components/.storybook/webpack.config.js
  packages/web-components/IMPLEMENTATION_NOTES.md
  packages/web-components/manifest-canary.yml
  packages/web-components/manifest-experimental.yml
  packages/web-components/manifest-react.yml
  packages/web-components/manifest-rtl-staging.yml
  packages/web-components/manifest-rtl.yml
  packages/web-components/manifest-staging.yml
  packages/web-components/manifest.yml
  packages/web-components/package.json
  packages/web-components/src/components/card-group/__stories__/README.stories.react.mdx
  packages/web-components/src/components/masthead/__tests__/masthead-composite.test.ts
  packages/web-components/tests/e2e-storybook/cypress-canary.json
  packages/web-components/tests/e2e-storybook/cypress-staging.json
  packages/web-components/tests/snapshots/dds-masthead-composite.md
Labels: dev, Ready to merge

#8019 chore(deps): revert React to v16.9.0
  .yarn/offline-mirror/react-16.14.0.tgz
  .yarn/offline-mirror/react-dom-16.14.0.tgz
  .yarn/offline-mirror/scheduler-0.19.1.tgz
  package.json
  packages/react/package.json
  packages/storybook-addon-theme/package.json
  packages/styles/package.json
  yarn.lock
Labels: package: react, Ready to merge

#8022 chore(github-actions): rename from `staging` to `next`
  .github/workflows/deploy-next.yml
  packages/react/package.json
  packages/react/tests/e2e-storybook/cypress-next.json
  packages/web-components/package.json
  packages/web-components/tests/e2e-storybook/cypress-next.json
Labels: dev, Ready to merge

#8023 chore(browserstack): add browserstack automate nightly runs
  .github/workflows/e2e-tests-browserstack-canary.yml
  .github/workflows/e2e-tests-browserstack-next.yml
Labels: dev, Ready to merge

#8018 test(content-item): add e2e tests
  packages/react/tests/e2e-storybook/cypress/integration/ContentItem/ContentItem.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/content-item/content-item.e2e.js
Labels: Ready to merge, test: e2e

#8025 test(feature-section): add e2e-storybook
  packages/web-components/tests/e2e-storybook/cypress/integration/feature-card/feature-card.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/feature-section/feature-section.e2e.js
Labels: Ready to merge, test: e2e

#7982 feat(masthead): hide and show upon scroll on mobile
  packages/react/src/components/Masthead/Masthead.js
  packages/web-components/src/components/dotcom-shell/dotcom-shell-composite.ts
Labels: package: react, Ready to merge

#8060 fix(github-actions): move slack webhook url to under slack action
  .github/workflows/deploy-canary.yml
  .github/workflows/deploy-next.yml
Labels: dev, Ready to merge

#8035 fix(leadspace): fix scrollable component
  packages/styles/scss/components/leadspace/_leadspace.scss
Labels: Ready to merge

#8030 docs(storybook): add button-cta documentation in CTA readme and update masthead's platform url documentation
  packages/web-components/examples/codesandbox/components/cta-button/.babelrc
  packages/web-components/examples/codesandbox/components/cta-button/.gitignore
  packages/web-components/examples/codesandbox/components/cta-button/cdn.html
  packages/web-components/examples/codesandbox/components/cta-button/index.html
  packages/web-components/examples/codesandbox/components/cta-button/package.json
  packages/web-components/examples/codesandbox/components/cta-button/sandbox.config.json
  packages/web-components/examples/codesandbox/components/cta-button/src/index.js
  packages/web-components/src/components/cta/__stories__/README.stories.mdx
  packages/web-components/src/components/masthead/__stories__/README.stories.mdx
  packages/web-components/tests/e2e/cypress/integration/cta-button/cta-button.cdn.e2e.js
  packages/web-components/tests/e2e/cypress/integration/cta-button/cta-button.e2e.js
Labels: documentation, package: web components, Ready to merge

#8062 fix(github-actions): restricts e2e tests on release branches for next
  .github/workflows/e2e-tests-browserstack-next.yml
Labels: dev, Ready to merge

#8084 fix(masthead): ensure sectionUrl is passed in and has default value
  packages/web-components/src/components/masthead/cloud/cloud-masthead-composite.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/tests/snapshots/dds-masthead-composite.md
Labels: severity 1, feature flag, package: web components, Ready to merge

#8069 chore(browserstack): add build names to browserstack automate runs
  packages/react/package.json
  packages/web-components/package.json
Labels: dev, Ready to merge

#8059 fix(table-of-contents): fix erroneous heading check
  packages/web-components/src/components/table-of-contents/table-of-contents.ts
Labels: Ready to merge

#8068 fix(masthead): add padding top to masthead-composite & cloud-masthead-container
  packages/styles/scss/components/dotcom-shell/_dotcom-shell.scss
  packages/styles/scss/components/masthead/_masthead.scss
  packages/web-components/src/components/masthead/cloud/cloud-masthead-composite.ts
  packages/web-components/src/components/masthead/cloud/cloud-masthead.scss
  packages/web-components/src/components/masthead/masthead-composite.ts
Labels: adopter: Drupal, feature flag, package: web components, Ready to merge, adopter: AEM

#8106 fix(static-card): react wrapper story not showing
  packages/web-components/src/components/card/__stories__/card.stories.react.tsx
Labels: package: react, Ready to merge

#8104 fix(feature-section): responsive card styles
  packages/web-components/src/components/feature-section/feature-section.scss
Labels: package: styles, package: web components, Ready to merge

#8067 fix(content-item-horizontal-thumbnail): adjust mobile spacing
  packages/styles/scss/components/content-item-horizontal/_content-item-horizontal.scss
  packages/web-components/src/components/content-item-horizontal/__stories__/content-item-horizontal.stories.ts
Labels: package: web components, Ready to merge, adopter: AEM

#8089 fix(locale-modal): fix focus trapping
  packages/web-components/src/components/expressive-modal/expressive-modal.ts
  packages/web-components/src/components/locale-modal/locale-modal.ts
Labels: severity 2, Ready to merge

#7773 feat(leadspace): add support for background-media usage
  packages/web-components/src/components/background-media/background-media.scss
  packages/web-components/src/components/background-media/background-media.ts
  packages/web-components/src/components/leadspace/__stories__/leadspace.stories.ts
  packages/web-components/src/components/leadspace/leadspace.scss
  packages/web-components/src/components/leadspace/leadspace.ts
  packages/web-components/tests/e2e-storybook/cypress/integration/leadspace/leadspace.e2e.js
  packages/web-components/tests/snapshots/dds-background-media.md
Labels: package: web components, Ready to merge, adopter: AEM

#8083 fix(dotcom-shell): stop intersection logic if modal is open
  packages/web-components/src/components/dotcom-shell/dotcom-shell-composite.ts
Labels: dev, package: web components, Ready to merge

#8072 fix(card-in-card): prevent new tab from opening twice on Firefox
  packages/web-components/examples/codesandbox/components/card-in-card/index.html
  packages/web-components/src/components/card-in-card/card-in-card.ts
Labels: package: web components, Ready to merge, adopter: AEM

#8079 fix(styles): missing text color for content block and section
  packages/styles/scss/internal/content-block/_content-block.scss
  packages/styles/scss/internal/content-section/_content-section.scss
Labels: package: styles, Ready to merge

#8097 test(footer): increase selector specificity to avoid false negatives
  packages/react/tests/e2e-storybook/cypress/integration/Footer/Footer.e2e.js
Labels: package: react, Ready to merge

#8004 feat(masthead): add grouped search support
  packages/styles/scss/components/search-with-typeahead/_search-with-typeahead.scss
  packages/web-components/src/components/masthead/__stories__/README.stories.mdx
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/search-with-typeahead/search-with-typeahead-item.ts
  packages/web-components/src/components/search-with-typeahead/search-with-typeahead.ts
  packages/web-components/tests/e2e-storybook/cypress/integration/masthead/masthead.e2e.js
Labels: package: web components, Ready to merge

#8099 fix(tabs-extended): tooltip calculation
  packages/web-components/src/components/tabs-extended/__stories__/tabs-extended.stories.ts
  packages/web-components/src/components/tabs-extended/tabs-extended.ts
Labels: package: web components, Ready to merge

#8144 fix(cta-section): add background color
  packages/web-components/src/components/cta-section/cta-section.scss
Labels: package: styles, Ready to merge

#8074 fix(left-nav): fix expanded menu section focus trapping
  packages/web-components/src/components/masthead/left-nav.ts
  packages/web-components/src/components/masthead/masthead-menu-button.ts
Labels: accessibility, package: web components, Ready to merge

#8142 fix(masthead): fix undefined error in locale call
  .yarn/offline-mirror/axios-0.21.4.tgz
  .yarn/offline-mirror/axios-0.25.0.tgz
  .yarn/offline-mirror/follow-redirects-1.14.7.tgz
  package.json
  packages/services/package.json
  packages/utilities/package.json
  yarn.lock
Labels: dev, Ready to merge

#8145 fix(card-cta): adjusting the conditional aria-label video duration
  packages/web-components/src/components/cta/card-cta.ts
Labels: accessibility, package: web components, Ready to merge

#8157 fix(a11y): remove invalid role attribute to be a11y compliance
  packages/web-components/src/components/card-section-images/card-section-images.ts
  packages/web-components/src/components/card-section-simple/card-section-simple.ts
  packages/web-components/src/components/content-section/content-section.ts
  packages/web-components/src/components/cta-block/cta-block-item-row.ts
Labels: accessibility, package: web components, Ready to merge

#8156 fix(cta): add imports to be able to render cdn files
  packages/web-components/src/components/cta/index.ts
Labels: package: web components, Ready to merge

#8175 chore(deps): remove tsickle
  .yarn/offline-mirror/@types-minimist-1.2.2.tgz
  .yarn/offline-mirror/tsickle-0.43.0.tgz
  packages/web-components/package.json
  yarn.lock
Labels: dev, Ready to merge

#8180 chore(utilities): update package version
  packages/react/package.json
  packages/services-store/package.json
  packages/services/package.json
  packages/web-components/package.json
Labels: Ready to merge
