Repository carbon-design-system/carbon-for-ibm-dotcom, pull requests merged in 2022-03, with the labels that each got.

#8382 fix(content-block-horizontal): ensure border attribute returns correctly
  packages/web-components/src/components/content-block-horizontal/content-block-horizontal.ts
  packages/web-components/tests/snapshots/dds-content-block-horizontal.md
Labels: package: web components, Ready to merge, adopter: AEM, :eyes: eyes needed

#8336 fix(carousel): apply same height function to heading used in dds-card-cta
  packages/web-components/src/components/carousel/__stories__/carousel.stories.ts
  packages/web-components/src/components/carousel/carousel.ts
  packages/web-components/src/components/cta/card-cta.ts
Labels: package: web components, Ready to merge, adopter: AEM

#8451 fix(cloud-masthead): remove extra spacing from masthead
  packages/utilities/src/utilities/settings/settings.js
  packages/web-components/src/components/masthead/cloud/cloud-masthead-composite.ts
Labels: package: web components

#8452 fix(masthead): remove extra spacing above masthead
  packages/web-components/src/components/masthead/masthead-composite.ts
Labels: package: web components

#8365 fix(tabs-extended): change anchor-based tabs to button-based tabs
  packages/styles/scss/components/tabs-extended/_tabs-extended.scss
  packages/web-components/src/components/tabs-extended/tabs-extended.ts
Labels: accessibility, package: web components, Ready to merge

#8437 chore: downgrade cypress
  packages/web-components/package.json
  yarn.lock
Labels: Ready to merge

#8457 fix(cta-section): [CTA section - with content items]: Pictograms have extra spacing
  packages/web-components/src/components/cta-section/__stories__/cta-section.stories.react.tsx
  packages/web-components/src/components/cta-section/__stories__/cta-section.stories.ts
Labels: package: web components, Ready to merge

#8394 fix(Tabs & Tabs extended with media): adjust the layout to align with the defined grid
  packages/styles/scss/components/tabs-extended-media/_tabs-extended-media.scss
  packages/styles/scss/components/tabs-extended/_tabs-extended.scss
  packages/web-components/src/components/tabs-extended-media/__stories__/tabs-extended-media.stories.ts
Labels: package: web components, Ready to merge

#8502 fix(plex): replace `gstatic` font references with akamai
  packages/react/.storybook/manager-head.html
  packages/web-components/.storybook/manager-head.html
  packages/web-components/.storybook/react/manager-head.html
  packages/web-components/examples/codesandbox/components-react/card-group/src/index.css
  packages/web-components/examples/codesandbox/components-react/card-in-card/src/index.css
  packages/web-components/examples/codesandbox/components-react/card-link/src/index.css
  packages/web-components/examples/codesandbox/components-react/card-section-offset/src/index.css
  packages/web-components/examples/codesandbox/components-react/card/src/index.css
  packages/web-components/examples/codesandbox/components-react/carousel/src/index.css
  packages/web-components/examples/codesandbox/components-react/content-group-banner/src/index.css
  packages/web-components/examples/codesandbox/components-react/content-item-horizontal/src/index.css
  packages/web-components/examples/codesandbox/components-react/cta-section/src/index.css
  packages/web-components/examples/codesandbox/components-react/feature-section/src/index.css
  packages/web-components/examples/codesandbox/components-react/filter-panel/src/index.css
  packages/web-components/examples/codesandbox/components-react/leadspace-with-search/src/index.css
  packages/web-components/examples/codesandbox/components-react/leadspace/src/index.css
  packages/web-components/examples/codesandbox/components-react/leaving-ibm/src/index.css
  packages/web-components/examples/codesandbox/components-react/search-with-typeahead/src/index.css
  packages/web-components/examples/codesandbox/components-react/table-of-contents/src/index.css
  packages/web-components/examples/codesandbox/components-react/tabs-extended-media/src/index.css
  packages/web-components/examples/codesandbox/components-react/tabs-extended/src/index.css
  packages/web-components/examples/codesandbox/components-react/tag-group/src/index.css
  packages/web-components/examples/codesandbox/components-react/tag-link/src/index.css
  packages/web-components/examples/codesandbox/components-react/universal-banner/src/index.css
  packages/web-components/examples/codesandbox/usage/dotcom-shell-cdn-with-handlebars/index.hbs
  packages/web-components/examples/codesandbox/usage/dotcom-shell-cdn-with-rtl/index.hbs
  packages/web-components/examples/codesandbox/usage/dotcom-shell-cdn/index.html
  packages/web-components/examples/codesandbox/usage/react-ssr/src/index.css
  packages/web-components/examples/codesandbox/usage/webpack-basic/index.html
  packages/web-components/examples/codesandbox/usage/webpack-rtl/index.hbs
Labels: package: web components, Ready to merge

#8492 fix(filter-panel): return focus to selected elements
  packages/web-components/src/components/filter-panel/filter-panel-checkbox.ts
  packages/web-components/src/components/filter-panel/filter-panel-composite.ts
  packages/web-components/src/components/filter-panel/filter-panel-input-select-item.ts
  packages/web-components/src/components/filter-panel/filter-panel-input-select.ts
  packages/web-components/src/components/filter-panel/filter-panel.ts
Labels: package: web components, Ready to merge

#8538 test(carousel): add testing for carousel default, with images, with videos, with media
  packages/web-components/tests/e2e-storybook/cypress/integration/carousel/carousel.e2e.js
Labels: package: web components, Ready to merge, adopter: AEM, test: e2e

#8587 docs:(filter-panel) add props to docs
  packages/web-components/src/components/filter-panel/__stories__/README.stories.mdx
  packages/web-components/src/components/filter-panel/__stories__/README.stories.react.mdx
Labels: Ready to merge

#8605 fix(card-link): disabled styles
  packages/styles/scss/components/card-link/_card-link.scss
Labels: package: styles, Ready to merge

#8553 fix(table-of-contents): fixing mobile issues
  packages/web-components/src/components/table-of-contents/table-of-contents.ts
Labels: package: web components, Ready to merge

#8583 fix(leaving-ibm): provide attribute to trigger modal
  packages/web-components/src/components/leaving-ibm/__stories__/README.stories.mdx
  packages/web-components/src/components/leaving-ibm/__stories__/leaving-ibm.stories.ts
  packages/web-components/src/components/leaving-ibm/leaving-ibm-composite.ts
Labels: package: web components, Ready to merge, :eyes: eyes needed

#8659 fix(TOC): safari focus
  packages/styles/scss/components/tableofcontents/_tableofcontents.scss
Labels: Ready to merge

#8608 fix(rollup): use non-hash filenames for CDN chunk files
  packages/web-components/docs/enable-rtl.md
  packages/web-components/examples/codesandbox/components/card-section-carousel/cdn.html
  packages/web-components/examples/codesandbox/components/cloud-masthead/cdn-rtl.html
  packages/web-components/examples/codesandbox/components/content-block/cdn.html
  packages/web-components/examples/codesandbox/components/masthead-l1/cdn-rtl.html
  packages/web-components/examples/codesandbox/components/masthead/cdn-rtl.html
  packages/web-components/examples/codesandbox/components/universal-banner/package.json
  packages/web-components/gulp-tasks/build/components.js
  packages/web-components/src/globals/internal/storybook-cdn.ts
  packages/web-components/tests/cdn-build/app/canary.html
  packages/web-components/tests/cdn-build/app/latest.html
  packages/web-components/tests/cdn-build/app/next.html
  packages/web-components/tests/cdn-build/app/version.html
Labels: dev, Ready to merge, test: e2e
