Repository carbon-design-system/carbon-for-ibm-dotcom, pull requests merged in 2023-10, with the labels that each got.

#10946 feat(leadspace): updating to v2
  docs/dotcom-v2-migration.md
  packages/styles/scss/components/leadspace/_leadspace.scss
  packages/web-components/src/components/leadspace/__stories__/README.stories.mdx
  packages/web-components/src/components/leadspace/__stories__/README.stories.react.mdx
  packages/web-components/src/components/leadspace/__stories__/leadspace.stories.react.tsx
  packages/web-components/src/components/leadspace/__stories__/leadspace.stories.ts
  packages/web-components/src/components/leadspace/__tests__/leadspace.test.ts
  packages/web-components/src/components/leadspace/leadspace-heading.ts
  packages/web-components/src/components/leadspace/leadspace.scss
  packages/web-components/src/components/leadspace/leadspace.ts
  packages/web-components/src/globals/scss/themes.scss
Labels: package: web components, Ready to merge, Needs design approval, v2

#10996 feat(card-in-card): v2 updates
  docs/dotcom-v2-migration.md
  packages/styles/scss/components/card-in-card/_card-in-card.scss
  packages/styles/scss/components/card-in-card/_tokens.scss
  packages/styles/scss/components/card/_card.scss
  packages/styles/scss/components/leadspace/_leadspace.scss
  packages/web-components/.storybook/container.scss
  packages/web-components/src/components/card-in-card/__stories__/card-in-card.stories.react.tsx
  packages/web-components/src/components/card-in-card/__stories__/card-in-card.stories.ts
  packages/web-components/src/components/card-in-card/card-in-card.scss
  packages/web-components/src/components/card-in-card/card-in-card.ts
  packages/web-components/src/components/leadspace/__stories__/leadspace.stories.ts
  packages/web-components/src/components/leadspace/leadspace-heading.ts
  packages/web-components/src/components/leadspace/leadspace.scss
  packages/web-components/src/components/leadspace/leadspace.ts
  packages/web-components/src/globals/scss/themes.scss
Labels: package: web components, Needs design approval, v2: prep

#10987 carbon component with China PIPL changes
  packages/web-components/src/components/notice-choice/__stories__/notice-choice.stories.ts
  packages/web-components/src/components/notice-choice/country-settings.ts
  packages/web-components/src/components/notice-choice/notice-choice.ts
  packages/web-components/src/components/notice-choice/utils.ts
Labels: Ready to merge, test: CDN preview

#11001 chore(yarn): dedupe packages
  .yarn/cache/@babel-helper-create-class-features-plugin-npm-7.22.9-90b28a6ed8-6c2436d1a5.zip
  .yarn/cache/@babel-parser-npm-7.22.7-7fbdf28552-02209ddbd4.zip
  .yarn/cache/@carbon-icon-helpers-npm-10.42.1-99f87a5cc6-98981041d7.zip
  .yarn/cache/array.prototype.reduce-npm-1.0.5-161dafd7db-f44691395f.zip
  .yarn/cache/is-core-module-npm-2.11.0-70061e141a-f96fd490c6.zip
  .yarn/cache/object.getownpropertydescriptors-npm-2.1.6-6cf48de07f-7757ce0ef6.zip
  yarn.lock
Labels: hacktoberfest

#11005 fix(lightbox-media-viewer): add cdn link
  packages/web-components/tools/get-rollup-config.js
Labels: bug, dev, Ready to merge, adopter: Innovation Team, adopter: AEM, owner: Innovation Team, test: CDN preview, hacktoberfest-accepted

#10961 feat(leadspace-with-search): update to v2
  docs/dotcom-v2-migration.md
  packages/styles/scss/components/leadspace-with-search/_leadspace-with-search.scss
  packages/styles/scss/components/search-with-typeahead/_search-with-typeahead.scss
  packages/web-components/examples/codesandbox/components/leadspace-with-search/cdn.html
  packages/web-components/examples/codesandbox/components/leadspace-with-search/index.html
  packages/web-components/src/components/dotcom-shell/__stories__/data/content.react.tsx
  packages/web-components/src/components/dotcom-shell/__stories__/data/content.ts
  packages/web-components/src/components/leadspace-with-search/__stories__/README.stories.mdx
  packages/web-components/src/components/leadspace-with-search/__stories__/README.stories.react.mdx
  packages/web-components/src/components/leadspace-with-search/__stories__/leadspace-with-search.stories.react.tsx
  packages/web-components/src/components/leadspace-with-search/__stories__/leadspace-with-search.stories.ts
  packages/web-components/src/components/leadspace-with-search/defs.ts
  packages/web-components/src/components/leadspace-with-search/index.ts
  packages/web-components/src/components/leadspace-with-search/leadspace-with-search-content-heading.ts
  packages/web-components/src/components/leadspace-with-search/leadspace-with-search-content.ts
  packages/web-components/src/components/leadspace-with-search/leadspace-with-search-copy.ts
  packages/web-components/src/components/leadspace-with-search/leadspace-with-search-heading.ts
  packages/web-components/src/components/leadspace-with-search/leadspace-with-search.ts
Labels: package: web components, v2

#10869 fix(callout-quote): content off grid
  packages/web-components/src/components/callout-quote/__stories__/callout-quote.stories.ts
  packages/web-components/src/components/callout-quote/callout-quote.scss
Labels: package: web components, Ready to merge

#10951 feat(locale-modal): v2 locale modal styles
  docs/dotcom-v2-migration.md
  packages/styles/scss/components/card/_card.scss
  packages/styles/scss/components/locale-modal/_locale-modal.scss
  packages/web-components/src/components/locale-modal/locale-item.ts
  packages/web-components/src/components/locale-modal/locale-modal-composite.ts
  packages/web-components/src/components/locale-modal/locale-modal.scss
  packages/web-components/src/components/locale-modal/locale-modal.ts
  packages/web-components/src/components/locale-modal/locale-search.ts
  packages/web-components/src/components/locale-modal/region-item.ts
  packages/web-components/src/components/locale-modal/regions.ts
  packages/web-components/src/components/search/search.ts
Labels: package: web components, hacktoberfest-accepted, v2

#10897 Fix(masthead-a11y): None of the descendent elements with menuitem role is tabbable
  packages/react/src/components/Masthead/MastheadL1.js
Labels: package: react, Ready to merge

#10982 fix(table-of-contents): TOC scroll-behavior style typo
  packages/web-components/src/components/table-of-contents/table-of-contents-cdn.scss
  packages/web-components/src/components/table-of-contents/table-of-contents.ts
Labels: Ready to merge

#11009 feat(link-with-icon): upgrade v2 styles
  docs/dotcom-v2-migration.md
  packages/styles/scss/components/link-with-icon/_link-with-icon.scss
  packages/web-components/src/components/link-with-icon/link-with-icon.scss
Labels: package: web components, v2

#10999 feat(in-page-banner): rename content-group-banner to in-page-banner
  docs/dotcom-v2-migration.md
  packages/styles/carbon.yml
  packages/styles/scss/components/feature-section/_feature-section.scss
  packages/styles/scss/components/in-page-banner/_in-page-banner.scss
  packages/styles/scss/components/in-page-banner/_index.scss
  packages/styles/scss/components/leadspace-with-search/_leadspace-with-search.scss
  packages/styles/scss/globals/tokens/_color-tokens.scss
  packages/styles/scss/ibm-dotcom-styles.scss
  packages/styles/scss/internal/callout/_callout.scss
  packages/web-components/.storybook/container.scss
  packages/web-components/carbon.yml
  packages/web-components/examples/codesandbox/components-react/in-page-banner/.gitignore
  packages/web-components/examples/codesandbox/components-react/in-page-banner/index.html
  packages/web-components/examples/codesandbox/components-react/in-page-banner/package.json
  packages/web-components/examples/codesandbox/components-react/in-page-banner/sandbox.config.json
  packages/web-components/examples/codesandbox/components-react/in-page-banner/src/index.css
  packages/web-components/examples/codesandbox/components-react/in-page-banner/src/index.js
  packages/web-components/examples/codesandbox/components-react/in-page-banner/webpack.config.js
  packages/web-components/examples/codesandbox/components/in-page-banner/.babelrc
  packages/web-components/examples/codesandbox/components/in-page-banner/.gitignore
  packages/web-components/examples/codesandbox/components/in-page-banner/.sassrc
  packages/web-components/examples/codesandbox/components/in-page-banner/cdn.html
  packages/web-components/examples/codesandbox/components/in-page-banner/index.html
  packages/web-components/examples/codesandbox/components/in-page-banner/package.json
  packages/web-components/examples/codesandbox/components/in-page-banner/sandbox.config.json
  packages/web-components/examples/codesandbox/components/in-page-banner/src/index.js
  packages/web-components/examples/codesandbox/components/in-page-banner/src/index.scss
  packages/web-components/src/component-mixins/cta/cta-v1.ts
  packages/web-components/src/components/callout-quote/__stories__/README.stories.mdx
  packages/web-components/src/components/callout-quote/__stories__/README.stories.react.mdx
  packages/web-components/src/components/callout-with-media/__stories__/README.stories.mdx
  packages/web-components/src/components/callout-with-media/__stories__/README.stories.react.mdx
  packages/web-components/src/components/content-group-banner/__stories__/README.stories.mdx
  packages/web-components/src/components/content-group-banner/content-group-banner.scss
  packages/web-components/src/components/in-page-banner/__stories__/README.stories.mdx
  packages/web-components/src/components/in-page-banner/__stories__/README.stories.react.mdx
  packages/web-components/src/components/in-page-banner/__stories__/in-page-banner.stories.react.tsx
  packages/web-components/src/components/in-page-banner/__stories__/in-page-banner.stories.ts
  packages/web-components/src/components/in-page-banner/__tests__/in-page-banner.test.ts
  packages/web-components/src/components/in-page-banner/defs.ts
  packages/web-components/src/components/in-page-banner/in-page-banner.scss
  packages/web-components/src/components/in-page-banner/in-page-banner.ts
  packages/web-components/src/components/in-page-banner/index.ts
  packages/web-components/src/globals/scss/themes.scss
  packages/web-components/tests/cdn-build/app/canary.html
  packages/web-components/tests/cdn-build/app/latest.html
  packages/web-components/tests/cdn-build/app/next.html
  packages/web-components/tests/cdn-build/app/version.html
  packages/web-components/tests/e2e/cypress/integration/in-page-banner/in-page-banner.cdn.e2e.js
  packages/web-components/tests/e2e/cypress/integration/in-page-banner/in-page-banner.e2e.js
  thumbnails/in-page-banner.svg
Labels: package: web components, Needs design approval, v2

#11019 chore(content-block): make content-block an internal component
  packages/web-components/src/components/content-block/__stories__/content-block.stories.react.tsx
  packages/web-components/src/components/content-block/__stories__/content-block.stories.ts
Labels: package: web components, v2

#11029 fix(in-page-banner): updating codesandbox examples
  packages/web-components/examples/codesandbox/components-react/in-page-banner/src/index.js
  packages/web-components/examples/codesandbox/components/in-page-banner/cdn.html
  packages/web-components/examples/codesandbox/components/in-page-banner/index.html
  packages/web-components/src/components/in-page-banner/__stories__/README.stories.react.mdx
  packages/web-components/src/components/in-page-banner/index.ts
Labels: package: web components, v2

#11018 fix(card): heading/copy spacing
  packages/styles/scss/components/card/_card.scss
  packages/web-components/src/components/card/card.ts
Labels: package: web components, v2

#11020 fix(quote): make quote-link-with-icon available in quote cdn bundle
  packages/web-components/examples/codesandbox/components/quote/index.html
  packages/web-components/src/components/quote/__stories__/README.stories.mdx
  packages/web-components/src/components/quote/index.ts
Labels: bug, dev, Ready to merge, adopter: AEM, owner: Innovation Team, test: CDN preview

#11023 Fix callback issue preventFormSubmission
  packages/web-components/src/components/notice-choice/notice-choice.ts
Labels: Ready to merge, test: CDN preview

#11027 feat(leadspace-block): v2 update
  docs/dotcom-v2-migration.md
  packages/styles/scss/components/leadspace-block/_leadspace-block.scss
  packages/web-components/examples/codesandbox/components-react/leadspace-block/src/index.js
  packages/web-components/examples/codesandbox/components/leadspace-block/cdn.html
  packages/web-components/examples/codesandbox/components/leadspace-block/index.html
  packages/web-components/src/components/dotcom-shell/__stories__/data/content.react.tsx
  packages/web-components/src/components/dotcom-shell/__stories__/data/content.ts
  packages/web-components/src/components/leadspace-block/__stories__/README.stories.mdx
  packages/web-components/src/components/leadspace-block/__stories__/README.stories.react.mdx
  packages/web-components/src/components/leadspace-block/__stories__/leadspace-block.stories.react.tsx
  packages/web-components/src/components/leadspace-block/__stories__/leadspace-block.stories.scss
  packages/web-components/src/components/leadspace-block/__stories__/leadspace-block.stories.ts
  packages/web-components/src/components/leadspace-block/index.ts
  packages/web-components/src/components/leadspace-block/leadspace-block-cta.ts
  packages/web-components/src/components/leadspace-block/leadspace-block-heading.ts
  packages/web-components/src/components/leadspace-block/leadspace-block-media.ts
  packages/web-components/src/components/leadspace-block/leadspace-block.scss
  packages/web-components/src/components/leadspace-block/leadspace-block.ts
  packages/web-components/src/components/leadspace/leadspace.scss
Labels: package: web components, Needs design approval, v2: prep

#11038 Fixed Country Based text value
  packages/web-components/src/components/notice-choice/notice-choice.ts
  packages/web-components/src/components/notice-choice/utils.ts
Labels: Ready to merge, test: CDN preview

#11032 chore(layout): remove directory
  packages/web-components/src/components/layout/__stories__/README.stories.mdx
  packages/web-components/src/components/layout/__stories__/README.stories.react.mdx
  packages/web-components/src/components/layout/__stories__/layout.stories.react.tsx
  packages/web-components/src/components/layout/__stories__/layout.stories.ts
Labels: package: web components, v2

#11052 feat(expressive-modal/lightbox-media-viewer): update expressive modal v2
  docs/dotcom-v2-migration.md
  packages/carbon-web-components/src/components/modal/modal.scss
  packages/styles/scss/components/expressive-modal/_expressive-modal.scss
  packages/styles/scss/components/lightbox-media-viewer/_lightbox-media-viewer.scss
  packages/web-components/examples/codesandbox/components-react/lightbox-media-viewer/src/index.js
  packages/web-components/examples/codesandbox/components/expressive-modal/cdn.html
  packages/web-components/examples/codesandbox/components/expressive-modal/index.html
  packages/web-components/examples/codesandbox/components/lightbox-media-viewer/index.html
  packages/web-components/src/components/expressive-modal/__stories__/README.stories.mdx
  packages/web-components/src/components/expressive-modal/__stories__/expressive-modal.stories.react.tsx
  packages/web-components/src/components/expressive-modal/__stories__/expressive-modal.stories.ts
  packages/web-components/src/components/expressive-modal/__tests__/expressive-modal.test.ts
  packages/web-components/src/components/expressive-modal/expressive-modal.scss
  packages/web-components/src/components/expressive-modal/expressive-modal.ts
  packages/web-components/src/components/lightbox-media-viewer/lightbox-media-viewer-body.ts
  packages/web-components/src/components/lightbox-media-viewer/lightbox-media-viewer.scss
  packages/web-components/src/components/lightbox-media-viewer/lightbox-video-player-composite.scss
  packages/web-components/src/components/lightbox-media-viewer/lightbox-video-player-composite.ts
  packages/web-components/tsconfig.json
Labels: package: web components, Needs design approval, v2

#11067 fix(video-player): move updateThumbnailUrl callback after updateComplete
  packages/web-components/src/components/video-player/video-player.ts
Labels: package: web components, Ready to merge, adopter: AEM, owner: Innovation Team, type: bug 🐛, hacktoberfest-accepted

#11057 [Filter panel]: Reduce Filter Panel DOM node counts
  packages/styles/scss/components/filter-panel/_filter-panel.scss
  packages/web-components/src/components/filter-panel/filter-panel-composite.ts
  packages/web-components/src/components/filter-panel/filter-panel-input-select-item.ts
  packages/web-components/tests/e2e-storybook/cypress/integration/filter-panel/filter-panel.e2e.js
  packages/web-components/tests/snapshots/dds-filter-panel-composite.md
Labels: package: web components, Ready to merge, owner: Innovation Team

#11069 fix(language-selector): remove internal decorator
  packages/carbon-web-components/src/components/input/input.ts
  packages/web-components/src/components/footer/combo-box.ts
  packages/web-components/src/components/footer/language-selector-desktop.ts
  packages/web-components/src/components/footer/language-selector-mobile.ts
Labels: package: web components, Ready to merge

#11054 feat(scroll-animations): v2 updates
  packages/web-components/examples/codesandbox/components-react/callout-quote/src/index.js
  packages/web-components/src/components/callout-quote/__stories__/README.stories.react.mdx
  packages/web-components/src/components/callout-quote/__stories__/callout-quote.stories.react.tsx
  packages/web-components/src/components/callout-quote/__stories__/callout-quote.stories.ts
  packages/web-components/src/components/dotcom-shell/__stories__/data/content.react.tsx
  packages/web-components/src/components/dotcom-shell/__stories__/data/content.ts
  packages/web-components/src/components/scroll-animations/__stories__/scroll-animations.stories.scss
  packages/web-components/src/components/scroll-animations/__stories__/scroll-animations.stories.ts
  packages/web-components/src/components/scroll-animations/scroll-animations.ts
Labels: package: web components, Needs design approval, v2: prep

#11047 10921: add aria-label to anchor tags inside bx-tabs for accessbility
  packages/carbon-web-components/src/components/tabs/tab.ts
Labels: bug, severity 3, dev, accessibility, Ready to merge, package: carbon web components

#11028 fix(footer): fix grid alignment when disabling locale
  packages/styles/scss/components/footer/_footer.scss
Labels: package: web components, v2
