Repository carbon-design-system/carbon-for-ibm-dotcom, pull requests merged in 2023-08, with the labels that each got.

#10769 fix(styling): missing tokens
  packages/carbon-web-components/src/components/button/button.scss
  packages/carbon-web-components/src/components/data-table/_table-action.scss
  packages/carbon-web-components/src/components/search/search.scss
Labels: package: carbon web components, v2: prep

#10775 chore(icons): update icon imports
  packages/carbon-web-components/src/components/data-table/table-row.ts
  packages/carbon-web-components/src/components/progress-indicator/progress-step-skeleton.ts
Labels: package: carbon web components

#10781 fix: update the carbon-element decorator
  packages/carbon-web-components/src/globals/decorators/carbon-element.ts
Labels: Ready to merge

#10780 fix(breadcrumb): update aria role to now have the value of navigation
  packages/carbon-web-components/src/components/breadcrumb/breadcrumb.ts
Labels: Ready to merge

#10777 fix(background-media): deprecate mobile-position attribute and utilize slots
  packages/styles/scss/components/card-section-offset/_card-section-offset.scss
  packages/web-components/examples/codesandbox/components/card-section-offset/cdn.html
  packages/web-components/examples/codesandbox/components/card-section-offset/index.html
  packages/web-components/src/components/background-media/__stories__/README.stories.mdx
  packages/web-components/src/components/background-media/__stories__/background-media.stories.ts
  packages/web-components/src/components/background-media/__tests__/background-media.test.ts
  packages/web-components/src/components/background-media/background-media.ts
  packages/web-components/src/components/card-section-offset/__stories__/README.stories.mdx
  packages/web-components/src/components/card-section-offset/__stories__/README.stories.react.mdx
  packages/web-components/src/components/card-section-offset/__stories__/card-section-offset.stories.ts
  packages/web-components/src/components/card-section-offset/card-section-offset.ts
  packages/web-components/src/components/leadspace-with-search/__stories__/README.stories.mdx
  packages/web-components/src/components/leadspace-with-search/__stories__/leadspace-with-search.stories.ts
  packages/web-components/src/components/leadspace/__stories__/README.stories.mdx
  packages/web-components/src/components/leadspace/__stories__/leadspace.stories.ts
  packages/web-components/tests/snapshots/dds-card-section-offset.md
Labels: package: web components, Ready to merge

#10796 fix(skip-to-content): v2 storybook
  packages/web-components/.storybook/preview.ts
Labels: package: web components, v2: prep

#10731 feat(footer): optimize node counts
  packages/web-components/src/component-mixins/media-query/media-query.ts
  packages/web-components/src/components/footer/__tests__/footer-nav-group.test.ts
  packages/web-components/src/components/footer/defs.ts
  packages/web-components/src/components/footer/footer-composite.ts
  packages/web-components/src/components/footer/footer-nav-group.ts
  packages/web-components/src/components/footer/footer.scss
  packages/web-components/src/components/footer/language-selector-desktop.ts
  packages/web-components/src/components/footer/language-selector-mobile.ts
  packages/web-components/src/components/footer/legal-nav.ts
  packages/web-components/tests/snapshots/dds-footer-composite.md
  packages/web-components/tests/utils/mock-media-query-list.ts
Labels: package: styles, package: web components, adopter: AEM, owner: Innovation Team, :eyes: eyes needed

#10805 Notice and Choice v23 new version
  packages/web-components/src/components/notice-choice/__stories__/notice-choice.stories.ts
  packages/web-components/src/components/notice-choice/country-settings.ts
  packages/web-components/src/components/notice-choice/notice-choice.ts
  packages/web-components/src/components/notice-choice/services.ts
Labels: Ready to merge

#10803 chore(leadspace): update codesandbox examples with background-media
  packages/web-components/examples/codesandbox/components-react/leadspace/src/index.js
  packages/web-components/examples/codesandbox/components/leadspace/cdn.html
  packages/web-components/examples/codesandbox/components/leadspace/index.html
  packages/web-components/examples/codesandbox/components/leadspace/src/index.js
  packages/web-components/src/components/leadspace/__stories__/README.stories.react.mdx
Labels: documentation, package: web components, Ready to merge

#10802 fix(button-group): small breakpoints alignments
  packages/styles/scss/components/buttongroup/_buttongroup.scss
Labels: package: styles, Ready to merge

#10810 feat(image): v2 updates
  .yarn/cache/@carbon-feature-flags-npm-0.15.0-4a32745220-211827fec1.zip
  .yarn/cache/@carbon-icon-helpers-npm-10.43.1-5c55dbfa40-b77039f58d.zip
  .yarn/cache/@carbon-motion-npm-11.15.0-1f597eb298-985a559324.zip
  docs/dotcom-v2-migration.md
  packages/styles/scss/components/callout-with-media/_callout-with-media.scss
  packages/styles/scss/components/card-in-card/_card-in-card.scss
  packages/styles/scss/components/content-block-media/_content-block-media.scss
  packages/styles/scss/components/content-block-segmented/_content-block-segmented.scss
  packages/styles/scss/components/image-with-caption/_image-with-caption.scss
  packages/styles/scss/components/image-with-caption/_index.scss
  packages/styles/scss/components/image/_image.scss
  packages/styles/scss/components/leadspace-block/_leadspace-block.scss
  packages/styles/scss/ibm-dotcom-styles.scss
  packages/web-components/examples/codesandbox/components/content-block-media/cdn.html
  packages/web-components/examples/codesandbox/components/content-block-media/index.html
  packages/web-components/src/components/content-block-mixed/index.ts
  packages/web-components/src/components/expressive-modal/expressive-modal.scss
  packages/web-components/src/components/image-with-caption/image-with-caption.scss
  packages/web-components/src/components/image-with-caption/image-with-caption.ts
  packages/web-components/src/components/image/__stories__/image.stories.react.tsx
  packages/web-components/src/components/image/__stories__/image.stories.ts
  packages/web-components/src/components/image/defs.ts
  packages/web-components/src/components/image/image.scss
  packages/web-components/src/components/image/image.ts
  packages/web-components/tests/snapshots/dds-card-section-offset.md
  packages/web-components/tests/snapshots/dds-carousel.md
  packages/web-components/tests/snapshots/dds-filter-panel-composite.md
  packages/web-components/tests/snapshots/dds-locale-modal.md
  packages/web-components/tests/snapshots/dds-table-of-contents.md
  yarn.lock
Labels: package: web components, v2: prep

#10826 fix(docs): update migration
  docs/cwc-v2-migration.md
Labels: package: carbon web components, v2: prep

#10804 fix(cta-card): video heading style fix
  packages/styles/scss/components/link-list/_link-list.scss
Labels: package: react, Ready to merge

#10844 feat(cdn): add grid/themes for v2
  packages/carbon-web-components/.gitignore
  packages/carbon-web-components/gulp-tasks/build.js
  packages/carbon-web-components/gulp-tasks/build/sass-cdn.js
  packages/carbon-web-components/gulp-tasks/config.js
  packages/carbon-web-components/src/globals/scss/grid.scss
  packages/carbon-web-components/src/globals/scss/themes.scss
Labels: package: carbon web components, v2: prep

#10866 fix(code-snippet): tooltip-content prop and migration docs
  docs/cwc-v2-migration.md
  packages/carbon-web-components/src/components/code-snippet/code-snippet-story.ts
  packages/carbon-web-components/src/components/code-snippet/code-snippet.ts
Labels: package: carbon web components, v2: prep

#10875 chore(storybook): cleanup and codesandbox cdn info
  packages/carbon-web-components/.storybook/preview.ts
  packages/carbon-web-components/docs/carbon-cdn-style-helpers-story.mdx
  packages/carbon-web-components/docs/carbon-cdn-style-helpers.md
  packages/carbon-web-components/examples/codesandbox/basic/.babelrc
  packages/carbon-web-components/examples/codesandbox/basic/components/accordion/cdn.html
  packages/carbon-web-components/examples/codesandbox/basic/components/breadcrumb/cdn.html
  packages/carbon-web-components/examples/codesandbox/basic/components/button/cdn.html
  packages/carbon-web-components/examples/codesandbox/basic/components/checkbox/cdn.html
  packages/carbon-web-components/examples/codesandbox/basic/components/code-snippet/cdn.html
  packages/carbon-web-components/examples/codesandbox/basic/components/combo-box/cdn.html
  packages/carbon-web-components/examples/codesandbox/basic/components/content-switcher/cdn.html
  packages/carbon-web-components/examples/codesandbox/basic/components/copy-button/cdn.html
  packages/carbon-web-components/examples/codesandbox/basic/components/data-table/cdn.html
  packages/carbon-web-components/examples/codesandbox/basic/components/date-picker/cdn.html
  packages/carbon-web-components/examples/codesandbox/basic/components/dropdown/cdn.html
  packages/carbon-web-components/examples/codesandbox/basic/components/file-uploader/cdn.html
  packages/carbon-web-components/examples/codesandbox/basic/components/form-group/cdn.html
  packages/carbon-web-components/examples/codesandbox/basic/components/icon-button/cdn.html
  packages/carbon-web-components/examples/codesandbox/basic/components/inline-loading/cdn.html
  packages/carbon-web-components/examples/codesandbox/basic/components/input/cdn.html
  packages/carbon-web-components/examples/codesandbox/basic/components/layer/cdn.html
  packages/carbon-web-components/examples/codesandbox/basic/components/link/cdn.html
  packages/carbon-web-components/examples/codesandbox/basic/components/list/cdn.html
  packages/carbon-web-components/examples/codesandbox/basic/components/loading/cdn.html
  packages/carbon-web-components/examples/codesandbox/basic/components/modal/cdn.html
  packages/carbon-web-components/examples/codesandbox/basic/components/multi-select/cdn.html
  packages/carbon-web-components/examples/codesandbox/basic/components/notification/cdn.html
  packages/carbon-web-components/examples/codesandbox/basic/components/number-input/cdn.html
  packages/carbon-web-components/examples/codesandbox/basic/components/overflow-menu/index.html
  packages/carbon-web-components/examples/codesandbox/basic/components/pagination/cdn.html
  packages/carbon-web-components/examples/codesandbox/basic/components/popover/cdn.html
  packages/carbon-web-components/examples/codesandbox/basic/components/progress-bar/cdn.html
  packages/carbon-web-components/examples/codesandbox/basic/components/progress-indicator/cdn.html
  packages/carbon-web-components/examples/codesandbox/basic/components/radio-button/cdn.html
  packages/carbon-web-components/examples/codesandbox/basic/components/search/cdn.html
  packages/carbon-web-components/examples/codesandbox/basic/components/select/cdn.html
  packages/carbon-web-components/examples/codesandbox/basic/components/skeleton-placeholder/cdn.html
  packages/carbon-web-components/examples/codesandbox/basic/components/skeleton-text/cdn.html
  packages/carbon-web-components/examples/codesandbox/basic/components/skip-to-content/cdn.html
  packages/carbon-web-components/examples/codesandbox/basic/components/slider/cdn.html
  packages/carbon-web-components/examples/codesandbox/basic/components/stack/cdn.html
  packages/carbon-web-components/examples/codesandbox/basic/components/structured-list/cdn.html
  packages/carbon-web-components/examples/codesandbox/basic/components/tabs/cdn.html
  packages/carbon-web-components/examples/codesandbox/basic/components/tag/cdn.html
  packages/carbon-web-components/examples/codesandbox/basic/components/textarea/cdn.html
  packages/carbon-web-components/examples/codesandbox/basic/components/tile/cdn.html
  packages/carbon-web-components/examples/codesandbox/basic/components/tile/index.html
  packages/carbon-web-components/examples/codesandbox/basic/components/toggle/cdn.html
  packages/carbon-web-components/examples/codesandbox/basic/components/tooltip/cdn.html
  packages/carbon-web-components/examples/codesandbox/basic/package.json
  packages/carbon-web-components/examples/codesandbox/basic/webpack.config.js
  packages/carbon-web-components/examples/codesandbox/cdn/index.html
Labels: package: carbon web components, v2

#10877 fix(storybook): header theme
  packages/carbon-web-components/.storybook/manager.js
  packages/carbon-web-components/.storybook/preview.js
  packages/carbon-web-components/.storybook/theme.js
Labels: package: carbon web components

#10876 fix(lerna): build packages & codesandbox updates
  lerna.json
  packages/carbon-web-components/examples/codesandbox/angular/package.json
  packages/carbon-web-components/examples/codesandbox/basic/components/accordion/package.json
  packages/carbon-web-components/examples/codesandbox/basic/components/breadcrumb/package.json
  packages/carbon-web-components/examples/codesandbox/basic/components/button/package.json
  packages/carbon-web-components/examples/codesandbox/basic/components/checkbox/package.json
  packages/carbon-web-components/examples/codesandbox/basic/components/code-snippet/package.json
  packages/carbon-web-components/examples/codesandbox/basic/components/combo-box/package.json
  packages/carbon-web-components/examples/codesandbox/basic/components/content-switcher/package.json
  packages/carbon-web-components/examples/codesandbox/basic/components/copy-button/package.json
  packages/carbon-web-components/examples/codesandbox/basic/components/data-table/package.json
  packages/carbon-web-components/examples/codesandbox/basic/components/date-picker/package.json
  packages/carbon-web-components/examples/codesandbox/basic/components/dropdown/package.json
  packages/carbon-web-components/examples/codesandbox/basic/components/file-uploader/package.json
  packages/carbon-web-components/examples/codesandbox/basic/components/inline-loading/package.json
  packages/carbon-web-components/examples/codesandbox/basic/components/input/package.json
  packages/carbon-web-components/examples/codesandbox/basic/components/link/package.json
  packages/carbon-web-components/examples/codesandbox/basic/components/list/package.json
  packages/carbon-web-components/examples/codesandbox/basic/components/loading/package.json
  packages/carbon-web-components/examples/codesandbox/basic/components/modal/package.json
  packages/carbon-web-components/examples/codesandbox/basic/components/multi-select/package.json
  packages/carbon-web-components/examples/codesandbox/basic/components/notification/package.json
  packages/carbon-web-components/examples/codesandbox/basic/components/number-input/package.json
  packages/carbon-web-components/examples/codesandbox/basic/components/overflow-menu/package.json
  packages/carbon-web-components/examples/codesandbox/basic/components/pagination/package.json
  packages/carbon-web-components/examples/codesandbox/basic/components/progress-indicator/package.json
  packages/carbon-web-components/examples/codesandbox/basic/components/radio-button/package.json
  packages/carbon-web-components/examples/codesandbox/basic/components/search/package.json
  packages/carbon-web-components/examples/codesandbox/basic/components/select/package.json
  packages/carbon-web-components/examples/codesandbox/basic/components/skeleton-placeholder/package.json
  packages/carbon-web-components/examples/codesandbox/basic/components/skeleton-text/package.json
  packages/carbon-web-components/examples/codesandbox/basic/components/skip-to-content/package.json
  packages/carbon-web-components/examples/codesandbox/basic/components/slider/package.json
  packages/carbon-web-components/examples/codesandbox/basic/components/structured-list/package.json
  packages/carbon-web-components/examples/codesandbox/basic/components/tabs/package.json
  packages/carbon-web-components/examples/codesandbox/basic/components/tag/package.json
  packages/carbon-web-components/examples/codesandbox/basic/components/textarea/package.json
  packages/carbon-web-components/examples/codesandbox/basic/components/tile/package.json
  packages/carbon-web-components/examples/codesandbox/basic/components/toggle/package.json
  packages/carbon-web-components/examples/codesandbox/basic/components/tooltip/package.json
  packages/carbon-web-components/examples/codesandbox/basic/components/ui-shell/package.json
  packages/carbon-web-components/examples/codesandbox/basic/package.json
  packages/carbon-web-components/examples/codesandbox/data-table/package.json
  packages/carbon-web-components/examples/codesandbox/form/basic/package.json
  packages/carbon-web-components/examples/codesandbox/form/redux-form/package.json
  packages/carbon-web-components/examples/codesandbox/ie/package.json
  packages/carbon-web-components/examples/codesandbox/next/package.json
  packages/carbon-web-components/examples/codesandbox/react-ssr/package.json
  packages/carbon-web-components/examples/codesandbox/react/package.json
  packages/carbon-web-components/examples/codesandbox/rtl/package.json
  packages/carbon-web-components/examples/codesandbox/styling/custom-style/package.json
  packages/carbon-web-components/examples/codesandbox/styling/theme-zoning/package.json
  packages/carbon-web-components/examples/codesandbox/vue/package.json
Labels: package: carbon web components

#10815 feat(masthead-v2): optimize megamenu tabs
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/megamenu-right-navigation.ts
  packages/web-components/src/components/masthead/megamenu-tabs.ts
  packages/web-components/src/components/masthead/megamenu-top-nav-menu.ts
  packages/web-components/tests/e2e-storybook/cypress/integration/masthead/masthead-l1.e2e.js
Labels: package: web components, adopter: Innovation Team, adopter: AEM, Masthead L0/L1 v2

#10849 fix(tabs-extended): add hyphens auto to handle word breaks
  packages/styles/scss/components/tabs-extended/_tabs-extended.scss
Labels: Ready to merge

#10871 fix(docs): add documentation regarding the carbonElement decorator
  packages/web-components/docs/coding-conventions.md
Labels: Ready to merge

#10878 fix(lightbox-video-player): use more reliable reference to video player
  packages/web-components/src/components/card-group/__stories__/card-group.stories.react.tsx
  packages/web-components/src/components/card-group/__stories__/card-group.stories.ts
  packages/web-components/src/components/lightbox-media-viewer/lightbox-video-player-composite.ts
Labels: package: web components, Ready to merge, adopter: AEM, owner: Innovation Team

#10883 fix(pagination): fix issues with pagination playground story
  packages/carbon-web-components/src/components/pagination/pagination-story.ts
  packages/carbon-web-components/src/components/pagination/pagination.ts
Labels: bug, Ready to merge, package: carbon web components, v2

#10884 fix(pagination): mark selected option in page-sizes-select component
  packages/carbon-web-components/src/components/pagination/page-sizes-select.ts
  packages/carbon-web-components/src/components/pagination/pagination-story.ts
Labels: bug, Ready to merge, package: carbon web components, v1
