Repository carbon-design-system/carbon-for-ibm-dotcom, pull requests merged in 2023-02, with the labels that each got.

#9974 fix(tabs-extended-media): safari hover
  packages/styles/scss/components/tabs-extended-media/_tabs-extended-media.scss
Labels: Ready to merge

#9960 chore(platform): add indexing file for `carbon-web-components`
  packages/carbon-web-components/carbon.yml
  packages/carbon-web-components/src/components/accordion/docs/overview.mdx
  packages/carbon-web-components/src/components/breadcrumb/docs/overview.mdx
  packages/carbon-web-components/src/components/button/docs/overview.mdx
  packages/carbon-web-components/src/components/checkbox/docs/overview.mdx
  packages/carbon-web-components/src/components/code-snippet/docs/overview.mdx
  packages/carbon-web-components/src/components/combo-box/docs/overview.mdx
  packages/carbon-web-components/src/components/content-switcher/docs/overview.mdx
  packages/carbon-web-components/src/components/copy-button/docs/overview.mdx
  packages/carbon-web-components/src/components/data-table/docs/overview.mdx
  packages/carbon-web-components/src/components/date-picker/docs/overview.mdx
  packages/carbon-web-components/src/components/dropdown/docs/overview.mdx
  packages/carbon-web-components/src/components/file-uploader/docs/overview.mdx
  packages/carbon-web-components/src/components/icon/docs/overview.mdx
  packages/carbon-web-components/src/components/inline-loading/docs/overview.mdx
  packages/carbon-web-components/src/components/input/docs/overview.mdx
  packages/carbon-web-components/src/components/link/docs/overview.mdx
  packages/carbon-web-components/src/components/list/docs/overview.mdx
  packages/carbon-web-components/src/components/loading/docs/overview.mdx
  packages/carbon-web-components/src/components/modal/docs/overview.mdx
  packages/carbon-web-components/src/components/multi-select/docs/overview.mdx
  packages/carbon-web-components/src/components/notification/docs/overview.mdx
  packages/carbon-web-components/src/components/number-input/docs/overview.mdx
  packages/carbon-web-components/src/components/overflow-menu/docs/overview.mdx
  packages/carbon-web-components/src/components/pagination/docs/overview.mdx
  packages/carbon-web-components/src/components/progress-indicator/docs/overview.mdx
  packages/carbon-web-components/src/components/radio-button/docs/overview.mdx
  packages/carbon-web-components/src/components/search/docs/overview.mdx
  packages/carbon-web-components/src/components/select/docs/overview.mdx
  packages/carbon-web-components/src/components/skeleton-placeholder/docs/overview.mdx
  packages/carbon-web-components/src/components/skeleton-text/docs/overview.mdx
  packages/carbon-web-components/src/components/skip-to-content/docs/overview.mdx
  packages/carbon-web-components/src/components/slider/docs/overview.mdx
  packages/carbon-web-components/src/components/structured-list/docs/overview.mdx
  packages/carbon-web-components/src/components/tabs/docs/overview.mdx
  packages/carbon-web-components/src/components/tag/docs/overview.mdx
  packages/carbon-web-components/src/components/textarea/docs/overview.mdx
  packages/carbon-web-components/src/components/tile/docs/overview.mdx
  packages/carbon-web-components/src/components/toggle/docs/overview.mdx
  packages/carbon-web-components/src/components/tooltip/docs/overview.mdx
  packages/carbon-web-components/src/components/ui-shell/docs/overview.mdx
  packages/carbon-web-components/thumbnails/icon.svg
  packages/carbon-web-components/thumbnails/input.svg
  packages/carbon-web-components/thumbnails/skeleton-placeholder.svg
  packages/carbon-web-components/thumbnails/skeleton-text.svg
  packages/carbon-web-components/thumbnails/skip-to-content.svg
  packages/carbon-web-components/thumbnails/ui-shell.svg
Labels: Ready to merge, package: carbon web components

#9823 fix(masthead-v2): switch to mobile nav at smaller breakpoint
  packages/styles/scss/components/masthead/_masthead.scss
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
  packages/web-components/src/components/masthead/__tests__/masthead-composite.test.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/masthead.scss
  packages/web-components/tests/e2e-storybook/cypress/integration/masthead/masthead-custom-search.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/masthead/masthead-l1.e2e.js
  packages/web-components/tests/snapshots/dds-masthead-composite.md
Labels: package: web components, Ready to merge

#9902 feat(masthead-contact): improve interactions with contact module
  packages/web-components/src/components/dotcom-shell/__stories__/dotcom-shell.stories.ts
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/masthead-contact.ts
  packages/web-components/src/components/masthead/megamenu-top-nav-menu.ts
Labels: Feature request, package: web components, Ready to merge, adopter: AEM, owner: Innovation Team

#9927 fix(cloud-masthead): address various visual bugs
  packages/styles/scss/components/masthead/_masthead.scss
  packages/web-components/src/components/masthead/cloud/cloud-masthead.scss
Labels: bug, dev, feature flag, package: web components, Ready to merge, adopter: AEM, owner: AEM

#10019 fix(masthead): left nav click out
  .yarn/offline-mirror/@carbon-ibmdotcom-styles-1.42.0.tgz
  .yarn/offline-mirror/@carbon-web-components-2.0.0-lit-v2-alpha.tgz
  packages/web-components/.storybook/main.js
  packages/web-components/src/components/masthead/__tests__/cloud-masthead-composite.test.ts
  packages/web-components/src/components/masthead/__tests__/masthead-composite.test.ts
  packages/web-components/src/components/masthead/left-nav.ts
  packages/web-components/tests/snapshots/dds-content-block-card-static.md
  packages/web-components/tests/snapshots/dds-masthead-composite.md
Labels: Ready to merge, package: carbon web components

#9903 fix(leadspace): adjust left position of leadspace to cover Safari gap
  packages/styles/scss/components/leadspace/_leadspace.scss
Labels: bug, dev, package: web components, Ready to merge, adopter: AEM, owner: AEM

#9957 fix(table-of-contents): adjustment to z-index on table of contents styles
  packages/styles/scss/components/tableofcontents/_tableofcontents.scss
  packages/web-components/examples/codesandbox/components/table-of-contents/index.html
  packages/web-components/examples/codesandbox/components/table-of-contents/src/index.js
Labels: bug, dev, package: web components, Ready to merge, adopter: AEM, owner: Innovation Team, test: e2e

#9972 fix(tag-group): ensuring tags can be gray
  packages/web-components/src/components/card/__stories__/card.stories.react.tsx
  packages/web-components/src/components/card/__stories__/card.stories.ts
  packages/web-components/src/components/tag-group/__stories__/tag-group.stories.ts
  packages/web-components/src/components/tag-group/tag-group.ts
Labels: Ready to merge

#9929 feat(masthead-2.1): update mobile layout & styles
  packages/stylelint-config-ibmdotcom/rules/possible-errors.js
  packages/styles/scss/components/masthead/_masthead-leftnav.scss
  packages/web-components/src/components/masthead/__stories__/links.ts
  packages/web-components/src/components/masthead/left-nav-menu-category-heading.ts
  packages/web-components/src/components/masthead/left-nav-menu-item.ts
  packages/web-components/src/components/masthead/left-nav-menu-section.ts
  packages/web-components/src/components/masthead/left-nav-menu.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/megamenu-category-group.ts
Labels: feature flag, package: web components, adopter: AEM, Needs design approval, :eyes: eyes needed

#10028 docs: remove themeselector from live demo
  packages/carbon-web-components/src/components/accordion/docs/overview.mdx
  packages/carbon-web-components/src/components/breadcrumb/docs/overview.mdx
  packages/carbon-web-components/src/components/button/docs/overview.mdx
  packages/carbon-web-components/src/components/checkbox/docs/overview.mdx
  packages/carbon-web-components/src/components/code-snippet/docs/overview.mdx
  packages/carbon-web-components/src/components/combo-box/docs/overview.mdx
  packages/carbon-web-components/src/components/content-switcher/docs/overview.mdx
  packages/carbon-web-components/src/components/copy-button/docs/overview.mdx
  packages/carbon-web-components/src/components/data-table/docs/overview.mdx
  packages/carbon-web-components/src/components/date-picker/docs/overview.mdx
  packages/carbon-web-components/src/components/dropdown/docs/overview.mdx
  packages/carbon-web-components/src/components/file-uploader/docs/overview.mdx
  packages/carbon-web-components/src/components/icon/docs/overview.mdx
  packages/carbon-web-components/src/components/inline-loading/docs/overview.mdx
  packages/carbon-web-components/src/components/input/docs/overview.mdx
  packages/carbon-web-components/src/components/link/docs/overview.mdx
  packages/carbon-web-components/src/components/list/docs/overview.mdx
  packages/carbon-web-components/src/components/loading/docs/overview.mdx
  packages/carbon-web-components/src/components/modal/docs/overview.mdx
  packages/carbon-web-components/src/components/multi-select/docs/overview.mdx
  packages/carbon-web-components/src/components/notification/docs/overview.mdx
  packages/carbon-web-components/src/components/number-input/docs/overview.mdx
  packages/carbon-web-components/src/components/overflow-menu/docs/overview.mdx
  packages/carbon-web-components/src/components/pagination/docs/overview.mdx
  packages/carbon-web-components/src/components/progress-indicator/docs/overview.mdx
  packages/carbon-web-components/src/components/radio-button/docs/overview.mdx
  packages/carbon-web-components/src/components/search/docs/overview.mdx
  packages/carbon-web-components/src/components/select/docs/overview.mdx
  packages/carbon-web-components/src/components/skeleton-placeholder/docs/overview.mdx
  packages/carbon-web-components/src/components/skeleton-text/docs/overview.mdx
  packages/carbon-web-components/src/components/skip-to-content/docs/overview.mdx
  packages/carbon-web-components/src/components/slider/docs/overview.mdx
  packages/carbon-web-components/src/components/structured-list/docs/overview.mdx
  packages/carbon-web-components/src/components/tabs/docs/overview.mdx
  packages/carbon-web-components/src/components/tag/docs/overview.mdx
  packages/carbon-web-components/src/components/textarea/docs/overview.mdx
  packages/carbon-web-components/src/components/tile/docs/overview.mdx
  packages/carbon-web-components/src/components/toggle/docs/overview.mdx
  packages/carbon-web-components/src/components/tooltip/docs/overview.mdx
  packages/carbon-web-components/src/components/ui-shell/docs/overview.mdx
Labels: Ready to merge

#9939 feat(masthead-v2.1): "view all" CTA design updates
  packages/services-store/src/types/translateAPI.ts
  packages/stylelint-config-ibmdotcom/rules/possible-errors.js
  packages/styles/scss/components/masthead/_masthead-megamenu.scss
  packages/web-components/src/components/masthead/__stories__/links.ts
  packages/web-components/src/components/masthead/defs.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/megamenu-right-navigation.ts
  packages/web-components/tests/snapshots/dds-masthead-composite.md
Labels: feature flag, package: web components, owner: Innovation Team, Needs design approval, :eyes: eyes needed

#10048 Carbon Platform: Index get started content for carbon web components
  packages/carbon-web-components/carbon.yml
Labels: Ready to merge

#10055 fix(button): add button print styles
  packages/styles/scss/components/buttongroup/_buttongroup.scss
  packages/web-components/src/components/button/button.scss
Labels: Ready to merge

#10054 chore(readme): update with storybook demo links
  README.md
Labels: documentation, Ready to merge

#10053 Fix e2e tests on feat/masthead-v2.1
  .github/workflows/e2e-tests.yml
  packages/web-components/gulp-tasks/config.js
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
  packages/web-components/src/components/masthead/__stories__/profile-items.ts
  packages/web-components/src/components/masthead/left-nav-menu-category-heading.ts
  packages/web-components/tests/e2e-storybook/cypress/fixtures/grouped-typeahead-c.json
  packages/web-components/tests/e2e-storybook/cypress/fixtures/grouped-typeahead-cl.json
  packages/web-components/tests/e2e-storybook/cypress/fixtures/grouped-typeahead-clo.json
  packages/web-components/tests/e2e-storybook/cypress/fixtures/grouped-typeahead-clou.json
  packages/web-components/tests/e2e-storybook/cypress/fixtures/grouped-typeahead-cloud.json
  packages/web-components/tests/e2e-storybook/cypress/integration/masthead/cloud/cloud-masthead.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/masthead/masthead-custom-search.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/masthead/masthead-l1.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/masthead/masthead-platform.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/masthead/masthead-search-onload.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/masthead/masthead-v2.e2e.js
  packages/web-components/tests/snapshots/dds-masthead-composite.md
  packages/web-components/tests/utils/snapshot.js
Labels: Feature request, priority: low, package: web components, adopter: AEM, owner: AEM, test: e2e

#10046 docs(readme): add discord link to readme
  README.md
Labels: Ready to merge

#10038 fix(clean): clean vendor src base dir from web-components package
  packages/web-components/gulp-tasks/clean.js
  packages/web-components/gulp-tasks/config.js
Labels: bug, dev, package: web components, Ready to merge

#10059 Additional Masthead tests including coverage for DOM pruning and lazy loading
  packages/web-components/tests/e2e-storybook/cypress/integration/masthead/masthead-authenticated.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/masthead/masthead-v2.e2e.js
Labels: Feature request, priority: low, package: web components, adopter: AEM, owner: AEM, test: e2e

#10068 fix(masthead-v2): remove breaking redundancy in masthead mobile test
  packages/web-components/tests/e2e-storybook/cypress/integration/masthead/masthead-v2.e2e.js
Labels: package: web components, owner: Innovation Team

#10067 chore(documentation): update content-section docs tab with content block simple
  packages/web-components/src/components/content-section/__stories__/README.stories.mdx
  packages/web-components/src/components/content-section/__stories__/README.stories.react.mdx
  packages/web-components/src/components/content-section/__stories__/content-section.stories.react.tsx
Labels: documentation, Ready to merge

#10070 feat(masthead-l1): update data, render top-level items
  packages/web-components/src/components/masthead/__stories__/README.stories.mdx
  packages/web-components/src/components/masthead/__stories__/links.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/tests/e2e-storybook/cypress/integration/masthead/masthead-l1.e2e.js
Labels: package: web components, owner: Innovation Team, Masthead L0/L1 v2

#10065 fix(logo-grid): cta styles
  packages/styles/scss/components/logo-grid/_logo-grid.scss
Labels: package: web components, Ready to merge

#10030 fix(leadspace): button sizing and layout for md leadspace
  packages/styles/scss/components/leadspace/_leadspace.scss
  packages/web-components/src/components/button-group/button-group.ts
  packages/web-components/src/components/leadspace/leadspace.ts
  packages/web-components/tests/snapshots/dds-leadspace.md
Labels: bug, dev, priority: medium, package: web components, Ready to merge, adopter: AEM, owner: Innovation Team

#10167 fix(masthead-v2): restore ability to render L1 nav
  packages/web-components/src/components/masthead/__stories__/links.ts
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
Labels: package: web components, owner: Innovation Team, :eyes: eyes needed

#10168 fix(date-picker): range mode clearing first value
  .yarn/cache/flatpickr-npm-4.6.13-06399933fc-2cca1b8dc9.zip
  packages/carbon-web-components/package.json
  yarn.lock
Labels: Ready to merge, package: carbon web components

#10171 fix(masthead): left nav focuswrap
  packages/web-components/src/components/masthead/left-nav-menu-section.ts
  packages/web-components/src/components/masthead/left-nav.ts
Labels: package: web components, Ready to merge
