Repository carbon-design-system/carbon-for-ibm-dotcom, pull requests merged in 2023-09, with the labels that each got.

#10870 feat(background-media): move styles to styles package
  packages/carbon-web-components/src/components/tooltip/tooltip.scss
  packages/styles/scss/components/background-media/_background-media.scss
  packages/web-components/src/components/background-media/__stories__/README.stories.mdx
  packages/web-components/src/components/background-media/__stories__/README.stories.react.mdx
  packages/web-components/src/components/background-media/__stories__/background-media.stories.react.tsx
  packages/web-components/src/components/background-media/__stories__/background-media.stories.ts
  packages/web-components/src/components/background-media/background-media.scss
Labels: package: web components, v2

#10894 [Filter panel] Fix the checked attribute <dds-filter-panel-checkbox> element
  packages/web-components/src/components/filter-panel/__stories__/filter-panel.stories.react.tsx
  packages/web-components/src/components/filter-panel/__stories__/filter-panel.stories.ts
  packages/web-components/src/components/filter-panel/filter-panel-composite.ts
  packages/web-components/src/components/filter-panel/filter-panel-input-select.ts
  packages/web-components/tests/e2e-storybook/cypress/integration/filter-panel/filter-panel.e2e.js
Labels: bug, package: web components, Ready to merge, owner: Innovation Team

#10893 feat(search-with-typeahead): v2 styles for search-with-typeahead
  docs/dotcom-v2-migration.md
  packages/styles/scss/components/search-with-typeahead/_search-with-typeahead.scss
  packages/web-components/src/components/dotcom-shell/__stories__/data/content.ts
  packages/web-components/src/components/search-with-typeahead/search-with-typeahead.ts
Labels: package: web components, v2

#10903 feat(card): v2 card style updates
  docs/dotcom-v2-migration.md
  packages/styles/scss/components/card/_card.scss
  packages/styles/scss/globals/utils/_aspect-ratio.scss
  packages/styles/scss/globals/utils/_ratio-base.scss
  packages/utilities/src/utilities/formatVideoCaption/__tests__/formatVideoCaption.test.js
  packages/utilities/src/utilities/formatVideoCaption/formatVideoCaption.js
  packages/web-components/.storybook/container.scss
  packages/web-components/src/component-mixins/cta/cta.ts
  packages/web-components/src/component-mixins/cta/video.ts
  packages/web-components/src/components/card/__stories__/README.stories.mdx
  packages/web-components/src/components/card/__stories__/README.stories.react.mdx
  packages/web-components/src/components/card/__stories__/card.stories.react.tsx
  packages/web-components/src/components/card/__stories__/card.stories.ts
  packages/web-components/src/components/card/card-footer.ts
  packages/web-components/src/components/card/card.scss
  packages/web-components/src/components/card/card.ts
  packages/web-components/src/components/cta/__stories__/ctaTypeConfig.js
Labels: package: web components, v2

#10895 feat(callout): update quote and media with new tokens
  docs/dotcom-v2-migration.md
  packages/styles/scss/components/callout-quote/_callout-quote.scss
  packages/styles/scss/components/callout-with-media/_callout-with-media.scss
  packages/styles/scss/components/horizontal-rule/_horizontal-rule.scss
  packages/styles/scss/components/quote/_quote.scss
  packages/styles/scss/internal/callout/_callout.scss
  packages/styles/scss/internal/callout/_index.scss
  packages/styles/scss/internal/callout/_tokens.scss
  packages/web-components/.storybook/container.scss
  packages/web-components/src/component-mixins/callout/callout.ts
  packages/web-components/src/component-mixins/callout/defs.ts
  packages/web-components/src/components/callout-quote/__stories__/README.stories.mdx
  packages/web-components/src/components/callout-quote/__stories__/README.stories.react.mdx
  packages/web-components/src/components/callout-quote/__stories__/callout-quote.stories.react.tsx
  packages/web-components/src/components/callout-quote/__stories__/callout-quote.stories.ts
  packages/web-components/src/components/callout-quote/callout-link-with-icon.ts
  packages/web-components/src/components/callout-quote/callout-quote.scss
  packages/web-components/src/components/callout-quote/callout-quote.ts
  packages/web-components/src/components/callout-with-media/__stories__/README.stories.mdx
  packages/web-components/src/components/callout-with-media/__stories__/README.stories.react.mdx
  packages/web-components/src/components/callout-with-media/__stories__/callout-with-media.stories.react.tsx
  packages/web-components/src/components/callout-with-media/__stories__/callout-with-media.stories.ts
  packages/web-components/src/components/callout-with-media/callout-with-media-copy.ts
  packages/web-components/src/components/callout-with-media/callout-with-media-image.ts
  packages/web-components/src/components/callout-with-media/callout-with-media-video.ts
  packages/web-components/src/components/callout-with-media/callout-with-media.ts
  packages/web-components/src/components/horizontal-rule/__stories__/horizontal-rule.stories.react.tsx
  packages/web-components/src/components/horizontal-rule/__stories__/horizontal-rule.stories.ts
  packages/web-components/src/components/horizontal-rule/defs.ts
  packages/web-components/src/components/horizontal-rule/horizontal-rule.scss
  packages/web-components/src/components/horizontal-rule/horizontal-rule.ts
  packages/web-components/src/components/quote/quote.scss
  packages/web-components/src/components/quote/quote.ts
  packages/web-components/src/globals/scss/themes.scss
Labels: package: web components, v2: prep

#10931 feat(notice-choice): move component in storybook to specific folder
  packages/web-components/src/components/notice-choice/__stories__/notice-choice.stories.ts
Labels: package: web components, storybook, v2

#10930 feat(card - pictogram): card pictogram v2 style changes
  packages/styles/scss/components/card/_card.scss
  packages/web-components/src/components/card/__stories__/card.stories.react.tsx
  packages/web-components/src/components/card/__stories__/card.stories.ts
  packages/web-components/src/components/card/card.ts
  packages/web-components/tests/e2e-storybook/cypress/integration/card/card.e2e.js
Labels: package: web components, Needs design approval, v2

#10916 chore(examples): update cwc-v1 examples
  packages/carbon-web-components/examples/codesandbox/basic/webpack.config.js
  packages/carbon-web-components/examples/codesandbox/form/basic/webpack.config.js
  packages/carbon-web-components/examples/codesandbox/form/redux-form/webpack.config.js
  packages/carbon-web-components/examples/codesandbox/ie/.gitignore
  packages/carbon-web-components/examples/codesandbox/ie/package.json
  packages/carbon-web-components/examples/codesandbox/ie/sandbox.config.json
  packages/carbon-web-components/examples/codesandbox/ie/src/index.html
  packages/carbon-web-components/examples/codesandbox/ie/src/index.js
  packages/carbon-web-components/examples/codesandbox/ie/webpack.config.js
  packages/carbon-web-components/examples/codesandbox/next/package.json
  packages/carbon-web-components/examples/codesandbox/react-ssr/webpack.config.js
  packages/carbon-web-components/examples/codesandbox/react/webpack.config.js
  packages/carbon-web-components/examples/codesandbox/rtl/webpack.config.js
  packages/carbon-web-components/examples/codesandbox/styling/custom-style/webpack.config.js
  packages/carbon-web-components/examples/codesandbox/styling/theme-zoning/webpack.config.js
  packages/carbon-web-components/examples/codesandbox/vue/package.json
  packages/carbon-web-components/package.json
Labels: Ready to merge, package: carbon web components

#10917 Fixed onclick hidden values
  packages/web-components/src/components/notice-choice/__stories__/notice-choice.stories.ts
  packages/web-components/src/components/notice-choice/notice-choice.ts
Labels: Ready to merge

#10795 fix(Masthead): Search field does not display auto suggest results
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
Labels: Ready to merge

#10812 fix(filter-panel) Fixing the placement/display of the clear button | …
  packages/styles/scss/components/filter-panel/_filter-panel.scss
  packages/web-components/src/components/expressive-modal/expressive-modal.ts
  packages/web-components/src/components/filter-panel/filter-panel-modal.ts
  packages/web-components/src/components/filter-panel/filter-panel.ts
Labels: bug, dev, package: web components, Ready to merge

#10940 fix(combo-box): outline/hover issues
  packages/carbon-web-components/src/components/combo-box/combo-box-story.ts
  packages/carbon-web-components/src/components/combo-box/combo-box.scss
Labels: package: carbon web components, v2

#10944 feat(card-static): update v2 styles
  packages/styles/scss/components/card/_card.scss
  packages/web-components/src/components/card/__stories__/card.stories.ts
Labels: package: web components, Needs design approval, v2: prep

#10954 chore(tests): fix tests for ci-check
  packages/carbon-web-components/src/components/tabs/tabs.scss
  packages/services/src/services/Locale/Locale.js
  packages/services/src/services/Translation/__tests__/Translation.test.js
  packages/stylelint-config-ibmdotcom/rules/limit-language-features.js
  packages/styles/scss/components/leadspace-block/_leadspace-block.scss
  packages/styles/scss/components/leadspace-with-search/_leadspace-with-search.scss
  packages/styles/scss/components/leadspace/_leadspace.scss
  packages/styles/scss/themes/expressive/components/_tag.scss
Labels: package: web components, v2

#10939 feat(callout-with-media): v2 styles updates
  docs/dotcom-v2-migration.md
  packages/styles/scss/components/callout-quote/_callout-quote.scss
  packages/styles/scss/components/callout-with-media/_callout-with-media.scss
  packages/styles/scss/internal/callout/_callout.scss
  packages/web-components/src/components/callout-with-media/__stories__/callout-with-media.stories.react.tsx
  packages/web-components/src/components/callout-with-media/__stories__/callout-with-media.stories.ts
Labels: package: web components, Needs design approval, v2: prep

#10956 fix(notice-choice): fixed onclick hidden values (#10917)
  packages/web-components/src/components/notice-choice/__stories__/notice-choice.stories.ts
  packages/web-components/src/components/notice-choice/notice-choice.ts
Labels: package: web components, Ready to merge

#10953 feat(card-link): update v2
  docs/dotcom-v2-migration.md
  packages/styles/scss/components/callout-with-media/_callout-with-media.scss
  packages/styles/scss/components/card/_card.scss
  packages/web-components/src/components/card-link/__stories__/README.stories.mdx
  packages/web-components/src/components/card-link/__stories__/README.stories.react.mdx
  packages/web-components/src/components/card-link/__stories__/card-link.stories.react.tsx
  packages/web-components/src/components/card-link/__stories__/card-link.stories.ts
  packages/web-components/src/components/card/__stories__/README.stories.mdx
  packages/web-components/src/components/card/__stories__/README.stories.react.mdx
  packages/web-components/src/components/card/__stories__/card.stories.react.tsx
  packages/web-components/src/components/card/__stories__/card.stories.ts
  packages/web-components/src/components/card/card-footer.ts
  packages/web-components/src/components/card/card.ts
  packages/web-components/src/components/cta/cta.scss
Labels: package: web components, v2: prep

#10932 feat(toc): v2 updates
  docs/dotcom-v2-migration.md
  packages/styles/scss/components/tableofcontents/_table-of-contents.scss
  packages/styles/scss/globals/_carbon-grid.scss
  packages/web-components/src/components/link-list/link-list.scss
  packages/web-components/src/components/table-of-contents/__stories__/table-of-contents.stories.scss
  packages/web-components/src/components/table-of-contents/table-of-contents.scss
  packages/web-components/src/components/table-of-contents/table-of-contents.ts
Labels: package: web components, v2: prep

#10955 fix(package): update web components component exports
  .github/workflows/ci-check.yml
  packages/web-components/package.json
Labels: package: web components

#10891 fix(back-to-top): remove border-color rule
  docs/dotcom-v2-migration.md
  packages/styles/scss/components/back-to-top/_back-to-top.scss
Labels: package: web components, v2: prep

#10915 chore(storybook): script to use local styles in dev
  packages/web-components/package.json
  packages/web-components/update-scss-paths.sh
Labels: dev, Ready to merge, v2: prep

#10914 fix(masthead): empty L1 arrows
  packages/web-components/src/components/masthead/masthead-l1.ts
Labels: bug, package: web components, Ready to merge, Masthead L0/L1 v2

#10962 [DDSVideoPlayerContainerMixin] Customize Kaltura params
  packages/web-components/src/components/video-player/video-player-container.ts
Labels: Feature request, package: web components, adopter: AEM, owner: Innovation Team

#10957 fix(video-player-composite): fix isPlaying boolean
  packages/web-components/src/components/video-player/video-player-composite.ts
Labels: bug, dev, package: web components, Ready to merge, owner: Innovation Team

#10864 Fixed Default language EN
  packages/web-components/src/components/notice-choice/__stories__/README.stories.mdx
  packages/web-components/src/components/notice-choice/__stories__/notice-choice.stories.ts
  packages/web-components/src/components/notice-choice/notice-choice.ts
  packages/web-components/src/components/notice-choice/services.ts
  packages/web-components/src/components/notice-choice/utils.ts
Labels: Ready to merge, test: CDN preview

#10971 fix(carousel): delay instantiation of IntersectionObserver
  packages/web-components/src/components/carousel/carousel.ts
  packages/web-components/tests/e2e-storybook/cypress/integration/carousel/carousel.e2e.js
Labels: package: web components, Ready to merge

#10979 chore(deprecated): remove v1 deprecated components
  docs/dotcom-v2-migration.md
  packages/styles/carbon.yml
  packages/styles/scss/components/content-block-horizontal/_content-block-horizontal.scss
  packages/styles/scss/components/content-group-horizontal/_content-group-horizontal.scss
  packages/styles/scss/components/content-group-horizontal/_index.scss
  packages/styles/scss/components/feature-card-block-large/_feature-card-block-large.scss
  packages/styles/scss/components/feature-card-block-large/_index.scss
  packages/styles/scss/components/feature-card-block-medium/_feature-card-block-medium.scss
  packages/styles/scss/components/feature-card-block-medium/_index.scss
  packages/styles/scss/ibm-dotcom-styles.scss
  packages/styles/scss/internal/content-block/_content-block.scss
  packages/styles/scss/patterns/blocks/content-group-horizontal/_content-group-horizontal.scss
  packages/styles/scss/patterns/sections/card-section-images/_card-section-images.scss
  packages/web-components/carbon.yml
  packages/web-components/examples/codesandbox/components/content-group-horizontal/.babelrc
  packages/web-components/examples/codesandbox/components/content-group-horizontal/.gitignore
  packages/web-components/examples/codesandbox/components/content-group-horizontal/.sassrc
  packages/web-components/examples/codesandbox/components/content-group-horizontal/cdn.html
  packages/web-components/examples/codesandbox/components/content-group-horizontal/index.html
  packages/web-components/examples/codesandbox/components/content-group-horizontal/package.json
  packages/web-components/examples/codesandbox/components/content-group-horizontal/sandbox.config.json
  packages/web-components/examples/codesandbox/components/content-group-horizontal/src/index.js
  packages/web-components/examples/codesandbox/components/content-group-horizontal/src/index.scss
  packages/web-components/src/components/card-group/index.ts
  packages/web-components/src/components/card-section-images/card-section-images.scss
  packages/web-components/src/components/card-section-images/card-section-images.ts
  packages/web-components/src/components/card-section-images/index.ts
  packages/web-components/src/components/content-group-horizontal/content-group-horizontal.ts
  packages/web-components/src/components/content-group-horizontal/index.ts
  packages/web-components/src/components/feature-card-block-large/feature-card-block-large-footer.ts
  packages/web-components/src/components/feature-card-block-large/feature-card-block-large.scss
  packages/web-components/src/components/feature-card-block-large/feature-card-block-large.ts
  packages/web-components/src/components/feature-card-block-large/index.ts
  packages/web-components/src/components/feature-card-block-medium/feature-card-block-medium-block-heading.ts
  packages/web-components/src/components/feature-card-block-medium/feature-card-block-medium.scss
  packages/web-components/src/components/feature-card-block-medium/feature-card-block-medium.ts
  packages/web-components/src/components/feature-card-block-medium/index.ts
  packages/web-components/src/components/scroll-animations/__stories__/scroll-animations.stories.ts
  packages/web-components/tests/cdn-build/app/canary.html
  packages/web-components/tests/cdn-build/app/latest.html
  packages/web-components/tests/cdn-build/app/next.html
  packages/web-components/tests/cdn-build/app/version.html
  packages/web-components/tests/e2e/cypress/integration/content-group-horizontal/content-group-horizontal.cdn.e2e.js
  packages/web-components/tests/e2e/cypress/integration/content-group-horizontal/content-group-horizontal.e2e.js
  thumbnails/card-section-images.svg
  thumbnails/image-with-caption.svg
Labels: package: web components, v2

#10986 fix(masthead): new property for custom nav links
  packages/web-components/src/components/masthead/__stories__/README.stories.mdx
  packages/web-components/src/components/masthead/__stories__/README.stories.react.mdx
  packages/web-components/src/components/masthead/masthead-composite.ts
Labels: package: web components, Ready to merge, v1
