Repository carbon-design-system/carbon-for-ibm-dotcom, pull requests merged in 2023-11, with the labels that each got.

#11081 feat(feature-flags): implement feature flags for cwc
  packages/carbon-web-components/.storybook/manager.js
  packages/carbon-web-components/src/globals/internal/feature-flags.ts
Labels: package: carbon web components, v2, feature flag: cwc

#11071 fix(link-with-icon): refactor LINK_SIZE enum
  packages/carbon-web-components/src/components/link/link.ts
Labels: Ready to merge, hacktoberfest-accepted

#11031 fix(storybook): set dir attribute in storybook for rtl
  packages/web-components/.storybook/preview.ts
  packages/web-components/package.json
  yarn.lock
Labels: RTL, package: web components, Ready to merge, storybook

#11068 feat(content-item): v2 updates
  docs/dotcom-v2-migration.md
  packages/styles/scss/components/expressive-modal/_expressive-modal.scss
  packages/styles/scss/components/footer/_footer.scss
  packages/styles/scss/components/image/_image.scss
  packages/styles/scss/internal/content-item/_content-item.scss
  packages/web-components/examples/codesandbox/components-react/content-item/src/index.js
  packages/web-components/examples/codesandbox/components-react/pictogram-item/.gitignore
  packages/web-components/examples/codesandbox/components-react/pictogram-item/index.html
  packages/web-components/examples/codesandbox/components-react/pictogram-item/package.json
  packages/web-components/examples/codesandbox/components-react/pictogram-item/sandbox.config.json
  packages/web-components/examples/codesandbox/components-react/pictogram-item/src/index.js
  packages/web-components/examples/codesandbox/components-react/pictogram-item/webpack.config.js
  packages/web-components/examples/codesandbox/components/content-item/cdn.html
  packages/web-components/examples/codesandbox/components/content-item/index.html
  packages/web-components/examples/codesandbox/components/pictogram-item/.babelrc
  packages/web-components/examples/codesandbox/components/pictogram-item/.gitignore
  packages/web-components/examples/codesandbox/components/pictogram-item/.sassrc
  packages/web-components/examples/codesandbox/components/pictogram-item/cdn.html
  packages/web-components/examples/codesandbox/components/pictogram-item/index.html
  packages/web-components/examples/codesandbox/components/pictogram-item/package.json
  packages/web-components/examples/codesandbox/components/pictogram-item/sandbox.config.json
  packages/web-components/examples/codesandbox/components/pictogram-item/src/index.js
  packages/web-components/examples/codesandbox/components/pictogram-item/src/index.scss
  packages/web-components/src/components/content-group-pictograms/__stories__/content-group-pictograms.stories.ts
  packages/web-components/src/components/content-item/__stories__/README.stories.mdx
  packages/web-components/src/components/content-item/__stories__/README.stories.react.mdx
  packages/web-components/src/components/content-item/__stories__/content-item.stories.react.tsx
  packages/web-components/src/components/content-item/__stories__/content-item.stories.ts
  packages/web-components/src/components/content-item/content-item.scss
  packages/web-components/src/components/content-item/content-item.ts
  packages/web-components/src/components/content-item/index.ts
  packages/web-components/src/components/cta-block/cta-block-item.ts
  packages/web-components/src/components/cta-section/__stories__/cta-section.stories.ts
  packages/web-components/src/components/pictogram-item/__stories__/README.stories.mdx
  packages/web-components/src/components/pictogram-item/__stories__/README.stories.react.mdx
  packages/web-components/src/components/pictogram-item/__stories__/pictogram-item.stories.react.tsx
  packages/web-components/src/components/pictogram-item/__stories__/pictogram-item.stories.scss
  packages/web-components/src/components/pictogram-item/__stories__/pictogram-item.stories.ts
  packages/web-components/src/components/pictogram-item/__tests__/pictogram-item.test.ts
Labels: package: web components, Needs design approval, v2: prep

#11084 fix(masthead-v2): use more explicit selector in dropdown toggle action
  packages/web-components/src/components/masthead/masthead-l1.ts
Labels: package: web components, adopter: AEM, owner: Innovation Team, :eyes: eyes needed, Masthead L0/L1 v2

#11088 chore(readmes): cleanup for v2
  docs/dotcom-v2-migration.md
  packages/web-components/README.md
  packages/web-components/docs/breaking-changes.md
  packages/web-components/docs/carbon-cdn-style-helpers.md
  packages/web-components/docs/coding-conventions.md
  packages/web-components/docs/contributing-to-web-components.md
  packages/web-components/docs/feature-flags.md
  packages/web-components/docs/markdown-contents.md
  packages/web-components/docs/stable-selectors.md
Labels: package: web components, v2

#10998 feat(masthead-v2): add masthead to document flow
  packages/styles/scss/components/masthead/_masthead.scss
  packages/web-components/src/components/masthead/masthead-composite.ts
Labels: Ready to merge, adopter: AEM, owner: Innovation Team, Masthead L0/L1 v2

#11099 fix(content-group-pictograms): screen reader issue fix
  packages/web-components/src/components/content-group-pictograms/__stories__/content-group-pictograms.stories.ts
Labels: dev, accessibility, package: web components, Ready to merge

#11008 feat(link-list): upgrade to v2 styles
  docs/dotcom-v2-migration.md
  packages/styles/scss/components/card/_card.scss
  packages/styles/scss/components/link-list-section/_index.scss
  packages/styles/scss/components/link-list-section/_link-list-section.scss
  packages/styles/scss/components/link-list/_link-list.scss
  packages/styles/scss/components/link-with-icon/_link-with-icon.scss
  packages/web-components/examples/codesandbox/components-react/link-list/src/index.js
  packages/web-components/examples/codesandbox/components/link-list/cdn.html
  packages/web-components/examples/codesandbox/components/link-list/index.html
  packages/web-components/src/component-mixins/cta/cta-v1.ts
  packages/web-components/src/component-mixins/cta/cta.ts
  packages/web-components/src/components/back-to-top/__stories__/data/content.ts
  packages/web-components/src/components/card-link/card-link.scss
  packages/web-components/src/components/content-block-media/__stories__/README.stories.mdx
  packages/web-components/src/components/content-block-media/__stories__/content-block-media.stories.react.tsx
  packages/web-components/src/components/content-block-media/__stories__/content-block-media.stories.ts
  packages/web-components/src/components/content-block-mixed/__stories__/content-block-mixed.stories.react.tsx
  packages/web-components/src/components/content-block-mixed/__stories__/content-block-mixed.stories.ts
  packages/web-components/src/components/content-block-segmented/__stories__/README.stories.mdx
  packages/web-components/src/components/content-block-segmented/__stories__/content-block-segmented.stories.react.tsx
  packages/web-components/src/components/content-block-segmented/__stories__/content-block-segmented.stories.ts
  packages/web-components/src/components/content-block-simple/__stories__/README.stories.mdx
  packages/web-components/src/components/content-block-simple/__stories__/content-block-simple.stories.ts
  packages/web-components/src/components/cta/__stories__/README.stories.react.mdx
  packages/web-components/src/components/cta/card-cta-footer.ts
  packages/web-components/src/components/cta/index.ts
  packages/web-components/src/components/cta/link-list-item-card-cta.ts
  packages/web-components/src/components/leadspace-block/__stories__/leadspace-block.stories.ts
  packages/web-components/src/components/link-list-section/link-list-section.scss
  packages/web-components/src/components/link-list/__stories__/README.stories.mdx
  packages/web-components/src/components/link-list/__stories__/README.stories.react.mdx
  packages/web-components/src/components/link-list/__stories__/link-list.stories.react.tsx
  packages/web-components/src/components/link-list/__stories__/link-list.stories.ts
  packages/web-components/src/components/link-list/defs.ts
  packages/web-components/src/components/link-list/index.ts
  packages/web-components/src/components/link-list/link-list-item-card.ts
  packages/web-components/src/components/link-list/link-list.scss
  packages/web-components/src/components/link-list/link-list.ts
  packages/web-components/tests/e2e-storybook/cypress/integration/cta/card-link.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/cta/card.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/link-list/default.e2e.js
Labels: package: web components, Needs design approval, v2

#11106 fix(e2e): fix harness for e2e integration tests
  .yarn/cache/commander-npm-11.1.0-56e979613c-fd1a8557c6.zip
  packages/react/gulp-tasks/config.js
  packages/react/package.json
  packages/react/tests/e2e/build/build-examples.js
  packages/react/tests/e2e/build/replace-dependencies.js
  packages/web-components/gulp-tasks/config.js
  packages/web-components/package.json
  packages/web-components/tests/e2e/build/build-examples.js
  packages/web-components/tests/e2e/build/replace-dependencies.js
  tasks/replace-dependencies.js
  yarn.lock
Labels: Ready to merge, test: e2e

#11109 chore(gh): add automerge job for v1 branch
  .github/workflows/automerge-v1.yml
Labels: Ready to merge, github_actions

#11107 chore(docs): update v2 migration docs
  docs/dotcom-v2-migration.md
Labels: documentation, v2

#11103 chore(sass): update style to use math.div
  packages/styles/scss/components/expressive-modal/_expressive-modal.scss
Labels: package: styles

#11006 fix(carousel): update v2 styles and fix broken video cards
  docs/dotcom-v2-migration.md
  packages/styles/scss/components/carousel/_carousel.scss
  packages/styles/scss/components/image/_image.scss
  packages/web-components/examples/codesandbox/components-react/carousel/src/index.js
  packages/web-components/examples/codesandbox/components/carousel/cdn.html
  packages/web-components/examples/codesandbox/components/carousel/index.html
  packages/web-components/src/components/card/__stories__/card.stories.ts
  packages/web-components/src/components/card/card.ts
  packages/web-components/src/components/carousel/__stories__/README.stories.mdx
  packages/web-components/src/components/carousel/__stories__/README.stories.react.mdx
  packages/web-components/src/components/carousel/__stories__/carousel.stories.react.tsx
  packages/web-components/src/components/carousel/__stories__/carousel.stories.ts
  packages/web-components/src/components/carousel/carousel.ts
Labels: package: web components, Needs design approval, v2

#11118 fix(tabs): remove overflow button conditional rendering check
  packages/carbon-web-components/src/components/tabs/tabs.ts
Labels: package: carbon web components, v2

#11085 feat(masthead-v2): Minimize CMApp on megamenu open
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/masthead-contact.ts
  packages/web-components/src/components/masthead/masthead-l1.ts
Labels: package: web components, Ready to merge, adopter: AEM, owner: Innovation Team, Masthead L0/L1 v2

#11110 feat(footer): v2 layout updates
  packages/styles/icons/svg/IBM-8bar-logo--h23-white.svg
  packages/styles/scss/components/footer/_footer-logo.scss
  packages/styles/scss/components/footer/_footer-nav-group.scss
  packages/styles/scss/components/footer/_footer-nav.scss
  packages/styles/scss/components/footer/_footer.scss
  packages/styles/scss/components/footer/_language-selector.scss
  packages/styles/scss/components/footer/_legal-nav.scss
  packages/styles/scss/components/footer/_locale-button.scss
  packages/styles/scss/components/locale-modal/_locale-modal.scss
  packages/web-components/src/components/footer/__stories__/adjunct-links.ts
  packages/web-components/src/components/footer/footer-composite.ts
  packages/web-components/src/components/footer/footer-logo.ts
  packages/web-components/src/components/footer/footer-nav.ts
  packages/web-components/src/components/footer/footer.scss
  packages/web-components/src/components/footer/footer.ts
  packages/web-components/src/components/footer/legal-nav-cookie-preferences-placeholder.ts
  packages/web-components/src/components/footer/legal-nav.ts
  packages/web-components/src/components/link-list/__stories__/link-list.stories.ts
Labels: package: web components, v2: prep

#11129 chore(canary): disable React RTL canary environment deployments
  .github/workflows/deploy-canary.yml
Labels: Ready to merge

#11043 feat(card-group/card-section-offset): v2 updates
  docs/dotcom-v2-migration.md
  packages/styles/scss/components/background-media/_background-media.scss
  packages/styles/scss/components/card-group/_card-group.scss
  packages/styles/scss/components/card-in-card/_card-in-card.scss
  packages/styles/scss/components/card-section-offset/_card-section-offset.scss
  packages/styles/scss/components/video-player/_video-player.scss
  packages/web-components/src/components/card-group/__stories__/README.stories.mdx
  packages/web-components/src/components/card-group/__stories__/README.stories.react.mdx
  packages/web-components/src/components/card-group/__stories__/card-group.stories.react.tsx
  packages/web-components/src/components/card-group/__stories__/card-group.stories.ts
  packages/web-components/src/components/card-group/card-group.scss
  packages/web-components/src/components/card-group/card-group.ts
  packages/web-components/src/components/card-group/defs.ts
  packages/web-components/src/components/card-section-offset/__stories__/README.stories.mdx
  packages/web-components/src/components/card-section-offset/__stories__/README.stories.react.mdx
  packages/web-components/src/components/card-section-offset/__stories__/card-section-offset.stories.react.tsx
  packages/web-components/src/components/card-section-offset/__stories__/card-section-offset.stories.ts
  packages/web-components/src/components/card-section-offset/__tests__/card-section-offset.test.ts
  packages/web-components/src/components/card-section-offset/card-section-offset.ts
Labels: package: web components, v2

#11120 feat(quote): remove color-scheme
  docs/dotcom-v2-migration.md
  packages/styles/scss/components/quote/_quote.scss
  packages/web-components/src/components/quote/__stories__/README.stories.react.mdx
  packages/web-components/src/components/quote/__stories__/quote.stories.react.tsx
  packages/web-components/src/components/quote/__stories__/quote.stories.ts
  packages/web-components/src/components/quote/defs.ts
  packages/web-components/src/components/quote/quote.ts
Labels: package: web components, v2

#11145 fix(video-player): v2 alignment
  packages/styles/scss/components/video-player/_video-player.scss
Labels: package: web components, v2

#11030 fix(carousel): carousel rtl fixes
  packages/styles/scss/components/carousel/_carousel.scss
  packages/web-components/src/components/carousel/__tests__/carousel.test.ts
  packages/web-components/src/components/carousel/carousel.ts
  packages/web-components/tests/snapshots/dds-carousel.md
Labels: bug, dev, RTL, package: web components, Ready to merge, owner: Innovation Team

#10744 feat(feature-card): enable color scheme selection
  docs/dotcom-v2-migration.md
  packages/styles/scss/components/card/_card.scss
  packages/styles/scss/components/feature-card/_feature-card.scss
  packages/web-components/src/components/feature-card/__stories__/feature-card.stories.ts
  packages/web-components/src/components/feature-card/feature-card.scss
Labels: package: web components, Needs design approval, v2

#11157 chore(merge): merge `feat/cwc-v2` into `feat/carbon-for-ibm-dotcom-v2`
  lerna.json
  packages/carbon-web-components/examples/codesandbox/basic/components/slug/.babelrc
  packages/carbon-web-components/examples/codesandbox/basic/components/slug/.gitignore
  packages/carbon-web-components/examples/codesandbox/basic/components/slug/.sassrc
  packages/carbon-web-components/examples/codesandbox/basic/components/slug/cdn.html
  packages/carbon-web-components/examples/codesandbox/basic/components/slug/index.html
  packages/carbon-web-components/examples/codesandbox/basic/components/slug/package.json
  packages/carbon-web-components/examples/codesandbox/basic/components/slug/sandbox.config.json
  packages/carbon-web-components/examples/codesandbox/basic/components/slug/src/index.js
  packages/carbon-web-components/examples/codesandbox/basic/components/slug/src/styles.scss
  packages/carbon-web-components/package.json
  packages/carbon-web-components/src/components/copy-button/copy-button.scss
  packages/carbon-web-components/src/components/icon-button/icon-button.scss
  packages/carbon-web-components/src/components/popover/popover.scss
  packages/carbon-web-components/src/components/slug/defs.ts
  packages/carbon-web-components/src/components/slug/index.ts
  packages/carbon-web-components/src/components/slug/slug-action-button.ts
  packages/carbon-web-components/src/components/slug/slug-story.scss
  packages/carbon-web-components/src/components/slug/slug-story.ts
  packages/carbon-web-components/src/components/slug/slug.scss
  packages/carbon-web-components/src/components/slug/slug.ts
  packages/carbon-web-components/src/components/toggle-tip/toggletip.scss
  packages/carbon-web-components/src/components/toggle-tip/toggletip.ts
  packages/eslint-config-ibmdotcom/package.json
  packages/eslint-plugin-ibmdotcom-import-rules/package.json
  packages/eslint-plugin-react-prop-type-comments/package.json
  packages/services-store/package.json
  packages/services/package.json
  packages/storybook-addon-theme/package.json
  packages/stylelint-config-ibmdotcom/package.json
  packages/styles/package.json
  packages/utilities/package.json
  packages/web-components/package.json
  yarn.lock
Labels: package: web components, package: carbon web components, v2

#11158 chore(gh-workflows): update gh workflows for `v1` branch
  .github/workflows/automerge-content-updates.yml
  .github/workflows/automerge-cwc-v2.yml
  .github/workflows/automerge-mastheadv2.yml
  .github/workflows/automerge-storybook-controls.yml
  .github/workflows/automerge-v1.yml
  .github/workflows/automerge.yml
  .github/workflows/check-cdn.yml
  .github/workflows/ci-check.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependabot-yarn-mirror.yml
  .github/workflows/deploy-masthead-v2.yml
  .github/workflows/deploy-next.yml
  .github/workflows/deploy-v1-next.yml
  .github/workflows/e2e-integration.yml
  .github/workflows/e2e-tests-browserstack-canary.yml
  .github/workflows/e2e-tests-browserstack-next.yml
  .github/workflows/e2e-tests-parallel.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/percy-update-base.yml
  .github/workflows/publish-alpha.yml
  .github/workflows/publish-canary-cdn.yml
  .github/workflows/publish-canary.yml
  .github/workflows/publish-nightly.yml
  .github/workflows/publish-staging.yml
  .github/workflows/publish-v2alpha-cdn.yml
  .github/workflows/snapshot-update.yml
Labels: github_actions, v1

#11170 chore(gulp): fix spread import path
  packages/web-components/gulp-tasks/build/modules/icons.js
Labels: package: web components
