Repository carbon-design-system/carbon-for-ibm-dotcom, pull requests merged in 2023-05, with the labels that each got.

#10401 feat(overflow-menu): sync with @carbon/react v11
  packages/carbon-web-components/.storybook/_container.scss
  packages/carbon-web-components/.storybook/container.ts
  packages/carbon-web-components/src/components/copy/copy.ts
  packages/carbon-web-components/src/components/floating-menu/defs.ts
  packages/carbon-web-components/src/components/floating-menu/floating-menu-trigger.ts
  packages/carbon-web-components/src/components/floating-menu/floating-menu.ts
  packages/carbon-web-components/src/components/icon-button/icon-button.ts
  packages/carbon-web-components/src/components/overflow-menu/defs.ts
  packages/carbon-web-components/src/components/overflow-menu/overflow-menu-body.ts
  packages/carbon-web-components/src/components/overflow-menu/overflow-menu-item.ts
  packages/carbon-web-components/src/components/overflow-menu/overflow-menu-story.mdx
  packages/carbon-web-components/src/components/overflow-menu/overflow-menu-story.ts
  packages/carbon-web-components/src/components/overflow-menu/overflow-menu.scss
  packages/carbon-web-components/src/components/overflow-menu/overflow-menu.ts
  packages/carbon-web-components/src/components/text-input/defs.ts
  packages/carbon-web-components/src/components/text-input/text-input.ts
  packages/carbon-web-components/tests/spec/overflow-menu_spec.ts
Labels: package: carbon web components, v2: prep

#10370 chore(gh): clean up ci-check workflow
  .yarn/cache/@babel-compat-data-npm-7.21.4-6e6abd0eab-5f8b98c66f.zip
  .yarn/cache/@babel-helper-compilation-targets-npm-7.21.4-0264973d6a-bf9c7d3e7e.zip
  .yarn/cache/@babel-plugin-transform-react-constant-elements-npm-7.21.3-d44daed759-1ca5cfaa65.zip
  .yarn/cache/@babel-preset-env-npm-7.21.4-7df9608121-1e328674c4.zip
  .yarn/cache/@babel-types-npm-7.21.4-ee756f419d-587bc55a91.zip
  .yarn/cache/@svgr-babel-plugin-add-jsx-attribute-npm-5.4.0-7f1e614ce1-1c538cf312.zip
  .yarn/cache/@svgr-babel-plugin-remove-jsx-attribute-npm-5.4.0-81b60827fa-ad2231bfcb.zip
  .yarn/cache/@svgr-babel-plugin-remove-jsx-empty-expression-npm-5.0.1-61d6aef206-175c8f13dd.zip
  .yarn/cache/@svgr-babel-plugin-replace-jsx-attribute-value-npm-5.0.1-b13516ed13-68f4e2a5b9.zip
  .yarn/cache/@svgr-babel-plugin-svg-dynamic-title-npm-5.4.0-6e508e9c0a-c46feb5245.zip
  .yarn/cache/@svgr-babel-plugin-svg-em-dimensions-npm-5.4.0-0229e38da4-0d19b26147.zip
  .yarn/cache/@svgr-babel-plugin-transform-react-native-svg-npm-5.4.0-62f0a6e8dc-8ac5dc9fb2.zip
  .yarn/cache/@svgr-babel-plugin-transform-svg-component-npm-5.5.0-82fe1aa0d7-94c3fed490.zip
  .yarn/cache/@svgr-babel-preset-npm-5.5.0-0c81dfc2a6-5d396c4499.zip
  .yarn/cache/@svgr-core-npm-5.5.0-7d395fbcff-39b230151e.zip
  .yarn/cache/@svgr-hast-util-to-babel-ast-npm-5.5.0-fef404b2de-a03c1c7ab9.zip
  .yarn/cache/@svgr-plugin-jsx-npm-5.5.0-987cc347ac-e053f8dd6b.zip
  .yarn/cache/@svgr-plugin-svgo-npm-5.5.0-e165085f83-bef5d09581.zip
  .yarn/cache/@svgr-webpack-npm-5.5.0-0d3ac09bc6-540391bd63.zip
  .yarn/cache/svg-parser-npm-2.0.4-1b0b6afbe9-b3de665304.zip
  packages/carbon-web-components/tests/snapshots/cds-button.md
  packages/carbon-web-components/tests/snapshots/cds-checkbox.md
  packages/carbon-web-components/tests/snapshots/cds-code-snippet.md
  packages/carbon-web-components/tests/snapshots/cds-copy-button.md
  packages/carbon-web-components/tests/snapshots/cds-inline-notification.md
  packages/carbon-web-components/tests/snapshots/cds-number-input.md
  packages/carbon-web-components/tests/snapshots/cds-search.md
  packages/carbon-web-components/tests/snapshots/cds-select.md
  packages/carbon-web-components/tests/snapshots/cds-slider.md
  packages/carbon-web-components/tests/snapshots/cds-text-input.md
  packages/carbon-web-components/tests/snapshots/cds-textarea.md
  packages/carbon-web-components/tests/snapshots/data-table.md
  packages/web-components/.storybook/main.js
  packages/web-components/package.json
  packages/web-components/src/components/locale-modal/__tests__/locale-search.test.ts
  packages/web-components/src/components/masthead/__tests__/megamenu-top-nav-menu.test.ts
  packages/web-components/tests/karma.conf.js
  packages/web-components/tests/snapshots/dds-card-cta-footer.md
  packages/web-components/tests/snapshots/dds-card-cta.md
  packages/web-components/tests/snapshots/dds-content-block-card-static.md
  packages/web-components/tests/snapshots/dds-feature-cta.md
  packages/web-components/tests/snapshots/dds-footer-logo.md
  packages/web-components/tests/snapshots/dds-footer-nav-item.md
  packages/web-components/tests/snapshots/dds-link-with-icon.md
  packages/web-components/tests/snapshots/dds-locale-item.md
  packages/web-components/tests/snapshots/dds-locale-search.md
  packages/web-components/tests/snapshots/dds-masthead-logo.md
  packages/web-components/tests/snapshots/dds-region-item.md
  packages/web-components/tests/snapshots/dds-text-cta.md
  packages/web-components/tests/snapshots/dds-video-player.md
  yarn.lock
Labels: package: web components, dependencies

#10418 chore(release): merge release/v1.46.0 to main
  packages/carbon-web-components/CHANGELOG.md
  packages/carbon-web-components/package.json
  packages/eslint-config-ibmdotcom/CHANGELOG.md
  packages/eslint-config-ibmdotcom/package.json
  packages/eslint-plugin-ibmdotcom-import-rules/CHANGELOG.md
  packages/eslint-plugin-ibmdotcom-import-rules/package.json
  packages/eslint-plugin-react-prop-type-comments/CHANGELOG.md
  packages/eslint-plugin-react-prop-type-comments/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/services-store/CHANGELOG.md
  packages/services-store/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
  packages/storybook-addon-theme/CHANGELOG.md
  packages/storybook-addon-theme/package.json
  packages/stylelint-config-ibmdotcom/CHANGELOG.md
  packages/stylelint-config-ibmdotcom/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  yarn.lock
Labels: Ready to merge

#10408 fix(sticky-header): table-of-contents positioning
  packages/utilities/src/utilities/StickyHeader/StickyHeader.js
  packages/web-components/src/components/table-of-contents/table-of-contents.ts
  packages/web-components/tests/snapshots/dds-table-of-contents.md
Labels: package: utilities, package: web components, Ready to merge, adopter: AEM, owner: Innovation Team, :eyes: eyes needed

#10227 fix(video-player): account for video players in shadowroots
  packages/web-components/examples/codesandbox/components/tabs-extended-media/index.html
  packages/web-components/examples/codesandbox/components/tabs-extended-media/src/index.js
  packages/web-components/src/components/video-player/video-player-container.ts
  packages/web-components/src/components/video-player/video-player.ts
Labels: package: web components, Ready to merge, test: e2e

#10430 fix(masthead): remove cm-app init as minimize workaround
  packages/web-components/src/components/masthead/megamenu-top-nav-menu.ts
Labels: severity 1, package: web components, adopter: AEM, owner: Innovation Team, Masthead L0/L1 v2

#10442 chore(notice-choice): remove react wrapper causing build errors
  packages/web-components/src/components/notice-choice/notice-choice.ts
Labels: bug, package: web components, Ready to merge

#10444 chore(notice-choice): remove react wrapper causing build errors (#10442)
  packages/web-components/src/components/notice-choice/notice-choice.ts
Labels: package: web components, Ready to merge

#10350 feat: sync v11 structured list component
  packages/carbon-web-components/.storybook/_container.scss
  packages/carbon-web-components/src/components/structured-list/structured-list-story.scss
  packages/carbon-web-components/src/components/structured-list/structured-list-story.ts
  packages/carbon-web-components/src/components/structured-list/structured-list.scss
  packages/carbon-web-components/src/components/structured-list/structured-list.ts
  packages/carbon-web-components/tests/spec/structured-list_spec.ts
Labels: package: carbon web components

#10475 fix(unit-tests): fix uncaught typescript errors
  packages/web-components/src/components/locale-modal/locale-modal.ts
  packages/web-components/src/components/video-player/__tests__/video-player-container.test.ts
  packages/web-components/src/components/video-player/video-player.ts
  packages/web-components/tests/mocks/KalturaPlayerAPI.ts
  packages/web-components/tests/snapshots/dds-card-cta.md
  packages/web-components/tests/snapshots/dds-content-block-card-static.md
Labels: package: web components, Ready to merge, owner: Innovation Team

#10469 feat(table-of-contents): add self-filtering functionality
  packages/web-components/src/components/table-of-contents/table-of-contents.ts
Labels: package: web components, Ready to merge, adopter: AEM, owner: AEM, owner: Innovation Team

#10450 feat(image): add 'default-image' ::part
  packages/web-components/src/components/image/image.scss
  packages/web-components/src/components/image/image.ts
  packages/web-components/tests/snapshots/dds-image.md
Labels: package: web components, Ready to merge, adopter: AEM, owner: AEM, owner: Innovation Team

#10478 fix(masthead): fixes `has-search` toggle
  packages/web-components/src/components/masthead/__stories__/masthead.stories.react.tsx
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/search-with-typeahead/search-with-typeahead.ts
  packages/web-components/tests/snapshots/dds-search-with-typeahead.md
Labels: package: web components, Ready to merge

#10439 fix(masthead-v2): use correct e2e test paths
  packages/web-components/src/components/masthead/megamenu-top-nav-menu.ts
  packages/web-components/tests/e2e-storybook/cypress/integration/masthead/masthead-authenticated.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/masthead/masthead-default.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/masthead/masthead-l1.e2e.js
Labels: package: web components, owner: Innovation Team, :eyes: eyes needed, Masthead L0/L1 v2

#10440 fix(bx-header-menu): add button role
  packages/carbon-web-components/src/components/ui-shell/header-menu.ts
Labels: bug, severity 3, Ready to merge, package: carbon web components, adopter: AEM, owner: AEM, owner: Innovation Team, :eyes: eyes needed

#10448 chore(deps): update yarn to v3.5.1
  .yarn/releases/yarn-3.5.0.cjs
  .yarn/releases/yarn-3.5.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Labels: Ready to merge, dependencies

#10451 fix(structured-list): Ensure group header text can go full width
  packages/styles/scss/components/structured-list/_structured-list.scss
  packages/web-components/src/components/structured-list/__stories__/structured-list.stories.ts
Labels: package: web components, Ready to merge, owner: Innovation Team, Needs design approval, :eyes: eyes needed

#10505 fix(ipcInfo): set encoding for ipcinfoCookie
  packages/utilities/src/utilities/ipcinfoCookie/__tests__/ipcinfoCookie.test.js
  packages/utilities/src/utilities/ipcinfoCookie/ipcinfoCookie.js
Labels: package: utilities, Ready to merge

#10523 fix(masthead-l1): fix focusout logic
  packages/web-components/src/components/masthead/masthead-l1.ts
Labels: package: web components, adopter: AEM, owner: AEM, owner: Innovation Team, type: bug 🐛, Masthead L0/L1 v2
