Repository carbon-design-system/carbon-for-ibm-dotcom, pull requests merged in 2023-06, with the labels that each got.

#10466 feat(code-snippet): sync with @carbon/react v11
  packages/carbon-web-components/src/components/button/button.scss
  packages/carbon-web-components/src/components/code-snippet/code-snippet-skeleton.ts
  packages/carbon-web-components/src/components/code-snippet/code-snippet-story.ts
  packages/carbon-web-components/src/components/code-snippet/code-snippet.scss
  packages/carbon-web-components/src/components/code-snippet/code-snippet.ts
  packages/carbon-web-components/src/components/copy-button/copy-button.scss
  packages/carbon-web-components/src/components/copy-button/copy-button.ts
  packages/carbon-web-components/src/components/copy/copy.ts
  packages/carbon-web-components/src/components/date-picker/date-picker-story.ts
  packages/carbon-web-components/tests/spec/code-snippet_spec.ts
Labels: package: carbon web components, v2: prep

#10504 feat(masthead-l1): Removing the has pseudo-class
  packages/styles/scss/components/masthead/_masthead-l1.scss
  packages/web-components/src/components/masthead/masthead-l1.ts
Labels: package: web components, adopter: AEM, owner: AEM, owner: Innovation Team, Masthead L0/L1 v2

#10528 chore(jest): update cwc snapshots
  packages/carbon-web-components/package.json
  packages/carbon-web-components/tests/snapshots/bx-btn.md
  packages/carbon-web-components/tests/snapshots/bx-checkbox.md
  packages/carbon-web-components/tests/snapshots/bx-code-snippet.md
  packages/carbon-web-components/tests/snapshots/bx-combo-box.md
  packages/carbon-web-components/tests/snapshots/bx-copy-button.md
  packages/carbon-web-components/tests/snapshots/bx-dropdown.md
  packages/carbon-web-components/tests/snapshots/bx-inline-loading.md
  packages/carbon-web-components/tests/snapshots/bx-inline-notification.md
  packages/carbon-web-components/tests/snapshots/bx-input.md
  packages/carbon-web-components/tests/snapshots/bx-link.md
  packages/carbon-web-components/tests/snapshots/bx-multi-select.md
  packages/carbon-web-components/tests/snapshots/bx-number-input.md
  packages/carbon-web-components/tests/snapshots/bx-pagination.md
  packages/carbon-web-components/tests/snapshots/bx-progress-step.md
  packages/carbon-web-components/tests/snapshots/bx-radio-button.md
  packages/carbon-web-components/tests/snapshots/bx-search.md
  packages/carbon-web-components/tests/snapshots/bx-select.md
  packages/carbon-web-components/tests/snapshots/bx-slider.md
  packages/carbon-web-components/tests/snapshots/bx-textarea.md
  packages/carbon-web-components/tests/snapshots/bx-toggle.md
  packages/carbon-web-components/tests/snapshots/bx-tooltip-definition.md
  packages/carbon-web-components/tests/snapshots/bx-tooltip-icon.md
  packages/carbon-web-components/tests/snapshots/ui-shell.md
Labels: Ready to merge, package: carbon web components

#10540 fix(input): autocomplete property
  packages/carbon-web-components/src/components/input/input.ts
Labels: Ready to merge, package: carbon web components

#10511 fix(modal): small screen view
  packages/carbon-web-components/package.tgz
  packages/carbon-web-components/src/components/modal/modal.scss
Labels: Ready to merge, package: carbon web components

#10547 fix(geolocation): remove geolocation utility, replace with new DDO service method - getLocation
  packages/react/.env.example
  packages/services/src/services/DDO/DDO.js
  packages/services/src/services/DDO/__tests__/DDO.test.js
  packages/services/src/services/DDO/__tests__/data/response.json
  packages/services/src/services/Locale/Locale.js
  packages/services/src/services/Locale/__tests__/Locale.test.js
  packages/utilities/carbon.yml
  packages/utilities/src/utilities/geolocation/__tests__/geolocation.test.js
  packages/utilities/src/utilities/geolocation/geolocation.js
  packages/utilities/src/utilities/geolocation/index.js
  packages/utilities/src/utilities/index.js
  packages/web-components/.env.example
Labels: package: services, package: utilities, Ready to merge

#10541 Adjust the handling of videoThumbnailUrl property to avoid small images from Kaltura API
  packages/web-components/src/component-mixins/cta/video.ts
  packages/web-components/src/components/cta/cta.ts
  packages/web-components/src/components/cta/video-cta-composite.ts
Labels: bug, severity 3, dev, package: web components, Ready to merge, adopter: AEM, owner: AEM, owner: Innovation Team

#10549 chore(docs): add release schedule
  docs/release-schedule.md
Labels: documentation, Ready to merge

#10507 feat(progress-indicator): sync with v11
  packages/carbon-web-components/src/components/progress-indicator/progress-indicator-skeleton.ts
  packages/carbon-web-components/src/components/progress-indicator/progress-indicator-story.ts
  packages/carbon-web-components/src/components/progress-indicator/progress-indicator.scss
  packages/carbon-web-components/src/components/progress-indicator/progress-indicator.ts
  packages/carbon-web-components/src/components/progress-indicator/progress-step-skeleton.ts
  packages/carbon-web-components/src/components/progress-indicator/progress-step.ts
  packages/carbon-web-components/tests/spec/progress-indicator_spec.ts
Labels: package: carbon web components

#10556 chore(build): cherry pick fixes for wc tests
  packages/web-components/src/components/locale-modal/locale-modal.ts
  packages/web-components/src/components/video-player/__tests__/video-player-container.test.ts
  packages/web-components/src/components/video-player/video-player.ts
  packages/web-components/tests/mocks/KalturaPlayerAPI.ts
  packages/web-components/tests/snapshots/dds-card-cta.md
  packages/web-components/tests/snapshots/dds-content-block-card-static.md
Labels: housekeeping

#10582 chore(node): update component exports
  packages/carbon-web-components/package.json
Labels: package: carbon web components

#10472 feat(content-switcher): implement icon-only variant and sync with v11
  packages/carbon-web-components/src/components/content-switcher/content-switcher-item.ts
  packages/carbon-web-components/src/components/content-switcher/content-switcher-story.ts
  packages/carbon-web-components/src/components/content-switcher/content-switcher.scss
  packages/carbon-web-components/src/components/content-switcher/content-switcher.ts
  packages/carbon-web-components/src/components/tabs/tab.ts
  packages/carbon-web-components/src/components/tabs/tabs.ts
  packages/carbon-web-components/tests/spec/content-switcher_spec.ts
Labels: package: carbon web components

#10590 chore(package): bump cwc package version
  packages/carbon-web-components/package.json
Labels: package: carbon web components

#10588 fix(masthead): Esc to close Cloud Masthead (#10555)
  packages/carbon-web-components/src/components/ui-shell/header-menu.ts
  packages/web-components/src/components/masthead/megamenu-top-nav-menu.ts
  packages/web-components/src/components/masthead/top-nav-menu.ts
Labels: package: web components, Ready to merge

#10583 fix(leaving-ibm): update body content padding
  packages/web-components/src/components/leaving-ibm/leaving-ibm.scss
Labels: package: web components, Ready to merge

#10594 chore(deps): bump package version beta 5
  packages/carbon-web-components/package.json
Labels: package: carbon web components

#10550 feat(pricing-table): support combined checkmark with copy
  packages/styles/scss/components/pricing-table/_pricing-table.scss
  packages/styles/scss/components/structured-list/_structured-list.scss
  packages/web-components/src/components/pricing-table/__stories__/pricing-table.stories.ts
  packages/web-components/src/components/structured-list/__stories__/structured-list.stories.ts
  packages/web-components/src/components/structured-list/structured-list-cell.ts
Labels: feature flag, package: web components, Ready to merge, owner: Innovation Team

#10595 feat(pricing-table): support combined checkmark with copy (#10550)
  packages/styles/scss/components/pricing-table/_pricing-table.scss
  packages/styles/scss/components/structured-list/_structured-list.scss
  packages/web-components/src/components/pricing-table/__stories__/pricing-table.stories.ts
  packages/web-components/src/components/structured-list/__stories__/structured-list.stories.ts
  packages/web-components/src/components/structured-list/structured-list-cell.ts
Labels: package: web components, Ready to merge

#10562 feat(tabs): implement overflow tabs and sync with v11
  packages/carbon-web-components/src/components/tabs/defs.ts
  packages/carbon-web-components/src/components/tabs/tab-skeleton.ts
  packages/carbon-web-components/src/components/tabs/tab.ts
  packages/carbon-web-components/src/components/tabs/tabs-skeleton.ts
  packages/carbon-web-components/src/components/tabs/tabs-story.scss
  packages/carbon-web-components/src/components/tabs/tabs-story.ts
  packages/carbon-web-components/src/components/tabs/tabs.scss
  packages/carbon-web-components/src/components/tabs/tabs.ts
  packages/carbon-web-components/tests/spec/content-switcher_spec.ts
  packages/carbon-web-components/tests/spec/tabs_spec.ts
Labels: package: carbon web components

#10608 fix(multi-select): move filterable attribute out of scope for styles
  packages/carbon-web-components/src/components/multi-select/multi-select.scss
Labels: Ready to merge, package: carbon web components
