Repository carbon-design-system/carbon-for-ibm-dotcom, pull requests merged in 2023-07, with the labels that each got.

#10619 fix(masthead-v2): prevent text overflow in L1 dropdown items
  packages/styles/scss/components/masthead/_masthead-l1.scss
  packages/web-components/src/components/masthead/masthead-l1.ts
  packages/web-components/tests/e2e-storybook/cypress/integration/masthead/masthead-default.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/masthead/masthead-l1.e2e.js
Labels: package: styles, package: web components, adopter: AEM, owner: Innovation Team, :eyes: eyes needed

#10601 fix(card-link): make card link width match card-group
  packages/styles/scss/internal/content-block/_content-block.scss
  packages/web-components/src/components/card-link/card-link.scss
  packages/web-components/src/components/content-block/content-block.scss
  packages/web-components/src/components/content-block/content-block.ts
  packages/web-components/src/components/content-group-simple/content-group-simple.scss
  packages/web-components/tests/snapshots/dds-callout-with-media.md
  packages/web-components/tests/snapshots/dds-content-block-cards.md
  packages/web-components/tests/snapshots/dds-content-block-headlines.md
  packages/web-components/tests/snapshots/dds-content-block-horizontal.md
  packages/web-components/tests/snapshots/dds-content-block-media.md
  packages/web-components/tests/snapshots/dds-content-block-segmented.md
  packages/web-components/tests/snapshots/dds-content-block-simple.md
  packages/web-components/tests/snapshots/dds-content-group-banner.md
  packages/web-components/tests/snapshots/dds-content-group-cards.md
  packages/web-components/tests/snapshots/dds-content-group-simple.md
  packages/web-components/tests/snapshots/dds-masthead-composite.md
Labels: package: web components, Ready to merge

#10605 fix(sticky-header): do not consider vertical ToC height in calculations
  packages/utilities/src/utilities/StickyHeader/StickyHeader.js
Labels: package: utilities, Ready to merge, adopter: AEM, owner: Innovation Team, :eyes: eyes needed

#10603 fix(date-picker): prevent range inputs from clearing prematurely
  .yarn/cache/flatpickr-npm-4.6.13-06399933fc-2cca1b8dc9.zip
  .yarn/cache/flatpickr-patch-9090094964-0a74c04560.zip
  .yarn/patches/flatpickr-npm-4.6.13-06399933fc.patch
  package.json
  packages/carbon-web-components/package.json
  packages/carbon-web-components/src/components/date-picker/focus-plugin.ts
  packages/carbon-web-components/src/components/date-picker/range-plugin.ts
  yarn.lock
Labels: Ready to merge, package: carbon web components

#10614 fix(button): add the missed `slot="icon"` styles
  packages/carbon-web-components/src/components/button/button.scss
Labels: package: carbon web components, v2

#10651 fix(e2e): clear failure files before running tests
  .github/workflows/e2e-tests-parallel.yml
Labels: Ready to merge

#10652 fix(buttons): added missing aria-labels for tooltip-buttons
  packages/carbon-web-components/src/components/button/button.ts
  packages/carbon-web-components/src/components/code-snippet/code-snippet-story.ts
  packages/carbon-web-components/src/components/code-snippet/code-snippet.ts
  packages/carbon-web-components/src/components/copy-button/copy-button.ts
  packages/carbon-web-components/src/components/copy/copy.ts
  packages/carbon-web-components/src/components/icon-button/icon-button.ts
  packages/carbon-web-components/src/components/overflow-menu/overflow-menu.ts
  packages/carbon-web-components/src/components/tooltip/tooltip-story.mdx
  packages/carbon-web-components/src/components/tooltip/tooltip-story.ts
  packages/carbon-web-components/src/components/tooltip/tooltip.ts
Labels: package: carbon web components, v2

#10622 fix(breadcrumb): remove the unexpected margin
  packages/carbon-web-components/src/components/breadcrumb/breadcrumb.scss
Labels: package: carbon web components, v2

#10649 fix(ui-shell): keep side-nav-menu open when on focusout
  packages/carbon-web-components/src/components/ui-shell/side-nav.ts
Labels: package: carbon web components, v2: prep

#10591 chore: update docs links
  packages/web-components/src/components/background-media/__stories__/README.stories.react.mdx
  packages/web-components/src/components/callout-with-media/__stories__/README.stories.react.mdx
  packages/web-components/src/components/content-block-horizontal/__stories__/README.stories.react.mdx
  packages/web-components/src/components/content-block/__stories__/README.stories.react.mdx
  packages/web-components/src/components/content-group/__stories__/README.stories.react.mdx
  packages/web-components/src/components/content-item/__stories__/README.stories.react.mdx
  packages/web-components/src/components/content-section/__stories__/README.stories.react.mdx
  packages/web-components/src/components/expressive-modal/__stories__/README.stories.react.mdx
  packages/web-components/src/components/feature-card/__stories__/README.stories.react.mdx
  packages/web-components/src/components/logo-grid/__stories__/README.stories.react.mdx
  packages/web-components/src/components/masthead/__stories__/README.stories.react.mdx
  packages/web-components/src/components/pricing-table/__stories__/README.stories.mdx
  packages/web-components/src/components/structured-list/__stories__/README.stories.mdx
  packages/web-components/src/components/structured-list/__stories__/README.stories.react.mdx
Labels: documentation, Ready to merge

#10680 chore(deps): bump cwc-v2 to rc.2
  packages/carbon-web-components/package.json
Labels: package: carbon web components, v2

#10678 fix(components): add styles to remove fouc
  packages/web-components/src/globals/mixins/stable-selector.ts
Labels: package: web components, Ready to merge

#10681 chore(gulp): fix gulp watch
  packages/styles/gulp/tasks/watch.js
Labels: package: styles, Ready to merge

#10663 fix(storybook): wc update with node-options
  packages/web-components/package.json
Labels: Ready to merge

#10700 fix(masthead): firstupdated user-status is authenticated
  packages/web-components/src/components/masthead/masthead-composite.ts
Labels: package: web components, Ready to merge

#10703 feat(ui-shell): add `target` and `rel` properties to links
  packages/carbon-web-components/src/components/ui-shell/header-nav-item.ts
  packages/carbon-web-components/src/components/ui-shell/side-nav-link.ts
Labels: Ready to merge, package: carbon web components, v2

#10708 fix(ghost-button): icon alignment for larger sizes
  packages/carbon-web-components/src/components/button/button.scss
Labels: package: carbon web components, v2: prep

#10713 chore(gh): deploy `rc` to gh-pages
  .github/workflows/deploy-cwc-v2-rc.yml
Labels: package: carbon web components

#10714 fix(ui-shell): global action button popover visibility
  packages/carbon-web-components/src/components/ui-shell/header.scss
  packages/carbon-web-components/src/components/ui-shell/ui-shell-story.ts
Labels: package: carbon web components, v2: prep

#10606 chore(deprecate): v2 components being removed or consolidated
  docs/dotcom-v2-migration.md
  packages/web-components/src/components/button/button.ts
  packages/web-components/src/components/card-group/card-group-card-link-item.ts
  packages/web-components/src/components/card-link/card-link.ts
  packages/web-components/src/components/card-section-carousel/card-section-carousel.ts
  packages/web-components/src/components/card-section-simple/card-section-simple.ts
  packages/web-components/src/components/content-block-cards/content-block-cards.ts
  packages/web-components/src/components/content-block-horizontal/content-block-horizontal.ts
  packages/web-components/src/components/content-block-media/content-block-media-content.ts
  packages/web-components/src/components/content-block-media/content-block-media.ts
  packages/web-components/src/components/content-block-mixed/content-block-mixed.ts
  packages/web-components/src/components/content-block-segmented/content-block-segmented-item.ts
  packages/web-components/src/components/content-block-segmented/content-block-segmented.ts
  packages/web-components/src/components/content-block-simple/content-block-simple.ts
  packages/web-components/src/components/content-group-cards/content-group-cards-item.ts
  packages/web-components/src/components/content-group-cards/content-group-cards.ts
  packages/web-components/src/components/content-group-pictograms/content-group-pictograms.ts
  packages/web-components/src/components/content-group-simple/content-group-simple.ts
  packages/web-components/src/components/cta-block/cta-block-item-row.ts
  packages/web-components/src/components/cta-block/cta-block-item.ts
  packages/web-components/src/components/cta-block/cta-block.ts
  packages/web-components/src/components/cta-section/cta-section.ts
  packages/web-components/src/components/link-list-section/link-list-section.ts
  packages/web-components/src/components/logo-grid/logo-grid-item.ts
  packages/web-components/src/components/logo-grid/logo-grid-link.ts
  packages/web-components/src/components/logo-grid/logo-grid.ts
  packages/web-components/src/components/pictogram-item/pictogram-item.ts
  packages/web-components/src/components/tabs-extended-media/tabs-extended-media.ts
Labels: package: web components, Ready to merge, v2: prep

#10718 docs(migration): add migration doc for cwc v2
  docs/cwc-v2-migration.md
Labels: package: carbon web components, v2

#10720 chore(e2e): disable cta-block e2e
  packages/web-components/tests/e2e-storybook/cypress/integration/cta-block/cta-block.e2e.js
Labels: package: web components, Ready to merge

#10712 fix: add carbon sass import updater
  packages/carbon-web-components/package.json
  packages/carbon-web-components/tools/fix-carbon-sass-imports.js
Labels: Ready to merge, package: carbon web components

#10729 fix(fouc): add to documentation
  packages/web-components/README.md
  packages/web-components/src/globals/mixins/stable-selector.ts
Labels: package: web components, Ready to merge

#10740 fix(script): remove postinstall script and add import script to package.json files
  packages/carbon-web-components/package.json
Labels: package: carbon web components, v2

#10739 fix(ui-shell): adjust header-global-action button to expand switcher panel
  packages/carbon-web-components/src/components/ui-shell/header-global-action.ts
  packages/carbon-web-components/src/components/ui-shell/ui-shell-story.ts
Labels: package: carbon web components, v2

#10762 fix(tabs-extended): deprecate orientation prop
  packages/web-components/src/components/tabs-extended/tabs-extended.ts
Labels: package: web components, Ready to merge, v2: prep

#10758 fix(cwc-v2): fix styles and theme examples
  packages/carbon-web-components/.storybook/_container.scss
  packages/carbon-web-components/docs/styling-story.mdx
  packages/carbon-web-components/docs/styling.md
  packages/carbon-web-components/examples/codesandbox/styling/theme-zoning/.babelrc
  packages/carbon-web-components/examples/codesandbox/styling/theme-zoning/.gitignore
  packages/carbon-web-components/examples/codesandbox/styling/theme-zoning/.sassrc
  packages/carbon-web-components/examples/codesandbox/styling/theme-zoning/index.html
  packages/carbon-web-components/examples/codesandbox/styling/theme-zoning/package.json
  packages/carbon-web-components/examples/codesandbox/styling/theme-zoning/src/index.js
  packages/carbon-web-components/examples/codesandbox/styling/theme-zoning/src/styles.scss
  packages/carbon-web-components/examples/codesandbox/styling/theme-zoning/webpack.config.js
  packages/carbon-web-components/src/components/accordion/accordion.scss
  packages/carbon-web-components/src/components/button/button-story.mdx
  packages/carbon-web-components/src/components/button/button.scss
  packages/carbon-web-components/src/components/code-snippet/code-snippet.scss
  packages/carbon-web-components/src/components/combo-box/combo-box.scss
  packages/carbon-web-components/src/components/content-switcher/content-switcher.scss
  packages/carbon-web-components/src/components/copy-button/copy-button.scss
  packages/carbon-web-components/src/components/data-table/_table-core.scss
  packages/carbon-web-components/src/components/data-table/data-table.scss
  packages/carbon-web-components/src/components/data-table/stories/data-table-batch-actions-story.ts
  packages/carbon-web-components/src/components/data-table/stories/data-table-dynamic-story.ts
  packages/carbon-web-components/src/components/data-table/stories/data-table-filtering-story.ts
  packages/carbon-web-components/src/components/data-table/stories/data-table-toolbar-story.ts
  packages/carbon-web-components/src/components/data-table/table-toolbar-content.ts
  packages/carbon-web-components/src/components/date-picker/date-picker.scss
  packages/carbon-web-components/src/components/dropdown/dropdown.scss
  packages/carbon-web-components/src/components/file-uploader/file-uploader.scss
  packages/carbon-web-components/src/components/icon-button/icon-button.scss
  packages/carbon-web-components/src/components/inline-loading/inline-loading.scss
  packages/carbon-web-components/src/components/modal/modal.scss
  packages/carbon-web-components/src/components/multi-select/multi-select.scss
  packages/carbon-web-components/src/components/notification/actionable-notification.scss
  packages/carbon-web-components/src/components/notification/inline-notification.scss
  packages/carbon-web-components/src/components/notification/notification-story.mdx
  packages/carbon-web-components/src/components/notification/toast-notification.scss
  packages/carbon-web-components/src/components/number-input/number-input.scss
  packages/carbon-web-components/src/components/overflow-menu/overflow-menu.scss
  packages/carbon-web-components/src/components/pagination/pagination.scss
  packages/carbon-web-components/src/components/popover/popover-story.scss
  packages/carbon-web-components/src/components/popover/popover.scss
  packages/carbon-web-components/src/components/progress-bar/progress-bar.scss
  packages/carbon-web-components/src/components/progress-indicator/progress-indicator.scss
  packages/carbon-web-components/src/components/search/search.scss
  packages/carbon-web-components/src/components/select/select.scss
  packages/carbon-web-components/src/components/slider/slider.scss
  packages/carbon-web-components/src/components/structured-list/structured-list.scss
  packages/carbon-web-components/src/components/tabs/tabs-story.mdx
  packages/carbon-web-components/src/components/tag/tag.scss
  packages/carbon-web-components/src/components/text-input/text-input.scss
  packages/carbon-web-components/src/components/textarea/textarea.scss
  packages/carbon-web-components/src/components/tile/tile.scss
  packages/carbon-web-components/src/components/tooltip/tooltip.scss
  packages/carbon-web-components/src/components/ui-shell/header.scss
  packages/carbon-web-components/src/components/ui-shell/side-nav.scss
  packages/carbon-web-components/src/components/ui-shell/ui-shell-story.ts
  packages/carbon-web-components/src/globals/mixins/temp-layout.scss
Labels: package: carbon web components, v2: prep
