Repository carbon-design-system/carbon-for-ibm-dotcom, pull requests merged in 2023-03, with the labels that each got.

#10179 fix(universal-banner): add banner role
  packages/web-components/src/components/universal-banner/universal-banner.ts
Labels: accessibility, package: web components, Ready to merge

#10085 [Cloud-Masthead]: Implement lazy load and DOM pruning from masthead v2 on cloud masthead
  packages/web-components/.babelrc
  packages/web-components/gulp-tasks/build/modules/scripts.js
  packages/web-components/gulp-tasks/config.js
  packages/web-components/src/components/masthead/__tests__/masthead-composite.test.ts
  packages/web-components/src/components/masthead/cloud/cloud-masthead-composite.ts
  packages/web-components/src/components/masthead/left-nav.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/megamenu-top-nav-menu.ts
  packages/web-components/src/components/masthead/top-nav.ts
  packages/web-components/tests/e2e-storybook/cypress/integration/masthead/cloud/cloud-masthead.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/masthead/masthead.e2e.js
  packages/web-components/tests/snapshots/dds-masthead-composite.md
  packages/web-components/tsconfig.json
Labels: bug, severity 2, dev, package: web components, Ready to merge, owner: Innovation Team

#10181 chore(masthead-v2): integrate design QA changes back into dev branch
  packages/styles/scss/components/masthead/_masthead-leftnav.scss
  packages/styles/scss/components/masthead/_masthead-megamenu.scss
  packages/web-components/src/components/masthead/defs.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/masthead.scss
  packages/web-components/src/components/masthead/megamenu-heading.ts
  packages/web-components/src/components/masthead/megamenu-right-navigation.ts
  packages/web-components/src/components/masthead/top-nav.ts
Labels: package: web components, owner: Innovation Team, :eyes: eyes needed

#10178 fix(lightbox-video-player): set heading for modal title
  packages/web-components/src/components/lightbox-media-viewer/lightbox-video-player.ts
  packages/web-components/tests/snapshots/dds-lightbox-video-player.md
Labels: accessibility, package: web components, Ready to merge

#10180 chore(lerna): update lerna version in lerna.json
  lerna.json
Labels: Ready to merge, dependencies

#10140 feat(carousel): update buttons to tertiary
  packages/web-components/src/components/carousel/carousel.ts
  packages/web-components/tests/snapshots/dds-carousel.md
Labels: package: web components, Ready to merge

#10081 fix(feature-card): applied color change upon hover
  packages/web-components/src/components/feature-card/feature-card.scss
Labels: package: web components, Ready to merge

#10172 fix(link-with-icon): force hover underline under
  packages/styles/scss/components/link-with-icon/_link-with-icon.scss
Labels: package: styles, Ready to merge

#10173 fix(search-with-typeahead): add search region for accessibility
  packages/web-components/src/components/search-with-typeahead/search-with-typeahead.ts
  packages/web-components/tests/snapshots/dds-search-with-typeahead.md
Labels: accessibility, package: web components, Ready to merge

#10183 fix(card-pictogram): remove motion with no copy
  packages/web-components/examples/codesandbox/components/card-section-carousel/cdn.html
  packages/web-components/examples/codesandbox/components/card-section-carousel/index.html
  packages/web-components/examples/codesandbox/components/carousel/cdn.html
  packages/web-components/examples/codesandbox/components/carousel/index.html
  packages/web-components/src/components/card-section-carousel/__stories__/README.stories.mdx
  packages/web-components/src/components/card-section-carousel/__stories__/README.stories.react.mdx
  packages/web-components/src/components/card-section-carousel/__stories__/card-section-carousel.stories.react.tsx
  packages/web-components/src/components/card-section-carousel/__stories__/card-section-carousel.stories.ts
  packages/web-components/src/components/card/card.ts
  packages/web-components/src/components/carousel/__stories__/carousel.stories.react.tsx
  packages/web-components/src/components/carousel/__stories__/carousel.stories.ts
Labels: package: web components, Ready to merge

#10177 chore(leadspace-block): adjust heading level for leadspace-block story
  packages/web-components/src/components/leadspace-block/leadspace-block-content.ts
Labels: accessibility, package: web components, Ready to merge

#10185 Update welcome-story.mdx with `@carbon/web-components`
  packages/carbon-web-components/docs/welcome-story.mdx
Labels: documentation, Ready to merge

#10186 chore(e2e): fixes `e2e-integration` tests
  .github/workflows/e2e-integration.yml
  .github/workflows/percy-update-base.yml
  packages/react/tests/e2e/build/build-examples.js
  packages/web-components/tests/e2e/build/build-examples.js
  packages/web-components/tests/e2e/cypress/integration/dotcom-shell/dotcom-shell.cdn.e2e.js
  packages/web-components/tests/e2e/cypress/integration/dotcom-shell/dotcom-shell.e2e.js
  packages/web-components/tests/e2e/cypress/integration/masthead/masthead.cdn.e2e.js
  packages/web-components/tests/e2e/cypress/integration/masthead/masthead.e2e.js
Labels: package: react, package: web components, Ready to merge, test: e2e

#10189 fix(storybook): fix cwc cdn link docs
  packages/carbon-web-components/src/globals/internal/storybook-cdn.ts
Labels: documentation, Ready to merge

#9713 fix(structured-list): add horizontal overflow scrolling
  packages/styles/scss/components/pricing-table/_pricing-table.scss
  packages/styles/scss/components/structured-list/_structured-list.scss
  packages/web-components/src/components/pricing-table/__stories__/pricing-table.stories.scss
  packages/web-components/src/components/pricing-table/__stories__/pricing-table.stories.ts
  packages/web-components/src/components/pricing-table/pricing-table-header-row.ts
  packages/web-components/src/components/pricing-table/pricing-table.ts
  packages/web-components/src/components/structured-list/__stories__/structured-list.stories.ts
  packages/web-components/src/components/structured-list/structured-list.ts
  packages/web-components/tests/e2e-storybook/cypress/integration/pricing-table/with-subheaders.e2e.js
Labels: feature flag, package: web components, Ready to merge, Needs design approval

#10194 fix(cwc): storybook link
  packages/carbon-web-components/.storybook/theme.ts
Labels: Ready to merge, package: carbon web components

#10188 fix(masthead): left nav reverse focus wrap
  packages/web-components/src/components/masthead/left-nav-menu-section.ts
  packages/web-components/src/components/masthead/left-nav.ts
Labels: package: web components, Ready to merge

#10203 fix(tile): fix expanable content visibility
  packages/carbon-web-components/src/components/tile/tile.scss
Labels: Ready to merge, package: carbon web components

#10210 chore(accordion): sync with react
  packages/carbon-web-components/examples/codesandbox/basic/components/accordion/cdn.html
  packages/carbon-web-components/examples/codesandbox/basic/components/accordion/index.html
  packages/carbon-web-components/examples/codesandbox/cdn/index.html
  packages/carbon-web-components/src/components/accordion/accordion-item-skeleton.ts
  packages/carbon-web-components/src/components/accordion/accordion-item.ts
  packages/carbon-web-components/src/components/accordion/accordion-skeleton.ts
  packages/carbon-web-components/src/components/accordion/accordion-story.mdx
  packages/carbon-web-components/src/components/accordion/accordion-story.ts
  packages/carbon-web-components/src/components/accordion/accordion.scss
  packages/web-components/src/components/filter-panel/filter-group-item.ts
Labels: package: carbon web components, v2: prep

#10207 chore(storybook): update cwc urls
  packages/carbon-web-components/.storybook/manager-head.html
  packages/carbon-web-components/README.md
  packages/carbon-web-components/src/components/link/link-story.ts
  packages/carbon-web-components/tools/deploy.sh
Labels: Ready to merge, package: carbon web components

#10214 chore(sb): update storybook style imports
  packages/carbon-web-components/.storybook/_container.scss
Labels: package: carbon web components, v2: prep

#10215 feat(breadcrumb): sync with react
  packages/carbon-web-components/examples/codesandbox/basic/components/breadcrumb/cdn.html
  packages/carbon-web-components/examples/codesandbox/basic/components/breadcrumb/index.html
  packages/carbon-web-components/examples/codesandbox/cdn/index.html
  packages/carbon-web-components/src/components/accordion/index.ts
  packages/carbon-web-components/src/components/breadcrumb/breadcrumb-link.ts
  packages/carbon-web-components/src/components/breadcrumb/breadcrumb-skeleton.ts
  packages/carbon-web-components/src/components/breadcrumb/breadcrumb-story.mdx
  packages/carbon-web-components/src/components/breadcrumb/breadcrumb-story.ts
  packages/carbon-web-components/src/components/breadcrumb/breadcrumb.scss
  packages/carbon-web-components/src/components/breadcrumb/breadcrumb.ts
  packages/carbon-web-components/src/components/breadcrumb/index.ts
Labels: package: carbon web components, v2: prep

#10211 chore(sb): update cwc-v2 storybook
  packages/carbon-web-components/.storybook/_container.scss
  packages/carbon-web-components/.storybook/addon-carbon-theme/components/Panel.tsx
  packages/carbon-web-components/.storybook/addon-carbon-theme/index.js
  packages/carbon-web-components/.storybook/addon-carbon-theme/register.tsx
  packages/carbon-web-components/.storybook/addon-carbon-theme/shared.ts
  packages/carbon-web-components/.storybook/main.js
  packages/carbon-web-components/.storybook/preview.ts
  packages/carbon-web-components/package.json
  yarn.lock
Labels: package: carbon web components, v2: prep

#10217 fix(tooltip): adjust focus to div within tooltip-body
  packages/carbon-web-components/src/components/tooltip/tooltip-body.ts
  packages/carbon-web-components/src/components/tooltip/tooltip.ts
Labels: Ready to merge, package: carbon web components

#10205 chore(readme): updates to main README
  README.md
Labels: documentation, Ready to merge

#9886 Nc web component
  packages/styles/scss/components/notice-choice/_notice-choice.scss
  packages/web-components/examples/codesandbox/components/notice-choice/.babelrc
  packages/web-components/examples/codesandbox/components/notice-choice/.gitignore
  packages/web-components/examples/codesandbox/components/notice-choice/cdn.html
  packages/web-components/examples/codesandbox/components/notice-choice/index.html
  packages/web-components/examples/codesandbox/components/notice-choice/package.json
  packages/web-components/examples/codesandbox/components/notice-choice/sandbox.config.json
  packages/web-components/examples/codesandbox/components/notice-choice/src/index.js
  packages/web-components/src/components/expressive-modal/expressive-modal.ts
  packages/web-components/src/components/notice-choice/__stories__/README.stories.mdx
  packages/web-components/src/components/notice-choice/__stories__/notice-choice.stories.ts
  packages/web-components/src/components/notice-choice/cc-lc-map.js
  packages/web-components/src/components/notice-choice/country-settings.js
  packages/web-components/src/components/notice-choice/index.ts
  packages/web-components/src/components/notice-choice/notice-choice.scss
  packages/web-components/src/components/notice-choice/notice-choice.ts
  packages/web-components/src/components/notice-choice/services.ts
  packages/web-components/src/components/notice-choice/utils.ts
  packages/web-components/src/components/notice-choice/world-wide-content.js
Labels: package: web components, Ready to merge, Needs design approval

#10213 feat(layer): introducing web component
  packages/carbon-web-components/examples/codesandbox/basic/components/layer/.babelrc
  packages/carbon-web-components/examples/codesandbox/basic/components/layer/.gitignore
  packages/carbon-web-components/examples/codesandbox/basic/components/layer/cdn.html
  packages/carbon-web-components/examples/codesandbox/basic/components/layer/index.html
  packages/carbon-web-components/examples/codesandbox/basic/components/layer/package.json
  packages/carbon-web-components/examples/codesandbox/basic/components/layer/sandbox.config.json
  packages/carbon-web-components/examples/codesandbox/basic/components/layer/src/index.js
  packages/carbon-web-components/examples/codesandbox/cdn/index.html
  packages/carbon-web-components/src/components/layer/index.ts
  packages/carbon-web-components/src/components/layer/layer-story.mdx
  packages/carbon-web-components/src/components/layer/layer-story.scss
  packages/carbon-web-components/src/components/layer/layer-story.ts
  packages/carbon-web-components/src/components/layer/layer.scss
  packages/carbon-web-components/src/components/layer/layer.ts
  packages/carbon-web-components/src/typings/jsx-elements.d.ts
Labels: package: carbon web components

#10231 fix(notificaiton/breadcrumb): update styles/remove @extend
  packages/carbon-web-components/src/components/breadcrumb/breadcrumb.scss
  packages/carbon-web-components/src/components/notification/inline-notification.scss
  packages/carbon-web-components/src/components/notification/toast-notification.scss
Labels: Ready to merge, package: carbon web components

#10190 fix(masthead-v2): L0 v2.1 Design QA updates
  packages/services-store/src/types/translateAPI.ts
  packages/styles/scss/components/masthead/_masthead-leftnav.scss
  packages/styles/scss/components/masthead/_masthead-megamenu.scss
  packages/web-components/src/components/masthead/__stories__/links.ts
  packages/web-components/src/components/masthead/defs.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/masthead.scss
  packages/web-components/src/components/masthead/megamenu-left-navigation.ts
  packages/web-components/src/components/masthead/megamenu-right-navigation.ts
  packages/web-components/src/components/masthead/megamenu-top-nav-menu.ts
  packages/web-components/src/components/masthead/megamenu.ts
Labels: package: web components, owner: Innovation Team, Needs design approval, :eyes: eyes needed

#10252 fix(notice-choice): change js files to ts for notice choice
  packages/web-components/src/components/notice-choice/cc-lc-map.ts
  packages/web-components/src/components/notice-choice/country-settings.ts
  packages/web-components/src/components/notice-choice/world-wide-content.ts
Labels: Ready to merge

#10247 chore(workflow): remove firefox from react e2e test
  .github/workflows/e2e-tests.yml
Labels: Ready to merge

#10248 feat(radio-button): sync with react
  packages/carbon-web-components/src/components/radio-button/radio-button-group.ts
  packages/carbon-web-components/src/components/radio-button/radio-button-story.ts
  packages/carbon-web-components/src/components/radio-button/radio-button.scss
  packages/carbon-web-components/src/components/radio-button/radio-button.ts
  packages/carbon-web-components/src/globals/internal/radio-group-manager.ts
  packages/carbon-web-components/tests/spec/accordion_spec.ts
  packages/carbon-web-components/tests/spec/radio-button_spec.ts
Labels: package: carbon web components, v2: prep

#10238 feat(button/tag/tile/toggle): syncing components
  packages/carbon-web-components/.storybook/_container.scss
  packages/carbon-web-components/examples/codesandbox/basic/components/toggle/cdn.html
  packages/carbon-web-components/examples/codesandbox/basic/components/toggle/index.html
  packages/carbon-web-components/src/components/button/button-set.ts
  packages/carbon-web-components/src/components/button/button-story.mdx
  packages/carbon-web-components/src/components/button/button-story.ts
  packages/carbon-web-components/src/components/button/button.scss
  packages/carbon-web-components/src/components/button/button.ts
  packages/carbon-web-components/src/components/button/defs.ts
  packages/carbon-web-components/src/components/button/index.ts
  packages/carbon-web-components/src/components/input/input-story.ts
  packages/carbon-web-components/src/components/tag/defs.ts
  packages/carbon-web-components/src/components/tag/filter-tag.ts
  packages/carbon-web-components/src/components/tag/index.ts
  packages/carbon-web-components/src/components/tag/tag-story.mdx
  packages/carbon-web-components/src/components/tag/tag-story.ts
  packages/carbon-web-components/src/components/tag/tag.scss
  packages/carbon-web-components/src/components/tag/tag.ts
  packages/carbon-web-components/src/components/tile/expandable-tile.ts
  packages/carbon-web-components/src/components/tile/radio-tile.ts
  packages/carbon-web-components/src/components/tile/selectable-tile.ts
  packages/carbon-web-components/src/components/tile/tile-group.ts
  packages/carbon-web-components/src/components/tile/tile-story.mdx
  packages/carbon-web-components/src/components/tile/tile-story.ts
  packages/carbon-web-components/src/components/tile/tile.scss
  packages/carbon-web-components/src/components/toggle-tip/toggletip.ts
  packages/carbon-web-components/src/components/toggle/toggle-story.mdx
  packages/carbon-web-components/src/components/toggle/toggle-story.ts
  packages/carbon-web-components/src/components/toggle/toggle.scss
  packages/carbon-web-components/src/components/toggle/toggle.ts
  packages/carbon-web-components/src/index.ts
  packages/carbon-web-components/src/typings/jsx-elements.d.ts
Labels: package: carbon web components, v2: prep

#10258 chore(ci): fixes cwc-v2 failing unit test specs
  packages/carbon-web-components/src/components/icon/icon-story.ts
  packages/carbon-web-components/tests/snapshots/cds-btn.md
  packages/carbon-web-components/tests/snapshots/cds-link.md
  packages/carbon-web-components/tests/snapshots/cds-tile.md
  packages/carbon-web-components/tests/snapshots/cds-toggle.md
  packages/carbon-web-components/tests/spec/accordion_spec.ts
  packages/carbon-web-components/tests/spec/link_spec.ts
  packages/carbon-web-components/tests/spec/loading_spec.ts
  packages/carbon-web-components/tests/spec/radio-button_spec.ts
  packages/carbon-web-components/tests/spec/tag_spec.ts
  packages/carbon-web-components/tests/spec/tile_spec.ts
  packages/carbon-web-components/tests/spec/tooltip_spec.ts
Labels: package: carbon web components, v2: prep

#10266 chore(gh): adds workflow to auto add issues/PRs to project
  .github/workflows/add-to-project.yml
  yarn.lock
Labels: Ready to merge

#10272 chore(gh): fix syntax typo in workflow file
  .github/workflows/add-to-project.yml
Labels: Ready to merge

#10235 feat(number-input): number-input with @carbon/react sync
  packages/carbon-web-components/docs/form.md
  packages/carbon-web-components/examples/codesandbox/form/redux-form/src/index.js
  packages/carbon-web-components/src/components/date-picker/date-picker-input.ts
  packages/carbon-web-components/src/components/date-picker/date-picker-story.ts
  packages/carbon-web-components/src/components/input/defs.ts
  packages/carbon-web-components/src/components/input/input.ts
  packages/carbon-web-components/src/components/input/stories/helpers.ts
  packages/carbon-web-components/src/components/number-input/number-input-skeleton.ts
  packages/carbon-web-components/src/components/number-input/number-input-story.mdx
  packages/carbon-web-components/src/components/number-input/number-input-story.ts
  packages/carbon-web-components/src/components/number-input/number-input.scss
  packages/carbon-web-components/src/components/number-input/number-input.ts
  packages/carbon-web-components/src/components/number-input/stories/helpers.ts
  packages/carbon-web-components/src/components/search/search-skeleton.ts
  packages/carbon-web-components/src/components/search/search.ts
  packages/carbon-web-components/src/components/select/select.ts
  packages/carbon-web-components/src/index.ts
  packages/carbon-web-components/tests/spec/input_spec.ts
  packages/carbon-web-components/tests/spec/number-input_spec.ts
Labels: Ready to merge, package: carbon web components, v2: prep

#10275 feat(textarea): textarea with @carbon/react sync
  packages/carbon-web-components/src/components/input/input.ts
  packages/carbon-web-components/src/components/textarea/stories/helpers.ts
  packages/carbon-web-components/src/components/textarea/textarea-skeleton.ts
  packages/carbon-web-components/src/components/textarea/textarea-story.ts
  packages/carbon-web-components/src/components/textarea/textarea.scss
  packages/carbon-web-components/src/components/textarea/textarea.ts
  packages/carbon-web-components/src/index.ts
  packages/carbon-web-components/tests/spec/textarea_spec.ts
Labels: package: carbon web components, v2: prep

#10257 chore: sync v11 ordered and unordered list components
  packages/carbon-web-components/src/components/list/list.scss
  packages/carbon-web-components/src/components/list/ordered-list-story.ts
  packages/carbon-web-components/src/components/list/ordered-list.ts
  packages/carbon-web-components/src/components/list/unordered-list-story.ts
  packages/carbon-web-components/src/components/list/unordered-list.ts
  packages/carbon-web-components/src/index.ts
Labels: package: carbon web components, v2: prep

#10283 chore(npm): update version to beta
  .github/workflows/deploy-cwc-v2-beta.yml
  packages/carbon-web-components/package.json
Labels: package: carbon web components, v2: prep

#10243 chore: sync v11 loading and inline-loading components
  packages/carbon-web-components/src/components/inline-loading/inline-loading-story.ts
  packages/carbon-web-components/src/components/inline-loading/inline-loading.ts
  packages/carbon-web-components/src/components/loading/loading-story.ts
  packages/carbon-web-components/src/components/loading/loading.scss
  packages/carbon-web-components/src/components/loading/loading.ts
  packages/carbon-web-components/src/index.ts
  packages/carbon-web-components/tests/spec/inline-loading_spec.ts
Labels: package: carbon web components, v2: prep

#10281 chore(e2e): update e2e test commands
  packages/react/package.json
  packages/web-components/package.json
Labels: Ready to merge

#10289 chore(actions): add open ssl flag to react storybook build cmds
  packages/react/package.json
Labels: Ready to merge

#10285 chore(skeleton-placeholder): sync with v11
  packages/carbon-web-components/src/components/skeleton-placeholder/skeleton-placeholder-story.ts
  packages/carbon-web-components/src/components/skeleton-placeholder/skeleton-placeholder.ts
  packages/carbon-web-components/src/index.ts
Labels: package: carbon web components, v2: prep

#10284 feat(select): sync with @carbon/react
  packages/carbon-web-components/src/components/layer/layer-story.scss
  packages/carbon-web-components/src/components/layer/layer.scss
  packages/carbon-web-components/src/components/select/index.ts
  packages/carbon-web-components/src/components/select/select-item-group.ts
  packages/carbon-web-components/src/components/select/select-item.ts
  packages/carbon-web-components/src/components/select/select-skeleton.ts
  packages/carbon-web-components/src/components/select/select-story.ts
  packages/carbon-web-components/src/components/select/select.scss
  packages/carbon-web-components/src/components/select/select.ts
  packages/carbon-web-components/tests/spec/select_spec.ts
  packages/web-components/src/components/footer/language-selector-mobile.ts
  packages/web-components/src/components/search-with-typeahead/scoped-search-dropdown-mobile.ts
Labels: Ready to merge, package: carbon web components, v2: prep
