Repository carbon-design-system/carbon-for-ibm-dotcom, pull requests merged in 2023-01, with the labels that each got.

#9870 fix(react-wrappers): correct import source path to react wrapper component
  packages/web-components/tools/babel-plugin-create-react-custom-element-type.js
Labels: package: web components, Ready to merge

#9872 feat(leadspace): add gradient knob to story
  packages/web-components/src/components/leadspace/__stories__/leadspace.stories.ts
Labels: package: web components, Ready to merge

#9854 fix(rollup): update cwc rollup config
  packages/carbon-web-components/tools/get-rollup-config.js
Labels: Ready to merge, package: carbon web components

#9855 docs(input): update cdn url
  packages/carbon-web-components/src/components/input/input-story.mdx
Labels: Ready to merge, package: carbon web components

#9880 fix(tooltip): interpolate sass var
  packages/carbon-web-components/src/components/tooltip/tooltip.scss
Labels: Ready to merge, package: carbon web components

#9883 fix(github-actions): properly ignore packages in lerna builds
  .github/workflows/deploy-canary.yml
Labels: Ready to merge

#9881 fix(bx-dropdown): prevent interactivity while disabled
  packages/carbon-web-components/src/components/dropdown/dropdown.ts
Labels: bug, Ready to merge, package: carbon web components

#9871 fix(tooltip): close tooltip on escape or focusout
  packages/carbon-web-components/src/components/tooltip/tooltip.ts
Labels: bug, severity 4, accessibility, Ready to merge, package: carbon web components, owner: Innovation Team

#9892 fix(styles): update disabled card hover styles
  packages/styles/scss/components/card/index.scss
Labels: package: styles, Ready to merge

#9898 feat(tile): add custom event to `selected-tile`
  packages/carbon-web-components/src/components/tile/selectable-tile.ts
  packages/carbon-web-components/src/components/tile/tile-story.mdx
Labels: Ready to merge, package: carbon web components

#9913 chore(files): remove unused log file
  packages/web-components/percyLogs.txt
Labels: Ready to merge

#9934 feat(content-updates): setup automerge branch
  .github/workflows/automerge-content-updates.yml
  .github/workflows/ci-check.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/percy-update-base.yml
Labels: Ready to merge

#9900 fix(back-to-top): trigger manage visibility on body height changes
  packages/web-components/src/components/back-to-top/__stories__/back-to-top.stories.ts
  packages/web-components/src/components/back-to-top/__stories__/data/content.ts
  packages/web-components/src/components/back-to-top/back-to-top.ts
Labels: bug, package: web components, Ready to merge

#9942 fix(styles): add missing styles for breadcrumb and modal
  packages/carbon-web-components/src/components/breadcrumb/breadcrumb.scss
  packages/carbon-web-components/src/components/modal/modal.scss
Labels: Ready to merge, package: carbon web components

#9973 fix(styles): downgrade sass version as there is an issue with @extend
  .yarn/offline-mirror/sass-1.40.1.tgz
  .yarn/offline-mirror/sass-1.57.0.tgz
  packages/carbon-web-components/package.json
  packages/carbon-web-components/src/components/breadcrumb/breadcrumb.scss
  packages/carbon-web-components/src/components/modal/modal.scss
  yarn.lock
Labels: Ready to merge, package: carbon web components

#9819 fix(content-block): spacing adjustments
  packages/styles/scss/components/callout-with-media/_callout-with-media.scss
  packages/styles/scss/components/content-block-cards/_content-block-cards.scss
  packages/styles/scss/components/content-block-headlines/_content-block-headlines.scss
  packages/styles/scss/components/content-block-horizontal/_content-block-horizontal.scss
  packages/styles/scss/components/ctasection/_ctasection.scss
  packages/styles/scss/components/leadspace-block/_leadspace-block.scss
  packages/styles/scss/components/leadspace-with-search/_leadspace-with-search.scss
  packages/styles/scss/components/logo-grid/_logo-grid.scss
  packages/styles/scss/internal/content-block/_content-block.scss
  packages/web-components/src/components/content-block-headlines/content-block-headlines.scss
  packages/web-components/src/components/content-block-horizontal/content-block-horizontal.scss
  packages/web-components/src/components/content-block-media/content-block-media.scss
  packages/web-components/src/components/content-block/content-block.scss
  packages/web-components/src/components/leadspace-with-search/leadspace-with-search.scss
Labels: Ready to merge
