Repository carbon-design-system/carbon-for-ibm-dotcom, pull requests merged in 2023-12, with the labels that each got.

#11204 feat(tile): add slug
  packages/carbon-web-components/src/components/slug/slug-example-story.ts
  packages/carbon-web-components/src/components/slug/slug-story.scss
  packages/carbon-web-components/src/components/slug/slug.scss
  packages/carbon-web-components/src/components/slug/slug.ts
  packages/carbon-web-components/src/components/tile/clickable-tile.ts
  packages/carbon-web-components/src/components/tile/expandable-tile.ts
  packages/carbon-web-components/src/components/tile/selectable-tile.ts
  packages/carbon-web-components/src/components/tile/tile.scss
  packages/carbon-web-components/src/components/tile/tile.ts
Labels: package: carbon web components, v2, area: AI

#11205 fix(masthead-v2): do not fail if object data does not exist
  packages/web-components/src/components/masthead/masthead-container.ts
Labels: package: web components, Ready to merge, owner: Innovation Team, Masthead L0/L1 v2

#11160 [Feature Section]: Expand the availability of CTA types in feature card sections
  packages/web-components/src/components/card/card.scss
  packages/web-components/src/components/cta/card-cta.ts
  packages/web-components/src/components/feature-section/__stories__/feature-section.stories.ts
Labels: Feature request, package: web components, Ready to merge, owner: Innovation Team

#11208 feat(radio-button): slug
  packages/carbon-web-components/src/components/radio-button/radio-button-group.ts
  packages/carbon-web-components/src/components/radio-button/radio-button.scss
  packages/carbon-web-components/src/components/radio-button/radio-button.ts
  packages/carbon-web-components/src/components/slug/slug-example-story.ts
  packages/carbon-web-components/src/components/slug/slug-story.scss
  packages/carbon-web-components/src/components/tile/tile.scss
Labels: package: carbon web components, area: AI

#11111 fix(Leadspace): dds-leadspace styling of slotted button group
  packages/styles/scss/components/leadspace/_leadspace.scss
Labels: Ready to merge, Needs design approval

#11212 chore(masthead-v2): merge latest from alpha dev into alpha main
  packages/web-components/src/components/masthead/masthead-container.ts
  packages/web-components/src/components/notice-choice/notice-choice.ts
Labels: package: web components, Ready to merge, owner: Innovation Team, Masthead L0/L1 v2

#11226 feat(tag): slug
  packages/carbon-web-components/src/components/checkbox/checkbox-story.ts
  packages/carbon-web-components/src/components/slug/slug-example-story.ts
  packages/carbon-web-components/src/components/slug/slug-story.scss
  packages/carbon-web-components/src/components/slug/slug.scss
  packages/carbon-web-components/src/components/tag/tag-story.ts
  packages/carbon-web-components/src/components/tag/tag.scss
  packages/carbon-web-components/src/components/tag/tag.ts
Labels: package: carbon web components, area: AI

#11224 feat(data-table): slug
  .yarn/cache/@carbon-styles-npm-1.45.0-67fc1de473-8372874f57.zip
  packages/carbon-web-components/src/components/data-table/_table-core.scss
  packages/carbon-web-components/src/components/data-table/_table-selection.scss
  packages/carbon-web-components/src/components/data-table/_table-sizes.scss
  packages/carbon-web-components/src/components/data-table/_table-sort.scss
  packages/carbon-web-components/src/components/data-table/data-table.scss
  packages/carbon-web-components/src/components/data-table/table-header-cell.ts
  packages/carbon-web-components/src/components/data-table/table-row.ts
  packages/carbon-web-components/src/components/data-table/table.ts
  packages/carbon-web-components/src/components/slug/slug-data-table-story.ts
  packages/web-components/package.json
  yarn.lock
Labels: package: carbon web components, area: AI

#11236 chore(lint): remove unused var
  packages/carbon-web-components/src/components/checkbox/checkbox-story.ts
Labels: Ready to merge, package: carbon web components

#11237 chore(merge): conflict from cwc-2.1.0
  .github/workflows/ci-check.yml
  packages/carbon-web-components/src/components/data-table/_table-core.scss
  packages/carbon-web-components/src/components/data-table/_table-selection.scss
  packages/carbon-web-components/src/components/data-table/_table-sizes.scss
  packages/carbon-web-components/src/components/data-table/_table-sort.scss
  packages/carbon-web-components/src/components/data-table/data-table.scss
  packages/carbon-web-components/src/components/data-table/table-header-cell.ts
  packages/carbon-web-components/src/components/data-table/table-row.ts
  packages/carbon-web-components/src/components/data-table/table.ts
  packages/carbon-web-components/src/components/slug/slug-data-table-story.ts
  packages/carbon-web-components/src/components/slug/slug-example-story.ts
  packages/carbon-web-components/src/components/slug/slug-story.scss
  packages/carbon-web-components/src/components/slug/slug.scss
  packages/carbon-web-components/src/components/tag/tag-story.ts
  packages/carbon-web-components/src/components/tag/tag.scss
  packages/carbon-web-components/src/components/tag/tag.ts
  packages/web-components/package.json
  yarn.lock
Labels: Ready to merge

#11240 chore(merge): conflict again with cwc 2.1.0
  .yarn/cache/@carbon-react-npm-1.45.0-538bcdbc48-f412e129b7.zip
  .yarn/cache/@carbon-react-npm-1.46.0-5b5d8e05f5-7a7805f58a.zip
  .yarn/cache/@carbon-styles-npm-1.46.0-69d4aec9e6-e403d3890d.zip
  packages/carbon-web-components/examples/codesandbox/basic/components/checkbox/cdn.html
  packages/carbon-web-components/examples/codesandbox/basic/components/checkbox/index.html
  packages/carbon-web-components/examples/codesandbox/basic/components/slug/package.json
  packages/carbon-web-components/package.json
  packages/carbon-web-components/src/components/checkbox/checkbox-story.mdx
  packages/carbon-web-components/src/components/checkbox/checkbox-story.ts
  packages/carbon-web-components/src/components/checkbox/checkbox.ts
  packages/carbon-web-components/src/components/slug/slug-example-story.ts
  packages/carbon-web-components/src/components/slug/slug-story.mdx
  packages/carbon-web-components/src/components/slug/slug-story.ts
  packages/carbon-web-components/tests/snapshots/cds-checkbox.md
  packages/carbon-web-components/tests/snapshots/data-table.md
  packages/styles/package.json
  packages/web-components/package.json
  yarn.lock
Labels: Ready to merge

#11225 feat(card): use link instead of button for pictogram card
  packages/styles/scss/components/card/_card.scss
  packages/web-components/src/components/card/__stories__/card.stories.ts
  packages/web-components/src/components/card/card.ts
Labels: package: web components, Ready to merge

#11249 feat(github-actions): restore workflow for publish masthead v2 alpha
  .github/workflows/publish-v2alpha-cdn.yml
Labels: Ready to merge, :eyes: eyes needed

#11254 fix(masthead-v2): ensure L1 dropdown targets exist
  packages/web-components/src/components/masthead/masthead-l1.ts
Labels: package: web components, adopter: AEM, owner: Innovation Team, Masthead L0/L1 v2

#11257 chore(masthead-v2-alpha): merge alpha dev changes into alpha main
  packages/web-components/src/components/masthead/masthead-l1.ts
  packages/web-components/src/components/notice-choice/notice-choice.ts
Labels: :eyes: eyes needed, Masthead L0/L1 v2

#11247 feat(modal): with slug
  packages/carbon-web-components/package.json
  packages/carbon-web-components/src/components/modal/modal-close-button.ts
  packages/carbon-web-components/src/components/modal/modal-footer.ts
  packages/carbon-web-components/src/components/modal/modal-header.ts
  packages/carbon-web-components/src/components/modal/modal.scss
  packages/carbon-web-components/src/components/slug/slug-example-story.ts
  packages/carbon-web-components/tests/snapshots/cds-checkbox.md
  packages/carbon-web-components/tests/snapshots/cds-code-snippet.md
  packages/styles/package.json
  packages/web-components/package.json
  packages/web-components/tests/snapshots/c4d-locale-modal.md
  yarn.lock
Labels: Ready to merge, package: carbon web components, area: AI
