Repository carbon-design-system/carbon-for-ibm-dotcom, pull requests merged in 2023-04, with the labels that each got.

#10290 chore(checkbox): sync with `@carbon/react` v11
  packages/carbon-web-components/src/components/checkbox/checkbox-skeleton.ts
  packages/carbon-web-components/src/components/checkbox/checkbox-story.ts
  packages/carbon-web-components/src/components/checkbox/checkbox.scss
  packages/carbon-web-components/src/components/checkbox/checkbox.ts
  packages/carbon-web-components/src/components/checkbox/index.ts
  packages/carbon-web-components/src/typings/jsx-elements.d.ts
  packages/carbon-web-components/tests/spec/accordion_spec.ts
  packages/carbon-web-components/tests/spec/checkbox_spec.ts
  packages/carbon-web-components/tests/spec/radio-button_spec.ts
  packages/carbon-web-components/tests/spec/tag_spec.ts
  packages/carbon-web-components/tests/spec/tooltip_spec.ts
Labels: package: carbon web components, v2: prep

#10300 feat(tooltip): sync with @carbon/react
  packages/carbon-web-components/examples/codesandbox/basic/components/tooltip/cdn.html
  packages/carbon-web-components/examples/codesandbox/basic/components/tooltip/index.html
  packages/carbon-web-components/examples/codesandbox/cdn/index.html
  packages/carbon-web-components/src/components/popover/popover.scss
  packages/carbon-web-components/src/components/toggle-tip/toggletip-story.ts
  packages/carbon-web-components/src/components/toggle-tip/toggletip.ts
  packages/carbon-web-components/src/components/tooltip/defs.ts
  packages/carbon-web-components/src/components/tooltip/index.ts
  packages/carbon-web-components/src/components/tooltip/tooltip-body.ts
  packages/carbon-web-components/src/components/tooltip/tooltip-content.ts
  packages/carbon-web-components/src/components/tooltip/tooltip-footer.ts
  packages/carbon-web-components/src/components/tooltip/tooltip-story.mdx
  packages/carbon-web-components/src/components/tooltip/tooltip-story.scss
  packages/carbon-web-components/src/components/tooltip/tooltip-story.ts
  packages/carbon-web-components/src/components/tooltip/tooltip.scss
  packages/carbon-web-components/src/components/tooltip/tooltip.ts
  packages/carbon-web-components/src/index.ts
  packages/carbon-web-components/src/typings/jsx-elements.d.ts
  packages/carbon-web-components/tests/spec/tooltip_spec.ts
Labels: Ready to merge, package: carbon web components, v2: prep

#10274 chore(a11y): re-enable a11y tests
  packages/react/package.json
  packages/web-components/package.json
Labels: accessibility, Ready to merge

#10293 chore(skeleton-text): sync with v11
  packages/carbon-web-components/src/components/skeleton-text/defs.ts
  packages/carbon-web-components/src/components/skeleton-text/skeleton-text-story.ts
  packages/carbon-web-components/src/components/skeleton-text/skeleton-text.scss
  packages/carbon-web-components/src/components/skeleton-text/skeleton-text.ts
Labels: package: carbon web components, v2: prep

#10297 feat(slider): sync slider with @carbon/react
  packages/carbon-web-components/src/components/slider/defs.ts
  packages/carbon-web-components/src/components/slider/slider-input.ts
  packages/carbon-web-components/src/components/slider/slider-skeleton.ts
  packages/carbon-web-components/src/components/slider/slider-story.mdx
  packages/carbon-web-components/src/components/slider/slider-story.ts
  packages/carbon-web-components/src/components/slider/slider.scss
  packages/carbon-web-components/src/components/slider/slider.ts
Labels: Ready to merge, package: carbon web components, v2: prep

#10256 fix(hr/expressive-modal): add separator role and update button
  packages/web-components/src/components/expressive-modal/__stories__/expressive-modal.stories.react.tsx
  packages/web-components/src/components/expressive-modal/__stories__/expressive-modal.stories.ts
  packages/web-components/src/components/horizontal-rule/horizontal-rule.ts
  packages/web-components/tests/snapshots/dds-callout-quote.md
  packages/web-components/tests/snapshots/dds-leadspace-block.md
  packages/web-components/tests/snapshots/dds-quote.md
Labels: package: web components, Ready to merge

#10303 fix(leadspace): fix heading width for the leadspace
  packages/styles/scss/components/leadspace/_leadspace.scss
  packages/web-components/src/components/leadspace/leadspace.scss
Labels: bug, severity 2, dev, package: styles, Ready to merge, owner: Innovation Team, Needs design approval

#10308 feat(text-input): text-input @carbon/react v11 sync
  packages/carbon-web-components/docs/form-story.mdx
  packages/carbon-web-components/docs/form.md
  packages/carbon-web-components/examples/codesandbox/basic/components/input/cdn.html
  packages/carbon-web-components/examples/codesandbox/basic/components/input/index.html
  packages/carbon-web-components/examples/codesandbox/cdn/index.html
  packages/carbon-web-components/examples/codesandbox/form/basic/index.html
  packages/carbon-web-components/examples/codesandbox/form/basic/src/index.js
  packages/carbon-web-components/examples/codesandbox/form/redux-form/src/index.js
  packages/carbon-web-components/src/components/data-table/table-toolbar-search.ts
  packages/carbon-web-components/src/components/date-picker/date-picker-input.ts
  packages/carbon-web-components/src/components/date-picker/date-picker-story.ts
  packages/carbon-web-components/src/components/input/input-story.ts
  packages/carbon-web-components/src/components/number-input/index.ts
  packages/carbon-web-components/src/components/number-input/number-input-story.ts
  packages/carbon-web-components/src/components/number-input/number-input.ts
  packages/carbon-web-components/src/components/number-input/stories/helpers.ts
  packages/carbon-web-components/src/components/search/search-skeleton.ts
  packages/carbon-web-components/src/components/search/search-story.ts
  packages/carbon-web-components/src/components/search/search.ts
  packages/carbon-web-components/src/components/select/select-story.ts
  packages/carbon-web-components/src/components/select/select.ts
  packages/carbon-web-components/src/components/text-input/defs.ts
  packages/carbon-web-components/src/components/text-input/index.ts
  packages/carbon-web-components/src/components/text-input/stories/helpers.ts
  packages/carbon-web-components/src/components/text-input/text-input-skeleton.ts
  packages/carbon-web-components/src/components/text-input/text-input-story.mdx
  packages/carbon-web-components/src/components/text-input/text-input-story.ts
  packages/carbon-web-components/src/components/text-input/text-input.scss
  packages/carbon-web-components/src/components/text-input/text-input.ts
  packages/carbon-web-components/src/components/textarea/textarea.ts
  packages/carbon-web-components/src/components/tile/tile-story.ts
  packages/carbon-web-components/src/index.ts
  packages/carbon-web-components/src/typings/jsx-elements.d.ts
  packages/carbon-web-components/tests/integration/build/form-basic_steps.js
  packages/carbon-web-components/tests/integration/build/redux-form_steps.js
  packages/carbon-web-components/tests/snapshots/cds-input.md
  packages/carbon-web-components/tests/spec/data-table_spec.ts
  packages/carbon-web-components/tests/spec/search_spec.ts
  packages/carbon-web-components/tests/spec/select_spec.ts
  packages/carbon-web-components/tests/spec/text-input_spec.ts
  packages/carbon-web-components/tests/spec/tooltip_spec.ts
  packages/web-components/src/components/footer/language-selector-mobile.ts
  packages/web-components/src/components/locale-modal/locale-search.ts
  packages/web-components/src/components/search-with-typeahead/scoped-search-dropdown-mobile.ts
Labels: package: carbon web components, v2: prep

#10333 fix(checkbox): set relative `position`
  packages/carbon-web-components/src/components/checkbox/checkbox.scss
Labels: Ready to merge, package: carbon web components

#10330 fix(carousel): add scrolling state to carousel
  packages/styles/scss/components/carousel/_carousel.scss
  packages/web-components/src/components/carousel/carousel.ts
Labels: package: web components, Ready to merge

#10349 feat(copy-button): sync with @carbon/react v11
  packages/carbon-web-components/examples/codesandbox/basic/components/copy-button/cdn.html
  packages/carbon-web-components/examples/codesandbox/basic/components/copy-button/index.html
  packages/carbon-web-components/examples/codesandbox/basic/components/icon-button/cdn.html
  packages/carbon-web-components/examples/codesandbox/basic/components/icon-button/index.html
  packages/carbon-web-components/src/components/accordion/accordion-story.ts
  packages/carbon-web-components/src/components/breadcrumb/breadcrumb-skeleton.ts
  packages/carbon-web-components/src/components/code-snippet/code-snippet.ts
  packages/carbon-web-components/src/components/copy-button/copy-button-story.mdx
  packages/carbon-web-components/src/components/copy-button/copy-button-story.ts
  packages/carbon-web-components/src/components/copy-button/copy-button.scss
  packages/carbon-web-components/src/components/copy-button/copy-button.ts
  packages/carbon-web-components/src/components/copy/copy.ts
  packages/carbon-web-components/src/components/icon-button/icon-button-story.mdx
  packages/carbon-web-components/src/components/icon-button/icon-button-story.ts
  packages/carbon-web-components/src/components/icon-button/icon-button.ts
Labels: package: carbon web components, v2: prep

#10337 feat(search): sync with carbon react
  packages/carbon-web-components/src/components/data-table/table-toolbar-search.ts
  packages/carbon-web-components/src/components/search/defs.ts
  packages/carbon-web-components/src/components/search/search-skeleton.ts
  packages/carbon-web-components/src/components/search/search-story.ts
  packages/carbon-web-components/src/components/search/search.scss
  packages/carbon-web-components/src/components/search/search.ts
  packages/carbon-web-components/tests/spec/search_spec.ts
  packages/web-components/src/components/locale-modal/locale-search.ts
  packages/web-components/src/components/search/search.ts
Labels: Ready to merge, package: carbon web components, v2: prep

#10336 feat(date-picker): sync with @carbon/react v11
  packages/carbon-web-components/package.json
  packages/carbon-web-components/src/components/date-picker/date-picker-input-skeleton.ts
  packages/carbon-web-components/src/components/date-picker/date-picker-input.ts
  packages/carbon-web-components/src/components/date-picker/date-picker-story.ts
  packages/carbon-web-components/src/components/date-picker/date-picker.scss
  packages/carbon-web-components/src/components/date-picker/date-picker.ts
  packages/carbon-web-components/src/components/date-picker/defs.ts
  packages/carbon-web-components/src/components/date-picker/fix-events-plugin.ts
  packages/carbon-web-components/src/components/date-picker/focus-plugin.ts
  packages/carbon-web-components/src/components/date-picker/shadow-dom-events-plugin.ts
  packages/carbon-web-components/src/components/date-picker/state-handshake-plugin.ts
  packages/carbon-web-components/src/components/popover/popover.scss
  packages/carbon-web-components/tests/spec/date-picker_spec.ts
  yarn.lock
Labels: package: carbon web components, v2: prep

#10354 docs(storybook): synced with-layer stories with redesign
  packages/carbon-web-components/.storybook/templates/with-layer.scss
  packages/carbon-web-components/.storybook/templates/with-layer.ts
  packages/carbon-web-components/src/components/select/select-story.ts
  packages/carbon-web-components/src/components/slider/slider-story.ts
  packages/carbon-web-components/src/components/text-input/text-input-story.ts
  packages/carbon-web-components/src/components/textarea/textarea-story.ts
  packages/carbon-web-components/src/components/tile/expandable-tile.ts
  packages/carbon-web-components/src/components/tile/tile-story.ts
  packages/carbon-web-components/src/components/tile/tile.scss
Labels: Ready to merge, package: carbon web components, v2: prep

#10342 feat(masthead-l1): implement v2.1 layout & styles for desktop
  packages/services-store/src/types/translateAPI.ts
  packages/styles/scss/components/masthead/_masthead-l1.scss
  packages/web-components/src/components/dotcom-shell/__stories__/dotcom-shell.stories.react.tsx
  packages/web-components/src/components/dotcom-shell/__stories__/dotcom-shell.stories.ts
  packages/web-components/src/components/masthead/__stories__/links.ts
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
  packages/web-components/src/components/masthead/masthead-breakpoint.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/masthead-l1.ts
Labels: package: web components, adopter: AEM, owner: AEM, owner: Innovation Team, Needs design approval, test: CDN preview

#10390 chore(checks): pin node version to 18.15
  .github/workflows/ci-check.yml
Labels: Ready to merge

#10343 feat(dropdown/combo-box): syncing dropdown and combo-box to v11
  packages/carbon-web-components/src/components/combo-box/combo-box-item.ts
  packages/carbon-web-components/src/components/combo-box/combo-box-story.mdx
  packages/carbon-web-components/src/components/combo-box/combo-box-story.ts
  packages/carbon-web-components/src/components/combo-box/combo-box.scss
  packages/carbon-web-components/src/components/combo-box/combo-box.ts
  packages/carbon-web-components/src/components/dropdown/defs.ts
  packages/carbon-web-components/src/components/dropdown/dropdown-item.ts
  packages/carbon-web-components/src/components/dropdown/dropdown-skeleton.ts
  packages/carbon-web-components/src/components/dropdown/dropdown-story.mdx
  packages/carbon-web-components/src/components/dropdown/dropdown-story.ts
  packages/carbon-web-components/src/components/dropdown/dropdown.scss
  packages/carbon-web-components/src/components/dropdown/dropdown.ts
  packages/carbon-web-components/src/components/multi-select/multi-select-item.ts
  packages/carbon-web-components/src/components/multi-select/multi-select-story.ts
  packages/carbon-web-components/src/components/multi-select/multi-select.ts
  packages/carbon-web-components/src/globals/wrappers/createReactCustomElementType.ts
  packages/carbon-web-components/tests/spec/combo-box_spec.ts
  packages/carbon-web-components/tests/spec/dropdown_spec.ts
  packages/web-components/src/components/footer/combo-box.ts
  packages/web-components/src/components/footer/defs.ts
  packages/web-components/src/components/footer/dropdown.ts
  packages/web-components/src/components/footer/footer-composite.ts
  packages/web-components/src/components/footer/language-selector-desktop.ts
  packages/web-components/src/components/search-with-typeahead/search-with-typeahead.ts
Labels: package: carbon web components, :eyes: eyes needed, v2: prep

#10314 feat(e2e): introducing parallelization
  .github/workflows/e2e-tests-parallel.yml
  .github/workflows/e2e-tests.yml
  .yarn/cache/boolean-npm-3.2.0-168c1e42cc-fb29535b8b.zip
  .yarn/cache/cy2-npm-4.0.6-38c34ca3af-0b765e4175.zip
  .yarn/cache/delay-npm-5.0.0-1d1c758b46-62f151151e.zip
  .yarn/cache/fast-json-stringify-npm-2.7.13-834b03559b-f78ab25047.zip
  .yarn/cache/fast-printf-npm-1.6.9-ff63684ff1-53e65b16d2.zip
  .yarn/cache/find-yarn-workspace-root-npm-2.0.0-e58a501607-fa5ca8f9d0.zip
  .yarn/cache/fp-ts-npm-2.13.1-5da5e5e8c1-618e0028ac.zip
  .yarn/cache/http-terminator-npm-3.2.0-a5b2bc549a-abaf77fd56.zip
  .yarn/cache/klaw-sync-npm-6.0.0-251c1a2fa5-0da397f896.zip
  .yarn/cache/p-wait-for-npm-3.2.0-3b7dbac7e8-7f6840e923.zip
  .yarn/cache/patch-package-npm-6.5.1-0acc8d7bc0-8530ffa30f.zip
  .yarn/cache/roarr-npm-7.15.0-f775fb4248-fdb2480672.zip
  .yarn/cache/safe-stable-stringify-npm-2.4.3-d895741b40-3aeb644497.zip
  .yarn/cache/semver-compare-npm-1.0.0-33f7033df0-dd1d7e2909.zip
  .yarn/cache/string-similarity-npm-4.0.4-74971fe325-797b41b24e.zip
  .yarn/cache/type-fest-npm-2.19.0-918b953248-a4ef07ece2.zip
  packages/react/package.json
  packages/react/tests/e2e-storybook/cypress.json
  packages/react/tests/e2e-storybook/cypress/integration/Card/Card.e2e.js
  packages/styles/scss/components/carousel/_carousel.scss
  packages/utilities/src/utilities/settings/settings.js
  packages/web-components/package.json
  packages/web-components/tests/e2e-storybook/cypress.json
  packages/web-components/tests/e2e-storybook/cypress/integration/cta/button-cta.e2e.js
  yarn.lock
Labels: package: react, package: web components, Ready to merge

#10391 feat(progress-bar): @carbon/react v11 sync
  packages/carbon-web-components/examples/codesandbox/basic/components/progress-bar/.babelrc
  packages/carbon-web-components/examples/codesandbox/basic/components/progress-bar/.gitignore
  packages/carbon-web-components/examples/codesandbox/basic/components/progress-bar/cdn.html
  packages/carbon-web-components/examples/codesandbox/basic/components/progress-bar/index.html
  packages/carbon-web-components/examples/codesandbox/basic/components/progress-bar/package.json
  packages/carbon-web-components/examples/codesandbox/basic/components/progress-bar/sandbox.config.json
  packages/carbon-web-components/examples/codesandbox/basic/components/progress-bar/src/index.js
  packages/carbon-web-components/src/components/progress-bar/defs.ts
  packages/carbon-web-components/src/components/progress-bar/index.ts
  packages/carbon-web-components/src/components/progress-bar/progress-bar-story.mdx
  packages/carbon-web-components/src/components/progress-bar/progress-bar-story.ts
  packages/carbon-web-components/src/components/progress-bar/progress-bar.scss
  packages/carbon-web-components/src/components/progress-bar/progress-bar.ts
  packages/carbon-web-components/src/index.ts
  packages/carbon-web-components/src/typings/jsx-elements.d.ts
  packages/carbon-web-components/tests/spec/progress-bar_spec.ts
Labels: package: carbon web components, v2: prep

#10393 feat(file-uploader): sync with @carbon/react v11
  packages/carbon-web-components/examples/codesandbox/basic/components/file-uploader/cdn.html
  packages/carbon-web-components/examples/codesandbox/basic/components/file-uploader/index.html
  packages/carbon-web-components/src/components/button/defs.ts
  packages/carbon-web-components/src/components/file-uploader/defs.ts
  packages/carbon-web-components/src/components/file-uploader/demo-file-uploader.ts
  packages/carbon-web-components/src/components/file-uploader/file-uploader-button.ts
  packages/carbon-web-components/src/components/file-uploader/file-uploader-drop-container.ts
  packages/carbon-web-components/src/components/file-uploader/file-uploader-item.ts
  packages/carbon-web-components/src/components/file-uploader/file-uploader-skeleton.ts
  packages/carbon-web-components/src/components/file-uploader/file-uploader-story.mdx
  packages/carbon-web-components/src/components/file-uploader/file-uploader-story.ts
  packages/carbon-web-components/src/components/file-uploader/file-uploader.scss
  packages/carbon-web-components/src/components/file-uploader/file-uploader.ts
  packages/carbon-web-components/src/components/file-uploader/index.ts
  packages/carbon-web-components/src/components/file-uploader/stories/types.ts
  packages/carbon-web-components/src/index.ts
  packages/carbon-web-components/src/typings/jsx-elements.d.ts
  packages/carbon-web-components/tests/spec/file-uploader_spec.ts
Labels: package: carbon web components, v2: prep

#10400 chore(mixin): import `carbon-components` mixin
  packages/carbon-web-components/package.json
  packages/carbon-web-components/src/components/date-picker/fix-events-plugin.ts
  packages/carbon-web-components/src/components/date-picker/focus-plugin.ts
  packages/carbon-web-components/src/components/date-picker/shadow-dom-events-plugin.ts
  packages/carbon-web-components/src/components/ui-shell/side-nav.ts
  packages/carbon-web-components/src/globals/mixins/form.ts
  packages/carbon-web-components/src/globals/mixins/host-listener.ts
  packages/carbon-web-components/src/globals/mixins/on.ts
  packages/carbon-web-components/src/globals/wrappers/createReactCustomElementType.ts
  packages/carbon-web-components/tests/utils/event-manager.ts
Labels: package: carbon web components, v2: prep

#10402 fix: add missed import extensions
  packages/carbon-web-components/docs/styling-story.mdx
  packages/carbon-web-components/docs/styling.md
  packages/carbon-web-components/examples/codesandbox/data-table/package.json
  packages/carbon-web-components/examples/codesandbox/data-table/src/demo-data-table.js
  packages/carbon-web-components/examples/codesandbox/styling/custom-style/src/index.js
  packages/carbon-web-components/src/components/button/button-story.ts
  packages/carbon-web-components/src/components/file-uploader/demo-file-uploader.ts
  packages/carbon-web-components/src/components/layer/layer-story.ts
  packages/carbon-web-components/src/components/list/ordered-list-story.ts
  packages/carbon-web-components/src/components/list/unordered-list-story.ts
  packages/carbon-web-components/src/components/multi-select/multi-select-item.ts
  packages/carbon-web-components/src/components/tile/expandable-tile.ts
  packages/carbon-web-components/src/components/tile/radio-tile.ts
  packages/carbon-web-components/src/components/toggle-tip/toggletip-story.ts
  packages/carbon-web-components/src/components/toggle-tip/toggletip.ts
Labels: package: carbon web components, v2: prep

#10407 chore(storybook): add plex cdn stylesheet
  packages/carbon-web-components/.storybook/manager-head.html
  packages/carbon-web-components/.storybook/preview-head.html
  packages/carbon-web-components/.storybook/theme.ts
Labels: package: carbon web components, v2: prep
