Repository carbon-design-system/carbon-for-ibm-dotcom, pull requests merged in 2024-02, with the labels that each got.

#11472 fix(overflow-menu): position cherry pick from 1adb618 for v1 branch
  packages/carbon-web-components/src/components/floating-menu/floating-menu.ts
Labels: Ready to merge, package: carbon web components, v1

#11435 chore(deps): remove unused `carbon-icons` package
  .yarn/cache/carbon-icons-npm-7.0.7-a0d95b025d-eb9726c74e.zip
  packages/web-components/package.json
  yarn.lock
Labels: Ready to merge, dependencies

#11403 feat(masthead): support Contact Module in L1 CTA
  packages/services-store/src/types/translateAPI.ts
  packages/styles/scss/components/masthead/_masthead-l1.scss
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
  packages/web-components/src/components/masthead/masthead-l1.ts
Labels: package: services, package: web components, Ready to merge, adopter: AEM, owner: Innovation Team, :eyes: eyes needed

#11477 chore(docs): fix CDN URLs in Storybook docs
  packages/carbon-web-components/docs/carbon-cdn-style-helpers.md
  packages/carbon-web-components/src/globals/internal/storybook-cdn.ts
  packages/web-components/docs/carbon-cdn-style-helpers.md
  packages/web-components/docs/coding-conventions.md
  packages/web-components/src/globals/internal/storybook-cdn.ts
Labels: documentation, Ready to merge, storybook

#11478 feat(masthead-v2-alpha): backport L1 CTA Contact Module integration
  packages/services-store/src/types/translateAPI.ts
  packages/styles/scss/components/masthead/_masthead-l1.scss
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
  packages/web-components/src/components/masthead/masthead-l1.ts
Labels: package: services, package: styles, package: web components, adopter: AEM, owner: Innovation Team, :eyes: eyes needed, Masthead L0/L1 v2

#11114 fix(dotcom-shell): accessibility issue with dotcom shell
  packages/web-components/src/components/footer/footer-composite.ts
  packages/web-components/src/components/footer/legal-nav.ts
Labels: accessibility, package: web components, Ready to merge

#11420 fix(masthead): container should respect user's L0 data
  packages/web-components/src/components/dotcom-shell/dotcom-shell-container.ts
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
  packages/web-components/src/components/masthead/masthead-container.ts
  packages/web-components/src/globals/mixins/connect.ts
Labels: package: web components, Ready to merge, owner: Innovation Team, :eyes: eyes needed

#11400 fix(dropdown): remove excess border of first dropdown element
  packages/carbon-web-components/src/components/dropdown/dropdown.scss
Labels: dev, Ready to merge, package: carbon web components

#11479 docs(events): added missing events to docs
  packages/carbon-web-components/src/components/data-table/table-header-row.ts
  packages/carbon-web-components/src/components/data-table/table-row.ts
  packages/carbon-web-components/src/components/data-table/table.ts
  packages/carbon-web-components/src/components/date-picker/date-picker.ts
  packages/carbon-web-components/src/components/layer/layer.ts
  packages/carbon-web-components/src/components/number-input/number-input.ts
  packages/carbon-web-components/src/components/radio-button/radio-button-group.ts
  packages/carbon-web-components/src/components/select/select.ts
  packages/carbon-web-components/src/components/slider/slider.ts
  packages/carbon-web-components/src/components/tile/radio-tile.ts
  packages/carbon-web-components/src/components/tile/tile-group.ts
  packages/carbon-web-components/src/components/ui-shell/side-nav-menu.ts
  packages/carbon-web-components/src/components/ui-shell/side-nav.ts
Labels: dev, Ready to merge, package: carbon web components

#11201 feat(sidepanel): introduce side panel component
  .yarn/cache/@carbon-ibm-products-styles-npm-2.20.1-1f210e0807-a069cae6b7.zip
  packages/carbon-web-components/examples/codesandbox/basic/components/side-panel/.babelrc
  packages/carbon-web-components/examples/codesandbox/basic/components/side-panel/.gitignore
  packages/carbon-web-components/examples/codesandbox/basic/components/side-panel/.sassrc
  packages/carbon-web-components/examples/codesandbox/basic/components/side-panel/cdn.html
  packages/carbon-web-components/examples/codesandbox/basic/components/side-panel/index.html
  packages/carbon-web-components/examples/codesandbox/basic/components/side-panel/package.json
  packages/carbon-web-components/examples/codesandbox/basic/components/side-panel/sandbox.config.json
  packages/carbon-web-components/examples/codesandbox/basic/components/side-panel/src/index.js
  packages/carbon-web-components/examples/codesandbox/basic/components/side-panel/src/styles.scss
  packages/carbon-web-components/package.json
  packages/carbon-web-components/src/components/button/button-set.ts
  packages/carbon-web-components/src/components/button/button.scss
  packages/carbon-web-components/src/components/side-panel/defs.ts
  packages/carbon-web-components/src/components/side-panel/index.ts
  packages/carbon-web-components/src/components/side-panel/side-panel-button-set.ts
  packages/carbon-web-components/src/components/side-panel/side-panel-story.mdx
  packages/carbon-web-components/src/components/side-panel/side-panel-story.ts
  packages/carbon-web-components/src/components/side-panel/side-panel.scss
  packages/carbon-web-components/src/components/side-panel/side-panel.ts
  packages/carbon-web-components/src/components/side-panel/story-styles.scss
  packages/carbon-web-components/src/globals/settings.ts
  packages/utilities/src/utilities/settings/settings.js
  tasks/get-changelog.js
  yarn.lock
Labels: Ready to merge

#11416 fix(data-table): Sorting and expansion doesn't work together
  packages/carbon-web-components/src/components/data-table/table-header-cell.ts
  packages/carbon-web-components/src/components/data-table/table.ts
Labels: dev, Ready to merge, package: carbon web components

#11485 chore(masthead-v2): merge latest alpha dev into alpha release
  .github/workflows/e2e-tests-parallel.yml
  packages/services-store/src/types/translateAPI.ts
  packages/styles/scss/components/masthead/_masthead-l1.scss
  packages/utilities/src/utilities/StickyHeader/StickyHeader.js
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/masthead-l1.ts
  packages/web-components/src/components/masthead/top-nav.ts
Labels: adopter: AEM, owner: Innovation Team, Masthead L0/L1 v2

#11491 fix(datatable):toolbar bar not displayed with title
  packages/carbon-web-components/src/components/data-table/_table-action.scss
  packages/carbon-web-components/src/components/data-table/_table-core.scss
  packages/carbon-web-components/src/components/data-table/table.ts
Labels: bug, Ready to merge, package: carbon web components

#11493 fix(datatable): search not working with uppercase characters in query
  packages/carbon-web-components/src/components/data-table/table.ts
Labels: dev, Ready to merge, package: carbon web components

#11486 chore(css): remove `rtl` artifact builds
  .yarn/cache/rtlcss-npm-3.5.0-86a685a37e-141ffcb031.zip
  packages/carbon-web-components/.storybook/preview.js
  packages/carbon-web-components/gulp-tasks/build/dist.js
  packages/carbon-web-components/gulp-tasks/build/modules/css.js
  packages/carbon-web-components/gulp-tasks/build/modules/icons.js
  packages/carbon-web-components/package.json
  packages/styles/scss/components/in-page-banner/_in-page-banner.scss
  packages/styles/scss/components/masthead/_masthead-search.scss
  packages/styles/scss/components/masthead/_masthead.scss
  packages/web-components/.storybook/main.js
  packages/web-components/.storybook/preview.ts
  packages/web-components/.storybook/react/preview.tsx
  packages/web-components/docs/enable-rtl.md
  packages/web-components/docs/enable-rtl.stories.mdx
  packages/web-components/gulp-tasks/build/components.js
  packages/web-components/gulp-tasks/build/dist.js
  packages/web-components/gulp-tasks/build/modules/css.js
  packages/web-components/package.json
  yarn.lock
Labels: RTL, package: web components, Ready to merge, package: carbon web components, dependencies

#11495 chore(storybook): cwc remove stackblitz iframes from storybook
  packages/carbon-web-components/docs/form-story.mdx
  packages/carbon-web-components/docs/styling-story.mdx
  packages/carbon-web-components/docs/welcome-story.mdx
Labels: Ready to merge, package: carbon web components, storybook

#11492 fix(code-snippet): multi copy button
  packages/carbon-web-components/src/components/code-snippet/code-snippet.scss
Labels: Ready to merge, package: carbon web components

#11497 chore(deps): remove unused deps in cwc storybook
  .yarn/cache/use-debounce-npm-3.4.3-21bd80290f-eedc8a5e71.zip
  .yarn/cache/zone.js-npm-0.14.2-684409678b-86e6df823d.zip
  packages/carbon-web-components/package.json
  yarn.lock
Labels: package: carbon web components, dependencies

#11507 chore: onboard @carbon/ibmdotcom-react to IBM Telemetry 🚀
  .yarn/cache/@ibm-telemetry-js-npm-1.2.0-0868d8ad4f-dd942eaecc.zip
  packages/react/README.md
  packages/react/package.json
  packages/react/telemetry.yml
  yarn.lock
Labels: package: react, Ready to merge, v1

#11504 chore(masthead-v2-alpha): cherry pick template literal minification
  .yarn/cache/@types-clean-css-npm-4.2.11-2b47418843-385337a881.zip
  .yarn/cache/@types-html-minifier-npm-3.5.3-48bb59db10-bad3bece7e.zip
  .yarn/cache/@types-relateurl-npm-0.2.33-e8ef0a6da2-a4b7876cc2.zip
  .yarn/cache/html-minifier-npm-4.0.0-2c414aaddf-a1a49ee78a.zip
  .yarn/cache/minify-html-literals-npm-1.3.5-2818068cad-9f5b50055e.zip
  .yarn/cache/parse-literals-npm-1.2.1-2c41c00bff-8f1ad2ed47.zip
  .yarn/cache/rollup-plugin-minify-html-literals-npm-1.2.6-fbf338ecb6-07b9f321dc.zip
  packages/carbon-web-components/gulp-tasks/build/modules/scripts.js
  packages/carbon-web-components/package.json
  packages/carbon-web-components/tools/get-rollup-config.js
  packages/web-components/package.json
  packages/web-components/src/components/table-of-contents/table-of-contents.ts
  packages/web-components/tests/snapshots/dds-table-of-contents.md
  packages/web-components/tools/get-rollup-config.js
  yarn.lock
Labels: package: web components, adopter: AEM, owner: Innovation Team, test: CDN preview, Masthead L0/L1 v2

#11516 fix(datatable): is-sortable not working with table column cell
  packages/carbon-web-components/src/components/data-table/table-header-cell.ts
  packages/carbon-web-components/src/components/data-table/table.ts
Labels: Ready to merge

#11512 chore: onboard @carbon/ibmdotcom-react to IBM Telemetry 🚀 (#11507)
  .yarn/cache/@carbon-ibmdotcom-services-npm-1.54.0-ad1ee8ddb8-0370f56b68.zip
  .yarn/cache/@carbon-ibmdotcom-styles-npm-1.54.0-41a55af16d-56652977ca.zip
  .yarn/cache/@carbon-ibmdotcom-utilities-npm-1.54.0-e8ad769e3a-45606730a2.zip
  .yarn/cache/@ibm-telemetry-js-npm-1.2.0-0868d8ad4f-dd942eaecc.zip
  packages/react/README.md
  packages/react/package.json
  packages/react/telemetry.yml
  yarn.lock
Labels: package: react, Ready to merge, v1

#11518 feat(background-media): expose gradient-hidden option
  packages/web-components/src/components/background-media/__stories__/background-media.stories.ts
  packages/web-components/src/components/background-media/background-media.ts
Labels: package: web components, Ready to merge, adopter: AEM, owner: Innovation Team, v1

#11510 feat(chat-button): experimental wc
  .yarn/cache/@carbon-styles-npm-1.49.0-deec63f77b-7f44cd8fb4.zip
  .yarn/cache/@carbon-themes-npm-11.30.0-a7ac8caa0a-e22b61ba56.zip
  packages/carbon-web-components/examples/codesandbox/basic/components/chat-button/.babelrc
  packages/carbon-web-components/examples/codesandbox/basic/components/chat-button/.gitignore
  packages/carbon-web-components/examples/codesandbox/basic/components/chat-button/.sassrc
  packages/carbon-web-components/examples/codesandbox/basic/components/chat-button/cdn.html
  packages/carbon-web-components/examples/codesandbox/basic/components/chat-button/index.html
  packages/carbon-web-components/examples/codesandbox/basic/components/chat-button/package.json
  packages/carbon-web-components/examples/codesandbox/basic/components/chat-button/sandbox.config.json
  packages/carbon-web-components/examples/codesandbox/basic/components/chat-button/src/index.js
  packages/carbon-web-components/examples/codesandbox/basic/components/chat-button/src/styles.scss
  packages/carbon-web-components/package.json
  packages/carbon-web-components/src/components/button/button.scss
  packages/carbon-web-components/src/components/chat-button/chat-button-skeleton.ts
  packages/carbon-web-components/src/components/chat-button/chat-button-story.mdx
  packages/carbon-web-components/src/components/chat-button/chat-button-story.scss
  packages/carbon-web-components/src/components/chat-button/chat-button-story.ts
  packages/carbon-web-components/src/components/chat-button/chat-button.scss
  packages/carbon-web-components/src/components/chat-button/chat-button.ts
  packages/carbon-web-components/src/components/chat-button/defs.ts
  packages/carbon-web-components/src/components/chat-button/index.ts
  packages/styles/package.json
  packages/web-components/package.json
  yarn.lock
Labels: Ready to merge, package: carbon web components, area: AI

#11530 feat(data-table): ai updates
  packages/carbon-web-components/src/components/data-table/_table-core.scss
  packages/carbon-web-components/src/components/data-table/_table-expandable.scss
  packages/carbon-web-components/src/components/data-table/_table-selection.scss
  packages/carbon-web-components/src/components/data-table/_table-sort.scss
  packages/carbon-web-components/src/components/data-table/table-expanded-row.ts
  packages/carbon-web-components/src/components/data-table/table-header-cell.ts
  packages/carbon-web-components/src/components/data-table/table.ts
  packages/carbon-web-components/src/components/slug/slug-story.scss
  packages/carbon-web-components/src/components/slug/slug-story.ts
  yarn.lock
Labels: Ready to merge, package: carbon web components, area: AI

#11515 Notice Choice web component fine tuning
  packages/web-components/src/components/notice-choice/__stories__/README.stories.mdx
  packages/web-components/src/components/notice-choice/__stories__/notice-choice.stories.ts
  packages/web-components/src/components/notice-choice/cc-lc-map.ts
  packages/web-components/src/components/notice-choice/country-settings.ts
  packages/web-components/src/components/notice-choice/notice-choice.ts
  packages/web-components/src/components/notice-choice/utils.ts
  packages/web-components/src/components/notice-choice/world-wide-content.ts
Labels: package: web components, Ready to merge

#11517 chore(masthead-alpha-v2): get latest from alpha dev into alpha release branch
  .yarn/cache/@types-clean-css-npm-4.2.11-2b47418843-385337a881.zip
  .yarn/cache/@types-html-minifier-npm-3.5.3-48bb59db10-bad3bece7e.zip
  .yarn/cache/@types-relateurl-npm-0.2.33-e8ef0a6da2-a4b7876cc2.zip
  .yarn/cache/html-minifier-npm-4.0.0-2c414aaddf-a1a49ee78a.zip
  .yarn/cache/minify-html-literals-npm-1.3.5-2818068cad-9f5b50055e.zip
  .yarn/cache/parse-literals-npm-1.2.1-2c41c00bff-8f1ad2ed47.zip
  .yarn/cache/rollup-plugin-minify-html-literals-npm-1.2.6-fbf338ecb6-07b9f321dc.zip
  packages/carbon-web-components/gulp-tasks/build/modules/scripts.js
  packages/carbon-web-components/package.json
  packages/carbon-web-components/tools/get-rollup-config.js
  packages/web-components/package.json
  packages/web-components/src/components/table-of-contents/table-of-contents.ts
  packages/web-components/tests/snapshots/dds-table-of-contents.md
  packages/web-components/tools/get-rollup-config.js
  yarn.lock
Labels: package: web components, Ready to merge, adopter: AEM, owner: Innovation Team, Masthead L0/L1 v2

#11502 chore(react): remove react wrappers
  .yarn/cache/@emotion-babel-plugin-npm-11.11.0-c1dcc4c884-8de0176668.zip
  .yarn/cache/@emotion-cache-npm-11.11.0-3e6e449071-ef29756247.zip
  .yarn/cache/@emotion-hash-npm-0.9.1-650576c2b1-716e17e48b.zip
  .yarn/cache/@emotion-memoize-npm-0.8.1-9b1e35ff15-a19cc01a29.zip
  .yarn/cache/@emotion-react-npm-11.11.1-a07d6a6ebd-dfc140718d.zip
  .yarn/cache/@emotion-serialize-npm-1.1.2-4b856d3761-71ed270ee4.zip
  .yarn/cache/@emotion-sheet-npm-1.2.2-a918ac483c-cc46b20ef7.zip
  .yarn/cache/@emotion-unitless-npm-0.8.1-bcf0a8f565-918f73c46a.zip
  .yarn/cache/@emotion-utils-npm-1.2.1-3d04f99348-472fa529c6.zip
  .yarn/cache/@emotion-weak-memoize-npm-0.3.1-bfc18213af-b2be47caa2.zip
  .yarn/cache/@storybook-addon-knobs-npm-7.0.2-45e2f353d9-6fdd170e35.zip
  .yarn/cache/@types-react-transition-group-npm-4.4.10-5e11bed850-b429f3bd54.zip
  .yarn/cache/core-js-npm-3.34.0-8debcb197b-054474ab6a.zip
  .yarn/cache/memoize-one-npm-6.0.0-8b2a2cd020-28feaf7e9a.zip
  .yarn/cache/react-select-npm-5.8.0-468e0395bb-04d3639ea1.zip
  .yarn/cache/stylis-npm-4.2.0-6b07f11c99-5835918527.zip
  .yarn/cache/use-isomorphic-layout-effect-npm-1.1.2-65facd0a4b-fd3787ed19.zip
  packages/carbon-web-components/.eslintrc.js
  packages/carbon-web-components/README.md
  packages/carbon-web-components/docs/form.md
  packages/carbon-web-components/docs/form.mdx
  packages/carbon-web-components/docs/welcome.mdx
  packages/carbon-web-components/gulp-tasks/build/modules.js
  packages/carbon-web-components/gulp-tasks/build/modules/react-defs.js
  packages/carbon-web-components/gulp-tasks/build/modules/react-types.js
  packages/carbon-web-components/gulp-tasks/build/modules/react.js
  packages/carbon-web-components/gulp-tasks/build/modules/types.js
  packages/carbon-web-components/package.json
  packages/carbon-web-components/src/components/button/button-set.ts
  packages/carbon-web-components/src/components/implementation-practice.md
  packages/carbon-web-components/src/globals/wrappers/createReactCustomElementType.ts
  packages/carbon-web-components/tests/integration/build/ie_steps.js
  packages/carbon-web-components/tests/integration/build/react-ssr_steps.js
  packages/carbon-web-components/tests/integration/build/react_steps.js
  packages/carbon-web-components/tools/babel-plugin-create-react-custom-element-type-def.js
  packages/carbon-web-components/tools/babel-plugin-create-react-custom-element-type.js
  packages/carbon-web-components/tsconfig.json
  yarn.lock
Labels: package: carbon web components, storybook, dependencies, storybook-7

#11534 chore(gh): update GH workflows
  .github/workflows/automerge-content-updates.yml
  .github/workflows/automerge-cwc-releases.yml
  .github/workflows/automerge-storybook-controls.yml
  .github/workflows/ci-check.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy-cwc-next.yml
  .github/workflows/e2e-tests-parallel.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/percy-update-base.yml
Labels: Ready to merge, github_actions

#11511 fix(side-panel): refactor to match latest ibm-products
  .yarn/cache/@carbon-ibm-products-styles-npm-2.20.1-1f210e0807-a069cae6b7.zip
  .yarn/cache/@carbon-ibm-products-styles-npm-2.24.0-7b5a90470f-cd8103d46a.zip
  packages/carbon-web-components/package.json
  packages/carbon-web-components/src/components/side-panel/side-panel-story.ts
  packages/carbon-web-components/src/components/side-panel/side-panel.scss
  packages/carbon-web-components/src/components/side-panel/side-panel.ts
  yarn.lock
Labels: Ready to merge

#11533 feat(modal): ai updates
  packages/carbon-web-components/src/components/modal/modal-footer.ts
  packages/carbon-web-components/src/components/modal/modal.scss
  packages/carbon-web-components/src/components/modal/modal.ts
  packages/carbon-web-components/src/components/slug/slug-example-story.ts
  packages/web-components/src/components/leaving-ibm/leaving-ibm-modal.ts
Labels: Ready to merge, package: carbon web components, area: AI

#11541 docs(data-table): update data-table docs
  packages/carbon-web-components/src/components/data-table/stories/data-table-story.mdx
Labels: documentation, Ready to merge, package: carbon web components, storybook

#11555 chore(storybook): add dotcom footer
  packages/carbon-web-components/.storybook/manager-head.html
  packages/styles/scss/components/footer/_footer-logo.scss
  packages/web-components/.storybook/manager-head.html
  packages/web-components/src/components/footer/footer-composite.ts
Labels: package: web components, Ready to merge, package: carbon web components, storybook

#11556 fix(tabs): container size wrong
  packages/carbon-web-components/src/components/tabs/tabs.scss
  packages/styles/scss/components/tabs-extended-media/_tabs-extended-media.scss
Labels: Ready to merge, package: carbon web components

#11553 chore(cdn): fix scss cdn to use v11
  packages/web-components/src/globals/scss/grid.scss
  packages/web-components/src/globals/scss/plex.scss
  packages/web-components/src/globals/scss/themes.scss
  packages/web-components/tests/snapshots/c4d-masthead-composite.md
Labels: package: styles, Ready to merge

#11549 feat(autoalign): @floating-ui/dom implementation
  .yarn/cache/@floating-ui-core-npm-1.6.0-47cc2a9b3a-d6a47cacde.zip
  .yarn/cache/@floating-ui-dom-npm-1.6.3-cf39e1c671-83e97076c7.zip
  .yarn/cache/@floating-ui-utils-npm-0.2.1-5ad70234fc-33c9ab346e.zip
  packages/carbon-web-components/examples/codesandbox/autoalign/cdn.html
  packages/carbon-web-components/examples/codesandbox/autoalign/index.html
  packages/carbon-web-components/examples/codesandbox/autoalign/package.json
  packages/carbon-web-components/examples/codesandbox/autoalign/sandbox.config.json
  packages/carbon-web-components/examples/codesandbox/autoalign/src/index.js
  packages/carbon-web-components/examples/codesandbox/autoalign/src/styles.scss
  packages/carbon-web-components/examples/codesandbox/basic/components/toggletip/.babelrc
  packages/carbon-web-components/examples/codesandbox/basic/components/toggletip/.gitignore
  packages/carbon-web-components/examples/codesandbox/basic/components/toggletip/.sassrc
  packages/carbon-web-components/examples/codesandbox/basic/components/toggletip/cdn.html
  packages/carbon-web-components/examples/codesandbox/basic/components/toggletip/index.html
  packages/carbon-web-components/examples/codesandbox/basic/components/toggletip/package.json
  packages/carbon-web-components/examples/codesandbox/basic/components/toggletip/sandbox.config.json
  packages/carbon-web-components/examples/codesandbox/basic/components/toggletip/src/index.js
  packages/carbon-web-components/examples/codesandbox/basic/components/toggletip/src/styles.scss
  packages/carbon-web-components/package.json
  packages/carbon-web-components/src/components/data-table/_table-core.scss
  packages/carbon-web-components/src/components/icon-button/icon-button.ts
  packages/carbon-web-components/src/components/popover/autoalign-story.mdx
  packages/carbon-web-components/src/components/popover/autoalign-story.ts
  packages/carbon-web-components/src/components/popover/defs.ts
  packages/carbon-web-components/src/components/popover/popover-content.ts
  packages/carbon-web-components/src/components/popover/popover.scss
  packages/carbon-web-components/src/components/popover/popover.ts
  packages/carbon-web-components/src/components/slug/slug.scss
  packages/carbon-web-components/src/components/slug/slug.ts
  packages/carbon-web-components/src/components/toggle-tip/toggletip-story.mdx
  packages/carbon-web-components/src/components/toggle-tip/toggletip.scss
  packages/carbon-web-components/src/components/toggle-tip/toggletip.ts
  packages/carbon-web-components/src/components/tooltip/tooltip.ts
  packages/carbon-web-components/src/globals/internal/floating-ui.ts
  yarn.lock
Labels: package: carbon web components

#11564 fix(image-item): missing import - image-item sub component was not lo…
  packages/web-components/src/components/image/index.ts
Labels: bug, dev, Ready to merge, adopter: AEM, owner: Innovation Team, test: CDN preview, v1

#11561 fix(filter-tag): v1 open not showing
  packages/carbon-web-components/src/components/tag/tag.scss
Labels: Ready to merge, package: carbon web components, v1

#11566 chore(v1): merge v1 with v1.55 branch & automerge
  .github/workflows/automerge.yml
  .github/workflows/release-preflight.yml
  .yarn/cache/@carbon-ibmdotcom-services-npm-1.54.0-ad1ee8ddb8-0370f56b68.zip
  .yarn/cache/@carbon-ibmdotcom-styles-npm-1.54.0-41a55af16d-56652977ca.zip
  .yarn/cache/@carbon-ibmdotcom-utilities-npm-1.54.0-e8ad769e3a-45606730a2.zip
  packages/carbon-web-components/CHANGELOG.md
  packages/carbon-web-components/package.json
  packages/carbon-web-components/src/components/input/input.ts
  packages/carbon-web-components/src/components/number-input/number-input.ts
  packages/eslint-config-ibmdotcom/CHANGELOG.md
  packages/eslint-config-ibmdotcom/package.json
  packages/eslint-plugin-ibmdotcom-import-rules/CHANGELOG.md
  packages/eslint-plugin-ibmdotcom-import-rules/package.json
  packages/eslint-plugin-react-prop-type-comments/CHANGELOG.md
  packages/eslint-plugin-react-prop-type-comments/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/services-store/CHANGELOG.md
  packages/services-store/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
  packages/storybook-addon-theme/CHANGELOG.md
  packages/storybook-addon-theme/package.json
  packages/stylelint-config-ibmdotcom/CHANGELOG.md
  packages/stylelint-config-ibmdotcom/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
  packages/utilities/src/utilities/settings/settings.js
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  yarn.lock
Labels: Ready to merge, v1

#11565 feat(autoalign): utilize autoUpdate from @floating-ui/dom
  packages/carbon-web-components/src/components/popover/popover.ts
  packages/carbon-web-components/src/components/slug/slug.scss
  packages/carbon-web-components/src/components/slug/slug.ts
  packages/carbon-web-components/src/components/toggle-tip/toggletip.ts
  packages/carbon-web-components/src/globals/controllers/popover-controller.ts
  packages/carbon-web-components/src/globals/internal/floating-ui.ts
Labels: package: carbon web components

#11554 feat(tabs-extended): avoid opening to middle of accordion content
  packages/web-components/src/components/tabs-extended/tab.ts
  packages/web-components/src/components/tabs-extended/tabs-extended.ts
Labels: package: web components, Ready to merge, adopter: AEM, owner: Innovation Team, test: CDN preview, v1

#11572 fix(autoalign): fix autoalign CSB example
  packages/carbon-web-components/examples/codesandbox/autoalign/.sassrc
  packages/carbon-web-components/examples/codesandbox/autoalign/cdn.html
  packages/carbon-web-components/examples/codesandbox/autoalign/index.html
  packages/carbon-web-components/examples/codesandbox/autoalign/package.json
Labels: documentation, package: carbon web components

#11571 fix(side-nav): update max-block-size
  packages/carbon-web-components/src/components/ui-shell/side-nav.scss
Labels: Ready to merge, package: carbon web components

#11573 fix(dropdown): visibility of warn-text and invalid-text
  packages/carbon-web-components/src/components/dropdown/dropdown.ts
Labels: Ready to merge, package: carbon web components

#11532 fix(date picker): detect change range interval console error
  .yarn/cache/flatpickr-npm-4.6.13-06399933fc-0e32f2fbd4.zip
  .yarn/cache/flatpickr-patch-9090094964-720e102d03.zip
  packages/carbon-web-components/package.json
  packages/carbon-web-components/src/components/date-picker/range-plugin.ts
  yarn.lock
Labels: Ready to merge, package: carbon web components

#11559 Fixed countrySettings undefined issue
  packages/web-components/src/components/notice-choice/notice-choice.ts
Labels: package: web components, Ready to merge, test: CDN preview

#11574 fix(masthead): prevent extra space beneath megapanel columns in Safari
  packages/styles/scss/components/masthead/_masthead-megamenu.scss
Labels: package: styles, Ready to merge, adopter: AEM, owner: Innovation Team, :eyes: eyes needed

#11577 fix(chat-button): update to latest with no icon option
  .yarn/cache/@carbon-styles-npm-1.51.0-559dc8b13b-39f9e56f19.zip
  packages/carbon-web-components/package.json
  packages/carbon-web-components/src/components/chat-button/chat-button-story.ts
  packages/carbon-web-components/src/components/chat-button/chat-button.ts
  packages/styles/package.json
  packages/web-components/package.json
  packages/web-components/src/components/notice-choice/notice-choice.ts
  yarn.lock
Labels: Ready to merge, package: carbon web components, area: AI

#11594 fix: side panel story slug alignment
  packages/carbon-web-components/src/components/side-panel/side-panel-story.ts
Labels: Ready to merge

#11583 fix(masthead): prevent megamenu tabs closing prematurely in Safari
  packages/web-components/src/components/masthead/megamenu-tab.ts
Labels: package: web components, Ready to merge, owner: Innovation Team, :eyes: eyes needed, v2

#11586 feat: cwc stacking tearsheets
  .yarn/cache/@carbon-ibm-products-styles-npm-2.27.1-936e33a14a-42ef53c93c.zip
  .yarn/cache/@carbon-ibm-products-styles-npm-2.28.0-809aeccc71-e895f56284.zip
  packages/carbon-web-components/package.json
  packages/carbon-web-components/src/components/tearsheet/story-styles.scss
  packages/carbon-web-components/src/components/tearsheet/tearsheet-story.ts
  packages/carbon-web-components/src/components/tearsheet/tearsheet.scss
  packages/carbon-web-components/src/components/tearsheet/tearsheet.ts
  yarn.lock
Labels: Ready to merge

#11592 chore(rtl): remove unused docs and deps
  .yarn/cache/@choojs-findup-npm-0.2.1-13bdf9d041-550c58aac2.zip
  .yarn/cache/gulp-rtlcss-npm-1.4.2-a61671ca13-a4c6680927.zip
  .yarn/cache/rtlcss-npm-2.6.2-6a5419b73c-6d3cb2ea10.zip
  packages/carbon-web-components/.storybook/main.js
  packages/carbon-web-components/docs/styling.md
  packages/carbon-web-components/src/globals/internal/storybook-cdn.ts
  packages/carbon-web-components/tools/get-rollup-config.js
  packages/styles/gulp/build/default.js
  packages/styles/gulp/config.js
  packages/styles/gulp/tasks/sass-rtl.js
  packages/styles/gulp/tasks/watch.js
  packages/styles/package.json
  packages/web-components/IMPLEMENTATION_NOTES.md
  packages/web-components/README.md
  packages/web-components/package.json
  packages/web-components/src/globals/internal/storybook-cdn.ts
  packages/web-components/tools/get-rollup-config.js
  yarn.lock
Labels: documentation, package: styles, package: web components, Ready to merge, package: carbon web components

#11547 fix(masthead): ensure custom L0 nav items work
  packages/web-components/src/components/masthead/__stories__/README.stories.mdx
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/masthead-container.ts
  packages/web-components/tests/e2e-storybook/cypress/integration/masthead/masthead-default.e2e.js
Labels: package: web components, Ready to merge, owner: Innovation Team, :eyes: eyes needed, test: CDN preview
