Repository carbon-design-system/carbon-for-ibm-dotcom, pull requests merged in 2024-09, with the labels that each got.

#11997 feat(card): add subcomponents shadow parts
  packages/styles/scss/components/image/_image.scss
  packages/web-components/src/components/card/card-footer.ts
  packages/web-components/src/components/card/card.ts
  packages/web-components/tests/snapshots/c4d-card-footer.md
  packages/web-components/tests/snapshots/c4d-card-in-card.md
  packages/web-components/tests/snapshots/c4d-card.md
  packages/web-components/tests/snapshots/c4d-feature-card.md
  packages/web-components/tests/snapshots/c4d-filter-panel-composite.md
  packages/web-components/tests/snapshots/c4d-masthead-profile.md
Labels: Ready to merge

#11993 fix(callout-quote): forcing sans-serif font in non latin fonts
  packages/styles/scss/components/callout-quote/index.scss
  packages/styles/scss/components/quote/_quote.scss
  packages/web-components/src/components/carousel/__tests__/carousel.test.ts
  packages/web-components/src/components/quote/quote.ts
  packages/web-components/tests/karma.conf.js
  packages/web-components/tests/snapshots/dds-filter-panel-composite.md
  packages/web-components/tests/snapshots/dds-table-of-contents.md
  packages/web-components/tests/snapshots/dds-tabs-extended-media.md
  packages/web-components/tests/snapshots/dds-tabs-extended.md
Labels: v1

#12018 [kaltura] fix race condition in video metadata fetching and handling
  packages/services-store/src/types/kalturaPlayerAPI.ts
  packages/web-components/src/component-mixins/cta/cta.ts
  packages/web-components/src/components/cta/video-cta-composite.ts
Labels: bug, Ready to merge, adopter: AEM, owner: Innovation Team, test: CDN preview

#12032 fix(masthead): support proper icon direction in RTL languages
  packages/web-components/src/components/masthead/left-nav-menu-category-heading.ts
  packages/web-components/src/components/masthead/left-nav-menu-item.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/masthead-l1-cta.ts
  packages/web-components/src/components/masthead/masthead-l1.ts
  packages/web-components/src/components/masthead/megamenu-category-heading.ts
  packages/web-components/src/components/masthead/megamenu-heading.ts
Labels: RTL, package: web components, Ready to merge, adopter: AEM, owner: Innovation Team, test: CDN preview

#12016 Feat/addressing components with missing shadow parts
  packages/web-components/src/component-mixins/cta/cta.ts
  packages/web-components/src/components/button/button-expressive.ts
  packages/web-components/src/components/button/button.ts
  packages/web-components/src/components/carousel/carousel.ts
  packages/web-components/src/components/content-block-headlines/content-block-headlines-item.ts
  packages/web-components/src/components/content-block-horizontal/content-block-horizontal.ts
  packages/web-components/src/components/content-block/content-block-copy.ts
  packages/web-components/src/components/content-block/content-block-heading.ts
  packages/web-components/src/components/content-group/content-group-copy.ts
  packages/web-components/src/components/content-item/content-item-copy.ts
  packages/web-components/src/components/content-item/content-item.ts
  packages/web-components/src/components/cta/card-cta.ts
  packages/web-components/src/components/cta/card-link-cta.ts
  packages/web-components/src/components/dotcom-shell/dotcom-shell-composite.ts
  packages/web-components/src/components/expressive-modal/expressive-modal.ts
  packages/web-components/src/components/image/image.ts
  packages/web-components/src/components/lightbox-media-viewer/lightbox-media-viewer.ts
  packages/web-components/src/components/lightbox-media-viewer/lightbox-video-player.ts
  packages/web-components/src/components/link-with-icon/link-with-icon.ts
  packages/web-components/src/components/markdown/markdown.ts
  packages/web-components/src/components/masthead/left-nav-menu.ts
  packages/web-components/src/components/masthead/left-nav-name.ts
  packages/web-components/src/components/masthead/left-nav.ts
  packages/web-components/src/components/masthead/masthead-l1.ts
  packages/web-components/src/components/masthead/masthead-profile.ts
  packages/web-components/src/components/masthead/megamenu-category-link.ts
  packages/web-components/src/components/notice-choice/notice-choice.ts
  packages/web-components/tests/snapshots/c4d-button-group.md
  packages/web-components/tests/snapshots/c4d-card-footer.md
  packages/web-components/tests/snapshots/c4d-carousel.md
  packages/web-components/tests/snapshots/c4d-content-item.md
  packages/web-components/tests/snapshots/c4d-expressive-modal.md
  packages/web-components/tests/snapshots/c4d-left-nav-menu.md
  packages/web-components/tests/snapshots/c4d-lightbox-video-player.md
  packages/web-components/tests/snapshots/c4d-link-with-icon.md
  packages/web-components/tests/snapshots/c4d-locale-modal.md
  packages/web-components/tests/snapshots/c4d-masthead-profile.md
  packages/web-components/tests/snapshots/c4d-text-cta.md
Labels: package: web components, Ready to merge

#11991 fix(callout-quote): non-latin typefaces do not support serif
  packages/styles/scss/components/callout-quote/_callout-quote.scss
  packages/styles/scss/components/quote/_quote.scss
  packages/web-components/src/components/quote/quote.ts
Labels: package: web components, Ready to merge, v2

#12033 Fixed Arabic Right Direction Issue
  packages/styles/scss/components/notice-choice/_notice-choice.scss
Labels: package: web components, Ready to merge

#12049 [v1] feat(content-item-horizontal): add shadow parts
  packages/web-components/src/components/content-item-horizontal/content-item-horizontal-media-featured.ts
  packages/web-components/src/components/content-item-horizontal/content-item-horizontal-media.ts
  packages/web-components/src/components/content-item-horizontal/content-item-horizontal.ts
  packages/web-components/src/components/content-item/content-item.ts
  packages/web-components/tests/snapshots/dds-content-item-horizontal.md
  packages/web-components/tests/snapshots/dds-content-item.md
  packages/web-components/tests/snapshots/dds-pictogram-item.md
Labels: Ready to merge, adopter: AEM, owner: Innovation Team, test: CDN preview, v1
