Repository carbon-design-system/carbon-for-ibm-dotcom, pull requests merged in 2024-01, with the labels that each got.

#11283 fix(package.json): remove node exports field
  packages/carbon-web-components/package.json
Labels: Ready to merge, package: carbon web components

#11284 fix(codesandbox): redirect codesandbox links to main
  docs/cwc-v2-migration.md
  packages/carbon-web-components/README.md
  packages/carbon-web-components/docs/form-story.mdx
  packages/carbon-web-components/docs/form.md
  packages/carbon-web-components/docs/styling-story.mdx
  packages/carbon-web-components/docs/styling.md
  packages/carbon-web-components/docs/welcome-story.mdx
  packages/carbon-web-components/src/components/accordion/accordion-story.mdx
  packages/carbon-web-components/src/components/breadcrumb/breadcrumb-story.mdx
  packages/carbon-web-components/src/components/button/button-story.mdx
  packages/carbon-web-components/src/components/checkbox/checkbox-story.mdx
  packages/carbon-web-components/src/components/code-snippet/code-snippet-story.mdx
  packages/carbon-web-components/src/components/combo-box/combo-box-story.mdx
  packages/carbon-web-components/src/components/content-switcher/content-switcher-story.mdx
  packages/carbon-web-components/src/components/copy-button/copy-button-story.mdx
  packages/carbon-web-components/src/components/data-table/stories/data-table-story.mdx
  packages/carbon-web-components/src/components/date-picker/date-picker-story.mdx
  packages/carbon-web-components/src/components/dropdown/dropdown-story.mdx
  packages/carbon-web-components/src/components/file-uploader/file-uploader-story.mdx
  packages/carbon-web-components/src/components/form-group/form-group-story.mdx
  packages/carbon-web-components/src/components/icon-button/icon-button-story.mdx
  packages/carbon-web-components/src/components/inline-loading/inline-loading-story.mdx
  packages/carbon-web-components/src/components/layer/layer-story.mdx
  packages/carbon-web-components/src/components/link/link-story.mdx
  packages/carbon-web-components/src/components/list/list-story.mdx
  packages/carbon-web-components/src/components/loading/loading-story.mdx
  packages/carbon-web-components/src/components/modal/modal-story.mdx
  packages/carbon-web-components/src/components/multi-select/multi-select-story.mdx
  packages/carbon-web-components/src/components/notification/notification-story.mdx
  packages/carbon-web-components/src/components/number-input/number-input-story.mdx
  packages/carbon-web-components/src/components/overflow-menu/overflow-menu-story.mdx
  packages/carbon-web-components/src/components/pagination/pagination-story.mdx
  packages/carbon-web-components/src/components/popover/popover-story.mdx
  packages/carbon-web-components/src/components/progress-bar/progress-bar-story.mdx
  packages/carbon-web-components/src/components/progress-indicator/progress-indicator-story.mdx
  packages/carbon-web-components/src/components/radio-button/radio-button-story.mdx
  packages/carbon-web-components/src/components/search/search-story.mdx
  packages/carbon-web-components/src/components/select/select-story.mdx
  packages/carbon-web-components/src/components/skeleton-placeholder/skeleton-placeholder-story.mdx
  packages/carbon-web-components/src/components/skeleton-text/skeleton-text-story.mdx
  packages/carbon-web-components/src/components/skip-to-content/skip-to-content-story.mdx
  packages/carbon-web-components/src/components/slider/slider-story.mdx
  packages/carbon-web-components/src/components/slug/slug-story.mdx
  packages/carbon-web-components/src/components/stack/stack-story.mdx
  packages/carbon-web-components/src/components/structured-list/structured-list-story.mdx
  packages/carbon-web-components/src/components/tabs/tabs-story.mdx
  packages/carbon-web-components/src/components/tag/tag-story.mdx
  packages/carbon-web-components/src/components/text-input/text-input-story.mdx
  packages/carbon-web-components/src/components/textarea/textarea-story.mdx
  packages/carbon-web-components/src/components/tile/tile-story.mdx
  packages/carbon-web-components/src/components/toggle-tip/toggletip-story.mdx
  packages/carbon-web-components/src/components/toggle/toggle-story.mdx
  packages/carbon-web-components/src/components/tooltip/tooltip-story.mdx
  packages/carbon-web-components/src/components/ui-shell/ui-shell-story.mdx
Labels: dev, Ready to merge, package: carbon web components

#11285 fix(slider): sizing issues
  packages/carbon-web-components/src/components/slider/slider.scss
Labels: Ready to merge

#11188 feat(video-player): Improve usage as background media
  packages/styles/scss/components/background-media/_background-media.scss
  packages/styles/scss/components/video-player/_video-player.scss
  packages/web-components/src/components/video-player/video-player-container.ts
Labels: package: styles, package: web components, Ready to merge, adopter: AEM, owner: Innovation Team

#11307 fix(radio-button): add missing slot optioin
  packages/carbon-web-components/src/components/radio-button/radio-button.ts
Labels: Ready to merge, package: carbon web components

#11269 fix(masthead-v2): provide accessible nav label
  packages/web-components/src/components/masthead/top-nav.ts
Labels: package: web components, Ready to merge, owner: Innovation Team, Masthead L0/L1 v2

#11317 feat(file-uploader): update story to Storybook v7
  packages/carbon-web-components/.storybook/main.ts
  packages/carbon-web-components/src/components/file-uploader/file-uploader-story.ts
  packages/carbon-web-components/src/components/file-uploader/file-uploader.mdx
  packages/carbon-web-components/src/components/file-uploader/file-uploader.stories.ts
Labels: package: carbon web components, storybook-7

#11338 feat(overflow-menu): update story to Storybook v7
  packages/carbon-web-components/.storybook/main.ts
  packages/carbon-web-components/src/components/overflow-menu/overflow-menu-story.ts
  packages/carbon-web-components/src/components/overflow-menu/overflow-menu.mdx
  packages/carbon-web-components/src/components/overflow-menu/overflow-menu.stories.ts
Labels: package: carbon web components, storybook-7

#11266 fix(sticky-header): prevent negative overscroll from hiding stuck elements
  packages/utilities/src/utilities/StickyHeader/StickyHeader.js
Labels: package: utilities, Ready to merge, adopter: AEM, owner: Innovation Team, :eyes: eyes needed, Masthead L0/L1 v2

#11183 chore(masthead): integrate enhancements from alpha branch
  packages/styles/scss/components/masthead/_masthead.scss
  packages/utilities/src/utilities/StickyHeader/StickyHeader.js
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/masthead-contact.ts
  packages/web-components/src/components/masthead/masthead-container.ts
  packages/web-components/src/components/masthead/masthead-l1.ts
  packages/web-components/src/components/masthead/top-nav.ts
Labels: package: web components, Ready to merge, owner: Innovation Team, :eyes: eyes needed, Masthead L0/L1 v2

#11351 chore(sticky-header): cherry pick "prevent negative overscroll" into v1
  packages/utilities/src/utilities/StickyHeader/StickyHeader.js
Labels: package: utilities, Ready to merge, adopter: AEM, owner: Innovation Team, :eyes: eyes needed, v1

#11250 fix(github actions): fix ignore flags for deploy-canary workflow
  .github/workflows/deploy-canary.yml
Labels: Ready to merge

#11374 feat(slider): update story to Storybook v7
  packages/carbon-web-components/.storybook/main.ts
  packages/carbon-web-components/src/components/slider/slider-story.ts
  packages/carbon-web-components/src/components/slider/slider.mdx
  packages/carbon-web-components/src/components/slider/slider.stories.ts
Labels: package: carbon web components, storybook-7

#11372 feat(skip-to-content): update story to Storybook v7
  packages/carbon-web-components/.storybook/main.ts
  packages/carbon-web-components/src/components/skip-to-content/skip-to-content-story.ts
  packages/carbon-web-components/src/components/skip-to-content/skip-to-content.mdx
  packages/carbon-web-components/src/components/skip-to-content/skip-to-content.stories.ts
Labels: package: carbon web components, storybook-7

#11363 feat(skeleton): update story to Storybook v7
  packages/carbon-web-components/.storybook/main.ts
  packages/carbon-web-components/src/components/skeleton-placeholder/skeleton-placeholder-story.ts
  packages/carbon-web-components/src/components/skeleton-placeholder/skeleton-placeholder.mdx
  packages/carbon-web-components/src/components/skeleton-placeholder/skeleton-placeholder.stories.ts
  packages/carbon-web-components/src/components/skeleton-text/skeleton-text-story.ts
  packages/carbon-web-components/src/components/skeleton-text/skeleton-text.mdx
  packages/carbon-web-components/src/components/skeleton-text/skeleton-text.stories.ts
Labels: package: carbon web components, storybook-7

#11359 feat(progress-indicator): update story to Storybook v7
  packages/carbon-web-components/.storybook/main.ts
  packages/carbon-web-components/src/components/progress-indicator/progress-indicator-story.ts
  packages/carbon-web-components/src/components/progress-indicator/progress-indicator.mdx
  packages/carbon-web-components/src/components/progress-indicator/progress-indicator.stories.ts
Labels: package: carbon web components, storybook-7

#11353 feat(progress-bar): update story to Storybook v7
  packages/carbon-web-components/.storybook/main.ts
  packages/carbon-web-components/src/components/progress-bar/progress-bar-story.ts
  packages/carbon-web-components/src/components/progress-bar/progress-bar.mdx
  packages/carbon-web-components/src/components/progress-bar/progress-bar.stories.ts
Labels: package: carbon web components, storybook-7

#11358 feat(button): cwc controls
  packages/carbon-web-components/.storybook/main.ts
  packages/carbon-web-components/src/components/button/button-story.ts
  packages/carbon-web-components/src/components/button/button.mdx
  packages/carbon-web-components/src/components/button/button.stories.ts
  packages/carbon-web-components/src/components/button/index.ts
  packages/carbon-web-components/tests/spec/button_spec.ts
Labels: package: carbon web components, storybook-7

#11362 feat(storybook): updated 2 component stories to v7
  packages/carbon-web-components/.storybook/main.ts
  packages/carbon-web-components/src/components/search/search-story.ts
  packages/carbon-web-components/src/components/search/search.mdx
  packages/carbon-web-components/src/components/search/search.stories.ts
  packages/carbon-web-components/src/components/select/select-story.ts
  packages/carbon-web-components/src/components/select/select.mdx
  packages/carbon-web-components/src/components/select/select.stories.ts
  packages/carbon-web-components/src/components/select/select.ts
Labels: package: carbon web components, storybook-7

#11344 feat(storybook): updated 7 component stories to v7
  packages/carbon-web-components/.storybook/main.ts
  packages/carbon-web-components/src/components/checkbox/checkbox-story.ts
  packages/carbon-web-components/src/components/checkbox/checkbox.mdx
  packages/carbon-web-components/src/components/checkbox/checkbox.stories.ts
  packages/carbon-web-components/src/components/data-table/stories/data-table-basic.stories.ts
  packages/carbon-web-components/src/components/data-table/stories/data-table-batch-actions.stories.ts
  packages/carbon-web-components/src/components/data-table/stories/data-table-dynamic.stories.ts
  packages/carbon-web-components/src/components/data-table/stories/data-table-expansion.stories.ts
  packages/carbon-web-components/src/components/data-table/stories/data-table-filtering.stories.ts
  packages/carbon-web-components/src/components/data-table/stories/data-table-selection.stories.ts
  packages/carbon-web-components/src/components/data-table/stories/data-table-skeleton-story.ts
  packages/carbon-web-components/src/components/data-table/stories/data-table-skeleton.stories.ts
  packages/carbon-web-components/src/components/data-table/stories/data-table-sorting.stories.ts
  packages/carbon-web-components/src/components/data-table/stories/data-table-toolbar.stories.ts
  packages/carbon-web-components/src/components/data-table/stories/data-table.mdx
  packages/carbon-web-components/src/components/data-table/table-row.ts
  packages/carbon-web-components/src/components/file-uploader/file-uploader.mdx
  packages/carbon-web-components/src/components/inline-loading/inline-loading-story.ts
  packages/carbon-web-components/src/components/inline-loading/inline-loading.mdx
  packages/carbon-web-components/src/components/inline-loading/inline-loading.stories.ts
  packages/carbon-web-components/src/components/link/link.mdx
  packages/carbon-web-components/src/components/list/list.mdx
  packages/carbon-web-components/src/components/list/ordered-list-story.ts
  packages/carbon-web-components/src/components/list/ordered-list.stories.ts
  packages/carbon-web-components/src/components/list/unordered-list-story.ts
  packages/carbon-web-components/src/components/list/unordered-list.stories.ts
  packages/carbon-web-components/src/components/loading/loading-story.ts
  packages/carbon-web-components/src/components/loading/loading.mdx
  packages/carbon-web-components/src/components/loading/loading.stories.ts
  packages/carbon-web-components/src/components/modal/modal-story.ts
  packages/carbon-web-components/src/components/modal/modal.mdx
  packages/carbon-web-components/src/components/modal/modal.stories.ts
  packages/carbon-web-components/tests/spec/checkbox_spec.ts
  packages/carbon-web-components/tests/spec/data-table_spec.ts
  packages/carbon-web-components/tests/spec/inline-loading_spec.ts
Labels: package: carbon web components, storybook, storybook-7

#11318 feat(layer/dropdown/combo-box): update stories to Storybook v7
  packages/carbon-web-components/.storybook/main.ts
  packages/carbon-web-components/.storybook/preview.js
  packages/carbon-web-components/src/components/combo-box/combo-box.mdx
  packages/carbon-web-components/src/components/combo-box/combo-box.stories.ts
  packages/carbon-web-components/src/components/dropdown/dropdown.mdx
  packages/carbon-web-components/src/components/dropdown/dropdown.stories.ts
  packages/carbon-web-components/src/components/layer/layer.mdx
  packages/carbon-web-components/src/components/layer/layer.stories.ts
  packages/carbon-web-components/tests/spec/combo-box_spec.ts
  packages/carbon-web-components/tests/spec/dropdown_spec.ts
Labels: package: carbon web components, storybook-7

#11331 feat(notification): update story to Storybook v7
  packages/carbon-web-components/.storybook/main.ts
  packages/carbon-web-components/src/components/notification/actionable-notification-story.ts
  packages/carbon-web-components/src/components/notification/actionable-notification.stories.ts
  packages/carbon-web-components/src/components/notification/inline-notification-story.ts
  packages/carbon-web-components/src/components/notification/inline-notification.stories.ts
  packages/carbon-web-components/src/components/notification/notification.mdx
  packages/carbon-web-components/src/components/notification/toast-notification-story.ts
  packages/carbon-web-components/src/components/notification/toast-notification.stories.ts
  packages/carbon-web-components/src/globals/internal/storybook-cdn.ts
Labels: package: carbon web components, storybook-7

#11315 feat(content-switcher): update story to Storybook v7
  packages/carbon-web-components/.storybook/main.ts
  packages/carbon-web-components/src/components/content-switcher/content-switcher-story.ts
  packages/carbon-web-components/src/components/content-switcher/content-switcher.mdx
  packages/carbon-web-components/src/components/content-switcher/content-switcher.scss
  packages/carbon-web-components/src/components/content-switcher/content-switcher.stories.ts
  packages/carbon-web-components/src/components/content-switcher/index.ts
Labels: package: carbon web components, storybook-7

#11310 feat(breadcrumb): update story to Storybook v7
  packages/carbon-web-components/.storybook/main.ts
  packages/carbon-web-components/src/components/breadcrumb/breadcrumb-story.ts
  packages/carbon-web-components/src/components/breadcrumb/breadcrumb.mdx
  packages/carbon-web-components/src/components/breadcrumb/breadcrumb.stories.ts
Labels: package: carbon web components, storybook-7

#11306 feat(accordion): update story to Storybook v7
  packages/carbon-web-components/.storybook/main.ts
  packages/carbon-web-components/src/components/accordion/accordion-story.ts
  packages/carbon-web-components/src/components/accordion/accordion.mdx
  packages/carbon-web-components/src/components/accordion/accordion.stories.ts
Labels: package: carbon web components, storybook-7

#11276 feat(date-picker): update story to Storybook v7
  packages/carbon-web-components/.storybook/main.ts
  packages/carbon-web-components/src/components/date-picker/date-picker-story.ts
  packages/carbon-web-components/src/components/date-picker/date-picker.mdx
  packages/carbon-web-components/src/components/date-picker/date-picker.stories.ts
Labels: package: carbon web components, storybook-7

#11312 feat(code-snippet): update story to Storybook v7
  packages/carbon-web-components/.storybook/main.ts
  packages/carbon-web-components/src/components/code-snippet/code-snippet-story.ts
  packages/carbon-web-components/src/components/code-snippet/code-snippet.mdx
  packages/carbon-web-components/src/components/code-snippet/code-snippet.stories.ts
Labels: package: carbon web components, storybook-7

#11336 feat(number-input): update story to Storybook v7
  packages/carbon-web-components/.storybook/main.ts
  packages/carbon-web-components/src/components/number-input/number-input-story.ts
  packages/carbon-web-components/src/components/number-input/number-input.mdx
  packages/carbon-web-components/src/components/number-input/number-input.stories.ts
  packages/carbon-web-components/src/components/number-input/stories/helpers.ts
Labels: package: carbon web components, storybook-7

#11324 fix(tooltip): tooltip persists issue
  packages/carbon-web-components/src/components/tooltip/tooltip.ts
Labels: bug, dev, Ready to merge, package: carbon web components

#11239 chore(masthead): update v2 documentation
  packages/web-components/src/components/masthead/__stories__/README.stories.mdx
  packages/web-components/src/components/masthead/__stories__/README.stories.react.mdx
  packages/web-components/src/components/masthead/__stories__/masthead.stories.react.tsx
Labels: documentation, package: web components, Ready to merge, owner: Innovation Team, :eyes: eyes needed

#11388 feat(form-group): update story to Storybook v7
  packages/carbon-web-components/.storybook/main.ts
  packages/carbon-web-components/src/components/form-group/form-group-story.ts
  packages/carbon-web-components/src/components/form-group/form-group.mdx
  packages/carbon-web-components/src/components/form-group/form-group.stories.ts
Labels: package: carbon web components, storybook-7

#11252 feat(masthead): spacing style regression fix and maintainability refactor
  packages/services-store/src/actions/__tests__/translateAPI.test.ts
  packages/services-store/src/reducers/__tests__/translateAPI.test.ts
  packages/services-store/src/types/translateAPI.ts
  packages/styles/scss/components/masthead/_masthead-l1.scss
  packages/styles/scss/components/masthead/_masthead-megamenu.scss
  packages/styles/scss/components/masthead/_masthead.scss
  packages/utilities/src/utilities/StickyHeader/StickyHeader.js
  packages/web-components/.env.example
  packages/web-components/examples/stackblitz/components/cloud-masthead/.gitignore
  packages/web-components/examples/stackblitz/components/cloud-masthead/.sassrc
  packages/web-components/examples/stackblitz/components/cloud-masthead/cdn-rtl.html
  packages/web-components/examples/stackblitz/components/cloud-masthead/cdn.html
  packages/web-components/examples/stackblitz/components/cloud-masthead/index.html
  packages/web-components/examples/stackblitz/components/cloud-masthead/package.json
  packages/web-components/examples/stackblitz/components/cloud-masthead/src/index-cdn.js
  packages/web-components/examples/stackblitz/components/cloud-masthead/src/index.js
  packages/web-components/examples/stackblitz/components/cloud-masthead/src/index.scss
  packages/web-components/src/components/dotcom-shell/__stories__/dotcom-shell.stories.ts
  packages/web-components/src/components/masthead/__stories__/cloud-masthead.stories.ts
  packages/web-components/src/components/masthead/__stories__/links.ts
  packages/web-components/src/components/masthead/__stories__/masthead.stories.react.tsx
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
  packages/web-components/src/components/masthead/__stories__/scoped-search-masthead.stories.ts
  packages/web-components/src/components/masthead/__tests__/cloud-masthead-composite.test.ts
  packages/web-components/src/components/masthead/__tests__/masthead-composite.test.ts
  packages/web-components/src/components/masthead/__tests__/masthead.steps.js
  packages/web-components/src/components/masthead/cloud/cloud-button-cta.ts
  packages/web-components/src/components/masthead/cloud/cloud-left-nav-item.ts
  packages/web-components/src/components/masthead/cloud/cloud-masthead-composite.ts
  packages/web-components/src/components/masthead/cloud/cloud-masthead-container.ts
  packages/web-components/src/components/masthead/cloud/cloud-masthead-global-bar.ts
  packages/web-components/src/components/masthead/cloud/cloud-masthead-profile.ts
  packages/web-components/src/components/masthead/cloud/cloud-masthead.scss
  packages/web-components/src/components/masthead/cloud/cloud-megamenu-category-heading.ts
  packages/web-components/src/components/masthead/cloud/cloud-megamenu-category-link-group.ts
  packages/web-components/src/components/masthead/cloud/cloud-megamenu-category-link.ts
  packages/web-components/src/components/masthead/cloud/cloud-megamenu-left-navigation.ts
  packages/web-components/src/components/masthead/cloud/cloud-megamenu-right-navigation.ts
  packages/web-components/src/components/masthead/cloud/cloud-megamenu-tab.ts
  packages/web-components/src/components/masthead/cloud/cloud-megamenu-tabs.ts
  packages/web-components/src/components/masthead/cloud/cloud-megamenu.ts
  packages/web-components/src/components/masthead/cloud/cloud-top-nav-name.ts
  packages/web-components/src/components/masthead/cloud/index.ts
  packages/web-components/src/components/masthead/defs.ts
  packages/web-components/src/components/masthead/left-nav-cta-item.ts
  packages/web-components/src/components/masthead/left-nav.ts
  packages/web-components/src/components/masthead/masthead-button-cta.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/masthead-contact.ts
  packages/web-components/src/components/masthead/masthead-container.ts
  packages/web-components/src/components/masthead/masthead-l1.ts
  packages/web-components/src/components/masthead/masthead.scss
  packages/web-components/src/components/masthead/megamenu-category-link-group.ts
  packages/web-components/src/globals/internal/feature-flags.ts
  packages/web-components/tests/snapshots/c4d-masthead-composite.md
  packages/web-components/tests/snapshots/cds-masthead-composite.md
  packages/web-components/tests/snapshots/dds-masthead-composite.md
  packages/web-components/tools/get-rollup-config.js
Labels: package: services, package: styles, package: web components, Ready to merge, owner: Innovation Team, Masthead L0/L1 v2

#11376 fix(search-with-typeahead): make eventBeforeRedirect return consistent & useful data
  packages/web-components/src/components/search-with-typeahead/search-with-typeahead.ts
Labels: package: web components, Ready to merge, owner: Innovation Team, :eyes: eyes needed

#11387 feat(icon-button): update story to Storybook v7
  packages/carbon-web-components/.storybook/main.ts
  packages/carbon-web-components/src/components/icon-button/icon-button-story.ts
  packages/carbon-web-components/src/components/icon-button/icon-button.mdx
  packages/carbon-web-components/src/components/icon-button/icon-button.stories.ts
Labels: package: carbon web components, storybook-7

#11253 [lightbox-media-viewer]: Auto-open and play media from targeted link
  packages/web-components/IMPLEMENTATION_NOTES.md
  packages/web-components/src/component-mixins/cta/cta.ts
  packages/web-components/src/components/expressive-modal/expressive-modal.ts
  packages/web-components/tests/e2e-storybook/cypress/integration/link-with-icon/default.e2e.js
Labels: Feature request, package: web components, Ready to merge, adopter: AEM, owner: Innovation Team, test: CDN preview

#11378 Determine solution for PUNS implementation
  packages/web-components/src/components/notice-choice/__stories__/README.stories.mdx
  packages/web-components/src/components/notice-choice/__stories__/notice-choice.stories.ts
  packages/web-components/src/components/notice-choice/notice-choice.ts
  packages/web-components/src/components/notice-choice/services.ts
  packages/web-components/src/components/notice-choice/utils.ts
Labels: Ready to merge, test: CDN preview

#11410 fix(date-picker): range plugin on import
  packages/carbon-web-components/src/components/date-picker/range-plugin.ts
Labels: Ready to merge, package: carbon web components

#11411 fix(input): display default value properly
  packages/carbon-web-components/src/components/input/input.ts
  packages/carbon-web-components/src/components/number-input/number-input.ts
Labels: Ready to merge, package: carbon web components

#11384 feat(slug): update story to Storybook v7
  packages/carbon-web-components/.storybook/main.ts
  packages/carbon-web-components/src/components/slug/slug-data-table-story.ts
  packages/carbon-web-components/src/components/slug/slug-data-table.stories.ts
  packages/carbon-web-components/src/components/slug/slug-example-story.ts
  packages/carbon-web-components/src/components/slug/slug-example.stories.ts
  packages/carbon-web-components/src/components/slug/slug-form-story.ts
  packages/carbon-web-components/src/components/slug/slug-form.stories.ts
  packages/carbon-web-components/src/components/slug/slug-story.ts
  packages/carbon-web-components/src/components/slug/slug.mdx
  packages/carbon-web-components/src/components/slug/slug.stories.ts
Labels: package: carbon web components, storybook-7

#11415 chore(merge): merge `release-cwc/v2.1.2` into `main`
  packages/carbon-web-components/package.json
  packages/carbon-web-components/src/components/data-table/_table-core.scss
  packages/carbon-web-components/src/components/data-table/_table-selection.scss
  packages/carbon-web-components/src/components/date-picker/range-plugin.ts
  packages/carbon-web-components/src/components/slider/slider.scss
  packages/carbon-web-components/src/components/slug/slug-story.scss
  packages/carbon-web-components/tests/snapshots/cds-checkbox.md
Labels: package: carbon web components

#11395 feat(toggle/toggletip): cwc controls
  packages/carbon-web-components/.storybook/main.ts
  packages/carbon-web-components/examples/stackblitz/basic/components/toggletip/.babelrc
  packages/carbon-web-components/examples/stackblitz/basic/components/toggletip/.gitignore
  packages/carbon-web-components/examples/stackblitz/basic/components/toggletip/.sassrc
  packages/carbon-web-components/examples/stackblitz/basic/components/toggletip/cdn.html
  packages/carbon-web-components/examples/stackblitz/basic/components/toggletip/index.html
  packages/carbon-web-components/examples/stackblitz/basic/components/toggletip/package.json
  packages/carbon-web-components/examples/stackblitz/basic/components/toggletip/sandbox.config.json
  packages/carbon-web-components/examples/stackblitz/basic/components/toggletip/src/index.js
  packages/carbon-web-components/examples/stackblitz/basic/components/toggletip/src/styles.scss
  packages/carbon-web-components/src/components/combo-box/combo-box.stories.ts
  packages/carbon-web-components/src/components/dropdown/dropdown.stories.ts
  packages/carbon-web-components/src/components/layer/layer.stories.ts
  packages/carbon-web-components/src/components/toggle-tip/toggletip-story.mdx
  packages/carbon-web-components/src/components/toggle-tip/toggletip-story.ts
  packages/carbon-web-components/src/components/toggle-tip/toggletip.mdx
  packages/carbon-web-components/src/components/toggle-tip/toggletip.scss
  packages/carbon-web-components/src/components/toggle-tip/toggletip.stories.ts
  packages/carbon-web-components/src/components/toggle/toggle-story.ts
  packages/carbon-web-components/src/components/toggle/toggle.mdx
  packages/carbon-web-components/src/components/toggle/toggle.stories.ts
  packages/carbon-web-components/tests/spec/toggle_spec.ts
Labels: package: carbon web components, storybook-7

#11401 feat(pagination): update story to Storybook v7
  packages/carbon-web-components/.storybook/main.ts
  packages/carbon-web-components/src/components/pagination/pagination-story.ts
  packages/carbon-web-components/src/components/pagination/pagination.mdx
  packages/carbon-web-components/src/components/pagination/pagination.stories.ts
  packages/carbon-web-components/src/components/pagination/pagination.ts
Labels: package: carbon web components, storybook-7

#11361 chore(radio-button): update radio-button stories to sb v7
  packages/carbon-web-components/.storybook/main.ts
  packages/carbon-web-components/src/components/radio-button/radio-button-story.ts
  packages/carbon-web-components/src/components/radio-button/radio-button.mdx
  packages/carbon-web-components/src/components/radio-button/radio-button.stories.ts
Labels: package: carbon web components, storybook-7

#11404 [Locale API]: Adjust fallback layer logic
  packages/services/src/services/Locale/Locale.js
  packages/services/src/services/Locale/__tests__/Locale.test.js
  packages/services/src/services/Locale/__tests__/data/countries_response.json
  packages/services/src/services/Locale/__tests__/data/ddo_response.json
  packages/services/src/services/SearchTypeahead/__tests__/SearchTypeahead.test.js
  packages/services/src/services/global/__tests__/global.test.js
Labels: Feature request, package: services, Ready to merge, adopter: AEM, owner: Innovation Team, test: CDN preview

#11402 fix(number-input): fix incorrect controls border for readonly mode
  packages/carbon-web-components/src/components/number-input/number-input.scss
Labels: Ready to merge

#11214 fix(select): selected item is not showing for ios/ipados
  packages/carbon-web-components/src/components/select/select.ts
Labels: Ready to merge, package: carbon web components, owner: Innovation Team, :eyes: eyes needed

#11309 chore(jest): update karma config
  packages/web-components/tests/karma.conf.js
  packages/web-components/tests/snapshots/c4d-leadspace-block.md
  packages/web-components/tests/snapshots/c4d-leadspace.md
  packages/web-components/tests/snapshots/c4d-link-list.md
  packages/web-components/tests/snapshots/c4d-locale-modal-composite.md
Labels: Ready to merge, dependencies

#11417 chore(package): remove openssl-legacy flag from package.json
  packages/carbon-web-components/package.json
  packages/web-components/package.json
Labels: Ready to merge, dependencies

#11419 deps(babel): update `@babel-traverse` to latest
  .yarn/cache/@babel-code-frame-npm-7.23.5-cb10d08de6-44e58529c9.zip
  .yarn/cache/@babel-generator-npm-7.23.0-08841c5369-bd1598bd35.zip
  .yarn/cache/@babel-generator-npm-7.23.6-817ef5e591-864090d512.zip
  .yarn/cache/@babel-highlight-npm-7.23.4-2a9f2d2538-62fef9b5bc.zip
  .yarn/cache/@babel-parser-npm-7.23.6-2fad283d6e-6be3a63d3c.zip
  .yarn/cache/@babel-traverse-npm-7.23.2-4758feee42-e4fcb8f839.zip
  .yarn/cache/@babel-traverse-npm-7.23.7-6251d782ea-3215e59429.zip
  packages/carbon-web-components/package.json
  packages/web-components/package.json
  yarn.lock
Labels: Ready to merge, dependencies

#11430 fix(progress-indicator): label attribute not showing when there is when there is white space before closing tag
  packages/carbon-web-components/src/components/progress-indicator/progress-step.ts
  packages/carbon-web-components/tests/snapshots/cds-checkbox.md
  packages/carbon-web-components/tests/snapshots/cds-progress-step.md
Labels: Ready to merge, package: carbon web components

#11433 chore(deps): remove duplicate build storybook from percy command
  .github/workflows/percy-update-base.yml
  packages/carbon-web-components/package.json
  packages/web-components/package.json
Labels: Ready to merge

#11434 feat(skeleton-icon): new cwc component
  packages/carbon-web-components/README.md
  packages/carbon-web-components/examples/codesandbox/basic/components/skeleton-icon/.babelrc
  packages/carbon-web-components/examples/codesandbox/basic/components/skeleton-icon/.gitignore
  packages/carbon-web-components/examples/codesandbox/basic/components/skeleton-icon/.sassrc
  packages/carbon-web-components/examples/codesandbox/basic/components/skeleton-icon/cdn.html
  packages/carbon-web-components/examples/codesandbox/basic/components/skeleton-icon/index.html
  packages/carbon-web-components/examples/codesandbox/basic/components/skeleton-icon/package.json
  packages/carbon-web-components/examples/codesandbox/basic/components/skeleton-icon/sandbox.config.json
  packages/carbon-web-components/examples/codesandbox/basic/components/skeleton-icon/src/index.js
  packages/carbon-web-components/examples/codesandbox/basic/components/skeleton-icon/src/styles.scss
  packages/carbon-web-components/src/components/skeleton-icon/docs/overview.mdx
  packages/carbon-web-components/src/components/skeleton-icon/index.ts
  packages/carbon-web-components/src/components/skeleton-icon/skeleton-icon-story.mdx
  packages/carbon-web-components/src/components/skeleton-icon/skeleton-icon-story.ts
  packages/carbon-web-components/src/components/skeleton-icon/skeleton-icon.scss
  packages/carbon-web-components/src/components/skeleton-icon/skeleton-icon.ts
  packages/carbon-web-components/src/index.ts
Labels: Ready to merge, package: carbon web components, v2

#11439 Fix(checkbox): a11y issue v1
  packages/carbon-web-components/src/components/checkbox/checkbox.ts
Labels: accessibility, Ready to merge, package: carbon web components, v1

#11432 fix(masthead): change container position to relative
  packages/web-components/src/components/masthead/masthead-composite.ts
Labels: package: web components, Ready to merge

#11431 fix(masthead): change container position to relative
  packages/web-components/src/components/masthead/masthead-composite.ts
Labels: package: web components, Ready to merge

#11441 chore(percy): skip components with autoplay video
  packages/web-components/src/components/background-media/__stories__/background-media.stories.ts
  packages/web-components/src/components/leadspace/__stories__/leadspace.stories.ts
Labels: package: web components, Ready to merge

#11446 Fix/a11y on pagination issue
  packages/carbon-web-components/src/components/pagination/pages-select.ts
Labels: dev, accessibility, Ready to merge, package: carbon web components

#11418 [Locale API]: Adjust fallback layer logic v1
  packages/services/src/services/Locale/Locale.js
  packages/services/src/services/Locale/__tests__/Locale.test.js
  packages/services/src/services/Locale/__tests__/data/countries_response.json
  packages/services/src/services/Locale/__tests__/data/ddo_response.json
  packages/services/src/services/SearchTypeahead/__tests__/SearchTypeahead.test.js
  packages/services/src/services/global/__tests__/global.test.js
  packages/web-components/src/components/search-with-typeahead/__tests__/search-with-typeahead.test.ts
Labels: Feature request, package: services, Ready to merge, adopter: AEM, owner: Innovation Team, test: CDN preview, v1

#11412 feat(lightbox): detect URL fragment to trigger the lightbox to open
  packages/web-components/src/component-mixins/cta/video.ts
Labels: Feature request, package: web components, Ready to merge, owner: AEM, owner: Innovation Team, v1

#11447 fix(tabs-extended): tabs extended not rendering when in 1056 breakpoint
  packages/web-components/src/components/tabs-extended-media/tabs-extended-media.ts
  packages/web-components/src/components/tabs-extended/tab.ts
  packages/web-components/src/components/tabs-extended/tabs-extended.ts
Labels: bug, dev, package: web components, Ready to merge, v1

#11407 [carbon-web-components]: popover Storybook 7 update
  packages/carbon-web-components/.storybook/main.ts
  packages/carbon-web-components/src/components/popover/popover-story.ts
  packages/carbon-web-components/src/components/popover/popover.mdx
  packages/carbon-web-components/src/components/popover/popover.stories.ts
Labels: package: carbon web components, storybook-7

#11409 fix(footer v1):v1 title was not showing in 672 breakpoint
  packages/styles/scss/components/footer/_footer-nav.scss
  packages/web-components/src/components/footer/__tests__/footer-nav-group.test.ts
  packages/web-components/src/components/footer/footer-nav-group.ts
  packages/web-components/tests/snapshots/dds-footer-nav-group.md
Labels: package: web components, Ready to merge

#11450 fix(video player): thumbnail and play button issue
  packages/styles/scss/components/video-player/_video-player.scss
Labels: dev, package: web components, Ready to merge

#11199 fix(stackblitz): fix and standardize masthead examples for v2
  packages/carbon-web-components/src/components/date-picker/append-to-plugin.ts
  packages/carbon-web-components/src/components/date-picker/month-select-plugin.ts
  packages/carbon-web-components/src/components/radio-button/radio-button.ts
  packages/carbon-web-components/src/polyfills/element-closest.ts
  packages/services-store/src/actions/__tests__/translateAPI.test.ts
  packages/services-store/src/reducers/__tests__/translateAPI.test.ts
  packages/services-store/tests/utils/search-params.ts
  packages/services/src/services/KalturaPlayer/KalturaPlayer.js
  packages/services/src/services/MastheadLogo/MastheadLogo.js
  packages/storybook-addon-theme/src/components/Panel.js
  packages/styles/scss/components/background-media/_background-media.scss
  packages/styles/scss/components/masthead/_masthead-l1.scss
  packages/styles/scss/components/masthead/_masthead-megamenu.scss
  packages/styles/scss/components/video-player/_video-player.scss
  packages/utilities/src/utilities/calculateTotalWidth/calculateTotalWidth.js
  packages/web-components/examples/stackblitz/components/masthead-l1/cdn-rtl.html
  packages/web-components/examples/stackblitz/components/masthead-l1/cdn.html
  packages/web-components/examples/stackblitz/components/masthead-l1/index.html
  packages/web-components/examples/stackblitz/components/masthead-l1/package.json
  packages/web-components/examples/stackblitz/components/masthead-l1/src/ddo.js
  packages/web-components/examples/stackblitz/components/masthead-l1/src/index-cdn.js
  packages/web-components/examples/stackblitz/components/masthead-l1/src/index.js
  packages/web-components/examples/stackblitz/components/masthead/cdn-rtl.html
  packages/web-components/examples/stackblitz/components/masthead/cdn.html
  packages/web-components/examples/stackblitz/components/masthead/index.html
  packages/web-components/examples/stackblitz/components/masthead/package.json
  packages/web-components/examples/stackblitz/components/masthead/src/index.js
  packages/web-components/src/components/masthead/__stories__/links.ts
  packages/web-components/src/components/masthead/__stories__/scoped-search-masthead.stories.ts
  packages/web-components/src/components/masthead/defs.ts
  packages/web-components/src/components/masthead/megamenu-category-link-group.ts
  packages/web-components/src/components/video-player/video-player-container.ts
  packages/web-components/src/globals/internal/feature-flags.ts
Labels: package: web components, Ready to merge, :eyes: eyes needed, v2

#11442 feat(icon skeleton): storybook update
  packages/carbon-web-components/.storybook/main.ts
  packages/carbon-web-components/README.md
  packages/carbon-web-components/examples/codesandbox/basic/components/skeleton-icon/.babelrc
  packages/carbon-web-components/examples/codesandbox/basic/components/skeleton-icon/.gitignore
  packages/carbon-web-components/examples/codesandbox/basic/components/skeleton-icon/.sassrc
  packages/carbon-web-components/examples/codesandbox/basic/components/skeleton-icon/cdn.html
  packages/carbon-web-components/examples/codesandbox/basic/components/skeleton-icon/index.html
  packages/carbon-web-components/examples/codesandbox/basic/components/skeleton-icon/package.json
  packages/carbon-web-components/examples/codesandbox/basic/components/skeleton-icon/sandbox.config.json
  packages/carbon-web-components/examples/codesandbox/basic/components/skeleton-icon/src/index.js
  packages/carbon-web-components/examples/codesandbox/basic/components/skeleton-icon/src/styles.scss
  packages/carbon-web-components/src/components/button/button.mdx
  packages/carbon-web-components/src/components/data-table/stories/data-table.mdx
  packages/carbon-web-components/src/components/list/list.mdx
  packages/carbon-web-components/src/components/notification/notification.mdx
  packages/carbon-web-components/src/components/skeleton-icon/docs/overview.mdx
  packages/carbon-web-components/src/components/skeleton-icon/index.ts
  packages/carbon-web-components/src/components/skeleton-icon/skeleton-icon.mdx
  packages/carbon-web-components/src/components/skeleton-icon/skeleton-icon.scss
  packages/carbon-web-components/src/components/skeleton-icon/skeleton-icon.stories.ts
  packages/carbon-web-components/src/components/skeleton-icon/skeleton-icon.ts
  packages/carbon-web-components/src/components/structured-list/structured-list.mdx
  packages/carbon-web-components/src/components/tabs/tabs.mdx
  packages/carbon-web-components/src/components/text-input/text-input.mdx
  packages/carbon-web-components/src/components/textarea/textarea.mdx
  packages/carbon-web-components/src/components/toggle-tip/toggletip.mdx
  packages/carbon-web-components/src/components/toggle/toggle.mdx
  packages/carbon-web-components/src/components/tooltip/tooltip.mdx
  packages/carbon-web-components/src/components/ui-shell/ui-shell.mdx
  packages/carbon-web-components/src/index.ts
Labels: package: carbon web components, storybook-7

#11438 fix(data table): filter issue in expansion table
  packages/carbon-web-components/src/components/data-table/table.ts
Labels: dev, Ready to merge, package: carbon web components

#11396 fix(footer): title not showing in 672 breakpoint specifically
  packages/web-components/src/components/footer/__tests__/footer-nav-group.test.ts
  packages/web-components/src/components/footer/footer-nav-group.ts
  packages/web-components/tests/snapshots/c4d-footer-nav-group.md
Labels: package: web components, Ready to merge, owner: Innovation Team, :eyes: eyes needed

#11448 fix(overflow-menu): position jumping
  packages/carbon-web-components/src/components/floating-menu/floating-menu.ts
Labels: Ready to merge, package: carbon web components

#11471 chore(rollup): minify html template literals (v1)
  .yarn/cache/@types-clean-css-npm-4.2.11-2b47418843-385337a881.zip
  .yarn/cache/@types-html-minifier-npm-3.5.3-48bb59db10-bad3bece7e.zip
  .yarn/cache/@types-relateurl-npm-0.2.33-e8ef0a6da2-a4b7876cc2.zip
  .yarn/cache/html-minifier-npm-4.0.0-2c414aaddf-a1a49ee78a.zip
  .yarn/cache/minify-html-literals-npm-1.3.5-2818068cad-9f5b50055e.zip
  .yarn/cache/parse-literals-npm-1.2.1-2c41c00bff-8f1ad2ed47.zip
  .yarn/cache/rollup-plugin-minify-html-literals-npm-1.2.6-fbf338ecb6-07b9f321dc.zip
  packages/carbon-web-components/gulp-tasks/build/modules/scripts.js
  packages/carbon-web-components/package.json
  packages/carbon-web-components/tools/get-rollup-config.js
  packages/web-components/package.json
  packages/web-components/src/components/table-of-contents/table-of-contents.ts
  packages/web-components/tests/snapshots/dds-table-of-contents.md
  packages/web-components/tools/get-rollup-config.js
  yarn.lock
Labels: package: web components, Ready to merge, package: carbon web components, owner: Innovation Team, test: CDN preview
