Repository carbon-design-system/carbon-for-ibm-dotcom, pull requests merged in 2024-08, with the labels that each got.

#11964 fix(styles): remove all use of carbon--mini-units
  packages/styles/scss/components/card-group/_card-group.scss
  packages/styles/scss/components/card-in-card/_card-in-card.scss
  packages/styles/scss/components/card/_card.scss
  packages/styles/scss/components/content-block-mixed/_content-block-mixed.scss
  packages/styles/scss/components/cta-block/_cta-block.scss
  packages/styles/scss/components/cta-section/_cta-section.scss
  packages/styles/scss/components/feature-card/_feature-card.scss
  packages/styles/scss/components/footer/_language-selector.scss
  packages/styles/scss/components/image/_image.scss
  packages/styles/scss/components/leadspace-block/_leadspace-block.scss
  packages/styles/scss/components/search-with-typeahead/_search-with-typeahead.scss
  packages/styles/scss/globals/utils/_content-width.scss
  packages/styles/scss/patterns/blocks/callout-data/_callout-data.scss
  packages/styles/scss/patterns/blocks/leadspace-block/_leadspace-block.scss
  packages/styles/scss/patterns/sections/cta-section/_cta-section.scss
  packages/styles/scss/patterns/sections/leadspace/_leadspace.scss
Labels: bug, dev, package: styles, Ready to merge, test: CDN preview

#11957 fix(feature-card): remove redundant import
  packages/styles/scss/components/feature-card/_feature-card.scss
Labels: package: styles, Ready to merge, test: CDN preview

#11967 fix(tabs-extended): adjustments to force Safari to soft hyphenate better for tab names
  packages/styles/scss/components/tabs-extended/_tabs-extended.scss
  packages/web-components/src/components/tabs-extended/__stories__/tabs-extended.stories.ts
  packages/web-components/tests/snapshots/dds-table-of-contents.md
Labels: bug, severity 3, dev, Ready to merge, adopter: AEM, owner: Innovation Team, test: CDN preview, v1

#11976 fix(tabs): avoid setting focus/active to -1
  packages/web-components/src/components/tabs-extended/tabs-extended.ts
Labels: severity 2, package: web components, Ready to merge, adopter: AEM, owner: Innovation Team, test: CDN preview, v1

#11974 fix(masthead): add-l1-link-target
  packages/web-components/src/components/masthead/__stories__/links.ts
  packages/web-components/src/components/masthead/masthead-l1.ts
Labels: package: web components, Ready to merge

#11955 fix(tabs-extended): fix bad import in the tabs-extended component styles
  packages/styles/scss/components/tabs-extended/_tabs-extended.scss
Labels: bug, dev, package: styles, Ready to merge, test: CDN preview

#11983 chore(docs): remove reference to deprecated react package
  README.md
Labels: documentation, Ready to merge

#11978 fix(content-group-heading): render h3 tag to light DOM
  packages/web-components/src/components/content-group/__stories__/content-group.stories.ts
  packages/web-components/src/components/content-group/content-group-heading.ts
  packages/web-components/src/components/content-group/content-group.scss
Labels: bug, severity 3, Ready to merge, owner: Innovation Team, test: CDN preview, v1

#11989 fix(accordion): apply carbon element decorator for accordion skeleton
  packages/carbon-web-components/examples/codesandbox/basic/components/dropdown/cdn.html
  packages/carbon-web-components/examples/codesandbox/basic/components/dropdown/index.html
  packages/carbon-web-components/src/components/accordion/accordion-skeleton.ts
  packages/carbon-web-components/src/components/pagination/index.ts
Labels: Ready to merge, package: carbon web components

#11992 fix(image): fix aspect ratio not changing
  packages/styles/scss/components/image/_image.scss
Labels: package: web components, Ready to merge
