Repository carbon-design-system/carbon-for-ibm-dotcom, pull requests merged in 2024-03, with the labels that each got.

#11602 fix(content-switcher): get current content-switcher-item on icon click
  packages/carbon-web-components/src/components/content-switcher/content-switcher.ts
Labels: Ready to merge, package: carbon web components

#11610 fix(webpack-rtl): pin dependencies to v1 for webpack-rtl example
  packages/web-components/docs/enable-rtl.md
  packages/web-components/examples/codesandbox/usage/webpack-rtl/package.json
Labels: Ready to merge

#11286 feat(cypress): adding more tests to the pricing table cells
  packages/web-components/tests/e2e-storybook/cypress/integration/pricing-table/_tests.js
Labels: package: web components, Ready to merge, owner: Innovation Team, v1

#11590 fix(toc): adjust mobile selector to condition on layout
  packages/utilities/src/utilities/StickyHeader/StickyHeader.js
Labels: bug, dev, package: web components, Ready to merge, owner: Innovation Team, v1

#11608 fix: a11y - ensure side panel closes properly with reduced motion
  packages/carbon-web-components/src/components/side-panel/side-panel.ts
Labels: Ready to merge, package: carbon web components

#11597 feat(masthead): support all CMaaS CTA types for L1 CTA
  packages/styles/scss/components/masthead/_masthead-l1.scss
  packages/web-components/src/components/masthead/__stories__/README.stories.mdx
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
  packages/web-components/src/components/masthead/__tests__/masthead-composite.test.ts
  packages/web-components/src/components/masthead/defs.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/masthead-l1-cta.ts
  packages/web-components/src/components/masthead/masthead-l1.ts
Labels: package: web components, Ready to merge, adopter: AEM, owner: Innovation Team, Needs design approval, test: CDN preview

#11619 chore(slug): doc update & safari data-table fix
  packages/carbon-web-components/src/components/data-table/_table-core.scss
  packages/carbon-web-components/src/components/data-table/_table-expandable.scss
  packages/carbon-web-components/src/components/data-table/_table-selection.scss
  packages/carbon-web-components/src/components/modal/modal-story.scss
  packages/carbon-web-components/src/components/slug/slug-data-table-story.mdx
  packages/carbon-web-components/src/components/slug/slug-data-table-story.ts
  packages/carbon-web-components/src/components/slug/slug-example-story.mdx
  packages/carbon-web-components/src/components/slug/slug-example-story.ts
  packages/carbon-web-components/src/components/slug/slug-form-story.ts
  packages/carbon-web-components/src/components/slug/slug-story.mdx
Labels: Ready to merge, package: carbon web components, area: AI

#11622 chore(masthead-v2): get latest from alpha dev into alpha release
  packages/styles/scss/components/masthead/_masthead-l1.scss
  packages/styles/scss/components/masthead/_masthead-megamenu.scss
  packages/web-components/src/components/masthead/__stories__/README.stories.mdx
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
  packages/web-components/src/components/masthead/defs.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/masthead-l1-cta.ts
  packages/web-components/src/components/masthead/masthead-l1.ts
Labels: adopter: AEM, owner: Innovation Team, Masthead L0/L1 v2

#11584 chore(actions): node script to post release notifications for PRs
  .github/workflows/release-notifications.yml
  tasks/release-notifications.js
Labels: communications, Ready to merge

#11640 chore(cdn): add CSS grid CDN urls
  packages/carbon-web-components/docs/carbon-cdn-style-helpers.md
Labels: Ready to merge

#11655 fix(tabs-extended): update authoring structure in stackblitz
  packages/web-components/examples/stackblitz/components/tabs-extended/.sassrc
  packages/web-components/examples/stackblitz/components/tabs-extended/cdn.html
  packages/web-components/examples/stackblitz/components/tabs-extended/index.html
  packages/web-components/examples/stackblitz/components/tabs-extended/package.json
  packages/web-components/examples/stackblitz/components/tabs-extended/src/styles.scss
Labels: documentation, package: web components, Ready to merge

#11595 fix(tabs-extended): confusing behavior when in mobile the accordion c…
  packages/web-components/src/components/tabs-extended/tab.ts
  packages/web-components/src/components/tabs-extended/tabs-extended.ts
Labels: package: web components, Ready to merge, v1

#11629 fix(card-group):change tagGroupHeight target Element
  packages/web-components/src/components/card-group/card-group.ts
Labels: package: web components, Ready to merge, Needs design approval, test: CDN preview, v1

#11639 fix(combobox): fix import path for some bundlers
  packages/carbon-web-components/src/components/combo-box/combo-box.ts
Labels: bug, dev, Ready to merge, package: carbon web components

#11638 fix(button): style import
  packages/styles/scss/components/button/_button.scss
  packages/styles/scss/components/expressive-modal/_expressive-modal.scss
Labels: package: styles, Ready to merge

#11657 fix(table-of-contents): react wrapper - update horizontal variation attribute name in
  packages/styles/scss/components/tableofcontents/_table-of-contents.scss
  packages/web-components/src/components/table-of-contents/__stories__/README.stories.react.mdx
  packages/web-components/src/components/table-of-contents/__stories__/table-of-contents.stories.react.tsx
Labels: dev, package: web components, Ready to merge

#11659 fix(button-group): extend button icon styles for button-group-item
  packages/styles/scss/components/button-group/_button-group.scss
  packages/web-components/src/components/cta-block/__stories__/cta-block.stories.ts
  packages/web-components/src/components/cta-block/index.ts
Labels: package: web components, Ready to merge

#11660 chore: onboard remaining v1 packages to IBM Telemetry 🚀
  .yarn/cache/@ibm-telemetry-js-npm-1.3.0-0a915b33ab-5581511e54.zip
  packages/carbon-web-components/README.md
  packages/carbon-web-components/package.json
  packages/carbon-web-components/telemetry.yml
  packages/services/README.md
  packages/services/package.json
  packages/services/telemetry.yml
  packages/styles/README.md
  packages/styles/package.json
  packages/styles/telemetry.yml
  packages/utilities/README.md
  packages/utilities/package.json
  packages/utilities/telemetry.yml
  packages/web-components/README.md
  packages/web-components/package.json
  packages/web-components/telemetry.yml
  yarn.lock
Labels: Ready to merge

#11661 chore: onboard remaining v2 packages to IBM Telemetry 🚀
  .yarn/cache/@ibm-telemetry-js-npm-1.3.0-0a915b33ab-5581511e54.zip
  packages/services/README.md
  packages/services/package.json
  packages/services/telemetry.yml
  packages/styles/README.md
  packages/styles/package.json
  packages/styles/telemetry.yml
  packages/utilities/README.md
  packages/utilities/package.json
  packages/utilities/telemetry.yml
  packages/web-components/README.md
  packages/web-components/package.json
  packages/web-components/telemetry.yml
  yarn.lock
Labels: Ready to merge

#11672 docs(card): update image default-src attribute
  packages/web-components/src/components/card/__stories__/README.stories.react.mdx
Labels: package: web components, Ready to merge

#11675 chore(release): resolve merge conflicts from release/v2.6.0 branch
  packages/carbon-web-components/CHANGELOG.md
  packages/carbon-web-components/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  yarn.lock
Labels: Ready to merge
