Repository carbon-design-system/carbon-for-ibm-dotcom, pull requests merged in 2024-04, with the labels that each got.

#11680 chore(cdn): add CSS grid CDN urls (carbon for ibm.com)
  packages/web-components/docs/carbon-cdn-style-helpers.md
Labels: Ready to merge

#11668 feat(search-with-typeahead/masthead): support initial search term
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/search-with-typeahead/__stories__/README.stories.mdx
  packages/web-components/src/components/search-with-typeahead/__stories__/search-with-typeahead.stories.ts
  packages/web-components/src/components/search-with-typeahead/search-with-typeahead.ts
  packages/web-components/tests/e2e-storybook/cypress/integration/masthead/masthead-default.e2e.js
Labels: package: web components, Ready to merge, owner: Innovation Team, :eyes: eyes needed, test: CDN preview, v2

#11686 chore(masthead-tests): updating/fixing masthead cypress tests
  packages/web-components/tests/e2e-storybook/cypress/integration/masthead/masthead-authenticated.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/masthead/masthead-custom-search.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/masthead/masthead-default.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/masthead/masthead-l1.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/masthead/masthead-platform.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/masthead/masthead-scoped-search.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/masthead/masthead-search-onload.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/masthead/masthead.e2e.js
Labels: Ready to merge, owner: Innovation Team, :eyes: eyes needed

#11658 fix(content-block): add story and fix issues
  packages/styles/scss/components/leadspace-block/_leadspace-block.scss
  packages/styles/scss/components/link-list/_link-list.scss
  packages/styles/scss/internal/content-block/_content-block.scss
  packages/styles/scss/internal/content-group/_content-group.scss
  packages/styles/scss/internal/content-item/_content-item.scss
  packages/web-components/src/components/content-block/__stories__/README.stories.mdx
  packages/web-components/src/components/content-block/__stories__/content-block.stories.ts
  packages/web-components/src/components/content-block/__stories__/data/content.js
  packages/web-components/src/components/content-block/content-block.scss
  packages/web-components/src/components/content-block/content-block.ts
  packages/web-components/src/components/content-block/index.ts
  packages/web-components/src/components/cta-block/cta-block.scss
Labels: Ready to merge

#11623 fix(pricing-table): increasing annotation toggle touch area
  packages/styles/scss/components/pricing-table/_pricing-table.scss
Labels: package: styles, Ready to merge, owner: Innovation Team

#11581 fix(pricing-table-annotation-toggle): increased the size of the annot…
  packages/styles/scss/components/pricing-table/_pricing-table.scss
  packages/web-components/src/components/pricing-table/pricing-table-annotation-toggle.ts
Labels: package: styles, Ready to merge, adopter: AEM, owner: Innovation Team, :eyes: eyes needed

#11708 chore(dependency): bump axios package
  .yarn/cache/axios-npm-1.6.8-85cf1e7152-3f9a79eaf1.zip
  packages/services/package.json
  packages/utilities/package.json
  yarn.lock
Labels: Ready to merge

#11716 feat(slug): ai slug updates
  .yarn/cache/@carbon-feature-flags-npm-0.18.0-a39c189e14-66201ba5a5.zip
  .yarn/cache/@carbon-styles-npm-1.53.0-32e9b8c543-b13e02fd2d.zip
  .yarn/cache/@carbon-themes-npm-11.33.0-adcf3f2da4-6ec00956c0.zip
  packages/carbon-web-components/examples/codesandbox/basic/components/slug/cdn.html
  packages/carbon-web-components/examples/codesandbox/basic/components/slug/index.html
  packages/carbon-web-components/package.json
  packages/carbon-web-components/src/components/modal/modal.scss
  packages/carbon-web-components/src/components/popover/autoalign-story.ts
  packages/carbon-web-components/src/components/popover/popover.scss
  packages/carbon-web-components/src/components/slug/defs.ts
  packages/carbon-web-components/src/components/slug/slug-story.mdx
  packages/carbon-web-components/src/components/slug/slug-story.ts
  packages/carbon-web-components/src/components/slug/slug.scss
  packages/carbon-web-components/src/components/slug/slug.ts
  packages/carbon-web-components/src/components/tearsheet/tearsheet.scss
  packages/carbon-web-components/src/components/tile/clickable-tile.ts
  packages/carbon-web-components/src/components/tile/tile.scss
  packages/styles/package.json
  packages/web-components/package.json
  yarn.lock
Labels: Ready to merge, package: carbon web components, area: AI

#11726 feat(slug): remove no longer needed dot-type prop
  packages/carbon-web-components/src/components/popover/autoalign-story.ts
  packages/carbon-web-components/src/components/slug/slug-story.ts
Labels: Ready to merge, package: carbon web components

#11719 chore(carbon-element): use carbon element decorator
  packages/carbon-web-components/src/components/accordion/accordion-item-skeleton.ts
  packages/carbon-web-components/src/components/breadcrumb/breadcrumb-skeleton.ts
  packages/carbon-web-components/src/components/button/button-set-base.ts
  packages/carbon-web-components/src/components/button/button-set.ts
  packages/carbon-web-components/src/components/checkbox/checkbox-skeleton.ts
  packages/carbon-web-components/src/components/data-table/table-cell-content.ts
  packages/carbon-web-components/src/components/data-table/table-header-description.ts
  packages/carbon-web-components/src/components/data-table/table-header-title.ts
  packages/carbon-web-components/src/components/file-uploader/file-uploader-skeleton.ts
  packages/carbon-web-components/src/components/modal/modal-body-content.ts
  packages/carbon-web-components/src/components/notification/actionable-notification-button.ts
  packages/carbon-web-components/src/components/tooltip/tooltip-content.ts
  packages/carbon-web-components/src/components/ui-shell/switcher-divider.ts
Labels: Ready to merge

#11697 feat(pagination-nav): add component
  packages/carbon-web-components/src/components/pagination-nav/docs/overview.mdx
  packages/carbon-web-components/src/components/pagination-nav/index.ts
  packages/carbon-web-components/src/components/pagination-nav/pagination-nav-story.mdx
  packages/carbon-web-components/src/components/pagination-nav/pagination-nav-story.ts
  packages/carbon-web-components/src/components/pagination-nav/pagination-nav.scss
  packages/carbon-web-components/src/components/pagination-nav/pagination-nav.ts
Labels: Ready to merge, package: carbon web components, adopter: AEM, owner: Innovation Team, v1

#11696 fix(leadspace): be explicit about svg closing tags
  packages/web-components/src/components/leadspace/leadspace.ts
Labels: bug, RTL, package: web components, Ready to merge, adopter: AEM, owner: Innovation Team, test: CDN preview, v1

#11741 chore(dependency): bump axios package
  .yarn/cache/axios-npm-1.6.8-85cf1e7152-3f9a79eaf1.zip
  .yarn/cache/follow-redirects-npm-1.15.6-50635fe51d-70c7612c4c.zip
  packages/services/package.json
  packages/utilities/package.json
  yarn.lock
Labels: Ready to merge, v1

#11747 feat: instrument with telemetry JS scope
  packages/carbon-web-components/package.json
  packages/services/package.json
  packages/services/telemetry.yml
  packages/styles/package.json
  packages/utilities/package.json
  packages/utilities/telemetry.yml
  packages/web-components/package.json
  packages/web-components/telemetry.yml
  yarn.lock
Labels: Ready to merge
